[2017-03-02 21:58] bowlofeggs opened #1319 "It should be possible to set required tests with the cli"
When creating or editing an update with the web interface, it is possible to set required tests. For example, you can type ```dist.depcheck``` and Bodhi will make sure that taskotron test passed for the update. The CLI doesn't provide a way to specify this, we should add it.

[2017-03-03 15:45] bowlofeggs opened #1320 "The docs on readthedocs are missing the Python bindings"
Our RTD page is missing the Python bindings:

http://bodhi.readthedocs.io/en/latest/python_bindings.html

Very likely this is due to our ```docs/conf.py``` file not injecting the root of our repo into sys.path.

[2017-03-03 15:53] bowlofeggs opened #1321 "Document the documentation"
We should put links to the documentation in the following places:

* The README
* The footer
* The man page

The docs will be hosted at https://bodhi.fedoraproject.org/docs soon, so we should use that URL.

[2017-03-03 15:57] bowlofeggs opened #1322 "The main page of the documentation needs text describing what Bodhi is"
We need to add text to the ```docs/index.rst``` file describing what Bodhi is. It would also be helpful if it linked to some things:

* The PyPI page
* The Bodhi deployment (maybe even the staging deployment?)
* Where to report issues

[2017-03-03 16:10] bowlofeggs opened #1323 "Document the REST API"
We need to document the REST API. The API had been automatically documented at some point in the past, but that stopped working and was removed (so that the docs could be built):

https://github.com/fedora-infra/bodhi/commit/b3f80b1b27e4b7ff2913d77fbae8bfb352d73e2e

We should either figure out how to get Cornice working again, find another automatic solution for documenting the REST API, or at lea

[2017-03-03 16:55] bowlofeggs commented on #653
Thanks @AdamWill, I added those to the list above. I am planning to break the above list into separate tickets, and we can just use this one as an overview.

I'm debating whether to try to maintain backwards compatibility or just make everything always require the type to be specified (and name the version Bodhi 3 to reflect the breaking change). Explicit is better than implicit ☺

[2017-03-03 17:12] bowlofeggs opened #1324 "AddModuleModels"
In order to support modules, we need to add new database models. Before we can do this, we need to modify Bodhi's existing models to be multi-type friendly. Thus, the following modules must be converted before this issue can be worked on:

- [x] Package - #1392
- [x] Build - #1393
- [x] Update - #1394
- [x] BuildrootOverride - #1395

Each of these models will need to be reworked to handle multiple

[2017-03-03 17:27] bowlofeggs opened #1325 "Modify the REST API to handle multiple content types"
We need to modify the REST API so that it can handle multiple content types. It may be possible to do this in a backwards compatible way, but we can also name the next release Bodhi 3.0 if we need to make backwards-incompatible changes.

[2017-03-03 19:39] bowlofeggs opened #1326 "Modify the fedmsgs to handle multiple content types"
We need to redesign our fedmsgs so they can handle multiple content types.

[2017-03-03 19:47] bowlofeggs opened #1327 "Modify the Python bindings to work with the new multi-type REST API"
We need to modify the Python bindings so they work with the new REST API that will results from #1325.

[2017-03-03 20:15] bowlofeggs opened #1328 "Modify the CLI to work with multiple content types"
We will need to modify the CLI to handle multiple content types, once #1327 is done.

[2017-03-03 20:30] bowlofeggs opened #1329 "Modify the Web UI to handle multiple content types"
We will need to alter the web interface to handle multiple content types.

[2017-03-03 20:33] bowlofeggs opened #1330 "Modify the masher to handle modules"
We will need to modify the masher to work with multiple content types, starting with modules.

[2017-03-04 20:26] puiterwijk opened #1331 "Looks like big updates might get updated might get builds that skip testing"
https://bodhi.fedoraproject.org/updates/FEDORA-2017-c262a33752 has two builds (plasma-workspace-5.8.6-3.fc24 and plasma-desktop-5.8.6-2.fc24) that were never pushed or even scheduled to testing.
It looks like the "time to push" was not reset after the update got edited.

[2017-03-04 22:25] srakitnican commented on #636
No please don't. At least for the short term fix you should make it so that reporter does not get any status notifications. I don't see a single reason why it should. If it should, then it would also make sense to have maintainer rights.

[2017-03-06 12:40] srakitnican opened #1332 "UnicodeEncodeError: 'ascii' codec can't encode character u'\u010d' in position 5: ordinal not in range(128)"
Typing unicode character into search box gives "500 Server Error".

    Traceback (most recent call last): File "/usr/lib/python2.7/site-packages/pyramid_mako/__init__.py", line 148, in __call__ result = template.render_unicode(**system) File "/usr/lib/python2.7/site-packages/mako/template.py", line 452, in render_unicode as_unicode=True) File "/usr/lib/python2.7/site-packages/mako/runtime.py", li

[2017-03-06 15:18] ankit01ojha commented on #1322
@bowlofeggs Is the issue reporting link is https://github.com/projectatomic/rpm-ostree/issues ?
I am working on it, got confused on this one.

[2017-03-06 15:27] ankit01ojha commented on #1322
@bowlofeggs Can you tell me about the staging deployment links?

[2017-03-06 18:59] bowlofeggs commented on #1320
This is still broken, but for a different reason - it's failing to import fedora.client:

https://readthedocs.org/projects/bodhi/builds/5112236/

[2017-03-06 21:36] bowlofeggs commented on #1332
hahah that's great. I can confirm this problem - you can't search for ☺.

[2017-03-06 21:46] bowlofeggs commented on #1322
@ankit01ojha The staging deployment is at https://bodhi.stg.fedoraproject.org

[2017-03-07 17:51] AdamWill commented on #361
Note there's now an additional wrinkle to this: we're now testing updates with openQA, and the openQA results are reported by update ID, not by NVR (i.e. the 'old' way so far as Taskotron is concerned). For openQA this isn't an 'old' or 'wrong' way, it's the right way - openQA really does test at the level of the update - so we're not likely to change it to report results by NVR. So, Bodhi is gonn

[2017-03-07 18:14] bowlofeggs opened #1337 "manage_releases.py needs to be able to set pending-signing-tag"
Now that we have autosigning in place, we need to add ```--pending-signing-tag``` flags to ```manage_releases.py```.

[2017-03-07 19:50] bowlofeggs opened #1338 "bodhi.server.scripts.manage_releases still uses fedora.client.bodhi"
```bodhi.server.scripts.manage_releases``` imports ```fedora.client.bodhi```, but it should be using ```bodhi.client.bindings``` instead.

[2017-03-07 19:52] bowlofeggs opened #1339 "tools/python-fedora-api-test.py uses fedora.client.bodhi"
```tools/python-fedora-api-test.py``` still uses ```fedora.client.bodhi```. It should use ```bodhi.client.bindings``` instead.

[2017-03-07 21:33] #1320 closed, assigned to jeremycline

[2017-03-08 13:31] trishnaguha commented on #1157
How about renaming `Batched state` to `Queued`?

[2017-03-08 16:00] mattdm commented on #1157
I don't know if that's any different. :) Maybe we can get input from a UX designer in Fedora Design?

[2017-03-08 16:04] mattdm commented on #1157
I basically want one button that says:

"This update is ready to be included in the next batch update window."

and another one that says:

"This update is important and urgent and is ready to be sent out as an update now."

but that's a lot of text to put on a button. :)

[2017-03-08 17:10] trishnaguha commented on #1157
We are going to have it anyway. May be as hover or something :).

[2017-03-08 23:37] bowlofeggs commented on #1157
@ryanlerch is currently working on a redesign of Bodhi (in #1313 - it's so good) - perhaps he would have some feedback for wording on this feature?

[2017-03-08 23:41] bowlofeggs commented on #1219
We could use Pungi to accomplish #1182.

[2017-03-09 03:32] ryanlerch commented on #1157
Just a query, how does this currently work? Is there a button to allow a user to push to stable? Or is this the "autopush" option that is in the create / edit update form?

[2017-03-09 03:35] trishnaguha commented on #1157
The button is here https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/templates/update.html#L554-L572

`autopush`/`manual-push` depends on the create/ edit update form.

[2017-03-09 03:42] trishnaguha commented on #1157
@ryanlerch This is the form that decides `autopush`/`manual-push` for an update: https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/templates/new_update.html#L241-L306

[2017-03-09 15:32] cgwalters commented on #1157
For Fedora Atomic Host, we (finally!) switched to a ~two-week cadence for updates.  I'm in full support of the "Fedora RPM set" being on a batched cadence as well.  But it really feels like we should at least try to align those.

Particularly for reasons such as https://github.com/projectatomic/rpm-ostree/issues/415

[2017-03-09 15:58] mattdm commented on #1157
I think it's okay to have this be one week and Fedora Atomic Host spun at two weeks (wave alignment and all that). But maybe the arbitrary choice of "Monday" isn't right — we'd want to make sure that (in most cases at least) the new AH each time includes a relatively fresh batch (not one from 6 days ago).

[2017-03-09 16:29] ankit01ojha commented on #1321
@bowlofeggs Do you mean footer of bodhi.fedoraproject.org ? And link is to be added to all the files inside the man pages?

[2017-03-09 17:36] bowlofeggs commented on #1174
It was suggested by @ausil in #1214 that the updates-testing pushes should be blocked by ostree failures but the updates pushes should not be blocked by them.

[2017-03-09 18:16] ausil commented on #1174
opposite way around, updates-testing should not be blocked on failures but updates should be

[2017-03-09 19:08] #1322 closed, assigned to nobody

[2017-03-09 19:33] #1323 closed, assigned to bowlofeggs

[2017-03-09 22:11] bowlofeggs commented on #1321
@ankit01ojha Yes, and yes. However, I recommend waiting until #1313 is merged because that pull request is reworking the HTML template.

[2017-03-09 22:12] bowlofeggs commented on #1174
@ausil Thanks for the clarification, and that makes sense to me.

[2017-03-09 22:20] bowlofeggs commented on #1157
@cgwalters @mattdm The vision I had for this feature is that the ```bodhi-push``` CLI would just have flags for whether or not to push the batched update. The release engineers use that CLI to do the daily pushes (which is currently a manual process), so in the short term a human would be deciding when to push. I.e., we don't have to put a schedule for when these batched updates would be pushed in

[2017-03-10 15:31] bowlofeggs opened #1343 "Bodhi polls wrong master repo URL for alternative arches during mash"
Last night's Fedora 26 mash failed with this traceback:

[code]

The issue is that Bodhi is polling the wrong URL to find out when the ```repomd.xml``` file has been synchronized to the master mirror for ```aarch64```, so the URL listed in the above log is a 404. It should be looking here instead:

http://download01.phx2.fedoraproject.org/pub/fedora-secondary/updates/testing/26/aarch64/repodata/re

[2017-03-10 16:24] ankit01ojha opened #1344 "Add issue and Pull Request template"
It would be nice if we have a issue and pull request template so that the standard of the issues and pull requests can be maintained.

[2017-03-10 16:24] ankit01ojha commented on #1344
@bowlofeggs If you think its a good idea then I can work on this.

[2017-03-10 16:44] trishnaguha commented on #1344
Where would you like to have the issue and pull request template? and What issue and Pull request you are talking about?

[2017-03-10 16:48] ankit01ojha commented on #1344
When we will click the new issue button then it will come in the box and when the pull request is made then in that box.

[2017-03-10 23:38] bowlofeggs commented on #1344
I don't think we have a problem with how people file issues or pull requests currently that would warrant the need for a template. To be honest, I often find that templates encourage people to file extraneous information that isn't necessarily relevant to the issue they are filing about, which makes it more difficult to find the important information. I'm satisfied with the quality of 95% of the i

[2017-03-10 23:38] #1344 closed, assigned to nobody

[2017-03-13 13:59] bowlofeggs commented on #1343
The [following patch](http://pkgs.fedoraproject.org/cgit/rpms/bodhi.git/commit/?id=badf506c5efc381c2f47ddc1ddc9401da1649a7b) has been applied to production to workaround this issue:

[code]

[2017-03-13 21:24] bowlofeggs opened #1346 "MasherThread.wait_for_sync() only checks that a single arch was sync'd"
[```MasherThread.wait_for_sync()```](https://github.com/fedora-infra/bodhi/blob/2.4.0/bodhi/server/consumers/masher.py#L744-L789) only waits until one arch is sync'd to the master mirror, rather than ensuring they have all been sync'd. This is due to the [```arch = os.listdir(mash_path)[0]```](https://github.com/fedora-infra/bodhi/blob/2.4.0/bodhi/server/consumers/masher.py#L753) line.

We should

[2017-03-14 00:19] nirik commented on #1143
Also, bugzilla breaks things:

bodhi-backend01.phx2.fedoraproject.org fedmsg-hub[14214]: [2017-03-13 23:58:13][    fedmsg   ERROR]f25-updates MasherThread failed. Transaction rolled back.
...
bodhi-backend01.phx2.fedoraproject.org fedmsg-hub[14214]: HTTPError: 502 Server Error: Proxy Error for url: https://bugzilla.redhat.com/xmlrpc.cgi

[2017-03-14 04:25] bowlofeggs commented on #326
We do have documentation now with Sphinx. We even have the REST API autodoc'd as of last week! The docs will be hosted at https://bodhi.fedoraproject.org/docs after the infra freeze, but they are currently available at https://bodhi.stg.fedoraproject.org/docs.

I think we can close this issue.

[2017-03-14 04:25] #326 closed

[2017-03-14 19:20] #1216 closed, assigned to nobody

[2017-03-14 19:23] bowlofeggs opened #1348 "Unbundle the assets in bodhi/server/static"
We should unbundle the web assets and JavaScript that is in ```bodhi/server/static``` so that it uses system-installed fonts and JavaScript. We will need to package [Hack](https://github.com/chrissimpkins/Hack) in order to accomplish this.

This comment also gives some ideas about how to do it:

https://github.com/fedora-infra/bodhi/pull/1313#pullrequestreview-26103206

[2017-03-15 08:30] morxa opened #1349 "Don't reopen BZ review ticket if "Close bugs on stable" is disabled"
As the title says, I would expect bodhi to change the ticket status only if "Close on stable" is selected for the update.

Currently, bodhi always adds comments to the tickets and changes the status to ON_QA, even if "Close on stable" is disabled and the ticket is already closed.

As an example, I recently submitted python-pyswip. I closed the [BZ review request ticket](https://bugzilla.redhat.com

[2017-03-15 14:00] bowlofeggs commented on #1349
I think the language "Close on stable" might only relate to changing the status to CLOSED, and doesn't imply that Bodhi wouldn't (or would) make other state changes on tickets. At least, that's how I've always interpreted it. In other words, the behavior you described is what I would expect that boolean to do based on the language it uses.

It sounds like you are asking for an RFE to have Bodhi ma

[2017-03-15 16:05] bowlofeggs commented on #1033
I found the cause of this bug:

https://github.com/fedora-infra/bodhi/blob/2.4.0/bodhi/server/models/models.py#L897-L898

I think we can just drop those two lines of code, write a test, and it will be fixed.

[2017-03-15 19:32] nirik opened #1350 "bodhi composer sends error emails for successfull ostree runs"
bodhi sends a email for every ostree compose for every branch.

Subject: fedmsg error log from bodhi01.phx2.fedoraproject.org
Message
-------
[2017-03-15 17:16:35][f24-updates-170315.1712   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend01.phx2.fedoraproject.org
- PID:      14214
- name:     fedmsg-hub
- command:  /usr/bin/python /usr/bin/fedmsg-hub
- msg_id:

Callstack th

[2017-03-15 20:44] bowlofeggs commented on #1350
I've found why this is happening, and it's a problem in fedmsg-atomic-composer so I've refiled it there for you and I'll close this one:

https://github.com/fedora-infra/fedmsg-atomic-composer/issues/20

Thanks for the report!

[2017-03-15 20:44] #1350 closed, assigned to nobody

[2017-03-16 05:26] ryanlerch opened #1351 "Updates with lots of Packages look unweildy"
The recent changes I made to bodhi on the updates page have not translated well for an update with a lot of builds attached to it. The title of the update includes all the packagenames of all the builds, resulting in:

![bodhi-large-update](https://cloud.githubusercontent.com/assets/592259/23982983/f211f908-0a5c-11e7-855c-2f0d7b840898.png)

[2017-03-16 05:36] ryanlerch commented on #1351
My proposal to fix this (and also #957) would be a two-pronged solution.

First, make the logic for this title a little saner. For an update with a single build, it behaves as normal:

    enhancement update for inkscape in Fedora 25

For an update with 2 builds:

    bugfix update for python-arrow & python-requests in Fedora 24

For an update with 3 or more builds:

    security update for firefo

[2017-03-16 10:52] trishnaguha commented on #1033
@dustymabe has also confirmed this issue. I am working on the fix.

[2017-03-16 12:34] ankit01ojha opened #1352 "search button is not working"
When clicked on the search button on the bodhi's new fronted , its not working.

[2017-03-16 17:29] bowlofeggs commented on #1352
@ankit01ojha what about it isn't working for you? It seems to work well when I try it.

[2017-03-16 17:45] #1033 closed, assigned to nobody

[2017-03-16 18:48] ankit01ojha commented on #1352
@bowlofeggs when I tried this in my localhost the search button of the new frontend was not working.
If its working for you then its fine, I should close this one. It was not working for me when I created this issue. (I consulted on IRC about this).

[2017-03-16 18:59] #1352 closed, assigned to nobody

[2017-03-17 14:38] bowlofeggs commented on #1351
@ryanlerch I'm a +1 on your proposal. I suggest we do it in two separate issues/PRs since one is easier than the other.

[2017-03-19 23:44] ryanlerch commented on #1351
Okay!

I can do the first prong, but the second involves adding some database entries, so it's a little out of my skill range. Will get the PR done for the first one now.

[2017-03-21 08:52] ankit01ojha commented on #1321
@bowlofeggs I will send a PR regarding this issue ASAP. Sorry, for being late.

[2017-03-21 09:32] ankit01ojha commented on #1321
@bowlofeggs the link for docs https://bodhi.fedoraproject.org/docs is not working now?
When I clicked the link it showed `404 Not Found`.

[2017-03-21 14:01] robatino opened #1361 "Should say "This update has reached 14 days in testing" instead of 7"
See the critpath update https://bodhi.fedoraproject.org/updates/FEDORA-2017-803e6bacb4 for F25 which shows the message "This update has reached 7 days in testing and can be pushed to stable now if the maintainer wishes" after spending 14 days in testing (which I believe is the correct amount of time for a critpath update?).

[2017-03-21 15:05] bowlofeggs commented on #338
We do seem to have the JS searchbox that I think @ralphbean was talking about implemented now - if you type bodhi but don't hit enter, you will see both bodhi updates but also a bodhi package appear in the search box dropdown. You can also search for users like this.

[2017-03-21 15:05] #338 closed

[2017-03-21 15:11] bowlofeggs opened #1362 "The shield and flame icons could use hover text"
In the new Bodhi design, shield and flame icons can appear next to update titles, such as this kernel update:

https://bodhi.stg.fedoraproject.org/updates/FEDORA-2017-e8e717e2b7

It would be good for us to add mouse hover text explaining what they mean. The shield means it's a security update and the flame means that it's a critical path update. There are other icons for the type of update as well

[2017-03-21 17:04] ralphbean commented on #338
\ó/

[2017-03-21 19:51] #1343 closed, assigned to bowlofeggs

[2017-03-21 20:10] bowlofeggs commented on #1321
On Tue, 2017-03-21 at 02:32 -0700, Ankit Raj Ojha wrote:

That's OK - it will work when Bodhi 2.5.0 is deployed to production, or
when I deploy a config change after the freeze. Bodhi 2.5.0 is
currently deployed to staging and it does work there:

https://bodhi.stg.fedoraproject.org/docs

We are currently in an infrastructure freeze so the docs change cannot
yet be deployed to production.

In eith

[2017-03-22 04:17] bowlofeggs commented on #273
I believe this issue is resolved by the ```bodhi-2.4.0``` client.

[2017-03-22 04:17] #273 closed

[2017-03-22 05:03] ryanlerch opened #1369 "Add a short description field for an update"
As discussed in #1351, in an effort to make the titles of updates more useful, it would be great provide a new field tied to an update allowing a package maintainer to add a short description to a multi-build update. With it falling back to the logic for truncating the list outlined in #1351, if a short description is not given.

As an example the short description could simply be "GNOME", so the

[2017-03-22 05:04] ryanlerch commented on #1351
Filed #1369 for the request of the new short description field for an update

[2017-03-22 10:20] robatino commented on #1361
Also, most of bodhi's comments end with a period, the ones that say "This update has reached X days in testing" appear not to.

[2017-03-22 17:31] #957 closed, assigned to nobody

[2017-03-22 17:32] bowlofeggs commented on #1351
This was fixed by #1370.

[2017-03-22 17:32] #1351 closed, assigned to nobody

[2017-03-22 21:09] nbianca commented on #882
Hello Randy,

What is the expected outcome? Simply keep first 30 characters or so and add ellipsis?

[2017-03-22 21:45] bowlofeggs opened #1376 "The CLI should give the koji wait-repo hint that the web ui gives when creating an override"
If a developer uses the web UI to create an override, it will give them a hint about how to use koji wait-repo to know when the override is active in Koji, like this:

[code]

When I use the CLI to save this override it does not give me such a hint and it would be really nice if it did since I struggle to remember the tag name to wait for. It could probably just use the same text the web UI uses a

[2017-03-22 21:48] bowlofeggs opened #1377 "The CLI should not traceback when trying to save an already active override"
I tried to use the CLI to alter the duration on an override I made today, and it crashes:

[code]

It should be possible to use the CLI to edit active overrides, just like the web UI can do.

[2017-03-22 22:04] bowlofeggs commented on #882
Hello Bianca!

Actually @ryanlerch just wrote [some template code](https://github.com/fedora-infra/bodhi/blob/0d23546ba00774eb91d5d7f80cb2d526334caff5/bodhi/server/templates/update.html#L5-L28) to do something very similar on this update page:

[code]

I bet we could take that idea and move it into a Python method on the ```bodhi.server.models.Update``` class and basically do the same thing there

[2017-03-22 22:36] bowlofeggs opened #1378 "Creating an update with --autokarma and without the --stable and --unstable-karma flags sets autokarma off"
Today I created an update with the CLI like this:

[code]

Note that the Autokarma is False in the resulting text, and if I go to that update Autokarma is displayed as being off there as well. I would expect that the ```--autokarma``` flag would set it to be on.

#1298 may be related to this (and may even be the same underlying problem) - it reports that setting ```--stable-karma``` without specif

[2017-03-23 12:58] trishnaguha commented on #1378
@bowlofeggs `autokarma` by default is always enabled if we do not specify. There are similar testcases in [test_updates.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_updates.py) where we haven't set `autokarma = True`.
Based on that #1298 should not be considered as a bug.
But disabling autopush with flag `--autokarma` is worth investigating.

[2017-03-23 14:46] bowlofeggs commented on #997
While looking at #997 I decided to play around a bit to find what is happening. I realized that my earlier comment was not quite right in that there is more than one place in the code that we will need to fix this. I think we will need to amend a few more APIs by adding an "ilike" GET attr. When watching requests during a search on the development environment for "wxgtk", I saw four search request

[2017-03-23 15:05] bowlofeggs commented on #997
One more thought - we could make hitting enter on the search box work with case insensitivity too by adding a new ```packages_ilike``` query parameter to the ```/updates/``` service, similar to the ilike I proposed. This way the old behavior can continue to be used by non-human actors that want the precision of specifying exact package names, but we can also give a nice human friendly search.

I h

[2017-03-23 16:04] #1161 closed, assigned to nobody

[2017-03-23 21:47] bowlofeggs opened #1382 "Implement bodhi overrides --mine"
Zbigniew Jędrzejewski-Szmek [filed an issue in Red Hat's Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1218042) requesting the bodhi client to support a ```--mine``` flag as a shortcut to express ```--user <username>```.

I.e., I could search for my overrides like this:

[code]

instead of:

[code]

[2017-03-23 22:33] nbianca commented on #1382
Hello @bowlofeggs,

If option `--mine` is used what should be the default username? `$USER`? I have looked through the source code and saw that you can use env var `USERNAME` to avoid typing `--user` every time.

[2017-03-24 14:46] #1321 closed, assigned to nobody

[2017-03-24 18:05] #829 closed, assigned to bowlofeggs

[2017-03-24 19:09] bowlofeggs commented on #1382
On Thu, 2017-03-23 at 15:33 -0700, Bianca Nenciu wrote:

Hi Bianca!

Yes, using the USERNAME environment variable is probably a reasonable
way to do this. When this is done, it should be documented in the man
page and it would be good to mention that the environment variable is
required for it to operate correctly.

I noticed that the USERNAME env var wasn't documented in the man page
so I added t

[2017-03-25 12:38] kkofler commented on #1032
Actually, it turns out that this apparent bug was just an illusion. It is really the **combination** of bug #999 and bug #1308. Bug #999 alone would not have explained it, but bug #1308 in addition is what made it look as if the autokarma had never been correctly disabled. As long as I don't edit the update, the autopush stays disabled (as is now visible due to the fix to bug #999).

[2017-03-25 12:38] #1032 closed, assigned to nobody

[2017-03-25 12:39] kkofler commented on #1308
Bug #1032 was an illusion caused by the combination of bug #999 and this bug. The (probably) correct analysis is the one above.

[2017-03-27 16:31] bowlofeggs opened #1386 "Days to stable is displayed as a negative number on updates that can be pushed"
I noticed today that an update that was eligible to be pushed to stable yesterday shows "days to stable" as -1:

https://bodhi.stg.fedoraproject.org/updates/FEDORA-2017-d0d830d7d2

It probably makes sense to either not show this field when the number is negative, or to render it as 0.

[2017-03-28 06:29] morxa commented on #1349
I agree that this is an RFE. Still, I think the current behavior is not consistent: In the example above, the bug was re-opened, but after submitting the package to stable, it is still ON_CA.

Maybe the issue is really that the current state is not checked (at least in this case), and the bug is set to ON_QA no matter what. I think the ticket shouldn't be re-opened even if "Close on stable" is ena

[2017-03-28 23:49] bowlofeggs commented on #807
I think this is a duplicate with #1349. Since that one has a little more discussion, I'll close this one even though it was reported first.

[2017-03-28 23:49] #807 closed

[2017-03-28 23:50] bowlofeggs commented on #1349
@morxa That's a bit similar to the request from @adamwill in #1091 - he similarly didn't want Bodhi to "downgrade" the state of a bug.

[2017-03-29 01:02] AdamWill commented on #1349
@bowlofeggs I'm pretty sure that in the past 'close on stable' has always meant 'don't make any status changes'. When it was unselected, Bodhi would add comments when the update was submitted and pushed, but that's *all* it would do. It would never make any state change. If it's been changed now and it makes state changes but just never makes a change to `CLOSED`, that's a significant behaviour ch

[2017-03-29 01:58] bowlofeggs commented on #1349
Ah I didn't realize the behaviour had changed at some point. I'm certainly not opposed to changing it, though I can't make it a priority right now. Pull requests welcome ☺

I'm happy to consider it a bug since it sounds like it is a regression from prior behaviour. If someone does send a PR, please be sure to relabel the help text to clarify that it is about all state changes.

[2017-03-29 04:31] AdamWill commented on #1349
Well, I haven't verified the current behaviour independently, I'm just going off the description in this report.

[2017-03-29 17:20] kaie opened #1389 "tracefrom from --list-overrides"
$ bodhi --list-overrides
No handlers could be found for logger "fedora.client.bodhi"
Traceback (most recent call last):
  File "/usr/bin/bodhi", line 537, in <module>
    main()
  File "/usr/bin/bodhi", line 451, in main
    }, auth=True)
  File "/usr/lib/python2.7/site-packages/fedora/client/openidbaseclient.py", line 240, in send_request
    output = func(method, **kwargs)
  File "/usr/lib/pytho

[2017-03-29 18:17] #1362 closed, assigned to nobody

[2017-03-29 18:41] it-praktyk opened #1390 "Bodhi documentation build failed and unavailable"
The documentation for Bodhi last time was build successfully on [March 9, 2017. 1:26 p.m.](https://readthedocs.org/projects/bodhi/builds/5127956/).

The link in README.md is broken.
![selection_003](https://cloud.githubusercontent.com/assets/4910261/24470654/9c0c2550-14b7-11e7-9822-f3920984f522.jpg)

[2017-03-29 18:41] #1172 closed, assigned to nobody

[2017-03-29 18:58] bowlofeggs commented on #1389
Hello @kaie, and thanks for the bug report!

It looks like you are using bodhi-0.9. Unfortunately, I am unable to put much time into maintaining bodhi-0.9 because I've actually never seen the codebase and Bodhi 2 is enough work to keep me busy. Thus, I tend to use GitHub issues to track the current upstream versions of Bodhi (2.4 and 2.5), and I use Bugzilla to track problems with the older versio

[2017-03-29 18:58] #1389 closed, assigned to nobody

[2017-03-29 19:04] bowlofeggs commented on #1390
Thanks for the bug report @it-praktyk!

The docs will soon be hosted at that URL, but due to a Fedora infrastructure freeze that has gone longer than I expected, I am not currently allowed to make the required change to production to host the docs there. We actually just recently merged a PR that put that link in the Readme under the assumption that the link would go live sooner than this. However

[2017-03-29 19:04] #1390 closed, assigned to nobody

[2017-03-30 16:20] bowlofeggs opened #1392 "Split the Package model into two"
We need to split the Package model into two models, a superclass (probably still called Package) and a new RPM-specific subclass, perhaps simply called RPM. All of Package's relationships should be analyzed to determine which ones should be adjusted to reference RPM vs. continuing to reference Package. Also, a database migration will be needed so that Bodhi's existing data can be preserved in the

[2017-03-30 16:25] bowlofeggs opened #1393 "Split the Build model into two"
We need to split the Build model into two models, a superclass (probably still called Build) and a new RPM-specific subclass, perhaps simply called RPMBuild. All of Build's relationships should be analyzed to determine which ones should be adjusted to reference RPM vs. continuing to reference Build. Also, a database migration will be needed so that Bodhi's existing data can be preserved in the new

[2017-03-30 20:16] jankratochvil commented on #717
I see the same case now with: https://bodhi.fedoraproject.org/updates/FEDORA-2017-0ffb8246fa
I have already clicked it several times, I still see no new comment there.  Now nirik told me and I see there is:
_Locked: This update is currently locked since 2017-03-30 19:35:47 (UTC) and cannot be modified._

[2017-03-30 21:21] bowlofeggs opened #1394 "Split the Update model into two"
We need to split the Update model into two models, a superclass (probably still called Update) and a new RPM-specific subclass, perhaps simply called RPMUpdate. All of Update's relationships should be analyzed to determine which ones should be adjusted to reference RPM vs. continuing to reference Update. Also, a database migration will be needed so that Bodhi's existing data can be preserved in th

[2017-03-31 02:05] bowlofeggs opened #1395 "Split the BuildrootOverride model into two, if needed"
We may need to split the BuiltrootOverride model into two models, a superclass (probably still called BuildrootOverride) and a new RPM-specific subclass, perhaps simply called RPMBuildrootOverride.

Whether we do this depends on whether modules need BuildrootOverrides, as I do not believe containers or flatpaks need them.

If we do need them, all of BuildrootOverride's relationships should be anal

[2017-03-31 18:49] AdamWill opened #1399 "Track automated test results from openQA as well as Taskotron"
We've had openQA testing critpath updates in production for several weeks now:

https://openqa.fedoraproject.org/group_overview/2

It'd be great for Bodhi to track these, as well as the Taskotron results.

The openQA results are forwarded to ResultsDB, but they are stored by update ID, not by package NEVR, so both the places where Bodhi currently does test result querying would need to be changed.

[2017-03-31 19:28] AdamWill opened #1401 "Have server cache relevant ResultsDB info in response to ResultsDB fedmsgs, ditch client-side Javascript querying"
So I just had an interesting discussion with @ralphbean (and tflink) about the possibility of changing the Bodhi frontend implementation of displaying automated test results.

Currently this is done in client-side Javascript, which seems quite inefficient: it means *every time* a client loads an update page, the client queries ResultsDB for relevant results in order to display them. This can make

[2017-03-31 19:29] AdamWill commented on #1399
As the 'why Javascript' thing is kinda its own issue, I filed it separately: https://github.com/fedora-infra/bodhi/issues/1401 . If we're going to change that design, we should probably work on the change before working on this (no need to write it as part of the Javascript code, then rewrite it when we throw away the Javascript code...)

[2017-03-31 19:32] AdamWill commented on #1401
Note, doing this might remove the need to have two separate codepaths in Bodhi for querying resultsdb (one backend, one frontend).

[2017-03-31 19:36] ralphbean commented on #1401
Before getting too far along here, it might be worth it to gather some usage stats from resultsdb.  Just how much does bodhi contribute to resultsdb load.  We bet it is "lots", but.. how much?

Apache logs for resultsdb should be able to tell us something about the [referer](https://en.wikipedia.org/wiki/HTTP_referer).

[2017-03-31 19:38] AdamWill commented on #1401
@rajcze should have that information, I believe.

[2017-03-31 21:02] bowlofeggs opened #1402 "Home page ideas"
I was talking with @robled and @seandst today about Bodhi's home page, and we could add a couple more queries to the home page that would be useful. In addition to "latest security" and "critical path" updates in need of testing, how about:

* Updates with no karma yet
* Controversial updates (lots of +1/-1s, might need more attention)

[2017-04-02 22:03] dhgutteridge opened #1403 "Bodhi is now sending two identical emails when a package meets its karma requirement (and autopush is enabled)"
Recently, Bodhi began behaving differently: instead of sending an email listing the details of the final karmic input that caused a package to meet requirements to be pushed to stable, and then a second email indicating the package has been submitted for stable, it now sends two copies of the latter. I'm not sure if this is the result of someone trying to fix #1210, or some other cause, but it see

[2017-04-02 22:05] dhgutteridge commented on #1210
It seems this isn't happening anymore (at least, with packages I've commented on lately). Instead, I'm seeing a different issue, noted in #1403.

[2017-04-02 23:07] bowlofeggs commented on #1403
@dhgutteridge Could you link a couple or three example updates that have had this issue? I've not noticed it with my updates.

[2017-04-02 23:17] dhgutteridge commented on #1403
Sure, I've listed three examples below. This only affects the emails sent, the web display of Bodhi shows everything correctly. In each case, I received two emails with the same time stamp saying the package was submitted for stable, and no email listing the final feedback that pushed it.

[https://bodhi.fedoraproject.org/updates/FEDORA-2017-a20103b1c8](url)

(There's a separate issue with this on

[2017-04-02 23:25] dhgutteridge commented on #1403
Actually, when looking through the message headers, the two emails don't have identical time stamps, they vary by a couple of seconds.

[2017-04-03 00:53] bowlofeggs commented on #1403
Can you provide headers for those two that vary by a few seconds? Feel free to sanitize any info you don't want to share on the Internet.

The karma count problem is known, and has been fixed on the develop branch: https://github.com/fedora-infra/bodhi/issues/829 The fix should be included with whatever release happens after 2.5.0.

[2017-04-03 01:11] dhgutteridge commented on #1403
Sure, here are the full emails.

Email one:

`Received: from SN1NAM01HT154.eop-nam01.prod.protection.outlook.com
 (10.172.104.34) by BN6PR18MB1268.namprd18.prod.outlook.com with HTTPS via
 BN6PR07CA0048.NAMPRD07.PROD.OUTLOOK.COM; Sun, 2 Apr 2017 15:54:35 +0000
Received: from SN1NAM01FT022.eop-nam01.prod.protection.outlook.com
 (10.152.64.59) by SN1NAM01HT154.eop-nam01.prod.protection.outlook.com

[2017-04-03 07:46] jsynacek opened #1406 "Bugzilla links need a space before "rhbz" to be recognized"
When typing an update message, bugzilla links are not correctly recognized:

```(rhbz#12345)``` is **not** recognized as a link in the preview window.

```( rhbz#12345)``` **is** recognized as a link - notice the space between '(' and 'r'.

Expected result:
The link is recognized without the space between the markup string and a word separator.

[2017-04-03 21:41] #937 closed, assigned to nobody

[2017-04-03 21:47] bowlofeggs opened #1407 "Editing an EL7 update seems to fail"
I noticed that editing one of my EL 7 updates failed in the development environment today:

[code]

The server-side log was not much more helpful:

[code]

FWIW, editing the update with the web UI failed with a similar error message:

http://localhost:6543/updates/FEDORA-EPEL-2017-ca0b92d27b/edit

[2017-04-03 21:50] bowlofeggs opened #1408 "The --notes-file parameter should be shared between the new and edit CLI commands"
Right now the CLI's new update command has a ```--notes-file``` parameter that can be used to pass a file with notes to the CLI. The edit command has ```--notes``` but would also benefit from ```--notes-file```.

[2017-04-03 21:56] bowlofeggs opened #1409 "The CLI edit command could also accept update titles to identify which update is being edited"
Right now the CLI accepts the update id as a parameter to identify which update is being edited.

We could make [a couple regexes used in the bindings](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/client/bindings.py#L238-L241) (or even a function that does what the cited code block does) available at the bindings module level so the client can share the code:

[code]

If we did this, t

[2017-04-04 20:36] bowlofeggs opened #1412 "Bodhi is logging stderr at error level in bodhi.server.util.cmd"
Bodhi is [logging subprocess stderr output at the error level](https://github.com/fedora-infra/bodhi/blob/2.5.0/bodhi/server/util.py#L604-L605), which is not correct. Many programs use stderr for debug or info type output, and it doesn't necessarily indicate that there was an error.

Instead, Bodhi should check the exit code of the process that was called. If the exit code is 0, the stderr should

[2017-04-04 21:21] bowlofeggs commented on #1406
[This regex](https://github.com/fedora-infra/bodhi/blob/2.5.0/bodhi/server/ffmarkdown.py#L85) is supposed to match bz links:

[code]

I don't see anything immediately wrong with it, but this area of the code is probably where the issue is.

[2017-04-05 18:57] #1392 closed, assigned to jeremycline

[2017-04-06 16:20] #1310 closed, assigned to nobody

[2017-04-06 18:29] bowlofeggs opened #1415 "Malformed update files cause a traceback in the Bodhi CLI"
The bodhi CLI accepts a template file that can be used to specify all the arguments for an update. This is how ```fedpkg update``` works. If the template doesn't properly parse due to a syntax error, the bodhi CLI will blow up with a traceback instead of a nice error message:

[code]

We should handle that error better so the user gets a nice informative error message.

Vít Ondruch originally [rep

[2017-04-08 00:40] AdamWill commented on #1399
https://github.com/fedora-infra/bodhi/pull/1418 would do the web UI portion of this.

[2017-04-10 16:25] bowlofeggs opened #1423 "bodhi-push doesn't load the config file before starting the database connection"
```bodhi-push``` doesn't load the config file before starting the database connection, which causes it to crash:

[code]

[2017-04-10 16:49] ralphbean opened #1424 "Blank dark-gray banner at the top of screen in chrome"
![](http://threebean.org/img/bodhi-banner.png)

It only shows up for me in chrome, but not firefox.

/cc @ryanlerch

[2017-04-10 16:51] bowlofeggs commented on #1424
I think this is just due to browser caching of some of the old UI files - try CTRL-F5 to force a cacheless reload. Please reopen if that doesn't fix it!

[2017-04-10 18:34] bowlofeggs opened #1426 "Further possible AJAX optimizations"
@rajcze and @kparal have [suggested](https://github.com/fedora-infra/bodhi/pull/1379#issuecomment-292986803) some further optimizations to the AJAX code that loads results db data. The suggestion is to replace

[code]

with

[code]

and to drop these three lines of code:

[code]

[2017-04-10 18:53] bowlofeggs commented on #1424
@puiterwijk suggested adding a ```GET``` parameter that would be unique per static file to the static file URLs so that new Bodhi deployments would cause browser caches not to be used.

We could just add a ```?bodhi_version={bodhi_version}``` onto the static URLs so that when we deploy new Bodhi versions the users will not used cached versions of all the static files. This would mean that we would

[2017-04-11 13:34] bowlofeggs opened #1430 "Bodhi sometimes puts too much text in the Bugzilla Fixed in Version field"
bodhi-backend01 emitted an error e-mail yesterday due to putting too much text into the Fixed in Version field in Bugzilla:

[code]

Process Details
---------------
- host:     bodhi-backend01.phx2.fedoraproject.org
- PID:      64964
- name:     fedmsg-hub
- command:  /usr/bin/python /usr/bin/fedmsg-hub
- msg_id:

Callstack that lead to the logging statement
---------------------------------------

[2017-04-11 15:19] bowlofeggs opened #1431 "The Hack font uses a license that isn't in Fedora's approved license list"
Bodhi currently [bundles the Hack font](https://github.com/fedora-infra/bodhi/tree/2.5.0/bodhi/server/static/fonts/hack). I started working on packaging this font for Fedora and discovered that it has a [custom license](https://github.com/chrissimpkins/Hack/blob/6c2fcce1ce52917acf6e12632d58b3d2558e8be3/LICENSE.md) which isn't on [Fedora's list of approved licenses](https://fedoraproject.org/wiki/L

[2017-04-11 17:03] bowlofeggs commented on #1324
This is the spec for module metadata:

https://pagure.io/modulemd/blob/master/f/spec.yaml

There is a modularlty provided tool to parse that metadata file.

Some real examples:
http://pkgs.fedoraproject.org/cgit/modules/base-runtime.git
http://pkgs.fedoraproject.org/cgit/modules/testmodule.git

In modularity, name-stream-version is analogous to RPM nvrs. Koji will call this “nvr” because it doesn’

[2017-04-11 20:42] bowlofeggs opened #1432 "If the update consumer misses messages about updates, bug info will never be fetched"
There have been a few times where bodhi-backend02 wasn't online or wasn't processing update messages. When this happens, the bugzilla info is never fetched about bugs and users are presented with the "spinner" gifs on the update forever.

We could instead add a new fedmsg that would trigger the bug info to be fetched again. When a user requests a page and the bug data is missing, the web server co

[2017-04-11 20:45] bowlofeggs opened #1433 "If the signed handler misses messages, Bodhi will not recover"
If the signed handler misses fedmsgs about builds that get signed, Bodhi will not recover and the update will remain unsigned forever.

We could instead have ```bodhi-push``` do a query to find updates that have a request but aren't signed, and then double check with koji to see if they are signed or not. If they are signed, it can update the database, and if they are not it can skip them as it do

[2017-04-12 09:09] jskladan commented on #1401
well, the "a lot" is really "a lot" @ralphbean  :)
Here are the parsed access_log data (from 5th April to 11th April): https://paste.fedoraproject.org/paste/3CethQmfnEZev2LLsldCqV5M1UNdIGYhyRLivL9gydE=/raw
These are number of requests per hour. The first column is `"%s%s" % (day, hour)`, the rest are obvious.
Graphical representation of the dataset: https://www.dropbox.com/s/p0nlkdsaze8zqwn/result

[2017-04-12 10:20] kparal commented on #1401
Since the links above will expire in some time, here's the same persistent:
https://gist.github.com/kparal/5aead29d4c4ac82d745517f73514f85e

![resultsdb_apache_graph](https://cloud.githubusercontent.com/assets/755451/24953104/660e4b22-1f7a-11e7-8290-33f52e283935.png)

Please note that number of Bodhi requests should go down once we deploy the changes to use the `/latest` endpoint.

[2017-04-12 14:48] bowlofeggs opened #1435 "OpenQA results will display invalid results for modified updates"
@kparal [reported](https://github.com/fedora-infra/bodhi/pull/1418#issuecomment-293253427) an issue with the patch from #1418:

[2017-04-12 18:35] AdamWill commented on #1435
Eh, sure. We can do that. Note it's not a huge deal, it only means that 'in the short time between the update being modified and the tests being re-run, Bodhi will show the results from the pre-modification tests instead of no results'.

[2017-04-13 07:03] kparal commented on #1435
I'm of the opposite opinion. You're assuming too many things: a) tests will be re-run b) in a short time c) people will not often act based on outdated results. With enough scale (and we do have enough scale in Fedora), this will be happening very often. Once an OpenQA re-run job crashes, you'll be displaying a wrong result for an update indefinitely. Put similar "good enough" assumptions to the a

[2017-04-13 13:16] bowlofeggs opened #1438 "Write a man page for production.ini"
We need a man page for the ```production.ini``` file.

[2017-04-13 13:20] bowlofeggs commented on #898
I filed #1438 for this.

[2017-04-13 13:20] #898 closed, assigned to bowlofeggs

[2017-04-13 13:43] #1408 closed, assigned to nobody

[2017-04-13 16:46] #1426 closed, assigned to nobody

[2017-04-13 16:57] AdamWill commented on #1435
I'm not saying we shouldn't do it, just that the world isn't burning down (and it's not as serious an issue as the description kinda implies - it can be read as suggesting the tests *never* get re-run).

[2017-04-13 17:57] #1423 closed, assigned to jeremycline

[2017-04-13 21:02] AdamWill commented on #1435
https://github.com/fedora-infra/bodhi/pull/1439 should fix this.

[2017-04-14 19:59] bowlofeggs opened #1441 "Sort the builds on the update page alphabetically"
It would be nice if the list of builds on the update page's Builds tab were sorted alphabetically.

[2017-04-17 14:18] bowlofeggs commented on #983
I believe that @ryanlerch's recent work has addressed this issue so I am closing it for now. If anyone has further ideas for improvement, please do open issues with those ideas!

[2017-04-17 14:18] #983 closed, assigned to nobody

[2017-04-17 16:16] bowlofeggs opened #1443 "4 tests fail when run in Koji or on EL 7, but not in the development environment"
I found today that 4 tests are failing when the test suite is run in Koji (on any Fedora release), or when run on my EL 7 box. Here's an example:

[code]

I'm not sure why I can't reproduce this on the development environment, but I do have a local EL 7 box that I can reproduce it with so that's nice.

[2017-04-17 18:57] jeremycline commented on #1394
So I've taken a survey of the Update model (and written docs in #1445), and I think we can get away without having a special update type for each content type. An Update can know its type(s) based on the builds it's composed of, since builds have types.

There's a single catch I know of which is a problem we have to handle whether or not we have type-specific Update models. At the moment, bodhi ha

[2017-04-17 20:41] bowlofeggs opened #1446 "Suddenly a test uses the Internet"
I'm not sure what changed that caused this to happen, but we have a [failing test in Koji](https://kojipkgs.fedoraproject.org//work/tasks/9499/19049499/build.log) due to the test failing to access the Internet:

[code]

This test will need to be reworked to avoid accessing the Internet.

[2017-04-17 21:16] dhgutteridge commented on #1403
As an update, this is still happening with Bodhi 2.5.0.

[2017-04-18 12:16] ryanlerch commented on #1431
Sigh -- didn't realise this when i suggested Hack. Sorry!

For a bit more info on why they are using a different licence, here is a thread over at the hack repo:
https://github.com/chrissimpkins/Hack/issues/209

I think we could just drop back to Liberation Mono. IIRC, its in the fedora repos, so we shouldnt have an issue with it.

cheers,
ryanlerch

[2017-04-18 13:15] #1412 closed, assigned to nobody

[2017-04-18 13:33] #1393 closed, assigned to bowlofeggs

[2017-04-18 14:23] #1435 closed, assigned to nobody

[2017-04-18 14:52] bowlofeggs commented on #1394
Your conclusion sounds reasonable to me. Should we use this ticket to add code to enforce that an ```Update``` only has one type of ```Build``` associated with it through a validator (or any other way that makes sense)? If we did something like that, would we need to also add a validator to the other end of the relationship (i.e., the ```Build```) so that the other end can't link to an ```Update``

[2017-04-18 14:54] bowlofeggs commented on #1394
As for the critical path packages, I think it would be reasonable for Bodhi to assume for now that only RpmPackages can be critpath. We can watch pkgdb's progress and when its API gains the ability to make other types be critical path we can revisit our code.

It would be good to file a Bodhi issue about this, so I'll do that now.

[2017-04-18 14:57] bowlofeggs opened #1448 "Bodhi needs to be able to find non-RPM critpath Packages"
Currently, Bodhi can only know about critical path RPMs due to the pkgdb API only having a way to express critpath for RPMs:

https://github.com/fedora-infra/bodhi/blob/2.5.0/bodhi/server/util.py#L201-L214

Once pkgdb can express non-RPM critical path packages, we will need to update Bodhi so it can enforce critical path rules on other types.

This pkgdb issue tracks the RFE to add types to the cr

[2017-04-18 14:58] bowlofeggs commented on #1394
I filed #1448 to track the critical path problem you mentioned here.

[2017-04-18 15:43] jeremycline commented on #1448
I've heard rumblings about pkgdb being replaced by Pagure, so we should also follow up on that to make sure we're ready if that happens.

[2017-04-18 15:46] bowlofeggs opened #1449 "There are multiple alembic heads on the develop branch"
The migrations can't be applied on the develop branch because there are multiple alembic heads:

[code]

[2017-04-18 16:06] bowlofeggs commented on #1431
@spotrh Has decided to allow Hack in Fedora, so we can close this issue. I'll work on packaging it soon.

https://lists.fedoraproject.org/archives/list/legal@lists.fedoraproject.org/message/2YZLPJB7EMSF6PJBLAUNSWKKMNA3NCD2/

[2017-04-18 16:06] #1431 closed, assigned to bowlofeggs

[2017-04-18 19:37] jeremycline commented on #1395
### BuildrootOverride Fields

* Notes (a text field)
* Submission date
* Expiration date
* Expired date

None of these seem specific to RPM buildroot overrides

### BuildrootOverrides Relationships

* A build
* A submitter (user)

Using the build type, we can determine what type of override it is. There are two methods of interest on the model, ``enable`` and ``expire``. If we want to have custom

[2017-04-19 11:00] kparal opened #1453 "Don't display unrelated javascript notifications"
If I have a Bodhi update page open, notifications frequently pop up in the right bottom corner. The notifications are completely unrelated to the page I'm currently seeing. It seems that anyone doing any action whatsoever causes a notification to pop up on every page. This has the following disadvantages:
a) It adds visual clutter to the page with no obvious benefit.
b) It consumes considerable am

[2017-04-19 11:41] kparal opened #1454 "add tooltips for update icons"
There's a green lightning bolt next to the update title in this update https://bodhi.fedoraproject.org/updates/FEDORA-2017-da42cd69ce and I have no idea what it means. It's a really fast update? :)

![icon](https://cloud.githubusercontent.com/assets/755451/25178371/da5d77d8-2505-11e7-873e-aca8fe7b8b56.png)

Can we please add tooltips to these icons?

[2017-04-19 16:07] ippienui opened #1455 "new theme requires locating tiny magnifying glass to show search box"
the primary thing I do on bodhi is search for a package, but this is made considerably more clumsy since I have to locate and click a tiny magnifying glass in order to get to the search box. is search a secondary feature for your typical users?? can't it always be displayed? if not, could you provide a cookie to remember whether the user has opened the search box?

[2017-04-19 17:48] bowlofeggs commented on #1318
Today I found that I also cannot log in to staging Bodhi, also due to BDR from a different block of association tables:

https://github.com/fedora-infra/bodhi/blob/2.5.0/bodhi/server/models.py#L2242-L2252

[code]

So we'll need to fix those as well.

[2017-04-19 21:19] bowlofeggs opened #1457 "The CLI docblocks end up in the --help text and are noisy"
I noticed today that the CLI docblocks show up in the ```--help``` output, including argument types. This text isn't particularly useful for users and it is noisy and badly formatted. We should probably just not document the parameters for the CLI functions since they already get documented through the ```click options```. For example,

[code]

To fix this, let's drop all the documentation on func

[2017-04-19 21:34] #1443 closed, assigned to bowlofeggs

[2017-04-19 21:40] #1446 closed, assigned to bowlofeggs

[2017-04-19 21:48] bowlofeggs commented on #1395
@jeremycline I concur - let's document and move along like that scene where Obi Wan told the Storm Trooper that these aren't the BuildrootOverrides they are looking for.

[2017-04-19 21:50] #1449 closed, assigned to bowlofeggs

[2017-04-19 22:09] bowlofeggs commented on #1453
Hello @kparal!

There is a "disable popups" option if you click on your user in the upper right of the page - does that help? I'm not 100% sure if that persists or not, but if it doesn't we could try to make it persist. If it does persist, does that satisfy the issue for you?

[2017-04-19 22:12] bowlofeggs commented on #1454
Hello @kparal!

This was actually fixed in Bodhi 2.6.0 (see #1362), which is currently in staging. Here's a "really fast update" (☺) in staging that shows the way it works now:

https://bodhi.stg.fedoraproject.org/updates/FEDORA-2017-19451b76d6

[2017-04-19 22:12] #1454 closed, assigned to nobody

[2017-04-19 22:37] bowlofeggs commented on #1455
Yeah I think I agree - it would be better if the search box was persistent. I think I also dislike that it animates when clicked and slides the page down.

[2017-04-19 22:42] bowlofeggs commented on #1403
@dhgutteridge Does this happen with every e-mail you receive from Bodhi, or just from some?

FWIW, I've not personally experienced this issue and I haven't heard from anyone else who has. If it happens for every single Bodhi comment (or for most) for you, we might be able to do some live experimenting to figure it out.

[2017-04-19 23:02] dhgutteridge commented on #1403
@bowlofeggs: it happens consistently whenever the final necessary +1 karma is applied to a package that is presently pushed to testing and has autopush enabled, whether that karma is from me or anyone else. It's curious that no one else is seeing that, I wonder if there could be some vestigial setting in my profile that's interacting with Bodhi? (I know nothing about that.)

I could sit on package

[2017-04-20 02:22] dustymabe commented on #1157
i think a good thing to think about for the future is making bodhi's processing of updates (and thus pushing to stable) happen more and more often. Many times a day, in fact. What I'm thinking is that we have this "stable" stream **continuously** (buzz word bingo, here) being updated and then we have a "batched stable" repo that get's pushed approximately once a week.

We can change the names to r

[2017-04-20 07:21] kparal commented on #1453
Interesting, I didn't know that. But what happens if I should receive an error message e.g. when editing the update, or when adding a comment (with a token timed out)? Any error is currently displayed as a popup. What happens if I have popups disabled?

Of course this doesn't help if I'm not logged in (which I'm often not), or when I want to receive some popups (I think it's still helpful to see p

[2017-04-20 07:22] kparal commented on #1454
Great, thanks!

[2017-04-20 11:28] ryanlerch commented on #1455
Okies, can work on getting this back.

It is worth noting that it does take exactly the same number of clicks to get the search done as before. I guess folks are just more used to seeing a large text box rather than just the typical search icon.

[2017-04-20 13:41] #1395 closed, assigned to nobody

[2017-04-20 15:57] #1049 closed, assigned to cverna

[2017-04-20 16:17] bowlofeggs commented on #1453
On Thu, 2017-04-20 at 00:21 -0700, Kamil Páral wrote:

That's a good question - I don't know.

True.

I don't know why the popups were made to show all activity, but I'm not
opposed to changing that behavior.

[2017-04-20 16:53] bowlofeggs commented on #1403
@dhgutteridge Whoah this issue just happened to me, so it's not just you! I got two e-mails about https://bodhi.fedoraproject.org/updates/FEDORA-2017-054e67a81c

[2017-04-20 17:09] bowlofeggs commented on #1403
I spent a few minutes looking at the code that adds the comment, and I don't quickly see the problem. The comment is only being added once to the update, so the code path that generates the e-mail is only being called once. The problem may be somewhere in one of these places but I'm not sure where at this point:

https://github.com/fedora-infra/bodhi/blob/2.5.0/bodhi/server/models.py#L1669-L1683
h

[2017-04-20 17:31] #1394 closed, assigned to jeremycline

[2017-04-20 20:10] bowlofeggs opened #1459 "We need to validate that RpmBuilds are only associated with RpmPackages and vice-versa"
This is also true for ModuleBuilds and ModulePackages, though we can solve that one in #1324.

[2017-04-21 07:20] kparal commented on #1453
@pypingou or @ralphbean (or @lmacken) could know the original decision

[2017-04-21 08:31] pypingou commented on #1453
@lmacken or @ralphbean may remember the exact reason, my guess is that it might just be listening to fedmsg and showing all bodhi activity, we would need to check the sources to be sure and see if it does any filtering (or not).

[2017-04-21 18:38] dhgutteridge commented on #1403
Right, but technically there should be two emails sent, but they should have distinct messages in them. The first should show the comment from the person giving the +1 karma, and the second should indicate the package is being pushed to stable.

Before these duplicate emails started appearing, I'd consistently get two distinct emails, but often in opposite order, so the "pushed to stable" would co

[2017-04-22 09:32] puiterwijk opened #1463 "We need alt text for the update status icons"
The meaning of the update status icons at the right of the name for update type and whether the update is on critpath are not always obvious the first time you see them.
We should probably add alt text with "Critical path" and "Security update" or "Enhancement", and the likes.

[2017-04-22 11:02] pypingou commented on #1463
I believe this has been fixed in: https://github.com/fedora-infra/bodhi/pull/1410 and https://github.com/fedora-infra/bodhi/pull/1365

[2017-04-22 14:07] puiterwijk commented on #1463
#1356 fixed this indeed, thanks.

[2017-04-22 14:07] #1463 closed, assigned to nobody

[2017-04-23 15:38] bowlofeggs opened #1467 "The submit button is cut in half on the mobile view"
The submit button is cut in half by the update info box:

![delme](https://cloud.githubusercontent.com/assets/354506/25314845/4766fe24-2819-11e7-8a18-950d43dd9742.png)

[2017-04-24 04:42] robatino opened #1468 "Icons to the right of the update name don't have tooltips"
The icons indicating "critical path", "security", "enhancement", etc. to the right of the update name don't have tooltips. This would really help since it's not obvious from looking at most of those icons what they mean.

[2017-04-24 14:50] ralphbean commented on #1453
This was the reason.

[2017-04-24 18:01] bowlofeggs commented on #1468
This was fixed in https://github.com/fedora-infra/bodhi/issues/1362 which is included in [2.6.0](https://github.com/fedora-infra/bodhi/releases/tag/2.6.0).

[2017-04-24 18:01] #1468 closed, assigned to nobody

[2017-04-24 20:20] bowlofeggs opened #1469 "Bodhi should show a lock icon next to the status if all of the builds in an update are signed"
I believe that Bodhi's old UI had a set of lock/gear icons to indicate whether all the builds in the update were signed yet or not. The new UI does show whether individual builds are signed in the Builds tab, but it doesn't appear to show the overall signature status of the update anymore. I believe the Update model does have a signed attribute, so it should be pretty straightforward to include th

[2017-04-24 21:29] ryanlerch commented on #1469
IIRC, we use the lock icon at the moment to show if an update is locked, so we will probably want to avoid using the lock again here. (unless we can come up with something better for that).

Going through the FontAwesome icons (the ones we now use in Bodhi), the only one that jumped out at me for this purpose was the key (http://fontawesome.io/icon/key/), since the updates are signed with an encry

[2017-04-24 22:37] bowlofeggs commented on #1469
On Mon, 2017-04-24 at 14:29 -0700, Ryan Lerch wrote:

Ah good point. The key sounds good to me. We should also change the
icon to the key on the builds tab.

[2017-04-24 23:34] puiterwijk opened #1470 "Bodhi no longer able to send fedmsg's correctly"
In commit e9a26042b694e6202dccee8db494b43ce3832244, the FedMsg manager is removed.
While that change in itself is reasonable, the problem is that this new code does not work in general.
It enqueues all kinds of things, but then never actually sends them.

[code]

[2017-04-24 23:42] puiterwijk commented on #1470
This is currently worked around in production with http://infrastructure.fedoraproject.org/cgit/ansible.git/commit/?id=9eb2e3d but that is very inefficient, as it makes the busgateway a single point of failure for bodhi messages.
Fedmsg has code to deal with the mod_wsgi case, as long as you make sure that you run fedmsg.init enough in advance.

[2017-04-25 00:35] puiterwijk commented on #1470
I have currently worked around this on production by updating the `if force:` with `if True or force:`, effectively bypassing the after_commit handler, and then fedmsg sending restored.

[2017-04-25 01:14] AdamWill opened #1471 "Need to disambiguate openQA results by flavor"
Now I look at the openQA results displayed in the webUI in production, there's a problem. We run some of the same tests starting from both the Server and Workstation base images: the four `base_` tests. As Bodhi currently only queries by test name, it doesn't show all these results, it will only show one instance of each of those four tests, whichever one completed last.

This is basically the 'sc

[2017-04-25 07:09] kparal commented on #1471
You can look at the results received from `/latest` and get the full history (limited to X pages/entries) for those that have `scenario` key set and non-empty. But that assumes `scenario` is only set for those results which really do have different scenarios, and not set for results which are not needed to be de-duplicated. But I feel that's a reasonable recommendation in general for all tests, so

[2017-04-25 13:43] bowlofeggs opened #1472 "Transactional failure during masher"
Message
-------
[2017-04-25 02:27:57][    fedmsg   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend01.phx2.fedoraproject.org
- PID:      31792
- name:     fedmsg-hub
- command:  /usr/bin/python /usr/bin/fedmsg-hub
- msg_id:

Callstack that lead to the logging statement
--------------------------------------------
[code]

[code]

[2017-04-25 13:47] bowlofeggs opened #1473 "bodhi-backend02 is unable to lookup updates by alias"
Message
-------
[2017-04-25 02:43:33][    fedmsg   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend02.phx2.fedoraproject.org
- PID:      20075
- name:     fedmsg-hub
- command:  /usr/bin/python /usr/bin/fedmsg-hub
- msg_id:

Callstack that lead to the logging statement
--------------------------------------------
[code]

[code]

[2017-04-25 14:18] bowlofeggs opened #1474 "bodhi-client cannot handle expiring sessions"
The bodhi client cannot work with expiring sessions. Once its session expires, it will never attempt to get a new session but will instead assume it can use the existing session. Thus, it does not matter if the user types the correct password or not:

[code]

# Workaround

Removing your cached sessions will work around the problem:

[code]

Note that this workaround will only work until your new s

[2017-04-25 15:39] bowlofeggs opened #1475 "The TransactionalSessionMaker will eat error messages if session.rollback() fails"
It is possible for the call to [```session.rollback()```](https://github.com/fedora-infra/bodhi/blob/2.6.0/bodhi/server/util.py#L659) in ```bodhi.server.util.TransactionalSessionMaker``` to raise an ```Exception```. When this happens, the call to ```raise``` is not hit and we lose the information about the original ```Exception``` which makes debugging difficult.

We should probably wrap the call

[2017-04-25 17:42] bowlofeggs commented on #1318
This prevents the staging server from being useful for testing because I cannot log in to staging. Thus, I am raising it to critical priority and setting a goal to include it in bodhi 2.7.0.

[2017-04-25 20:34] AdamWill commented on #1471
I didn't really intend to do things that way, no. I dunno why you always want to make the scenario concept so *complicated*. It's not meant to be complicated. It's an identifier, that's all it is. Every test has one, I don't see why we need to try and figure out whether anyone will ever need to de-duplicate this particular result by scenario at the time we send the result to resultsdb. That's just

[2017-04-25 22:03] bowlofeggs commented on #1470
It seems that the the ```fedmsg``` key on the ```session.info``` attribute is not present in [```send_fedmsgs_after_commit```](https://github.com/fedora-infra/bodhi/blob/2.6.0/bodhi/server/notifications.py#L54-L79), even though I can see that it is getting set in [```publish```](https://github.com/fedora-infra/bodhi/blob/2.6.0/bodhi/server/notifications.py#L109-L111).

It turns out that we are not

[2017-04-25 23:07] dustymabe commented on #1182
had a long chat with dgilmore and kushal about this today.

Basically the steps to call pungi from bodhi are:

- clone pungi-fedora git repo with the configs
    - we'll be using a config like https://pagure.io/pungi-fedora/blob/f26/f/fedora-atomic.conf
- update comps and put comps in place
    - we can re-use comps from bodhi process
    - we just need to either point pungi at the existing locati

[2017-04-26 08:32] kparal commented on #1471
If all results have a `scenario`, even those which don't need it, you won't know for which testcases to pull historical results (possibly containing other scenarios). So you need to do it for all of them. If you pull all history for all testcases, the `/latest` endpoint is useless, and we're back to pulling everything, which proved to be very performance demanding and which we wanted to avoid. Wha

[2017-04-26 13:18] jeremycline commented on #1470
Okay, if that's the case, then I think what is happening is someone is publishing fedmsgs which get queued up, but then the session is never committed. If you are seeing a different session committing the expected changes, then the old session is being thrown out for some reason and a new one is being made.

This means either a) the messages shouldn't be tied to a database session because they are

[2017-04-26 19:02] AdamWill commented on #1471
kparal: it's this idea of a result "needing" a scenario which I disagree with. It's just the wrong way to think about it. Technically, we can't absolutely know for sure at the time we file a result whether we'll ever file another result which would need to be disambiguated from it by scenario. We can make a reasonable guess based on the set of tests we know we're running *right now*, but what if w

[2017-04-26 22:04] belegdol opened #1481 "bodhi updates new does not work"
Hello,

I have installed bodhi-2.6.0-1.fc25 from copr repo. Unfortunately it appears that bodhi updates new does not work anymore:
[code]

[2017-04-26 22:27] bowlofeggs commented on #1481
Thanks for the report! This is a duplicate of https://github.com/fedora-infra/bodhi/issues/1474 so let's track it there.

[2017-04-26 22:27] #1481 closed, assigned to nobody

[2017-04-26 22:30] bowlofeggs commented on #1481
Note: you can work around this issue by using this every time it happens:

[code]

[2017-04-26 22:33] bowlofeggs commented on #1472
At this point, it seems likely that this is the same underlying issue as #1470, and I believe the fix I've got for it will fix this too.

[2017-04-26 22:35] bowlofeggs commented on #1473
At this point, it seems likely that this is the same underlying issue as #1470, and I believe the fix I've got for it will fix this too.

[2017-04-27 07:35] xsuchy opened #1482 ""Auto-request stable" cannot be disabled once enabled."
Hi,
I created errata and checked "Auto-request stable", next day I changed my mind and wanted to disable this option. So I in WebUI clicked on Edit and unchecked "Auto-request stable" and hit "Save". However the "Auto-request stable" is still enabled.

The temporary workaround is to raise karma treshold to unsane high number so the treshold is never reached.

[2017-04-27 20:50] bowlofeggs commented on #1472
My previous comment was incorrect, but @jeremycline and I figured out how to fix this and he will make it so. Thanks Jeremy!

[2017-04-27 20:54] bowlofeggs commented on #1472
This e-mail reveals the true problem:

Message
-------
[2017-04-27 19:54:51][bodhi.server   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend01.phx2.fedoraproject.org
- PID:      72142
- name:     fedmsg-hub
- command:  /usr/bin/python /usr/bin/fedmsg-hub
- msg_id:

Callstack that lead to the logging statement
--------------------------------------------
[code]

[code]

So b

[2017-04-28 19:48] dustymabe commented on #1182
one open question we had was `how do we tell pungi to use the repo bodhi just mashed?`. It turns out we can just use the url like `https://kojipkgs.fedoraproject.org/mash//updates/f25-updates-testing-170425.2246/` and immediately have access to the mashed content. This means all we have to do is use that url and poke it into the pungi config.

I think we can do this by adding an entry to `source_r

[2017-05-01 08:50] cverna commented on #1407
After investigating a little it seems that the following tags `el7-updates-candidate, el7, el7-updates-testing` are not associated with a Release.
The tags available for EPEL7 are `epel7, epel7-pending, epel7-testing-pending, epel7-testing-candidate, epel7-override, epel7-testing`

The el7 tags are not in the tag_rels dictionary here --> https://github.com/fedora-infra/bodhi/blob/develop/bodhi/ser

[2017-05-01 13:13] bowlofeggs commented on #1407
I think the tags are defined in the database on the Release:

https://github.com/fedora-infra/bodhi/blob/2.6.0/bodhi/server/models.py#L392-L399

[2017-05-01 13:26] bowlofeggs opened #1488 "The fedmsg_enabled setting can't be set to False"
If the settings file has ```fedmsg_enabled = False```, fedmsg will still be enabled. This is because the setting is used like this:

[code]

There are two places that this setting is used:

https://github.com/fedora-infra/bodhi/blob/2.6.0/bodhi/server/notifications.py#L33
https://github.com/fedora-infra/bodhi/blob/2.6.0/bodhi/server/notifications.py#L93

[2017-05-01 13:30] #1386 closed, assigned to nobody

[2017-05-01 13:46] bowlofeggs opened #1489 "config.py should do more for us"
Currently, Bodhi has config processing code scattered all over the place. [For example](https://github.com/fedora-infra/bodhi/blob/2.6.0/bodhi/server/notifications.py#L33),

[code]

This is problematic for a few reasons:

1. The code that wants to use the config is always given a string of what it is set to in the config file, regardless of what type the config makes sense to be. In the above exam

[2017-05-01 15:42] #1475 closed, assigned to bowlofeggs

[2017-05-01 17:30] #1470 closed, assigned to bowlofeggs

[2017-05-01 17:30] #1473 closed, assigned to bowlofeggs

[2017-05-01 18:13] #1472 closed, assigned to jeremycline

[2017-05-01 19:08] bowlofeggs commented on #1474
Since this bug will be fixed in python-fedora, I am going to kick it off the 2.6.1 milestone and go ahead and release 2.6.1.

[2017-05-01 20:03] bowlofeggs commented on #1475
The fix for this issue has been cherry picked to the 2.6 branch as 1a527621b5f15ce5cbd9e9757abbc28162461822.

[2017-05-01 20:32] bowlofeggs commented on #1470
This fix for this has been cherry picked to the 2.6 branch as 1566e99edcaa4ee2246072f1a620f32340560c58.

[2017-05-01 20:32] bowlofeggs commented on #1473
This fix for this has been cherry-picked to the 2.6 branch as 1566e99edcaa4ee2246072f1a620f32340560c58.

[2017-05-01 20:39] bowlofeggs commented on #1472
The fix for this issue was cherry picked to the 2.6 branch as d47c727815c104e15ee14988319b3e93c2b8de79.

[2017-05-02 01:59] AdamWill commented on #1471
So I have code that does this now, but there's still a problem; you just get two apparently-identical entries for the 'duplicate' tests in the web UI (`update.base_selinux`, for example). Because Bodhi doesn't know that it should display the result flavor to disambiguate the results.

This isn't disastrous, of course, it still basically works. But it's probably confusing, and not *obvious* what th

[2017-05-02 15:22] #1409 closed, assigned to nobody

[2017-05-02 16:12] bowlofeggs opened #1492 "The UI doesn't make it clear that locked updates can't be edited"
@ignatenkobrain and I had a chat in #fedora-devel today where we were confused by the UI's lack of edit buttons on locked updates. We didn't realize at the time that the updates were locked, and only noticed that the edit buttons were missing. It seemed that there were issues with permissions, when really it was just that the update was locked.

Perhaps we could make it more obvious that locked up

[2017-05-04 18:36] bowlofeggs opened #1503 "The bodhi CLI is unable to comment on updates"
[code]

This problem was also reported with the bodhi-0.9 client, so it may be a server-side issue:

https://bugzilla.redhat.com/show_bug.cgi?id=1445703

[2017-05-04 21:10] dhgutteridge commented on #539
I just encountered this same problem commenting on [https://bodhi.fedoraproject.org/updates/FEDORA-2017-8a540cb555](https://bodhi.fedoraproject.org/updates/FEDORA-2017-8a540cb555). It was in the process of being pushed to testing (though in the current incarnation of Bodhi, there was no visible notification I could see that this was the case), and Bodhi simply didn't record the input. This was bet

[2017-05-05 01:58] bowlofeggs opened #1506 "The type icons aren't the same width"
I was noticing after working on https://github.com/fedora-infra/bodhi/pull/1504 that the type icons aren't the same width, which causes the bodhi builds below to be unaligned:

![delme](https://cloud.githubusercontent.com/assets/354506/25731465/9ac1811c-3114-11e7-8d8b-8878ac96f8ad.png)

If we can get those icons to be a uniform width, the page would look more uniform.

[2017-05-05 02:30] bowlofeggs commented on #539
@dhgutteridge I looked at the logs and I found when you logged in, but I didn't see anything enlightening. I also witnessed someone commented on one of my locked updates today so I know that it at least sometimes works.

Is there a possibility that you hit the stale CSRF token error and maybe didn't notice the popup in the lower right of the window? That seems to happen often (I think there's a bu

[2017-05-05 05:42] dhgutteridge commented on #539
@bowlofeggs: I did hit a stale CSRF token, and refreshed, and then supplied the input again. The second time, the button at the bottom greyed out and had the little spinning icon for some minutes, and then nothing happened. It's possible I missed a stale CSRF token popup again, but I don't think I've ever seen the token issue again after a refresh (and I must have hit the stale token issue literal

[2017-05-05 18:09] #1474 closed, assigned to bowlofeggs

[2017-05-05 18:15] bowlofeggs commented on #1474
This fix for this has been cherry picked to the 2.6 branch as b59a27bc1737887eb4b815e88cec66f276ba2b4d.

[2017-05-05 23:13] dhgutteridge commented on #539
(BTW, with the current version of Bodhi, error messages like the stale CSRF token popup don't disappear. They stay visible on the page until the user closes them or refreshes the page. I think the rule is that lower priority notifications flash by quickly, but errors linger.)

[2017-05-07 02:50] dustymabe commented on #1182
any updates on this?

[2017-05-10 02:59] dustymabe commented on #632
This is a much desired feature of mine as well. I talked with @nirik about this tonight and we do not believe it violates any of the [written policy](https://fedoraproject.org/wiki/Updates_Policy#All_other_updates) to have an update go straight from `pending` `->` `stable`  if the karma threshold has been reached.

Often times if people have gone out of their way to grab the package and test it be

[2017-05-10 09:24] trishnaguha commented on #632
+1 to the feature. It definitely makes sense to push the updates directly to stable when it has enough karma before hitting the testing repo. I am working on it.

[2017-05-10 14:40] bowlofeggs opened #1508 "lslebodn was able to request an update for stable before it met testing requirements"
lslebodn was able to click the "push to stable" button on this update when it had only been in testing for 5 days and had 2 karma (with a threshold set to 3):

https://bodhi.fedoraproject.org/updates/FEDORA-2017-61c75669ea

I expect that the masher will kick the update out for failing to meet testing requirements, but we should not have presented the push to stable button or allowed it to set the

[2017-05-11 13:41] dustymabe opened #1509 "feature request - multiline blockquote using triple tick marks"
it would be good if we can get multiline blockquotes in bodhi comments by using triple tick marks.

[code]

Here is an example where it line wraps the triple tick marks: https://bodhi.fedoraproject.org/updates/atomic-1.17.1-4.fc25#comment-605115

[2017-05-12 14:25] pypingou opened #1512 "Store the commit hash a build originates from"
We need a way to store/access the commit hash a build originates from so that integration with CI results (that are triggered by commits) is doable and easier.

[2017-05-12 14:26] pypingou opened #1513 "Create a fedmsg-client to update test gating status on new Greenwave decisions"
We need a fedmsg-client to listen to CI messages and update the corresponding bodhi update (if there are any corresponding to this commit).

[2017-05-12 14:27] pypingou opened #1514 "Modify the updates fedmsg-client to check/set the CI status for new updates"
We need a fedmsg-client listening to messages from bodhi about new updates and edits to updates and checks the CI status of the builds associated with this update and adjust the CI status accordingly

[2017-05-12 14:29] pypingou opened #1515 "Cron job update CI status in addition to fedmsg"
We would like a cron job that would be checking and updating the CI status of all the updates for which we are missing this information.

This would help mitigate potential network issues (ie: missed fedmsg message)

[2017-05-12 14:42] bowlofeggs commented on #1514
There is an existing "updates" consumer that listens for new updates to do background processing - I think it makes sense to tack this feature onto it:

https://github.com/fedora-infra/bodhi/blob/2.6.2/bodhi/server/consumers/updates.py

[2017-05-12 18:06] areyohrahul commented on #1488
@bowlofeggs Hi, I am Rahul and I am new to this community. Since this is an easy bug so I would like to take this up. Can you please let me know what do I exactly have to do here? Thanks.

[2017-05-15 20:39] bowlofeggs opened #1519 "alembic/versions/9241378c92ab_convert_the_builds_table_to_be_.py uses server default"
The ```alembic/versions/9241378c92ab_convert_the_builds_table_to_be_.py``` migration uses a server default, which is not allowed by BDR:

[code]

[2017-05-16 00:46] ryanlerch commented on #1492
yeah, i think the best way here is to just show the "edit" button, but grey it out with a tooltip. Might need some more information on why it is locked too.

/me spent a while in his test instance trying to figure out how to lock an update to test this, then realised they get locked while it is being pushed. Might be good to explain a bit more here too.

[2017-05-16 01:07] ryanlerch opened #1521 "Edit Form accessable by anyone"
Currently, anyone can access the edit page for an update. It is viewable even if not logged in, or if you are logged in and not in the edit ACLs for the update.

https://bodhi.fedoraproject.org/updates/FEDORA-2017-8733e65d13/edit

It is not a huge issue, as it does not let you save the changes to the update, but we really shouldnt show the update edit form to people that don't have access.

[2017-05-16 12:26] ryanlerch commented on #1469
Just a note too, we currently do show the cog (which is used to signify that the update is being signed) next to the request status of the update, but we don't show the lock.

IMHO, this should be both next to the status, rather than the status request, right?

[2017-05-16 14:28] ralphbean commented on #1330
Question, @bowlofeggs: the text of the ticket says "starting with containers".  Is that still the case?  Are containers first in line, or modules?

[2017-05-16 16:14] bowlofeggs commented on #358
Is this still an issue?

[2017-05-16 16:17] bowlofeggs commented on #344
Another option could be to mark the bug as being private in Bodhi's database, and then we can render the bug with a label that indicates that it is private.

[2017-05-16 20:01] bowlofeggs commented on #1492
@ryanlerch

Ah yeah, there's probably not a built-in way to make an update be locked but you can use the fancy new ```bshell``` alias I just made to get in there and force an update to be locked. Here's an example:

[code]

Now when I browse to http://localhost:6543/updates/FEDORA-EPEL-2017-650d7b9356 I can see the lock icon on the update.

Note that I am using a modification to my ```development.

[2017-05-16 20:10] bowlofeggs commented on #1330
@ralphbean Modules are first. I had written this before I knew we were doing modules for Fedora 27. I'll fix it ☺

[2017-05-16 20:11] #1324 closed, assigned to bowlofeggs

[2017-05-16 20:11] #1459 closed, assigned to bowlofeggs

[2017-05-16 20:27] #1471 closed, assigned to nobody

[2017-05-17 01:32] ryanlerch commented on #1453
Yeah, not 100% sure of the utility of having the notifications constantly pop up for everything that changes in Bodhi.

@kparal as a user of Bodhi, is having the notifications -- even if they are for the current update being viewed -- even useful?

One additional thing to note too is that we use these notifications also for reporting errors (like form validation) So it is a even more cluttered, an

[2017-05-17 08:33] kparal commented on #1453
Sure, as you say, for confirmation of actions and displaying errors. It's also useful to know that somebody else commented on the same update (or some other action was performed), because the page doesn't automatically update - this way you know you should refresh it. All of that can be solved without notifications. But I don't really mind it, I just suggest that we don't use them excessively for

[2017-05-17 15:13] #1506 closed, assigned to bowlofeggs

[2017-05-17 15:13] genodeftest commented on #301
Hm, it still takes me >60 seconds to get a list of packages in updates-testing when running `fedora-easy-karma` on Fedora 26. See https://bugzilla.redhat.com/show_bug.cgi?id=1266060.

[2017-05-17 15:38] #1467 closed, assigned to ryanlerch

[2017-05-17 17:21] cverna commented on #1503
Just tested this with bodhi 2.7.0 client in my local dev environment and it worked correctly. Can give it another try ?

[2017-05-17 17:36] ellert opened #1532 "Bodhi adds duplicate comments to bugzilla"
When an edit of an update both replaces a build with a newer one and adds a new related bugzilla issue, the bugzilla comment about that the build has been submitted as an update is added twice by bodhi to the bugzilla issue that is being added. To bugzilla issues that were already listed in the bodhi update before editing, the message is only added once as expected.

Examples:

In https://bugzilla

[2017-05-17 18:03] #1469 closed, assigned to ryanlerch

[2017-05-18 14:16] puiterwijk commented on #481
This should now actually be fixed with the autosigning stuff and marking things as signed?

[2017-05-18 14:36] parasense commented on #1433
We just hit this topic. Apparently there was a fedmsg hickup a while back and some builds were not pushing, even though they were signed.

[2017-05-18 17:02] bowlofeggs commented on #1503
@cverna Odd, it also seems to work for me now too. I guess we can close this issue. The downstream report should probably also be investigated, but we can track that there. Thanks for testing!

[2017-05-18 17:02] #1503 closed, assigned to nobody

[2017-05-18 17:04] bowlofeggs commented on #1532
Ah yes, that does look annoying. The bugzilla code definitely doesn't try to avoid duplicates. Thanks for the report!

[2017-05-18 17:24] bowlofeggs commented on #481
@puiterwijk I think it might not be. There was a mash a couple of weeks ago of EPEL 6 that failed since there isn't gating on EPEL 6, and I think it didn't fail early as @ralphbean was suggesting.

[2017-05-19 11:53] deekej commented on #752
Same issue here:
https://bodhi.fedoraproject.org/updates/FEDORA-2016-6ecaf251f6

Would it be possible to actually delete the updates which are stuck in *testing* for EOL releases manually? I don't expect those updates to ever make it further, and if people need some data gathered they can do it before manually deleting it.

I'm not sure if this is not against some Bodhi policy at the moment, but w

[2017-05-19 13:17] #1492 closed, assigned to ryanlerch

[2017-05-19 13:20] #1509 closed, assigned to nobody

[2017-05-19 14:36] bowlofeggs commented on #717
I have witnessed this problem on production, but strangely I am unable to reproduce it in my development environment. Unfortunately, due to https://github.com/fedora-infra/bodhi/issues/1318 I am unable to log in to staging to test it there. Once #1318 is fixed, I hope that it is reproducible in staging so I can debug it there.

[2017-05-19 15:26] bowlofeggs commented on #1489
This has come up as an issue three times this week, so I'm going to go ahead and make it happen. It's a good Friday project, and it will help us avoid a whole class of bugs in the future.

[2017-05-20 09:52] mcepl commented on #752
me too … https://bodhi.fedoraproject.org/updates/FEDORA-2016-eb0392d623

[2017-05-22 18:20] ausil opened #1541 "clicking on expire buildroot override when not logged in gives poor messaging"
if you try to expire a buildroot override when not logged in you end up with a message
"Override : Unable to save buildroot override: 'NoneType' object has no attribute 'name'" which is really confusing and gives no hint that its just that you are not logged in.  instread you should be redirected to login, or at the least be given a message that you are not logged in and to do so first

[2017-05-22 18:21] bowlofeggs commented on #1541
Agreed. For the record, this is the traceback:

[code]

[2017-05-22 21:41] bowlofeggs opened #1542 "Bodhi cannot create updates with ~300 builds in them"
Today a user tried to create an update with about 300ish builds and PostgreSQL was not happy about the size of the index for the title field:

[code]

We should probably work towards getting rid of the title field on the update, but that will be a backwards-incompatible API change.

[2017-05-23 16:51] ralphbean commented on #1325
Based on the [meeting discussion](https://meetbot.fedoraproject.org/fedora-meeting-1/2017-05-23/bodhi_stakeholders.2017-05-23-15.00.html) this morning, this may be almost no work.  We need:

- To expand the GET apis to tell the user what “kind” of update it is.
- To add logic to the submit API to infer what kind of build/update it should be based on info gleaned from Koji.
- Add support to query b

[2017-05-24 19:52] #1519 closed, assigned to bowlofeggs

[2017-05-25 13:54] ralphbean commented on #1488
oh, @mcurlej - if you're looking at this one, also see #1544.  There, @bowlofeggs is refactoring the whole config system, and it may indirectly fix this issue.

[2017-05-25 20:03] bowlofeggs commented on #1488
Hi @rahulxxarora,

As @ralphbean mentioned, I've already fixed this issue in #1544. There are several other open easy fix issues to take on!

[2017-05-25 21:19] bowlofeggs commented on #1329
@ryanlerch @ralphbean I don't have many ideas for this, other than to slap some text in the right hand info box that says what kind of update it is. For a second I considered trying to come up with icons for each update type, but I can't imagine what an icon for an RPM or a module might look like.

Do either of you think more than just displaying text about the type is needed?

[2017-05-26 17:35] bowlofeggs commented on #1515
This depends on #1499, and the commit hash patch that I've been working on depends on this.

[2017-05-28 18:59] mcurlej commented on #1488
@bowlofeggs @ralphbean k will find another one.

[2017-05-29 09:12] mtasaka opened #1559 "bodhi --autokarma does not enable autokarma"
bodhi command line with --autokarma option like
[code]
does not enable automarka like https://bodhi.fedoraproject.org/updates/FEDORA-2017-d98279c793 (if you go to this URL, you will see that Autopush is "disabled"), although ``$ bodhi updates new --help`` shows:
[code]

Note:
[code]

[2017-05-30 10:30] ryanlerch commented on #1329
Yeah, I think we are left to text here. The only thing we could use for RPM is the package icon, and we are already using it for New Package. and Module would be even more abstract Ithink...

[2017-05-30 12:28] #1325 closed, assigned to nobody

[2017-05-30 13:13] ralphbean commented on #1326
I think this is fixed by #1543.

[2017-05-30 13:13] #1326 closed, assigned to jeremycline

[2017-05-30 13:14] ralphbean commented on #1329
Text works for me.  :)

[2017-05-30 16:07] bowlofeggs opened #1563 "Add knowledge of branch freezes to the Release model"
We should add the ability for Bodhi to know when a branched Release is frozen. During freeze periods, the masher should avoid mashing updates that are request stable, but it should allow exceptions by looking for blocker bugs. This way, releng doesn't have to run ```bodhi-push``` two times (once for the f<branched>-updates-testing, and again for all other stable releases).

[2017-05-31 20:07] dustymabe opened #1569 "[RFE] allow user ability to reset their karma to 0"
I had an issue where I left negative karma, then new information came to light and I wanted to undo my negative karma, but I did not want to leave positive karma. I just wanted to clear out the negative karma.

Here is [the update](https://bodhi.fedoraproject.org/updates/lorax-26.8-1.fc26#comment-615095) where this happened to me.

I'm thinking bodhi should keep track of the 'state' for a particul

[2017-05-31 20:13] bowlofeggs commented on #1559
I think this is a duplicate with #1378. Feel free to let me know if you disagree!

[2017-05-31 20:13] #1559 closed, assigned to nobody

[2017-05-31 20:23] dustymabe commented on #717
I saw this today when trying to edit https://bodhi.fedoraproject.org/updates/FEDORA-2017-2c70da042c. There will probably be like 20 comments from me when it finally get's unlocked.

[2017-05-31 20:30] dustymabe commented on #717
@bowlofeggs can you update the code to  populate the comment text box with some text that says

*this update is currently locked, there is a known bug [link] where submitting feedback while the update is locked can possibly not show up immediately . Submit your feedback once and trust that it will make it through once the update is unlocked*

[2017-05-31 21:08] bowlofeggs commented on #717
We could do something like that, but this issue may be specific to Fedora's deployment in some way as I am not able to reproduce it in the dev environment.

[2017-05-31 21:23] dustymabe commented on #717
in that case we could make it generic `DEFAULT_COMMENT_BOX_TEXT=""` and then our particular deployment could have that variable configured

[2017-06-01 13:21] bowlofeggs opened #1570 "Don't disable autopush when the update is already requested for stable"
@ignatenkobrain reported today that [an update](https://bodhi.fedoraproject.org/updates/FEDORA-2017-92e5a01da8) didn't have the push to stable button, even though Bodhi had commented on the update to say "Bodhi is disabling automatic push to stable due to negative karma. The maintainer may push manually if they determine that the issue is not severe." It turned out that the update had already been

[2017-06-01 16:59] #1521 closed, assigned to ryanlerch

[2017-06-01 18:46] bowlofeggs opened #1572 "Test failure: Test a logged in User without permissions on the update can't see the form"
[code]

[2017-06-01 19:04] #1572 closed, assigned to bowlofeggs

[2017-06-02 17:57] cverna commented on #1378
I had a quick look at this one, as @trishnaguha said by default the autokarma is enabled (True), when you use the --autokarma option it will set the autokarma to False 🐒 .

I think we can go in 2 direction either make autokarma Flase by default, then you would need to add --autokarma to enable it, or either change the name of autokarma to noautokarma or something like that.

I am more for the firs

[2017-06-03 11:55] surya-prakash-susarla commented on #1488
Can anyone help me get started with solving some simple bugs ??

[2017-06-03 11:58] surya-prakash-susarla commented on #1570
@bowlofeggs  I would like to solve this bug as I am beginner and you've tagged it as easyfix. Could you help me where to get started ?

[2017-06-03 19:27] bowlofeggs commented on #1378
On Fri, 2017-06-02 at 10:57 -0700, Clement Verna wrote:

I also am in favor of the first option. The CLI already documents that
behavior (even though it doesn't follow it) so it would be best if we
stick to it.

Hopefully we can fix this only in the bindings/CLI code without
disrupting the API.

[2017-06-03 19:28] bowlofeggs commented on #1488
On Sat, 2017-06-03 at 04:55 -0700, Surya Prakash Susarla wrote:

Hello Surya,

This issue is already fixed by an open pull request - I recommend
finding another unassigned Easyfix issue.

[2017-06-04 05:24] surya-prakash-susarla commented on #1488
Thanks four the update could you help me with some other questions also?

On 4 Jun 2017 00:58, "Randy Barlow" <notifications@github.com> wrote:

On Sat, 2017-06-03 at 04:55 -0700, Surya Prakash Susarla wrote:

Hello Surya,

This issue is already fixed by an open pull request - I recommend
finding another unassigned Easyfix issue.

—
You are receiving this because you commented.
Reply to this email

[2017-06-06 17:43] #1489 closed, assigned to bowlofeggs

[2017-06-06 17:43] #1488 closed, assigned to bowlofeggs

[2017-06-06 18:46] ralphbean commented on #1328
It's unclear to me what needs to happen here.

This should inherit the new output stuff added in #1327 which will *display* the content-type.

Maybe all we need is a cli switch to *search* for stuff by content-type?

[2017-06-06 18:56] ralphbean commented on #1328
Should be straightforward:

[code]

[2017-06-06 20:07] #1378 closed, assigned to nobody

[2017-06-06 22:46] ryanlerch commented on #213
Just verified that the graph now seems to be working as expected.

The values shown in this graph seem to be the just updates in Stable, and the values seem accurate across all releases shown in Bodhi now.

[2017-06-06 22:46] #213 closed

[2017-06-06 22:57] ryanlerch commented on #162
@kparal not sure if this was added after your initial filing of this issue, but the docstring for bodhi.client.bindings.query(builds=) has a pretty substantial docstring now.

https://github.com/fedora-infra/bodhi/blob/develop/bodhi/client/bindings.py#L204

Does that docstring currently answer your questions, or do you think more detail in there is still required?

[2017-06-07 05:05] ryanlerch commented on #372
Is this one still an issue that should be addressed? Or can it be closed now?

[2017-06-07 05:55] ryanlerch commented on #1038
Just a few questions on this one.

1. Does the push from testing to stable get done automatically? or is this something that is done only by a person using this procedure -- https://fedora-infra-docs.readthedocs.io/en/latest/sysadmin-guide/sops/bodhi.html#pushing-updates

2. Does bodhi have any knowledge of if a release is currently in a freeze? I couldn't find any references to this in the codeba

[2017-06-07 05:57] ryanlerch commented on #1038
It would also be nice to have some sort of notification or label or something on this page if a release is in Freeze too:

https://bodhi.fedoraproject.org/releases/F26

[2017-06-07 12:14] kparal commented on #162
I think I don't need this anymore anyway. Thanks, though.

[2017-06-07 12:14] #162 closed

[2017-06-07 13:33] #1327 closed, assigned to bowlofeggs

[2017-06-07 13:48] bowlofeggs commented on #1328
On Tue, 2017-06-06 at 11:46 -0700, Ralph Bean wrote:

Yeah I have been feeling some of that uncertainty myself.

Agreed.

That sounds good to me. We could just do that for starters, and if we
later discover that more is needed we can just add it at that time.

[2017-06-07 14:01] kparal opened #1588 "default vagrant env crashes with OOM during test suite"
After recent changes, it seems that 4G RAM is not enough for the vagrant VM:
[code]

[2017-06-07 14:14] #1328 closed, assigned to nobody

[2017-06-07 14:54] bowlofeggs commented on #213
Thanks @ryanlerch!

[2017-06-07 14:58] bowlofeggs commented on #1038
On Tue, 2017-06-06 at 22:55 -0700, Ryan Lerch wrote:

I believe it is done by a person and not by Bodhi.

Bodhi doesn't currently have knowledge of the freeze, though there
would be obvious benefits to teaching it about them. I think Product
Definition Center might be able to help with this in the future? Not
sure.

[2017-06-07 15:03] bowlofeggs commented on #1588
Cool, I'll just bump up the RAM by another GB for now. One of these days we really need to figure out why the tests use so much memory.

[2017-06-07 16:33] #1329 closed, assigned to bowlofeggs

[2017-06-08 10:49] #1588 closed, assigned to bowlofeggs

[2017-06-08 17:04] bowlofeggs commented on #882
This was fixed by #1561.

[2017-06-08 17:04] #882 closed, assigned to nobody

[2017-06-09 10:36] puiterwijk commented on #961
This is a duplicate of #717.

[2017-06-09 10:36] #961 closed, assigned to nobody

[2017-06-09 15:19] #1441 closed, assigned to ryanlerch

[2017-06-13 03:50] ryanlerch opened #1594 "Any logged in user can create or expire a buildroot override for any package"
Currently, any logged in user is able to create a buildroot override for any package. AFAICT, we don't check any ACLs from packageDB when doing buildroot overrides. Note too that this also allows any logged in user to expire a buildroot override that someone else has created.

The only reason why the non-logged in user couldnt create a buildroot override was due to the exception raised in #1541

[2017-06-13 03:58] ryanlerch commented on #1563
Related: #1038

[2017-06-13 14:57] bowlofeggs opened #1597 "bodhi.server.util.taskotron_results doesn't use a timeout on its call to requests.get()"
bodhi.server.util.taskotron_results should use a timeout on its call to requests.get() so that it won't hang indefinitely if there are issues communicating with resultsdb. 60 seconds is probably reasonable.

[2017-06-13 16:02] bowlofeggs commented on #1594
I do believe that due to your recent fix, Bodhi does now enforce that the user be a packager (i.e., not just logged in but also a member of a packager group).

I think the permissions might be intentionally this way. A lot of packagers depend on packages that they don't have ACLs on, and they may need to build their packages against a version of a dependency that isn't yet stable. Allowing them to

[2017-06-13 17:12] bowlofeggs opened #1599 "Get mcurlej access to composer.stg.phx2.fp.o"

[2017-06-13 17:13] ralphbean commented on #1599
https://apps.fedoraproject.org/datagrepper/id?id=2017-589c7f96-db85-4f39-b86a-a7d9892a3ebc&is_raw=true&size=extra-large

[2017-06-13 17:14] bowlofeggs opened #1600 "[nice-to-have] Create a Pungi Python API so Bodhi can drive Pungi via Pungi functions"
Bodhi currently can only use Pungi by writing config files and calling it via subprocess. It'd be nice if Bodhi could use Pungi via a native Python API.

[2017-06-13 17:16] bowlofeggs opened #1601 "Pungi needs to be able to create deltarpms from a previous compose"
We don't actually need this on the first pass, but we will need it eventually.

[2017-06-13 17:18] ralphbean commented on #1599
Filed infra ticket to sync prod fas to stg:  https://pagure.io/fedora-infrastructure/issue/6106

[2017-06-13 17:18] bowlofeggs opened #1602 "Pungi needs to be able to accept full NSVs of modules in variants-modular.xml"
Pungi’s use of <modules> in [variants-modular.xml](https://pagure.io/pungi-fedora/blob/f26/f/variants-modular.xml) needs to be extended so that the user can optionally specify the full NSV of the module.  Currently, it only takes the name (N) and the stream (S) and it looks up the latest version (V) of that module-stream in PDC.  For Bodhi (and for other use cases; ask ralph) it would be nice to a

[2017-06-13 17:19] bowlofeggs opened #1603 "Ask releng what is special about an updates repo"
ask release engineering if there are any special properties that the updates repo needs to have that the compose repos don’t have.  We only know of updateinfo.xml and deltarpms.
Tell them we want to do f27 modular updates repos with no deltarpms.

[2017-06-13 21:32] rimshaakhan commented on #1597
Hello @bowlofeggs !

I would like to work on this issue, can you please assign it to me. Thanks!

[2017-06-13 23:50] #1541 closed, assigned to nobody

[2017-06-14 00:15] #946 closed, assigned to nobody

[2017-06-14 18:04] bowlofeggs commented on #1597
Hello @rimshaakhan,

I don't think GitHub allows assigning issues to users who are not in the fedora-infra group, but you are certainly welcome to work on this issue (you don't have to be officially assigned to an issue to work on it). Just make sure you end your commit message with a line that says "fixes #1597" when you send your pull request. Thanks!

[2017-06-15 01:48] ryanlerch commented on #1377
+1 for removing the crash.

However, this highlights an issue with the naming of the `bodhi overrides save` command. It is only for *creating* a new override. There is the `bodhi overrides edit` command for editing an existing command.

[2017-06-15 02:17] bowlofeggs commented on #1377
On Wed, 2017-06-14 at 18:48 -0700, Ryan Lerch wrote:

Good point. I think the edit command was added after I filed this issue
(by @cverna). So yeah, probably we should add a "new" command and make
"save" be a deprecated alias for "new". And of course, we shouldn't
traceback, but maybe should just either do what the user wanted (if
it's just changing the expire date, why not do it for them?), or gi

[2017-06-15 02:19] tserafim opened #1607 "Vagrant bootstrap fails during 'bodhi: Setting hostname...'"
I cloned the repo and followed the procedures to create a development environment. After executing vagrant up command, an error occurs:

    ==> bodhi: Setting hostname...
    The following SSH command responded with a non-zero exit status.
    Vagrant assumes that this means the command failed!

    # Update sysconfig
    sed -i 's/\(HOSTNAME=\).*/\1bodhi-dev.example.com/' /etc/sysconfig/network

[2017-06-15 03:05] ryanlerch commented on #1377
Did PR#1608 before i saw @bowlofeggs 's last previous message. Decided to go with a useful message saying to try the edit command.

[2017-06-15 03:17] ryanlerch commented on #1298
I believe this one has been fixed by:

https://github.com/fedora-infra/bodhi/commit/e51402ec5b158514315d615d86fef8bd936d5904
See Also the issue: #1378

AFAICT, this commit makes it so when creating an update with the bodhi-client, autokarma is now disabled unless the --autokarma option is provided

[2017-06-15 03:36] brandongray commented on #1607
Yep, I'm seeing the same issue.  I haven't looked too much into it but have noticed a `vagrant reload` will continue on with the provisioning.  Although, I see one of the ansible tasks fails with a python exception.

[2017-06-15 04:11] ryanlerch commented on #812
AFAICT, `--show-expired` was an option in the old Bodhi1 CLI. Running `bodhi --show-expired` now yields:

[code]

[2017-06-15 04:11] #812 closed

[2017-06-15 14:47] bowlofeggs commented on #1607
I am not able to reproduce this issue myself. What host OS are each of you running, and what versions of vagrant and vagrant-libvirt do you have? Also, do you have the same checksum that I do here?

[code]

[2017-06-15 16:05] ralphbean commented on #1599
He's in!

[2017-06-15 16:05] #1599 closed, assigned to ralphbean

[2017-06-15 17:14] tserafim commented on #1607
I am using a Fedora 25 host. My vagrant  and vagrant-libvirt versions matches the ones on your post.
The checksum also matches.

    sha512sum ~/.vagrant.d/boxes/f25-cloud-libvirt/0/libvirt/box.img
    3866b6e7aa587e6a8aa41df93bb88c5226a6e131d435ddcd6d39764ec5aba281a73a011d1ca1b827e424ebdfc5c26451cfb15b2c55a4f635a7a0d9ef4d47dd0a  /home/serafim/.vagrant.d/boxes/f25-cloud-libvirt/0/libvirt/box.img

[2017-06-15 21:38] bowlofeggs opened #1611 "Test failure during Rawhide rpmbuild"
When attempting to build a 2.8.0 beta RPM, I got a traceback:

[code]

Since a source checkout cannot reasonably have a place for mashing, I will probably just change the defaults for these two settings to ```None```. The defaults were kinda made up anyway.

[2017-06-15 23:13] bowlofeggs commented on #1298
Ah yes, I believe this was fixed by https://github.com/fedora-infra/bodhi/issues/1583. Thanks @ryanlerch!

[2017-06-15 23:13] #1298 closed, assigned to nobody

[2017-06-15 23:34] bowlofeggs commented on #1607
What error do you see when the database migrations are applied?

[2017-06-15 23:48] bowlofeggs opened #1615 "Test failures on Fedora 26"
Several tests fail when run on Fedora 26 with tracebacks like this:

[code]

I first discovered this when trying to build Bodhi in Koji. Curiously, the tests pass on Rawhide. It is possible to reproduce this with the Vagrant environment by setting these values in your Vagrantfile:

[code]

You will also have to remove python3-diff-cover from the dev playbook because that package was apparently ret

[2017-06-15 23:59] bowlofeggs commented on #1615
It seems that somewhere in the dependency stack, some code started disallowing text to be ```str``` objects, now requiring ```unicode``` objects.

[2017-06-16 00:09] bowlofeggs commented on #1615
Ah, we are hitting this bug:

https://github.com/Pylons/pyramid_tm/issues/49

[2017-06-16 01:36] tserafim commented on #1607
I did a dnf upgrade on my host machine and several packages related to libvirt were upgraded. After that, I did a vagrant destroy and vagrant up, and the error related to `==> bodhi: Setting hostname...` does not happen anymore.

List of updated packages:

    Upgraded libvirt-2.2.1-1.fc25.x86_64                                     @updates
        Upgraded libvirt-client-2.2.1-1.fc25.x86_64

[2017-06-16 03:10] brandongray commented on #1607
FWIW, I'm updated to libvirt* 2.2.1-2 and still seeing both issues.

[2017-06-16 06:56] mcurlej commented on #1599
@ralphbean @bowlofeggs i have my account and i can connect via SSH to composer.stg.phx2.fedoraproject.org

[2017-06-16 14:19] brandongray commented on #1607
I see this same hostname error in another project (cockpit) and have found some others with the same issue (potentially in box race condition).  As for the ansible/alembic error, it looks like the directories just need to exist (mkdir -p masher/mash).  It's in .gitignore so I'm guessing that's why @bowlofeggs couldn't reproduce.

[2017-06-16 16:47] bowlofeggs opened #1616 "Evaluate whether Bodhi can drop pyramid-tm"
Bodhi stopped using transaction a couple of releases ago, in favor of using sqlalchemy transactions directly. Bodhi no longer imports ```transaction```, but it does still activate ```pyramid_tm``` in it's ```production.ini``` and ```development.ini.example``` files.

I am pretty sure we can just stop using it, but we should do some due diligence and make sure we understand it fully before doing so

[2017-06-16 16:47] bowlofeggs commented on #1615
I am fixing this in Fedora's python-pyramid-tm:

https://bugzilla.redhat.com/show_bug.cgi?id=1462252

However, we probably also don't need pyramid-tm in Bodhi since we don't use transaction anymore. I have filed #1616 about looking into that further. I will close this ticket once Fedora 26 is fixed.

[2017-06-16 17:00] tserafim commented on #1607
@brandongray indeed, ansible provisioning was succesfull after creating those folders.

[2017-06-16 17:30] bowlofeggs commented on #1607
@tserafim you are in luck with the new error - I actually just happened to notice that one yesterday, and I have an open PR to fix it:

https://github.com/fedora-infra/bodhi/pull/1612

[2017-06-16 18:56] bowlofeggs commented on #1615
This has been resolved by https://bodhi.fedoraproject.org/updates/FEDORA-2017-051fec84db

[2017-06-16 18:56] #1615 closed, assigned to bowlofeggs

[2017-06-16 20:03] #1338 closed, assigned to nobody

[2017-06-17 02:17] bowlofeggs opened #1618 "BDR warns about tables with secondary uniqueness constraints"
BDR warns about some uniqueness constraints in Bodhi:

[code]

We need to examine these and decide what to do.

[2017-06-17 02:28] #1166 closed, assigned to bowlofeggs

[2017-06-17 02:35] #1457 closed, assigned to nobody

[2017-06-17 14:40] bowlofeggs opened #1619 "The home page doesn't show stats for branched releases"
The home page doesn't show stats for branched releases, for example, Fedora 26 at the time of this writing.

[2017-06-17 15:13] keszybz commented on #1619
I think this *might* be on purpose: in the drop-down menu, F26 is separated at the bottom. Nevertheless, I think that's a bad choice, because most of the users of that page are Fedora packagers and testers, for whom branched is of primary interest.

[2017-06-18 15:00] bowlofeggs opened #1620 "Mouseovers on home page could tell users what the update type counts mean"
langdon requested that we add mouseovers on the home page update-type counts to explain what they mean. We could write something like "There are 511 stable security updates in Fedora 25.", for example.

[2017-06-18 15:44] langdon commented on #1620
Specifically, to clarify what the icons mean on the breakdowns (which is on the interior pages)

[2017-06-18 22:26] rimshaakhan commented on #1620
Hey @bowlofeggs !  I would like to raise a PR .
Thanks!

[2017-06-19 04:10] ryanlerch commented on #811
The Bodhi CLI has changed since this issue was filed, but the --mine is not implemented in the new CLI for updates. There is an open issue for --mine on overrides too ( #1382  )

[2017-06-19 13:21] ryanlerch commented on #1188
bodhi-client has built in support for bash-completion via click.

currently, if you enable it via this line in your bashrc:

[code]

it works. However, when testing on the vagrant install, every completion throws up a bunch of warnings:

[code]

[2017-06-19 14:46] bowlofeggs opened #1624 "Koji kerberos argument must be str, not unicode"
The Bodhi staging environment is upset about being given a unicode parameter for one of Koji's krb settings:

[code]

This is due to the recent configuration refactor I did. We just need to make sure Koji krb settings are strs instead of unicodes.

[2017-06-19 18:59] bowlofeggs opened #1626 "'NoneType' object has no attribute 'name' when editing an expired override with the CLI"
I received the following traceback when trying to edit an expired override (to extend/unexpire it):

[code]

The server also had a traceback, which revealed that I had not authenticated:

[code]

This may be connected to and may be fixed by https://github.com/fedora-infra/bodhi/pull/1566. Thus, there may be nothing to do, but I wanted to file this ticket so we could follow up and ensure that there

[2017-06-19 19:57] bowlofeggs commented on #1620
I noticed today that the center column (about testing updates) on the updates do have mouseovers, but the pending and stable ones do not.

[2017-06-19 19:57] bowlofeggs commented on #1620
@rimshaakhan Go for it!

[2017-06-19 20:12] bowlofeggs commented on #1188
On Mon, 2017-06-19 at 06:21 -0700, Ryan Lerch wrote:

I think this will get us part of the way there, but I think we can
probably do something fancy to add more. For example, you can do this
with click:

$ bodhi upda<TAB>

and get:

$ bodhi updates

However, I think it'd be super cool to do dynamic tab completion. For
example:

$ bodhi updates new bodhi-2.7.<TAB>

Where it queries Bodhi for possib

[2017-06-20 04:18] #1377 closed, assigned to nobody

[2017-06-20 04:49] ryanlerch commented on #376
This issue seems to be filed against the old version of Bodhi CLI. Are you still encountering this issue with the new bodhi2 CLI -- i.e. the command is now `bodhi updates new`.

[2017-06-20 04:54] ryanlerch commented on #360
This issue is filed against the old, deprecated version of Bodhi CLI. Are you still encountering this issue with the new bodhi2 CLI -- i.e. the command is now `bodhi updates query --releases=f23 --packages=abrt`.

[2017-06-20 10:07] ryanlerch commented on #1015
Unable to recreate this one, searching for "memtest86+" on the web UI on does return results as expected.

[2017-06-20 14:47] mcurlej commented on #1602
https://pagure.io/pungi/pull-request/652

[2017-06-20 16:26] robatino commented on #1015
Still broken for me. Entering "memtest+" in the search box at https://bodhi.fedoraproject.org returns no results, the same result if I go directly to https://bodhi.fedoraproject.org/updates/?packages=memtest86+ . Immediately after typing "memtest86+", it DOES show a memtest86+ entry as a package, but even if you select that, it then gives no search results.

[2017-06-20 16:34] robatino commented on #1015
I just noticed that after typing "memtest86+", it not only shows "memtest86+" as a result, but also specific versions (but only after a long delay), and if you select one of those, THEN you get the page for that specific version. I didn't wait long enough to see them before. In any case, it's still broken in that you should be able to see all memtest86+ versions simultaneously by either clicking o

[2017-06-20 16:42] robatino commented on #1015
It works for any package without special characters. For example, if you enter "kernel", you'll initially see three package names with "kernel" in them, including "kernel". If you wait around 30 seconds, you'll see specific kernel versions as well. If you don't wait, but immediately select "kernel" and hit enter, you see the bodhi page https://bodhi.fedoraproject.org/updates/?packages=kernel showi

[2017-06-20 17:57] #1611 closed, assigned to bowlofeggs

[2017-06-20 19:47] #1624 closed, assigned to bowlofeggs

[2017-06-21 11:47] ryanlerch commented on #1015
Thanks for the Additional Information.

The issue here is specifically with the query page, and the fact that the + is not escaped properly. The Search box itself is returning proper results. The following page is probably what we need to escape this to:

https://bodhi.fedoraproject.org/updates/?packages=memtest86%2B

[2017-06-21 15:36] bowlofeggs commented on #1157
@crungehottman is going to work on this!

[2017-06-21 16:45] bowlofeggs opened #1634 "Configuring pkgtags_url is disasterous for mashes"
We [learned today](https://github.com/fedora-infra/bodhi/pull/1633) that setting the configuration for ```pkgtags_url``` to any "truthy" value causes a [severe bug](https://bugzilla.redhat.com/show_bug.cgi?id=1463561) for Fedora and EPEL. According to @puiterwijk, the pkgtag feature has never worked correctly and it is recommended that the feature be killed.

The code that does this lives in [```b

[2017-06-21 17:07] bowlofeggs opened #1635 "Put versions back into e-mail subjects"
In https://github.com/fedora-infra/bodhi/pull/1561 we made it so update e-mail subjects use the new beautify title code (which is very nice), but inadvertently we also stopped including version info on the packages and now only list the package names. It has been requested that we bring back the versions into e-mail subjects, so we should modify the new beautify title to have an ```nvr``` flag (de

[2017-06-21 17:22] bowlofeggs opened #1636 "The new scm_url is experiencing uniqueness clashes"
Message
-------
[2017-06-21 06:28:28][    fedmsg   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend02.phx2.fedoraproject.org
- PID:      30534
- name:     fedmsg-hub
- command:  /usr/bin/python /usr/bin/fedmsg-hub
- msg_id:

Callstack that lead to the logging statement
--------------------------------------------
[code]
[code]

[2017-06-22 01:49] ryanlerch commented on #1620
Whoops! Sorry about that. For some reason, i didnt add titles to the icons for the Pending and stable ones.

adding a title, and activating the bootstrap tooltips is what needs to be added here, e.g: `title="New Package updates" data-toggle="tooltip"`

[2017-06-26 02:32] ryanlerch commented on #1031
we now use python-bleach (PR #1560 ) to sanitize the comment markdown input. Bleach escapes the html entities, rather than inserting the Raw HTML not allowed message.

[2017-06-26 02:32] #1031 closed, assigned to nobody

[2017-06-26 07:54] mcurlej commented on #1602
@bowlofeggs The pull request in pagure was merged. I think this can be closed.

[2017-06-26 10:09] voxik opened #1649 "Ticket should not be closed if its state is not ON_QA"
There was rhbz#1447658 included in bodhi update. I tested the update and the issue was not resolved. Hence, I changed the state back to NEW. But Bodhi don't hesitate to close such issue. This is wrong. It should keep the issue untouched if it is not in ON_QA.

Additionally, I think that change of the state of ticket associated with update should prevent push to the stable until the maintainer eith

[2017-06-26 15:13] #1319 closed, assigned to nobody

[2017-06-26 15:21] #1188 closed, assigned to nobody

[2017-06-26 15:58] bowlofeggs commented on #1602
Thanks!

[2017-06-26 15:58] #1602 closed, assigned to nobody

[2017-06-26 16:09] #632 closed

[2017-06-26 17:05] bowlofeggs commented on #360
I'm going to close this. If you can reproduce with bodhi-2.8.1 or newer, please feel free to reopen!

[2017-06-26 17:05] #360 closed

[2017-06-27 05:23] #376 closed

[2017-06-28 08:10] jhutar opened #1656 "incorrectly escaped description of an update"
Hello,
I have just submitted this update (note that is contains `<dcallagh@redhat.com>` in the description:

[code]

Looking at the web there is `&lt;dcallagh@redhat.com>` and the link leads to invalid URL

[2017-06-28 10:34] decathorpe opened #1657 "update email notifications no longer contain NEVR in the subject"
Previously, the full NEVR of the update was part of the subject line, which resulted in e-mail clients neatly organizing all emails for one update into one thread. Now all updates for the same package (regardless of version, release) are sorted into the same thread (because of the same subject line).

[2017-06-28 13:15] ryanlerch commented on #1657
Thanks for taking the time to report this issue! Good news, this one has already been reported and fixed in develop, and will be included in the next release of bodhi.

Duplicate of #1635

[2017-06-28 13:15] #1657 closed, assigned to nobody

[2017-06-28 13:18] #1594 closed, assigned to nobody

[2017-06-28 15:36] bowlofeggs opened #1659 "The right edge of the home page release stats doesn't line up with the top testers stats"
The right edge of this picture shows what I mean:

![delme](https://user-images.githubusercontent.com/354506/27646144-ddf281fa-5bf5-11e7-9880-467bc4c1abd4.png)

[2017-06-28 15:51] bowlofeggs commented on #939
We have some example documentation now.

[2017-06-28 15:51] #939 closed, assigned to nobody

[2017-06-28 21:25] bowlofeggs opened #1661 "Delay autokarma pushes on old branches until new branches have appropriate requests"
This issue was [originally filed](https://bugzilla.redhat.com/show_bug.cgi?id=1281536) in Red Hat's Bugzilla by Andy Lutomirski:

Sergio Monteiro Basto further commented that Taskotron could help with this (it does test for it, and @kparal has recently been working on getting Bodhi's backend to gate based on Taskotron results):

[2017-06-29 07:28] ryanlerch commented on #396
@kalev is this one still an issue? Just checked a couple of updates of mine that are in Stable, and the edit and push buttons are not displayed anymore.

[2017-06-29 07:32] ryanlerch commented on #563
From the comments above, this one appears to have been fixed. so I am going to close it.

Feel free to re-open if it is still an issue.

[2017-06-29 07:32] #563 closed

[2017-06-29 07:58] kparal commented on #1661
Yes, that would be a great feature. Maintainers should probably be able to override that though, e.g. during periods of Branched freezes (otherwise updates would be frozen even for stable releases), or for security updates.

[2017-06-29 08:09] kalev commented on #396
Seems to be working right here too. Thanks.

[2017-06-29 08:09] #396 closed

[2017-06-29 11:33] #852 closed, assigned to nobody

[2017-06-29 12:03] kparal opened #1663 "bodhi config hasn't been updated in production"
When looking into Fedora infra ansible, I still see this:

[code]
But it should be (per current `production.ini`):
[code]
As you can see, old values are still used. I believe the config needs to be updated in ansible and deployed so that the changes are applied to Bodhi servers.

[2017-06-29 12:18] mcurlej commented on #1603
@bowlofeggs @ralphbean  the only diff is the updateinfo.xml, everything else is the same as with just a "normal" created repo. Btw the mash is in general just a repo generated by mash + updateinfo added on top by bodhi.

[2017-06-30 00:09] ryanlerch commented on #740
@nirik any idea what the original message to change was/is?

[2017-06-30 02:05] ryanlerch commented on #891
There has been a number of changes to how these results are pulled from taskotron in the past few releases. Is this one still an issue?

[2017-06-30 02:06] #878 closed, assigned to nobody

[2017-06-30 02:12] ryanlerch commented on #873
In the Builds tab of an update, the NVR is now a link to the koji build.

[2017-06-30 02:12] #873 closed, assigned to nobody

[2017-06-30 02:14] ryanlerch commented on #869
Pretty sure this one is fixed now in the new webUI. Feel free to open if it is still an issue.

[2017-06-30 02:14] #869 closed, assigned to nobody

[2017-06-30 02:16] ryanlerch commented on #859
Duplicate of #224

[2017-06-30 02:16] #859 closed, assigned to nobody

[2017-06-30 02:19] ryanlerch commented on #708
This is supported as @dhgutteridge explained above. It is also explained in the pop-up that is shown if you click on the "Fedora Flavored Markdown" link below the description field when creating and update or submitting a comment.

[2017-06-30 02:19] #708 closed

[2017-06-30 07:13] kparal commented on #891
This should be resolved now. Bodhi does no longer pull the list of all available testcases, instead it checks for existence of just those specified.

[2017-06-30 07:28] #891 closed, assigned to nobody

[2017-06-30 12:34] ryanlerch commented on #715
This has now changed in the UI refresh. There is now coloured tags with +1 and -1 in where there used to be a grey tick and grey cross.

[2017-06-30 12:34] #715 closed

[2017-06-30 14:46] #1659 closed, assigned to nobody

[2017-06-30 16:21] keszybz opened #1665 "duplicated comments about package being pushed to stable"
I noticed this on all recent updates. Taking https://bodhi.fedoraproject.org/updates/FEDORA-2017-956e27bdd6 as an example, I got the following mails:

[code]

[code]
The web interface shows the comment just one time, so maybe it's just the notification mechanism that is confused.

[2017-06-30 19:41] bowlofeggs commented on #1515
We plan to use [Greenwave](https://pagure.io/greenwave) as the "source of truth" for whether updates pass CI tests. There is [one issue](https://pagure.io/greenwave/issue/26) that blocks work on this ticket. Also, since the [Greenwave response's schema is undocumented](https://pagure.io/greenwave/issue/25), I am including a link to a demo that shows an example call/response or two:

https://fedora

[2017-06-30 19:42] bowlofeggs commented on #1514
This is blocked on https://pagure.io/greenwave/issue/26.

[2017-06-30 20:28] bowlofeggs commented on #1663
Thanks for the report @kparal!

Since this is a deployment concern I've refiled this issue in the infra ticket system so we can track it there"

https://pagure.io/fedora-infrastructure/issue/6142

I asked a question for you there, if you have a moment to answer. Thanks again!

[2017-06-30 20:28] #1663 closed, assigned to nobody

[2017-06-30 20:32] bowlofeggs commented on #1603
On Thu, 2017-06-29 at 12:18 +0000, Martin Curlej wrote:

Cool, thanks for answering the question - I'd asked a few times in the
#fedora-releng channel but haven't gotten an answer. I'm gonna close
this issue.

[2017-06-30 20:32] #1603 closed, assigned to nobody

[2017-06-30 20:59] bowlofeggs commented on #1665
This is a duplicate of https://github.com/fedora-infra/bodhi/issues/1403 so I'm going to close this one. Thanks for reporting!

[2017-06-30 20:59] #1665 closed, assigned to nobody

[2017-07-01 14:33] nirik commented on #740
See for example: https://bugzilla.redhat.com/show_bug.cgi?id=1463975#c2

[code]
So, Id say change the middle line to something like:

Use 'dnf update https://kojipkgs.fedoraproject.org/packages/python-fedimg/0.7.2/1.fc24/data/signed/81b46521/noarch/python-fedimg-0.7.2-1.fc24.noarch.rpm' to install this package to test. See https://fedoraproject.org/wiki/QA:Updates_Testing for
further information o

[2017-07-01 16:39] bowlofeggs opened #1666 "The pydocstyle tests do not work with tox"
I noticed today that the pydocstyle tests do not actually check the paths that are given. I noticed that deleting a docblock from ```bodhi/server/views/generic.py``` doesn't cause any errors when btest is run, and adding all of bodhi to the ```match``` argument in ```tox.ini``` doesn't cause any failures (and should cause plenty).

[2017-07-01 16:43] bowlofeggs commented on #1666
I believe this is due to the use of the ```--match``` argument. The old ```test_style.py``` test didn't use ```--match```, but just passed the list of paths to enforce as positional arguments to pydocstyle. The ```--match``` argument is meant to be a regex rather than a list of paths.

[2017-07-01 17:35] bowlofeggs commented on #1666
There ended up being two problems - in addition to the positional arguments, the ```--add-ignore``` option was changed to ```--ignore```. This caused the default list of checks to include a whole set of tests that weren't run before, and so there were quite a lot of failures. I didn't initially realize that this was the problem, so I ended up fixing a few of them even though I don't think they nee

[2017-07-03 01:17] vedsarkushwaha commented on #1656
I think I can fix this.
Is there any way to reproduce this issue.

[2017-07-03 01:27] vedsarkushwaha commented on #1656
Understood.
https://bodhi.fedoraproject.org/updates/FEDORA-2017-7e594f96bb
URL needs to be fixed.

How can I edit the HTML?

[2017-07-03 09:42] voxik commented on #1415
BTW if the template was improved to provide some example of multiline notes, that would reduce the parsing issues (at least on my side ;) )

[2017-07-03 18:16] bowlofeggs commented on #717
One problem that will arise if we fix this is that negative karma won't be counted if it is accepted. Imagine that an update is being mashed and then 10 people -1 it. It will be confusing when the -7 update goes to stable since Bodhi accepted the 10 -1's before marking it as stable.

@nirik suggested accepting comments into a queue so that the UI at least responds to the comments, but also indicat

[2017-07-03 18:44] bowlofeggs commented on #1636
This hasn't happened in a while now. I'm not sure why it happened, but I'm going to close it for now. I'll reopen it if it returns.

[2017-07-03 19:10] #436 closed

[2017-07-03 19:10] #461 closed

[2017-07-03 19:10] #1015 closed, assigned to nobody

[2017-07-03 20:03] bowlofeggs commented on #1415
@voxik The template is coming from fedpkg:

https://pagure.io/fedpkg/blob/1.28/f/fedpkg/cli.py#_98

The template is an INI file, and as far as I know there is not a way to express newlines in INI files. We could modify Bodhi so that it can accept a new format (perhaps [toml](https://github.com/toml-lang/toml)) in addition to INI that does accept new lines. If you are interested in that as a featur

[2017-07-03 20:22] bowlofeggs commented on #1656
Hello @vedsarkushwaha - the update template is here: https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/templates/update.html

[2017-07-03 20:26] voxik commented on #1415
https://docs.python.org/3/library/configparser.html#supported-ini-file-structure

[code]

[2017-07-03 20:44] bowlofeggs commented on #1415
@voxik I stand corrected! I tried it and it works too.

I suggest filing an RFE (or a pull request!) with fedpkg to add that example:

https://pagure.io/fedpkg

[2017-07-03 21:32] vedsarkushwaha commented on #1656
thanks @bowlofeggs - After making changes, how can I test it?

[2017-07-04 01:17] #372 closed

[2017-07-04 01:22] ryanlerch commented on #255
Is this something that we should still look into? Is rube something that is still in use?

[2017-07-04 01:26] ryanlerch commented on #587
As of the recentish UI refresh, we no longer use the color of the boxes to highlight karma values.

[2017-07-04 01:26] #587 closed

[2017-07-04 01:29] ryanlerch commented on #573
This one seems resolved, so going to close it off. Feel free to re-open if there is something to do here. cheers!

[2017-07-04 01:29] #573 closed

[2017-07-04 01:31] ryanlerch commented on #572
Searching for `zabbix22` works as expected now in the search. Going to close this one off.

Feel free to re-open if you are still experiencing this issue.

[2017-07-04 01:31] #572 closed

[2017-07-04 04:02] ryanlerch commented on #672
Pretty sure this one is fixed in fedora-packages, so closing this one off. Feel free to reopen if this is still an issue.

[2017-07-04 04:02] #672 closed

[2017-07-04 04:28] voxik commented on #1415
Good suggestion. Did that:

https://pagure.io/fedpkg/issue/123

[2017-07-04 12:33] kparal commented on #717
I don't think it will be confusing if you add a note to the comments section that this update is being processed and karma votes have no further effect. Something like this:

[2017-07-05 11:03] #925 closed, assigned to nobody

[2017-07-05 17:54] bowlofeggs commented on #1656
@vedsarkushwaha If you use the Bodhi development environment, you should be able to browse to http://localhost:6543/updates/FEDORA-2017-7e594f96bb and see the change. You can read about how to set up the Bodhi development environment here:

https://bodhi.fedoraproject.org/docs/developer_docs.html

[2017-07-05 19:28] #1666 closed, assigned to bowlofeggs

[2017-07-05 20:26] ralphbean commented on #1514
Are you unblocked now with https://pagure.io/greenwave/pull-request/27 ?

[2017-07-05 20:54] bowlofeggs commented on #1514
@ralphbean Indeed!

[2017-07-05 20:56] bowlofeggs commented on #1513
This is blocked on us knowing what fedmsgs will come and from where for the various ci statuses. We need "something" to send messages on these events:

0. The build will not be tested (skipped).
1. The build is queued for testing.
2. The build is currently being tested.
3. The tests passed.
4. The tests failed.

Do we know what will provide these various messages? Will they all come from Greenwave

[2017-07-05 20:56] bowlofeggs commented on #1513
CC @ralphbean Do you have answers to my above question, and answers for any other problems I may encounter in life?

[2017-07-05 21:11] pypingou commented on #1513
I think these three will come from the CI system, I am not sure if taskotron sends messages when it starts testing an update, would be worth checking.

The other two will be also sent by the CI system but we should ignore them and just act on the messages from greenwave

[2017-07-06 10:34] #1619 closed, assigned to ryanlerch

[2017-07-06 12:49] ryanlerch commented on #1656
I *think* this escaping is the result of two things to do with the markdown support. WE use bleach to sanitize markdown input from the user before we parse the markdown. Bleach is used here to strip out _all_ tags before passing it to the markdown parser.

Our markdown parser also has a regex in it that linkifies some things, which i *think* might be adding to our issues here as well.

Note that y

[2017-07-06 14:51] jasontibbitts opened #1672 "RFE: When logged in, show my pending updates on the front page"
I've always found it odd that I have to look at my profile to see the status of the updates I've submitted while the front page always shows generic information even when I'm logged in.  It it possible to have the front page show important information like that when I'm logged in, even if it's just a summary or a bootstrap notification at the top telling me that I have X updates that can be pushed

[2017-07-06 15:29] ralphbean commented on #255
I don't think anyone is using it currently.

The automated job (that no one is checking) runs here:  https://jenkins.fedorainfracloud.org/job/fedora-rube/

[2017-07-06 15:47] jasontibbitts opened #1673 "RFE: Occasional emailed summary of submitted updates"
I keep forgetting about my pending updates.  I don't do Fedora work for a living so I squeeze it in when I get a chance, and sometimes I will submit an update and then completely forgot that I did so within the 3/7/14 day (+ push time) testing period.

I know I get an email after that testing period expires.  But it's only one single email, and I get an extremely large amount of email.  Even with

[2017-07-06 19:04] bowlofeggs commented on #1672
I like this idea, thanks!

[2017-07-06 19:06] bowlofeggs commented on #1673
I also like this idea. We could make it a setting in the upper right so people don't get upset about the reminders (similar to how you can turn off the pop ups in the UI).

[2017-07-06 19:14] bowlofeggs commented on #1513
@pypingou Cool, that sounds reasonable to me. I have a few follow up questions that we'll want to answer in order to get started on coding:

1. What will the message topics be for the various messages?
2. Similarly, what will the message schema be?

It's tricky to get started with coding unless we know those things. Is CI running anywhere yet that we can see real messages? If it were, that would h

[2017-07-06 19:15] bowlofeggs commented on #1513
@ralphbean Will Greenwave be emitting fedmsgs as tests pass, or does Greenwave only react to web requests? I.e., is it "passive" or "active", if that makes sense?

[2017-07-06 22:52] keszybz commented on #1672
+1. It would be really great in the listing of updates to be able to see which are "actionable" updates, i.e. the ones which already passed the push criteria.

[2017-07-07 05:55] pypingou commented on #1513
The end part of the topic as well as the structure is defined at: https://github.com/CentOS-PaaS-SIG/ci-pipeline/#message-bus if something change we should report it to them but I think that's what I based my work on and it worked :)

[2017-07-07 07:59] c72578 opened #1674 "libravatar.org, CSRF verification failed"
How to reproduce:
https://bodhi.fedoraproject.org/
Login
Your Profile
Click on your avatar picture
https://www.libravatar.org/openid/login/

The following error appears:
Forbidden (403)
CSRF verification failed. Request aborted.

How reproducible: always

Version: Running bodhi-2.8.1 on bodhi04.phx2.fedoraproject.org

[2017-07-07 16:14] bowlofeggs commented on #1513
@pypingou great! OK I have one more question (sorry for so many) - where can we look up whether builds are skipped if we miss the fedmsgs?

[2017-07-07 17:39] bowlofeggs commented on #1674
We probably need to use a different URL on that link. Thanks for the report!

[2017-07-09 21:57] vedsarkushwaha commented on #1656
According to wiki, there are 2 ways to setup bodhi. None of them works for me.
Following command fails while following the steps:
For the Method 1:
cp Vagrantfile.example Vagrantfile says "Vagrantfile.exmple doesn't exist". Infact there was no Vagrantfile.example in the directory.

For the Method 2:
"alembic upgrade head" throws error "ImportError: No module named cornice.validators"

[2017-07-10 07:08] pypingou commented on #1513
Currently it's in ccsdb, but ultimately this should be in resultsdb as well

[2017-07-10 14:21] bowlofeggs commented on #780
This was fixed in https://github.com/fedora-infra/bodhi/pull/1584

[2017-07-10 14:21] #780 closed

[2017-07-11 15:23] bowlofeggs commented on #1330
I believe @mcurlej is working on this.

[2017-07-11 19:03] bowlofeggs opened #1679 "The CLI seems to have lost the ability to query overrides by attributes other than user"
It used to be possible to query overrides by package name, and possibly other attributes. The current CLI only allows querying by user:

[code]

I'm going to mark this as high priority since it is a regression.

[2017-07-11 20:41] bowlofeggs commented on #1656
@vedsarkushwaha ```Vagrantfile.example``` is part of the repo:

https://github.com/fedora-infra/bodhi/blob/develop/Vagrantfile.example

The error message you quoted has a typo in it ("exmple" instead of "example") - is it possible that is the problem?

As for the cornice error - what version of cornice do you have? Bodhi doesn't work with Cornice 2 yet, perhaps you are on a newer version? I'm not

[2017-07-12 05:56] matt8754 opened #1682 "500 Server Error when enabling CI"
If ci.required is set True, visiting one of the existing update will occur 500 Server Error

500 Server Error

Traceback (most recent call last): File "/usr/lib/python2.7/site-packages/pyramid_mako/__init__.py", line 148, in __call__ result = template.render_unicode(**system) File "/usr/lib/python2.7/site-packages/mako/template.py", line 471, in render_unicode as_unicode=True) File "/usr/lib/pytho

[2017-07-12 05:57] pypingou commented on #1682
I got the patch for this

[2017-07-12 05:57] matt8754 commented on #1682
@pypingou , you are so quick, I was about to write a patch for this, :-)

[2017-07-12 05:59] pypingou commented on #1682
I had it from before, it was just laying on my git repo and I was reminding myself for a few days that I should submit it, you're just the trigger I needed :)

[2017-07-12 06:00] matt8754 commented on #1682
Nice, 👍

[2017-07-12 15:25] bowlofeggs opened #1685 "Bodhi needs to support alternative arches in mash config files"
Currently Bodhi has a mash config file per release per repo (updates, updates-testing). This has worked historically, but starting with Fedora 26 there are alternative arches in Bodhi. Alternative arches are stored in a different filesystem path on ```bodhi-backend01```. That means that having a single [mash config file](https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/bodhi2/b

[2017-07-16 15:54] Debjeeti20 commented on #1402
home page must be simple with a some advanced option for developers if they want to customize their own home page as their wish

[2017-07-17 13:58] bowlofeggs opened #1688 "The new batched migration fails to run under BDR"
Bodhi's [auto-DDL BDR locking](https://github.com/fedora-infra/bodhi/blob/a5d6b4eac337fd5288f3b96b5446b4704e518384/alembic/env.py#L84) doesn't seem to work with a [recent migration to add a "batched" state](https://github.com/fedora-infra/bodhi/blob/a5d6b4eac337fd5288f3b96b5446b4704e518384/alembic/versions/2a10629168e4_add_request_for_batched_update.py) to the Update.request enum:

[code]

[2017-07-17 14:00] bowlofeggs commented on #1688
My guess is that we might need to manually ask for the DDL lock again in that migration, since it runs a ```COMMIT``` before adding the enum.

[2017-07-17 17:33] bowlofeggs commented on #1688
I have this patch on staging right now:

[code]

However, staging seems unable to get the DDL lock again:

[code]

[2017-07-18 16:50] labbott opened #1692 "Editing a bodhi update re-enables the auto-push checkbox"
If I've turned off auto-push on and update and go to edit it, I notice the auto-push checkbox is checked again. I need to explicitly uncheck it each time, otherwise the update will have auto-push enabled.

I expect the update to keep the auto-push off even with edit.

[2017-07-19 23:17] #1308 closed, assigned to nobody

[2017-07-19 23:17] #1482 closed, assigned to nobody

[2017-07-19 23:17] #1692 closed, assigned to nobody

[2017-07-19 23:44] #692 closed

[2017-07-19 23:44] #997 closed, assigned to nobody

[2017-07-19 23:44] #1258 closed, assigned to nobody

[2017-07-20 12:34] oishommau commented on #870
originally mentioned in #692 (but apparently unrelated to that bug, since not addressed by the fix) -- it's also not possible to find selinux-policy-targeted at all

looking at this again now, it seems like selinux-policy-targeted is a phantom package tied to the selinux-policy package? can anyone explain what's going on here?

should this be a separate bug, or is it related to the issue originall

[2017-07-20 19:00] bowlofeggs commented on #870
Hello @oishommau!

I think what you might be experiencing is the difference between what RPM would think of as a "source package" and a "subpackage". A source package has a 1:1 relationship with a spec file. If you look for selinux-policy in [pkgdb](https://admin.fedoraproject.org/pkgdb/package/rpms/selinux-policy/), you can see that pkgdb is like Bodhi in that it knows about source packages.

How

[2017-07-20 19:53] #811 closed

[2017-07-21 12:52] oishommau commented on #870
thanks for the explanation, however, that still doesn't seem to explain the original issue described -- that a search for "selinux" doesn't produce any results at all. should i split one of these issues into a separate issue?

[2017-07-24 03:55] #1382 closed, assigned to nobody

[2017-07-24 15:26] bowlofeggs opened #1700 "The dev environment is missing a dependency on urlgrabber"
[code]

[2017-07-24 17:24] #1688 closed, assigned to bowlofeggs

[2017-07-24 18:47] bowlofeggs commented on #870
Hello @oishommau!

My comment was in response to your second comment and not really in response to the original report. I agree that it would be ideal if the search box used an ```ilike``` query instead of an exact match query. If you want the search to know about subpackages, feel free to file a new RFE but note that it would not be trivial to add that to Bodhi since Bodhi currently has no knowle

[2017-07-25 01:35] #1679 closed, assigned to ryanlerch

[2017-07-25 01:54] ryanlerch commented on #1674
IMHO, the best thing here is to probably just remove the link altogether to libravatar (for now).

Just dropping the user to libravatar without any explaination is probably not the best thing. We might want to add a link that points to a Fedora Wikipage or Doc that explains how to change your avatar.

But to fix this issue, i think the best bet is to just remove the broken link.

[2017-07-25 07:36] tpopela opened #1708 "Can't push update to stable (days to stable is below zero)"
Hi,

can someone please look at why I was not able to push https://bodhi.fedoraproject.org/updates/webkitgtk4-2.16.5-1.fc24 to stable? There was only Unpush button available and autopush enabled. Could it be related to the "days to stable" that is -13?

I had to ask a colleague to provide a karma to trigger autopush in the end.

[2017-07-25 11:15] ryanlerch commented on #1626
This appears to be fixed in develop client / and server. Just confirmed that i got prompted for my username and password when trying to re-open an expired override.

[2017-07-25 11:15] #1626 closed, assigned to nobody

[2017-07-25 20:12] bowlofeggs commented on #1708
Hello @tpopela,

I was able to use last night's database dump to see the state of the update and figure out what happened. There are a couple of separate bugs here actually, though I think only one of them explains why you were unable to push.

The big problem is that karma is not being counted correctly for critical path updates in the [```meets_testing_requirements()```](https://github.com/fedor

[2017-07-26 02:12] ryanlerch commented on #981
@jeremycline with your recent changes to the tests, can we close this one off?

[2017-07-26 09:51] ryanlerch commented on #259
WE now have API docs, and the Docs are linked to in the footer on Bodhi.

[2017-07-26 09:51] #259 closed

[2017-07-26 09:52] #255 closed

[2017-07-26 09:53] #358 closed

[2017-07-26 09:56] ryanlerch commented on #416
Going to close this one. Any issues with the migration of overrides from bodhi1 are likely not an issue anymore due to age.

[2017-07-26 09:56] #416 closed

[2017-07-26 09:59] ryanlerch commented on #474
@AdamWill is this one still an issue? the Bodhi CLI uses openid now, so i assume this one is no longer an issue.

Feel free to re-open if this is still an issue.

[2017-07-26 09:59] #474 closed

[2017-07-26 10:08] #377 closed

[2017-07-26 10:26] ryanlerch commented on #784
fedora.client.BodhiClient() is now deprecated. however, using the replacement bodhi.client.bindings still fails, returning the following server error:

[code]

The steps to get the error are:

[code]

[2017-07-26 16:57] bowlofeggs opened #1714 "bodhi.server.models.Update.alias should be non-nullable"
Currently, the ```alias``` field on the ```Update``` model is nullable. None of the existing production updates are null, so this isn't necessary or beneficial. Furthermore, there are places in the code that check to see if Update aliases are defined or not, and that log errors if they are not. For example, see [```metadata.py```](https://github.com/fedora-infra/bodhi/blob/2.8.1/bodhi/server/metad

[2017-07-26 19:23] bowlofeggs commented on #1634
Deleting this code will have a nice side effect of raising Bodhi's test coverage, since this code isn't covered ☺

[2017-07-27 00:23] bowlofeggs commented on #981
Yeah I think we can close this, thanks to @jeremycline, our RAM hero!

[2017-07-27 00:23] #981 closed, assigned to nobody

[2017-07-28 14:13] jarifibrahim opened #1717 "Broken link to database schema in developer docs"
The link to the image file on developer docs page[0] is broken.

[0] - https://github.com/fedora-infra/bodhi/blob/develop/docs/developer_docs.rst#database-schema

[2017-07-28 14:16] jeremycline commented on #1717
Hi @jarifibrahim, thanks for the report!

The image is generated as part of the documentation build process - if you want to see it locally you can use the ``Makefile`` in the docs, or you can [see it live](https://bodhi.fedoraproject.org/docs/developer_docs.html#database-schema).

[2017-07-28 14:16] #1717 closed, assigned to nobody

[2017-07-28 14:20] jarifibrahim commented on #1717
@jeremycline The docs page on Github points to an image of the database schema that does not exist. Shouldn't it be fixed?

[2017-07-28 14:31] jeremycline commented on #1717
@jarifibrahim The documentation is not intended to be read on GitHub - it's merely a place to store the sources used to build the documentation. Rather than check the binary image into git, it's generated when the HTML is generated from the RST.  The built documentation is hosted with Bodhi ([for example, Fedora's deployment](https://bodhi.fedoraproject.org/docs/)) and, as you can see, the image i

[2017-07-28 14:44] jarifibrahim commented on #1717
@jeremycline Right. Thanks!

[2017-07-28 15:57] #870 closed, assigned to nobody

[2017-07-28 20:29] bowlofeggs opened #1718 "bodhi requires bleach < 2, but Fedora Rawhide has bleach 2"
Fedora Rawhide was recently upgraded to bleach 2, which has a backwards incompatible API with bleach 1. Bodhi's requirements specify that it must have ```bleach < 2```. We will probably need to write some compatibility code so that we can work with whichever version of bleach is present on the system Bodhi is installed on.

https://kojipkgs.fedoraproject.org//work/tasks/9044/20869044/build.log

[2017-07-28 21:18] bowlofeggs commented on #1700
The fix for https://github.com/fedora-infra/bodhi/issues/1634 removes the code that uses urlgrabber, so we don't need to fix this.

[2017-07-28 21:18] #1700 closed, assigned to bowlofeggs

[2017-07-29 15:18] tserafim commented on #1607
I just created another dev environment and the provisioners ran successfully. None of the problems mentioned above occurred.

Running Fedora 26 with the following versions of libvirt, libvit-vagrant and vagrant:
libvirt-3.2.1-4.fc26.x86_64
vagrant-libvirt-0.0.37-5.fc26.noarch
vagrant-1.9.1-2.fc26.noarch

I guess #1617 solved the database migration issue.

[2017-07-29 16:04] bowlofeggs commented on #1607
Excellent, I will close this issue for now then. Let me know if you hit any more problems!

[2017-07-29 16:04] #1607 closed, assigned to nobody

[2017-07-29 20:19] jwnx commented on #1430
Hey @bowlofeggs ! Should this verification be made in the Masher or in Models? (:

[2017-07-29 21:16] bowlofeggs commented on #1430
Hi @jwnx,

I think this is probably the right place to fix it, so it will be fixed no matter what part of Bodhi uses it:

https://github.com/fedora-infra/bodhi/blob/2.8.1/bodhi/server/bugs.py#L133-L147

[2017-07-29 23:47] jwnx commented on #1430
I see. Thanks, @bowlofeggs !

Since you suggested to leave some NVRs, my first thought was to check if the adittion of a new version would break the 255 character mark and leave it off if it would. But there is a statement in the code for how this field should be formatted, so maybe there is a preference for inclusion of some NVRs.

Do you think we need a more speciffic rule or the 'over 255' is s

[2017-07-30 15:45] bowlofeggs commented on #1430
@jwnx I think just putting as many complete NVRs as we can fit while staying under 256 chars will do.

[2017-07-31 00:33] #1126 closed, assigned to nobody

[2017-07-31 02:09] ryanlerch opened #1721 "Markdown linkified links without http:// produce relative href= attr"
if you add a link to a markdown field (update description or a comment) without the http:// (or an email address), the custom fedora-markdown code linkifies this, but produces a relative link. For example, including the string `the fedora project website is getfedora.org` produces the following html markup:

[code]
which tries to link to `http://bodhi.fedoraproject.org/getfedora.org`

[2017-07-31 17:49] bowlofeggs opened #1723 "Refactor the update state machine"
Bodhi updates are a state machine, where the current state (such as status: testing, request: None) and inputs (such as karma +1) can cause updates to transition states.

The code that does this is currently scattered around the code (to be fair, mostly in models.py, but there are elements to the state machine found elsewhere), and as a result, it is difficult to modify while being sure you have c

[2017-07-31 18:14] jeremycline commented on #1723
Just to clarify, the PR you're referring to is #1678 correct?

That ``set_request`` function definitely looks multi-purpose and scary. Consolidating all the state transition logic into a single function sounds good to me.

I'm not sure if it would make it more or less comprehensible to move the code that _reacts_ to state transitions into a set of SQLAlchemy event listeners (one for each state), b

[2017-07-31 19:00] bowlofeggs commented on #1723
@jeremycline yeah that's the one. I think it would have been much easier to achieve what she's doing if we had a clean, centralized state machine definition.

I had actually been thinking the same thing about using SQLAlchemy event listeners, so state transitions can happen automatically and in the background. That way, things that change the state of an update also wouldn't have to remember to ca

[2017-07-31 20:17] oishommau opened #1724 "[rfe] know about subpackages"
it would be helpful if bodhi knew about subpackages, so that user searches could be directed to the appropriate updates.

For example, a search for selinux-policy-targeted yields no results:
https://bodhi.fedoraproject.org/updates/?packages=selinux-policy-targeted

[2017-08-01 13:50] #784 closed

[2017-08-01 14:00] #1656 closed, assigned to nobody

[2017-08-01 14:00] #1718 closed, assigned to ryanlerch

[2017-08-01 14:00] #1721 closed, assigned to nobody

[2017-08-01 20:46] mattdm opened #1726 "RFE: Disable Severity for newpackage and enhancement updates"
Because, as Randy says:

If one of these update types is selected in the UI, the severity field should be changed to _unspecified_ and the selector grayed out. And of course if an update is submitted via the api or whatever other means, that should either be rejected or the severity forced to _unspecified_.

[2017-08-01 21:53] mattdm commented on #1726
As a second enhancement linked to this, if an update is security or bugfix, then severity should be required. (And I suggest "medium" as the default.)

[2017-08-02 09:19] ryanlerch commented on #289
@ralphbean is right, if you supply an email address here, the comment is marked as anon:

https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/services/comments.py#L213

i'll make a quick patch to fix the docstring

[2017-08-02 10:58] ryanlerch commented on #1620
@rimshaakhan are you still planning on working on this one?

[2017-08-02 11:23] ryanlerch commented on #1674
On second thought, we could probably just remove the POST request here to libravatar.org, and just do a link to https://www.libravatar.org/openid/login/?openid_identifier=dudemcpants.id.fedoraproject.org.

It fills out the form, ready for the user to login.

[2017-08-02 12:03] ryanlerch commented on #380
Closing this one off, based on @ralphbean 's comment and the fact this one has been sitting around for a while with no updates either way.

Feel free to re-open if this is still an issue.

[2017-08-02 12:03] #380 closed

[2017-08-02 12:07] ryanlerch commented on #449
Is this still an issue with the latest version of the Bodhi client?

[2017-08-02 12:27] ryanlerch commented on #631
Pretty sure this one is resolved now, so going to close it off.

Please re-open if this is still an issue.

[2017-08-02 12:27] #631 closed

[2017-08-02 12:29] ryanlerch commented on #615
I believe this is the same issue as #631

[2017-08-02 12:29] #615 closed

[2017-08-02 12:30] ryanlerch commented on #613
@mtasaka are you still experiencing this issue?

[2017-08-02 13:06] ryanlerch commented on #963
Closing this one as a duplicate of #752

[2017-08-02 13:06] #963 closed, assigned to nobody

[2017-08-02 13:08] ryanlerch commented on #752
@bowlofeggs commented an idea for a solution to this here https://github.com/fedora-infra/bodhi/pull/1712#pullrequestreview-52980943

[2017-08-02 13:15] ryanlerch commented on #595
Just some quick notes for anyone in the future that might try to fix this:

I believe the error message is "Invalid bug ID specified: "

Bodhi is using python-bugzilla here, so the aliases should resolve ok, but it appears that the bug validator in bodhi fails if the bug IDs are not integers:

https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/validators.py#L610-L617

[2017-08-03 01:20] ryanlerch commented on #1247
#1227 resolved this one, and fine-tuning of the placement of the button with the new theme was done in #1516

[2017-08-03 01:20] #1247 closed, assigned to nobody

[2017-08-03 02:31] ryanlerch commented on #1008
Fixed in #1595

[2017-08-03 02:31] #1008 closed, assigned to nobody

[2017-08-03 02:34] ryanlerch commented on #886
Pretty sure the Vagrant instance is now fixed so this no longer happens.

Feel free to re-open if you are still experiencing this.

[2017-08-03 02:34] #886 closed, assigned to nobody

[2017-08-03 02:41] ryanlerch commented on #790
The error message here should be re-worked, as in this example, the user is trying to submit an update to rawhide.

There is an open bug already to improve this messaging for submitting against rawhide, so closing this one as a duplicate of #611

[2017-08-03 02:41] #790 closed

[2017-08-03 02:48] ryanlerch commented on #748
When leaving comments, adding a double space like this into the markdown field (now) correctly renders as two seperate paragraphs in the output.

[2017-08-03 02:48] #748 closed

[2017-08-03 19:15] #1634 closed, assigned to bowlofeggs

[2017-08-03 19:33] #289 closed

[2017-08-03 19:41] #209 closed

[2017-08-03 21:09] #1674 closed, assigned to nobody

[2017-08-04 01:33] peullid commented on #748
@ryanlerch

it seems that either the problem was bigger or the solution has created a new problem ...

take the following input:

bodhi changes the above to:

which renders roughly as:

should this issue be re-opened, or should I create a new issue?

[2017-08-04 08:31] mtasaka commented on #613
Now I am receiving emails correctly, thank you.

[2017-08-04 15:22] ralphbean commented on #1330
He sure is!  :)

[2017-08-04 15:22] ralphbean commented on #1330
See #1697.

[2017-08-06 08:52] #613 closed

[2017-08-07 04:42] ryanlerch commented on #741
Pretty sure this one is fixed now. We have code on the bodhi side of things (#1561) that shortens email subjects, so this should not happen any more. Feel free to reopen if you are still experiencing this issue (especially the empty subject lines)

[2017-08-07 04:42] #741 closed

[2017-08-07 15:58] bowlofeggs opened #1731 "The "Packages" search in the new update form errors with: unable to find any packages that match the current query"
It was reported today that the "Packages" field in the new update form does not work correctly. Instead of offering autocomplete matches, an error message "unable to find any packages that match the current query" appears. It seems that the browser is experiencing a CSRF error.

I was unable to reproduce this error at first, but I found that issuing a hard refresh (ctrl-f5) to my browser enabled m

[2017-08-07 16:17] bowlofeggs commented on #1731
One of the issues causing this has been fixed on the packages app, but Bodhi also seems to be double-urlencoding the URL, which is causing an invalid query against packages.

[2017-08-07 16:20] bowlofeggs commented on #1731
This could be due to the recent switch to a newer version of typeahead, since the JS in question here does seem to use that library:

https://github.com/fedora-infra/bodhi/blob/2.9.0/bodhi/server/static/js/update_form.js#L29-L33

[2017-08-07 16:50] teigland opened #1732 "Unable to determine release from build"
Why is this happening?

$ fedpkg update
Creating a new update for  sanlock-3.5.0-1.fc26
Traceback (most recent call last):
  File "/usr/bin/bodhi", line 537, in <module>
    main()
  File "/usr/bin/bodhi", line 225, in main
    data = bodhi.save(**update_args)
  File "/usr/lib/python2.7/site-packages/fedora/client/bodhi.py", line 93, in wrapper
    raise BodhiClientException(problems)
fedora.clien

[2017-08-07 17:10] teigland commented on #1732
So I tried to do a new build, and more errors

$ fedpkg build
Your git configuration does not use a namespace.
Consider updating your git configuration by running:
  git remote set-url origin ssh://teigland@pkgs.fedoraproject.org/rpms/sanlock
Kerberos authentication is used, but you do not have a valid credential.
Please use kinit to get credential with a principal that has realm FEDORAPROJECT.ORG

[2017-08-07 21:18] bowlofeggs commented on #1731
Workaround: the package search is really a user convenience to aid in filling out the nvrs and bugs - you should be able to manually type nvrs and bug numbers in and submit the form as per usual.

[2017-08-07 21:37] limburgher commented on #1731
I can confirm that this workaround works.

[2017-08-08 15:20] bowlofeggs opened #1734 "bodhi-manage-releases should handle authentication errors instead of printing tracebacks"
Similar to the recent work done for the CLI in #1709, the ```bodhi-manage-releases``` tool should also catch authentication errors and print nice error messages for the user:

[code]

[2017-08-09 08:49] yarda opened #1735 "Bodhi can change state of RHEL bugs"
This is Fedora/RHEL specific issue, originally reported as [1] and after request in the original ticket taken upstream.

The problem is that if Fedora update has associated bug which is RHEL bug, Bodhi can change it's state, which I think it shouldn't do. I think there should be some filter for bugzilla product, because such things can happen.

For me it happen the following way:
I had "related: r

[2017-08-09 09:30] robert-scheck opened #1736 "Bodhi still sends nag mails for archived releases"
Today I received a nag mail for https://bodhi.fedoraproject.org/updates/FEDORA-2017-326839d976:

However, trying to push FEDORA-2017-326839d976 to stable lead (obviously) to

Could you please disable all nag mails once a Fedora release has been marked as archived?

[2017-08-09 14:31] bowlofeggs opened #1737 "HTTP 400 instead of 403 when users don't have ACLs to edit a package"
I noticed today that I get an HTTP 400 when I try to visit https://bodhi.stg.fedoraproject.org/updates/FEDORA-2017-5ce9d89b82/edit when I am logged in to staging Bodhi, but I get a 403 when I visit it and am not logged in. The 400 should be a 403.

[2017-08-09 20:13] bowlofeggs opened #1738 "Build.scm_url has a uniqueness constraint, but is not unique"
I came to the realization today that the ```bodhi.server.models.Build.scm_url``` field has an invalid uniqueness constraint on it. The scm_url in Koji very often is unique, because it typically has a commit hash in it. For example:

[code]

However, I realized today that Koji does not require users to build based on commit hashes, and all Koji records is the scm URL it was asked to build. It is va

[2017-08-10 01:28] dhgutteridge opened #1739 "Karma submissions trigger the error message "Comment : Unable to create comment" and then after a delay the comment is posted anyway"
This may be related to #717, but the behaviour is a bit different. I've submitted karma with a comment, received the notification "Comment : Unable to create comment" and then after a delay, my submission is actually posted anyway. This confusing message and lag in posting leads to double submissions, e.g. [https://bodhi.fedoraproject.org/updates/FEDORA-2017-401c8792f5](https://bodhi.fedoraproject

[2017-08-10 13:48] dhgutteridge commented on #1739
Further issues with the same sample update: no emails were sent by Bodhi concerning the karma I'd submitted. More surprisingly, it has reached the +3 karma threshold and has autopush enabled, but it's been twelve hours and it still hasn't submitted the update to stable.

(On reflection, I think this is probably unrelated to #717, as it's rather different. There isn't a delay because an update is l

[2017-08-10 15:53] bowlofeggs opened #1740 "CVE-2017-1002152: JavaScript injection via Bugzilla ticket subjects"
[Marcel reported](https://bugzilla.redhat.com/show_bug.cgi?id=1478587) that it is possible to inject JavaScript into Bodhi's web interface through Bugzilla ticket subjects. The reporter cited [an update](https://bodhi.fedoraproject.org/updates/FEDORA-2017-3c92db10b8) that did not properly escape tags from the bug it was associated with.

We should run the bugzilla text through bleach, similar to w

[2017-08-10 21:21] bowlofeggs commented on #1636
This is still happening, and it's because the scm_url is not unique in Koji.

[2017-08-10 21:31] bowlofeggs opened #1741 "Bodhi comments that critical path updates have reached 7 days when they get to 14 days in testing"
Lukas Slebodnik [reported](https://bugzilla.redhat.com/show_bug.cgi?id=1480070) that Bodhi put a comment "This update has reached 7 days in testing and can be pushed to stable now if the maintainer wishes" when his update reached 14 days in testing.

I'm guessing this happened because the code that fills out that template doesn't consider whether the update is critical path or not. Critical path u

[2017-08-11 01:22] dhgutteridge commented on #1739
Another follow-up: the example update required +3 karma, but it didn't submit to stable at +3. It did so at +4, after another user added feedback. Something got very out of sync there.

[2017-08-11 02:47] tkdchen opened #1743 "bodhi-client-0.9.12.2-6.fc25 requires koji-1.10"
bodhi-client-0.9.12.2-6.fc25.noarch requires koji-1.10, which blocks to release new versions of rpkg and fedpkg because rpkg has been migrated to require python2-koji-1.13 and in the meantime bodhi-client is required by fedpkg.

[2017-08-11 13:39] bowlofeggs commented on #1743
Hello @tkdchen!

The Bodhi spec file doesn't put a version requirement on koji:

[code]

Did you find that the bodhi-0.9 client fails to function with koji-1.13 in some way? Could you describe the problem?

[2017-08-11 15:18] tkdchen commented on #1743
@bowlofeggs Hi,

This is why I'm confused. I'm testing new version rpkg-1.50, which requires python2-koji, and fedpkg-1.29. When installing both of them, ``bodhi-client-0.9.12.2-6.fc25`` is resolved to be installed, and ``koji-1.10`` is also resolved as a dependency to be installed eventually. That causes the whole installation fails due to the conflict between ``python2-koji`` and ``koji-1.10``.

[2017-08-11 15:30] tkdchen commented on #1743
There is a f25 build https://koji.fedoraproject.org/koji/buildinfo?buildID=947163, maybe it needs to be pushed to Fedora 25 repository in a new bodhi update?

[2017-08-11 16:08] tkdchen commented on #1743
``bodhi-2.9.0-1.fc25`` looks doesn't work as well.

[code]

[code]

[2017-08-11 16:31] tkdchen commented on #1743
Just rebuilt ``bodhi-2.9.0-4`` f25 packages locally and tried to install ``bodhi-client`` in f25 and f26 container individually. A strange thing is, in f26, ``koji-1.13`` can be resolved, but in f25 ``koji-1.10`` is found to be installed along with ``bodhi-client``. Something wrong with koji in Fedora repos?

[2017-08-11 16:38] bowlofeggs commented on #1634
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:38] bowlofeggs commented on #997
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #1258
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #692
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #811
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #1382
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #1679
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #870
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #209
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #1692
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #1482
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:39] bowlofeggs commented on #1308
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:40] bowlofeggs commented on #1126
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:40] bowlofeggs commented on #1626
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:40] bowlofeggs commented on #784
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:40] bowlofeggs commented on #1656
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:40] bowlofeggs commented on #1721
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:40] bowlofeggs commented on #289
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 16:40] bowlofeggs commented on #1674
The patch for this issue should be included in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 18:12] bowlofeggs commented on #1682
In https://github.com/fedora-infra/bodhi/pull/1733 I am removing the ```ci.enabled``` setting. Thus, I believe we can close this and the associated PR.

[2017-08-11 18:12] #1682 closed, assigned to nobody

[2017-08-11 19:24] bowlofeggs commented on #1731
This should be fixed in the upcoming 2.10.0 release:

https://github.com/fedora-infra/bodhi/pull/1744

[2017-08-11 20:11] bowlofeggs commented on #449
I believe this is fixed now. Feel free to reopen if you can reproduce with the Bodhi 2 client!

[2017-08-11 20:11] #449 closed

[2017-08-11 20:49] bowlofeggs opened #1747 "Bodhi will respect double newline characters in comment input but not single newlines"
@peullid reported this in a [comment](https://github.com/fedora-infra/bodhi/issues/748#issuecomment-320132922):

take the following input:

bodhi changes the above to:

which renders roughly as:

[2017-08-11 20:49] bowlofeggs commented on #748
@peullid I reported https://github.com/fedora-infra/bodhi/issues/1747 for you. Thanks!

[2017-08-11 20:57] bowlofeggs commented on #1732
It appears that ```sanlock-3.5.0-1.fc26``` is tagged as ```trashcan``` instead of with a tag that Bodhi can use. This is likely due to the build being fairly old:

https://koji.fedoraproject.org/koji/buildinfo?buildID=885191

I think Koji deletes builds if they sit around unused in a repo for a while. Thus, you will need to get a build that is tagged as ```f26-updates-candidate``` in Koji before B

[2017-08-11 20:58] #1732 closed, assigned to nobody

[2017-08-11 21:09] bowlofeggs commented on #1735
Thanks for the report! This is a duplicate of https://github.com/fedora-infra/bodhi/issues/1043 so I suggest subscribing there.

[2017-08-11 21:09] #1735 closed, assigned to nobody

[2017-08-11 21:11] bowlofeggs commented on #1736
My proposed fix for #752 would fix this too:

https://github.com/fedora-infra/bodhi/pull/1712#pullrequestreview-52980943

[2017-08-11 21:11] bowlofeggs commented on #752
Related: https://github.com/fedora-infra/bodhi/issues/1736

[2017-08-11 21:31] bowlofeggs commented on #1739
I believe this was due to a hiccup in communicating with Koji:

[code]

There's not much we could do about that other than to improve error handling and messaging when things like this happen. I'm going to keep this open as a reliability improvement issue.

Thanks for the report!

[2017-08-11 21:44] bowlofeggs commented on #1743
@tkdchen Hello again!

The F25 build of Bodhi 2 is not intended to be released to F25 - that was done simply in order to be tagged into the infra repository. Bodhi 2 is not backwards compatible with Bodhi 0.9.

However, I am still not sure that Bodhi is what is pulling in Koji 1.10, specifically. It does pull in koji, but without specifying a version as far as I can tell.

This could be a koji pac

[2017-08-13 20:54] bowlofeggs commented on #1635
I'm not sure how I didn't notice this before, but the patch for this issue only added the ability for the nvr to be included in the title without actually modifying the e-mail code to use the new ability. This means that e-mails still don't have nvrs in the subject lines.

[2017-08-14 02:34] ryanlerch commented on #1747
This is expected behaviour for Markdown, it allows a user to input hard wrapped text. Here is the section from the original Markdown:

https://daringfireball.net/projects/markdown/syntax#p

IMHO, we should not change this behaviour, as it is a core feature of Markdown. Additionally, Changing this behaviour now would likely break the rendering of a multitude of comments and descriptions that are al

[2017-08-14 10:41] peullid commented on #1747
@ryanlerch

I can't make sense of your comment, or of the relevant portion of the text you link to. It doesn't seem like we're even on the same page with the definition of hard wrapped text. How does taking away a user-inserted line break "allow a user to input hard wrapped text"? Can you define what hard wrapping means to you? Can you give an example of when a user would want a line break they ma

[2017-08-14 12:09] ryanlerch commented on #1747
The syntax definition on Daring Fireball is the original Markdown, and I included it to reference why the renderer is not respecting line breaks in this manner. The idea behind this is that if you include hard breaks within a single paragraph, (i.e. not a blank line in between), then the text is assumed to be in the same paragraph, so it renders it in the same &lt;p&gt; element.

Github flavoured

[2017-08-14 12:33] peullid commented on #1747
this could be worked around by rendering the line breaks for comments which were made after the date on which the newer version of bodhi is installed, and not rendering for earlier comments.

this use case could be accommodated by removing single line breaks for comments submitted via the command line client, and leaving them for comments submitted through the web interface. the removal could be d

[2017-08-14 12:46] puiterwijk commented on #1747
Given that the markdown documentation on the Create Update page says that we provide an extension of the Daring Fireball markdown, I think we should adhere to all the rules set out in that markdown definition.
As specified in the quote by Ryan, single linebreaks are supposed to be in the same paragraph, and if users want a hard line break they can press the return key twice.

In my opinion, the cu

[2017-08-14 12:47] puiterwijk commented on #1747
Also, using two different flavors of markdown within the same application is, in my opinion, crazy. Github might do this, but I don't think we should

[2017-08-14 12:51] #1747 closed, assigned to nobody

[2017-08-14 13:57] tkdchen commented on #1743
@bowlofeggs thanks for your reply. I found this should not be caused by bodhi package. I sent a mail to devel mailing list to describe the problem. I'll close this issue.

[2017-08-14 13:57] #1743 closed, assigned to nobody

[2017-08-14 18:52] #1406 closed, assigned to nobody

[2017-08-14 19:14] #1708 closed, assigned to nobody

[2017-08-14 19:20] #1570 closed, assigned to nobody

[2017-08-14 20:14] bowlofeggs commented on #1747
I'm convinced that @ryanlerch and @puiterwijk's arguments are sound and that the current behavior is sane. Thanks for the comments!

[2017-08-14 20:48] bowlofeggs opened #1753 "bodhi.server.util.call_api should use connection pooling"
The ```bodhi.server.util.call_api()``` function should use requests connection pooling via a Session object. This will make repeated calls to it more efficient.

Thanks to @jeremycline for the suggestion!

[2017-08-14 21:22] #1636 closed, assigned to bowlofeggs

[2017-08-14 21:22] #1738 closed, assigned to bowlofeggs

[2017-08-14 21:32] #1597 closed, assigned to nobody

[2017-08-15 00:26] RozzaysRed commented on #1741
I wouldn't mind taking trying to take this one on.  I just joined so it may take me some time for me to get familiar with what is going on.

[2017-08-15 11:08] kparal commented on #794
I'll just poke this ticket, and state that this is still desired, and quite important if tools are supposed to work reliably. Thanks.

[2017-08-15 17:20] jeremycline commented on #1078
I don't think this is relevant anymore since we dropped transaction

[2017-08-15 17:20] #1078 closed, assigned to nobody

[2017-08-15 17:21] bowlofeggs commented on #1515
The CI status feature got removed recently.

[2017-08-15 17:21] #1515 closed, assigned to bowlofeggs

[2017-08-15 17:24] jeremycline commented on #1028
I think this is no longer relevant since the database code was refactored

[2017-08-15 17:24] #1028 closed, assigned to nobody

[2017-08-15 21:10] #1740 closed, assigned to bowlofeggs

[2017-08-15 21:18] bowlofeggs commented on #1741
@ryanrowse Go for it!

[2017-08-15 21:20] bowlofeggs commented on #1740
The fix for this has been cherry picked to the 2.9 branch as 2a3b06b42242ecabb7fed6b147b033b36292d76f and will be released in 2.9.1.

[2017-08-15 21:41] bowlofeggs opened #1756 "The fix for #1740 introduces undesirable tag closures with bleach >= 2.0"
The tests written for #1740 do not pass on Fedora Rawhide, which has bleach 2.0:

[code]

The sanitizer is inserting the text "&lt;/driver&gt;&lt;/disk&gt;" at the end of the bug text with bleach 2.0, and does not do that with bleach < 2.0.

[2017-08-16 00:44] bowlofeggs commented on #1756
I'm considering looking into seeing if bleach will consider this a defect. In my opinion, it doesn't make sense for bleach to try to close out tags that it is "cleaning", since they aren't tags anymore. It makes more sense for it to only try to close out tags that are allowed.

[2017-08-16 13:48] kparal commented on #784
Should it be fixed? I still see it with `bodhi-2.10.0b0`:

[code]

[2017-08-16 14:01] bowlofeggs commented on #784
@kparal to clarify, did you mean that you tried it with the 2.10.0b0 server, but a < 2.10.0 client? The fix is in bodhi.client.bindings, so you will need a 2.10.0 client. You can get one from Copr:

http://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2017-08-16 14:15] bowlofeggs commented on #1756
There is an open bleach issue about this:

https://github.com/mozilla/bleach/issues/271

We could just adjust the tests to assert that it starts with the expected text if we want to wait on a fix from bleach, or we could try to find another solution to the problem.

This issue will also affect user comments, so isn't specific to the bugzilla sanitation aside from the issues with the unit tests.

[2017-08-16 17:01] bowlofeggs opened #1758 "The Greenwave JavaScript uses the old Greenwave API"
We need to refactor the [Greenwave JavaScript subject](https://github.com/fedora-infra/bodhi/blob/893a5d225fc941ec1d60c3d76e3912c6428994ba/bodhi/server/templates/update.html#L93) so that it passes objects for the NVRs and and update id, rather than just a plain list of build NVRs.

This [Python code](https://github.com/fedora-infra/bodhi/blob/893a5d225fc941ec1d60c3d76e3912c6428994ba/bodhi/server/s

[2017-08-16 20:10] #1756 closed, assigned to nobody

[2017-08-17 16:14] #1758 closed, assigned to bowlofeggs

[2017-08-17 22:48] mohanboddu opened #1761 "Config has wrong url to comps repo"
Currently the comps url is set to https://git.fedorahosted.org/comps.git

https://github.com/fedora-infra/bodhi/blob/a81b8f1c45ba564c0c367137109249089ba06e58/bodhi/server/config.py#L332-L333

It should be using https://pagure.io/fedora-comps.git

[2017-08-18 16:07] ktdreyer commented on #1600
That is how I call Pungi (in Jenkins) as well, so I'm interested in this feature.

[2017-08-18 16:18] ktdreyer commented on #1532
Looks like Bodhi's using the high-level `addcomment()` API. Maybe we could add this feature at the python-bugzilla level? https://github.com/python-bugzilla/python-bugzilla/issues/53

[2017-08-18 17:59] mschwendt opened #1763 "No package summary/description displayed!"
Is there any compelling reason why the current production instance of bodhi as used for the Fedora Updates System does not show the package %summary or %description anywhere at all on an update ticket page?

Look at this!

https://bodhi.fedoraproject.org/updates/FEDORA-2017-31f34a4cc7

FEDORA-2017-31f34a4cc7
enhancement update in Fedora 26 for thefuck
Status: testing 5 months ago

Seriously?

[2017-08-19 09:36] adelton opened #1764 "unable to find any packages that match the current query"
When attempting to create new errata via https://bodhi.fedoraproject.org/updates/new, I enter perl-SOAP-Lite to the Packages field, and I get

[code]

popup instead of that package name being confirmed.

The `perl-SOAP-Lite` package exists, per https://koji.fedoraproject.org/koji/packageinfo?packageID=3213

[2017-08-21 10:02] pcahyna commented on #1043
I noticed a Fedora bug : https://bugzilla.redhat.com/show_bug.cgi?id=1463547 in a package that I maintain for RHEL. I therefore cloned the Fedora bug to RHEL to track the issue: https://bugzilla.redhat.com/show_bug.cgi?id=1463608 . Bodhi then commented to the RHEL bug about updates to Fedora packages, and even changed its state MODIFIED → ON_QA. Why does it happen? Is it because the latter bug dep

[2017-08-21 10:23] pcahyna commented on #1735
For me it happened when I cloned a Fedora bug to RHEL and Bodhi kept changing the status of the RHEL one: https://github.com/fedora-infra/bodhi/issues/1043#issuecomment-323702481

[2017-08-23 13:26] jeremycline commented on #1731
I think this is still an issue in 2.10. When creating a new update, both candidate builds and packages can't be searched :(

[2017-08-23 13:28] jeremycline commented on #1764
I believe this is a duplicate of #1731, a regression introduced in 2.9.0. It was expected that 2.10.0 would contain the fix, but it seems to still be an issue. I'm going to close this in favor #1731.

Thanks for the report!

[2017-08-23 13:28] #1764 closed, assigned to nobody

[2017-08-23 22:08] AdamWill commented on #474
Nope, it's still a problem. Check it:

    [adamw@adam nightlies]$ bodhi updates edit --user adamwill fedfind-3.6.1-1.el6
    notes is missing
    [adamw@adam nightlies]$ bodhi updates edit fedfind-3.6.1-1.el6
    Password:

I don't think I can re-open the issue, I think you have to.

[2017-08-26 12:30] puiterwijk commented on #1731
The initial fix showed an error in the server-side config of packages, and this issue is now fixed.

[2017-08-26 12:30] #1731 closed, assigned to nobody

[2017-08-26 12:30] puiterwijk commented on #1731
(note: users might need to force-refresh their browsers or wait for caches to expire)

[2017-08-30 14:19] bowlofeggs opened #1781 "bodhi-push should double check unsigned builds"
Sometimes bodhi-backend02 misses messages about signed builds, which causes ```bodhi-push``` not to publish updates. We should add a check to ```bodhi-push``` to look at koji to see if unsigned builds have been signed as a belt-and-suspenders solution for this problem.

@puiterwijk wrote a PR for this a while back. We can probably use it as inspiration for doing this:

https://github.com/fedora-in

[2017-08-31 14:22] ryanlerch commented on #1763
Bodhi has never displayed this information, so going to mark this as an RFE.

I do agree that this is information that could be useful to the end user, however...

there are two reasons that this has not been added before, that would need to be thought through. The first is that bodhi doesn't really have access to the contents of builds, so getting this information is kinda difficult. The second i

[2017-09-01 21:43] bowlofeggs opened #1783 "There seems to be two functions to turn a space/comma separated string into a list"
Both ```[splitter()](https://github.com/fedora-infra/bodhi/blob/2.10.1/bodhi/server/util.py#L263-L277)``` and ```[tokenize()](https://github.com/fedora-infra/bodhi/blob/2.10.1/bodhi/server/util.py#L656-L665)``` seem to exist to turn strings of space or comma separated values into lists. We should ensure that they work the same, remove one of them, and convert code that uses the removed one to use

[2017-09-03 14:00] amitsin6h commented on #1737
let me take this as my first bug fix.

[2017-09-04 08:39] tkdchen opened #1786 "500 server error when listing updates"
I tried to list some of updates with this link,

[code]

then, there is 500 server error shown in Bodhi.

[code]

[2017-09-04 16:14] bowlofeggs opened #1787 "bodhi.client.bindings.BodhiClientException: You must provide a captcha_key."
I hit this traceback today:

[code]

We need [```bodhi.client.bindings.errorhandled```](https://github.com/fedora-infra/bodhi/blob/2.10.1/bodhi/client/bindings.py#L70-L102) to catch this problem and retry when it is present, similarly to how it does for ```AuthError```.

[2017-09-04 20:04] bowlofeggs commented on #1761
@mohanboddu That is just the default value for ```comps_url``` if it is not defined in ```production_url```. You can see that Fedora's instance is correctly defined when looking at the Ansible config:

https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/bodhi2/base/templates/production.ini.j2#n142

[2017-09-04 20:04] #1761 closed, assigned to nobody

[2017-09-04 20:14] bowlofeggs commented on #474
@AdamWill I think it did know your username since it prompted you for your password but not your username. The Bodhi session expires regularly on some interval (can't remember for sure, maybe 2 weeks, maybe 30 days?), and when that happens it will prompt for your password. But if you have a bodhi session in ```~/.fedora/openidbaseclient-sessions.cache``` then it should be able to figure out your u

[2017-09-04 20:33] bowlofeggs commented on #1737
@amitsin6h Go 4 it!

[2017-09-04 23:15] AdamWill commented on #474
"I think it did know your username since it prompted you for your password but not your username."

No, it didn't, because I entered my password and it failed to authenticate properly. It likely guessed 'adamw', my system user name, but that's not the same name as my FAS account.

[2017-09-04 23:16] AdamWill commented on #474
[adamw@adam createhdds (master)]$ bodhi updates edit fedfind-3.6.1-1.el6
    Password: (entered correct FAS password for adamwill)
    Authentication failed: Check your FAS username & password

[2017-09-05 16:05] bowlofeggs commented on #474
@AdamWill another possibility is that it is using the ```USERNAME``` environment variable. I'm starting to think that using that environment variable is a Bad Idea™, because it seems to be set on many people's systems (it isn't on mine) to the same as ```USER```. Can you confirm if ```USERNAME``` is set for you, and if you think that might be the problem?

If you do think that's the problem, let's

[2017-09-05 16:26] ralphbean commented on #474
A point of data:  I have ``BODHI_USER=ralph`` set in my environment.  I don't know what docs (if any) instructed me to add it.

[2017-09-05 16:50] AdamWill commented on #474
[adamw@adam tmp]$ echo $USERNAME
    adamw
    [adamw@adam tmp]$ echo $BODHI_USER

    [adamw@adam tmp]$

[2017-09-05 16:52] AdamWill commented on #474
There's some code in GDM which looks like it's setting the `USERNAME` env var:

https://git.gnome.org/browse/gdm/tree/common/gdm-common.c#n575

I'm not sure of the context there, but it looks a lot like it could be the reason.

[2017-09-05 17:59] bowlofeggs opened #1789 "The client should not use USERNAME"
The CLI can use the ```USERNAME``` environment variable to identify a user's username. This name is problematic because GDM sets ```USERNAME```, and not everyone uses the same username on their desktop machine as they do for their FAS username.

We have a few options:

1. Don't use environment variables at all to identify usernames. This was used to work around the way that the bodhi 2 client used

[2017-09-05 18:00] bowlofeggs commented on #474
@AdamWill Ah! That explains this - @ralphbean was helping a Bodhi contributor this weekend who also had ```USERNAME``` set during flock - that was causing Bodhi's unit tests to fail. I use a different login manager, which explains why I don't have it.

I think we can consider this a new issue. Bodhi really shouldn't use a conflicting env variable with GDM since that's obviously a very popular logi

[2017-09-05 19:08] bowlofeggs commented on #1157
The fix for this issue will appear in the upcoming 2.11.0 release:

https://github.com/fedora-infra/bodhi/pull/1790

[2017-09-05 19:08] #1157 closed, assigned to nobody

[2017-09-05 19:08] bowlofeggs commented on #1406
The fix for this issue will appear in the upcoming 2.11.0 release:

https://github.com/fedora-infra/bodhi/pull/1790

[2017-09-05 19:08] bowlofeggs commented on #1570
The fix for this issue will appear in the upcoming 2.11.0 release:

https://github.com/fedora-infra/bodhi/pull/1790

[2017-09-05 19:09] bowlofeggs commented on #1597
The fix for this issue will appear in the upcoming 2.11.0 release:

https://github.com/fedora-infra/bodhi/pull/1790

[2017-09-05 19:09] bowlofeggs commented on #1708
The fix for this issue will appear in the upcoming 2.11.0 release:

https://github.com/fedora-infra/bodhi/pull/1790

[2017-09-06 16:09] vkrizan commented on #701
@lmacken @ralphbean Guys, can you please take a look into this.

This could improve creating security updates for Fedora. Consider example of a flaw CVE-2017-14107: https://bugzilla.redhat.com/show_bug.cgi?id=1489002#c1, where security team has generated a fedpkg update template for bodhi and a link in the security tracking bug. However, the current 2.0 Bodhi does not provide the prefilling.

Sorr

[2017-09-06 17:09] #1620 closed, assigned to nobody

[2017-09-06 19:24] bowlofeggs commented on #361
Is this issue resolved now by the refactoring of the JavaScipt over the past few months, combined with how we now query Greenwave for gating information?

[2017-09-06 19:37] bowlofeggs opened #1791 "The link to Fedora Flavored Markdown is "smashed" on mobile"
I noticed that the link to "Fedora Flavored Markdown" is "smashed" when viewing it on my phone:

![screenshot_20170902-180831](https://user-images.githubusercontent.com/354506/30131006-293546e8-9319-11e7-9a60-7bf4da0df14a.png)

Do not let my very low battery concern you!

[2017-09-06 19:37] bowlofeggs commented on #1791
Note also that the "Auto-request stable" and "Stable karma" inputs are misaligned with the rest of the form they are part of.

[2017-09-06 20:08] bowlofeggs opened #1792 "Ship the development bshell as bodhi-shell"
We have a super nice utility in the dev box called ```bshell``` that gets you a Python shell initialized with lots of handy Bodhi, like aliases for the models. We should make a new server CLI called ```bodhi-shell``` that does this for user convenience.

[2017-09-07 07:53] kparal commented on #361
Yes, this issue should be resolved now with the patches I provided some months back.

[2017-09-07 14:51] bowlofeggs opened #1793 "Several places in the code use RpmBuild and should use Build"
When we first converted the models to be multi-type capable, the ```Build.nvr``` field made sense to move into the new ```RpmBuild``` model. As a result, many usages of ```Build``` were replaced with ```RpmBuild``` througout the codebase because many places used the ```nvr``` field.

It was later determined that the field maps to Koji's unique build identifier, and that this identifier is still us

[2017-09-07 16:23] #1787 closed, assigned to bowlofeggs

[2017-09-07 16:52] bowlofeggs commented on #361
Thanks!

[2017-09-07 16:52] #361 closed

[2017-09-07 19:47] bowlofeggs opened #1794 "Package.fetch_test_cases() never removes tests"
It seems that QA tests that are removed from the Wiki do not get removed in Bodhi. I took a peek at the [code](https://github.com/fedora-infra/bodhi/blob/2.10.1/bodhi/server/models.py#L665-L707) that synchronizes Bodhi's Package test cases with the Wiki, and I observed that it adds new test cases it finds in the wiki to Packages, but it does not remove old ones:

[code]

There should also be a mec

[2017-09-08 17:38] ralphbean opened #1795 "Demonstrate modular bodhi in staging"
Emergency item from [the FESCo meeting today](https://meetbot.fedoraproject.org/fedora-meeting/2017-09-08/fesco.2017-09-08-16.00.html).  We need to demonstrate Bodhi working with modules in staging or risk slipping modular server from the f27 release.

I'm going to use this ticket to track work items.

- [x] Email infra list to raise awareness about this work.  [done](https://lists.fedoraproject.o

[2017-09-08 21:49] AdamWill opened #1796 "Web UI will not allow manual push of updates that meet the minimum karma threshold"
Previously - I'm not sure *exactly* when this changed - the Bodhi web UI would let you manually submit updates for stable so long as they'd reached a certain set of karma requirements, *even if they had not met the autopush 'karma threshold' for the update*.

Now, however, it doesn't. If an update has +2 karma and no negative karma, but hasn't reached whatever karma threshold was set for auto-push

[2017-09-10 14:51] nullr0ute opened #1798 "If a new build obsoletes a security update it should also be a security update"
A maintainer might submit a new build of a package that fixes a bug so will label the update a bugfix, but if it's obsoleteing a security update the new update should also be a security update.

eg: firefox from  firefox-55.0-6.fc26 ->  firefox-55.0.1-1.fc26

https://bodhi.fedoraproject.org/updates/?packages=firefox

[2017-09-11 15:29] bowlofeggs commented on #1795
Don't forget https://github.com/fedora-infra/bodhi/issues/1793. I suspect that Martin's patch alone might not be enough to mash modules. I still volunteer to fix #1793 - it's high on my task warrior list.

[2017-09-11 18:57] AdamWill commented on #1794
The relationship isn't necessarily 1:1, no. Wiki pages can be in as many categories as they like, so we *could* have a test case associated with more than one package, just by being in both categories. We may actually have some like that already, in fact.

[2017-09-11 19:29] ralphbean commented on #1795
OK - I got a basic mash of "fedora 2000" with a single python-libcloud build in:

[code]

The traceback at the end is expected.  There should be no mirror syncing in stg.

[2017-09-11 20:16] bowlofeggs commented on #1793
There are a couple places in the code that use ```RpmBuild``` that I believe should continue to do so:

* ```bodhi.server.metadata```: This file makes updateinfo.xml files, which are RPM-specific.
* ```bodhi.server.validators.validate_request()```: This function uses ```rpm.labelcompare()``` to find out if a proposed build is newer or older than the last build. We do need to expand this function t

[2017-09-12 14:12] bowlofeggs opened #1800 "bodhi.server.validators.validate_request() can only compare RPM versions"
```bodhi.server.validators.validate_request()``` has code to make sure that proposed Updates are "newer" than existing updates. It currently only works with RPMs because it uses ```rpm.labelCompare()```. We need to modify it to work with modules (and potentially other types, like containers).

[2017-09-13 06:43] zdohnal opened #1802 "RFE: Add way to revoke update for archived release or cancel them automatically after some time"
Hi,

when I use CLI interface to list my updates, which are in pending/testing phase, I got listed even updates, which are for archived release and I cannot revoke or cancel them. Would you mind adding any means to deal with them?

[2017-09-13 06:48] zdohnal opened #1803 "RFE: Packager can choose autopush for updates"
Hi,
some updates (for older releases mainly) don't get enough karma to be submitted to stable in several days and they need to be submitted to stable manually by packager. Would you mind adding option like "submit to stable after 7 days in testing"? I know it should be able to solve it by lesser karma, but IMO it is more dangerous.

[2017-09-13 06:52] zdohnal opened #1804 "RFE: Listing updates in pending, testing, processing phases together"
Hi,
I found out when I want to list my updates for several phase at once, AFAIK it is not possible. Would you mind adding this feature, so when I want to list my updates, which aren't in stable, so I could use option like "--status pending,testing,processing"?