[2016-07-14 23:26] oishommau commented on #692
it's also not possible to find selinux-policy-targeted

this bug may be related to https://github.com/fedora-infra/bodhi/issues/870

[2016-07-18 18:27] lmacken commented on #142
I think we're good to go here. I think it's just a matter of creating the EPEL7 branch and trying to build it.

[2016-07-18 18:40] lmacken opened #871 "Add the ability to disable auto-obsoletion"
There are some cases where a maintainer might not want to auto-obsolete an update. It might be nice to add a checkbox that would disable this feature.

[2016-07-18 18:41] lmacken commented on #869
The command-line bug will be fixed in the next release. As for the first issue, I /think/ that might be fixed as well.

[2016-07-18 18:43] lmacken commented on #852
Hey @ryanlerch, is this almost ready to merge?

[2016-07-18 20:41] gbcox commented on #838
I have two updates which also are stuck.  More often than not, my updates take 3 days or more to get to testing.  Why is this?  Am I doing something wrong?  Is it that I submit on weekends, and bodhi doesn't work on weekends?  Please advise.

https://bodhi.fedoraproject.org/updates/FEDORA-2016-db2fbe6854
https://bodhi.fedoraproject.org/updates/FEDORA-2016-579b837594

[2016-07-19 12:53] kparal opened #872 "bodhi doesn't understand FAS groups as committers"
I'm in the FAS group [group::qa-tools-sig](https://admin.fedoraproject.org/pkgdb/packager/group::qa-tools-sig/). That group is set as the owner and a committer for [testcloud](https://admin.fedoraproject.org/pkgdb/package/rpms/testcloud/). I can commit to dist-git just fine, build in Koji. But I can't create an update in Bodhi:

[code]

![bodhi](https://cloud.githubusercontent.com/assets/755451/16

[2016-07-19 18:56] userimack commented on #865
hii, I would like to work on this fix.

[2016-07-20 15:30] deekej opened #873 "[RFE] Add direct hyperlink from NVR text to koji build"
Hello guys!

Right now, there's no way to directly _click-through_ from bodhi update page to koji build page...

Example of page: https://bodhi.fedoraproject.org/updates/FEDORA-2016-fd7708db05

The _Builds_ line shows 'esmtp-1.0-15.fc23', but I can't click on it to get into koji:
https://koji.fedoraproject.org/koji/buildinfo?buildID=780917

This means, that if user (like me) does not have _testing

[2016-07-20 15:33] deekej commented on #873
Ah, I've just seen there's a small _icon_ at the end of the _Build_ line, leading directly to koji... It just shows for me that this is not so much intuitive as I would expect...

Could be possible to make the NVR text as a link to koji build?

[2016-07-22 19:37] ghost opened #874 "[RFE] Add the ability to download files from the web ui as well"
I have been working on this redesign of the Bodhi's web UI, the feedback I came across could be a good one to implement. The idea is to basically have
1)  The koji download option in the web ui itself ( not redirecting to the another website )
 2) State out the command line link as well ( so that it can be cut copy pasted)

[2016-07-26 16:18] bowlofeggs commented on #142
@lmacken I finally found some time to work on this. There are still three dependency issues:

[code]

In full disclosure, I basically just copied a lot of code from the Rawhide spec file and then seasoned them to taste for EL 7. So next I did some grepping to see whether these dependencies are real for the older version of Bodhi in EL 7 or not. Here's what I found for each:

# python-tgcaptcha2

I

[2016-07-27 10:42] igor-raits opened #875 "weak and/or rich deps are not in repodata"
[code]

[2016-07-27 10:44] igor-raits commented on #875
https://bugzilla.redhat.com/show_bug.cgi?id=1319073

[2016-07-27 11:12] pnemade commented on #875
Well the only reason I did not report this issue before because what can one do if you have been told that updates are composed on epel7 machines and epel7 do not have weakdeps support in RPM.

The information I got on 12th May from Dennis is this

`May 12 19:50:52 <dgilmore>      paragan: updates repos uses createrepo under the hood and f24 composes use createrepo_c`

[2016-07-27 16:05] jnpkrn opened #876 "[webgui] "New update" form usability"
It seems that currently the form is convenient just for the "clicky" people, but those preferring keyboard should be served as well.
Now I am talking about following use case when filling out the mentioned form:
- fill the package name under Packages label and do not select the autocompletion item
- press `TAB` so as to move to the next item

Observed: no completion of possible builds is triggered

[2016-07-28 21:34] toreanderson commented on #636
Still not fixed. I suppose I'll have to start reporting the bodhi mails to SpamCop or something.

[2016-07-29 20:43] bowlofeggs commented on #142
After talking with @lmacken on Freenode, I learned that the goal is also to update EPEL 7 from the 0.9 series to the new 2.1 series. Thus the concerns I listed above are not relevant. However, this plan comes with a whole set of new concerns!

# EPEL update policy

According to the [EPEL update policy](https://fedoraproject.org/wiki/EPEL_incompatible_upgrades_policy) we may not be allowed to updat

[2016-07-30 04:07] pnemade commented on #875
@lmacken Can you please check this issue and provide your comment here? I want to know when will bodhi start generating Weak dependency tags in repo metadata files?

[2016-07-30 17:16] piotr1212 commented on #872
I'm running into the same issue.
I'm member of group::nodejs-sig which is admin and has commit access on package nodejs. I can push git commit's and requests builds on koji but can't create an update in bodhi.

[code]

[2016-08-03 05:13] trishnaguha commented on #874
This is a great idea indeed! I would like to work on it.
Should we have all the `RPMs` on the web ui of Bodhi?
Like the RPMs Koji displays: for example `src.rpm`, `noarch.rpm`,  `x86_64.rpm` and so on?

@lmacken Could you please share your thoughts on this? :)

[2016-08-03 12:26] ghost commented on #874
The download files could be zip files, I am still understanding how to display the files in UI. So far we can display something like this :
-source packages: packagename-src.tar.bz2 (100 MB)
- x86_64 packages: packagename-x86_64.tar.bz2 (48 MB) download all
- ARM packages: packagename-ARM.tar.bz2 (37 MB)  download all
  and so on.
  However, this just an idea, once we have more concrete display op

[2016-08-04 11:19] lmacken opened #878 "Ideas for making it easier to submit an update"
Talking with @ryanlerch at Flock....
- Update the koji email when a successful build with a link to a pre-populated bodhi form
- Have the ui show all of your candidate builds that can be submitted

[2016-08-05 12:21] lmacken commented on #872
I added the `qa-tools-sig` and `nodejs-sig` groups to the `important_groups` list in ansible for our bodhi deployment.

Here is the patch for future reference. We should figure out a way to do this automatically at some point.

[code]

[2016-08-05 12:21] #872 closed, assigned to nobody

[2016-08-05 12:26] lmacken opened #879 "Disable autokarma if anyone gives a -1 to 'basic system functionality'"
If someone gives negative feedback with the "Does the system's basic functionality continue to work after this update?", we should disable the automatic pushing based on stablekarma...

We probably want to leave the unstable-karma auto-unpushing in this caes, but disable the automatic pushing to stable when it this happens.

[2016-08-05 15:15] gbcox commented on #879
It isn't a good idea to give some random tester veto power over the maintainer.  There are a multitude of reasons that a particular tester may give negative karma.  That is why the system has been setup to have negative karma affect the total score.

[2016-08-06 18:00] k3rn3l3rr0r commented on #853
I can confirm this behaviour. In my case with an URL pointing to a RHBZ bug report which was classified as private in bugzilla. Sorry, I can't find the package/update concerned, but this should be easy to reproduce.

[2016-08-08 16:59] ghost opened #880 "Bodhi pushed obsoleted package to testing"
Hello,

I originally opened ticket, https://fedorahosted.org/fedora-infrastructure/ticket/5427, but I was redirected here :)

So my issue is: I set negative karma to package (threshold for negative karma was set to -1) during pending state, so I reach obsoleted threshold, but package had been pushed to updates-testing, and obsoleted later (6 seconds later). But because the broken package is in upd

[2016-08-08 19:14] ghost commented on #874
This is how I am thinking the widget would work and look like :
![download1](https://cloud.githubusercontent.com/assets/14060749/17492659/c31c6d34-5d7a-11e6-96de-c40831ae7a94.png)
![download4](https://cloud.githubusercontent.com/assets/14060749/17492665/caac3c46-5d7a-11e6-925e-8bec871bb89f.png)

[2016-08-10 14:01] bowlofeggs commented on #142
Since the Fedora 25 alpha freeze date has now passed, I updated my previous comment to say that we will only release the new bodhi package in Rawhide and EPEL 7.

[2016-08-10 16:44] bowlofeggs commented on #654
I'm currently working on the man page, but this task is closely related to #142 so I might as well take care of both together.

[2016-08-10 18:24] bowlofeggs commented on #142
We were approved to release the backwards-incompatible change during today's EPEL meeting.

[2016-08-10 18:54] bowlofeggs commented on #142
5a here is where it was listed that it was agreed for us to update bodhi in EPEL 7:

https://meetbot.fedoraproject.org/fedora-meeting/2016-08-10/epel.2016-08-10-18.00.html

[2016-08-11 16:36] bowlofeggs opened #882 "Strip subjects in email"
This issue was [originally reported by Harald Reindl](https://bugzilla.redhat.com/show_bug.cgi?id=1366325). I've quoted what he wrote below:

[code]

[2016-08-11 20:29] bowlofeggs commented on #142
I've submitted a pull request that adds a basic man page for the CLI: https://github.com/fedora-infra/bodhi/pull/883

[2016-08-11 23:57] lmacken commented on #875
So I think this is just a matter of using `createrepo_c` instead of `createrepo`. Bodhi currently uses `mash` to generate the updates repositories, which uses the old `createrepo`. We've been planning to remove mash from the process by using Koji to generate the repos, using the new KojiSignedRepos Feature that has been in the works for a while.  https://pagure.io/koji/pull-request/54

Once that f

[2016-08-16 04:26] trishnaguha commented on #865
@lmacken We can close this :) ?

[2016-08-16 15:18] skrzepto opened #886 "Vagrant dev instance talking to prod"
I was testing out the functionality of bodhi in local vagrant instance and logged in through fas.

For some reason it was affecting prod since the author of a package was messaging me why I was messing with the karma so much. ( I was trying to fault bodhi for the race condition https://github.com/fedora-infra/bodhi/issues/834 ) Is there a way we can force isolation of development env from prod?

[2016-08-17 04:48] trishnaguha commented on #886
I think the only way to work with karma(Checking karma functionality) in dev is to write unit test to reproduce the same. That is what I have done while working with karma. https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/functional/test_updates.py is the place to workaround with karma.

[2016-08-17 15:02] skrzepto commented on #886
The problem with unittests is that its sequential. Unless there's a way we can send multiple karma updates at once (threads??) to fault bodhi.

[2016-08-17 20:58] bowlofeggs opened #887 "Bodhi sometimes does not generate repodata/repomd.xml"
@ausil sent me a script that he frequently uses after the masher runs to check on some common problems. One of the problems is that the repomd.xml file isn't always present afterwards. The following script is used by release engineering to work around this problem:

[code]

This problem is mentioned at the bottom of https://infrastructure.fedoraproject.org/infra/docs/bodhi.rst

The cause is not kn

[2016-08-18 09:09] trishnaguha commented on #874
@radhikamani88 Thanks for the update.
@lmacken What are the things we should look into to have those packages directly as downloadable on Bodhi UI?
Let me rephrase what we actually want:
- Bodhi should be able to check what type of packages have been built for the update and list them in the dropdown list.
- Selecting that package should return the package as downloadable along with the size.

So

[2016-08-18 17:52] ausil commented on #887
I want to be clear. I've never used the script. Others wrote it and use it.

Dennis

On August 17, 2016 3:58:15 PM CDT, Randy Barlow notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-20 19:04] gbcox opened #889 "Stable push failed"
Can you please advise?  This is the first time I've ever experienced this error - since testing went fine, I'm thinking something is wrong on the bodhi side.

dist.upgradepath FAILED for sphinx-2.2.11-2.fc24
        https://taskotron.fedoraproject.org/artifacts/all/31b42514-666a-11e6-a44e-525400120b80/task_output/sphinx-2.2.11-2.fc24.log

dist.upgradepath FAILED for sphinx-2.2.11-2.fc23
        ht

[2016-08-20 19:55] bowlofeggs commented on #889
Hello @gbcox!

I believe these tests are actually from taskotron and not Bodhi (even though Bodhi is showing them to you), but maybe we can try to understand it together.

Looking at the first link, it sounds to me like it's upset that Fedora 25 has an older version (2.2.10) than the proposed update for Fedora 24 (2.2.11). Therefore, if the F24 update were pushed out, F25 users would have an older

[2016-08-20 20:01] gbcox commented on #889
That could be, I built the package for F25 but didn't submit it to testing for F25 because I was under the impression it would be placed there automatically, since we're not even in alpha yet.  Are you saying you believe I need to submit this also to F25 for testing?

[2016-08-20 20:04] bowlofeggs commented on #889
@gbcox Though the alpha hasn't happened, the bodhi activation point did occur (I think about two weeks ago?) which means that updates for Fedora 25 do need to go into Bodhi.

I bet that submitting the same update to Fedora 25 will solve the problem for you. Fingers crossed!

[2016-08-20 20:22] gbcox commented on #889
Thanks, well I pushed it - and unfortunately it appears I need to wait another 7 days to get a fix which is need pushed.  It doesn't seem correct that this dependency would exist.  There may be reasons to patch a lower Fedora release rather that the current... and this would imply that you need to create a fake patch to trick the system into allowing you to patch the previous release.  That doesn'

[2016-08-21 14:52] bowlofeggs commented on #889
I think the rule does make sense. Consider this scenario:

1) A user has package-1.1.1 on Fedora 24.
2) Fedora 25 has package-1.0.1.
3) The user upgrades to Fedora 25, which will keep them on package-1.1.1 instead of 1.0.1.

There are two potential problems with this. For one, package-1.1.1 was not tested with the rest of Fedora 25's packages, so it may have unknown problems. Secondly, consider th

[2016-08-21 14:52] #889 closed, assigned to nobody

[2016-08-21 15:48] gbcox commented on #889
Great... thanks for the information and your help.  The packages got pushed to stable after I submitted the update to F25.

[2016-08-23 11:30] ralphbean commented on #361
Note that #890 fixed the UI portion of this only.  The server-side mash-time checks still need to be adjusted.

(In retrospect, that's a little dangerous because people might see the UI and think all checks are being consulted, when in reality it's still just the per-update checks).

[2016-08-23 11:39] mkrizek opened #891 "Incomplete list of Taskotron checks is pulled"
With #890, bodhi pulls Taskotron results per koji_build. It seems though that not always a complete list of results is pulled. See https://bodhi.fedoraproject.org/updates/FEDORA-2016-d1861f2d10 and https://bodhi.fedoraproject.org/updates/FEDORA-2016-a4de0434e9. They differ in a number of rpmgrill subchecks, at least in my browser. The complete list is here: https://taskotron.fedoraproject.org/resu

[2016-08-23 11:45] kparal commented on #361
Do I understand correctly that some parts of Bodhi still send `type=bodhi_update` requests and we should continue producing these results until that is resolved?

[2016-08-24 18:41] #630 closed

[2016-08-24 19:22] bowlofeggs commented on #829
This seems related to but not the same as https://github.com/fedora-infra/bodhi/issues/579

[2016-08-26 08:06] lkundrak opened #892 "CSRF token mismatch a lot more often than it should"
I do very often get this:

[code]

It's very annoying. The reload that forgets the build list.

No idea when the CSRF tokens are expired, but it seems that it happens on each page load and that they expire after some timeout. Both sound wrong to me: the first one makes it impossible to open multiple tabs (and that's often very desirable) and the second one expires the token while I'm writing the U

[2016-08-26 12:52] lmacken commented on #836
I think this is a great idea.

[2016-08-29 17:01] bowlofeggs commented on #94
It sounds like releng hit this problem again today:

[code]

My summary interpretation of the problem is that updates don't get obsoleted when newer updates are being pushed to stable, which can cause the older package to remain open as an update.

[2016-08-29 20:38] bowlofeggs commented on #765
This appears to be the old job in question:

https://github.com/fedora-infra/bodhi/blob/1.0/bodhi/jobs.py#L38-L71

[2016-08-30 02:28] bowlofeggs opened #895 "Add a --version flag to the bodhi CLI"
The bodhi 1 CLI had a --version flag, but the CLI lost that flag during the bodhi 2 dev cycle. As we plan to roll bodhi 2 out to Fedora Rawhide and EL 7, but not to EL 6 or Fedora 23-25, we will need to add a --version flag to the Bodhi 2 CLI so that fedpkg can tell which Bodhi CLI it is interacting with. The fedpkg developers keep fedpkg at the same version across releases, while in Bodhi we'd pr

[2016-08-31 16:09] bowlofeggs commented on #142
This merged pull request makes fedpkg compatible with Bodhi 0.9 and 2.1 at the same time, which gives us more flexibility with release timing (i.e., we don't have to "turn our keys" at the same time as fedpkg):

https://pagure.io/fedpkg/pull-request/40

I've now filed BZs against Rawhide and EPEL 7 to request that they update fedpkg:

https://bugzilla.redhat.com/show_bug.cgi?id=1371996
https://bug

[2016-09-01 07:40] tkdchen opened #897 "Duplicate Candidate Builds and Related Bugs"
While creating a new update, I enter fedpkg in Packages, then Bodhi find out candidate builds and related bugs and put them into respective list. Next, I don't leave the page, and change the package name but still the same name fedpkg, Bodhi tries to find out builds and bugs again, and fill them in the list again, as shown below.

![screenshot from 2016-09-01 15-29-13](https://cloud.githubusercont

[2016-09-01 15:56] bowlofeggs commented on #897
Thanks for the report and helpful screenshot @tkdchen, I agree that these duplicates shouldn't appear. Probably something needs to clear out the results before showing more.

I'm guessing this is a JS issue, but I could be wrong.

[2016-09-01 17:31] #895 closed, assigned to bowlofeggs

[2016-09-01 19:18] bowlofeggs opened #898 "[tracker] File issues for each of these taskotron problems"
When the Bodhi package builds in Fedora, the following taskotron output is generated:

[code]

This issue is just a standing TODO for filing issues for each of the sub-issues above. The above output is from https://taskotron.fedoraproject.org/artifacts/all/1695453c-7070-11e6-a44e-525400120b80/task_output/rpmgrill.json

[2016-09-01 19:50] bowlofeggs opened #899 "setup.py install includes the unit tests"
Currently running setup.py install will install the unit tests. We should adjust setup.py to exclude the unit tests, or we could move the unit tests to be outside of the code directory so setup.py doesn't find them during install. Either way is fine.

[2016-09-01 19:54] bowlofeggs opened #900 "Reorganize locations of client and server code"
Since the client and server code typically gets split into two different RPMs during packaging, it would be easier to separate them if they were more cleanly separated in our git repository. Something simple like moving them into bodhi/client/ and bodhi/server/ would make it a little easier to keep them separate in the spec file. Alternatively, we could create two separate Python packages for the

[2016-09-02 00:44] tkdchen commented on #897
@bowlofeggs I think you are right. In bodhi/static/js/update_form.js, event handler of `typeahead:selected` just adds builds and bugs without removing existing ones.

[2016-09-02 08:12] morxa opened #902 "Bodhi sends notifications to old address after e-mail change"
I've changed my e-mail addresses in all locations I could think of:
- [fedmsg](https://apps.fedoraproject.org/notifications)
- [bugzilla](https://bugzilla.redhat.com/)
- [Fedora Admin](https://admin.fedoraproject.org/accounts/)

But I still get notifications from bodhi at my old address about updates I've commented on, see the message below for an example.

It looks like this message doesn't come

[2016-09-02 08:14] morxa commented on #902
In case it's relevant: I changed my address around June 22, 2016.

[2016-09-02 15:19] bowlofeggs commented on #142
https://github.com/fedora-infra/bodhi/issues/900 is also a blocker for this work.

[2016-09-02 15:22] bowlofeggs commented on #900
I've been working on updating the bodhi package in Rawhide, and I've hit a problem where the bodhi-client package depended on the bodhi-server package. I attempted to resolve this by creating a new python2-bodhi package to own the `bodhi/__init__.py` file, but unfortunately I then discovered that the init file contains server code. Due to this, I have decided to formally split the server and clien

[2016-09-02 15:38] bowlofeggs commented on #900
This is needed to resolve https://bugzilla.redhat.com/show_bug.cgi?id=1372461

[2016-09-05 03:52] nirik commented on #875
ok, we now are pushing updates on a fedora-24 instance and using rpm that understands weak deps.
We didn't have to change from createrepo, just a newer rpm.

[2016-09-05 03:52] #875 closed, assigned to nobody

[2016-09-05 08:45] puiterwijk opened #905 "If any bug is marked as private, the updates consumer won't get details for the rest"
The updates consumer (bodhi/consumers/updates.py, def work_on_bugs) has a loop where it loops over all bugs, but it doesn't have a try-catch per bug, meaning that if one bug fails, the entire update run fails.
This causes bugs to get without bug details.

Infra ticket: https://fedorahosted.org/fedora-infrastructure/ticket/5459#comment:1

Traceback for a single bug:

[code]

[2016-09-05 19:25] k3rn3l3rr0r commented on #897
I think we can simply replace the content of the boxes with the spinners when the `typeahead:selected` event is triggered, instead of prepending them to the content. This will ensure that the boxes are cleaned up and only the items found for the newly selected package will be shown...  Shall I create a PR from this 5f3ba13?

[2016-09-06 13:35] bowlofeggs commented on #897
@k3rn3l3rr0r Will this still work if the user wants to select multiple packages for the update? For example, if I want to make an update on ejabberd and erlang-p1_pam (one of its dependencies) and I type "ejabberd" and select it, when I start typing erlang-p1_pam will it clear my ejabberd selection?

[2016-09-06 14:36] k3rn3l3rr0r commented on #897
@bowlofeggs This would clear the selection everytime you start typing a new package name into the packages input field. Not the right way to go, as I see now. So, the only way to achieve the desired behaviour would possibly be, to compare if the newly retrieved build ID's and bug ID's aren't already listed while adding them into the respective lists. Shall I give this approach a try? I'm not a pac

[2016-09-06 14:46] bowlofeggs commented on #897
@k3rn3l3rr0r Another approach that could work is simply to clear any items that haven't been checked by the user. That might be simpler, actually, and would probably be more expected behaviour. I think I lean towards this option. What do you think @tkdchen?

I am impressed that you are contributing to Bodhi without necessarily being a user of it. We really appreciate your help. @k3rn3l3rr0r++

[2016-09-06 18:12] bowlofeggs opened #908 "Work around missing repodata.xml"
Sometimes the previous run of the Bodhi masher leaves some directories with missing repodata.xml files (See #887). That issue is about stopping that from happening in the future, but it is a bit mysterious and may take some time to identify its cause.

In the meantime, we can make Bodhi more robust. In subsequent runs of the masher, there is a test for the existence of the folder that should conta

[2016-09-06 18:13] bowlofeggs commented on #887
I've filed https://github.com/fedora-infra/bodhi/issues/908 as a workaround to this issue. This issue will remain open as a way to track the problem of the missing file, but I think fixing #908 will be easier and will relieve some of the pain felt by releng.

We should still try to identify why these files are going missing and see if we can stop that from happening. #908 beign fixed makes fixing

[2016-09-06 18:33] bowlofeggs opened #909 "Migrate to using Koji Signed Repos instead of our own masher"
There are a number of issues with Bodhi's masher, and a number of benefits to having Koji create signed repositories for us instead of using our own masher in the future:
- There are issues with .nfslock files being left around after the masher runs in production.
- Getting rid of our masher means less code for Bodhi to maintain (yay!)
- The problems with the missing repodata.xml files (#887) woul

[2016-09-06 18:39] bowlofeggs opened #910 "Bodhi should clean up rpm-ostree mounts after trees are composed"
rpm-ostree doesn't always clean up its tmpfs mounts after it runs. This causes a headache for release engineering when Bodhi runs OSTree composes. We should add some code to Bodhi to babysit rpm-ostree and make sure the mounts it creates get cleaned up. We should also look into rpm-ostree itself and see if there are improvements we could make or suggest on their bug tracker to make it more robust.

[2016-09-06 18:42] bowlofeggs opened #911 "Tag push log messages per repository"
Release engineering has requested that we tag our release related log messages per repository, so that it's easier to filter messages per push. For example, they would like an easy way to use journalctl to see all messages for f24-updates or f24-updates-testing, without intermingling them. We'll need to come up with a good way to tag our log messages for easy searching.

[2016-09-08 12:00] #905 closed, assigned to nobody

[2016-09-08 19:40] k3rn3l3rr0r commented on #897
@bowlofeggs  So, another proposal in c6a9abf, but if we don't do it the hard way - comparing the ID's - we can still end up with duplicates in the lists. If you check some of the checkboxes and after that selects the same package in the typeahead field, there will show up the already selected options (but unchecked) in the list too...

[2016-09-09 17:53] amitsin6h commented on #908
can i work on this

[2016-09-09 17:54] amitsin6h commented on #899
Want to work on this

[2016-09-09 18:15] bowlofeggs commented on #908
@amitsin6h sure, that would be great!

[2016-09-09 18:19] amitsin6h commented on #908
so how can i start. excited \o/

[2016-09-09 18:30] bowlofeggs commented on #899
I needed to mess with the setup.py files to split up the client and server, so I went ahead and fixed this in https://github.com/fedora-infra/bodhi/pull/915

I'll update that commit message to reference this issue. Thanks for taking a shot at it @jarifibrahim, and thanks to @amitsin6h for the offer to help out too!

[2016-09-09 19:29] bowlofeggs commented on #908
Hey @amitsin6h! The easiest way to get start with Bodhi development is to use our Vagrant setup:

https://github.com/fedora-infra/bodhi/blob/develop/README.rst#vagrant

I'm not actually too familiar with the specific code that this ticket is about, so I'm not sure I can give you very specific pointers for it. I marked it easy fix because once you find that if statement (wherever it is), it's likel

[2016-09-09 19:45] #899 closed, assigned to nobody

[2016-09-09 19:45] #900 closed, assigned to bowlofeggs

[2016-09-09 19:54] himanshuraja commented on #908
hello,can I also work on it?

[2016-09-09 21:52] bowlofeggs commented on #908
Hello @himanshuraja! This is probably going to be a pretty small change, but if you want to coordinate with @amitsin6h go for it!

[2016-09-09 22:19] himanshuraja commented on #908
Yes but I am new to this , can you please help me out in starting ? Thank you .

Sent from my iPhone

[2016-09-10 04:52] trishnaguha commented on #908
@amitsin6h @himanshuraja You probably need to check https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/metadata.py
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/consumers/masher.py#L770-L816

Might want to look at the testcases also?
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_masher.py
https://github.com/fedora-infra/bodhi/blob/develop

[2016-09-10 11:00] himanshuraja commented on #908
thanks a lot @trishnaguha .

[2016-09-10 11:16] trishnaguha commented on #799
@bowlofeggs We can close this? :)

[2016-09-10 12:07] himanshuraja opened #917 "400 bad request"
https://download.fedoraproject.org/pub/fedora/linux/updates/%s/%s/repodata/repomd.xml
is giving error

[2016-09-10 12:08] himanshuraja commented on #908
https://download.fedoraproject.org/pub/fedora/linux/updates/%s/%s/repodata/repomd.xml
is giving error cause .

[2016-09-10 12:15] sayanchowdhury commented on #917
Surely, %s is culprit here but can you share more details on the same? How to reproduce, etc?

[2016-09-10 12:16] sayanchowdhury commented on #908
@himanshuraja It would be better to come over on IRC for any issues you are facing.

[2016-09-10 12:17] himanshuraja commented on #917
Hi,
![bad](https://cloud.githubusercontent.com/assets/9448918/18410370/a7d8b6d6-777e-11e6-9e68-4463f62bb151.png)

[2016-09-10 12:20] sayanchowdhury commented on #917
The URL is malformed and ought to throw error. Can you share from where you are trying to access the same URL. If you trying to setup the project to contribute it would better to ping us over IRC with the setup issues

[2016-09-10 12:23] himanshuraja commented on #908
Hi,
I am new to contributing,can you please share the channel where I can log
on.
Thanks.
Regards,
Himanshu Sharma
dgplug,Acadgild

On Sat, Sep 10, 2016 at 5:46 PM, Sayan Chowdhury notifications@github.com
wrote:

[2016-09-10 12:24] sayanchowdhury commented on #908
The channel is `#fedora-apps` on Freenode.

[2016-09-10 12:26] himanshuraja commented on #917
Yeah thank you for your kind reply.

[2016-09-10 12:26] himanshuraja commented on #908
I really appreciate it,thank you.

[2016-09-10 17:12] bowlofeggs commented on #917
I'm going to close this, as it does not seem to be a bodhi issue.

[2016-09-10 17:12] #917 closed, assigned to nobody

[2016-09-10 17:15] bowlofeggs commented on #799
@trishnaguha it does sound like we can - thanks!

[2016-09-10 17:15] #799 closed

[2016-09-10 17:21] bowlofeggs commented on #865
Thanks @trishnaguha, looks like we're good to close!

[2016-09-10 17:21] #865 closed, assigned to nobody

[2016-09-10 19:13] bowlofeggs opened #919 "The bootstrap symlink is not getting packaged by setup.py"
The 2.1.9 beta is currently failing to load bootstrap because the git repo symlink is not making it into the downstream RPM. Adding bootstrap to the SERVER_MANIFEST.in should fix this problem.

[2016-09-10 19:19] #919 closed, assigned to bowlofeggs

[2016-09-11 00:03] himanshuraja commented on #917
Hi,
Actually this link I have gathered from the following.

On Sat, Sep 10, 2016 at 10:42 PM, Randy Barlow notifications@github.com
wrote:

[2016-09-11 10:35] k3rn3l3rr0r commented on #876
@jnpkrn I don't think, that the "New update" form,  as it is now, serves only the "clicky" people. You just have to press `arrow down` / `arrow up` on your keyboard to select the desired package from the autocomplete list and confirm your selection with `TAB`, which works well for me in Chrome and Firefox...

But to further enhance the accessibility of the form I would suggest to autofocus the "Pa

[2016-09-12 05:36] amitsin6h commented on #908
am having problem in setting up bodhi development am setting up using virtualenv

[2016-09-12 05:57] k3rn3l3rr0r commented on #908
@amitsin6h Can you describe the problem further? Maybe include the error message or a link to a log?

[2016-09-12 06:00] amitsin6h commented on #908
@k3rn3l3rr0r @trishnaguha @bowlofeggs @sayanchowdhury     http://paste.fedoraproject.org/427071/36593701/

[2016-09-12 06:48] k3rn3l3rr0r commented on #908
@amitsin6h @bowlofeggs I can't test it right now on virtualenv host, but it seems like a deps/path problem coming from link_system_libs() in the bootstrap.py ... This conversation should be moved in new, separate issue.

[2016-09-12 14:13] jtlayton opened #922 "update locked for a very long time"
This update has been locked for quite a while now. Is there a problem with it?

[code]

[2016-09-12 16:24] bowlofeggs commented on #142
I've deployed a 2.1.9 beta build to https://bodhi.stg.fedoraproject.org/ and would appreciate testing feedback.

[2016-09-12 16:36] bowlofeggs commented on #908
@amitsin6h it looks to me like maybe you don't have a virtuenv enabled.

[2016-09-12 16:39] bowlofeggs commented on #922
Hi @jtlayton, it looks like it's in testing now. I think there had been a problem with Fedora 24 over the past few days, but I think @nirik cleared it up now. Thanks for letting us know!

[2016-09-12 16:39] #922 closed, assigned to nobody

[2016-09-12 16:40] amitsin6h commented on #908
@bowlofeggs how should i enable it

[2016-09-12 17:46] bowlofeggs commented on #908
@amitsin6h I'm not sure, but it does sound like there might be a problem in the virtualenv setup. I agree with @k3rn3l3rr0r, and recommend filing a separate issue as we don't want to fill this ticket up with non-related conversation.

[2016-09-13 03:27] ryanlerch opened #925 "Move bodhi project hosting to pagure"
It would be awesome if we could move the bodhi project hosting to pagure.

[2016-09-13 15:45] trishnaguha commented on #579
I think we can fix this issue and #829 if we can fix #879 .
The PR is on the way https://github.com/fedora-infra/bodhi/pull/894

[2016-09-13 16:52] bowlofeggs commented on #925
@ryanlerch absolutely, I'm a huge +1 to this. Are you familiar with what would be involved, besides just git pushing the repo to pagure? I've been meaning to look into doing this but haven't found the time yet. FOSS project tracking software for the win!

[2016-09-13 17:12] nirik opened #926 "Document where all repocaching takes place"
We currently have a need to regenerate all the repodata fresh (on order to pick up any weak deps in packages). In order to do that we need to figure out all the places that repodata could be cached so we can remove those caches and get bodhi to do a fresh new repodata.

I already noted/tried removing /mnt/koji/mash/updates/*repocache but that didn't do it.
It might be mash that has additional cach

[2016-09-13 17:32] pnemade commented on #926
Not sure where this documentation will happen but I think good to add some section on this "Regenerating repodata freshly" in fedora-infra bodhi SOP also.

[2016-09-13 19:26] bowlofeggs opened #927 "Update emails still include boilerplate info for "yum" rather than "dnf""
Scott Dowdle [reported in Red Hat's Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1375701) that Fedora update e-mails still reference `yum` instead of `dnf`:

[code]

We should fix this, but we should also make sure that EPEL <= 7 updates continue to reference `yum` when we fix it.

[2016-09-13 20:01] k3rn3l3rr0r commented on #927
I would like to try to fix this, as I was about to take a look around and try to fix #882 and this could be done both together.

[2016-09-14 04:37] amitsin6h commented on #908
@bowlofeggs is this the thing which i need to fix
http://paste.fedoraproject.org/427822/82777114/

[2016-09-14 04:48] trishnaguha commented on #908
@k3rn3l3rr0r Make sure to open PR since you have already committed in your fork :).

[2016-09-14 05:06] k3rn3l3rr0r commented on #908
@trishnaguha Thanks. But I commented on that diff and pinged @bowlofeggs to take a look, as I wasn't very sure, this could be merged... But yeah, I will open a PR.

[2016-09-14 08:36] kparal commented on #579
Thanks for working on this, @trishnaguha!

[2016-09-14 12:02] bowlofeggs commented on #927
That would be fantastic @k3rn3l3rr0r. Would you mind making sure they are fixed in two separate commits so they are each atomic? Thanks!

[2016-09-14 12:05] k3rn3l3rr0r commented on #927
@bowlofeggs I will do my best... And will try to remember your passion for atomic commits. :)

[2016-09-14 12:27] bowlofeggs commented on #908
@amitsin6h It looks like you have a missing dependency. I think @k3rn3l3rr0r might have made the change we need in that linked PR. @k3rn3l3rr0r, I'll take a look soon and thanks very much!

[2016-09-14 12:50] bowlofeggs commented on #927
@k3rn3l3rr0r haha, thanks!

[2016-09-14 13:32] bowlofeggs commented on #772
I believe that @trishnaguha fixed this in #821.

[2016-09-14 13:32] #772 closed

[2016-09-14 13:32] bowlofeggs commented on #796
I believe that @trishnaguha fixed this in #821.

[2016-09-14 13:32] #796 closed

[2016-09-15 14:13] dodjiseketeli opened #932 "Support waiving some blocking Taskotron task results"
There are some Taskotron task results that can block Bodhi updates.

In some case, it is important for package maintainers to be able to override the fact that a particular task result blocks the package update.

In this overriding process, the maintainer would have to document the reason why she thinks that the result of the offending test should not block the package update.

All the waivers of

[2016-09-15 14:26] dodjiseketeli opened #933 "Make Taskotron's task-abicheck results potentially blocking for package updates"
The task-abicheck task[1](https://fedoraproject.org/wiki/Taskotron/Tasks/abicheck) spots potentially incompatible ABI changes in C and C++ packages updates that are in the "critical path"[2](https://fedoraproject.org/wiki/Update_Critpath_SOP) set.

Bodhi should take the results of that task-abicheck task into account before allowing a package to be automatically updated.

Whenever the result of th

[2016-09-15 14:27] dodjiseketeli commented on #932
Please note that this issue is probably a blocker for issue https://github.com/fedora-infra/bodhi/issues/933.

[2016-09-15 18:20] keszybz commented on #933
It'd be nice to be able to preemptively mark some builds as abi breaks to tell task-abicheck to ignore them. I have no idea what the best way to mark this would be (maybe some kind of fake Provides). This way we don't get false-positive errors from task-abicheck.

[2016-09-15 21:12] dodjiseketeli commented on #933
Zbigniew Jędrzejewski-Szmek notifications@github.com a écrit:

There is a way to tell the ABI verifier in task-abicheck to avoid
reporting some classes of ABI changes, because for instance, the package
maintainers knows that that particular class of ABI changes is OK for
her package.  To do so, the package maintainer needs to add a file which
name ends with the suffix ".abignore" into the package.

[2016-09-15 21:31] bowlofeggs commented on #897
@k3rn3l3rr0r yeah I think you are correct. How about we both compare IDs and drop unchecked boxes. Does that sound good?

[2016-09-15 22:20] keszybz commented on #933
I had in mind a more transient condition: where there's a single
abi break, for example an .so major-version bump.

Some packages put the following in %files:

[code]

where `N` is some number, so that when the so-version changes, and
`N` has to be explicitly updated. In that case one could also
"tell" abi-check that the abi break it will detect is expected.

On Thu, Sep 15, 2016 at 02:12:40PM -07

[2016-09-16 18:06] bowlofeggs opened #934 "Database migration needed for the new releases.pending_signing_tag column"
The develop branch current fails to operate properly, as we need to add a migration to create the new releases.pending_signing_tag column:

[code]

[2016-09-17 18:28] #934 closed, assigned to bowlofeggs

[2016-09-17 18:51] #879 closed, assigned to nobody

[2016-09-19 10:39] trishnaguha commented on #579
#894 makes sure that Autopush will be disabled automatically whenever a critical update receives negative karma.
@kparal @bowlofeggs Sounds like we can close this issue?

[2016-09-19 10:40] trishnaguha commented on #829
I will try to submit patch for it.

[2016-09-19 13:35] kparal commented on #579
@trishnaguha Just to clarify, does bodhi now give -1 karma even for "Does the system's basic functionality continue to work after this update?" question?

[2016-09-19 17:34] bowlofeggs commented on #654
Bodhi 2.2.0-1 has been released on Rawhide https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/PIUKJNNXYEKC6QD6SZOT6UIHVXBFHDID/

I will file tickets to track each of the three remaining todo checkboxes in the description, since they could each be done separately.

[2016-09-19 17:35] bowlofeggs opened #937 "Add support for editing updates to the CLI"

[2016-09-19 17:35] bowlofeggs opened #938 "Add --testable and --candidates support (already implemented in python-fedora)"

[2016-09-19 17:36] bowlofeggs opened #939 "Add example documentation for using the CLI"
We should add a workflows section to the man page that has some practical examples on how to use the CLI.

[2016-09-19 17:37] bowlofeggs commented on #654
I've created these three tickets to track the remaining work from the body of this ticket:

#937
#938
#939

[2016-09-19 17:37] #654 closed

[2016-09-19 17:39] bowlofeggs commented on #142
2.2.0 is now built in Rawhide.

[2016-09-19 18:38] bowlofeggs commented on #142
There is now a Bodhi update for bodhi 2.2.0 in EPEL 7. I'm going to go ahead and close this ticket.

https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2016-b261ba8af3

[2016-09-19 18:38] #142 closed

[2016-09-19 19:43] #876 closed, assigned to nobody

[2016-09-20 04:43] #897 closed, assigned to nobody

[2016-09-20 14:13] mattdm opened #942 "RFE: link to test-cases in dist-git (in addition to those in the wiki)"
See thread on [test-list](https://lists.fedoraproject.org/archives/list/test@lists.fedoraproject.org/message/OV6562EG3UYZJOA2LU4J6S2VMLJ34BKD/)

I love the cool thing where bodhi automatically links to test cases in the wiki, if they exist. But packagers (and testers) haven't created very many of these. The [wiki process](https://fedoraproject.org/wiki/QA:SOP_package_test_plan_creation) isn't hard

[2016-09-21 01:45] bowlofeggs opened #946 "Add test coverage to ensure the override.html template is covered"
Due to lack of test coverage, we had a problem in production where the override.html template could not be rendered due to an incorrect import. If we had test coverage on rendering that template, we would have caught that problem before it reached production (or even develop!)

https://github.com/fedora-infra/bodhi/pull/944/ fixed the issue.

[2016-09-21 02:00] bowlofeggs opened #948 "Add test coverage for bodhi.server.services.updates.get_update_for_editing()"
We had an issue in production with an error in `bodhi.server.services.updates.get_update_for_editing()` that made it clear that we lack test coverage on the function. Please add tests for this function.

https://github.com/fedora-infra/bodhi/pull/945/ addressed the error in production.

[2016-09-21 02:25] bowlofeggs opened #949 "Update comments should not allow NULL values in the comment text"
We had a problem in production where update comments were NULL, causing some template rendering to fail. There's not a good reason for update comments ot be NULL vs. empty string, so let's change that column to disallow NULL and write a migration to apply that change on upgrade. The migration will need to first change all NULL values to empty string.

[2016-09-21 04:24] bowlofeggs opened #950 "Autopush seems to be broken"
Usually when an update reaches the stable karma threshold, there will be a comment from the bodhi user stating that the update has reached this status and that it will be pushed to stable. For example, this update from bodhi-2.0-212 exibited that behavior:

https://bodhi.fedoraproject.org/updates/FEDORA-2016-ffc86f2b30

Since deploying 2.2.0 to production, it has been noted that updates no longer

[2016-09-21 04:33] trishnaguha commented on #950
@bowlofeggs Not sure why. We have test for this.

[2016-09-21 08:30] kalev opened #951 "Bodhi web UI unusable for large updates after 2.2.0 update"
After latest Bodhi update, the sheer number of taskatron test results seems to cause most web browsers to hang. Try any larger update, such as https://bodhi.fedoraproject.org/updates/FEDORA-2016-78efe5595f -- Firefox locks up here after clicking on this link and Chrome as well.

[2016-09-21 10:33] trishnaguha commented on #950
What about this one? https://bodhi.fedoraproject.org/updates/quantum-espresso-5.4.0-10.fc25
This seems to be autopushed.

[2016-09-21 14:13] mattdm commented on #942
Update: in line with the [New Distgit Task Storage Proposal](https://phab.qadevel.cloud.fedoraproject.org/w/taskotron/new_distgit_task_storage_proposal/) for taskotron,  I suggest a subdir in each package's dist-git called `/testcases` (like that proposals' `/taskotron`). Then, any file (possibly ignoring a README) in that dir would be used.

[2016-09-21 16:42] bowlofeggs opened #952 "Bodhi 2.2.0 does not display the lock banner on locked updates during pushes anymore"
These two updates should both display that they are locked right now because there is an active push for them in progress, but neither of them displays the locked banner:

https://bodhi.fedoraproject.org/updates/FEDORA-2016-a6867138e2
https://bodhi.fedoraproject.org/updates/FEDORA-2016-821d2ec8cd

[2016-09-21 16:53] nullr0ute opened #953 "RFE: admin backend: ability to "force" an update stable"
during the release cycle we often have updates that are known good, or in the very least must go stable, despite the amount of karma applied to them.

An example would be:
bodhi-push --builds 'NVR1 NVR2 NVR3' --username blah

It would be useful to have a --force or "--I-know-what-I-am-doing" or similarly named option that ignores karma/crit-path criteria and pushes it stable anyway.

Basically thi

[2016-09-21 17:59] frieben commented on #951
Firefox fills all available real memory and swap space after opening https://bodhi.fedoraproject.org/updates/FEDORA-2016-78efe5595f. I killed the process at 8 GB and counting .. .

[2016-09-21 18:16] bowlofeggs commented on #949
I believe this update might have a NULL comment from Bodhi:

https://bodhi.fedoraproject.org/updates/FEDORA-2016-0ab60daf6d

[2016-09-21 20:19] bowlofeggs commented on #952
@puiterwijk suggested that the problem is that the `update.locked = True` isn't followed by `session.add(update)` at https://github.com/fedora-infra/bodhi/blob/2.2.0/bodhi/server/consumers/masher.py#L220

[2016-09-21 21:12] bowlofeggs opened #955 "insert_updateinfo() does not encode the unicode xml_dump, causing an encoding issue"
The version of createrepo_c in EL 7 returns a string (byte array) from xml_dump(), but the version in Fedora 24 returns a unicode object. By default, Python 2.7 uses ascii encoding when asked to write() a unicode object to a file. This is failing in production, since our updateinfo has characters that don't have ascii code points.

The fix is easy! The call to `self.uinfo.xml_dump()` needs a `.enc

[2016-09-21 21:23] bowlofeggs opened #956 "Add a log statement to masher when reusing cached updateinfo, and change generating statement to info"
Basically, in https://github.com/fedora-infra/bodhi/blob/2.2.0/bodhi/server/metadata.py#L79-L81 change

[code]

to

[code]

[2016-09-22 00:56] ryanlerch opened #957 "Page title for multiple updates can be quite large"
On updates that have many packages, like this GNOME one for example -- https://bodhi.fedoraproject.org/updates/FEDORA-2016-78efe5595f -- the &lt;title&gt; of the page contains all the package names.

While this might work for updates with just one package, for updates with many, it is unweildy and not useful at all. On a tab in your browser, you only see the name of the first package in the set, w

[2016-09-22 04:00] bowlofeggs commented on #951
Thanks for the bug report! A quick fix would probably be to limit the number of taskotron results that are rendered in the template to some arbitrary but small-enough number. I think we could get a fix like that in soon so that the pages at least render.

Something perhaps a little more sohpisticated would be to sort the tasks so that the failing ones sort highest, limit them to some arbitary numb

[2016-09-22 04:21] kalev commented on #951
Sure, makes sense to me to limit the results for now, thanks!

@kparal, any comments about sorting taskotron tasks output?

[2016-09-22 04:28] bowlofeggs commented on #950
@trishnaguha I think that update may have happened before we finished updating production to 2.2.0. The outage started at 19:00:00 UTC that day, and that update comment came it at ~19:25, but it took us longer than that to get everything done. I don't know the exact time we started/finished, but I could probably find out in the logs if we want to know for sure. I could be wrong.

Furthermore, ther

[2016-09-22 04:58] trishnaguha commented on #952
This also means we don't have test for this :(.

[2016-09-22 08:39] kparal commented on #951
There are multiple issues, I think. I'll try to describe them in detail, sorry for a long post.

First, tasks IDs look like `namespace.task_name.any.number.of.subresults`. We currently have just a single important namespace, `dist`. So some of results are reported simply as `dist.depcheck`. Other tasks, like rpmgrill, decided to report an overall result as `dist.rpmgrill`, but also individual subr

[2016-09-22 09:18] jskladan commented on #951
@kparal I'll just clean up some terminology, that might lead to false expectancies:

This is not technically true, as we don't really store/provide definitive relations between results, on the Taskotron/ResultsDB side. So there is no way to say "give me all 'subresults' of a this result with ID X". What you could do, though (and what @kparal probably meant) is that you could do a query like this:

[2016-09-22 10:37] puiterwijk opened #961 "Masher locks update rows"
While the masher is running, it seems to be holding a lock on the updates, blocking comments to the updates in the push.
The comments do get added as soon as the mash finishes.

[2016-09-22 10:39] puiterwijk commented on #952
Turns out that we WERE locking them, but the interface didn't get the massive banner because of date_locked not being set.
See #959 and its commit messages for the explanation.

[2016-09-22 14:31] bowlofeggs commented on #952
Thanks @puiterwijk! I'll update the text here to reflect that.

[2016-09-22 14:50] #956 closed, assigned to bowlofeggs

[2016-09-22 16:49] #952 closed, assigned to bowlofeggs

[2016-09-22 17:10] #955 closed, assigned to bowlofeggs

[2016-09-22 18:56] bowlofeggs opened #963 "Do not show updates from unsupported Fedora versions in users' profile pages"
jskarvad reported that Bodhi is displaying updates for Fedora versions that are no longer supported on his user profile. In his case, these are Fedora 21 updates that were never pushed to stable, and Fedora 21 went end of life many months ago. He requests that Bodhi not display updates for non-supported Fedora releases in user profiles, which I think is reasonable.

This was originally reported in

[2016-09-22 21:53] genodeftest commented on #957
On another page, FEDORA-2016-77ffa78abb, it seems to make [firefox run amok](https://bugzilla.redhat.com/show_bug.cgi?id=1378601) and [Epiphany is having a hard time too](https://bugs.webkit.org/show_bug.cgi?id=162465). Both issues are probably related to the title being so long.

[2016-09-23 12:53] JayJayJazz opened #968 "bodhi seems to have problems with the new Firefox package"
The new Firefox 49.0 package is not pushed to stable, even it has already +13 Karma.

Link:
https://bodhi.fedoraproject.org/updates/FEDORA-2016-a6672dbd40

It is also quite strange that bodhi just adds empty comments.
Can someone please have a look?

[2016-09-23 13:52] bowlofeggs commented on #968
I believe this is a duplicate of https://github.com/fedora-infra/bodhi/issues/950

Thanks for the report!

[2016-09-23 13:52] #968 closed, assigned to nobody

[2016-09-23 13:53] bowlofeggs commented on #950
This may be related to https://github.com/fedora-infra/bodhi/issues/949 in some way, but that's just a guess.

[2016-09-23 15:23] bowlofeggs opened #969 "Bodhi should e-mail crash tracebacks to admins"
Debugging would be aided by adding some code to Bodhi that sends tracebacks to admins. Here are a few requirements:
1. We need count/rate limiting, so nobody gets 1,000 e-mails in their inbox.
2. The list of e-mail addresses should be a setting.
3. We should set this up for both the web interface and the masher.

[2016-09-23 20:21] #949 closed, assigned to bowlofeggs

[2016-09-23 20:28] bowlofeggs opened #972 "Improve bodhi.tests.server.models.test_models.TestComment"
There aren't very many tests for the Comment class. Let's do a few things:
1. If we convert `TestComment` to subclass the `ModelTest` base class, we will get a few more assertions about the model for free.
2. We should test all of the methods on the `Comment` class.

I attempted to do this today, but I had some difficulty with objects created by this class conflicting with objects created by other

[2016-09-24 01:16] bowlofeggs opened #973 "The non-NULL comment text migration needs to be inserted before 4df1fcd59050"
This migration was developed against the develop branch, but I had forgotten that there was already a migration in the develop branch that isn't on the 2.2 branch. We'll need to change both migrations so that the new one is inserted before the prior one:

[code]

It needs to be possible to vagrant up on the 2.2 branch and then advance to the develop branch.

[2016-09-24 02:34] #973 closed, assigned to bowlofeggs

[2016-09-24 02:39] bowlofeggs commented on #950
@puiterwijk has come to the rescue again! It turns out that there was a commit a while ago that added an autokarma column to the Update model. A later commit added a schema migration, but the schema migration did not include a data migration to fill out this column for existing commits. When the code that detected autokarma was changed to use this column, all existing Updates were skipped in the a

[2016-09-24 16:09] #950 closed, assigned to bowlofeggs

[2016-09-24 16:21] bowlofeggs opened #977 "RepodataException: Checksum mismatch during epel7-testing mash today"
I don't know much about this, but today's epel7-testing mash failed with this traceback:

[code]

[2016-09-25 15:38] bowlofeggs commented on #977
The epel5-testing mash failed today, also in the `sanity_check_repo` method, but with a further crash due to too many open files:

[code]

[2016-09-25 18:17] bowlofeggs commented on #579
@trishnaguha I don't think the -1 on the critpath question will count as a negative karma, so I don't think #894 will solve this particular issue.

[2016-09-25 20:57] trishnaguha commented on #579
#894 doesn't deal with critpath karma.

[2016-09-26 10:23] kkofler commented on #772
Bodhi 2.2.2 is now deployed and this still doesn't work. Please reopen this issue!

The stablekarma is (still) not saved if the autokarma checkbox is not checked. And for some reason, you decided to not allow the manual pushes if autokarma is enabled (which doesn't make sense – if the autokarma didn't trigger for some reason, e.g., because it was only enabled after the karma was already reached, y

[2016-09-26 10:28] puiterwijk commented on #969
1. The default configuration value should be an empty list.
2. Bodhi should ALSO log everything to the standard logs (apache for front, journal for mash).

[2016-09-26 10:29] kkofler commented on #772
In case you didn't understand my suggestion:
Why check that a ≥ some user settable x ≥ b when you can just check that a ≥ b?
(∃ x: a ≥ x ≥ b) ⇔ (a ≥ b)

[2016-09-26 10:50] kkofler commented on #772
The update that I'm trying to push:
https://bodhi.fedoraproject.org/updates/ksensors-0.7.3-34.fc24
No matter what I do, I can't push it to stable, despite it having karma +1. If I keep autokarma disabled and set stablekarma to 1, it ignores the setting. If I enable autokarma, it doesn't show "Push to stable" due to the `not update.autokarma` conditional.

[2016-09-26 10:59] trishnaguha commented on #772
If you look at the issue #796 the plan was to show `Push to stable` when `autokarma` is disabled. Enabling `autokarma` is for `Autopush` which means it wouldn't show `Push to stable` when `autokarma` is enabled.

[2016-09-26 16:36] bowlofeggs commented on #977
@puiterwijk fixed this issue with a change in createrepo_c:

https://github.com/rpm-software-management/createrepo_c/pull/64

I'm closing this issue. Thanks @puiterwijk!

[2016-09-26 16:36] #977 closed, assigned to nobody

[2016-09-27 04:39] ellert opened #978 "Bodhi and Koji out of sync"
The update https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2016-bcda96018d is out of sync with the tags in koji. According to bodhi the update is "Pending", i.e. not yet pushed to testing, but according to koji, bodhi has already pushed the update to testing:

[code]

[2016-09-27 07:06] puiterwijk commented on #978
Sorry about that, that was caused by a bug in bodhi that has now been fixed.
I will make sure that releng fixes the tags on your build so that it will go out with the next epel5 push.

[2016-09-27 10:51] trishnaguha commented on #579
To clarify my understanding regarding this issue, we want to make sure that Autopush is disabled if anyone gives critpath karma -1. @bowlofeggs @kparal right?
Also we want to include critpath karma to total karma if it is negative which definitely sounds like some changes.

[2016-09-27 11:25] voxik opened #979 "Bodhi does not modify BZ ticket after updates submission"
I just submitted update into Bodhi [1]. However, this action does not switch the BZ ticket into MODIFIED state as it used to do. It seems that Bodhi knows there is some issue, since next to the BZ ticket number, there is stripe of blinking dots.

However, it seems that Bodhi updates the ticket as soon as the package is pushed into testing repository, e.g. this [2] is update from yesterday (althoug

[2016-09-27 11:31] voxik commented on #979
BTW I received the FMN notification just fine ....

[2016-09-27 12:51] kparal commented on #579
Yes. If the user gives either karma -1 **or** critpath -1, the overall karma should receive -1.

That's actually #833, also reported by me, proposed as a separate change. I'd also like to see that, yes. And this is not just about critpath -1, again it's karma -1 **or** critpath -1.

[2016-09-27 13:11] puiterwijk commented on #978
This tag has now been fixed. Sorry for the issues.

[2016-09-27 13:11] #978 closed, assigned to nobody

[2016-09-27 15:41] bowlofeggs commented on #951
I wanted to make updates visible in Bodhi as quickly as possible, so I've worked out a "dirty hack" for this problem and have it deployed to staging right now:

https://bodhi.stg.fedoraproject.org/updates/FEDORA-2016-78efe5595f

Basically, if there are more than 16 builds in an update (this one had 60-something IIRC) Bodhi begins to filter out all passing test results to reduce the number of eleme

[2016-09-27 17:35] #880 closed, assigned to nobody

[2016-09-27 18:13] bowlofeggs opened #981 "The unit tests require a large amount of memory"
The unit tests use quite a lot of memory. The current `Vagrantfile.example` sets the guest's memory to 4 GB, but on my dev box the unit tests often fail with a few of them raising `OSError: [Errno 12] Cannot allocate memory`. I've raised my guest's memory to 8 GB. It would be good to figure out what is using all this memory so we can get the required RAM down to a more reasonable level for develop

[2016-09-27 18:25] #927 closed, assigned to nobody

[2016-09-27 20:36] bowlofeggs commented on #951
I am dropping the critical tag on this since we have a short-term fix that at least allows large updates to be viewed.

[2016-09-27 20:38] bowlofeggs commented on #951
On second thought, I'm going to close this issue since I did fix what the original report is about. I'll file a new issue to rethink how we display taskotron results, and I'll link that here. Please feel free to carry on the discussion there!

[2016-09-27 20:38] #951 closed, assigned to nobody

[2016-09-27 20:41] bowlofeggs opened #983 "Rework how taskotron results are displayed"
In fixing #951, there was some good discussion about how Bodhi could change how it displays taskotron results to users. The change made to address that issue removed passing test results from updates with more than 16 builds.

This issue is about rethinking how we display those results so that we can come up with something cleaner and more performant.

[2016-09-27 20:42] bowlofeggs commented on #951
I've filed https://github.com/fedora-infra/bodhi/issues/983 as a place for us to continue the discussion about how Bodhi should be displaying taskotron data. Thanks for the comments so far!

[2016-09-27 20:44] kalev commented on #951
Great, thanks!

[2016-09-27 23:32] bowlofeggs commented on #983
In the original issue, @kparal said:

There are multiple issues, I think. I'll try to describe them in detail, sorry for a long post.

First, tasks IDs look like `namespace.task_name.any.number.of.subresults`. We currently have just a single important namespace, `dist`. So some of results are reported simply as `dist.depcheck`. Other tasks, like rpmgrill, decided to report an overall result as `di

[2016-09-27 23:33] bowlofeggs commented on #983
In the original issue, @rajcze said:

@kparal I'll just clean up some terminology, that might lead to false expectancies:

This is not technically true, as we don't really store/provide definitive relations between results, on the Taskotron/ResultsDB side. So there is no way to say "give me all 'subresults' of a this result with ID X". What you could do, though (and what @kparal probably meant) is

[2016-09-27 23:41] bowlofeggs commented on #951
bodhi-2.2.3 is now deployed to production!

[2016-09-28 20:51] kkofler commented on #772
In case this wasn't clear, the main issue is this one:

Therefore, it is impossible to meet the conditions of the code you added.

Another, probably related, bug that I am seeing now is that my new updates get filed with autokarma enabled even though I explicitly unchecked it! I have to go and edit them to turn autokarma off.

[2016-09-29 05:27] trishnaguha commented on #772
@kkofler Can you reopen the issue if you think it still exists?

[2016-09-29 08:51] kkofler commented on #772
No, GitHub doesn't let me do it, only a project admin can reopen issues in GitHub.

[2016-09-29 09:45] trishnaguha commented on #772
@bowlofeggs ping.

[2016-09-29 18:40] bowlofeggs opened #988 "error: [Errno 24] Too many open files"
If fedmsg-hub isn't restarted before mashing, Bodhi will run out of file handles eventually. I don't know which files or connections aren't being closed when Bodhi is done with them, so we'll need to do some investigation to figure out how to make the masher more robust.

Here's some logs from today when this happened:

[code]

[2016-09-30 13:54] bowlofeggs opened #989 "Further comments on pushed updates with autopush disabled remove stable requests"
Andre Robatino [reported](https://bugzilla.redhat.com/show_bug.cgi?id=1380622) that Bodhi update stable requests are being reset by subsequent comments. For example, [this kernel update](https://bodhi.fedoraproject.org/updates/FEDORA-2016-7179af3ac1) was set to go to stable by labbott about 15 hours ago at the time of this writing. About 8 hours after that, another user helpfully gave the update a

[2016-09-30 15:15] bowlofeggs commented on #989
I've lowered the priority due to discovering a workaround.

[2016-09-30 17:07] bowlofeggs commented on #989
This is easily reproducible in staging:

https://bodhi.stg.fedoraproject.org/updates/FEDORA-2016-7179af3ac1

Which theoretically means it shouldn't be hard to fix!

[2016-09-30 17:45] bowlofeggs commented on #989
The problem is in [this code](https://github.com/fedora-infra/bodhi/blob/2.2.3/bodhi/server/models/models.py#L1657-L1669):

[code]

This code causes any comment with karma on a non-autopushing update to set self.request to `None`, regardless of what the request is.

[2016-10-02 20:22] maitreyaverma commented on #780
@bochecha can I do it as my first bug

[2016-10-03 04:51] trishnaguha commented on #780
@maitreyaverma yeah ofcourse!

[2016-10-03 04:59] maitreyaverma commented on #780
I am very enthusiastic to do it. Can you tell me how can I start?

[2016-10-03 06:19] bochecha commented on #780
@maitreyaverma You don't need to ask anybody's permission to work on something. Certainly not mine, as I'm just the bug reporter here, I haven't worked on Bodhi for a long time.

In any case, the way to get started on this one is the same as the way to get started on any other projects:
1. set up a development environment (see the `README.rst` file)
2. try to reproduce the bug (this is very import

[2016-10-03 19:13] bowlofeggs commented on #979
I see what you mean. It does seem to be moving it to ON_QA still, so at least that part still works. Hopefully it will also close the bug correctly. Thanks for the report. I wonder if the "blinking dots" are a hint about what's going wrong…

[2016-10-03 19:24] bowlofeggs commented on #579
I think I agree with @kparal, it all sounds reasonable to me.

[2016-10-04 05:42] juhp commented on #798
Yeah +1, annoying and confusing.

[2016-10-04 16:48] #989 closed, assigned to bowlofeggs

[2016-10-04 18:14] bowlofeggs opened #994 "bodhi's server package doesn't build with setuptools 28.0"
setuptools 28.0 made a change that causes an exclusion on a package to also exclude all subpackages:

https://github.com/pypa/setuptools/pull/733

Unfortunately, bodhi's setup.py was relying on the previous behavior to exclude the bodhi package (i.e., the bodhi/**init**.py, which belongs to the common package) and now the setup.py is not installing the server's code anymore.

We will need to find

[2016-10-04 19:16] bowlofeggs commented on #994
It seems that the 28.0 release of setuptools also changes the behaviour of the `include` argument such that it will not include subpackages if their superpackages are not also part of the include list. Though I could just not use `find_packages()` for Bodhi, I'd prefer to keep using if I can so that any future new packages automatically get included. Thus, I think I will just use something like:

[2016-10-04 20:40] bowlofeggs commented on #994
Well I went with the approach I mentioned in my most recent comment, and it turns out that the version of setuptools in EPEL 7 doesn't have the `include` argument for `find_packages`:

[code]

Thus, we need a solution that does not use include.

[2016-10-04 20:46] tehsmyers commented on #994
I suggest nested list comprehensions with `filter` and globbing.

:D

[2016-10-05 00:44] #994 closed, assigned to bowlofeggs

[2016-10-05 12:30] plughiubra opened #997 "search should be case-insensitive"
searching for "wxgtk3", for example, produces no results. the search should be case-insensitive, in line with user expectations about most search results.

[2016-10-05 18:52] bowlofeggs opened #999 "Display whether autopush is enabled or disabled on the Update page"
With the 2.2.0 release, all updates have karma thresholds displayed, whether or not autopush is enabled. Users are used to looking for the karma levels to decipher whether an update is set to autopush or not, and so users seem to be confused about whether updates autopush.

I propose that we display on the update page whether autopush is or is not enabled so that it is clear what should be expecte

[2016-10-06 01:09] mbtamuli opened #1004 "Unable to setup development environment"
I followed the steps given here [Vagrant](https://github.com/fedora-infra/bodhi#vagrant)
I tried this on two different distributions, Ubuntu 16.04 and Arch Linux.

The problem is, the `vagrant up` command would get stuck at

[code]

Here is a screenshot I took using `virt-manager`.
![screenshot_bodhi_default_2016-10-06_06 24 42](https://cloud.githubusercontent.com/assets/10382077/19137052/d2d999ee

[2016-10-06 02:03] bowlofeggs commented on #997
I agree, thanks for the report!

[2016-10-06 02:39] bowlofeggs commented on #1004
We talked about this a bit on IRC. I am pretty sure this is not an issue with Bodhi, since the guest seems to be experiencing a kernel panic during boot. My guess is that something is wrong with the host's libvirt or kvm setup, but it's hard to tell from the limited screenshot.

[2016-10-06 02:39] #1004 closed, assigned to nobody

[2016-10-06 02:46] athos-ribeiro opened #1005 "Duplicate key error"
Hello,

I recently changed my FAS account name and am currently migrating all my data, activities and packages to that account.

I am using my main gmail email for that. In order to do so, I changed my old account email to use a secondary email I own.

When I try to login in bodhi, I get the following error:

500 Server Error

(IntegrityError) duplicate key value violates unique constraint "users_

[2016-10-06 02:57] bowlofeggs commented on #1005
Interesting - it seems that we could solve this programmatically two ways:
1. We could rely on the FAS account name for uniqueness and drop the uniqueness constraint on e-mail address.
2. We could be more diligent about checking up on FAS data and refreshing it from time to time, so that we would know when users do things like changing their e-mail address.

In fact, I've noticed that Bodhi still

[2016-10-06 03:29] athos-ribeiro commented on #1005
+1, currently, we do not support FAS account name changes anyway.

+1

Should I just go ahead and ask someone to fix my old account email?

thank you :)

[2016-10-06 04:27] trishnaguha commented on #999
This would be a nice feature to have.

[2016-10-06 10:24] trishnaguha opened #1008 "Submit and Expire buttons for Override should be displayed only for the one who has permission"
`Submit` and `Expire` buttons on the `overrides` should be displayed only to the one who has `commit access/ permission` for the same, which also means that the buttons will not be displayed if someone is not logged in.

![screenshot from 2016-10-06 15-42-57](https://cloud.githubusercontent.com/assets/13337039/19148806/1cf01740-8bdc-11e6-9915-8bc3704bc5a6.jpg)

[2016-10-06 12:30] bowlofeggs opened #1009 "Users are receiving repeat e-mails every 6 hours"
@kparal reported than [an Epiphany update](https://bodhi.fedoraproject.org/updates/FEDORA-2016-f4b5897686) has been e-mailing him every 6 hours with the push to stable message, like this:

[code]

He received one at 2016-10-04T08:00, 2016-10-04T14:00, and 2016-10-04T20:00, for example.

We should ensure that these messages only get sent once.

[2016-10-06 12:33] kparal commented on #1009
The interesting thing is that I received those emails (about 5 of them I think), but no bodhi comment was added. I'd expect a bodhi comment to be added (as is usually is in this case) and therefore receiving an email.

Also, it seems that every commenter of this update received such emails, according to the response in that update.

[2016-10-06 12:35] bowlofeggs commented on #1009
That is interesting to note. Perhaps it indicates that there was some error and a transaction was rolled back, which could lead to Bodhi not knowing it had already sent the e-mails. I'm not familiar with that area of the code yet, so that's just a wild guess.

[2016-10-06 17:19] bowlofeggs commented on #1005
On Wed, 2016-10-05 at 20:29 -0700, Athos Ribeiro wrote:

Yes, I'd suggest asking in #fedora-admin.

[2016-10-07 11:41] ankit01ojha commented on #898
I am a newbie, can you please tell me what I have to do in this.

[2016-10-07 14:32] bowlofeggs opened #1012 "bodhi's unit tests fail against sqlalchemy-1.1.0"
Rawhide was upgraded to sqlalchemy-1.1.0 today, and Bodhi's unit tests fail now:

[code]

[2016-10-07 15:05] richardfearn commented on #1009
I think the reminder comments and/or emails haven't been working for a couple of weeks. I realised recently that some of my updates (e.g. https://bodhi.fedoraproject.org/updates/FEDORA-2016-3a5fa75880) haven't had the reminder comment added, nor have I received the emails.

[2016-10-07 18:09] lubomir commented on #1009
For another data point: I gave karma to [an update](https://bodhi.fedoraproject.org/updates/FEDORA-2016-4da6039b17) yesterday at 15:17, and starting at 20:00 I started receiving the notifications (one every 6 hours). (I doesn't really bother me, I'm good at ignoring e-mails.)

[2016-10-08 00:56] bowlofeggs opened #1014 "bodhi.server.models.models.Update.met_testing_requirements assumes a setting value"
[`met_testing_requirements()`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models/models.py#L1791-L1812) assumes that `testing_approval_msg` is set to a particular value, even though it is a setting and should be alterable by the admin:

[code]

We need to devise a better way to tell if Bodhi has made this comment or not.

[2016-10-08 00:56] bowlofeggs commented on #1009
I believe I know the cause of both getting too many e-mails, and getting none. The [code that generates these e-mails](https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/scripts/approve_testing.py#L52-L73) looks like this:

[code]

I think there are two contributing factors at play here. The first is that the approve testing executable is making a single transaction for all updates, mea

[2016-10-08 01:12] bowlofeggs commented on #1009
I will use this issue to track fixing the transaction handling, so problems that happen during the run don't roll back any changes that were made (sending confusing ghost e-mails).

I will use [Richard Fearn's infrastructure ticket](https://pagure.io/fedora-infrastructure/issue/5515) to track fixing the missing setting in production.

[2016-10-08 01:29] bowlofeggs commented on #664
I believe this was fixed by https://github.com/fedora-infra/bodhi/commit/c77d62f160b4aa6a66395c28c5817a2847f69c68 so this should be fixed by the upcoming 2.3.0 release. Thanks for the report!

[2016-10-08 01:29] #664 closed

[2016-10-08 01:31] bowlofeggs opened #1015 "Search does not work when package name has special characters"
[Andre Robatino reported this issue](https://bugzilla.redhat.com/show_bug.cgi?id=1304119):

[2016-10-08 02:05] bowlofeggs commented on #1009
The production configuration changes are in place on production now. I will keep this ticket open to track fixing the transactions to be more granular. Thanks for the report and the patience everyone!

[2016-10-08 02:26] bowlofeggs commented on #1009
Upon further reflection, I believe that fixing the production settings will solve only part of the issue. There is still a problem that can only be fixed by editing the code. `met_testing_requirements()` as cited above only checks for the `testing_approval_msg` having been added to the update, which happens when the update has been in testing for the required amount of time. Unfortunately, that me

[2016-10-08 02:30] bowlofeggs opened #1016 "Bodhi's approve testing script should commit the transaction with each update"
While working on #1009, I noticed that the [code that generates Bodhi nag e-mails](https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/scripts/approve_testing.py#L52-L73) loops over all testing updates in a single transaction:

[code]

Due to this design, any error that happens causes the transaction to be rolled back for all changes made so far. This means that users might receive e-mai

[2016-10-08 02:31] bowlofeggs commented on #1009
I decided to file https://github.com/fedora-infra/bodhi/issues/1016 to track fixing the transaction, so that this ticket can focus solely on fixing the past-comment-detection.

[2016-10-08 03:16] bowlofeggs commented on #898
@ankit01ojha This issue is about filing issues for all the problems found by taskotron. The man pages should each be their own issue here in Github, and the Rpmscripts problems need to be reported against the bodhi component at https://bugzilla.redhat.com/enter_bug.cgi?product=Fedora

Once all the issues are filed, we can close this one and start working on them!

[2016-10-08 14:23] richardfearn commented on #1009
Thanks for looking into this so quickly! I've started getting the reminder emails again now. I did spot another issue and I'll file another issue about that.

[2016-10-08 14:33] richardfearn opened #1017 "Reminder email script adds comments that include the number of elapsed days"
When #1009 was fixed, I started getting Bodhi reminder emails for updates that passed the minimum number of days in testing some time ago.

Consider this update (chosen more or less at random):

https://bodhi.fedoraproject.org/updates/FEDORA-2016-c22fffe3da

It's an F24 update, so only needed to spend 7 days in testing. It entered testing on 2016-09-29, so the 7 days ended on 2016-10-06, and as of

[2016-10-10 06:42] trishnaguha commented on #1012
@bowlofeggs https://github.com/zopefoundation/zope.sqlalchemy/issues/15

[2016-10-10 14:10] bowlofeggs commented on #1017
Great suggestion, thanks for the report! Since you've basically written the code, care to send in a PR? I'm gonna mark this easy fix since the patch is pretty much here and I think it's the right change.

[2016-10-10 14:14] richardfearn commented on #1017
Sure - I'll do that later.

[2016-10-10 14:35] bowlofeggs commented on #295
bodhi-2.2.4 is now in Rawhide, and there's an EL 7 update with it as well at https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2016-3081a94111

We can't release bodhi 2 to Fedora 23, 24 or 25 since it is backwards incompatible. However, the Bodhi 2 CLI is available in my Copr for those Fedora releases: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi/

I'm going to close this bug since i

[2016-10-10 14:35] #295 closed

[2016-10-10 14:55] bowlofeggs commented on #1012
@trishnaguha hahah you are amazing at finding issues that I missed. You know what's really funny? That bug says it was fixed in zope-sqlalchemy-0.7.7 and I apparently had a bug assigned to me to update Fedora to that version: https://bugzilla.redhat.com/show_bug.cgi?id=1204328

[2016-10-10 17:58] trishnaguha commented on #1012
Haha that sounds like a coincidence @bowlofeggs :cake:

[2016-10-10 18:01] bowlofeggs commented on #1012
Rawhide now has python-zope-sqlalchemy-0.7.7-1.fc26 and I've confirmed that Bodhi's tests pass there.

[2016-10-10 18:01] #1012 closed, assigned to nobody

[2016-10-10 18:51] bowlofeggs opened #1018 "Bodhi allows users to give +1 twice, counting it as +2 after a Build is updated or removed"
As of the moment of this filing, [this znc-1.6.3-6.el7 update](https://bodhi.fedoraproject.org/updates/znc-1.6.3-6.el7#comment-505077) has +2 karma, both of which seem to have come from elyscape. Bodhi should allow users to add further comments with Karma (so that users can change their mind and swap a +1 for a -1 or vice-versa), but it should only count their most recent karma vote in the total.

[2016-10-10 18:56] bowlofeggs commented on #979
I also experienced this today with an update I submitted for python-zope-sqlalchemy. It happened on all the distro versions, for example https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2016-a60a15d9ac

[2016-10-11 01:52] juhp commented on #798
@puiterwijk it is pretty easy to reproduce: any build that gets tagged into updates-testing by Bodhi gets untagged from overrides in Koji.

A few recent examples for me: ghc-boxes-0.1.4-4.fc25, ghc-rpm-macros-1.6.9-3.fc25, and ghc-rpm-macros-1.6.9-2.fc25.

[2016-10-11 13:13] kparal commented on #794
Hey @bowlofeggs, did you mean to add this to 2.3 milestone? 2.2 is empty. Do you think this will be resolved before F26 branching time? Otherwise we'd have to implement workarounds; but it's far from trivial, so we'd of course prefer having this fixed on Bodhi side. Thanks!

[2016-10-11 15:16] bowlofeggs commented on #328
This ended up being a bug in createrepo_c that @puiterwijk fixed upstream.

https://github.com/rpm-software-management/createrepo_c/pull/66

[2016-10-11 15:16] #328 closed

[2016-10-11 15:52] bowlofeggs commented on #1005
@athos-ribeiro I have fixed your ribeiro account in Bodhi's database to have the same e-mail address that the account has in FAS. You should now be able to login to Bodhi with your new account.

Additionally, I believe that fixing https://github.com/fedora-infra/bodhi/issues/902 would allow users to self-service with this problem in the future. Bodhi should update its local copy of users' e-mail a

[2016-10-11 15:52] #1005 closed, assigned to nobody

[2016-10-11 15:52] bowlofeggs commented on #902
I have also been experiencing this issue, and I believe that fixing it would have helped with #1005.

I think the fix is probably easy - when users log in, Bodhi should check to see if their FAS e-mail address matches the User.email field. If not, it should update and commit the transaction. I believe this is probably an easy fix, though I haven't looked at the code.

[2016-10-11 18:23] #1017 closed, assigned to richardfearn

[2016-10-12 14:08] bowlofeggs opened #1023 "StatementError: (exceptions.AttributeError) 'str' object has no attribute 'value' when iterating Updates"
In testing #1011 I found an Exception when iterating Update objects that I've been able to reproduce outside of that pull request:

[code]

[2016-10-12 15:57] bowlofeggs commented on #1023
I spent some time investigating this and it turns out that you have to query with a DeclEnum parameter, and cannot search with a string (even though searching with a string seems pretty natural).

While looking into this, I filed https://github.com/fedora-infra/bodhi/pull/1024 to clarify some types in the function that was raising the Exception. I had also written a test, but I decided that the te

[2016-10-12 15:57] #1023 closed, assigned to bowlofeggs

[2016-10-13 05:01] bowlofeggs commented on #794
Hello @kparal! I apologize for the milestone confusion. I tried playing with the milestone feature, but I'm finding it to not be particularly useful to be honest. Also, I actually renamed 2.2 to 2.3 and the right sidebar shows this as being in 2.3, which is confusing given that it says 2.2 above your comment.

That confusion aside, I have marked this as critical priority but I cannot promise that

[2016-10-13 07:50] pnemade commented on #979
same experienced by me just now. Update submitted but no notification to added bugzilla.

[2016-10-13 17:44] bowlofeggs opened #1028 "We need to de-duplicate the code that sets up database connections"
Code [like this](https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/scripts/approve_testing.py#L46-L50) appears in various places in the code base, as well as in the tests:

[code]

We should have a utility function that creates database connections/sessions and return them. Then the various places in the code that need connections can get them from the new utility function, and the tes

[2016-10-14 10:10] cosmologist10 commented on #939
Hey @bowlofeggs, I want to work on this issue. Can you please elaborate this task.

[2016-10-14 10:21] cosmologist10 commented on #997
Hey! I want to work on this issue. Can you assist me?
Thanks!

[2016-10-14 12:45] ankit01ojha commented on #765
I want to take it can you please assist me.

[2016-10-14 18:42] bowlofeggs opened #1029 "bodhi.server.models.models.Update.stable_karma should disallow NULL values"
Many of our columns have this problem, but the stable_karma in particular should disallow NULL values and require the column to always be explicitly True or False. Since it allows NULL, there are all kinds of checks in the code that look like `stable_karma not in (0, None)`. As it is, there is possibility of new code forgetting about the two possible "Falsy" values. It's better for the database to

[2016-10-14 20:31] pliadanni opened #1031 "inserts "--RAW HTML NOT ALLOWED--" instead of simply encoding with html entities"
bodhi doesn't allow e.g. `<i>some text</i>` or `<b>some text</b>` to be inserted into a comment _as plain text_.

see the following 2 comments:
[(link)](https://bodhi.fedoraproject.org/updates/atril-1.16.0-1.fc24%20caja-1.16.0-1.fc24%20caja-extensions-1.16.0-1.fc24%20engrampa-1.16.0-1.fc24%20eom-1.16.0-1.fc24%20libmatekbd-1.16.0-1.fc24%20libmatemixer-1.16.0-1.fc24%20libmateweather-1.16.0-1.fc24%20

[2016-10-14 22:04] bowlofeggs commented on #997
@cosmologist10 I'm not too familiar with this area of the code myself, but I think [this code](https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/services/updates.py#L214-L217) is probably the issue:

[code]

My guess is that `name==pkg` is probably the issue, and it should probably be changed to be a case insensitive match instead of a pure equality match.

[2016-10-14 22:31] bowlofeggs commented on #939
Hello @cosmologist10! The bodhi man page's source code is located in the sphinx project:

https://github.com/fedora-infra/bodhi/blob/2.2.4/docs/man_bodhi.rst

Quality man pages often have an Examples section that show the user a few common tasks they might want to do. For this ticket, we'll want to add an Examples section (probably just before the Bugs section at the end) with some examples of com

[2016-10-14 22:37] bowlofeggs commented on #765
@ankit01ojha We'll need to port the code in my most recent comment to work with Bodhi 2. Probably you can add a new module in `bodhi.server.scripts` that does the work (see other scripts there for example), configure `setup.py` to turn the script into an executable in `/usr/bin`, and then we can just call it with cron (and that part would be done in Ansible later, so you wouldn't need to worry abo

[2016-10-14 23:17] cosmologist10 commented on #939
Thanks @bowlofeggs, I am working on this issue.

[2016-10-14 23:18] cosmologist10 commented on #997
Thanks @bowlofeggs , I am working on this issue.

[2016-10-14 23:34] kkofler commented on #772
Ping? Any progress on this? Shall I file a new bug so that it doesn't get forgotten?

[2016-10-14 23:43] kkofler opened #1032 "All my new updates are filed with autokarma enabled even though I unchecked the checkbox"
Whenever I file a new update, even if I uncheck the autokarma checkbox, the update is filed with autokarma enabled. I have read issue #999, which claims that this is just a display thing:

but I cannot confirm this: When I edit the update, the checkbox is on! If I then uncheck the checkbox and confirm the edit, the thresholds vanish, and any further edits will no longer show autokarma as enabled.

[2016-10-14 23:48] kkofler opened #1033 "Disabling autokarma (still) removes the karma thresholds"
Whenever I edit an update to disable autokarma (I have to edit it, as opposed to just unchecking the box from the beginning, due to issue #1032), the thresholds vanish. The only way to get the thresholds back is to enable autokarma. As a result, the improvement from issue #772 (manual push to stable based on karma) does not work: if I disable autokarma, it does not work because the thresholds are

[2016-10-14 23:49] kkofler commented on #1032
This is now issue #1033.

[2016-10-14 23:49] kkofler commented on #772
Actually, I went ahead and filed issue #1033.

[2016-10-15 00:01] cosmologist10 commented on #997
Hey @bowlofeggs , There are two ways to work on  this issue :
1.  name.lower()==pkg.lower()
2.  import re
     re.match("pattern", "string", flags=re.IGNORECASE)

Can you suggest me which one is better, according to you.

[2016-10-15 10:24] pnemade commented on #997
@cosmologist10 you need to give meaningful information for a commit log message. I see you just said "Solved" but that is not enough. The reviewer of your commit should get understanding by just reading the log message that for what purpose that commit has been added to the bodhi source.

For this fix your commit message should be saying "Change package search to case-insensitive"

[2016-10-15 15:07] bowlofeggs commented on #997
@cosmologist10 Another option that would work well and that would improve the search otherwise is to use the ilike operator (i for case Insensitive, and otherwise the SQL like operator):

http://docs.sqlalchemy.org/en/latest/orm/internals.html#sqlalchemy.orm.properties.ColumnProperty.Comparator.ilike

[2016-10-15 15:10] cosmologist10 commented on #997
Thanks @bowlofeggs and @pnemade for the suggestions. I'm working on it.

[2016-10-15 15:14] bowlofeggs commented on #1032
This sounds like it is likely a UI issue, either in rendering or processing the form (or both). I know that updates have been successfully using non-autokarma updates with manual push thresholds based on karma. For example, this is how all recent kernel updates have been working. My guess is that they may be using the bodhi CLI to do this, so that might be a workaround for you.

[2016-10-15 15:16] bowlofeggs commented on #1033
I believe this is likely a UI issue, in either form rendering or processing (or both). As a workaround, I believe the CLI can be used to do this.

[2016-10-16 09:37] akshayharidas commented on #902
Hey, I would like to work on this issue. Can you assist me?
Thanks.

[2016-10-16 16:49] bowlofeggs commented on #902
I believe the problem is that this block of code is not working as intended, but I am not sure why (I've not looked into it myself):

https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/security.py#L94-L98

[2016-10-17 13:28] ankit01ojha commented on #765
Can you please elaborate it.

[2016-10-17 20:32] bowlofeggs commented on #765
I don't think I know more than I've said about this issue, as I am not familiar with Bodhi 1. But perhaps we shouldn't have put the easy fix label on this one if it's not clear what needs to be done. I'll just remove that label. I apologize if this was confusing!

[2016-10-18 15:17] bowlofeggs commented on #637
There are a few blockers to migrating all of Bodhi to Python 3:

http://fedora.portingdb.xyz/pkg/bodhi/

It may be possible to get the client to work with Python 3, but there is some uncertainty in my mind about it without trying it. The client and server are part of the same codebase currently, and share a single setup.py. It might be possible to do something sneaky like run `python3 setup.py ins

[2016-10-18 15:18] bowlofeggs commented on #637
A issue was filed in BZ about this: https://bugzilla.redhat.com/show_bug.cgi?id=1024795

[2016-10-18 15:23] bowlofeggs opened #1038 "Bodhi should inform about freeze"
[Miro Hrončok reported this issue in Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1026321)

[2016-10-18 15:31] bowlofeggs opened #1039 "Warn the packager if the updateinfo description implies it's a security bug, but security checkbox not set"
[James Antill filed this request in Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=493095):

[2016-10-18 15:59] bowlofeggs opened #1040 ""bodhi updates request revoke" does not work properly."
[Vít Ondruch reported this issue](https://bugzilla.redhat.com/show_bug.cgi?id=1386173):

[code]

[2016-10-18 16:00] bowlofeggs commented on #1040
Vit further comented:

[2016-10-18 16:23] bowlofeggs opened #1041 "GET on /masher/ errors with a 404 response"
GET on `/masher` works, but GET on `/masher/` returns an HTTP 404 error code. We should add a route to allow the trailing slash on this URL.

[2016-10-18 17:34] mprpic opened #1043 "Bugs should only be modified if they are Fedora/EPEL-only"
Bodhi occasionally tries to update bugs it should not, such as this one:

https://bugzilla.redhat.com/show_bug.cgi?id=1383657#c6

This is a top-level CVE bug and its state should not be modified by Bodhi since it tracks the issue in products other than Fedora and EPEL. Bodhi could simply check that the component is not 'vulnerability' and product 'Security Response' and skip making any state chang

[2016-10-18 20:16] ellert opened #1047 "EPEL 7 pushes?"
Hi!

Is there something wrong with EPEL 7? There hasn't been a push to neither testing nor stable for a week now, not even failed attempts as far as I can see.

[2016-10-18 20:19] bowlofeggs commented on #1047
Hello @ellert! Thanks for the report. I believe that EPEL 7 hasn't had a push on purpose for a while while release engineering bootstraps aarch64 there. Apologies for the delay, but it's a purposeful "outage". You can read about it on this thread:

https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/MCYKJB4YBHRFNWLVFQ3RKSHN6XX57YZQ/

Hope that helps!

[2016-10-18 20:19] #1047 closed, assigned to nobody

[2016-10-19 00:31] #1041 closed, assigned to nobody

[2016-10-19 05:15] trishnaguha opened #1048 "Autokarma should not be None"
Came to know about the issue when I was working on #1027
We need to make sure that `Autokarma` cannot be `None`. It should be either `True` or `False`.

![screenshot from 2016-10-19 10-44-14](https://cloud.githubusercontent.com/assets/13337039/19506418/073349ce-95e9-11e6-8627-6b9f6b8a348f.png)

[2016-10-19 05:22] trishnaguha commented on #1048
We need to adjust the migration script for the same.

[2016-10-19 07:50] trishnaguha commented on #1048
Since we are dynamically displaying `Autopush` on Update page #1027 , we will get the following output if `Autopush` is `None` for an update.

![screenshot from 2016-10-19 10-36-50](https://cloud.githubusercontent.com/assets/13337039/19509927/ad963140-95fe-11e6-96fd-b29bbd5e1f33.png)

[2016-10-19 10:11] voxik opened #1049 "[RFE] Expire overrides using CLI."
It seems it is not possible to expire override using CLI. The web UI seems to be the only option ATM. Please consider adding this feature.

[code]

I noted this originally here:

https://bugzilla.redhat.com/show_bug.cgi?id=1366114#c6

[2016-10-19 15:58] bowlofeggs opened #1052 "Unit tests should enforce referential integrity"
@pypingou suggested an improvement for bodhi's unit tests that will enforce referential integrity in sqlite. He gave [an example from pagure](https://pagure.io/pagure/blob/2.7.2/f/pagure/lib/model.py#_75-81):

[code]

[2016-10-19 16:02] bowlofeggs opened #1053 "Use faitout's correct URL in the unit tests"
@pypingou pointed out that we could use faitout by a domain name instead of address. We could change

[code]

to

[code]

In general, we do want the unit tests to work when run on an isolated network so that they will pass when run in the spec file on Koji. However if we can use an environment variable to detect that we are in Jenkins, I think it would be cool to use faitout.

[2016-10-19 16:04] bowlofeggs commented on #1009
This should get fixed in the upcoming 2.3.0 release. As of now all the release blockers that I know of are merged, so I will begin the release process for 2.3.0 soon.

[2016-10-19 17:55] pypingou commented on #1053
In pagure we use the environment variable `BUILD_ID` to detect if we're in jenkins or not: https://pagure.io/pagure/blob/master/f/tests/__init__.py#_49-61

In case of glitches, the code falls back to sqlite to keep things running :)

[2016-10-20 02:45] bowlofeggs commented on #1049
I marked this high priority since it sounds like it is a feature regression since the 0.9 client.

[2016-10-20 03:12] bowlofeggs commented on #1043
I agree that this is important from a "politeness" perspective. Bodhi could make sure that BZs that are referenced in updates reference Fedora or EPEL bugs at creation time, and could re-ensure those states before modifying the bugs (in case they changed since Bodhi last checked). I think it would be fairly straightforward to make such a change and would be much friendlier on our part towards Red

[2016-10-21 16:40] bowlofeggs commented on #979
@puiterwijk believes this is due to the bodhi frontend and backend having a disruption in message passing over fedmsg, causing the backend not to process new updates as they are submitted.

[2016-10-21 21:56] bowlofeggs opened #1057 "Remove from models import * from bodhi.server.models.__init__"
We should stop the `from thing import *` pattern, and one particular place it's being used is in `bodhi.server.models.__init__`. To fix this issue, we should remove that line and choose between these two options:
1. Fix all the things that import from the `__init__.py`.
2. Rename models.py to `__init__.py`

I personally prefer the first option, but welcome discussion about the second.

[2016-10-22 11:59] ankit01ojha commented on #1057
Is second option will be correct?

[2016-10-22 16:46] bowlofeggs commented on #1057
Neither option is more correct than the other. It's a matter of preference. Some people dislike when Python package `__init__.py` files contain significant code. I personally feel that way, but I can't make any technical argument as to why. It just feels less clean to me. However, that's just a personal preference and I don't want to force my preferences onto others ☺ The second option is certainl

[2016-10-23 06:30] trishnaguha commented on #1057
IMO **first** one would be better choice. It is good to have `DB model` inside `models.py` only :)

[2016-10-24 12:01] tyll commented on #902
The code in
https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/security.py#L94-L98
does only update the address if none is stored already, #1061 is a proposed fix for this.

[2016-10-24 18:51] bowlofeggs commented on #1057
I think I agree with @trishnaguha. It is always a little surprising when projects put lots of code in `__init__.py` files.

There is a third option which might be nice: we could get rid of the `bodhi.server.models` package and replace it with a `bodhi.server.models` module. The only other thing in the models package is the `enum.py`. That could just become `bodhi.server.enum`, or it might make sen

[2016-10-24 19:16] #902 closed, assigned to nobody

[2016-10-24 20:16] bowlofeggs commented on #29
I believe this concern is addressed by @puiterwijk's recent work that makes Bodhi Updates gate on whether the packages are signed or not. Now only signed builds will get mashed! This should be released with bodhi-2.3.0, which is currently scheduled to be released on Thursday this week.

https://github.com/fedora-infra/bodhi/pull/1011

[2016-10-24 20:16] #29 closed

[2016-10-24 20:30] bowlofeggs commented on #183
`fedpkg` is now able to detect whether `/usr/bin/bodhi` is Bodhi 1 or Bodhi 2 and will use each of them correctly. Additionally, `bodhi-2.2.4` is now released on EPEL 7 and Fedora Rawhide.

I'm not familiar with the detection code that is discussed here, but I assume it resides in the bodhi-0.9 client (which is still the stable client on Fedora 23, 24, and 25). The code both clients use seems to b

[2016-10-24 21:28] bowlofeggs commented on #988
I believe that @puiterwijk has fixed this in rpm-ostree and/or createrepo_c.

[2016-10-24 21:28] #988 closed, assigned to puiterwijk

[2016-10-24 21:38] bowlofeggs commented on #838
It is likely that the various updates referenced in this ticket were stuck for differing reasons. Updates are pushed manually by release engineering currently (though we are working towards automating this system) and it would be difficult for me to determine what happened in each of the referenced cases here.

To my knowledge there are not currently updates stuck with Bodhi 2.2.4 (the current ver

[2016-10-24 21:38] #838 closed, assigned to nobody

[2016-10-25 03:48] trishnaguha commented on #1057
+1 to replace `bodhi.server.models` package with `bodhi.server.models` module and `enum.py` with `bodhi.server.enum` . This sounds even better :-).
Any of the first or third sounds good to me :).

[2016-10-25 09:28] puiterwijk commented on #988
This was a combination of:
- rpm-software-management/createrepo_c#66
- fedora-infra/fedmsg-atomic-composer#9

[2016-10-25 12:42] kparal commented on #183
Honestly I'm not sure either, it's been a long time, and it's probably not worth the time to dig into this. Just remove Bodhi1 code when nothing/nobody needs it and it's resolved :) I have no objections to closing this issue right away.

[2016-10-25 19:20] AdamWill commented on #979
@bowlofeggs thinks this may also be why Bodhi appears to not be up-to-date on finding test cases for packages from the wiki: it seems to be using a mapping from at least before 2015-08-22, as anaconda updates are listing https://fedoraproject.org/wiki/User:Pschindl/Draft/Testcase_Custom_partitioning , which was removed from `Category:Package_anaconda_test_cases` on that date.

[2016-10-25 19:38] bowlofeggs commented on #1057
@trishnaguha Actually I had proposed just putting the enum stuff inside `bodhi.server.models`, but we could make enum its own thing too. Since it's part of bodhi.server.models now I figured it made sense to keep it there. It is used by the models extensively, so I think it makes sense to be part of them.

[2016-10-25 21:24] jeremycline commented on #981
So I spent a good bit of time investigating this today and reading sqlalchemy docs. I found a few suspicious things which I'll outline here:
- [Repeatedly creating the TestApp seems to leak memory in some way, but I didn't investigate too much. It might be better to create this once for the test suite.](https://github.com/fedora-infra/bodhi/blob/58fc9c55220f165e44400912715647c784e30e95/bodhi/tests

[2016-10-26 04:09] trishnaguha commented on #1057
Fair :)

[2016-10-26 14:38] bowlofeggs commented on #1018
I spent some time yesterday and today trying to figure out how this happened. At first, I believed this happened due to a transaction race condition.  The `karma` attribute of an Update is an integer column in the database that stores a denormalized form of the karma data. Though the two comments were 2.5 minutes apart, it was conceivable that a very heavily loaded server (or database server) woul

[2016-10-26 14:55] jeremycline commented on #1018
I also think normalizing makes good sense although, like you, I am disturbed by the lack of theories. If nothing else, normalizing the karma will cut down on the places this bug (or others) can hide :shipit:

[2016-10-26 16:09] bowlofeggs commented on #1018
I just had a good chat with @puiterwijk where we attempted to explain what happened to this update, and @puiterwijk found the bug. [This code](https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/models/models.py#L1425-L1432) attempts to filter out comments that happened before the update's builds were edited:

[code]

@puiterwijk noted that the reset_index is used on the comments after t

[2016-10-26 16:21] bowlofeggs commented on #1018
It just occurred to me that my transaction theory does reveal another similar problem: if two users manage to start concurrent transactions and they both give a +1, the overall karma will only be increased by 1 and not by 2 because they will both set the karma to the current value + 1 instead of atomically increasing the value upon the COMMIT.

The proposed refactor would also solve this race cond

[2016-10-26 18:07] bowlofeggs opened #1064 "Bodhi only allows users to change their mind about karma once"
Due to [this block](https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/models/models.py#L1432-L1447) in the `comment()` method, if a user submits a karma, and then later submits the opposite karma, they will be unable to submit the first karma again:

[code]

This is an edge case for certain, but it is not outside the realm of realistic possibilities and so we should fix it.

@puiterwij

[2016-10-26 18:21] ankit01ojha commented on #1057
Can you please tell me now  what basically I have to do with enum.py?

[2016-10-26 18:21] ankit01ojha commented on #1057
Can you please tell me now  what basically I have to do with enum.py?

[2016-10-26 18:36] bowlofeggs opened #1065 "Update.has_negative_karma() counts karma from before new or removed builds"
Bodhi's karma counting code resets the karma to 0 when builds are added or removed from an Update, and [a user's karma from before the reset is not supposed to be counted](https://github.com/fedora-infra/bodhi/blob/2.2.4/bodhi/server/models/models.py#L1426-L1430):

[code]

Due to #1018 this code doesn't work quite as intended, but it also occurred to me that [`Update.has_negative_karma()`](https:/

[2016-10-26 20:38] bowlofeggs commented on #1065
I am adding a new `karma()` method that counts the karma correctly in order to solve #1018. I think I will create a `karma_details()` method while I'm in there that returns the good and bad karma counts separately. Then `karma()` can just sum the two and `has_negative_karma()` can be removed in favor of just comparing the bad karma count returned by `karma_details()`. I'm killing three birds with

[2016-10-27 21:22] bowlofeggs opened #1067 "Edited updates' builds get the pending_testing_tag instead of the pending_signing_tag"
@puiterwijk found that we forgot to alter the code that edits existing updates such that it tags its builds with the `pending_signing_tag` instead of the `pending_testing_tag` as it does now.

[This code](https://github.com/fedora-infra/bodhi/blob/2.3.0/bodhi/server/models/models.py#L829-L836):

[code]

should be changed with `s/pending_testing_tag/pending_signing_tag/g`.

[2016-10-27 21:37] #1067 closed, assigned to bowlofeggs

[2016-10-28 00:38] bowlofeggs opened #1071 "push.py does not filter archived releases"
During our first run of the new `push.py` today, we noticed that it attempted to mash `f21-updates` and `f22-updates`. The old `push.py` used to filter out archives releases, but the new one doesn't do that anymore. We simply need to filter those as well.

[2016-10-28 13:30] bowlofeggs opened #1073 "Mismatch between e-mail template name and key lookup"
Bodhi 2.3.0 introduced a new `bodhi.server.mail.fedora_epel_legacy_errata_template` string, but the models.py looked it up by the name `fedora_epel_errata_legacy_template` which caused the masher to fail:

[code]

[2016-10-30 10:18] bowlofeggs opened #1078 "Bodhi is using a transaction manager around fedmsg which may not be neccesary"
It may be possible to drop this code:

https://github.com/fedora-infra/bodhi/blob/2.3.1/bodhi/server/notifications.py#L82-L200

@puiterwijk suggested that this code is meant to work around fedmsg not handling threads well, but it is believed that fedmsg is well capable of working within threads. We should double check that, and if it is safe we should drop that code and fix whatever was using it t

[2016-11-02 07:30] trishnaguha commented on #1032
We have a PR #1027 which will display whether `Autopush` is enabled or disabled on the update page. This might be a solution for the confusion.

[2016-11-02 12:44] kkofler commented on #1032
Have you actually read the bug description? This is **not** a display issue, it is an issue in the form that files the update. Try editing the update and the autokarma flag is set! Only if you click Edit, uncheck the flag and save the changes, it unsets the flag (as shown if you click on Edit again).

[2016-11-02 23:02] #1018 closed, assigned to bowlofeggs

[2016-11-02 23:02] #1064 closed, assigned to bowlofeggs

[2016-11-02 23:02] #1065 closed, assigned to bowlofeggs

[2016-11-02 23:10] #1073 closed, assigned to bowlofeggs

[2016-11-02 23:38] bowlofeggs opened #1082 "test_send_update_notice_message_template_el7 is failing"
I seem to have merged a commit that caused a test to fail:

[code]

[2016-11-03 18:48] #1071 closed, assigned to bowlofeggs

[2016-11-03 19:05] bowlofeggs commented on #1082
This shameful commit of mine broke it: https://github.com/fedora-infra/bodhi/commit/afa75f655bc4f9380c19258e26013da0c0777f22

[2016-11-04 20:09] bowlofeggs commented on #765
The mashes are in `/mnt/koji/mash/updates` which may (should?) be referenced by a setting. Inside there, there are folders named like `f25-updates-161103.1814`.

[2016-11-04 20:24] #1082 closed, assigned to bowlofeggs

[2016-11-04 21:02] #1048 closed, assigned to bowlofeggs

[2016-11-05 03:55] ctubbsii opened #1087 "Newer updates from another user don't obsolete"
When I push an update before the previous update has been pushed to stable, the newer update obsoletes the old one.

However, when a comaintainer pushes an update, it does not obsolete the older update, and it leaves the package in a very confusing state. The UI shows multiple updates for the same NVR outstanding, for the different users.

[2016-11-06 06:29] ellert opened #1089 "Bodhi and Koji out of sync"
The update https://bodhi.fedoraproject.org/updates/FEDORA-2016-d19503aefa was ejected from the push to EPEL 7 testing.

Bodhi claims the update is in pending state.

The update contains 2 builds. Koji says the two builds are in different states:

$ koji list-tags --build=nordugrid-arc-doc-2.0.11-1.fc23
f23-updates-testing
$ koji list-tags --build=nordugrid-arc-5.2.0-1.fc23
f23-updates-candidate

[2016-11-07 17:56] arehtykitna opened #1090 "QupZilla 2.0.1-1.fc24 x86_64 from Fedora repositories - cannot add comment or karma"
after selecting choices for bug fix and entering a comment in the text field, I then click Add Comment and get the spinning progress icon but no actual progress. this is the package I am trying to comment on. is it because it is locked? I thought that only applied to packagers to prevent excessive version changes screwing up the bodhi system.

https://bodhi.fedoraproject.org/updates/FEDORA-2016-35

[2016-11-07 18:43] arehtykitna commented on #1090
seems to have resolved itself finally. I tried after it had been unlocked again but it took ages to post the comment though

[2016-11-07 18:43] #1090 closed, assigned to nobody

[2016-11-08 14:17] ankit01ojha commented on #1057
Do I have to put this code from bodhi.server.models import models in place of from models import * .

[2016-11-09 09:05] AdamWill opened #1091 "Bodhi should not erroneously 'downgrade' bug status from VERIFIED"
We frequently play a game of pong with Bodhi, where we verify a fix when a bug is in `MODIFIED` state (i.e. not yet pushed to u-t) and change the state to `VERIFIED`, only for Bodhi to come along and pong the state back to `ON_QA` when it pushes the update. For e.g., every single damn F25 blocker fix:

https://bugzilla.redhat.com/show_bug.cgi?id=1393110
https://bugzilla.redhat.com/show_bug.cgi?id=

[2016-11-10 08:59] ellert opened #1093 "Bodhi should release its lock on updates on mashing failures"
When a push is started, the updates in the push are locked so they can not be modified while the push is in progress. When the push is completed, the updates in the push are released and changes can again be made. However, if the push fails the lock is not released and the updates remain locked until the next push is attempted, which often is a day or more later. This means that the updates are lo

[2016-11-10 15:52] bowlofeggs opened #1094 "No message when updates can be pushed stable if they have autokarma off and haven't reached karma"
I noticed today that one of my F25 updates has been sitting in testing for 13 days, but did not get the message from Bodhi that it could be pushed to stable:

https://bodhi.fedoraproject.org/updates/FEDORA-2016-bf2a514f37

[2016-11-11 16:42] #999 closed, assigned to nobody

[2016-11-11 17:03] kkofler commented on #1032
That pull request cannot possibly fix this bug.

I file an update with autokarma unchecked, I edit it, autokarma is checked. So either the filing form does not save the flag correctly or the editing form does not load it correctly. I think it is the former, because when I unset it in the editing form and OK that, the next editing form shows it unchecked.

How can your fix for the display field pos

[2016-11-11 17:34] bowlofeggs commented on #1032
@kkofler I agree, I had failed to notice that the commit message claimed to close this bug. Apologies!

I do think the display field is a nice addition though, and makes it clearer what should be expected of updates since most users can't see if the autokarma is enabled or not.

[2016-11-14 15:56] nullr0ute opened #1107 "Crash on aborting a push"
bodhi-server-2.3.1-1.fc24
python2-bodhi-2.3.1-1.fc24

<pre>
Push these 86 updates? (y/n) n

Aborting push
Traceback (most recent call last):
  File "/bin/bodhi-push", line 9, in <module>
    load_entry_point('bodhi-server==2.3.1', 'console_scripts', 'bodhi-push')()
  File "/usr/lib/python2.7/site-packages/click/core.py", line 716, in __call__
    return self.main(*args, **kwargs)
  File "/usr/lib/

[2016-11-14 16:54] bowlofeggs commented on #1107
Haha, looks like we probably should have raised a Click Exception instead of just `Exception`.

[2016-11-14 19:46] Fale commented on #752
Hi,
I'm experiencing the same problem.
See:
- https://bodhi.fedoraproject.org/updates/?user=fale&status=testing
- https://bodhi.fedoraproject.org/updates/FEDORA-2016-42c5c95430
- https://fedorahosted.org/rel-eng/ticket/6474

[2016-11-15 15:33] puiterwijk opened #1110 "services/updates.py:409 means that transactions won't be aborted on failure."

[2016-11-15 17:16] bowlofeggs opened #1111 "Race condition between robosignatory signing builds and Builds being added to the db"
The signed handler often sees messages from robosignatory that it has signed a build, but then the Build isn't found in Bodhi's database. This is due to the Build not being committed before Bodhi tells Koji to add the build to the pre-signing tag. This causes updates to never make it to the signed state, which causes the masher to never move them to the updates-testing repository.

The fix itself

[2016-11-16 09:10] nullr0ute opened #1113 "bodhi resume push spews full updates details rather than just a list of NVRs"
So when you use to resume a bodhi push it use to just provide a list of NVR updates just like when doing a new push. Now you get a list of the full output. Sample included below. It's too verbose and doesn't really provide useful output you can browse over to see if it looks sane.

<pre>
================================================================================
     cinnamon-translations-3.2

[2016-11-16 09:13] nullr0ute commented on #1113
Oh strangely it then seems to print the whole lot at the end. I had two to resume (24-u-t and 23):

<pre>
================================================================================
     pidgin-groupchat-typing-notifications-0-2.git33a75f9.fc23
================================================================================
  Update ID: FEDORA-2016-f0639c407b
    Release: Fedora 23
     Statu

[2016-11-16 19:02] dhgutteridge opened #1116 "Admin-related messages for maintainers should be emailed only to those individuals"
Right now anyone who leaves karma or a comment on a package gets spammed by reminders for the package maintainer(s) that a package can be pushed. On top of this, Bodhi is sending them every six hours, which seems excessive. For instance, I've received 45(!) such emails about this update: [https://bodhi.fedoraproject.org/updates/FEDORA-2016-f5e78ec298](url).

[2016-11-16 19:06] bowlofeggs commented on #1009
According to #1116, this issue is not solved.

[2016-11-16 19:12] bowlofeggs commented on #1116
@dhgutteridge I'm sorry to hear that so many e-mails got into that update! I think this means that #1009 isn't solved after all, so I reopened that issue to track the problem of you getting those 45 updates. It's very likely related if not the same issue.

I will keep this issue to track whether admins should be the only ones to get such messages. I'm on the fence about that. I can see why you wou

[2016-11-16 19:18] dhgutteridge commented on #717
I still encounter this issue from time to time, but I haven't been able to narrow down why it's happening.

[2016-11-16 19:30] dhgutteridge commented on #1116
It totally makes sense that some non-maintainers would want to see the messages; I've just noticed I'm not the only one who's complaining, as I've seen comments to this effect on Bodhi. Given it's not necessarily beneficial to alter things this way, I think this bug is largely a combination of two others, #1009 that you mentioned and #636 (some users simply don't want to receive emails at all -- I

[2016-11-17 03:51] bowlofeggs commented on #1113
Without looking into what is causing this, I'm going to guess it's an easy fix. Possibly a stray print statement…

[2016-11-17 15:04] #1111 closed, assigned to bowlofeggs

[2016-11-17 20:27] #765 closed

[2016-11-18 15:47] bowlofeggs commented on #1089
Hello @ellert!

I spent some time today poking around in the database to see if I could tell what is happening with that update. I believe that whatever happened to it is resolved now, perhaps since it has been sent back to testing? When I look at the Build states, they seem correct to me currently.

I apologize that it took me so long to get to this, but I was out on vacation. I wish I'd seen it

[2016-11-18 15:47] #1089 closed, assigned to nobody

[2016-11-18 16:22] cheese1 opened #1119 "rss-feeds should have more speaking titles"
eg.: https://bodhi.fedoraproject.org/rss/updates/?releases=F24
the feed is named "updates"
maybe it should be renamed to "Fedora XX Released Updates" where XX would be 24,...

[2016-11-20 11:32] nullr0ute opened #1120 "bodhi-push crashes when trying to get help"
When trying to get assistance as to what the command like options are for bodhi-push it crashes:

<pre>
[PROD]$ bodhi-push --help
Traceback (most recent call last):
  File "/usr/bin/bodhi-push", line 9, in <module>
    load_entry_point('bodhi-server==2.3.1', 'console_scripts', 'bodhi-push')()
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 547, in load_entry_point
    ret

[2016-11-20 12:16] puiterwijk commented on #1120
Right. It currently tries to load the configuration file immediately. As such, you should currently use sudo bodhi-push --help.

I'm reasonably sure we can fix this, but it'll be tricky given that it's the bugtracker code that does this..

[2016-11-20 12:28] nullr0ute commented on #1120
Yup, I worked that out, but it's non intuitive and not what you would expect and putting in tokens etc just to get help is a little painful hence the bug report.

[2016-11-20 12:38] puiterwijk commented on #1120
Not saying I disagree, just tried to get you running.

As said, while I agree it would be nice to get this fixed, I'm not sure it'll be easy.

[2016-11-20 21:00] puiterwijk commented on #1113
Fix: #1123

[2016-11-22 01:01] kkofler opened #1125 "Cannot edit updates using the Bodhi CLI"
I tried working around #1033 by using the CLI instead:
[code]
but that does not work either. (Using bodhi-client-0.9.12.2-4.fc24.noarch, the latest in F24 stable.)

I get
[code]
and even if I pass `-t security` to work around the "type is missing", I still get the remaining 3 errors.

The comment for the `save` method in `bodhi.py` says:
[code]
but `/usr/bin/bodhi` passes:
[code]
instead.

The com

[2016-11-22 01:27] kkofler commented on #1125
Whatever I do, I cannot get the CLI or even the Python API to work for editing, it keeps wanting stuff that I don't want changed (at least build, type, notes), it seems like I would have to query for them and them manually translate them to what it expects. I naïvely tried:
[code]
but it complains that the builds are in the wrong format.

So neither the web UI nor the CLI are able to perform such

[2016-11-22 01:29] kkofler commented on #1125
(I need to push calamares-2.4.4-5.fc25 and calamares-2.4.4-5.fc24 that both have a karma of +1.)

[2016-11-22 01:31] kkofler commented on #1033
It's in the processing, not in the rendering. I did the query using the Python API, it clearly shows that stable_karma=None on the updates I disabled autokarma for using the web UI, so it was already incorrectly saved.

[2016-11-22 01:33] kkofler commented on #1033
And no, the CLI can NOT be used for this, see #1125.

[2016-11-22 14:37] bowlofeggs opened #1126 "Authentication errors print a traceback in the bodhi CLI"
If you type the wrong password when performing an action with the bodhi CLI, it will print a traceback:

[code]

It should just print a nice error message instead.

[2016-11-22 16:11] bowlofeggs commented on #1040
I learned that the order of the arguments used in the bug report is backwards - you have to specify the update id and then the state you wish the update to be moved to. Thus instead of:

[code]

it should be:

[code]

The server was sending a 404 since it could not find an update with id "revoke". However, the CLI should have made this clearer for the user when reporting the error so I will see wh

[2016-11-22 16:11] remicollet opened #1127 "Bodhi badly remove buildroot overrides."
I had a buildroot override active for `php-phpunit-PHPUnit-5.6.5-1.fc25`

At some point I added this build to an update. (the update already existed and contained an earlier build for this package, but that shouldn't matter)

After that, Bodhi untagged the override.

You can see this from the build's tag history (only the relevant parts kept) :

[code]

Looking at the date, it clearly got untagged

[2016-11-24 16:25] kkofler commented on #1125
I see that there is a new client:
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/client/__init__.py
which is only in Rawhide/Copr and not actually in the repositories, but that does not even have an edit command at all anymore.

[2016-11-25 13:32] ankit01ojha commented on #1126
I want to work on this can you please tell me how should I start.
Thanks.

[2016-11-26 03:44] trishnaguha commented on #1126
@ankit01ojha You need to investigate into bodhi CLI codebase https://github.com/fedora-infra/bodhi/blob/develop/bodhi/client/__init__.py

[2016-11-26 03:55] bowlofeggs commented on #1127
This sounds like a duplicate of https://github.com/fedora-infra/bodhi/issues/798. Please let me know if you think it's a separate issue!

[2016-11-26 03:55] #1127 closed, assigned to nobody

[2016-11-28 16:25] #1040 closed, assigned to nobody

[2016-11-28 16:54] Peppa-Peddler commented on #1119
I want to work on this issue! Can someone assist me?

[2016-11-28 16:59] bowlofeggs commented on #1119
I'm not very familiar with the code that does this, but the service that generates the update rss feed is here:

https://github.com/fedora-infra/bodhi/blob/2.3.2/bodhi/server/services/updates.py#L157-L316

And the rss renderer is here:

https://github.com/fedora-infra/bodhi/blob/2.3.2/bodhi/server/renderers.py#L8-L71

[2016-11-29 15:15] ankit01ojha commented on #1126
I am getting this error with bodhi CLI http://imgur.com/YjTT8yS . I am not able to reproduce the bug because of this.

[2016-11-29 19:30] bowlofeggs commented on #1126
@ankit01ojha it appears that you are not using the current development version of Bodhi, but bodhi 0.9 instead. If you use bodhi inside the Vagrant environment, it should be the development version. You can tell if you have the right version by using the --version flag. For example, right now I see:

[code]

I don't believe bodhi 0.9 had a --version flag.

[2016-11-30 22:48] dustymabe opened #1138 "[RFE] export logs from bodhi for public debugging"
Would be nice to have these so people who aren't blessed with access to the infrastructure can try to help debugging like we can with pungi: http://kojipkgs.fedoraproject.org/compose/twoweek/Fedora-Atomic-25-20161130.1

nirik says: "it already writes out mash files to https://kojipkgs.fedoraproject.org/mash/updates/ it could write logs there too"

thoughts?

[2016-12-01 19:14] bowlofeggs commented on #1138
My initial reaction is that I'm on the fence. I've seen several security flaws in the past due to programs accidentally logging secret information (even passwords in some programs!). Though I've not seen Bodhi do this, keep in mind that Bodhi's dependencies also get logged by Bodhi's logger so that's a lot of log statements to continuously audit.

[2016-12-04 02:49] nirik opened #1143 "connection retry/backoffs"
Currently, when the bodhi masher is going it talks to several other systems. Whenever one of these things stops answering it almost immediately fails that thread.

These things include:

* koji
* kerberos server
(but there may be more)

It would be nice if it would detect the connection failed and wait and retry with some backoff.
We don't want it to keep trying forever, but if it tried even say 5

[2016-12-06 15:49] bowlofeggs commented on #1138
During today's bodhi-stakeholder's meeting, we agreed that we would make the mash and ostree logs public.

[2016-12-06 15:51] ausil commented on #1138
mash and ostree logs being public can help people see what is going wrong in composes, and help debug issues. mash logs for instance can help people figure out why a package is multilibbed

[2016-12-06 18:24] bowlofeggs commented on #1094
I believe this happened because the update was set with autokarma False, and did not receive enough karma to reach the threshold. The [if statements that determine whether Bodhi should add the push to stable comments](https://github.com/fedora-infra/bodhi/blob/2.3.3/bodhi/server/scripts/approve_testing.py#L64-L74) don't have a condition that will pass for updates that have autokarma set to False a

[2016-12-08 11:49] andreasn opened #1146 "Login and logout are nouns and not verbs"
Right now the actions for logging in and logging out are called "Login" and "Logout", so it sounds like they are nouns "A logout" instead of a verb, ie "I want to log out".
This clashes a bit when you come to the FAS page, where it says "Log in".

I would suggest calling it "Log in" and "Log out" instead.

Also see https://www.quora.com/Diction-and-Word-Usage-Which-is-correct-Login-or-Log-In

[2016-12-08 17:58] bowlofeggs commented on #1009
I've spent some time looking at the code and the way it tests for these messages (which isn't nice), but I can't tell why https://bodhi.fedoraproject.org/updates/FEDORA-2016-f5e78ec298 got all those messages. I deployed bodhi-2.3.3 to production last week (I believe on Wednesday, Nov 30).  Can anyone confirm whether these repeat e-mails have happened since then?

[2016-12-08 18:05] bowlofeggs commented on #1009
I poked around at some updates that don't use autokarma, and I found that the kernel is still having this problem:

https://bodhi.fedoraproject.org/updates/FEDORA-2016-9c17cb9648

[2016-12-08 18:39] bowlofeggs commented on #1009
Ah, I believe I know what is happening and why I mistakenly thought it was fixed before. I believe the problem was solved for all updates except for non-autokarma critical path updates, which have slightly different rules. Both examples that we know about are critical path!

non-autokarma updates get [this check](https://github.com/fedora-infra/bodhi/blob/2.3.3/bodhi/server/scripts/approve_testing

[2016-12-09 01:45] bowlofeggs commented on #183
I have solved this bug upstream! I made one commit to bring ```fedora.client.bodhi``` into a new ```bodhi.client.bindings``` module:

https://github.com/fedora-infra/bodhi/commit/7997494b8e610108ee5131a2a2263f1a53276b65

After that commit, I added a further commit that gets rid of the weird ```Bodhi1/2Clients``` and renames the ```Bodhi2Client``` to just ```BodhiClient```:

https://github.com/fedo

[2016-12-09 01:45] #183 closed

[2016-12-09 18:09] #1009 closed, assigned to bowlofeggs

[2016-12-09 18:09] #1094 closed, assigned to bowlofeggs

[2016-12-09 18:15] #908 closed, assigned to bowlofeggs

[2016-12-14 02:15] mattdm opened #1156 "[RFE] Time minimums for auto-push"
See background thread here https://da.gd/wlgro

Right now, we can set a threshold for karma, at which point updates get pushed with no further intervention from the packager. Adam W. asks for a tweak where there's additionally a minimum-time-in-testing threshold (with the suggestion of a two-day minimum). This seems like a good idea to me.

[2016-12-14 02:19] mattdm opened #1157 "[RFE] Only auto-push once a week"
See background thread here https://da.gd/wlgro

This is conceptually connected to issue #1156, but really could be implemented independently.

I suggest that we only automatically push updates which have hit their thresholds (both the karma one and the minimum-cook-time threshold Adam proposes) once per week — on Monday, say. This will reduce updates churn, while still letting packagers push updat

[2016-12-14 17:41] #1107 closed, assigned to bowlofeggs

[2016-12-14 17:41] #1113 closed, assigned to bowlofeggs

[2016-12-14 22:57] anassahmed opened #1160 "[RFE] Close BugZilla Bugs based on specific or overall karma votes"
Currently, Bodhi closes the related bugs of an update if it hit the stable repositories.

This is not always correct, especially if reporters had marked specific bug (in bodhi) as not fixed in its karma vote, but the overall karma vote threshold made it pass to stable repositories.

We need to make bodhi close only bugs which doesn't have negative votes (specifically for it) or its positive votes

[2016-12-15 09:39] juhp opened #1161 "[web] cannot edit large bodhi update: should use hash alias"
I can't edit [this large fedora update](https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2016-25cbafa070) in the Fedora Bodhi web interface...
when I try I get an error page saying the URL is invalid:

[code]

[2016-12-16 10:42] kalev opened #1164 "Bodhi sometimes doesn't untag packages from f25-updates-testing-pending"
I was discussing an issue with @kparal where I keep getting occasional failure messages from taskatron for old packages that have been in stable for several months. @kparal said that this is due to Bodhi not having untagged them from f25-updates-testing-pending when they moved to stable.

Would it be possible for bodhi to run an occasional check for -pending tags and clean them up for packages tha

[2016-12-16 13:53] kparal commented on #1164
I seem to recall @lmacken claiming there's some sanity check script (inside or outside of Bodhi) that gets run regularly and fixes these issues if they arise (as a safety check for random issues which haven't been fixed yet). But I don't know any more details.

A long time ago I wrote [a very crude script](https://pagure.io/fedora-qa/qa-misc/blob/master/f/leftover-tagged-builds.sh) to detect such

[2016-12-17 05:53] ellert commented on #1093
Still happening - still very disruptive.

[2016-12-17 21:19] bowlofeggs opened #1165 "bodhi.server.util.flash_log does not flash"
The name and docblock of ```bodhi.server.util.flash_log``` says that it flashes and logs a message, but it only logs the message.

[2016-12-17 21:44] bowlofeggs opened #1166 "bodhi.server.util conditionally imports rpm"
I don't see a reason for ```bodhi.server.util``` to conditionally import rpm, as opposed to hard depending on it. We should investigate why it is this way, and make it a hard dependency if it makes sense. If this change is made, release notes will need to be written as well.

[2016-12-18 00:49] bowlofeggs commented on #1161
My guess is that the web form is using the long name for the update instead of using its alias. If so, it's probably an easy fix, but it's just a guess.

[2016-12-18 01:51] bowlofeggs opened #1168 "CLI crashes when karma is set to None"
Updates with None on the stable or unstable karma thresholds will cause a crash:

[code]

I'm labelling this critical since it's a regression introduced on the develop branch (it is not present in the 2.3.3 release), so we should not release without fixing this.

[2016-12-18 04:39] juhp commented on #1161
My guess is that the web form is using the long name for the update

Yes it is.

Maybe if I use the hash in the url, it will work??

[2016-12-18 22:45] puiterwijk opened #1169 "RFE: Add a button for admins to re-request signing"
It might be very useful to have a button to "re-request signing" for builds in koji.
This would basically untag and retag the builds in -signing-pending that are at that moment still marked as unsigned.

Note that we do not want to make this available to the owners of the package, only admins, since this can be harmful if this operation is performed while the package is being signed, as it would c

[2016-12-19 00:59] juhp commented on #1161
Indeed edit seems to work fine with the hash alias.
So should be an EasyFix. :)

[2016-12-19 03:24] bowlofeggs commented on #1161
@juhp Awesome, thanks for investigating!

[2016-12-19 16:10] puiterwijk opened #1170 "RFE: Implement gated signing for non-updates-testing-pending versions"
EL5 and EL6 do not have updates-testing-pending tag, which meant that we could not setup autosigning for those. It would be great if that could be implemented.

[2016-12-19 18:12] bowlofeggs opened #1171 "Unittest failure due to sorting order"
@puiterwijk reported that one unit test is failing on his system:

[code]

This may be due to locale, but in general we don't need to assert that the packages are given in that particular order, just that they are given in some order. We need to refactor the test to allow the package order to be shuffled any way.

[2016-12-19 18:28] bowlofeggs opened #1172 "The releases graph is undiscernable for releases that have a long history, like EPEL 6"
The EPEL 6 releases graph has far too many dates on the X-axis to be useful:

https://bodhi.fedoraproject.org/releases/EL-6

We probably need some code to decide how many dates to include there so it doesn't get too crazy. I'm going to assume this is HTML/JS/CSS work and that it's easy, but I could be wrong.

[2016-12-19 18:40] bowlofeggs opened #1173 "Bodhi moved updates into the dist-6E-epel-testing tag before they were successfully pushed"
Today the EPEL 6 push moved several unsigned updates into the ```dist-6E-epel-testing``` tag, and then tried to push them. Since they were unsigned, the push failed but the updates remained in the ```dist-6E-epel-testing tag``` instead of the ```dist-6E-epel-testing-candidate``` tag.

This is essentially an order of operations problem. Bodhi should only move updates from the Candidate tag to the T

[2016-12-19 19:14] bowlofeggs opened #1174 "OSTree failures should not block RPM pushes from going out"
Currently, any failure in OSTree will block release engineering from pushing out RPMs. This could be bad if there were important security updates.

We need to refactor the masher such that:

* Failures in OSTree do not block RPM pushes from going to users (and vice-versa),
* Errors in OSTree and RPM mashing should be independently reported,
* The overall mash success should only be True if both su

[2016-12-19 20:34] bowlofeggs commented on #1094
@puiterwijk has applied a hotfix based on #1145 to production so this should not happen any longer. Thanks Patrick!

[2016-12-19 20:34] bowlofeggs commented on #1009
@puiterwijk has applied a hotfix based on #1145 to production so this should not happen any longer. Thanks Patrick!

[2016-12-20 18:55] Fale opened #1177 "Problem retriving updates"
Giving:
[code]

Returns a bunch of udpates (not all of them) and then:
[code]

[2016-12-20 19:05] Fale opened #1178 "Problem promoting stuff"
[code]

[2016-12-20 19:08] Fale opened #1179 "Use kerberos tickets"
It would be nice if the CLI client for bodhi would use kerberos tickets instead of asking the password

[2016-12-20 19:09] puiterwijk commented on #1179
Sorry, :-1:.
We will be switching to OpenID Connect for API tokens in the near future, but we will not use Kerberos for CLI,

[2016-12-20 19:09] #1179 closed, assigned to nobody

[2016-12-20 19:11] Fale commented on #1179
I see, it would make sense. Is there an indicative date for OpenID Connect introduction?

[2016-12-20 19:12] puiterwijk commented on #1179
Well, the server is live as of a bit ago, and the base client was implemented about two weeks ago.
I am hoping that client applications will start moving soon.

[2016-12-20 19:13] Fale commented on #1179
So it would be ready for bodhi to implement this feature? If yes, I think this ticket should be reopened, renamed etc

[2016-12-20 19:14] puiterwijk commented on #1179
Sure, although I would personally say that that's a new ticket, but if you want to reopen and rename this one, go ahead.

[2016-12-20 19:16] Fale opened #1180 "Implement OpenID Connect"
It would be nice if the CLI client for bodhi would use OpenID Connect instead of asking the password, as for #1179

[2016-12-20 21:16] frozencemetery opened #1181 "Bodhi should enforce cross-Fedora versioning"
It would be very useful if Bodhi enforced that the version of a piece of software in any given Fedora release were >= the version in an older release before allowing it to be pushed to stable.

For instance, right now [sssd](https://bodhi.fedoraproject.org/updates/?packages=sssd) update 1.14.2-2 has landed in fc23 and fc25, but not fc24.  This complicates the upgrade from fc23 to fc24.

Thanks!

[2016-12-21 15:16] bowlofeggs opened #1182 "Use pungi to build OSTrees"
Currently Bodhi builds OSTrees in its masher. This results in OSTree being built only for the architecture that Bodhi's masher runs on (x86_64).

We should instead use koji runroot to build OSTrees in Koji so that we can support the variety of architectures that Fedora otherwise supports. It has been suggested that we may be able to use pungi to do this.

[2016-12-21 15:19] ausil commented on #1182
https://pagure.io/releng/blob/master/f/scripts/build-test-ostree is an axample where we use the pungi code in the chroot to do ostrees, however you might be able to more easily do things by importing pungi and using its apis

[2016-12-21 15:25] bowlofeggs commented on #1138
@puiterwijk published the logs at https://kojipkgs.fedoraproject.org/mash/atomic-updates-logs/

[2016-12-21 15:25] #1138 closed, assigned to nobody

[2016-12-21 17:45] #1168 closed, assigned to bowlofeggs

[2016-12-21 19:57] bowlofeggs commented on #1177
Hello @Fale!

Thanks for the bug report! It sounds like this is for bodhi-0.9 (I'm guessing since /usr/bin/bodhi is autogenerated in bodhi 2). I don't mind at all that you filed this here (in fact I appreciate bug reports no matter how they arrive!), but I prefer to use GitHub to track issues in Bodhi 2's codebase and Bugzilla to track issues with packaging and/or bodhi-0.9's codebase. It turns ou

[2016-12-21 19:57] #1177 closed, assigned to nobody

[2016-12-21 19:58] bowlofeggs commented on #810
Thanks for the bug report! It sounds like this is for bodhi-0.9 (I'm guessing since /usr/bin/bodhi is autogenerated in bodhi 2). I don't mind at all that you filed this here (in fact I appreciate bug reports no matter how they arrive!), but I prefer to use GitHub to track issues in Bodhi 2's codebase and Bugzilla to track issues with packaging and/or bodhi-0.9's codebase. It turns out there's alre

[2016-12-21 19:58] #810 closed

[2016-12-21 20:04] bowlofeggs commented on #1178
Let's use the downstream Bugzilla issue to track this, since it's a problem with bodhi-0.9:

https://bugzilla.redhat.com/show_bug.cgi?id=1279313

Thanks for the report!

[2016-12-21 20:04] #1178 closed, assigned to nobody

[2016-12-21 20:07] bowlofeggs commented on #1180
I'd like to get this done in time for Fedora 26. @puiterwijk, does ```fedora.client``` have what I need to get this done already?

[2016-12-21 20:11] bowlofeggs commented on #1181
I believe there is a taskotron test for this, so perhaps we just need to have Bodhi consult with taskotron at the moment of either requesting stable, or at the moment of pushing to stable. Thanks for the report!

[2016-12-21 21:40] #1146 closed, assigned to nobody

[2016-12-22 00:45] mattdm commented on #879
@gbcox As long as the maintainer is able to override and push anyway, I don't think that's a problem. Then it's not veto power, just a "hey, a human really needs to look at this before it's pushed".

[2016-12-22 00:47] mattdm commented on #879
@trishnaguha and @bowlofeggs — looks like #894 only applies to critical updates. Why not all updates? "Critical" in that sense just means "[critpath](https://fedoraproject.org/wiki/Critical_path_package)" — but there are plenty of non-critpath updates which land on many people's systems and could conceivably cause harm.

[2016-12-22 01:30] gbcox commented on #879
@mattdm Thanks for the response Matt - it was merged months ago anyway.  Given the fact that many maintainers haven't yet figured out how to use bugzilla I can understand why the project has concerns about the way they handle their own updates.

[2016-12-22 01:39] mattdm commented on #879
That's, uh, not what I said.

[2016-12-22 01:56] gbcox commented on #879
I didn't say you did.  However, obviously the project has a concern or they wouldn't be making this change.

[2016-12-22 04:39] trishnaguha commented on #879
@mattdm `autopush` will be disabled if critical update receives negative karma. This is not applied for non-critical updates. I don't think it is a good idea to disable autopush for every kind of update right after it receives negative karma. IMO the update that can cause harm can be marked as `critical update` instead?

[2016-12-23 07:12] ankit01ojha commented on #1126
@bowlofeggs yes , its 0.9.12.1, so what should I do now?

[2016-12-23 07:14] trishnaguha commented on #1126
@ankit01ojha Try to setup the development environment with Vagrant.

[2016-12-23 15:51] #1171 closed, assigned to bowlofeggs

[2016-12-23 16:05] bowlofeggs commented on #1110
The line numbers have changed since this ticket was filed. I believe @puiterwijk was referencing this code:

https://github.com/fedora-infra/bodhi/blob/2.3.3/bodhi/server/services/updates.py#L413-L421

[2016-12-23 17:03] bowlofeggs commented on #1180
This PR is a proposal to add OpenID Connect to ```fedora.client```:

https://github.com/fedora-infra/python-fedora/pull/188

Once ```fedora.client``` has this and is released to EPEL 7 and Fedora 26, we can add support to Bodhi's client.

[2016-12-23 17:43] bowlofeggs opened #1186 "Cannot run bodhi/tests/server/services/test_updates.py in isolation"
Running ```bodhi/tests/server/services/test_updates.py``` in isolation seems to run into a circular import problem:

[code]

[2016-12-23 17:49] bowlofeggs commented on #1186
I have no idea how this problem is avoided when the tests are all run, but it does seem that ```validators``` is importing ```schemas``` and vice-versa, which is usually a recipe for trouble and often implies that they might should be the same module.

[2016-12-23 17:53] bowlofeggs commented on #1186
It seems the ```validators``` only imports schemas for a single function. It may be possible to move that function into a third module, such as the utils module.

[2016-12-23 18:18] bowlofeggs opened #1187 "Duplicate parameters for setting the state of request"
[Lukas Slebodnik filed this issue in Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1408198):

[2016-12-23 18:22] bowlofeggs commented on #1187
This could probably be considered a backwards incompatible change request. If we want to change it we will need to mark the option as deprecated and then wait until a major X release to drop the option.

This is all assuming the option actually works (I haven't tested it). If it doesn't work, we can just drop it.

[2016-12-23 18:26] bowlofeggs opened #1188 "consider to implement bash completion for bodhi-client"
[Lukas Slebodnik originally filed this RFE in Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1408205):

[2016-12-23 19:05] mattdm commented on #879
@trishnaguha  Can you elaborate on why it doesn't seem like a good idea?

Here's a (made up but possible!) example — let's say I use a personal information management system to keep track of contacts and so on. It's not a standard GNOME application and not part of the normal desktop, but I rely on it, and other Fedora users might too.

An update goes out and a couple of people +1 it. Then, I disco

[2016-12-23 22:55] bowlofeggs commented on #879
On Wed, 2016-12-21 at 16:47 -0800, Matthew Miller wrote:

Hey Matthew!

I believe #894 did it that way because the subject of #879 was to "Disable autokarma if anyone
gives a -1 to 'basic system functionality'". The basic system
functionality question is only given on critical path updates, so it
was thus implied that this behavior should only happen on critical path
updates. So that's the history

[2016-12-23 22:58] bowlofeggs commented on #879
On Fri, 2016-12-23 at 11:05 -0800, Matthew Miller wrote:

Perhaps another option is just to disable autokarma if any user gives a
-1 - at that point the maintainer would have to read the feedback and
make a manual decision. I think this would be easier to implement than
to ask the "basic system functionality" question on every update (which
I think might also be confusing since the general karma +

[2016-12-24 00:04] mattdm commented on #879
@bowlofeggs Oh! That  makes perfect sense. Sorry. My mind substituted "basic system functionality" into "Is the update generally functional?" — which _is_ asked for non-crit-path updates. I think

is exactly the right thing. Do you want a new issue filed for that?

[2016-12-25 19:05] bowlofeggs commented on #979
I believe this is fixed now. It seems that there was a deployment issue that prevented bodhi's frontend and backend from communicating. @puiterwijk has resolved this for us!

[2016-12-25 19:05] #979 closed, assigned to puiterwijk

[2016-12-25 19:07] bowlofeggs commented on #853
I believe this is fixed now for non-private bugs. It seems that there was a deployment issue that prevented bodhi's frontend and backend from communicating. @puiterwijk has resolved this for us!

The blinking dots may still happen for a minute or two after the update is submitted - they mean that the backend hasn't finished talking to bugzilla to retrieve the details yet. Once the details are retr

[2016-12-25 19:07] #853 closed, assigned to puiterwijk

[2016-12-26 18:06] bowlofeggs commented on #879
On Fri, 2016-12-23 at 16:04 -0800, Matthew Miller wrote:

Sure!

[2016-12-26 21:39] cbdavide commented on #1172
Hi, I've been looking around the code, and searching the Internet, and I've come with a few solutions:
- (trivial) Wrap the canvas in a container and through CSS implement a scroll bar to see the chart in a more comfortable way. This approach has some downsides, like the y-axis and its values will not be fixed to a static position, and the start position of the viewer is going to be at the oldest

[2016-12-27 01:21] bowlofeggs commented on #1172
Those all sound pretty fancy, but also like they might be a lot of work. Perhaps a simpler solution would be to reduce the granularity of the data, i.e., drop some data points so that there are only as many as can be comfortably graphed. For example, say only 10 data points can fit in there nicely, but we have 100. A simple solution would be to only include one out of 10 data points (keeping 0, 10

[2016-12-27 04:35] cbdavide commented on #1172
I believe this piece of code should do the work:
[code]
It keeps the ratio of data points in an amount that is comfortably grafted to a maximum of 11-13 data points.

[2016-12-30 01:34] kkofler commented on #1033
2 months and this showstopper is STILL not fixed.

[2016-12-30 01:35] kkofler commented on #1032
Why is this dangerous bug (which can lead to broken packages accidentally reaching the stable updates) still not fixed after 2 months?

[2016-12-30 01:42] kkofler commented on #1033
Counting also #772, it has been almost 11 months that manual push to stable based on karma has no longer worked. Why is it taking so long to fix such a major issue? This is breaking the best-practice workflow for filing Fedora updates and encouraging people to just enable autokarma, with all the issues this entails (broken upgrade paths, updates being pushed after gaining karma too quickly with ne

[2016-12-30 17:53] ankit01ojha commented on #1126
@bowlofeggs now I am having version 2.3.3 but I am unable to reproduce the bug can you just tell me how should I reproduce this bug( I don't know how should I set password to bodhi CLI).

[2016-12-30 18:17] bowlofeggs commented on #1126
@ankit01ojha There are several actions in the bodhi CLI that require authentication. For example, you could try to create a new update as me:

[code]

[2016-12-31 17:32] mattdm opened #1191 "Disable autokarma on *any* signed-in -1 karma"
Issue #879 disables autokarma if anyone gives a -1 to "basic system functionality". Let's extend that to all packages — if any logged-in user gives -1, disable automatic push. The maintainer will still be able to override and push manually, but will apply their judgement in this case, rather than letting the positive/negative sum decide.

[2017-01-03 00:21] igor-raits opened #1192 "obsoleting single package from multiple packages update doesn't work"
Update X: `foo-1.0, bar-1.0`
After some time you submit new update Y: `bar-2.0`

It doesn't remove `bar-1.0` from X and when you try pushing X to stable (Y already pushed) -- it fails.

[2017-01-03 00:22] igor-raits commented on #1192
https://bodhi.fedoraproject.org/updates/FEDORA-2016-8b3063d71c
https://bodhi.fedoraproject.org/updates/FEDORA-2016-b9ecaa6f9f

So I had to manually remove one build from X.

[2017-01-03 00:26] igor-raits opened #1193 "removing pkg from multiple-pkg update should not reset days-to-stable counter"
Update X: `foo-1.0, bar-1.0`

After YY days it's possible to push into stable, but once you remove one of packages you have to wait YY days again.

[2017-01-03 05:55] bowlofeggs commented on #1192
I believe this might be duplicate with https://github.com/fedora-infra/bodhi/issues/512. Feel free to let me know if you think it's not!

[2017-01-03 05:55] #1192 closed, assigned to nobody

[2017-01-03 05:57] bowlofeggs commented on #1193
I'm not sure I agree on this one. Any testing that has been done on the package was presumably done on the set of packages (foo and bar in this case). If bar is removed, testers should reconsider whether foo is OK to go alone without bar. There are real world scenarios where this could fail, so resetting the karma does make sense in my opinion.

[2017-01-03 21:52] #1186 closed, assigned to bowlofeggs

[2017-01-04 00:07] mcatanzaro commented on #340
Finally fixed: https://bugs.webkit.org/show_bug.cgi?id=165804

[2017-01-04 16:14] bowlofeggs commented on #1164
I'm curious if this might be the script that you are thinking of, that @lmacken wrote to address a similar but not identical issue:

https://github.com/fedora-infra/bodhi/blob/2.3.3/bodhi/server/scripts/untag_branched.py

As far as I can tell, nothing ever calls this script automatically (it does not appear in the infra Ansible playbook) and possibly not by hand either (it does not appear in the r

[2017-01-04 17:08] bowlofeggs opened #1197 "Eliminate bodhi-untag-branched"
It may be possible to eliminate ```bodhi-untag-branched``` (which is currently manually called after a branched release goes GA). We might be able to set up a fedmsg consumer that looks for successful pungi composes on pending releases and performs the appropriate tag cleanups for the related packages. This would eliminate a manual step that is currently performed by release engineering.

[2017-01-04 20:05] bowlofeggs opened #1200 "bodhi.server.consumers.updates.UpdatesHandler.consumer uses an assert statement"
```assert``` statements get removed from optimized code, which is what gets built in Koji (which is where production Bodhi builds come from). Thus, the assertion will not be present in production.

If the assertion is important, we should either reconcile the database discrepancy, or raise an Exception. It might make the most sense to reconcile the database discrepancy.

[2017-01-04 20:34] jeremycline opened #1201 "Ensure the masher's Koji interactions are fault-tolerant"
This is an expansion on https://github.com/fedora-infra/bodhi/issues/1143.

The masher is a long-running task that needs to handle failures gracefully. The masher's interactions with Koji need to work despite intermittent network problems. This includes authentication, which involves the Kerberos server.

- [x] Ensure calls to Koji are retried in the event of network problems

- [ ]  Ensure that i

[2017-01-04 20:40] jeremycline opened #1202 "Ensure the masher's database interactions are fault-tolerant"
This is an expansion on https://github.com/fedora-infra/bodhi/issues/1143.

The masher is a long-running task that needs to handle failures gracefully. The masher's interactions with the database need to work despite intermittent network problems.

- [ ] Ensure the database session is configured to handle connection failures

[2017-01-04 20:49] jeremycline opened #1203 "Ensure the masher's filesystem interactions are fault-tolerant"
This is an expansion on https://github.com/fedora-infra/bodhi/issues/1143.

The masher is a long-running task that needs to handle failures gracefully. The masher's interactions with the filesystem (which may be a network filesystem) need to handle problems if possible. This might be something naive like simply retrying filesystem-related calls some configurable number of times with a waiting peri

[2017-01-05 08:13] kparal commented on #1164
Great find, #576 was where we talked about this. It seems that Luke was convinced this happens mainly during Branched cycle. I updated my crude script and added printing of the currently active tags. This is the output now:
[code]

As you can see, most of the `f25-updates-testing-pending` builds are also in `f25`, so it seems this really occurred at some point during F25 Branched cycle, as Luke wa

[2017-01-05 16:44] mattdm commented on #942
I am now officially offering a bribe to help increase the priority of this RFE. For anyone implementing this, I will personally buy a delicious beverage of your choice at the next conference I see you at. :)

[2017-01-05 21:19] puiterwijk opened #1208 "Mashing only commits after all mashes finish"
We should probably do a database commit after a mash finishes.
An example: if we push f25-updates and f24-updates, the f25-updates mash might have finished and synced out, and the bugzillas will be closed, but the bodhi page still displays the updates as "request: stable, status: testing", because the database commit that marks it as pushed hasn't been committed yet.

[2017-01-06 03:19] bowlofeggs opened #1210 "When bodhi automatically stabilizes an update due to karma, bodhi comments before the last +1"
When a user gives the last +1 needed to move an update to stable with autokarma, Bodhi will comment "This update has been submitted for stable by bodhi." before the user's comment. This can be confusing, as it often appears that Bodhi moved it to stable 1 karma point too early unless you examine the timestamps and see that the user's +1 is usually very close in time to the bodhi comment. For an ex

[2017-01-07 16:23] caeppeoppoo opened #1212 "hold pushing package to repository until either all dependencies are in that repo or all dependencies will be added in same push"
I don't think a package should be pushed to a repository if its dependencies aren't yet in that repository. the push of that package should wait until all dependencies are either already in the repo or will be added during the same push.

Here's an example where this is a problem for stable users:
https://bodhi.fedoraproject.org/updates/firewalld-0.4.4.2-2.fc24#comment-546028
https://bodhi.fedorap

[2017-01-08 01:15] bowlofeggs commented on #1212
Thanks for the report!

Bodhi doesn't actually have the information on hand to make this determination. I wonder if we could collaborate with Taskotron to solve this issue, which I believe does have the needed information.

[2017-01-09 13:03] kparal commented on #1212
Yes, it's Taskotron's goal to automatically stop these issues from happening. In this case, you should have received a warning from depcheck saying the deps were not satisfied for pushing firewalld stable, and then Bodhi would have disabled karma autopush. But depchecks said everything was OK. There must be some problem in depcheck. I don't really want to dig deep into it, because we plan to repla

[2017-01-09 19:09] dhgutteridge commented on #717
This issue recurred for me yesterday, with [https://bodhi.fedoraproject.org/updates/FEDORA-2017-1e3e237ac8](url). I tried to submit feedback, but Bodhi showed no sign it had been received, so I tried resubmitting twice. Nothing happened until after the package was pushed to stable, then all my attempts were recorded (with the times of submission being incorrect -- showing after the package was pus

[2017-01-09 21:55] bowlofeggs commented on #1212
Thanks for the information @kparal!

I'm going to close this bug report under the assumption that rpmdeplint will solve the problem for us.

[2017-01-09 21:55] #1212 closed, assigned to nobody

[2017-01-10 10:00] trishnaguha commented on #1191
Okay this sounds like the same we have done for critical updates :-). I'm going to make a stab at it.

[2017-01-10 10:09] morxa commented on #902
Is this deployed? I still get notifications to my old address. Do I need to change the address again so the change is propagated?

[2017-01-10 10:23] trishnaguha commented on #1157
I'd like to assign this to myself.

[2017-01-10 15:20] caeppeoppoo commented on #1212
@kparal -- is there a place to follow the progress of the planned switch to rpmdeplint?

[2017-01-10 17:02] bowlofeggs commented on #902
Hello @morxa!

This commit has not yet been included in a Bodhi release. It should be included in the upcoming 2.4.0 release, but I don't have a date for that release yet.

[2017-01-11 12:00] trishnaguha opened #1216 "[UI/UX] *Add Comment* button should be just below the Comment section of Updates"
The *Add Comment* looks odd down there. It should be just below the *Solution* field.
For instance: https://bodhi.fedoraproject.org/updates/FEDORA-2017-78a478cd32

![screenshot from 2017-01-11 17-25-51](https://cloud.githubusercontent.com/assets/13337039/21847731/68a75016-d823-11e6-839d-3f4cc209ba81.jpg)

[2017-01-11 17:11] lupinix opened #1218 "Cannot create updates for packages comaintained by lxqt-sig group I'm a member of"
Hi,

we created a fas and pkgdb group lxqt-sig some days ago and added the group as a comaintainer to LXQt-related packages. Now I could commit all my changes and could do all koji builds. But I cannot create updates in bodhi, I always get error messages like "Builds : lupinix does not have commit access to lximage-qt". Did I miss something?

Christian

[2017-01-11 19:08] ralphbean opened #1219 "RFE: consider using pungi to do most all of the backend mash work"
It could be interesting.

- We could reduce the number of releng tools we have to worry about.
- Pungi can mash repos.
- Pungi can create ostree artifacts.
- Pungi produces metadata about *what it did*, which would be a handy thing to compare between runs.
- We could compare updates and ga releases in an *apples to apples* kind of way.

Ping releng members to see if they can provide some more moti

[2017-01-12 21:04] bowlofeggs commented on #1218
This code sounds relevant: https://github.com/fedora-infra/bodhi/blob/2.3.3/bodhi/server/validators.py#L362-L369

[2017-01-13 15:28] kparal commented on #1212
Hi, you can watch it here:
https://phab.qa.fedoraproject.org/T878

[2017-01-13 22:11] bowlofeggs opened #1222 "bodhi.server.__init__ has imports in the middle of the file"
```bodhi.server.__init__``` has import statements throughout the file. This was likely done to avoid circular imports, but the circular import issue is a strong hint that the code in this file belongs somewhere else. We should refactor bodhi so it doesn't have imports in the middle of this, likely by moving a lot of its code to live somewhere else.

[2017-01-14 03:02] dustymabe commented on #1212
@caeppeoppoo - apparently we can follow along on this ticket: https://phab.qa.fedoraproject.org/T878

[2017-01-14 03:02] dustymabe commented on #1212
sigh.. browser hadn't been refreshed :(

[2017-01-15 10:58] puiterwijk commented on #1218
Please note that the groups list is only refreshed on login.
So please log out from bodhi and then relogin, and it should refresh your group list, which should fix your issue.

[2017-01-15 11:11] lupinix commented on #1218
Not solved :( I tried it several times within last days, using computer at work, notebook etc, so login should not be the issue

[2017-01-15 11:14] puiterwijk commented on #1218
Okay, so the problem is that nobody configured this group to be requested by Bodhi. This needs an SOP update on the infra side.

[2017-01-15 11:15] lupinix commented on #1218
Can you check astro-sig in this context too, another new fas/pkgdb group.

[2017-01-15 11:15] lupinix commented on #1218
Thank you for investigating :+1:

[2017-01-15 11:15] puiterwijk commented on #1218
http://infrastructure.fedoraproject.org/cgit/ansible.git/commit/?id=bd3bade

[2017-01-15 11:24] lupinix commented on #1218
That worked, thank you very much!

[2017-01-15 11:24] #1218 closed, assigned to nobody

[2017-01-16 12:29] ankit01ojha commented on #1216
@trishnaguha I would like to work on this, could you please tell me how to start.

[2017-01-16 12:49] trishnaguha commented on #1216
You will need to look into https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/templates/update.html

[2017-01-16 13:09] ankit01ojha commented on #1216
@trishnaguha It would be nice if I just put the  Add comment on the right-side just below the solution field.

[2017-01-16 13:54] ankit01ojha commented on #1216
@trishnaguha can you assign me this issue.

[2017-01-16 14:59] TheIllusionistMirage commented on #1119
@bowlofeggs I decided to work on this and follow the Bodhi docs and setup the required environment (using virtualenv). But while trying to run `python setup.py nosetests`, I'm getting an error that required pbr version is at least 1.11 while the actual latest version of pbr seems to be 1.10.x.

Any pointers about why I'm getting this?

[2017-01-21 15:43] ankit01ojha commented on #1222
@bowlofeggs  Can you tell me where you want to put those statements and how should I proceed?

[2017-01-22 07:56] lalitkr commented on #997
Is this issue still open. I would like to work on it.

[2017-01-23 02:49] bowlofeggs commented on #997
Hello @lalitkr Hmmm, I'm not sure. It seems that the pull request for this issue was closed. I do not recall merging a fix for this. @cosmologist10, do you still plan to work on this?

[2017-01-23 08:13] cosmologist10 commented on #997
Hello! I'm not working on this issue, You can assign it to @lalitkr.

On Mon, Jan 23, 2017 at 8:19 AM, Randy Barlow <notifications@github.com>
wrote:

[2017-01-23 09:09] lalitkr opened #1237 "Database Schema Image Missing in Developer documentation developer_docs.rst"
#1150 The database.png file is missing in the [developer documentation.](https://github.com/fedora-infra/bodhi/blob/develop/docs/developer_docs.rst)

[2017-01-23 18:13] bowlofeggs commented on #1237
@lalitkr The ```docs/Makefile``` automatically generates this file when you run ```make html```.

[2017-01-23 18:13] #1237 closed, assigned to nobody

[2017-01-23 21:39] bowlofeggs commented on #214
I haven't seen this happen before. Does it still happen? If not, can we close this bug?

[2017-01-24 03:01] lalitkr commented on #1237
@bowlofeggs okay got it. Thank You

[2017-01-24 06:21] TerryBarnaby opened #1241 "Human check to difficult"
I tried to enter a comment on a new updated package that didn't work, but I could not as I could not work out the human check and there appeared to be no way to try a different one.
![bodhihumancheck](https://cloud.githubusercontent.com/assets/23216724/22236401/4ef43ad8-e1fd-11e6-8cda-35358c0048e7.png)

[2017-01-24 08:58] ppisar commented on #214
I also think it does not occur anymore.

[2017-01-25 14:36] bowlofeggs opened #1245 "bodhi-push should sort the updates by release"
bodhi-push used to collate the list of packages it prints by release, and now it prints them in whatever order the database gives us. This makes it more difficult for the release engineer to review the list to approve or deny.

Instead, we could collate the printed list by release, and additionally it could be helpful to collate them by update (for updates with multiple packages).

[2017-01-25 15:08] ankit01ojha commented on #1165
@bowlofeggs Is this issue still open?

[2017-01-25 15:25] obbuppu opened #1246 "link to build in koji should use https"
in each update, there's a link to the build in koji, for example, https://bodhi.fedoraproject.org/updates/FEDORA-2017-6d6e2bfd1a links to http://koji.fedoraproject.org/koji/search?terms=libXpm-3.5.12-1.fc24&type=build&match=glob (next to "Build") ... the link should use https so that the connection stays secure throughout. koji supports https and even redirects from http to https, so it would be b

[2017-01-25 15:41] ankit01ojha commented on #1246
I would like to work on this, can you please tell me the files from where I can make these changes.

[2017-01-25 15:59] ankit01ojha opened #1247 "Position of the Add Comment button changes when the scren size is reduced."
When the size of screen is reduced from the desktop size, Add Comment  button comes in centre after some time (size more a mobile phone screen) . Which needs to fixed at the right size like in https://bodhi.fedoraproject.org/updates/FEDORA-2017-6d6e2bfd1a .
![screenshot from 2017-01-25 21-29-04](https://cloud.githubusercontent.com/assets/21126132/22298257/de3d45c4-e345-11e6-8b3f-331274e27bc5.png)

[2017-01-25 18:11] obbuppu commented on #1246
Here you go:
https://github.com/fedora-infra/bodhi/search?utf8=%E2%9C%93&q=%22http%3A%2F%2Fkoji.fedoraproject.org%2Fkoji%2Fsearch%3Fterms%3D%22

[2017-01-26 08:07] trishnaguha commented on #1247
Would you probably like to make the changes in the PR https://github.com/fedora-infra/bodhi/pull/1227 ?
Since the PR is related to the `Comment` button as well. Just asking!

[2017-01-26 08:12] trishnaguha commented on #1241
There probably could be an option to try a different one?

[2017-01-26 08:44] ankit01ojha commented on #1247
I think PR #1227 will solve this one too :) So, I don't think I will have to make any other changes in that.

[2017-01-26 10:18] AdamWill opened #1251 "WebUI accepts same build listed twice, displays strangely in user profile but can't be fixed"
I was trying to submit a single update with both `fedfind-3.4.0-1.fc24` and `fedfind-3.4.0-1.fc25` listed (which results in Bodhi cleverly splitting it up into two otherwise-identical updates, one for F24, one for F25). But by mistake I just listed `fedfind-3.4.0-1.fc24` twice instead. The result was interesting. Bodhi accepted it without complaint, and I get [an update](https://bodhi.fedoraprojec

[2017-01-26 15:41] jeremycline commented on #1251
@AdamWill If it makes you feel better, I don't think you accidentally listed the fc24 build twice. There's currently a hotpatch in production that introduced a regression (which I found and fixed in https://github.com/fedora-infra/bodhi/pull/1232/commits/9ac5f8436ed0845e12ff84066298e03367e28311) in accepting multiple updates at once. The version in production enters a loop of builds, but queries t

[2017-01-26 15:55] jeremycline commented on #1251
Glancing at the [offending function](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/services/updates.py#L332) it's hard to tell how bad this is. I _think_ duplicate builds are being handed to the [Update model's new method](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models/models.py#L710) and at least being used to set the ``requirements`` field, but I'm not s

[2017-01-26 15:59] ankit01ojha commented on #1246
Is this fine or it needs more changes?

[2017-01-26 16:03] JayJayJazz opened #1252 "bodhi seems to have problems pushing packages to repositories"
Hi all,

if you check:
https://bodhi.fedoraproject.org/updates/?packages=firefox
then you see that packages for fc24 are already in in testing (firefox-51.0.1-1.fc24) or stable (firefox-51.0-3.fc24), but the ones for fc25 seem to be stuck in pending (firefox-51.0-3.fc25 and firefox-51.0.1-1.fc25). The packages for fc24 and fc25 were released at the same date/time. Can someone please check, because

[2017-01-27 10:03] remicollet opened #1253 "Multi-branches update broken"
Trying to submit a new update (security one for Wrodpress 4.7.2), add the build for each branch is unable to create the 5 updates (as in previous version) but only one.

Also see very strange output in (some updates list various time the same package)
https://bodhi.fedoraproject.org/updates/?packages=wordpress

[2017-01-27 15:08] mbooth101 commented on #1251
I have a similar problem with https://bodhi.fedoraproject.org/updates/FEDORA-2017-e86e3c8e50

Only I actually tried to create update with three different packages (all for F25) and the result is an update with only first package I added, but that package is shown three times in the same view as @AdamWill has screenshotted: https://bodhi.fedoraproject.org/updates/?user=mbooth

[2017-01-27 23:24] AdamWill commented on #1251
yeah, I talked to @bowlofeggs today and he said he thinks I probably did create the update correctly, but Bodhi has a known bug ATM that causes this result.

[2017-01-29 17:24] jwrdegoede opened #1254 "Auto obsoleting of non-stable updates with older-versions on same branch is broken"
From: https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/H7YTJCEQ2CRRUEN6WZDGJVZOYVTDIQVE/

The real problem is that either the new libglvnd enabled mesa should not be in updates-stable and thus not in the buildroot; or both the new libglvnd enabled mesa and the new libglvnd should be in updates-stable. What happened is I created an update in bodhi for libglvnd-0.2

[2017-01-29 20:50] AdamWill commented on #1254
I agree this is a problem, but I kinda disagree with the proposed solution. I often find myself in this situation. I have two packages, one with a dependency on the other - say, `python-wikitcms` and `fedfind`. I make changes which require me to update both packages together, so I submit an update with both packages in it. Then I start waiting to be able to push it stable - 7 days for Fedora, 14 f

[2017-01-30 10:09] remicollet opened #1255 "[critical] Cannot add builds to existing update"
Ex: https://bodhi.fedoraproject.org/updates/FEDORA-2017-c9970099a8

Trying to
* remove  php-phpunit-PHPUnit-5.7.6-1.fc25
* add php-phpunit-PHPUnit-5.7.9-1.fc25
* add php-phpunit-comparator-1.2.4-1.fc25

Removal happens but nothing added

Seems critical^H important^H critical

[2017-01-30 10:20] remicollet commented on #1255
Cannot even create multi packages updates... :(

[2017-01-30 10:26] remicollet commented on #1251
same than #1253 and perhaps related to #1255

[2017-01-30 17:28] igor-raits opened #1256 "Auto-splitting for new update is broken"
https://bodhi.fedoraproject.org/updates/?packages=meson

I checked fc24 and fc25 version and something very wrong happened...

[2017-01-30 17:57] siwinski commented on #1251
I am having the same issue.  I tried to create an update of a new library stack that has 13 packages and 3 dists (f25, f24, epel7) and only 1 update with 1 package was created: https://bodhi.fedoraproject.org/updates/FEDORA-2017-70b54af759

[2017-01-30 17:57] igor-raits commented on #1251
I think I have same problem on #1256 as well...

[2017-01-30 18:01] siwinski commented on #1251
"Interesting" bugzilla update also:

https://bugzilla.redhat.com/show_bug.cgi?id=1414844#c5

[2017-01-30 18:21] jeremycline commented on #1256
I believe you are correct and this is the same issue as #1251, so I'm going to close it as a duplicate. Thanks for the report, though!

[2017-01-30 18:21] #1256 closed, assigned to nobody

[2017-01-30 18:23] jeremycline commented on #1253
I'm going to close this as a duplicate of #1251 - thanks for reporting it though!

[2017-01-30 18:23] #1253 closed, assigned to nobody

[2017-01-30 18:34] jeremycline commented on #1251
I believe all the problems mentioned here should be fixed (with the possible exception of #1255 - I'll investigate that now) when https://github.com/fedora-infra/bodhi/pull/1232 is tagged into a release and pushed to production. @bowlofeggs is currently traveling so it may be a few days before that happens.

[2017-01-30 21:11] jeremycline commented on #1255
I hand-tested this and it looks like it's also fixed by #1232, which, when I look at the code, makes sense.

[2017-01-31 15:32] kalev commented on #1255
@nirik deployed a new bodhi build last night and I believe this should be working again.

[2017-02-01 08:18] kparal opened #1258 "searching by Bodhi ID doesn't work in the web UI"
Example update:
https://bodhi.fedoraproject.org/updates/FEDORA-2017-1658dd0b1e

But if I search for `FEDORA-2017-1658dd0b1e` in the search box, it says `no matching updates`.

![snimek z 2017-02-01 09-17-47](https://cloud.githubusercontent.com/assets/755451/22499488/5fac57b2-e85f-11e6-981f-952a2ddb6b79.png)

If I don't know how to construct the URL, I'm not able to find that particular update in B

[2017-02-01 22:51] bowlofeggs commented on #214
Thanks @ppisar! I'll close for now, but please let me know if you see this again.

[2017-02-01 22:51] #214 closed

[2017-02-01 22:59] bowlofeggs commented on #1252
Hello @JayJayJazz and thanks for the report! The issue was with rpm-ostree, which Bodhi uses to compose OSTrees during mashing. You can read more about the problem here, but AFAIK it has been resolved now:

https://pagure.io/releng/issue/6602

[2017-02-01 22:59] #1252 closed, assigned to nobody

[2017-02-01 23:05] bowlofeggs commented on #1251
I talked with @jeremycline today and it sounds like he built/released a new Bodhi build to fix this, and @nirik installed it on production. That should suppress the issue where builds with different releases get counted as the same build multiple times on one release.

I believe we can close this issue as a result. Please do comment here if you disagree!

[2017-02-01 23:05] #1251 closed, assigned to nobody

[2017-02-01 23:11] bowlofeggs commented on #1254
Thanks for the comment @AdamWill! I agree - it will be difficult to automate this and so we may have to rely on human judgement. I'll mark this as an RFE for adding a message to the developer that there is another update that the developer should consider and decide what to do.

[2017-02-01 23:14] bowlofeggs commented on #1254
For the record, there are a few other issues around obsoletion in Bodhi that might be relevant or even duplicates of this one. Two that came to my mind were:

https://github.com/fedora-infra/bodhi/issues/512
https://github.com/fedora-infra/bodhi/issues/145

[2017-02-01 23:16] bowlofeggs commented on #1255
I had also been experiencing this issue with my Bodhi Bodhi update (haha), and with @jeremycline's patch (now applied to production as @kalev said) I was able to edit it today:

https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2016-cd060eeb3c

I'll mark this as closed for now, but please let me know if you see it again and thanks for the report!

[2017-02-01 23:16] #1255 closed, assigned to nobody

[2017-02-02 09:05] ankit01ojha commented on #1245
I would like to work on this, can you tell me the file related to the issue.

[2017-02-02 09:26] ankit01ojha commented on #1258
its working for other updates-
![screenshot from 2017-02-02 14-51-53](https://cloud.githubusercontent.com/assets/21126132/22543709/c849791e-e957-11e6-9d18-e252f662875e.png)

[2017-02-02 12:34] bowlofeggs opened #1259 "The ```date_testing``` field became ```NULL``` when an update was in testing"
Somehow the date_testing field on an Update became ```NULL``` in this update, and now the page is an HTTP 500:

https://bodhi.fedoraproject.org/updates/python-paramiko-2.1.1-2.fc24

I do not know how the field became ```NULL```, but we should either figure out what made it so and fix that, or guard against it being so.

Here is the traceback:

[code]

[2017-02-02 13:49] kparal commented on #1258
@ankit01ojha You're not searching for Bodhi update ID, you're using package NVR.

[2017-02-02 14:03] bowlofeggs commented on #1245
If you look in the ```setup.py```, you can see that ```bodhi-push``` is automatically generated from the ```push()``` function in ```bodhi.server.push```:

https://github.com/fedora-infra/bodhi/blob/2.3.3/setup.py#L186

[2017-02-02 14:11] bowlofeggs commented on #1157
After thinking about this for 120 seconds, I have a half-baked idea: we could introduce a new package request state called "batched stable" (or maybe a better name). When updates hit the karma threshold, they move to this request state rather than moving to request "stable". Also, we can give devs a button to explicitly choose this state (while retaining the button for push to stable for when they

[2017-02-02 14:25] mattdm commented on #1157
Sounds good to me, at least with some UX work to make it clear which button does what, and gives hints for when to pick what thing.

[2017-02-02 14:25] trishnaguha commented on #1157
@bowlofeggs Sounds good to me.
We are probably going to have `autopush` based updates with (stable karma + minimum waiting time) way. Also we are having Push to Stable now option who wants to submit their updates to stable early.

[2017-02-02 17:09] #1191 closed, assigned to nobody

[2017-02-02 18:23] siwinski commented on #1251
Sorry for the late reply... things look fixed from my end as I was able to submit my multi-dist multi-pkg updates 😄    THANKS!

- https://bodhi.fedoraproject.org/updates/FEDORA-2017-01c3948081
- https://bodhi.fedoraproject.org/updates/FEDORA-2017-70b54af759
- https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2017-7258a839b5

[2017-02-02 18:56] bowlofeggs commented on #1251
On Thu, 2017-02-02 at 10:23 -0800, Shawn Iwinski wrote:

Fantastic, thanks Shawn!

[2017-02-02 19:17] #1246 closed, assigned to nobody

[2017-02-02 21:30] dhgutteridge commented on #717
I've found this is 100% reproducible: a package has to be in the process of being pushed to stable and in a "locked" state, at which point, Bodhi doesn't register any further karma submissions until after the package lands in stable. Then it records the submissions. I just confirmed this with [https://bodhi.fedoraproject.org/updates/FEDORA-2017-921eec0341](url), where I deliberately waited until i

[2017-02-03 09:24] voxik opened #1260 "No notification when build is updated after 7 days spent in testing"
While ago, I submitted update fo F24 [1]. However, there were some issues and after the update spent 7 days in testing, I needed to do new build and therefore I updated the build in Bodhi. I forgot about this update, waiting to receive notification from Bodhi, since it should went into testing and wait there for another 7 days, but it never happened. I never received any notification and just noti

[2017-02-03 14:31] bowlofeggs opened #1262 "Bodhi is not compatible with pillow 4.0"
When attempting to build a Bodhi 2.4.0 beta today, I found that the Bodhi tests fail on Rawhide due to an incompatibility with the new pillow library version that Rawhide has. To reproduce, you can install the Rawhide version of pillow in the Vagrant development environment and run the tests:

[code]

[2017-02-03 14:36] bowlofeggs commented on #1262
Here is the changelog: https://github.com/python-pillow/Pillow/blob/master/CHANGES.rst

[2017-02-03 14:38] bowlofeggs commented on #1262
This changelog entry sounds relevant: "Changed behaviour of default box argument for paste method to match docs #2211 [radarhere]":

https://github.com/python-pillow/Pillow/pull/2211

[2017-02-03 14:47] bowlofeggs opened #1263 "Bodhi's tests fail with the current fedmsg consumers"
There are a number of test failures in Bodhi's test suite with the newer version of fedmsg consumers. They all seem to be similar to this:

[code]

[2017-02-03 16:53] nirik opened #1266 "obsoletion corner cases handling idea"
Right now there's a few corner cases for obsoleting updates:

* If the older update is locked/in a push
* If the older update has multiple packages attached to it
* If the older update is submitted to stable?

I'd like to suggest we handle these by a simple rule: If any of the above are the case, we simply reject the new update being created and tell the submittor that there is already an older up

[2017-02-03 17:00] #1263 closed, assigned to jeremycline

[2017-02-03 17:01] #1262 closed, assigned to jeremycline

[2017-02-03 21:06] bowlofeggs opened #1268 "Some unit tests fail in EL 7 due to the way ```file``` is mocked"
Some of our tests fail while building Bodhi for EPEL 7 due to the way ```file``` is mocked:

[code]

[2017-02-03 21:10] bowlofeggs opened #1269 "flake8 errors happen during EPEL 7 build"
The version of flake8 used in EPEL 7 is upset about a few things:

[code]

We could either find a way to appease both versions of flake8, or we could adjust the style test to detect which version of flake8 is present and only test with the newer one that we like. Doesn't matter to me.

[2017-02-03 21:12] bowlofeggs opened #1270 "A test assertion fails on EPEL 7 due to str != unicode"
This test seems to expect a string where we are passing a unicode. This is likely due to my recent change to try to use unicode in many places in the tests:

[code]

[2017-02-03 21:13] bowlofeggs opened #1271 "A heavily mocked test on PIL is upset on EPEL 7"
This test is failing when we run it during the EPEL 7 build downstream:

[code]

[2017-02-03 22:57] jeremycline commented on #1271
My suspicion is that this has to do with the dropped call to ``paste`` in #1265, but I'm not certain because it passes in F25

[2017-02-06 15:04] jeremycline commented on #1269
@bowlofeggs and I chatted and decided to just ``rm`` the style test in the specfile. We can come up with a cleaner solution at a later date.

[2017-02-06 15:27] bowlofeggs commented on #1269
Actually these particular style things do seem kind of ugly. They're easy enough to fix, so I'll just do that ☺

[2017-02-06 17:56] #1271 closed, assigned to jeremycline

[2017-02-06 17:57] jeremycline commented on #1268
I neglected to add the ``fixes #1268`` to my commit message :(

This was fixed by https://github.com/fedora-infra/bodhi/pull/1275

[2017-02-06 17:57] #1268 closed, assigned to jeremycline

[2017-02-06 17:59] #1269 closed, assigned to bowlofeggs

[2017-02-06 18:47] #1270 closed, assigned to bowlofeggs

[2017-02-07 08:09] kparal opened #1276 "mention that karma is reset on update edit"
Some people are confused why karma is zero for certain updates, because they don't know that update edit resets karma. It might be a good idea to add a note when this happens, so that it's more obvious.

What about changing e.g. this:
[code]

into this:
[code]
?

Of course don't add the note when just the update is edited, but builds are not changed (e.g. just the description is updated, or linked

[2017-02-07 09:33] trishnaguha commented on #1276
I like the idea.

[2017-02-08 15:24] bowlofeggs commented on #1219
@jeremycline and @lubomir and I talked about this a bit today. We came to the conclusion that a good first step would be to have Bodhi use Pungi to do the OSTree composes. The immediate benefit to Fedora users will be that we would be able to release multi-arch atomic trees which we cannot do today. It will also allow us to gain some familiarity with using Pungi so that we are more poised to use i

[2017-02-10 19:42] bowlofeggs commented on #1187
It looks to me like the ```--request``` flag is ignored in the CLI:

[code]

Since it doesn't have any effect anyway, I think it is safe to drop the flag.

[2017-02-12 20:25] rathann opened #1284 "show package changelogs since the last update"
It would be nice to be able to see the package changelogs between the last version in stable updates and the current one, so that the release notes for the current update can contain only high-level changes and low-level/detailed information can be easily obtained, too.

[2017-02-12 21:05] bowlofeggs commented on #1284
Theoretically, the package maintainer should be putting the release notes into the update notes field, though I recognize that this isn't always done. Are you proposing some way for Bodhi to automatically find the release notes, or perhaps a new special field that asks the maintainer to provide the release notes on an update, or something else?

[2017-02-12 22:17] rathann commented on #1284
Something else. I'm talking about some way of showing what the maintainers of the packages added into a given bodhi update put into the respective packages' `%changelog` between the current and the previous stable updates.

[2017-02-13 21:29] #1187 closed, assigned to bowlofeggs

[2017-02-16 15:50] kparal commented on #1191
Thanks for implementing this! As a suggestion, you might add some message to clearly explain what just happened, e.g.:

[2017-02-16 15:50] kparal commented on #833
Fixed in #1191.

[2017-02-16 15:50] #833 closed, assigned to nobody

[2017-02-16 16:09] bowlofeggs opened #1289 "Bodhi does not seem to invalidate the cache on bodhi.server.views.generic.latest_candidates"
Bodhi caches the latest build candidates from koji, but does not seem to invalidate the cache when new builds become available. We probably need to set up a fedmsg consumer that looks for messages so Bodhi will know when to expire this cache.

The symptom is that sometimes when using the web interface to create a new update, the latest builds will not show up in the autocomplete after typing the p

[2017-02-16 16:12] bowlofeggs opened #1290 "Analyze bodhi's use of caching to identify when caches should be expired"
We've found one [issue](https://github.com/fedora-infra/bodhi/issues/1289) that seems to stem from Bodhi not expiring its cache. We should analyze all of the places where Bodhi uses a cache to determine whether cache invalidation should be employed. The purpose of this ticket isn't to fix all those places, it's to identify them and file separate issues about each of them.

[2017-02-16 16:47] bowlofeggs opened #1291 "Bodhi should comment when disabling autokarma due to -1 votes"
@kparal made [this suggestion](https://github.com/fedora-infra/bodhi/issues/1191#issuecomment-280369011):

Thanks for implementing this! As a suggestion, you might add some message to clearly explain what just happened, e.g.:

[2017-02-16 17:57] trishnaguha commented on #1291
+1.

[2017-02-17 17:39] #1057 closed, assigned to nobody

[2017-02-17 19:31] cverna commented on #937
duplicates #1125

[2017-02-17 21:44] bowlofeggs commented on #1125
@cverna noted that this report is a duplicate of #937.

[2017-02-17 21:44] #1125 closed, assigned to nobody

[2017-02-18 00:40] piotr1212 commented on #892
Experiencing the same. I often have a lot of update which I want to push to stable. In bodhi 1 I would just open all updates in another tab and push them, now I have to do this update-by-update (which would be ok if Bodhi was a bit faster).

[2017-02-19 07:50] ankit01ojha opened #1296 "Change the mouse cursor when it hovers over `Releases` to pointer."
When we hover mouse cursor over the `Releases` button it changes to auto which seems odd as it should change to pointer just like as the `login` button.
https://bodhi.fedoraproject.org/

[2017-02-19 07:51] ankit01ojha commented on #1296
I know how to fix this but, I am not getting the file regarding this.

[2017-02-19 18:37] bowlofeggs commented on #1296
Looks like the Releases button is defined here:

https://github.com/fedora-infra/bodhi/blob/2.4.0/bodhi/server/templates/master.html#L97-L100

[2017-02-20 13:31] rdieter opened #1298 "bodhi-client always enables autokarma"
Submitted a bunch of stuff using
bodhi-client-2.4.0-1.fc25.noarch
today, and seems my updates all had autokarma enabled, and I did not use --autokarma option (only --stable-karma and --unstable-karma)

[2017-02-20 16:20] #1276 closed, assigned to nobody

[2017-02-20 17:21] #1296 closed, assigned to nobody

[2017-02-22 07:51] tkdchen opened #1300 "TypeError: request() got an unexpected keyword argument 'req_params'"
I ran this command and get the following error

[code]

``bodhi-client-0.9.12.2-5.fc24.noarch``

[2017-02-22 16:54] bowlofeggs commented on #1300
Thank you for the bug report @tkdchen!

Unfortunately, I am not able to support the bodhi 0.9 codebase as I am not familiar with it and am spread a bit thin just with maintaining Bodhi 2. Bodhi 2 is a complete rewrite of the Bodhi client so the code is not similar. Therefore I am sorry to say that I will close this bug.

There is a downstream bug report about this issue where I offered a few optio

[2017-02-22 16:54] #1300 closed, assigned to nobody

[2017-02-22 18:54] cgwalters opened #1302 "Update text only talks about dnf"
This is like https://github.com/fedora-infra/bodhi/commit/da17ec271990d5cfa52369958cb432c66309d675
except for production.

Take for example:
https://lwn.net/Articles/715125/

This one doesn't mention Atomic Host.  Additionally, we now only do production updates with a ~2 week "release".  We should figure out how to communicate this via Bodhi.

I think the simplest would be some text like:

Or some

[2017-02-22 18:55] cgwalters commented on #1302
Also of course for the kernel (and many other packages), `dnf update` doesn't actually update...you have to reboot, and we really should link to text that explains that to people.

[2017-02-22 19:00] cgwalters commented on #1302
This specific update is also a great example of an "eh" kernel update.  Two security-ish bugs but not *bad* ones.  I wouldn't say an admin who skipped rebooting all of their servers for this was mishandling things.  Also not super relevant for desktops, even with containerized desktop apps, do you really care if flatpak apps can see real pids?

[2017-02-22 20:56] bowlofeggs opened #1304 "The masher should clean up old mashes at the end of every run"
Bodhi 2.4.0 introduced a new CLI tool called ```bodhi-clean-old-mashes``` that deletes all but the 10 newest mashes. I had intended the script to be used in cron, but after talking with releng today about enabling it they suggested it would be nice if the masher called it automatically after each successful push to the mirrors. It's a good idea, so let's do it!

All we'll need to do is have the ma

[2017-02-22 22:17] bowlofeggs opened #1305 "The Days to Stable calculation in an update seems backwards"
I've noticed that updates don't show "Days to Stable" until they are already past the date they can be pushed to stable, and that it seems to be counting how many days it's been *since* the update was eligible to be pushed to stable. It seems like it's doing the math backwards. [Here is the code](https://github.com/fedora-infra/bodhi/blob/2.4.0/bodhi/server/models/models.py#L1856-L1864) that does

[2017-02-22 22:19] bowlofeggs commented on #1305
It actually might be good to do something like this:

[code]

Maybe that was the original intention of calling that method?

[2017-02-22 22:30] bowlofeggs commented on #1305
Since I practically wrote the fix, I'm going to assign this to myself.

[2017-02-23 08:54] kparal opened #1307 "push to stable threshold requires 3 karma and ignores fedora update policy"
Here are two updates I tried to push today:
https://bodhi.fedoraproject.org/updates/FEDORA-2017-c8269ca6da
https://bodhi.fedoraproject.org/updates/FEDORA-2017-42c556d203

The fc24 one had autopush disabled (the threshold levels were set to 3-3 by default, by I assumed that should not affect anything, since autopush is disabled), and I received one positive karma from mkrizek. But I couldn't push t

[2017-02-23 08:58] kparal opened #1308 "autopush checkbox get enabled on update edit even though it was disabled before"
When I create a new update with autopush disabled (the checkbox unticked), and then I edit the update, the autopush checkbox gets re-ticked automatically. That's annoying, because for each update I edit, I need to untick the checkbox every time, so that autopush doesn't get enabled when I don't want it. That's quite error-prone.

This might only happen on first update edit, but not on subsequent o

[2017-02-23 14:17] bowlofeggs commented on #1307
On Thu, 2017-02-23 at 00:54 -0800, Kamil Páral wrote:

I'm not 100% sure what happened in total with these updates, but I do
believe that a non-autokarma update still needs to hit the karma
thresholds before the push to stable button will appear.

I would also expect this to work, so it sounds like something's not
right.

I think this would have worked, but only on the next +1 you got, or
possibly

[2017-02-23 14:27] bowlofeggs commented on #1308
This might be a duplicate of https://github.com/fedora-infra/bodhi/issues/1032 but they may be subtly different.

[2017-02-23 14:55] kparal commented on #1307
OK, two questions :)
1. When I played with editing the autokarma checkbox, at one point the threshold levels disappeared (the edit fields were blank, `stable threshold: X unstable threshold: X` text was not displayed on the update page). What's the threshold in that case?
2. If I as a maintainer can set the threshold to 1 (for non-critpath non-security updates), what's the point of insisting that

[2017-02-23 15:04] bowlofeggs commented on #1307
On Thu, 2017-02-23 at 06:55 -0800, Kamil Páral wrote:

When the fields are set empty, I believe that *should* go into the
database as NULL values. I believe in this case there will be no
threshold at which the stable button will appear, and the update will
have to wait for the 7 days.

You make a good point ☺ There doesn't seem to be much value in forcing
the maintainer to wait for a threshold the

[2017-02-23 20:30] bowlofeggs opened #1310 "If a user edits an update after Bodhi comments it can be pushed, it won't comment again"
I noticed that my Bodhi update in Bodhi reached 14 days in testing this week, but Bodhi never commented on it to tell me that it had been in testing long enough to be pushed to stable:

https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2016-cd060eeb3c

After poking around in the staging db for a while to find out what gives, I found that the update's [```met_testing_requirements()```](https://gi

[2017-02-23 20:39] bowlofeggs commented on #1310
A good way to test this when fixing it is to add a test to this module:

https://github.com/fedora-infra/bodhi/blob/2.4.0/bodhi/tests/server/scripts/test_approve_testing.py

[2017-02-24 07:33] tkdchen commented on #1300
Oh, thank you for this update. :)

[2017-02-24 16:11] bowlofeggs commented on #829
Bodhi 2.4.0 reworked how Karma works so that it is dynamically counted rather than denormalized. I was hoping that it would correct this bug, but now the karma is wrong on this update in a different way (It's now +2 and I agree that it should be +3).

I think I know what is happening. The new [karma counting code](https://github.com/fedora-infra/bodhi/blob/2.4.0/bodhi/server/models/models.py#L675-

[2017-02-24 16:21] bowlofeggs commented on #805
@jeremycline put Bodhi's docs here:

http://bodhi.readthedocs.io/en/latest/

I do believe we will switch to pagure at some point, but I tried to do this about a month ago and the importer wasn't able to process Bodhi's repo:

https://pagure.io/pagure-importer/issue/110

I added the current RTD URL here:

https://infrastructure.fedoraproject.org/cgit/ansible.git/commit/roles/apps-fp-o/files/apps.ya

[2017-02-24 16:21] #805 closed

[2017-02-24 16:24] ralphbean commented on #805
:rainbow:

[2017-02-24 16:40] bowlofeggs commented on #371
Karma was reworked with Bodhi 2.4.0 and is now dynamically calculated to solve issues like this. Though I found a [bug](https://github.com/fedora-infra/bodhi/issues/829#issuecomment-282330985) in the new calculation just today, the updated cited in this bug report now shows the correct value of +5 so I will close this issue. Thanks for reporting it!

[2017-02-24 16:40] #371 closed

[2017-02-24 16:46] jeremycline commented on #805
Note that Pagure has a webhook for RTD and Pagure itself can't currently auto-build the docs like RTD does.

[2017-02-24 18:38] ankit01ojha commented on #1304
only thing needed is to import clean_up function and add its code??

[2017-02-24 21:55] AdamWill commented on #653
It would be good to know ahead of time how we'll be able to tell the different types of update apart in:

i) API query results
ii) fedmsgs

[2017-02-25 16:36] bowlofeggs commented on #1304
On Fri, 2017-02-24 at 10:38 -0800, Ankit Raj Ojha wrote:

We will also need to test the change.

[2017-02-27 19:49] jeremycline commented on #942
@bowlofeggs I'm 95% sure bodhi doesn't have filesystem access to a copy of dist-git. Is that right?

Maybe a good way to go with this is to have it use Pagure to get the file listing. It could request ``https://pagure.io/<namespace>/<package>/blob/<branch>/f/testcases/`` or something. It'd be nice to get a file listing in JSON rather than use the HTML interface, so maybe we should add an API endpo

[2017-02-27 20:15] kparal commented on #794
I assume we should not expect this for F26, right? I understand there are too many feature requests, just want to clarify.

[2017-02-27 20:33] mattdm commented on #942
I'm all for the API solution if it's easily implemented. It could be gotten fairly easily from `https://src.fedoraproject.org/cgit/rpms/<package>/plain/?h=<branch>`

[2017-02-28 15:11] ausil commented on #1173
This is expected. when the push fails due to unsigned packages the correct action is to make sure they are signed and resume the push

[2017-02-28 15:13] bowlofeggs commented on #1173
Thanks @ausil!

I will close this issue since it is expected.

[2017-02-28 15:13] #1173 closed, assigned to nobody

[2017-03-01 20:46] #1291 closed, assigned to nobody

[2017-03-02 14:40] #1305 closed, assigned to bowlofeggs

[2017-03-02 17:50] bowlofeggs opened #1318 "Updates cannot be edited in staging due to BDR"
BDR doesn't allow writes to tables that don't have primary keys. I got an error message from staging when trying to edit an update:

[code]

This table is defined in a [block of association tables](https://github.com/fedora-infra/bodhi/blob/2.4.0/bodhi/server/models/models.py#L247-L269), and none of them seem to have primary keys.

We will need to fix this before BDR is deployed to production.

[2017-03-02 18:59] bowlofeggs commented on #794
On Mon, 2017-02-27 at 12:15 -0800, Kamil Páral wrote:

Unfortunately that's correct. Bodhi has lots of feature requests and
not very many feature authors ☺

[2017-03-02 19:07] bowlofeggs commented on #942
On Mon, 2017-02-27 at 11:49 -0800, Jeremy Cline wrote:

I believe that is correct.

Yeah an API solution would be great, as @mattdm mentioned!