[2017-09-13 22:20] bowlofeggs commented on #752
I think we should do something to the objects to remove them from "testing" when a release gets archived, since updates are no longer truly being tested for F21. IMO, that should be the true fix for the issue.

There is a CLI tool called ```bodhi-manage-releases``` that releng uses when they want to archive a release. That tool makes API calls to Bodhi. I think we should have that API kill all non

[2017-09-13 22:20] bowlofeggs commented on #1802
Hello, and thanks for reporting!

I believe this is a duplicate of https://github.com/fedora-infra/bodhi/issues/752, especially given my proposed fix.

[2017-09-13 22:20] #1802 closed, assigned to nobody

[2017-09-14 00:58] ryanlerch commented on #1791
yeah something funky is going on with the boostrap grid here, likely caused by a poor use of rows and cols in our template. note too that at smaller sizes, a dark grey bar appears at the top of the page:

![screen shot 2017-09-14 at 10 55 49](https://user-images.githubusercontent.com/592259/30407451-a23e9710-993b-11e7-8d37-beca44bd5f0e.png)

[2017-09-14 06:21] zdohnal commented on #1802
Yes, you're right, that's totally what I would want. Sorry for duplicate, I missed that one.

[2017-09-14 17:43] bowlofeggs opened #1807 "Add a --wait flag to bodhi overrides edit/save"
We could add a ```--wait``` (or similar name, name isn't important) flag to ```bodhi overrides edit/save``` which would cause bodhi to run the ```koji wait-repo``` command in a subshell and wait for it to exit. This would be a nice convenience for our users.

Pull request https://github.com/fedora-infra/bodhi/pull/1805 added a feature where these commands can print the ```koji wait-repo``` command

[2017-09-15 13:42] kparal opened #1809 "Can't create an update with the same build as was in an unpushed update"
If you unpush an update with some build, you can't create a new update with the same build NVR. That makes it problematic for certain use cases, e.g. like merging two updates together.

See this discussion for further details:
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/JCOLM4HHMSY24J734KASUT2ZIUNIS3AW/

[2017-09-15 15:21] #1361 closed, assigned to nobody

[2017-09-15 15:29] #1793 closed, assigned to bowlofeggs

[2017-09-15 15:50] #1791 closed, assigned to ryanlerch

[2017-09-15 21:09] bowlofeggs opened #1810 "Pagure doesn't expand group membership for ACL purposes, and neither does Bodhi"
We [learned today](https://pagure.io/fedora-infrastructure/issue/6357) that Pagure no longer expands group members when asked for ACL info. Bodhi also doesn't know all the groups a user is part of, because it only  pays attention to special groups (like packager or releng). Since neither end is doing it, Bodhi is now unable to grant access to committers who have ACLs through group membership.

@pu

[2017-09-18 02:40] bowlofeggs commented on #1809
This is a pain point I've hit a few times before too.

[2017-09-18 13:52] bowlofeggs opened #1812 "dnf was retired on EPEL 7 and bodhi.client.bindings uses it"
I learned today that [dnf was retired on EPEL 7](https://bugzilla.redhat.com/show_bug.cgi?id=1492610).  [```bodhi.client.bindings.BodhiClient.testable()```](https://github.com/fedora-infra/bodhi/blob/2.10.1/bodhi/client/bindings.py#L446-L468) uses it:

[code]

This is the only place in the entire codebase that depends on ```dnf```. Since this method isn't critical to Bodhi, we should code defensiv

[2017-09-18 16:25] #1812 closed, assigned to bowlofeggs

[2017-09-18 17:17] bowlofeggs opened #1814 "The CLI cannot set or view an update's severity"
I noticed today when creating an update that I could not use the CLI to set or view my update's severity, which is a feature gap with the web UI.

[2017-09-19 17:12] bowlofeggs opened #1817 "test_util.py cannot be run by itself"
There seem to be some test isolation problems in ```bodhi.tests.server.test_util```. If those tests are run by themselves two of them fail, but if the entire test suite is run they pass:

[code]

[2017-09-20 12:24] ryanlerch commented on #1817
FWIW, i checked all the tests, and this one seems to be the only one that fails in isolation.

[2017-09-20 13:48] bowlofeggs opened #1818 "The CLI --close-bugs flag does not work"
I noticed today that two updates I created with the ```--close-bugs``` CLI flag did not close the bugs when they went to stable. For example, I used this command to create an update recently (according to bash history):

[code]

If you look at https://bugzilla.redhat.com/show_bug.cgi?id=1488223 you can see that the bug wasn't closed when the update went stable.

[2017-09-20 20:51] dustymabe opened #1819 "symlink check is not valid"
https://github.com/fedora-infra/bodhi/blob/33d1e733d88bc891e00bf9f0e09d471360253ab1/bodhi/server/consumers/masher.py#L723-L729

The code is checking `.rpm` files under `mash_path, arches[0]` but you can see from [this example](https://kojipkgs.fedoraproject.org/mash//updates/f26-updates-170804.1348/f26-updates/x86_64/) that no rpm files exist. They are just directories.

[2017-09-21 11:06] ryanlerch commented on #1817
Done a little more digging on this one, and it seems that server/test_utils.py is dependant on something that is happening in server/services/test_updates.py

i.e. running the just those two tests in this order, i get no failures:

[code]

[2017-09-21 12:07] ryanlerch commented on #1817
turns out that running any test that used base.BaseTestCase before test_util.py was enough to make it pass. so the fix i came up with was to change all the tests in test_util.py to be based on base.BaseTestCase rather than unittest.testcase.

[2017-09-21 16:44] #1817 closed, assigned to nobody

[2017-09-21 21:00] #1635 closed, assigned to nobody

[2017-09-22 13:45] #1819 closed, assigned to nobody

[2017-09-25 06:36] adelton opened #1827 "Updates in "This update has been submitted for stable by adelton" for 12 days"
https://bodhi.fedoraproject.org/updates/FEDORA-2017-4c4c6e3d72
* This update has reached 7 days in testing and can be pushed to stable now if the maintainer wishes
13 days ago
* This update has been submitted for stable by adelton.
12 days ago

https://bodhi.fedoraproject.org/updates/FEDORA-2017-c589dd16f3
* This update has reached 7 days in testing and can be pushed to stable now if the maintaine

[2017-09-25 16:13] bowlofeggs commented on #1827
Hello @adelton,

These are both Fedora 27 updates. Fedora 27 is currently in a beta freeze, meaning that only freeze exception updates will get pushed to stable:

https://stg.fedoraproject.org/wiki/Updates_Policy#Milestone_freezes

Your updates will get pushed to stable when the freeze ends. Hope that helps!

[2017-09-25 16:13] #1827 closed, assigned to nobody

[2017-09-25 19:54] bowlofeggs commented on #1513
This is blocked by https://pagure.io/greenwave/issue/87.

[2017-09-25 19:57] bowlofeggs commented on #1514
@pypingou You had assigned this to yourself, but I can probably do it if you don't still intend to. What say you?

[2017-09-25 22:12] bowlofeggs commented on #1407
This does appear to be a dev-only problem. I believe it's just that this code is generating invalid tags for EL 7: https://github.com/fedora-infra/bodhi/blob/2.11.0/bodhi/server/buildsys.py#L283-L290

[2017-09-25 22:13] bowlofeggs commented on #1407
Since this is confirmed to be a dev only issue, I am lowering its priority.

[2017-09-26 05:54] adelton commented on #1827
Thanks @bowlofeggs. I wonder if the bodhi UI could get updated to say that so that people do no wonder why things don't happen as they might expect. Does it make to turn this / make new request for enhancement?

[2017-09-26 06:47] puiterwijk commented on #752
@bowlofeggs The problem with just deleting them is that that means the data will be "false": It'll say that that update never existed, while it is in the testing repos.
Even post-EOL we should have consistent data on all packages in any repositories.

[2017-09-26 07:41] pypingou commented on #1514
@bowlofeggs go for it, thanks :)

[2017-09-27 13:46] pypingou commented on #1810
I was looking at bodhi's code to see which API endpoint it is calling to help fixing this. As far as I can see it's querying the api/0/ns/project endpoint and afair that endpoint did not change. So I'm not sure what went wrong :(

[2017-09-28 20:01] #1376 closed, assigned to bowlofeggs

[2017-09-29 14:18] bowlofeggs opened #1838 "Two tests fail on develop"
Somehow two failing tests got into develop, despite the use of CI ☹

[code]

This will cause all PRs to fail CI, so this is urgent priority.

[2017-09-29 14:24] bowlofeggs commented on #1838
This was fixed by https://github.com/fedora-infra/bodhi/pull/1837.

[2017-09-29 14:24] #1838 closed, assigned to bowlofeggs

[2017-09-29 15:33] bowlofeggs commented on #1827
Hello again @adelton,

There are a couple open tickets that I think express that RFE, but feel free to file a new one if you don't think they cover it:

https://github.com/fedora-infra/bodhi/issues/1563
https://github.com/fedora-infra/bodhi/issues/1038

[2017-09-29 15:37] bowlofeggs commented on #752
@puiterwijk Good point.

[2017-09-29 15:48] #1753 closed, assigned to nobody

[2017-10-02 06:07] tyll commented on #1789
fedora-cert reads the Fedora username nowadays from ```~/.fedora.upn``` therefore it could be used (again?). Then there is only one place to set the FAS name instead of multiple places.

[2017-10-03 21:51] bowlofeggs opened #1848 "Test failure"
@mcurlej reported that there are some test failures on a few of our environments today. I see this failure on F26:

[code]

[2017-10-04 00:56] bowlofeggs commented on #1848
This is a bit of a tricky one. Here's what I know so far: the test fails on F26 - Rawhide, but not on F25. Additionally, the tests passes when run by itself on F26+. Spooky.

[2017-10-04 01:29] bowlofeggs commented on #1848
It turns out that mock works differently on Fedora 26+ than it does on Fedora 25. Fix incoming.

[2017-10-04 13:47] #1848 closed, assigned to bowlofeggs

[2017-10-05 17:33] bowlofeggs opened #1859 "The CI script seems to fail to move the docs"
This seemed to fail in https://ci.centos.org/job/bodhi-bodhi/425/ :

[code]

[2017-10-05 21:20] bowlofeggs commented on #1859
It turns out that this is actually not a problem - I had misinterpreted the output of the job. The job failed due to missing test coverage and not due to the docs mv statements.

[2017-10-05 21:20] #1859 closed, assigned to bowlofeggs

[2017-10-09 04:11] bowlofeggs opened #1875 "I was not offered the "push to batched" button when update reached days in testing"
When https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2017-1e6d4edc57 reached 14 days in testing, a "push to stable" button appeared, but no "push to batched". Perhaps we only remembered to add "push to batched" for karma-based pushes?

I was able to request it for batched using the CLI, so there is a workaround:

[code]

[2017-10-10 12:26] robatino opened #1881 "New comment causes bodhi to resubmit for batched after submitting for stable"
See https://bodhi.fedoraproject.org/updates/FEDORA-2017-1db64016e9 . Bodhi submitted this for batched, then for stable when the necessary time was reached. A +1 comment after that caused Bodhi to immediately submit it for batched again.

[2017-10-10 13:30] #1810 closed, assigned to nobody

[2017-10-11 14:33] bowlofeggs commented on #1881
Thanks for the report - I've found the problem. Fix incoming.

[2017-10-11 16:40] bowlofeggs commented on #1875
I thought this would be an easy fix, but the template code that does this is a mess unfortunately.

[2017-10-11 20:32] bowlofeggs opened #1887 "The push to batched/stable button appears on unpushed or revoked Updates"
The push to batched/stable button appears on unpushed or revoked Updates. Clicking it sends the update back to testing (which is the correct behavior), but there is already a "Push to testing" button as well. We should not offer these buttons since the update needs to go back to testing when it is in this state.

[2017-10-11 21:15] bowlofeggs opened #1888 "Refactor the code that displays the buttons for pushing to stable/batched/testing/etc"
The code that decides which pushing buttons should be displayed is overly complicated and difficult to edit:

https://github.com/fedora-infra/bodhi/blob/2.12.1/bodhi/server/templates/update.html#L499-L529

We should refactor that to be cleaner. It also copies rather than shares logic with the backend about policies around the different kinds of updates (critpath, autokarma, non-autokarma) - we sho

[2017-10-11 22:15] #1881 closed, assigned to bowlofeggs

[2017-10-11 23:23] #1875 closed, assigned to bowlofeggs

[2017-10-12 00:23] bowlofeggs commented on #1881
This is fixed in the 2.12.2 release.

[2017-10-12 00:23] bowlofeggs commented on #1875
This is fixed in the 2.12.2 release.

[2017-10-13 15:13] bowlofeggs opened #1893 "Bodhi should enforce EPEL policy but does not"
I noticed [an update](https://bodhi.fedoraproject.org/updates/odcs-0.1.0-2.el7) today that did not follow the [EPEL Updates Policy](https://fedoraproject.org/wiki/EPEL_Updates_Policy) for stabilization. EPEL updates require either +3 karma or 14 days in testing, but that update was allowed to go to stable without satisfying either condition.

Bodhi should be able to enforce the EPEL Updates Policy

[2017-10-15 17:34] bowlofeggs opened #1894 "Test failure on F25 Vagrant box: AttributeError: 'file' object attribute 'write' is read-only"
[code]

[2017-10-15 17:58] bowlofeggs commented on #1894
This failure does not seem to happen in Jenkins.

[2017-10-15 18:00] bowlofeggs opened #1895 "Do not batch updates for branched releases"
It was suggested on the devel list that Bodhi should not batch updates for branched releases, because it increases the number of updates that miss the compose deadlines.

Here's the thread with a more detailed explanation:

https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/PCDKEGP2UIPKSYR4F62FJFK5I362EF64/#PCDKEGP2UIPKSYR4F62FJFK5I362EF64

[2017-10-15 18:03] bowlofeggs commented on #1895
The code around Bodhi's state machine is… let's say… spaghetti held together by duct tape. We *could* solve this by adding a bit more spaghetti and duct tape, but it might be easier to get it right if we fix
https://github.com/fedora-infra/bodhi/issues/1723 first. I wouldn't say that's necessarily a requirement, but I do think this could be painful and error prone without it.

[2017-10-16 14:10] bowlofeggs opened #1897 "The edit update form could tell users that urgent severity skips the batched phase"
It might be nice if we included some indication to users that the "urgent" severity choice will cause their update to skip the batched state, where other severities go to batched by default.

[2017-10-16 14:27] bowlofeggs commented on #1894
Strangely, I also cannot reproduce this failure today in the same Vagrant box. I didn't even reprovision it… Oh well!

[2017-10-16 14:27] #1894 closed, assigned to nobody

[2017-10-16 14:53] bowlofeggs commented on #1895
Until we have this, a reasonable workaround is for release engineering to run the ```bodhi-dequeue-stable``` CLI tool before running the final push to stable before building "significant" composes. For example, if final freeze is about to happen, it would be good to do this:

1. Run ```sudo -u apache /usr/bin/bodhi-dequeue-stable```.
2. Run a mash on the branched release.

The ```bodhi-dequeue-sta

[2017-10-16 15:29] smackappletwo opened #1899 "/updates 504 Gateway Timeouts"
Queries for Fedora 24 through Fedora 26 security/stable package updates are hitting 504 a lot.

Example:
https://bodhi.fedoraproject.org/updates/?release=F26&status=stable&type=security&rows_per_page=1000&submitted_before=2017-10-14&submitted_since=2015-01-01

The above query works just fine if you reduce the rows_per_page to 200. But that's not reasonable.
https://bodhi.fedoraproject.org/updates/

[2017-10-16 16:38] bowlofeggs commented on #1789
We are about to release bodhi-3.0.0, because Bodhi is switching to Pungi instead of mash and that changes the repo layout (and is thus technically not backwards-compatible). As a result, I'm going to prioritize this. I'm going to take the easy route for now and just drop support for the USERNAME variable. We can add it back later in a Y release if we need it.

[2017-10-16 17:17] bowlofeggs opened #1902 "The push to batched and unpush buttons are too close to the enhancement icon on mobile"
On the mobile view of an update, the "push to batched" and "unpush" buttons are too close to the enhancement icon:

![screenshot_20171016-032826](https://user-images.githubusercontent.com/354506/31625492-47b64d4a-b274-11e7-8106-4f61c62979c2.png)

[2017-10-16 17:50] ralphbean commented on #653
Almost there.  :p

[2017-10-16 17:50] ralphbean commented on #1795
Done with https://bodhi.stg.fedoraproject.org/updates/FEDORA-2017-b32d96e2db

[2017-10-16 17:51] #1795 closed, assigned to ralphbean

[2017-10-16 17:51] ralphbean commented on #1600
OK, with the latest work done by @bowlofeggs and @puiterwijk, this isn't necessary from the bodhi modular-mash point of view.

@ktdreyer, if this is still something you're interested in, it may be worth pursuing it with pungi upstream.

[2017-10-16 17:51] #1600 closed, assigned to nobody

[2017-10-16 18:31] ktdreyer commented on #1600
What was the resolution with Bodhi to which you're referring?

[2017-10-16 18:38] ktdreyer commented on #1043
@pcahyna in [your dist-git change](https://src.fedoraproject.org/rpms/libtommath/c/baf704e7cfb469cf3eef392966489ef9fb0ad66f?branch=master) you added the following %changelog entry:

[code]

The Bodhi client that `fedpkg update` uses will simply parse the latest %changelog entry and add all of those BZs to the Bodhi update.

I wonder if we should implement product filtering on the client side (when

[2017-10-16 18:38] ktdreyer commented on #1600
What I mean is: will Bodhi still execute Pungi?

[2017-10-16 18:50] pcahyna commented on #1043
@ktdreyer Thanks for the explanation! I did not thought about the %changelog (and it was not my dist-git change). I think product filtering is the right thing.

[2017-10-16 19:11] bowlofeggs commented on #1899
I've been looking into Bodhi's performance issues here and there with @tyll. I've not yet proved this theory, but my current idea is that Bodhi loads and serializes every related object when querying updates. It does all the serialization before sending results (which is hy you don't get a response while it's assembling). It's API does not have a way to request it not to pull in related objects, u

[2017-10-16 19:27] bowlofeggs commented on #1600
Hello @ktdreyer,

Bodhi will still execute Pungi, but will do so by calling it via subprocess rather than importing it. See https://github.com/fedora-infra/bodhi/pull/1900.

[2017-10-17 13:30] #1789 closed, assigned to bowlofeggs

[2017-10-17 17:07] M4rtinK opened #1905 ""Push to batched" button label is confusing"
With a recent Bodhi update there is no longer just the "push to stable" button but also a "push to batched" button. Both buttons also basically switch from to the other.

While it's rather intuitive what the "push to stable" button likely does - eq. pushes the update to a stable Fedora release, the  "push to batched" button sounds pretty cryptic.

While after doing some research I have discover wh

[2017-10-17 17:10] bowlofeggs commented on #1905
We could probably make the text of the button be a setting so that Fedora's instance can say "Push in next weekly batch" or similar.

[2017-10-17 17:14] M4rtinK commented on #1905
Yeah, that sounds even better. :)

[2017-10-17 17:16] M4rtinK commented on #1905
But then it might make sense to also change the "push to stable" button in the same manner ? Eq. "Push in next daily push" ? That could make the whole thing much more clear. :)

[2017-10-17 21:50] bowlofeggs opened #1907 "Updates that are auto-pushed to batched do not get a "push to stable" button"
Michael Cronenworth reported today that updates that were auto-pushed to batched do not get a "push to stable" button:

I looked into it a bit, and the problem seems to be in [```Update.meets_testing_requirements()```](https://github.com/fedora-infra/bodhi/blob/2.12.2/bodhi/server/models.py#L2447-L2479), which the Update template uses to decide whether to render that button:

[code]

I think we ca

[2017-10-17 22:00] bowlofeggs commented on #1907
Adam Williamson suggested a workaround of using the CLI to change the Update's state, and that does appear to work on my development box.

[2017-10-19 03:50] bowlofeggs commented on #1685
This is no longer necessary since we are about to stop using mash and start using pungi!

See #1900.

[2017-10-19 03:50] #1685 closed, assigned to nobody

[2017-10-19 03:52] bowlofeggs commented on #1174
Now that we are using Pungi to do all the mashing, we are no longer in control of what is considered success or failure. I'm going to close this as a result.

[2017-10-19 03:52] #1174 closed, assigned to nobody

[2017-10-19 10:15] #1907 closed, assigned to nobody

[2017-10-19 10:19] ryanlerch commented on #1899
Possibly related to / or a duplicate of  #271

[2017-10-19 15:32] #653 closed

[2017-10-19 15:32] #887 closed, assigned to nobody

[2017-10-19 15:32] #909 closed, assigned to nobody

[2017-10-19 15:32] #1182 closed, assigned to kushaldas

[2017-10-19 15:32] #1219 closed, assigned to nobody

[2017-10-19 15:32] #1330 closed, assigned to nobody

[2017-10-20 20:21] bowlofeggs opened #1921 "Rename the prefer_ssl setting"
Bodhi has a ```prefer_ssl``` setting, which doesn't do what it sounds like it does at all because it's only used when ```libravatar_dns``` is ```True```, and is only used by ```libravatar``` and not generally all of Bodhi. We should rename it to something that makes that clearer, like ```libravatar_prefer_tls```.

This is a backwards incompatible change and should be done in an X release.

[2017-10-20 20:23] puiterwijk commented on #1921
Well, you could make a new setting and make it override the `prefer_ssl` setting if that's not set?

[2017-10-23 02:40] bowlofeggs opened #1922 "Bodhi is not compatible with the latest release of Cornice"
Cornice 3.0.0 has been released, and Bodhi still has a requirement on Cornice < 2 in its requirements.txt. It would be nice if Bodhi could work with any version of Cornice, but it may be difficult to support Cornice 1, 2, and 3 with the same codebase. If that turns out to be difficult, we should rework Bodhi to use Cornice 3. This will introduce CI issues since only Rawhide would have Cornice 3. T

[2017-10-23 02:43] bowlofeggs commented on #1922
This makes Cornice packaging awkward in Rawhide https://bugzilla.redhat.com/show_bug.cgi?id=1430178

[2017-10-24 01:43] bowlofeggs opened #1927 "flake8 3.5.0 is angry at Bodhi for bare exception handlers"
Bodhi's PRs recently started failing CI tests due to a recent flake8 release disliking plain ```except``` statements:

[code]

We should fix this, but until we do I plan to ignore E722 and use this ticket to remember to go fix these.

[2017-10-24 08:52] tkdchen opened #1928 "Confused new update created from bodhi CLI"
I use this command to create an update

[code]

output is

[code]

Looks everything is good. But, in Bodhi website, the update type is ``security`` and both ``Auto-request stable?`` and ``closed bugs`` is not checked.

I have corrected my update. I'm not sure whether you can see the very original value of this update.

Version: ``bodhi-client-2.11.0-2.fc26.noarch``

[2017-10-24 09:00] tkdchen commented on #1928
Create another update, screenshot shows that.

![screenshot-2017-10-24 fedora-2017-ea72793352 security update for fedpkg and rpkg fedora updates system](https://user-images.githubusercontent.com/919706/31933788-b9233fce-b8dc-11e7-8517-0629a4660a00.png)

[2017-10-24 09:05] tkdchen commented on #1928
Interesting. Run above bodhi command to create update for Fedora 25, the third time, type is set to ``enhancement`` correctly.

![screenshot-2017-10-24 fedora-2017-f5ad4107cc enhancement update for fedpkg and rpkg fedora updates system](https://user-images.githubusercontent.com/919706/31934049-927ddfc2-b8dd-11e7-9b4e-aa353eee39a5.png)

But, after saving the changes to ``close bugs`` and ``auto pus

[2017-10-24 09:14] tkdchen commented on #1928
I think I know why this happens. When I run bodhi CLI last time to create update, update type is enhancement, but when I click Edit button in WebUI, ``security`` is checked in edit page. I didn't notice this when I was correcting my update.

[2017-10-24 13:18] kparal opened #1930 "batched regression: updates are not present in any repo if karma is supplied quick enough"
Before batched: If karma was supplied quick enough, the package went stable immediately.
With batched: If karma is supplied quick enough, the package goes to batched, and waits for 2 weeks before going stable. During this time, it's not available in any repository. Instead, it should be pushed to updates-testing repo for the duration of the batched tag.

Example:
https://bodhi.fedoraproject.org/up

[2017-10-24 15:43] bowlofeggs opened #1934 "The CI yaml file is invalid yaml"
I noticed today that our CentOS CI service jobs have been failing for a week or two due to the yaml being invalid:

[code]

I personally am responsible, when I made https://github.com/fedora-infra/bodhi/commit/791d4e3ea98d252daa6fb4856cb394eb8b07d0b3. Shame!

Anywyays, it's easy to fix and we should add a test that ensures the YAML is at least parseable.

[2017-10-24 20:27] #1934 closed, assigned to bowlofeggs

[2017-10-24 22:58] bowlofeggs commented on #1928
I think there are a few different things going on here:

* When Bodhi detects that an update is associated with a BZ that is marked as a security bug, it automatically switches the update to a security update. [#1188634](https://bugzilla.redhat.com/show_bug.cgi?id=1188634) has the Security keyword on it, so that's why Bodhi switched it to a security update. I would recommend changing it back to se

[2017-10-24 22:58] #1928 closed, assigned to nobody

[2017-10-26 02:01] robatino opened #1942 "Bodhi allows package downgrades in stable releases"
In the latest F26 stable push, dnf was downgraded from 2.7.5-1.fc26 ( https://bodhi.fedoraproject.org/updates/FEDORA-2017-d2e8fdf5d8 ) to 2.7.4-1.fc26 ( https://bodhi.fedoraproject.org/updates/FEDORA-2017-9f04c2c90f ). The higher version was pushed to stable first, and the lower version after.

Edit: Replaced second link with the correct F26 one.

[2017-10-26 14:38] bowlofeggs opened #1943 "Release policy overrides should be stored on the Release model instead of in production.ini"
```production.ini``` currently has a way to [configure](https://github.com/fedora-infra/bodhi/blob/3.0.0/production.ini#L331-L346) policy overrides for specific releases to do things like changing the number of days updates are required to spend in testing:

[code]

This is a bit awkward and inconsistent, awkward because the setting name itself is dynamic due to containing the release name, and in

[2017-10-26 17:29] bowlofeggs commented on #1922
I'm using this document to aid in the transition:

https://cornice.readthedocs.io/en/latest/upgrading.html#x-to-3-x

I'm starting to believe it will not be feasible to support Cornice 1, 2, and 3 in the same Bodhi release.

[2017-10-26 21:22] bowlofeggs opened #1945 "There are several validators for username that are essentially copied code"
There are several validators that make sure that various kwargs reference existing username. For example, check out [```validate_username()```](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/validators.py#L619-L632), [```validate_update_owner()```](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/validators.py#L648-L661), and [```validate_ignore_user()```](https://githu

[2017-10-27 09:49] #1927 closed, assigned to ryanlerch

[2017-10-27 11:57] tkdchen opened #1946 "Build is updated but title is not changed accordingly"
I updated builds in update https://bodhi.fedoraproject.org/updates/FEDORA-2017-9cac2b8b4a. Its title is still the old one.

[2017-10-27 12:46] hroncok opened #1947 "Overrides are not working if update gets unpushed"
1. create an override O with build B
 2. create an update U with build B
 3. update is pushed to testing
 4. unpush the update U
 5. try to build a package in koji that needs B in buildroot

Expected result:
O is still active and valid, B is in buildroot.

Actual result:
nothing provides B needed by ..., B is not in the buildroot

The override O still looks active. I had to expire it and activate

[2017-10-27 15:54] tkdchen commented on #1947
+1. I encountered this today as well.

[2017-10-28 04:04] tkdchen opened #1949 "Updated new build is not pusted to updates-testing repo"
https://bodhi.fedoraproject.org/updates/FEDORA-2017-9cac2b8b4a

This update had ``-3`` previously and was moved to obsolete state. I made new build ``fedpkg-1.30-2``, replace fedpkg-1.30-1 with this new build, and push to testing again.

Problem is new build ``fedpkg-1.30-2`` does not appear in ``updates-testing``. Instead, old build is still there.

[code]

[2017-10-28 14:47] tkdchen commented on #1949
``fedpkg-1.30-2`` is available in ``updates-testing`` now. Why it is delayed to push new build?

[2017-10-28 20:53] puiterwijk commented on #1949
@tkdchen That's most likely because we only push updates out once a day, and looking at the timing of your edit the edit might have missed the previous push.
Also, even after we push the update out it takes a while to arrive at the mirrors.

[2017-10-29 03:26] bowlofeggs commented on #1942
Hello!

Small correction, but I think you meant to use https://bodhi.fedoraproject.org/updates/FEDORA-2017-9f04c2c90f for that second link (the F26 version instead of the F27 version).

I believe what happened here is due to one of the updates having multiple builds in it. Bodhi has a few open issues about not handling multi-build obsoletion correctly:

https://github.com/fedora-infra/bodhi/issues

[2017-10-29 03:26] #1942 closed, assigned to nobody

[2017-10-29 03:50] bowlofeggs commented on #1947
It's not immediately clear to me why this would happen and it's late on a Saturday night, but I wonder if Koji removes the BRO tag when the build's other tags are removed? [Here's some code](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/models.py#L856-L879) that is used during unpushing:

[code]

[2017-10-29 03:57] bowlofeggs commented on #1949
I believe @puiterwijk has explained this well. I'm going to close the issue since Bodhi is working as expected here.

[2017-10-29 03:57] #1949 closed, assigned to nobody

[2017-10-29 10:11] tkdchen commented on #1949
Thank you all.

[2017-10-30 09:35] zdohnal opened #1952 "Missing "Push to stable" button"
Hi,
my update automatically requested "batched" state, but there should be button for "Push to stable", which is missing. If I understood it correctly, updates automatically requests "batched", but update's creator should have option to manually request "push to stable" state? But I cannot find any way to do it now.

[2017-10-30 09:36] puiterwijk commented on #1952
Could you please provide the link to the update?

[2017-10-30 09:37] zdohnal commented on #1952
Hi, sure, here it is https://bodhi.fedoraproject.org/updates/FEDORA-2017-da1e383f18 .

[2017-10-30 14:56] bowlofeggs commented on #1952
It's not immediately obvious to me what the problem is, but I'll take a closer look soon. In the meantime, you can use the ```bodhi >= 2``` CLI to do this as a workaround:

[code]

I believe it's possible with the bodhi-0.9 CLI as well, but I'm not familar enough with it to write the command ☺

[2017-10-30 14:58] zdohnal commented on #1952
Thank you, it worked :)

[2017-10-30 16:37] bowlofeggs opened #1955 "The masher should not hardcode the "Everything" variant"
Instead of hardcoding the "Everything" variant, we should use the ```composeinfo.json``` file that Pungi produces to learn which variants were produced to find out what variants exist.

Here's an example of that file:

https://kojipkgs.fedoraproject.org/compose/updates/Fedora-26-updates-20171030.0/compose/metadata/composeinfo.json

[2017-10-30 16:39] puiterwijk opened #1956 "RFE: Replace Pungi assumptions with detected information"
Right now, we make a few assumptions regarding the Pungi configuration that we might want to become more flexible about at some point.
When mentioning `composeinfo.json`, the file in `$composedir/compose/metadata/composeinfo.json` is meant.

- [ ] The Pungi product short name and release_type are assumed for finding the output directory (PR #1954)
- [ ] The Pungi variant names is currently hardcod

[2017-10-30 16:41] bowlofeggs commented on #1955
Closing as a duplicate of #1956.

[2017-10-30 16:41] #1955 closed, assigned to nobody

[2017-10-30 17:35] bowlofeggs opened #1957 "The CLI should support paging"
I noticed today that the CLI does not support paging. If I want to see more of the updates that match this query, there isn't a way to do that:

[code]

[2017-10-31 21:54] bowlofeggs commented on #1952
For some reason, I had thought that we had already fixed and released #1907, but I just realized that it was not part of the 3.0.0 release. Thus, I believe this issue is a duplicate of that one, which will be fixed in the upcoming 3.1.0 release.

[2017-10-31 21:54] #1952 closed, assigned to nobody

[2017-11-01 07:13] zdohnal commented on #1952
Ok, thank you Randy. I have Fedora 26 with bodhi-client-2.8.1-1.fc26 - when will 3.0.0/3.0.1 arrive to f26?

[2017-11-01 14:46] bowlofeggs commented on #1318
@puiterwijk sent me this link, which might be useful for solving the duplicates: https://wiki.postgresql.org/wiki/Deleting_duplicates

[2017-11-01 15:21] bowlofeggs commented on #1952
Hello @zdohnal!

I don't plan to release Bodhi 3 on Fedora < 28 because it is not backwards compatible. However, this issue is a web UI issue and not a CLI issue, so it will be fixed for you when we deploy 3.1.0 to production. I anticipate that happening sometime in the next week or two.

[2017-11-02 09:29] frenzymadness opened #1970 "Drop support for pkgdb"
Hello.

We had a short discussion with @bowlofeggs about packagedb-cli dependency and how to deal with it during making Bodhi Python 3 compatible.

The fact is that PackageDB is read-only from August and its CLI won't be ported to Python 3. Another fact is that there are still some installations of Bodhi using it and we should release all backward-incompatible changes in one release (if possible).

[2017-11-02 09:33] pypingou commented on #1970
iirc the CLI is already py3 compatible

[2017-11-02 09:34] pypingou commented on #1970
In addition packagedb-cli isn't part of pkgdb2's sources so it would be pretty easy to fix bugs in it.

[2017-11-02 09:50] frenzymadness commented on #1970
Interesting. I see in the porting database [0[ that packagedb-cli has some unresolved dependencies, there isn't anything related to Python 3 in specfile [1], PyPI classifiers also contains only Python 2.7 and 2.6 [2] but source code looks compatible on first look. I'll try to install it and run tests with Python 3.

[0] http://fedora.portingdb.xyz/pkg/packagedb-cli/
[1] https://src.fedoraproject.o

[2017-11-02 09:56] pypingou commented on #1970
Spec file and setup.py have never been adjusted indeed

[2017-11-02 11:26] frenzymadness commented on #1970
I tried to use packagedb-cli in the Python 3 environment and it failed because fedora-cert (subpackage of fedora-packager) is not available in Python 3. So, it seems that if we really want to keep packagedb-cli in Bodhi, we can, but it means to go through this steps:
1. Fix one small issue in fedora_cert
2. Update fedora_packager specfile to provide python2/python3 versions of fedora_cert
3. Test

[2017-11-02 14:39] frenzymadness commented on #1970
I decided to rename this issue to more general name and share dependencies solving progress with you here. The question in the previous comment should still be answered to know, what to do next.

Python 3 compatibility fix for fedora_packager: https://pagure.io/fedora-packager/pull-request/153
Python 3 compatibility fix for pyramid-fas-openid: https://github.com/fedora-infra/pyramid_fas_openid/pul

[2017-11-02 15:43] umarbrowser commented on #1946
hello there can i take it

[2017-11-02 19:11] bowlofeggs commented on #1970
For pkgdb-cli, I'd probably vote for just killing Bodhi's integration with pkgdb rather than trying to get it working with Python 3. Because it is a backwards-incompatible change it would be good to save it as one of the last things we do so we can collate other backwards incompatible changes together into one x release.

That said, if you really want to port pkgdb-cli to keep it alive until it re

[2017-11-02 19:12] bowlofeggs commented on #1970
It might actually be nice to keep this ticket focused on just the pkgdb change, since it is backwards incompatible and other changes might not be (i.e., it'll be clearer what the label applies to).

[2017-11-02 19:22] bowlofeggs commented on #1946
@umarbrowser Go for it!

[2017-11-02 20:18] umarbrowser commented on #1946
thanks
On Nov 2, 2017 8:22 PM, "Randy Barlow" <notifications@github.com> wrote:

[2017-11-06 19:09] bowlofeggs commented on #1930
This bug is surprisingly tricky to fix. Bodhi's state machine code is in [real bad shape](https://github.com/fedora-infra/bodhi/issues/1723), and is essentially spread all over the codebase. That's how this bug happened in the first place, as its exceedingly easy to make a mistake or overlook something when altering the state machine since it is not clearly expressed in one place as it should be.

[2017-11-06 22:17] bowlofeggs commented on #1930
I talked with @jeremycline today and he preferred the refactoring approach, but agreed that due to the potential severity of the bug that solution 3 above is a reasonable approach to solve it.

I also talked with @puiterwijk who also concurred that solution 3 would work.

Thus, I am going for solution 3 for now, until I finally refactor all this crazy code one day.

[2017-11-08 18:51] bowlofeggs commented on #1376
This is included in the bodhi-3.1.0-0.1.beta, which is available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2017-11-08 18:52] bowlofeggs commented on #1753
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:53] bowlofeggs commented on #1812
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:53] bowlofeggs commented on #1361
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:53] bowlofeggs commented on #1620
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:53] bowlofeggs commented on #1635
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:53] bowlofeggs commented on #1787
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:53] bowlofeggs commented on #1791
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:53] bowlofeggs commented on #1907
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:54] bowlofeggs commented on #1819
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 18:55] bowlofeggs commented on #1952
This patch is included in the bodhi-3.1.0-0.1.beta, which is deployed to [staging](https://bodhi.stg.fedoraproject.org/) and is also available via [Copr](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2017-11-08 21:14] bowlofeggs opened #1981 "The metrics page is an HTTP 500 right now"
https://bodhi.fedoraproject.org/metrics simply says "500 Server Error
'NoneType' object has no attribute 'groups'" right now. Here is the traceback from the server logs:

[code]

[2017-11-09 16:34] bowlofeggs commented on #1922
Bodhi now works with ```Cornice~=2```. Now it is time to make it work with ```Cornice~=3```.

[2017-11-09 17:31] bowlofeggs opened #1983 "Bodhi needs to use the head of the cornice_sphinx project until they make a release"
I had forgotten that Bodhi was using a branch on my fork of ```cornice_sphinx``` when I deleted that branch (oops) after it was merged upstream. This is causing vagrant up to fail, and likely CI builds as well:

[code]

Upstream has not made a release that has the commit I wrote that is needed for the docs to build, so we should just switch the pip installs to use the master branch until they do.

[2017-11-09 19:28] #1983 closed, assigned to bowlofeggs

[2017-11-09 19:37] bowlofeggs opened #1985 "Delete bodhi.server.views.admin"
Bodhi has a strange view that tells admin users what their username and principals are, but does not allow non-admin users to use it:

https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/views/admin.py

When I visit https://bodhi.fedoraproject.org/admin/ I see:

[code]

I don't know what the purpose of this view was, but I'm pretty sure we can delete it.

[2017-11-10 12:21] Yadnyawalkya commented on #1945
hey @bowlofeggs, do you like to share your thoughts on this? https://github.com/fedora-infra/bodhi/pull/1982

[2017-11-12 13:33] sfshameem5 commented on #1946
@umarbrowser Are you still on it ?

[2017-11-12 13:34] sfshameem5 commented on #1946
What is the issue here ? Can someone point it out ?

[2017-11-12 13:38] sfshameem5 commented on #1905
How can I fix this issue ? Any help ?

[2017-11-12 15:10] umarbrowser commented on #1946
yes i am still on it but the problem is how to do it can you guide me
On Nov 12, 2017 2:33 PM, "shameem fairooz" <notifications@github.com> wrote:

[2017-11-14 04:19] bowlofeggs opened #1995 "bodhi.server.models.Bug.url is inaccessible"
The Bug model has a url database column, but the column cannot be accessed via the model because the model defines a [```url``` property](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/models.py#L2740-L2742) that overrides it.

We should ensure that this column really cannot be reached, and if so we should just drop it since it is unused.

[2017-11-14 05:02] bowlofeggs opened #1996 "bodhi.server.models.Update.num_admin_approvals includes invalid comments"
[```bodhi.server.models.Update.num_admin_approvals```](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/models.py#L2530-L2542) uses ```self.comments``` when it should use [```self.comments_since_karma_reset()```](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/models.py#L1210-L1230) instead.

This means that admin approvals are not cleared when developers change the Buil

[2017-11-14 05:17] bowlofeggs commented on #1996
There are a couple other places in the codebase that use the wrong attribute as well, so we should clean those up as well.

[2017-11-14 14:22] bowlofeggs opened #1997 "The relationship between Packages and Users is unused"
I noticed today while writing docblocks for the models that the Packages.committers relationship is always empty. To confirm this, I examined the database dump, and found that there really are no rows in the ```user_package_table``` through table:

[code]

We should delete this relationship and table.

[2017-11-14 15:02] sfshameem5 commented on #1946
I'm too stuck at the same problem. Now knowing where to start

[2017-11-14 15:37] bowlofeggs opened #1998 "The CVE model seems to be unused"
While documenting ```models.py``` today, I noticed that the [```CVE``` model](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/models.py#L2704-L2714) is unused:

[code]

[2017-11-14 16:25] ralphbean commented on #1998
Heh, this was probably a case of "CVEs are important - they should probably have a db table."

[2017-11-14 17:20] bowlofeggs commented on #1998
Haha yeah, and I found out [why the CVEs don't get created](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/models.py#L2025-L2042):

[code]

It will never get to the line that tries to create the CVEs :)

[2017-11-14 20:11] bowlofeggs opened #1999 "UpdateStatus.processing seems to be unused"
While documenting ```models.py``` I noticed that ```UpdateStatus``` has a [```processing```](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/models.py#L377) state, which does not seem to be used. We should remove it.

[2017-11-15 03:08] bowlofeggs opened #2004 "bodhi-dequqe-stable dies if any update in the queue is no longer eligible to go stable"
QuLogic from Freenode reported today that batched updates didn't go stable at 03:00 UTC like they should have. I confirmed that the cron job ran, but I didn't see any notes about its output. I then ran the command by hand and received this output:

[code]

The [```dequeue_stable()```](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/scripts/dequeue_stable.py#L28-L46) function runs a l

[2017-11-15 13:38] #2004 closed, assigned to bowlofeggs

[2017-11-15 16:13] bowlofeggs opened #2008 "Bodhi's non-web and non-fedmsg-hub processes should log to syslog"
We should set up logging to syslog for Bodhi's various non-web and non-fedmsg-hub processes (things like bodhi-dequeue-stable).

[2017-11-15 16:52] alick opened #2009 "empty comment when accidentally hit "add comment & feedback" button"
Hi,

The other day, I accidentally hit the "add comment & feedback" button, and it resulted in an empty comment with all karma 0s: https://bodhi.fedoraproject.org/updates/wget-1.19.2-1.fc25#comment-692806

I believe this should be disallowed since it just adds noise. Maybe check if the comments are empty and all karma are 0s, and show a popup dialog to notify when submitting?

[2017-11-16 15:16] #1930 closed, assigned to bowlofeggs

[2017-11-16 19:10] bowlofeggs opened #2014 "Create a push status model"
Bodhi currently creates lock files when mashing. These are used to ensure that no two processes attempt to mash the same repository at the same time, but they are also used to store state about the current mash. Here's an example from today's ```MASHING-f27-updates``` lock file:

[code]

The use of these lock files limits us in a few ways. For one, it is difficult to make a good human interface to

[2017-11-16 19:18] bowlofeggs opened #2015 "Create a REST API to control composes"
In order to enable container rebuild automation, we will need to provide a way for container rebuilding to launch container mashes. If we are going to provide a REST API to launch mashes, it would be best to generalize it and make it suitable for the regular mashing to use it too.

The API should accept parameters that specify what to mash (use ```push.py``` as inspiration for designing the API),

[2017-11-16 19:21] bowlofeggs opened #2016 "Add compose controls to the bodhi CLI"
Once we have the REST API that will be created in #2015, we should add mash administration controls to the bodhi CLI so that release engineers can trigger mashes with it. This will replace the ```bodhi-push``` CLI tool.

Depends on #2015.

[2017-11-16 19:25] bowlofeggs opened #2017 "Delete bodhi-push"
Once we have the bodhi CLI being able to trigger mashes, we can and should delete the ```bodhi-push``` CLI tool.

Depends on #2016.

[2017-11-16 19:28] bowlofeggs opened #2018 "Container buildroot overrides should be able to alter tags in the registry"
There is a suggestion that we should use build tags in the registry to define which container tags should be the build targets. This is currently a bit controversial, so this ticket should not proceed until we are sure it will work this way.

If we do end up using build tags in the container registry, Bodhi will need to be able to modify the build tags when developers submit container BuildrootOve

[2017-11-16 19:37] bowlofeggs opened #2019 "Determine if container will use a build tag"
We currently build containers out of the stable registry. This will be a problem for mass rebuilds, as we can't build the higher layered containers until their dependent layers make it into the stable registry.

There is a suggestion that containers could use build tags instead of the stable tags, which would enable Bodhi to manipulate the build tags with BuildrootOverrides. This ticket is about s

[2017-11-16 19:47] bowlofeggs opened #2020 "Add a maintenance mode API to Bodhi"
It would be very nice if there were a way for admins to request a maintenance outage in Bodhi. It may be possible to use the PushStatus object created in #2014 in some fashion to indicate that a maintenance window is requested (or it may make sense to create a separate table just for this feature). Once a maintenance window is requested, Bodhi should refuse to start any new mashes until the mainte

[2017-11-16 19:49] bowlofeggs opened #2021 "Add support for the maintenance mode API to the bodhi CLI"
The bodhi CLI should be able to report back on the current status of Bodhi's maintenance mode API, and should also be able to request or clear maintenance modes.

Depends on #2020.

[2017-11-16 19:53] bowlofeggs opened #2022 "Create a web interface that will display the status of mashing"
The ```/masher``` interface is currently very difficult to interpret and takes a very long time to load (and often times out without loading). Once we have a PushStatus object as proposed in #2014, we can create a new mash status web UI that shows the current state of the mashing processes. We can even display which step each process is at and display whether a maintenance mode is currently reques

[2017-11-16 19:58] bowlofeggs opened #2023 "Give the Bodhi CLI tool the ability to view and watch the status of the masher"
It would be nice if the Bodhi CLI could use the mash status REST API to report on the current status of the masher. It would be even cooler if it could watch the status of running mashes and exit when they complete. We could even make it so that it watches when asking for a mash with a --watch flag.

Depends on #2021.

[2017-11-16 20:00] bowlofeggs opened #2024 "Kill the /masher view"
If #2022 did not use the same endpoint, we should delete the ```/masher``` endpoint. If it did use that same endpoint, we can close this ticket.

Depends on #2022.

[2017-11-16 20:02] bowlofeggs opened #2025 "Create a web interface to control mashing"
It would be nice if we had a web interface to start mashes.

Depends on #2022.

[2017-11-16 20:05] bowlofeggs opened #2026 "Create Enums for Containers"
In order for Bodhi to support containers, we will need to add enums for them.

[2017-11-16 20:10] bowlofeggs opened #2027 "Add code for Bodhi to be able to identify containers in Koji"
There's a little [code that determines what kind of Build a Koji build is](https://github.com/fedora-infra/bodhi/blob/b786fbdbcbdb82db0b2b481b7201c30c81c592a0/bodhi/server/models.py#L364-L366). We should make that code work with the new Enum instead of raising ```NotImplemented()```.

Depends on #2026.

[2017-11-16 20:11] bowlofeggs opened #2028 "Add support for containers to the masher"
We need the masher to be able to promote containers into testing and stable. We will probably use skopeo for this.

Depends on #2027.

[2017-11-16 21:11] bowlofeggs opened #2029 "Updates should be able to relate to other updates"
There may be some use cases where it makes sense to have an update depend on another update.

For example, some of Fedora's content bundles other bits of Fedora's content. Consider containers: we have a base layer image, and we have second layer images and even some third layer images. When we perform mass container rebuilds, we won't have a good way to ensure that the base layer is tagged stable

[2017-11-17 01:56] bowlofeggs opened #2030 "BROs are double plus unfun when users try to create them and they already exist"
@AdamWill reported today a frustrating user experience: if you try to create a buildroot override for an nvr, and an override already exists for that nvr, it will fail to create the BRO but will not redirect you or give you a link to the existing one.

We could have it just force the existing BRO to be to the new parameters, but that might be bad since the existing notes might be lost. A couple id

[2017-11-17 02:22] bowlofeggs opened #2031 "Client crash when submitting multiple BuildrootOverrides in one call"
Mamoru TASAKA [reported](https://bugzilla.redhat.com/show_bug.cgi?id=1513836) to Red Hat Bugzilla that the Bodhi client crashes when a list of BuildrootOverrides are created in one call.

[2017-11-17 19:24] mohanboddu commented on #2029
I prefer 1st option, since if something went wrong with child update/layered image we will still be able to push parent update/base image. Where as in 2nd option one has to wait until the child update/layered image is fixed, which can be annoying.

[2017-11-17 19:30] bowlofeggs opened #2032 "Farm pungi jobs out to Koji"
@nirik proposed today that it would be really nice if we farmed out the Pungi jobs to Koji. This would allow us to run more of them in parallel, and would free up resources from bodhi-backend01 too.

[2017-11-17 19:31] bowlofeggs commented on #2029
@mohanboddu Yeah I think I agree. Thanks!

[2017-11-17 19:32] dustymabe commented on #2032
this might be related: https://pagure.io/pungi/issue/713

[2017-11-17 20:15] bowlofeggs commented on #2014
@nirik suggested a different name, so I will go with ```ComposeStatus```. It was also suggested that we stop saying "mash", perhaps preferring "compose" from now on.

[2017-11-17 21:44] bowlofeggs commented on #2014
After realizing that I was adding a ```status``` field to the ```ComposeStatus``` class, and the silliness of there being a thing called ```ComposeStatus.status```, I decided to call the new class simply ```Compose``` so that ```Compose.status``` would be the current state of the compose. Now we're getting somewhere with this bikeshed!

[2017-11-17 23:25] ghost commented on #1996
Hey I am a second year Engineering student . I want to contribute in this Organization.Any help given from mentors will be very helpful to me on how to contribute. i am a novice at this.

[2017-11-18 02:24] dhgutteridge commented on #1403
This is still an issue, only instead of being doubled at the point when it says "submitted for stable", it's now doubled at "submitted for batched".

[2017-11-18 12:44] puiterwijk commented on #2014
@bowlofeggs please take #1987 into account as well.
So you only need to store a single completed repo per Compose :).

[2017-11-19 21:29] bowlofeggs commented on #1996
@yashraj-Dhanuka To expand on the description, ```Update.comments``` is a sqlalchemy relationship field that returns all comments that are associated with a Bodhi ```Update```. Bodhi's ```Comment```s carry karma (an up vote or down vote on a proposed update), but developers can do things that should reset the karma on an Update (such as change the builds contained in the Update).

Since developers

[2017-11-21 08:48] remicollet opened #2034 "multi branch update stay on same page"
Previously, after a successful multi-branch update creation, after the "update split" message, we were redirected to the update list

Now, stay on the submit page (of course the submit button, if used, raise a message "an update already exists")

P.S. reproduced twice this morning for php-pecl-memcached and  php-zendframework-zend-serializer

[2017-11-21 14:53] bowlofeggs opened #2035 "PDC queries take too long and cause Bodhi requests to time out"
[```get_critpath_components_from_pdc()```](https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/util.py#L767-L798) is extremely slow. During some testing, @puiterwijk found that individual requests to PDC for f27 take 8-30 seconds, and there are 8 pages/8 requests. This is why the proxy server is timing out on Bodhi requests.

[2017-11-21 20:03] bowlofeggs opened #2038 "Bodhi is missing a uniqueness constraint on packages(name, type) due to a migration error"
@tyll and I have noticed that Bodhi is missing a compound uniqueness constraint on the packages table for the ```name``` and ```type``` fields, which is apparent when you ask alembic to autogenerate a migration.

I looked into the history and I think I found out what happened. It seems that there was a migration added to create this field in f404e248872e6a99ef5dc703f496dd729780f3b2. However, the f

[2017-11-21 22:00] bowlofeggs commented on #2034
Hi Remi!

I'm not sure I understand the issue. Was there a duplicate existing update that caused the multi-update form to fail? Or is multi-update creation always failing to show you the list of updates?

[2017-11-21 22:43] bowlofeggs opened #2040 "The sqlalchemy.url setting should default to PostgreSQL"
Since Bodhi only works with PostgreSQL, we should default the ```sqlalchemy.url``` setting to it. Here's what might be a same default:

[code]

Of course, any sane sysadmin should adjust this setting anyway, but it would be better if we defaulted to postgres instead of sqlite.

[2017-11-22 04:41] bowlofeggs opened #2041 "Cannot edit builds and notes at the same time"
@AdamWill reported on Freenode:

[code]

[2017-11-22 05:34] remicollet commented on #2034
Not, first time I use the button, there is no existing update, and creation is properly done, only without redirect.

If I use the button a second time, of course, it fails.

[2017-11-22 21:47] AdamWill commented on #2041
Couple of notes:

* I did try just editing the text for some of the relevant updates, and that didn't seem to work either.
* I've done this many times in the past without trouble.
* After the edit operation, the page didn't automatically refresh and show me the edited update as it usually would, but reloading it manually showed the new build in the update.

[2017-11-22 21:50] AdamWill commented on #2041
One more thing: the titles of the edited updates - as shown in Bodhi's summary views, like "fedfind-3.8.2-1.fc27 python-wikitcms-2.2.1-1.fc27 relval-2.2.0-1.fc27" - still refer to the *old* build (as you can see there, it says 3.8.2-1.fc27, not 3.8.3-1.fc27). But the 'builds' tab on each update shows the new build. Also, the usual 'events' that happen when you change builds in an update - those bo

[2017-11-22 22:28] bowlofeggs commented on #2041
I tried to reproduce what you are seeing with one of my updates, but I was able to edit the text without an issue: https://bodhi.fedoraproject.org/updates/FEDORA-2017-bb746cfd77

You mentioned that the old builds are still shown in the title - there's an open bug about that: https://github.com/fedora-infra/bodhi/issues/1946

I don't have time to investigate more deeply atm, but I noticed that the

[2017-11-24 04:43] abhiramr opened #2044 "Have the developer docs moved? The existing link points to a 404"
"https://github.com/fedora-infra/bodhi/blob/develop/docs/developer_docs.rst" that the developer documentation links to, doesn't seem to exist.

[2017-11-24 15:38] bowlofeggs commented on #2044
Hello @abhiii5459!

They have, and I forgot to update the README - thanks for filing this.

They are now at https://github.com/fedora-infra/bodhi/tree/develop/docs/developer. Note that some links inside there won't work because they are Sphinx docs and GitHub doesn't render those fully.

You can also browse the rendered docs from the most recent release here: https://bodhi.fedoraproject.org/docs/d

[2017-11-24 20:12] ghost commented on #1674
Hello, I have the same issue now.

How reproduce

* https://badges.fedoraproject.org/
* Login
* Change avatar
* Forbidden (403)

CSRF verification failed. Request aborted.

You are seeing this message because this HTTPS site requires a 'Referer header' to be sent by your Web browser, but none was sent. This header is required for security reasons, to ensure that your browser is not being hijacked

[2017-11-26 20:49] abhiramr commented on #2044
Thanks @bowlofeggs ! Closing this :)

[2017-11-27 03:52] bowlofeggs commented on #1674
@carlosm0rel If you are experiencing this in the badges app, I recommend you report the issue there:

https://github.com/fedora-infra/tahrir/issues

[2017-11-27 20:50] sumantro93 opened #2046 "search box doesn't sanitize trailing spaces"
when one searches for a package and mistakenly hits an extra space after the package name, the search box doesn't sanitize. On the other hand, the URL if is passed with search=foo<some space> gets sanitized automatically.

[2017-11-28 05:49] remicollet commented on #2034
Seems to work as expected again.
Perhaps some infra issue...

[2017-11-28 05:49] #2034 closed, assigned to nobody

[2017-11-29 02:44] dhgutteridge opened #2048 ""Submitted for batched" notifications can now be triggered and recorded multiple times"
This is likely related somehow to #717 and #1403, as it involves both of these issues, but there is an additional problem. I tried to add karma to [https://bodhi.fedoraproject.org/updates/FEDORA-2017-92a0ae09aa](https://bodhi.fedoraproject.org/updates/FEDORA-2017-92a0ae09aa), and the first two tries seemed to fail entirely (#717 again). This was shortly before it was pushed to testing. Then after

[2017-11-29 18:58] ghost commented on #2046
I would like to work on this issue , any help given will be much appreciated

[2017-12-01 03:27] bowlofeggs commented on #2046
Hello @yashraj-Dhanuka,

The search box makes a few simultaneous API calls to search different objects (packages, users, buildroot overrides, and updates). The code that handles the update search is here, for example:

https://github.com/fedora-infra/bodhi/blob/3.0.0/bodhi/server/services/updates.py#L263-L266

Notice that there are validators (search that code for "validators") that run before tha

[2017-12-04 17:57] jasontibbitts opened #2050 "RFE: Allow automatic closing of comments"
It appears that some users think that adding comments to an update which has been push to stable for weeks is a reasonable way to report an issue.  And while I don't want to ignore them, I also don't have a good way to answer them besides adding further spam to a long-closed update.

It would probably be best if we could somehow automatically close a ticket to comments after has been pushed to sta

[2017-12-04 20:50] tyll opened #2051 "Mention submission to batched in Bugzilla"
I submitted https://bodhi.fedoraproject.org/updates/FEDORA-2017-7527834878 to batched 5 days ago but Bodhi did not mention this in the bug report https://bugzilla.redhat.com/show_bug.cgi?id=1508177 - therefore the reporter. Since submitting to batched means an extra delay, please consider adding a notification to Bugzilla ideally with the estimated date of the next batch push.

[2017-12-06 18:52] #1922 closed, assigned to bowlofeggs

[2017-12-06 20:24] #2038 closed, assigned to bowlofeggs

[2017-12-10 05:02] shitalmule04 commented on #1902
@bowlofeggs I would like to work on this issue. I am new so can you give reference for environment set-up.

[2017-12-10 05:16] shitalmule04 commented on #1902
@bowlofeggs I think it requires to add **padding-left** and **padding-up** .

[2017-12-11 08:31] frenzymadness opened #2059 "Python 3 compatibility - final phase"
Hello.

This issue is here for tracking work on the final phase of making Bodhi Python 3 compatible.

Currently, Bodhi is somehow Python 3 compatible (PR #2006) but we cannot be sure everything is okay and we don't break Python 3 compatibility in the future until we enable tests with Python 3.

Known stuff currently keeping us from enabling tests with Python 3:
* pyramid-fas-openid - https://githu

[2017-12-11 18:49] #717 closed

[2017-12-11 18:49] #1245 closed, assigned to bowlofeggs

[2017-12-11 18:49] #2014 closed, assigned to bowlofeggs

[2017-12-12 14:17] bowlofeggs opened #2062 "Test failure due to integrity error"
The recent merges of pull requests combined to cause a test to fail that didn't fail on any individual pull request:

[code]

[2017-12-12 15:43] #2062 closed, assigned to bowlofeggs

[2017-12-12 17:40] linux-modder commented on #1737
@amitsin6h if you need any help I'm also willing to help you.

[2017-12-12 21:32] bowlofeggs opened #2071 "Bodhi's help text gives incorrect example for multi-build updates"
Petr Pisar [reported](https://bugzilla.redhat.com/show_bug.cgi?id=1515766) this issue originally:

[2017-12-13 01:15] AdamWill commented on #2041
So the affected updates are still screwed up (except the F26 one which somehow managed to get pushed successfully), and it's kind of a big problem for me. Can someone please just straighten them out by hand, or something? They are:

* [This one for F27](https://bodhi.fedoraproject.org/updates/FEDORA-2017-2b39d3fe2d)
* [This one for EPEL 7](https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2017-c

[2017-12-13 03:18] bowlofeggs opened #2076 "Home page does not load due to mandatory_days_in_testing() raising TypeError"
The home page currently does not load in the development environment due to a ```TypeError``` from ```mandatory_days_in_testing()```:

[code]

[2017-12-13 14:14] kparal opened #2077 "remove upgradepath from mandatory checks"
Currently, `dist.upgradepath` is listed in `site_requirements` in Bodhi. FESCo asked us to drop upgradepath check, because it's no longer important, see https://pagure.io/taskotron/issue/244. Due to that, we stopped executing it. Please remove it from the list of mandatory/important checks, thanks.

Grepping the source code, I see it mentioned in `production.ini` and `bodhi/client/bindings.py`.

[2017-12-13 14:58] bowlofeggs opened #2079 "The recently added backref=updates on the Update.release relationship slows front page"
The front page of Bodhi doesn't load within several minutes on the develop branch. I've traced it back to the recently added [```backref='updates'``` line](https://github.com/fedora-infra/bodhi/blob/5371bbd18611f85bb3767ba8968401b5f48f5e2f/bodhi/server/models.py#L1522):

[code]

Removing the backref gets the page to load quickly again.

[2017-12-14 12:11] dhowells opened #2081 "docs: No mention of "Push to Batched""
The Bodhi documentation, as is online here:

https://bodhi.fedoraproject.org/docs/

does not mention "Push to Batched" or what it does - at least in version 3.1.0.

[2017-12-14 15:02] bowlofeggs commented on #2015
@puiterwijk and I discussed what the API would look like today, and we came up with this:

GET /composes/
- List of compose data.

GET /composes/release/request/

POST /composes/release/request/
- Can be used to start the mash, or to resume.

POST /composes/
- Post a list of updates to create a set of composes, which are returned to you.
- Allow all the kinds of flags that push.py allows.
- The co

[2017-12-14 18:13] bowlofeggs commented on #2081
Your timing is perfect, as I just wrote a PR a couple days ago to document Bodhi's states:

https://github.com/fedora-infra/bodhi/pull/2060

Fedora's Bodhi instance is also documented at:

https://fedoraproject.org/wiki/Bodhi#Package_States

I'm closing this since there's an open PR to address it, but feel free to review that PR and comment if you want any improvements!

[2017-12-14 18:13] #2081 closed, assigned to nobody

[2017-12-14 18:38] #2071 closed, assigned to bowlofeggs

[2017-12-14 18:40] #2044 closed, assigned to bowlofeggs

[2017-12-14 19:56] #2076 closed, assigned to bowlofeggs

[2017-12-14 20:33] #2079 closed, assigned to bowlofeggs

[2017-12-14 21:34] bowlofeggs commented on #2041
Hmm yeah that is super weird. Looking at the first one, for some reason fedfind is tagged wtih
f27-updates-candidate even though Bodhi thinks it is in the testing repo.

I think we will need a release engineer to get involved because I don't have permissions to mess with Koji tags. Let's discuss in #fedora-releng.

[2017-12-14 22:03] bowlofeggs commented on #2041
I don't think this is a Bodhi bug, or at least not the f27 one. I used koji list-tag-history to see that Bodhi did not put the build into this state:

[code]

[2017-12-14 22:12] bowlofeggs commented on #2041
After talking with @puiterwijk I now do think it's a Bodhi bug - it lokos like the build never got tagged into testing even though Bodhi thinks the update is testing. I'm not sure how that happened yet.

[2017-12-15 15:39] bowlofeggs opened #2085 "bodhi-check-policies only operates on unpushed updates"
I noticed today when working on #1514 that the update query that ```bodhi-check-policies``` performs only selects [unpushed updates](https://github.com/fedora-infra/bodhi/blob/3.1.0/bodhi/server/scripts/check_policies.py#L40-L42):

[code]

I think this is probably not what we want, as [testing updates are marked pushed](https://github.com/fedora-infra/bodhi/blob/3b655f2/bodhi/server/consumers/mash

[2017-12-15 17:47] ralphbean commented on #2085
Interesting!  Good catch.

[2017-12-19 19:21] bowlofeggs commented on #1922
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 19:21] bowlofeggs commented on #717
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 19:22] bowlofeggs commented on #1245
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 19:22] bowlofeggs commented on #2014
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 19:22] bowlofeggs commented on #1930
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 19:22] bowlofeggs commented on #2038
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 19:22] bowlofeggs commented on #2071
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 19:22] bowlofeggs commented on #2076
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 19:23] bowlofeggs commented on #2044
The patch for this will be included in the upcoming 3.2.0 release:

https://github.com/fedora-infra/bodhi/pull/2092

[2017-12-19 21:06] bowlofeggs opened #2094 "The "Latest Critical Path Updates in Need of Testing" link isn't for critpath updates"
The home page has a link "Latest Critical Path Updates in Need of Testing", but if you click it it just takes you to all testing updates, not critical path updates.

This was reported by @AdamWill (thanks!)

[2017-12-19 21:11] AdamWill commented on #2035
The lack of critpath data for F27 is a critical issue that's causing us (QA) a serious problem I can't get around: openQA is running almost no update tests for F27 updates, because none are marked as critpath. Only updates to packages on the openQA scheduler's own testing 'whitelist' (which is mainly FreeIPA-related packages) are being tested at present.

[2017-12-20 00:06] mikebonnet commented on #1513
For reference, https://pagure.io/greenwave/issue/87 was completed at the end of October.

[2017-12-20 22:14] #2022 closed, assigned to bowlofeggs

[2017-12-21 14:52] #2026 closed, assigned to bowlofeggs

[2017-12-24 14:21] 0xsomesh commented on #2094
UpdateType class in `server/models.py` has only four types mentioned i.e bugfix, security, newpackage and enhancement. There is no mention of 'critical path' updates. I think changing in the url in template won't work. Can you guide how to go about it?

[2017-12-29 22:10] QuLogic opened #2103 "Unable to determine release of build in trashcan"
Somehow I managed to forget to make some updates for a couple builds, and just got an email about them being marked for deletion. So I re-tagged [`python-pep8-naming-0.4.1-4.fc26`](https://koji.fedoraproject.org/koji/buildinfo?buildID=991556) and [`python-pep8-naming-0.4.1-4.fc27`](https://koji.fedoraproject.org/koji/buildinfo?buildID=991557) into `f26-updates-candidate` and `f27-updates-candidate

[2018-01-02 12:45] hroncok opened #2104 "Bodhi is pushing EOLed Fedora updates to batched"
I've just received an e-mail with: *This update has been submitted for batched by bodhi.* It's a Fedora 25 update and I don't think this should happen after EOL.

See https://bodhi.fedoraproject.org/updates/python3-3.5.4-3.fc25#comment-714357

Originally reported at infra: https://pagure.io/fedora-infrastructure/issue/6599 - was redirected to upstream.

[2018-01-02 16:37] voxik commented on #1649
I was bitten by this again :/

https://bugzilla.redhat.com/show_bug.cgi?id=1293910#c15

[2018-01-03 21:31] QuLogic commented on #2103
Now that garbage collection has noticed they're tagged again, the packages are out of the trashcan and I can make an update out of them.

[2018-01-10 17:14] bowlofeggs opened #2108 "The web UI does not display Update severity"
It would be nice if the web UI displayed the severity of each update.

[2018-01-10 18:31] bowlofeggs opened #2109 "Some tests are failing due to asserting that it is 2017"
Some tests assume that it is 2017 and are failing as a result.

[2018-01-10 21:51] #2109 closed, assigned to bowlofeggs

[2018-01-12 21:35] bowlofeggs commented on #2104
I believe the proposed fix I wrote in https://github.com/fedora-infra/bodhi/issues/2104 will fix this too.

[2018-01-14 17:22] #1514 closed, assigned to bowlofeggs

[2018-01-16 14:01] #2035 closed, assigned to bowlofeggs

[2018-01-16 14:11] #1945 closed, assigned to nobody

[2018-01-16 15:09] remicollet opened #2112 "Positive karma after kame reset ignored"
Is this expected ?

- tester: add -1 on a update
- packager: fix the issue, add a new build
- bodhi: reset karma to 0
- tester: add +1 => ignored

Ex: https://bodhi.fedoraproject.org/updates/FEDORA-2018-ec4df5a741

[2018-01-16 15:09] remicollet commented on #2112
ignore, seems a cache issue

[2018-01-16 15:09] #2112 closed, assigned to nobody

[2018-01-16 15:34] #2085 closed, assigned to bowlofeggs

[2018-01-17 01:17] bowlofeggs opened #2114 "4 tests fail on systems when the local timezone has a different date than UTC"
I noticed today that 4 tests fail on my RPM dev box. Here's a snippet of one of them:

[code]

My RPM dev box is configured for US EST, which is UTC - 5 right now (and thus, it's Jan 16 here, but Jan 17 in UTC).

Strangely, at a cursory glance, both the masher and the tests seem to be using ```utcnow()``` to generate timestamps, so I'm not quite sure what the problem is. The test is asserting the

[2018-01-17 14:07] palnabarun opened #2116 "Invalid URL on Github Readme"
When I click on the `Developer Documentation` link shown [here](https://github.com/fedora-infra/bodhi), a 404 props up.

![image](https://user-images.githubusercontent.com/10010419/35046734-dcea9eec-fbbd-11e7-9c22-2428f3bb68f3.png)

This link should target [here](https://bodhi.fedoraproject.org/docs/developer_docs.html) I guess.

I would like to patch this up.

[2018-01-17 14:09] puiterwijk commented on #2116
This path has been changed in the new 3.2.0 version, which is planned for deployment into production soon.
That should make the url valid again.

[2018-01-17 14:09] #2116 closed, assigned to nobody

[2018-01-17 14:13] palnabarun commented on #2116
Oh. Okay.

Where is the new 3.2.0 version located?
Are the bugs in Github Issues with respect to the new 3.2.0 version?

[2018-01-17 14:54] bowlofeggs commented on #2116
3.2.0 is currently deployed to Fedora's staging instance:

https://bodhi.stg.fedoraproject.org

You can access the 3.2.0 developer docs here:

https://bodhi.stg.fedoraproject.org/docs/developer/index.html

The open bugs in GitHub are mostly all still real issues, with some possibility of older ones being stale.

[2018-01-17 16:00] bowlofeggs opened #2117 "null value in column "release_id" violates not-null constraint when creating updates"
While testing the 3.2.0 beta today I noticed that creating updates causes a traceback:

[code]

[2018-01-17 17:25] bowlofeggs opened #2118 "Bodhi's Release and Update models should have formal content types"
Right now there are validators in place to ensure that all the builds in an update are of the same content type (RPM, module, etc.), and that all updates in a release are the same content type. This is not particularly clean, and was done in the interest of time.

We should instead add a formal content type to the Update and Release models, and ensure that Builds have the same content type as thei

[2018-01-17 20:44] bowlofeggs opened #2121 "bodhi-check-policies doesn't filter updates by current releases"
While testing the 3.2.0 beta on stg today, I noticed that ```bodhi-check-policies``` asks greenwave about a bunch of EPEL 5 updates. It prints out error messages, similar to this:

[code]

[2018-01-17 21:54] #2117 closed, assigned to bowlofeggs

[2018-01-18 18:06] bowlofeggs commented on #2121
I timed a run of this CLI on staging today and it took 125 minutes. I expect we could make it much faster if we skipped all the EOL releases.

[2018-01-19 13:01] pypingou opened #2124 "Don't fail tests when there are no test results"
Looking at : https://bodhi.fedoraproject.org/updates/FEDORA-2018-5f09642217 right now the update is marked as "Tests Failed" and looking at the test results tab it shows: "The update can not be pushed: no test results found".

This is likely a race-condition between the check script and the test systems. The check script asked for a decision while the test systems had not finished running so it fo

[2018-01-19 13:29] bowlofeggs commented on #2124
There isn't a machine-friendly way for Bodhi to know this. Greenwave just has a ```policies_satisfied``` boolean. The "no test results found" is part of the summary, which is intended for humans to consume. In order to fix this, we need Greenwave to have a machine friendly state in its decision to indicate that a decision isn't ready yet.

[2018-01-19 13:29] pypingou commented on #2124
WFM

[2018-01-19 13:31] pypingou commented on #2124
Cross-ref: https://pagure.io/greenwave/issue/114

[2018-01-20 03:14] dhgutteridge opened #2130 "Bodhi has stopped registering feedback that references bug IDs the submitter has associated"
Until some time a couple of days ago, when I included feedback on a specific bug ID the submitter associated with a Bodhi update, it would register visibly in the content posted. Now it seems to have stopped doing this.

For example, I ticked off a bug in this submission a few days ago, and it's registered and visible as one would expect: [https://bodhi.fedoraproject.org/updates/FEDORA-2018-462f98

[2018-01-21 19:43] puiterwijk opened #2132 "Bodhi auto-pushes to batched updates with failing tests"
https://bodhi.fedoraproject.org/updates/FEDORA-2018-c3a9564750 has a failed abicheck, but Bodhi still submitted the update for Batched.

[2018-01-22 15:22] thozza opened #2133 "Can not push update to stable, even though there is a comment that I can"
https://bodhi.fedoraproject.org/updates/dnssec-trigger-0.15-1.fc27#comment-710350 contains a comment "This update has reached 7 days in testing and can be pushed to stable now if the maintainer wishes". However there is no "push to stable" button...

I tried using CLI "bodhi updates request FEDORA-2017-6fdbb08336 stable" however it failed with "This update has not yet met the minimum testing requi

[2018-01-23 05:27] remicollet commented on #2133
Same issue with
* https://bodhi.fedoraproject.org/updates/FEDORA-2018-edbc70d0df
* https://bodhi.fedoraproject.org/updates/FEDORA-2018-de41d0571b

[2018-01-23 08:03] remicollet commented on #2132
Please, notice that abicheck doesn't work for the PHP stack (extension packages provide 2 builds, 1 for NTS, 1 for ZTS, and are badly compared)

Example: https://taskotron.fedoraproject.org/artifacts/all/5a5778b2-fb6b-11e7-81b5-525400fc9f92/task_output/php-7.1.14~RC1-1.fc27.log

Reported as https://pagure.io/task-abicheck/issue/7

[2018-01-23 09:56] thozza commented on #2133
While Remi's tests failed, my situation is "no test results found". I'm not sure shat to do with that....

[2018-01-23 13:23] #1781 closed, assigned to puiterwijk

[2018-01-23 17:00] AdamWill commented on #2133
It seems like the Taskotron tests for this package really did not run, as there are just no automated test results for it at all. I am not sure what would cause that. Let's tag...

@tflink @rajcze

I think Bodhi and Greenwave are more or less doing 'the right thing' here, as the basic rule is 'the tests must have passed': if they weren't run, they haven't passed. But obviously it's not viable if t

[2018-01-23 22:23] AdamWill commented on #2133
So, after some real world discussion, it seems there are quite a few known cases where Taskotron tasks for some package just...didn't get run, for various reasons. This has always happened and never been a high priority to fix because it hasn't previously caused any major problems.

Of course, now we have a gating policy that effectively assumes that certain tests will *always* be run, it *does* c

[2018-01-24 05:13] remicollet commented on #2133
Also https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2018-83d84f5a97

+1

[2018-01-24 08:21] pypingou commented on #2133
There is also the work being done in https://github.com/fedora-infra/bodhi/pull/1779 (which needs to be re-done to integrate with [RATS](https://pagure.io/rats)) but that should help the whole situation.

[2018-01-24 08:36] AdamWill commented on #2133
Unfortunately it's not quite that simple. That PR is basically about implementing a system by which Bodhi (or anything else) can request that the test which led to a result in resultsdb be re-run. It doesn't encompass the work of having the test system actually re-run the test.

For the openQA cases that happens to be pretty trivial; I'll be able to hook it up in minutes or hours once the system i

[2018-01-24 11:01] AdamWill commented on #2124
@pypingou notes that if we flip the greenwave policy so that 'all tests absent' results in a 'good to go' decision, this problem will still exist, but kinda in reverse: bodhi might get a 'good to go' decision before the tests have run and cache it, then it'll still consider the update 'good to go' if some tests run and fail after that, up until the cached decision is refreshed (not sure on the det

[2018-01-24 11:57] pypingou commented on #2124
The cron script runs every 6 hours for the moment (it's meant to be replaced/complemented by a fedmsg client)

[2018-01-24 16:21] AdamWill commented on #2124
Ah, I see, so it's not intended as a caching mechanism, it's just a problem of knowing when to update the decision. So, as I recall ralph's talk, the plan is for greenwave to send a fedmsg whenever the decision for something changes, yes? How far are we away from that?

[2018-01-24 17:20] ralphbean commented on #2124
@AdamWill - https://apps.fedoraproject.org/datagrepper/raw?category=greenwave&delta=127800&rows_per_page=1

@bowlofeggs - yeah, there is.  See my comment in the greenwave issue @pypingou linked.

[code]

[2018-01-25 13:06] AdamWill commented on #2124
@ralphbean yep, @mohanboddu just told me the greenwave fedmsgs are working now :) that should help this out, I think, @bowlofeggs ?

[2018-01-28 08:38] kurianbenoy commented on #2108
Hi I was intrested in this issue. Can You shed some more on what I should do specifically

[2018-01-29 13:29] bowlofeggs commented on #2124
@AdamWill I think @ralphbean's code snippet will do the trick. I think the fedmsg consumer is orthogonal, because we will still want this cron job when we have the consumer (Bodhi does occasionally miss messages from time to time, so it's a belt and suspenders approach).

[2018-01-29 14:45] bowlofeggs commented on #2108
Hello @kurianbenoy,

Have a look at https://bodhi.fedoraproject.org/docs/developer/index.html to get started with Bodhi development. The UI template code in question lives here: https://github.com/fedora-infra/bodhi/blob/3.2.0/bodhi/server/templates/update.html#L753

Tests for that code are here: https://github.com/fedora-infra/bodhi/blob/3.2.0/bodhi/tests/server/services/test_updates.py

[2018-01-29 21:21] TomasTomecek commented on #2028
@runcom told me that @mtrmac is working on the support for manifest lists in skopeo (CC @owtaylor) #you-are-now-connected

[2018-01-29 23:44] bowlofeggs commented on #2028
On 01/29/2018 04:21 PM, Tomas Tomecek wrote:

#so-connected

[2018-01-30 12:48] mtrmac commented on #2028
@nalind is actually working on that in containers/image (the library backing `skopeo`), in https://github.com/containers/image/pull/400 .

[2018-01-31 19:13] puiterwijk opened #2136 "Please show BRO expired_date in the UI"
It would be very helpful to be able to view the expired_date for a buildroot override in the web UI.

[2018-02-06 15:48] AdamWill commented on #2124
note, there are several issues with the fedmsgs at present: see [greenwave #122](https://pagure.io/greenwave/issue/122) and [greenwave #123](https://pagure.io/greenwave/issue/123).

[2018-02-06 15:53] AdamWill opened #2138 "Automated test result retrieval (resultsdb) very slow again"
In #1428 changes were made to optimize automated test result retrieval from ResultsDB. For a while, this meant the 'Automated Tests' tab was populated very fast when visiting an update in the Bodhi web UI. But subsequent changes - probably things like #1439 , #1496 , #1653 , #1733 , #1847 - seem to have made it very slow again - possibly even slower than before. It can take two minutes or more bef

[2018-02-06 20:42] AdamWill commented on #2138
Well, now I'm testing it again locally, it's not crazy slow any more...about 20 secs per update. It may be that it was much worse when I was travelling due to network issues.

Most of the time seems to be spent on the query for Taskotron results: the openQA and pipeline queries seem to run much faster (tested by running them manually). I guess there's not much we can do to optimize that further on

[2018-02-07 00:01] mrjilc commented on #2009
I would like to work on this issue , any help given will be much appreciated

[2018-02-08 11:43] bowlofeggs opened #2141 "/usr/bin/alembic is for Python 3 on Rawhide"
/usr/bin/alembic has been [switched to be Python 3 on Rawhide](https://bugzilla.redhat.com/show_bug.cgi?id=1536058), which causes a test failure:

[code]

Ideally, we would switch this test to use ```/usr/bin/alembic-2```, but unfortunately that does not exist on Rawhide or F26/27 yet. I will attempt to see if I can get that package to provide that alias today.

[2018-02-08 12:39] bowlofeggs commented on #481
This was fixed by #2131.

[2018-02-08 12:39] #481 closed

[2018-02-08 15:31] bowlofeggs commented on #2138
One thing we could do is to have Bodhi keep a JSON blob of the test results in its database. If we did that, we would encounter classic caching issues (we need to make sure we know when new test results appear. We could make a fedmsg listener backed by a cron job so missing messages doesn't break things.), but it should make the page load much more quickly.

[2018-02-08 15:34] bowlofeggs commented on #2009
@mrjilc The comment handling code is [here](https://github.com/fedora-infra/bodhi/blob/3.2.0/bodhi/server/models.py#L2644-L2756).

[2018-02-09 10:38] mjg opened #2142 "Link to new packages app instead of pkgdb"
The fedmenu which the bodhi site used still links to the old pkgdb.
Please adjust to the new hotness, since pkgdb is defunct since August 2017.

[2018-02-09 14:18] bowlofeggs commented on #2142
Hello @mjg!

I'm actually not very familiar with the fedmenu code, but it looks to me like it's just JavaScript that Bodhi loads from https://apps.fedoraproject.org/fedmenu/js/fedmenu.js. I think that means we need to fix it here:

https://github.com/fedora-infra/fedmenu/

I've filed https://github.com/fedora-infra/fedmenu/issues/22 for you. Thanks for the report!

[2018-02-09 14:18] #2142 closed, assigned to nobody

[2018-02-09 19:07] bowlofeggs commented on #2141
I filed a PR to get this fixed:

https://src.fedoraproject.org/rpms/python-alembic/pull-request/1

Once those Bodhi updates go stable, we can correct Bodhi's test to use ```alembic-2```.

[2018-02-09 19:19] bowlofeggs commented on #1514
The patch for this feature has been included in the [```3.3.0b0``` build](https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html), which is currently deployed to [staging](https://bodhi.stg.fedoraproject.org).

[2018-02-09 19:19] bowlofeggs commented on #1781
The patch for this feature has been included in the [```3.3.0b0``` build](https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html), which is currently deployed to [staging](https://bodhi.stg.fedoraproject.org).

[2018-02-09 19:19] bowlofeggs commented on #2022
The patch for this feature has been included in the [```3.3.0b0``` build](https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html), which is currently deployed to [staging](https://bodhi.stg.fedoraproject.org).

[2018-02-09 19:22] bowlofeggs commented on #2026
This patch has been included in the [```3.3.0b0``` build](https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html), which is currently deployed to [staging](https://bodhi.stg.fedoraproject.org).

[2018-02-13 12:24] thmo commented on #752
Any updates here?

[2018-02-14 10:43] abitrolly opened #2150 "What is "pending" status?"
Can Bodhi interface explain what is pending? What can I do with package in pending state? What states are available to find the state I need? Why the current state like this and what is it waiting?

![image](https://user-images.githubusercontent.com/8781107/36199620-1fdfbb96-118b-11e8-8dc9-e5c0e3c48b2e.png)

In particular, I am trying to know when I can test https://bodhi.fedoraproject.org/updates

[2018-02-14 13:58] bowlofeggs commented on #2150
@abitrolly There is documentation on Bodhi's states that will be distributed with the upcoming 3.3.0 release. A beta for that version is deployed to staging, so you can see those docs there:

https://bodhi.stg.fedoraproject.org/docs/user/update_states.html

Updates are available in the ```updates-testing``` repository once they reach the ```testing``` state (not the ```testing``` request. It is po

[2018-02-14 14:12] bowlofeggs opened #2151 "Rename "masher" to "composer""
With the next major version of Bodhi, we should rename the "masher" to "composer" since mash is no longer used.

[2018-02-14 15:23] abitrolly commented on #2150
Mouseovers would be great as well as more detailed Pending status. https://bodhi.stg.fedoraproject.org/docs/user/update_states.html#pending lists additional checks to be performed, and it would be nice to get them visualized or highlighted in description.

[2018-02-15 20:25] bowlofeggs opened #2156 "bodhi-check-policies should set up a log handler to silence an error message"
From Freenode:

[code]

[2018-02-16 13:26] bowlofeggs commented on #2019
We will use a build tag in the candidate-registry, and Bodhi will manage it with BROs.

[2018-02-16 13:26] #2019 closed, assigned to nobody

[2018-02-20 12:48] zdohnal opened #2162 "Updates created by bodhi cli don't close attached bugzillas even with --close-bugs option added"
Hi,

I'm creating updates for my component by 'bodhi updates' cli command with '--bugs bugzilla_num --close-bugs' options, but update doesn't close attached bugzilla. Would you mind looking into it?

[2018-02-20 16:12] bowlofeggs commented on #2162
This is a duplicate of #1818. There's good news though, because @cverna sent a patch at #2149!

[2018-02-20 16:12] #2162 closed, assigned to nobody

[2018-02-20 16:20] zdohnal commented on #2162
That's interesting - I thought it worked around the time when  #1818 was created... anyway, sorry for duplicate.

[2018-02-20 16:47] bowlofeggs commented on #2162
@zdohnal no problem at all, thanks for the report!

[2018-02-22 16:43] bowlofeggs commented on #637
This is in progress by @frenzymadness: #2115

[2018-02-22 16:47] bowlofeggs commented on #187
I was working on an API for allowing users to request additional fields and I figured out how to express the schema you are requesting with Colander. I decided not to pursue the API I was working on as I found a simpler way to do what I needed, but I wanted to save the code snippet as it was relevant to this issue:

[code]

This schema allows the caller to provide a list for ```include_attributes`

[2018-02-22 19:21] bowlofeggs opened #2169 "Bodhi should not display the waiver DB UI if waiverdb.access_token is not defined"
Users will experience errors if they click on Bodhi's test waiving button when the ```waiverdb.access_token``` setting is not defined (since Bodhi won't be able to authenticate to WaiverDB. We should make it so Bodhi doesn't show those buttons to users if the setting is not "truthy".

[2018-02-22 21:55] bowlofeggs opened #2171 "Remove bodhi-monitor-composes"
```bodhi-monitor-composes``` has been replaced by ```bodhi composes list``` in #2170. We should remove the redundant CLI tool, but we need to do it with an X release because doing so would be backwards incompatible.

[2018-02-23 17:03] mattiaverga commented on #2009
I think that requiring a comment to be set is not the best thing. A user should be able to post only karma with an empty comment, or a comment with empty karma.

In my opinion a better way to proceed would be to check if both the comment field AND karma are void then warn the user and do nothing.

[2018-02-23 21:35] #2169 closed, assigned to bowlofeggs

[2018-02-25 07:54] mcepl commented on #1180
ping? having password in ``~/.bash_history`` (my current state) is stupid.

[2018-02-25 17:42] bowlofeggs commented on #1180
@mcepl This feature is not needed to solve that problem - simply don't use the Bodhi CLI's ```--password``` flag - it will automatically prompt you for a password if needed.

[2018-02-25 19:07] mcepl commented on #1180
Well, then either the password is so simple I can understand it, or secure and then I have to dig it up everytime from some secure store. I would prefer Kerberos (when we have it by the way of id.fedoraproject.org).

[2018-02-25 23:56] bowlofeggs commented on #1180
On 02/25/2018 02:07 PM, Matěj Cepl wrote:

Bodhi will only prompt you for a password about every 30 days, so IMO
it's not a big burden to use a secure store and a complex password.

There are not plans to integrate Bodhi with kerberos, but there are
plans to integrate it with OpenID Connect.

[2018-02-26 10:17] mcepl commented on #1180
Exactly, which was the question I had from beginning: how are these plans doing? Any ETA?

[2018-02-26 13:48] bowlofeggs commented on #2141
This PR was resolved. We should still switch our test to use ```alembic-2```.

[2018-02-26 18:33] bowlofeggs opened #2175 "The composer's send_testing_digest() will not mention currently composing security updates"
The recent composer refactor changed the ordering of some of the operations, and today I noticed that it resulted in the [```send_testing_digest()```](https://github.com/fedora-infra/bodhi/blob/3.3.0/bodhi/server/consumers/masher.py#L1071-L1120) method not invoking its code about security updates. It uses [```get_security_updates()```](https://github.com/fedora-infra/bodhi/blob/3.3.0/bodhi/server/

[2018-02-26 18:49] bowlofeggs commented on #1180
@mcepl Unfortunately it's not currently very close to the top of my personal priority list so I can't give an ETA on it. It's not low either, it's just that there are some big features that are planned for Fedora 28 and I'm swamped ☺ Patches are certainly welcome if you or anybody else has the time and inclination to get it working, though it's probably not a simple project and might take some sig

[2018-02-27 09:02] mcepl opened #2176 "RFE for lazy maintainers ... how many days is the package in testing?"
Unfortunately, most of packages I maintain has very low number of testers so (especially for EPEL branches) I usually end with waiting until the 7 (or 14) days expires and I can push it to the stable. Therefore, the following command is pretty common for me:
[code]
(BTW, there used to be parameter ``--mine`` as an alias for ``--user=$ME``, wasn't there?)
(and yes, I am afflicted by #752 as well :(

[2018-02-27 12:56] mcepl commented on #1957
+1 … either should bodhi behave as a good Unix tool and just spit out results and not care about consequences (and user would have to use ``less(1)`` or something), or if it does care it should make it possible to display all results.

[2018-02-27 16:49] bowlofeggs opened #2177 "Bodhi must be restarted after using bodhi-manage-releases to create a new release"
I noticed today that I needed to restart Bodhi after using ```bodhi-manage-releases``` to create a new Release object before I could create an update that used tags from that Release. I think this is due to some [permanent caching](https://github.com/fedora-infra/bodhi/blob/3.4.0/bodhi/server/models.py#L850-L895) in the Release model code. We should probably have changes to releases reset those ca

[2018-02-27 17:31] bowlofeggs commented on #2176
On 02/27/2018 04:02 AM, Matěj Cepl wrote:

```--mine``` is present in Bodhi >= 2.10.0:

https://bodhi.fedoraproject.org/docs/user/release_notes.html#id56

Good idea, thanks for the RFE!

[2018-02-27 20:26] bowlofeggs opened #2180 "The edit/push/unpush buttons do not work"
Due to some [extraneous code in the update template](https://github.com/fedora-infra/bodhi/blob/c07daf9/bodhi/server/templates/update.html#L84-L87), the Update page JavaScript fails to execute. This causes the edit/push/unpush buttons not to work and the test results not to load. It may cause other problems as well.

The fix is simple - drop the code.

[2018-02-28 13:52] bowlofeggs opened #2182 "The Koji URL is hardcoded in the update.html template"
I noticed today that the staging Bodhi instance was linking to the production Koji instance, and it turned out that the Koji URL is hardcoded in the [template](https://github.com/fedora-infra/bodhi/blob/3.4.0/bodhi/server/templates/update.html#L1013). We should use the value from settings instead.

[2018-02-28 15:05] bowlofeggs commented on #515
I believe this has been solved sometime in the past. For example, I can see a comment on [this kernel update](https://bodhi.fedoraproject.org/updates/FEDORA-2018-a3c4dabf9c) that says "This update has been obsoleted by kernel-4.15.6-300.fc27.", with a link to the new update.

[2018-02-28 15:05] #515 closed

[2018-02-28 15:43] bowlofeggs opened #2183 "The CLI cannot leave critpath karma"
The web UI can leave critpath karma, but the CLI cannot. We should bring the CLI to feature parity.

[2018-02-28 17:50] #1818 closed, assigned to nobody

[2018-02-28 19:31] #1091 closed, assigned to nobody

[2018-02-28 19:31] #1349 closed, assigned to nobody

[2018-02-28 19:33] #2180 closed, assigned to bowlofeggs

[2018-03-05 02:17] heis2201 opened #2189 "Bodhi does not recognize/process karma on kernel regression test"
Leaving karma on kernel regression test cases is not shown on the corresponding site (example: https://bodhi.fedoraproject.org/updates/FEDORA-2018-817647a89b)

[2018-03-05 18:33] bowlofeggs opened #2190 "bodhi-push overrides the kerberos ticket cache when run as root"
```bodhi-push``` is sometimes run as root instead of as ```apache```. When this happens, it overwrites ```/tmp/krb5cc_%{uid}``` and makes it only readable by root:

[code]

Once this state is achieved, the composer fails because it cannot use the ticket cache (since the composer would typically be run as the ```apache``` user.

@puiterwijk pointed out that we don't really need ```bodhi-push``` to

[2018-03-05 18:44] jasontibbitts opened #2191 "RFE: Allow an update to wait for another"
If you have a package which changes frequently, or even just a couple of times close together, you run into the issue of predicting whether the a newly submitted update will interfere with an existing one.

So it would be nice to be able to file an update, but ask bodhi not to begin processing it until doing so will not interfere with another pending update.

This could be as simple as having the

[2018-03-05 18:45] jasontibbitts commented on #2029
Note that this may be related to #2191, which I just filed.

[2018-03-06 17:51] bowlofeggs opened #2194 "Consider whether to remove the critpath_karma field"
Bodhi has a ```critpath_karma``` field that does not seem to be used for anything other than display in the UI. I started a [discussion](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/I2KT7Z4BCYP3ZJMVAKTEV5Y2TGDECRHQ/#IEI5SNVTP4TWRMOXSK5MEIM57W4DJQSG) to find out about its history. Perhaps we can remove it to clean some code up and to make the UI less confusing.

[2018-03-06 20:04] keszybz commented on #2194
+1 to removing it.

[2018-03-06 21:31] bowlofeggs commented on #2190
This patch will be included in the [3.4.1 release](https://github.com/fedora-infra/bodhi/pull/2179).

[2018-03-07 00:22] AdamWill commented on #2194
I explained why this exists and what it was meant for [here](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/7WO2MEFPKYCR6ND3T4OKP2NGMHGXHCZU/). I think it might be nice to actually revisit the ideas which this (and other currently under-used things in Bodhi) was meant to support, rather than just taking it out.

[2018-03-07 18:00] #2190 closed, assigned to bowlofeggs

[2018-03-07 18:19] #2027 closed, assigned to bowlofeggs

[2018-03-07 20:23] bowlofeggs commented on #2194
Cool. I like those ideas.

I propose that we do those ideas (in a separate ticket, yet to be filed) and use this ticket to make a simple change: if a user gives a -1 to critpath karma, automatically consider their regular karma to also be -1 (no matter what they set it to?). How does that sound?

[2018-03-07 20:50] #752 closed

[2018-03-08 08:59] deekej commented on #752
Thanks! :)

[2018-03-08 13:58] mcepl commented on #752
I would like to thank to, but I am still seeing ``youtube-dl-2016.12.09-1.fc23`` in my https://bodhi.fedoraproject.org/updates/?user=mcepl&status=testing . What is the ETA for the change?

[2018-03-08 15:07] bowlofeggs opened #2204 "Updates should get obsoleted when their release becomes archived"
We should mark all non-stable updates in a release as obsolete when the release gets archived.

We should also write a migration to obsolete existing updates that are associated with archived releases.

Once we've done this, we won't need the feature from #1845 anymore, so we can consider removing that as well.

[2018-03-08 15:17] bowlofeggs commented on #1943
We should also put the other Release related dynamic settings in the DB with this, such as the repomd settings:

[code]

[2018-03-08 17:35] bowlofeggs opened #2206 "Security updates should require severity to be set"
It recently came to [FESCo's attention](https://pagure.io/fesco/issue/1820) that security updates often don't have severity set by the packager (it's often set to "unspecified", the default). This makes it difficult to tell which updates might be important to push immediately, vs. waiting for the next batch. Outside of that problem, it would also be better for our users if we had indications on th

[2018-03-08 17:37] bowlofeggs commented on #2206
When implementing this, consider whether it may also make sense to force bugs to indicate severity. Enhancement and newpackage updates probably don't make sense to even have "severity", though it's harmless so we can let them have it without enforcing it.

[2018-03-08 17:37] bowlofeggs commented on #2206
https://github.com/fedora-infra/bodhi/issues/1814 will be a blocker for implementing this.

[2018-03-08 17:38] bowlofeggs commented on #2206
https://github.com/fedora-infra/bodhi/issues/1726 suggests disabling severity on newpackage and enhancement updates.

[2018-03-08 18:33] bowlofeggs opened #2207 "The CLI cannot view an Update's test_gating_status"
Since the test gating status is important for updates to proceed to stable, we should display it in the CLI.

[2018-03-08 19:33] bowlofeggs opened #2208 "Bodhi's REST API should separate the create and edit endpoints"
While working on #1814 today I discovered that the REST API will set an update's severity to "unspecified" if the POST data does not include the severity field. This means that users who edit an update with the CLI and don't specify a ```--severity``` will end up altering the update to reset its severity to "unspecified".

[2018-03-08 20:07] kkofler commented on #1726
A newpackage update can be urgent, if it is a new dependency of an upcoming urgent security update (think Firefox/Chromium-style packages that upgrade to new feature releases for security updates).

[2018-03-08 20:09] bowlofeggs commented on #2208
It turns out that it's not just severity that gets reset, but all fields get reset if not specified in a follow-on post. If I use the CLI to change an update to have a stable karma of 5 and then use it to make a different change and don't specify that karma, it gets set back to 3 in the later update. I think this is rather surprising.

[2018-03-08 20:09] kkofler commented on #1726
Likewise, an enhancement update can be urgent if it is a bumped dependency of an upcoming urgent security update.

[2018-03-08 20:46] bowlofeggs commented on #1726
On 03/08/2018 03:07 PM, Kevin Kofler wrote:

Yeah that's a good point.

Such a build could also be put into the same update as the security
update when this happens, however.

[2018-03-08 22:27] bowlofeggs opened #2210 "[M] Changes to test_gating_status should place comments on the update"
We should leave comments on updates whenever their ```test_gating_status``` attribute is changed. This is important so that packagers get notifications when their tests fail.

[2018-03-09 11:02] pypingou commented on #752
@mcepl it has been merged but not released yet. It'll be part of the next release.

[2018-03-09 17:25] bowlofeggs opened #2211 "Bodhi will not allow different streams of the same module to be updated at the same time"
There is code in Bodhi to make sure there is only one version of a package at a time (since this does make sense in RPM land). @puiterwijk realized yesterday that this will not work for modules, since they explicitly want to have more than one version of the same module available at a time.

We need to make it possible for different module streams to not obsolete each other.

[2018-03-09 21:29] #1430 closed, assigned to nobody

[2018-03-13 17:20] bowlofeggs opened #2214 "The CLI gives unhelpful error messages if --notes are not given"
I've not identified the cause of the issue yet, but I noticed that the CLI cannot create updates:

[code]

[2018-03-13 17:48] bowlofeggs commented on #2214
Surprisingly, it seems that the error is due to missing notes. If I include a ```--notes``` flag, we do not get the above error:

[code]

Thus it seems that we simply have an error message propagation issue, which is important to fix but not critical.

[2018-03-13 20:34] bowlofeggs opened #2216 "The Release has a uniqueness constraint on branch name"
While working on #2028 today, I discovered that I needed to use the container's release's branch in order to know the prefix on the container's name in the registries (i.e., if I am composing the s2i-core container, it's actually called f27/s2i-core in the registry, and I need to know that f27 prefix). Since containers have their own koji tags separately of the RPM koji tags, they will need to hav

[2018-03-14 14:18] bowlofeggs commented on #2138
A packager reported being unable to view test results on an update with a lot of packages today:

https://bodhi.fedoraproject.org/updates/FEDORA-2018-5ebe0eb1f2

I am able to reproduce it as well - eventually the JS gives up and times out, and you can't tell which test failure is blocking the update in greenwave :/

[2018-03-15 14:33] #1814 closed, assigned to bowlofeggs

[2018-03-15 14:45] #2216 closed, assigned to nobody

[2018-03-16 09:06] ferdnyc opened #2222 "Update page should sort buglist by RHBZ# (on both Details and Bugs tab)"
I saw some other sorting issues (fixed) here, but a couple of searches didn't turn up anything for this.

When an update has a _large_ number of associated bugs (esp. common with `selinux-policy` updates, like [this one](https://bodhi.fedoraproject.org/updates/FEDORA-2018-32ebae3424)), it can be almost impossible to find "your" bug in either the feedback form or on the Bugs tab, to submit/check it

[2018-03-16 13:35] bowlofeggs opened #2223 "CLI authentication failure cause traceback when there isn't a ticket cache"
Jaroslav Škarvada [reported](https://bugzilla.redhat.com/show_bug.cgi?id=1505326) a traceback upon authentication failures in Bodhi. I was not able to reproduce it at first, but I discovered that if I remove ```~/.fedora/openidbaseclient-sessions.cache``` I am then able to reproduce the traceback:

[code]

We should make new releases for the 2.11 and 2.12 series for this bug, so we can fix it on E

[2018-03-18 19:34] decathorpe opened #2224 ""no test results found" error, despite list of test results being displayed"
I submitted two updates to fedora {f27,f26}-testing about 12 days ago:

- https://bodhi.fedoraproject.org/updates/FEDORA-2018-c455a245b0
- https://bodhi.fedoraproject.org/updates/FEDORA-2018-4d0e13ff51

Both are still blocked from being pushed to stable because "no test results found", but browsing the "Automated Tests" tab shows test results, and manually querying resultdb also shows that all tes

[2018-03-19 16:39] heis2201 commented on #636
Please link bodhi messaging system to the preferences set in https://apps.fedoraproject.org/notifications/

[2018-03-19 16:57] bowlofeggs commented on #2224
The no test results found error is coming from Greenwave and Bodhi is just displaying it. I don't know why Greenwave is saying that there are no test results found, but I suggest filing an issue there:

https://pagure.io/greenwave/issues

In the meantime, I think it may now be possible to waive missing test results with waiverdb, so I recommend doing that in this case and moving along.

I'm going

[2018-03-19 16:57] #2224 closed, assigned to nobody

[2018-03-19 18:35] decathorpe commented on #2224
Thanks for looking into this. I've opened an issue with greenwave [here](https://pagure.io/greenwave/issue/141), as you suggested.

[2018-03-20 00:18] ralphbean commented on #2224
As in [greenwave#141](https://pagure.io/greenwave/issue/141):

[code]

[2018-03-20 14:24] bowlofeggs opened #2227 "Bodhi should display which required tests are missing"
@ralphbean [noted on Fedora's devel list](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/B7SLNO2H3PGLMKHMDNSATU5HGUYISLRK/) that Greenwave does give a list of missing tests to Bodhi when it blocks an update due to missing or no tests. We should display the names of the missing tests to users.

[2018-03-20 14:36] sharkcz commented on #2227
thx, I'm missing exactly this feature in the current web UI

[2018-03-20 14:59] #2028 closed, assigned to bowlofeggs

[2018-03-21 00:36] ralphbean commented on #2227
Yeah!  We can take it one step further too.  If Bodhi passes `verbose=True` to Greenwave in the original question, it will get back *all* the results that Greenwave sees in resultsdb, *including* the ones not required by the Greenwave policy.  Bodhi could then cache and display these on the Test Results page, which would *greatly* reduce the load on resultsdb itself.  Today, (I think), Bodhi prese

[2018-03-21 00:38] ralphbean commented on #2138
As noted in #2227 and in [greenwave#141](https://pagure.io/greenwave/issue/141), it should be possible for Bodhi to get the list of results from Greenwave at the same time it gets the decision.

[2018-03-21 01:16] bowlofeggs commented on #2227
@ralphbean Yeah I'm becoming convinced that it would be good for Bodhi to cache that stuff. Plus I can use it as an excuse to kill some JS and bring that stuff back into my happy place in Python land (with tests!). Well, maybe it'll just be template land, but still!

[2018-03-21 08:32] sharkcz commented on #2227
https://pagure.io/greenwave/issue/124 to provide both satisfied and unsatisfied requirement already exists

[2018-03-21 11:02] hroncok commented on #1038
Any update here? People are confused.

[code]

[2018-03-21 17:00] bowlofeggs opened #2236 "Invalid NVRs used in the update form result in a server-side traceback and no UI feedback"
I deployed 75095940601a80005eb0ee79ca39ec6956040ae3 to staging and found that I did not get a UI error when using an NVR that was unknown to stg koji, with this traceback:

[code]

[2018-03-21 18:46] #2236 closed, assigned to puiterwijk

[2018-03-22 13:23] ralphbean commented on #2227
Thanks for digging in @sharkcz.  That one should've been closed a while ago, with https://pagure.io/greenwave/pull-request/125

[2018-03-23 13:48] bowlofeggs opened #2241 "Drop Bodhi's "stacks" feature"
Bodhi has code to deal with "stacks", but it hasn't even been used. We should either figure out what would make it useful and finish it, or delete it.

If we delete it, we should also delete [```bodhi.server.models.BodhiBase.update_relationship()```](https://github.com/fedora-infra/bodhi/blob/3.5.1/bodhi/server/models.py#L470-L504) as it is only used by stacks.

[2018-03-23 14:36] bowlofeggs commented on #1970
Since pkgdb is no longer maintained upstream, I think we should just say that Bodhi will drop pkgdb support with the next X release.

[2018-03-23 20:14] frenzymadness commented on #1970
I completely agree. How can I help?

[2018-03-24 16:33] bowlofeggs commented on #1970
@frenzymadness I'm not yet at the point where I'm ready to make Bodhi-4.0.0, so I'd say there's nothing to be done at this point. I have the backwards-incompatible label on this ticket to remind me to look at it when it is time for Bodhi-4, so I won't forget. Thanks for the offer!

[2018-03-27 15:42] bowlofeggs commented on #2211
@puiterwijk fixed this in #2226.

[2018-03-27 15:42] #2211 closed, assigned to nobody

[2018-04-02 16:17] herrold opened #2255 "Bodhi 'forgets' previously added karma in EPEL matter"
see the archived email link at the bottom --- despite adding karma, the mailer thinks that none has been added

Date: Sat, 31 Mar 2018 20:00:27
From: updates@fedoraproject.org
To: herrold@owlriver.com
Subject: [Fedora Update] [comment] perl-Data-HexDump-0.02-28.el6

The following comment has been added to the perl-Data-HexDump-0.02-28.el6
update:

bodhi - 2018-04-01 00:00:26.759518 (karma: 0)
This

[2018-04-02 16:20] herrold commented on #2255
it _may_ be that karma needs to be repeatedly re-awarded -- if this is so, it feels like it is a bug to require such

[2018-04-02 16:22] puiterwijk commented on #2255
The `karma` part in those lines is an indicator whether that particular comment gave karma:

[code]

So this is as intended.

[2018-04-02 16:24] #2255 closed, assigned to nobody

[2018-04-02 16:25] puiterwijk commented on #2255
Also note that in the summary part of the same email, it indicates that the karma point is still valid:

[code]

[2018-04-03 15:37] bowlofeggs opened #2256 "libravatar is shutting down"
Libravatar has [announced that they are shutting down](https://blog.libravatar.org/posts/Libravatar.org_is_shutting_down_on_2018-09-01/). Bodhi uses this to give its users avatars. We should switch to something else, and should coordinate with the other Fedora apps.

[2018-04-03 20:18] bowlofeggs opened #2257 "The /csrf API returns the plain token in the development environment"
I have not done the debugging to determine why, but the ```/csrf``` handler returns the plain token in the Vagrant development environment, where it should return a JSON object containing the token. The recent beta I deployed to staging does the correct thing, so I am inclined to believe that this may be due to the development environment running the server on Python 3 instead of Python 2, since t

[2018-04-03 20:39] bowlofeggs commented on #2257
OK so the mystery deepens. I had tried deleting the dogpile cache, the pyc files, and restarting the server and the above problem persisted. Then I ran ```bresetdb``` (which drops and reloads the DB from prod) and now the ```/csrf``` view properly formats the response. Whaaaaaat is going on? I have no idea. I'm going to keep this open unless I don't see this again in some time.

[2018-04-04 17:12] bowlofeggs opened #2258 "Bodhi is not compatible with Cornice 3.2.0"
I noticed today that the Vagrant environment will not serve Bodhi:

[code]

After some debugging, I found that downgrading the Vagrant environment to Cornice 3.1.0 gets it working again. The cornice [changelog](https://github.com/Cornices/cornice/blob/3.2.0/CHANGES.txt) doesn't have anything that sounds like a backwards incompatible change, but @puiterwijk noticed a [commit](https://github.com/Cor

[2018-04-04 17:47] bowlofeggs commented on #2018
I alllllmost have this working, but I hit a snag that is going to increase the complexity of my patch a bit. It turns out that skopeo cannot remove tags from a registry, but can only remove entire images:

https://github.com/projectatomic/skopeo/issues/489

To work around this, I think I will use requests to make the necessary API call to the registry until skopeo supports the call we need. This w

[2018-04-04 20:59] bowlofeggs commented on #522
I've never seen this happen since I've been working on Bodhi, and hadn't noticed this ticket until today. I think it is probably safe to close. Do you agree @ralphbean?

[2018-04-04 21:00] bowlofeggs commented on #518
Is there any action to take on this ticket, or should we close it?

[2018-04-05 02:08] ralphbean commented on #522
Yeah, I guess it is a non-issue if *I'm* the one who ran into it.  I don't own any of those super crazy secure-boot packages.  :)  The owners there must have some workflow that doesn't bump them into this issue (or something..).  Closing!

[2018-04-05 02:08] #522 closed

[2018-04-05 04:39] elyscape opened #2260 "Add tooltips for comment timestamps with the full timestamp"
The timestamps on comments are human-readable but somewhat vague:

![Screenshot of a comment with a timestamp of "15 days ago"](https://user-images.githubusercontent.com/792695/38347407-2a7f8b58-3850-11e8-9a3b-21f4f3cdc709.png)

The Dates section on the right side of the page is the same but, when you mouseover the timestamp, a tooltip pops up with the full timestamp:

![Screenshot of the Dates se

[2018-04-05 11:11] ergo commented on #2258
Hi everyone, in the referenced issue I've left information why things are not working correctly anymore. Sorry for the inconvenience this caused but the real problem was being hidden from you all the time, it was always there, just the exception was not being thrown.

[2018-04-06 15:40] mattiaverga commented on #1905
What about something like this?
![screenshot_20180406_173011](https://user-images.githubusercontent.com/17218209/38430283-228b4974-39c1-11e8-955a-ddf544c0db64.png)
I think it's more clear, but would the button be too long in your judge?

[2018-04-06 16:41] mattiaverga commented on #2176
I can work on this.
But we need at least a 4 (or 5?) chars column for that, and the line is already at 80 chars:
[code]
Should I take the space from the name column? Or we can overpass the 80chars limit?
In my opinion the best option would be to remove the update type column ('newpackage') and use those 11 chars for the new column + more space for the name of the update. I don't think it's essenti

[2018-04-06 20:10] abitrolly opened #2261 "Add info how to test update"
https://bodhi.fedoraproject.org/updates/FEDORA-2018-2a55cd1b82 - from this page it is absolutely unclear how to test the update. How do you know?

[2018-04-07 09:11] mcepl commented on #2176
Either that, or just abbreviate (``new``, ``bug``, ``sec``)?

[2018-04-07 18:16] abitrolly opened #2263 "Using vagrant-lxc provider instead of vagrant-libvirt"
Is using `lxc` provider more beneficial in any way than `libvirt`? I thought that maybe `lxc` needs less memory or can take advantage of system installed packages?

[2018-04-07 18:37] dhgutteridge commented on #2189
Presumably this is related to the regression I reported in #2130.

[2018-04-08 16:11] bowlofeggs commented on #2023
This is done, but not with a --watch flag. For now I think the watch CLI tool will do.

[2018-04-08 16:11] #2023 closed, assigned to nobody

[2018-04-08 16:24] bowlofeggs commented on #1143
python-backoff could be useful for this.

[2018-04-08 16:48] bowlofeggs opened #2264 "The CLI should be able to waive test failures"
The web UI has the ability to waive failed tests - we should add this ability to the CLI as well.

[2018-04-08 21:48] ferdnyc commented on #2194
Some of that was rolled into the broader karma-handling, no? I'm thinking of this one, specifically:

As things now operate, Bodhi seems to disable autopush on receipt of negative regular karma, it isn't limited to the critpath karma.

(Which is probably the safer response. The concept of negative critpath karma as Bodhi's "big red Panic! button" for an update is an intriguing one. But because hit

[2018-04-08 22:02] ferdnyc opened #2265 "Tests that failed to run are shown as having passed?"
I'm honestly not sure where to file this, so I'll try here. Please do point me elsewhere if the issue isn't with Bodhi.

I happened to notice, reading [the taskotron output](https://taskotron.fedoraproject.org/artifacts/all/21e6e736-2615-11e8-8c58-525400fc9f92/tests.yml/rpmgrill.json) for [this Fedora update](https://bodhi.fedoraproject.org/updates/FEDORA-2018-32ebae3424) that the VirusCheck modul

[2018-04-09 06:47] keszybz commented on #2194
This is outside of the scope of the initial proposal, but since we're discussing various other ideas, I'll throw this out here as well:

I think we should also get rid of the negative karma threshold. IIUC, any negative karma currently disables autopush. Thus the negative karma threshold in bodhi is not useful, and should be removed.

We don't have proventesters any more, no? I'm not convinced to

[2018-04-09 16:04] bowlofeggs opened #2266 "Bodhi should display if an update has been wavied"
We should make the update page display a note if an update has been waived. It should display the user who added the waiver and their wavier message.

[2018-04-09 16:05] bowlofeggs opened #2267 "The CLI should display if an update has been waived"
Similar to #2266, the CLI should display waiver information on updates.

[2018-04-09 16:35] mattiaverga opened #2268 "Error running tests in Vagrant"
Launching 'btest' in Bodhi Vagrant test environment outputs: "-bash: flake8: command not found"

[2018-04-09 19:52] bowlofeggs opened #2270 "The waiverdb UI prompt doesn't explain what the text box is for"
If a developer clicks on the waive button on an update, there is a pop up that has a text box and a submit button. The UI does not explain the purpose of this text box and it should. The text box is supposed to be justification for waiving the test failure.

[2018-04-09 20:37] bowlofeggs opened #2271 "Locked updates cannot be waived in the UI"
The waive button is hidden when an update is locked. It should be visible when updates are locked.

[2018-04-09 20:40] bowlofeggs opened #2272 "Bodhi does not use the WaiverDB API correctly"
We gave Bodhi an auth token for WaiverDB today and it turned out that Bodhi's code for using WaiverDB's API is incorrect in two ways:

0. It uses "proxy_user" instead of "username" to specify the acting user.
1. It sends all waivers in one API call, but WaiverDB needs one waiver per API call.

[2018-04-12 14:06] bowlofeggs commented on #2268
Yeah, unfortunately the ```flake8``` package is not done correctly in Fedora:

https://bugzilla.redhat.com/show_bug.cgi?id=1545382

It does look like there is a ```flake8-2```, which I suppose we could switch to.

[2018-04-12 14:32] bowlofeggs commented on #2258
Thanks @ergo!

[2018-04-12 18:33] #2268 closed, assigned to bowlofeggs

[2018-04-12 19:51] elyscape opened #2281 "bodhi-approve-updates does not publish fedmsg notifications"
[The bodhi-approve-updates script][bodhi-approve-updates] runs periodically and comments on updates that have spent enough time in testing to be pushed to stable but have not received enough karma to be automatically pushed. However, since this comment is made as the bodhi user, [no fedmsg notification is sent][excluded]. It would be nice if either these comments were published to fedmsg anyway or

[2018-04-13 14:47] bowlofeggs opened #2282 "Bodhi should use or kill dogpile cache"
Currently, it seems that Bodhi sets up a dogpile cache but does not use it. We should either use it, or kill the dependency.

[2018-04-13 14:50] bowlofeggs commented on #2282
Nevermind, my grep wasn't very good. I had grepped for dogpile, but if you grep for ```request.cache``` you will find it is used for three things.

[2018-04-13 14:50] #2282 closed, assigned to nobody

[2018-04-13 18:59] bowlofeggs commented on #1905
@mattiaverga The future of the batched feature is uncertain as [FESCo has been debating](https://pagure.io/fesco/issue/1820) what to do with it.

That said, I'd probably prefer a mouse hover pop up to changing the text. The problem is that when the batch or stable goes out is a matter of deployment configuration (i.e., uptsream Bodhi doesn't know that stable means next day or that batched means ne

[2018-04-13 19:16] bowlofeggs commented on #1905
@mattiaverga The future of the batched feature is uncertain as [FESCo has been debating](https://pagure.io/fesco/issue/1820) what to do with it.

That said, I'd probably prefer a mouse hover pop up to changing the text. The problem is that when the batch or stable goes out is a matter of deployment configuration (i.e., uptsream Bodhi doesn't know that stable means next day or that batched means ne

[2018-04-13 19:23] bowlofeggs commented on #2261
We could probably add a template to the page that can fill in Fedora specific items for how to test an update.

In the meantime, you can install an update on Fedora like this:

[code]

[2018-04-13 19:40] bowlofeggs commented on #2176
@mattiaverga Greetings! I think the value in the type of update might simply be to know whether it is a security update or not. We could probably use a ```*``` somewhere on the line to indicate security updates and reduce it down to one column. I did that for the ```bodhi composes list``` command and I think it works well there. What do you think?

[2018-04-13 19:58] bowlofeggs commented on #2263
This is a good example of what I mean by customizing your Vagrantfile in my comment on #2262 - Bodhi just provides an example Vagrantfile to get you started, but you are free to go and make any customizations you want to it from there on out.

One option might be to add a ```devel/Vagrantfile.lxc.example``` and rename the existing one to ```devel/Vagrantfile.libvirt.example```, but the problem the

[2018-04-14 07:27] mattiaverga commented on #2176
That sounds good. I'll edit my PR to work like that.

[2018-04-15 21:09] mohanboddu opened #2283 "Adding an option to bodhi resume to create a new compose rather than using the existing one"
Sometimes a compose might break of multiple reasons and often not the compose successfully finishes and the push fails. Its a rare case, but it happens, so having an option to create a new compose during the bodhi resume even if the compose is successfully finished is sometimes useful.

[2018-04-16 14:27] bowlofeggs commented on #2283
@mohanboddu what would be the purpose of creating a new compose as opposed to reusing the existing compose? Bodhi forces the reuse of the existing compose on purpose now because it has the ability to avoid duplication of the steps in the compose. Reperforming certain steps of the compose can break things, and the compose object is used to keep track of this to help the system to be more reliable.

[2018-04-17 00:06] mohanboddu commented on #2283
@bowlofeggs There was an issue "Unknown checksum type "" for /mnt/koji/compose/updates/Fedora-27-updates-20180412.0/compose/Everything/source/tree/repodata/primary.xml.gz" and if I am not wrong, @puiterwijk fixed it by creating a new compose as the compose status was "FINISHED" and resume didn't help.

https://kojipkgs.fedoraproject.org/compose/updates/Fedora-27-updates-20180412.0/STATUS

It was o

[2018-04-17 20:38] sjenning opened #2287 "500 Error: KeyError: 'No such route named compose'"
[code]

Happen going to https://bodhi.fedoraproject.org/updates/FEDORA-2018-b4fb4d0b97 while logged in.

Update is currently Request: testing and Status: Pending

[2018-04-18 19:48] elyscape commented on #2281
Publishing the comment messages to fedmsg anyway would be easiest but I think that it would be better to create a new fedmsg topic. Is there a process for creating a new fedmsg topic?

[2018-04-19 15:50] bowlofeggs opened #2294 "We should move almost all code in bodhi.server.__init__ into a different place"
Today I've been working on adding some code to ```bodhi.server.main()``` to warm up a cache before the web server starts, and in order to do this I need to import the models. The problem is that I cannot import the models in ```bodhi.server.__init__``` since they are in ```bodhi.server.models``` (i.e., the same package).

The problem is very clear because the ```__init__.py``` file has lots of imp

[2018-04-19 21:46] bowlofeggs commented on #2287
Thanks @sjenning!

This was fixed in https://github.com/fedora-infra/bodhi/pull/2288

[2018-04-19 21:46] #2287 closed, assigned to nobody

[2018-04-19 21:59] bowlofeggs commented on #2281
There probably is a process, but I'm not sure if it's documented. I suggest asking in #fedora-apps on Freenode.

[2018-04-20 14:49] pypingou opened #2302 "Do not gate modules"
Currently we only have CI for RPMs, thus we shouldn't be gating any other artifact.

[2018-04-20 14:51] pypingou commented on #2302
@ralphbean is there a way we can teach greenwave about modules so it doesn't gate them?

This would render this ticket invalid while keep all the decision (to gate or not to gate) to greenwave.

What do you think?

[2018-04-20 15:13] pypingou commented on #2302
@ralphbean sent a patch to make this be handled in greenwave: https://lists.fedoraproject.org/archives/list/infrastructure@lists.fedoraproject.org/thread/ELBICUXVROZFS3TWY74YSW7BJDDN6WDI/

So let's close this ticket :)

[2018-04-20 15:13] #2302 closed, assigned to nobody

[2018-04-22 19:58] abitrolly commented on #2263
Maybe single file https://stackoverflow.com/questions/17059982/multiple-providers-in-a-single-vagrant-file will be easier to maintain?

[2018-04-23 18:40] bowlofeggs opened #2312 "PDC timeouts do not print a popup on the new update form"
While testing a bodhi-3.6.1 beta on staging today, there was an issue that prevented Bodhi from talking to PDC in staging. The backend logged this traceback:

[code]

Errors in Bodhi should be shown to the user, but all that happened was the Submit button stopped "spinning" and returned to the unsubmitted state.

[2018-04-24 14:39] bowlofeggs opened #2314 "RSS: ValueError: Required fields not set"
We see periodic HTTP 500's in the logs from users requesting RSS URLs like this:

https://bodhi.fedoraproject.org/rss/comments/?updates=FEDORA-2017-12e76e8364

[code]

[2018-04-24 17:15] #2272 closed, assigned to bowlofeggs

[2018-04-24 19:42] fche opened #2315 "bodhi must not update product!=fedora bug states in bz.redhat.com"
A fedora package update accidentally mentioned a RHEL product bug# in its update text, and thus bodhi dutifully set its state to ON_QA as the bug went through the fedora update system.  This is wrong: RHEL bugs' states should be off limits to community software/bots like fedora's.  Please ensure that bodhi checks for Product=Fedora before changing bug states.  (Perhaps bz.redhat.com. should have a

[2018-04-24 19:54] jsoref opened #2316 "exclude releases from the last page results in a nonsensical page"
1. load https://bodhi.fedoraproject.org/updates/?packages=clamav&page=6
2. click `Exclude old releases`

See:
[code]
Expected results:
[code]

[2018-04-26 13:31] bowlofeggs commented on #2315
This is a duplicate of #1043 so let's track it there. Thanks!

[2018-04-26 13:31] #2315 closed, assigned to nobody

[2018-04-26 14:13] #2281 closed, assigned to nobody

[2018-04-26 16:27] bowlofeggs opened #2317 "bodhi-push should not select Rawhide builds"
When we place Bodhi over Rawhide, we do not intend to have Bodhi compose Rawhide, at least not initially. As a result, we need to give the ```Release``` model a boolean to indicate whether the release is composed by Bodhi or not so that the Rawhide release can be marked as not composed by Bodhi. Then the ```bodhi-push``` tool should exclude releases that indicate that they are not composed by Bodh

[2018-04-26 16:33] bowlofeggs opened #2318 "The API needs a way for callers to specify that they want to create a side tag update"
Side tag updates will go through a different workflow than current updates do. A side tag update won't have a list of builds when it is created, because the side tag will be used to create the builds (i.e., they don't exist yet). Instead, the side tag update requires the user to specify a release for the side tag so Bodhi knows how to set up the tag in Koji. We can also allow the user to set the `

[2018-04-26 16:38] bowlofeggs opened #2319 "[L] API users should be able to merge side tags"
We need to add the ability for Bodhi to merge side tags. Bodhi should make sure the tests pass before merging, and it should also ensure there will be no conflicts due to the merge. Once the side tag update is merged, the update should either progress to stable (for Rawhide), or should go to updates-testing (for other releases).

If the merge fails, Bodhi should ensure that the packager has the in

[2018-04-26 16:42] bowlofeggs opened #2320 "Bodhi should expire side tag updates when their time is up"
We don't want side tags to stick around in Koji for very long because they are expensive. We need Bodhi to be able to expire side tags, deleting the tag in Koji and untagging any builds that are found in it for later garbage collection.

We may be able to reuse the existing buildroot override expiration CLI tool, or perhaps we can make a new tool for this.

[2018-04-26 16:46] bowlofeggs opened #2321 "Add a way for Bodhi to autopush updates to stable for Releases that don't have requirements"
For Rawhide gating we do not want to require updates to go through time in testing or karma, but instead we want to rely solely on automated test results. We should make it so Bodhi's test gating integration will send updates directly to stable upon passing test results if their associated Release does not have requirements for time in testing and also does not have karma requirements (i.e., both

[2018-04-26 16:58] bowlofeggs opened #2322 "[M] Document how packagers will use Bodhi to manage Rawhide, including side tags"
SSIA

[2018-04-26 19:29] bowlofeggs opened #2323 "[M] Investigation: Bodhi needs a way for packagers to re-request tests to be run"
In addition to waiving updates, we should offer a way for packagers to ask for tests to be re-run.

[2018-04-26 20:43] bowlofeggs opened #2324 "[S] The UI needs a way for users to create side tag updates"
Once the [API can create side tags](https://github.com/fedora-infra/bodhi/issues/3009), we should rework the UI so that users can create side tag updates or create traditional updates. We might be able to just add a new entry to the "Create" menu in the top bar that creates a side tag update, while reusing some of the existing create update form, but presenting a few different choices. For example

[2018-04-26 20:52] bowlofeggs opened #2325 "[S] The CLI needs a way for users to create side tag updates"
Similarly to #2324, the CLI also needs to be able to create side tag updates. This will also enable ```fedpkg``` to create side tag updates via the Bodhi CLI, if they like.

[2018-04-26 20:55] bowlofeggs opened #2326 "[S] Users should be able to merge side tags with the CLI"
SSIA

[2018-04-26 20:56] bowlofeggs opened #2327 "[S] Users should be able to merge side tags with the Web UI"
SSIA

[2018-04-26 21:01] bowlofeggs opened #2328 "A fedmsg listener should automatically create Rawhide updates for non-side-tag builds"
For non-multi-build updates on Rawhide we won't have side tags. Bodhi should monitor for new Koji builds with a fedmsg listener and automatically create updates for those builds. Once the tests pass, Bodhi should automatically send them on to stable.

[2018-04-26 21:09] #2121 closed, assigned to nobody

[2018-04-26 22:24] #2176 closed, assigned to nobody

[2018-04-27 16:04] mattiaverga commented on #1043
@bowlofeggs I can work on this.
In fact, it seems the `Bugzilla.modified()` method already checks if `bug.product` is in `bz_products` list, am I wrong to suppose that we only need to add the same check to the other methods? (what does the bz_products list include? The default in the config file is empty...)

About the check at creation time, I don't think that would be necessary: from what I can

[2018-04-27 16:38] jeremycline opened #2333 "Quote markdown does not work"
According to the Fedora-Flavored Markdown cheatsheet, using the ``>`` prefix should produce block quotes.

But it doesn't actually. https://bodhi.fedoraproject.org/updates/kernel-4.16.4-200.fc27#comment-774421 was supposed to read:

Yes... etc.

This makes reading comments containing quotes confusing :(

[2018-04-27 16:51] bowlofeggs commented on #1043
@mattiaverga Ah interesting, I'd never noticed that Bodhi did avoid messing with bugs with modified, but did not do so for other states. I think you might be right - we should just make it so Bodhi doesn't alter bugs in other states too (like the check in modified).

One question I am unsure about is whether Bodhi should comment on these updates (without changing states), or whether it really shou

[2018-04-27 16:52] fche commented on #1043
IMHO commenting alone is harmless & maybe helpful.

[2018-04-27 16:56] bowlofeggs commented on #2333
Yeah that does seem to be broken and the cheat sheet def says it should work. Thanks for the report!

[2018-04-27 19:26] bowlofeggs opened #2334 "Bodhi puts too much text into the Greenwave summary string"
A recent change (#2273) expanded the amount of text that would be stored in Greenwave's summary string. Unfortunately, updates now hit the limit of the size of the ```greenwave_summary_string``` column in the database now, leading to failures in the ```bodhi-check-policies``` cron job:

[code]

The data in this case is redundant. I think we should make the code that creates this string a little sm

[2018-04-27 19:59] bowlofeggs opened #2335 "Newlines in the greenwave_summary_string break the JavaScript that renders test results"
While testing #2273 in staging today, I noticed that updates that having missing tests do not render anything in the test results tab. I was able to reproduce this locally and I found that the problem is that the newline gets included in the JavaScript in a way that makes the JS invalid (and the browser refuses to process the rest of the JS as a result). The issue is [here](https://github.com/fedo

[2018-04-29 12:02] pypingou commented on #2334
For the second point, what about changing this field from varchar(255) to text()?

[2018-04-29 13:20] puiterwijk commented on #2335
Right, there's no way to put a newline in a javascript string, other than an explicit `\n` (i.e. escaped).

[2018-04-30 07:23] pcahyna commented on #2315
https://bugzilla.redhat.com/show_bug.cgi?id=1483514

[2018-04-30 14:02] bowlofeggs commented on #2334
@pypingou Since the string is called a "summary" I don't think we should need to make it an unbounded text field. I thought about this problem some over the weekend, and I think the right solution is to make a dedicated field for this data, perhaps even using PostgreSQL's json type to store it. This way the summary can remain the summary, and no special demarcation string is needed to separate the

[2018-04-30 14:03] bowlofeggs commented on #2335
As stated in #2334 I think I am going to add a new field to store the list of missing tests in. This way we don't need a special separator character.

[2018-04-30 14:55] bowlofeggs opened #2337 "psycopg2.IntegrityError: column "display_name" contains null values"
I broke Bodhi ☹

[code]

[2018-04-30 19:37] bowlofeggs opened #2340 "Drop the requirements feature"
Bodhi has code to ensure that updates pass certain test requirements that predates the Greenwave integration. Now that we have Greenwave integration, we don't need the requirements feature anymore. We can drop the ```Update.requirements``` column and remove it from the ```check_requirements()``` method.

[2018-04-30 20:09] puiterwijk opened #2341 "Switch from OpenID to OpenID Connect"
We should move to using OpenID Connect, including API tokens.

[2018-04-30 20:11] puiterwijk commented on #2341
Dupe of #1180

[2018-04-30 20:11] #2341 closed, assigned to puiterwijk

[2018-04-30 20:23] bowlofeggs opened #2342 "Bodhi does not gate updates based on Greenwave when updates have non-truthy requirements"
[```Update.check_requirements()```](https://github.com/fedora-infra/bodhi/blob/3.6.1/bodhi/server/models.py#L3165-L3248) returns True if ```Update.requirements``` is non-truthy. In Fedora's production Bodhi, updates do not have requirements by default, which means that the [greenwave decision check](https://github.com/fedora-infra/bodhi/blob/3.6.1/bodhi/server/models.py#L3243-L3244) is never reach

[2018-05-01 18:59] bowlofeggs commented on #2335
Disclaimer: I'm real bad at UX stuff.

I've been fiddling today with getting Bodhi to give more useful information to the user since I'm giving Bodhi a dedicated field to store Greenwave's unsatisfied requirements. Rather than just giving the user a list of test names that didn't run, I think we should just give them the full list of unsatisfied requirements. It's a little tricky to massage the da

[2018-05-03 03:49] abitrolly commented on #637
So how it goes?

[2018-05-03 05:35] frenzymadness commented on #637
I believe that almost all Bodhi code is Python 3 ready and we are working on tests now. There are still more than 300 tests skipped in Python 3 but it's mostly caused by tests incompatibility and not tested code incompatibility. Moreover, I fixed some bugs in the latest pull requests which may fix a lot more than included in PR so I'll test it soon.

[2018-05-03 10:13] frenzymadness opened #2350 "Subclass TestApp to automaticaly add header `accept` to get requests"
As you may spot in my previous pull request, a lot of tests can be fixed (in Python 3) just by specifying `accept` header to explicitly request JSON response.

Because now I know that this is the issue for a huge amount of tests, I have an idea. What about subclass `webtest.TestApp` and modify `get()` method to add this header automatically?

Actually, I tried it and it works well and looks simple

[2018-05-03 15:25] bowlofeggs opened #2351 "Bodhi lies about the number of proventesters that are required if there's a release override"
Today a [releng ticket was filed](https://pagure.io/releng/issue/7482) in which Bodhi [posted a confusing comment](https://bodhi.fedoraproject.org/updates/FEDORA-2018-fc3904edc1) on an update that said that 0 proventester karma points were required, when in fact 1 was required due to the F28 release having defined ```f28.post_beta.critpath.num_admin_approvals = 1```. The [code](https://github.com/

[2018-05-03 15:34] AdamWill commented on #2351
The proven tester concept is currently 'on hiatus', per https://fedoraproject.org/wiki/Proven_tester , and has been since 2013. No-one seems particularly passionate about bringing it back, at least not right now. Given that, I think it'd be fine to remove it from Bodhi if it makes things cleaner. I guess we could always wire it back in later on if necessary.

[2018-05-03 18:06] bowlofeggs commented on #2350
Hi @frenzymadness!

That plan sounds very reasonable to me. +1

[2018-05-03 18:06] bowlofeggs commented on #2350
Whoops, mean to hit comment not close.

[2018-05-03 21:57] #2334 closed, assigned to bowlofeggs

[2018-05-03 21:57] #2335 closed, assigned to bowlofeggs

[2018-05-04 07:37] frenzymadness commented on #2350
Great! I went further and I fixed almost everything and now I have only 19 skipped tests in Python 3 which is more than 300 unblocked tests.

I'll wait until the merge of PR #2286  and then I'll create a new PR.

[2018-05-04 13:29] #2337 closed, assigned to bowlofeggs

[2018-05-04 13:38] bowlofeggs commented on #2350
On 05/04/2018 03:37 AM, frenzymadness wrote:

Wow, that's fantastic!

[2018-05-04 13:47] bowlofeggs commented on #2350
Hopefully I'll be able to push that cornice update to stable on Monday so we can unblock #2286 next week.

[2018-05-04 17:48] #2342 closed, assigned to bowlofeggs

[2018-05-07 14:37] bowlofeggs opened #2357 "Cannot run database migrations on the 3.7 branch"
I built a beta out of the ```HEAD``` of the ```3.7``` branch, and the migrations fail to run:

[code]

It sounds like there's a migration on ```develop``` that is not on the ```3.7``` branch, and when I cherry-picked the migration back to ```3.7``` it now references a migration that does not exist. To fix this, I'll need to shuffle the order of the migrations.

[2018-05-07 16:13] #2357 closed, assigned to bowlofeggs

[2018-05-08 18:09] bowlofeggs opened #2360 "Waivers are not displayed to users"
While testing the patch from #2277 in staging today, I found that the patch does not work - Bodhi does not display existing waivers to users in the UI. Instead it prints 0's for each waiver:

![screenshot from 2018-05-08 14-08-01](https://user-images.githubusercontent.com/354506/39774572-45bf063a-52c9-11e8-8dfb-3bf9d5d6c2e7.png)

[2018-05-08 18:14] bowlofeggs opened #2361 "Waiving failed gating tests pops up an error in the UI, even though the waiver was successful"
I discovered today while testing WaiverDB integration in staging that waiving failed gating tests pops up an error in the UI, even though the waiver was successful:

![screenshot from 2018-05-08 14-11-55](https://user-images.githubusercontent.com/354506/39774800-f11c384a-52c9-11e8-9825-73c8281ef558.png)

This may be due to the JS interpreting the [HTTP 201](https://http.cat/201) response as an err

[2018-05-08 18:25] bowlofeggs opened #2363 "The waiver button waives only one failed test, and it does not tell the user which"
The "Waive Test Results" button makes a pop up with a form with a text area and a submit button. The form does not explain itself - it doesn't tell you what you are meant to type into the box, and it also does not indicate which test you are waiving:

![screenshot from 2018-05-08 14-11-28](https://user-images.githubusercontent.com/354506/39775176-14990040-52cb-11e8-8002-573a9f790b1e.png)

When the

[2018-05-08 18:27] bowlofeggs opened #2364 "Waiving an update leaves its test_gating_status in a failed state"
If a user waives failing tests on an update using the waive button, the update stays in a failed state until the next time the cron job runs. It would be more sensible to put it back into the "waiting on test results" state.

[2018-05-08 19:40] bowlofeggs commented on #2360
This was fixed by #2362.

[2018-05-08 19:40] #2360 closed, assigned to nobody

[2018-05-08 19:44] bowlofeggs opened #2365 "[S/M] The waiver hoverovers in the web UI do not say what the name of the waived test was"
If I hover over the cloud icons on an update that has waivers, it tells me the waiver number (not particularly useful) and the comment the person submitted with their waiver (useful). It does not tell me which test was waived and that would be useful to know.

![screenshot from 2018-05-08 15-43-07](https://user-images.githubusercontent.com/354506/39779265-a4e3003c-52d6-11e8-80c1-f07b01f1fb34.png)

[2018-05-09 14:55] bowlofeggs opened #2368 "The compose fails if any updates are kicked out due to failing test gating"
We started enforcing test gating in the composer in #2346. Today some of the composes failed after kicking some updates out of the compose for failing the test gating check, with this message:

Message
-------
[2018-05-09 14:35:37][bodhi.server   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend01.phx2.fedoraproject.org
- PID:      57207
- name:     fedmsg-hub
- command:  /u

[2018-05-09 16:29] bowlofeggs opened #2369 "It is not obvious what the cloud icons for waivers are for"
Bodhi's UI displays waivers as little clouds with up arrows in them in the "Test Gating Status" area:

![screenshot from 2018-05-08 15-43-07](https://user-images.githubusercontent.com/354506/39779265-a4e3003c-52d6-11e8-80c1-f07b01f1fb34.png)

It's not obvious that these serve a purpose, unless you hover over them. Two ideas to improve this:

1. Make a "Waivers" section and put them there.
2. Use s

[2018-05-09 17:08] bowlofeggs commented on #2369
Here's an update with a waiver: https://bodhi.fedoraproject.org/updates/FEDORA-2018-a13691074b

[2018-05-09 17:17] ralphbean opened #2370 "Bodhi should live query greenwave"
Talking with @bowlofeggs today, we think that the database table cache, and the cronjob and the fedmsg updater are not worth it for the greenwave integration.

Instead, let's do a few things:

- [x] Replace the frontend display of resultsdb results and greenwave decision with a live ajax query to greenwave to get both the results and the decision.
- [ ] Replace the backend query of the cache at co

[2018-05-09 17:27] ralphbean commented on #2364
If we do #2370, this one should get solved as a side-effect.

[2018-05-09 17:28] bowlofeggs commented on #2370
If we do this refactor as proposed, I believe #2364 should be automatically fixed.

[2018-05-09 17:30] ralphbean commented on #2365
Yes.  I *think* that this issue should be fixed if we move the waiver notifications all to the "test results" page where we can spell out exactly what was waived.

We could display "Tests Passed" but with an asterisk indicating that there is at least one waiver.  Clicking will take you to the test results page with all the gory details.

See also #2370.  It is a refactor task which will hopefully

[2018-05-09 18:04] bowlofeggs commented on #2370
Thanks to @puiterwijk for placing the thought of this design into my head ☺

[2018-05-09 18:12] bowlofeggs opened #2371 "[L/S, depending on Greenwave or not-Greenwave] Bodhi does not show which tests are missing"
There was a [recent patch](https://github.com/fedora-infra/bodhi/pull/2345) that was aimed at adding a list of unsatisfied test requirements to the top of the test results. Unfortunately, it was designed to use some data that [Greenwave no longer returns in production](https://pagure.io/greenwave/issue/169#comment-511247) which means the feature does not work.

We need to make it so Bodhi can show

[2018-05-09 18:14] bowlofeggs commented on #2371
https://pagure.io/greenwave/pull-request/184 is likely relevant to pay attention to for this ticket, as the Greenwave v2 API may present this data in a different and more structured way than the current API.

[2018-05-09 18:18] bowlofeggs commented on #2370
Technically removing the test_gating_status from the DB will also remove it from the API, unless we make the API also live query Greenwave. I'm OK with removing it, but we should note that if we do that it will be a backwards incompatible change. I've been piling up quite a few of those for a while, so maybe it's just time to make Bodhi 4 now.

[2018-05-09 18:29] ralphbean commented on #2370
More like Bodhi 4000 :rocket:.

[2018-05-10 12:08] mtasaka opened #2372 "3.7.0(?) seems to fail to recognize updates-pending status"
Today, I see lots of messages like this: https://bodhi.fedoraproject.org/updates/FEDORA-2018-d8511ad131
[code]
, although magic-8.2.60-1.fc27 seems to be already tagged as f27-updates. Another example is https://bodhi.fedoraproject.org/updates/FEDORA-2018-0efbc823e5 , and actually there are others.

So currently today's updates status  seems inconsistent. Would you investigate current status?

[2018-05-10 13:45] bowlofeggs commented on #2368
I am raising the priority on this as the severity is worse than I had realized when I wrote the ticket yesterday. I learned today that this traceback happened after several builds had their tags altered in Koji. When this traceback happened, those builds remained re-tagged in Koji but Bodhi did not record which ones had been altered. The next day when the compose was resumed, Bodhi ejected many up

[2018-05-10 14:41] bowlofeggs commented on #2368
I am working to fix the builds that have gotten into this state here:

https://pagure.io/fedora-infrastructure/issue/6925

[2018-05-10 14:47] bowlofeggs commented on #2372
Hi @mtasaka!

This is due to #2368, so let's track the issue there. See also https://pagure.io/fedora-infrastructure/issue/6925 which is where I'm tracking fixing Fedora's deployment of Bodhi.

[2018-05-10 14:47] #2372 closed, assigned to nobody

[2018-05-10 18:35] bowlofeggs commented on #2371
I learned from @ralphbean that Greenwave may not have changed which things it returns, but that it might just not always return "koji_builds" when there are missing tests. Thus, perhaps it was a bad idea for me to have filtered for those in my patch. The goal there was to eliminate duplicates because there can be two elements in the greenwave response that are both the NVR and I only wanted to dis

[2018-05-10 21:02] bowlofeggs commented on #527
This appears to be about bodhi-0.9 based on the traceback, and this repo is for Bodhi >= 2 (currently 3.7.0).

[2018-05-10 21:02] #527 closed

[2018-05-10 21:07] bowlofeggs commented on #619
EL 5 went end of life a while ago, so I will close this.

[2018-05-10 21:07] #619 closed

[2018-05-10 21:09] bowlofeggs commented on #638
We intend to drop ```bodhi-push``` in favor of giving Bodhi a compose management API, so we probably don't need to do this anymore.

[2018-05-10 21:11] bowlofeggs commented on #658
This was because the package was already tagged into ```f23```, and therefore did not need an update.

[2018-05-10 21:11] #658 closed

[2018-05-10 21:12] bowlofeggs commented on #678
I'm not sure there is enough info here to identify the issue at this point, and I doubt we have logs from 2.5 years ago (and if they do exist, they would likely not be useful now since Bodhi has changed a great deal since then). I'm closing, but please do reopen if you have trouble again.

[2018-05-10 21:12] #678 closed

[2018-05-10 21:13] bowlofeggs commented on #693
It doesn't sound like there is any further action to take on this issue. Please reopen if you disagree.

[2018-05-10 21:13] #693 closed

[2018-05-10 21:14] bowlofeggs commented on #694
Since this was reported 2.5 years ago, I don't believe there is server side logging left to aid in debugging this. Furthermore, Bodhi has changed a great deal since then, so even if we had the logs it may not be useful. I'm going to close this, but feel free to reopen if you see this again.

[2018-05-10 21:14] #694 closed

[2018-05-10 21:15] bowlofeggs commented on #695
I think this works properly these days. Please feel free to reopen if you disagree.

[2018-05-10 21:15] #695 closed

[2018-05-10 21:15] bowlofeggs commented on #696
That form actually queries https://apps.fedoraproject.org/packages/, so if that app doesn't know about a package than neither will Bodhi. I suggest reporting the issue there if you see it again.

[2018-05-10 21:15] #696 closed

[2018-05-10 21:16] bowlofeggs commented on #698
Does this still happen? I've not observed this problem before. I'm going to close it, but feel free to reopen if you think it is still an issue.

[2018-05-10 21:16] #698 closed

[2018-05-10 21:24] bowlofeggs commented on #704
I am unable to reproduce this problem. Since it's been 2.5 years, it seems likely someone fixed it along the way. Feel free to reopen if you experience it again!

[2018-05-10 21:24] #704 closed, assigned to nobody

[2018-05-10 22:00] raveit65 commented on #693
f23 is EOL since a log time. Why generating spam-mails? Silent closing bugs is sufficient......

[2018-05-11 15:22] #2361 closed, assigned to ralphbean

[2018-05-11 16:35] bowlofeggs commented on #2370
Question: would it be interesting to have the Bodhi backend live-query Greenwave instead of doing it in JS? Pros/cons:

Pro: We can share more code between the CLI and the web UI for test gating - 1 implementation instead of 2.
Pro: IMO, the mako templating language is nicer to work with than creating HTML with JS
Con: Bodhi's response will be slower than it is now.

@puiterwijk suggested a hybrid

[2018-05-11 16:37] bowlofeggs commented on #2370
No matter how we do this, we will need to make sure Bodhi does sane things when Greenwave doesn't give back a response in time, or when it gives back an error.

[2018-05-11 17:16] bowlofeggs commented on #2370
We had a big discussion about this in #fedora-apps today. I think we all seemed to come to the conclusion that neither of the three proposed methods is obviously superior to any of the others, so I think the pure JS proposal is fine as the de-facto proposal. Here's a slice of that discussion (there's more but we got into all kinds of other topics so I'm snipping it to just this bit):

[code]

[2018-05-11 19:37] nirik opened #2374 "Clear completed repo from status when repo sanity checks fail"
Sometimes we have hit a case where repo sanity checks fail. Usually a nfs problem or the like.

The "fix" is to go into the db and tell it on the status of that compose that it doesn't already have a completed repo and resume it. It then recreates the repo/re-runs pungi and hopefully all is well.

If it could just wipe that completed repo status anytime the repo sanity checks failed it would help

[2018-05-13 07:59] mattiaverga commented on #2333
It's a css style problem, not a code fault.
`fedora-bootstrap` css doesn't style block quotes, so solutions are: open a bug on fedora-bootstrap asking them to modify the defaults, or override the style ourselves in `static/css/site.css`:
[code]

By the way, Bodhi embeds fedora-bootstrap 1.0.1 which is old, upstream is now at 1.2.0 (but doesn't fix this issue either).

[2018-05-14 12:30] ralphbean commented on #2370
Assigning to myself to do the javascript part.  Will try and remember to unassign when I'm done.

[2018-05-14 15:12] bowlofeggs commented on #2333
@mattiaverga Thanks so much for looking into this! I would be amenable to either solution, or we could even pursue both (add CSS to Bodhi temporarily, until it's fixed in fedora-bootstrap).

[2018-05-17 16:02] mattiaverga commented on #1087
I think I found another case maybe related to this.
A [multiple package update with ghostscript-9.23-2.fc28](https://bodhi.fedoraproject.org/updates/FEDORA-2018-aae2d44488) was in testing repos, then [ghostscript-9.23-3.fc28](https://bodhi.fedoraproject.org/updates/FEDORA-2018-39e37799a3) was pushed to the testing repos by another user, but Bodhi did not obsoleted the old update.

I think Bodhi sh

[2018-05-17 19:30] bowlofeggs commented on #2361
This patch is planned to be included in the upcoming [3.8.0 release](https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html) and is currently deployed to [Fedora's staging Bodhi instance](https://bodhi.stg.fedoraproject.org).

[2018-05-17 19:32] bowlofeggs commented on #2176
This patch is planned to be included in the upcoming [3.8.0 release](https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html). You can get a copy of the RPM from my [bodhi-pre-release Copr project](https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/).

[2018-05-18 13:12] bowlofeggs commented on #1087
@puiterwijk has been suggesting the same thing, and he's convinced me to believe it's the best path forward as well.

[2018-05-21 16:48] #2368 closed, assigned to bowlofeggs

[2018-05-21 20:48] bowlofeggs commented on #2368
The patch for this issue will be included in [```3.8.0```](https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html#v3-8-0), which is currently deployed to [staging](https://bodhi.stg.fedoraproject.org).

[2018-05-23 06:49] tkdchen opened #2384 "Show `koji --profile stg` in override?"
I created an override[1] in bodhi.stg. In this screenshot, should the `wait-repo` command work against Koji stage? Or does bodhi.stg just work with Koji prod?

![screenshot-2018-5-23 fedora updates system](https://user-images.githubusercontent.com/919706/40407789-28661184-5e98-11e8-84d7-bcdbdc8db56d.png)

[1] https://bodhi.stg.fedoraproject.org/overrides/rpkg-1.54-2.fc26

[2018-05-23 18:31] bowlofeggs opened #2385 "Bodhi doesn't always close its database connections after requests"
I noticed last night in staging that Bodhi was sometimes logging this traceback:

[code]

It seemed odd at first, since the particular rev of the beta only altered code in the composer and not in the web requests.

Thanks to a co-debugging session with @puiterwijk, we came to learn that Bodhi does not call (```get_db_session_for_request()```](https://github.com/fedora-infra/bodhi/blob/3.7.0/bodhi/

[2018-05-24 13:49] bowlofeggs opened #2387 "Drop Bodhi's uniqueness constraint on e-mails"
Bodhi currently has a uniqueness constraint on e-mails. This causes problems when users have more than one account and then change an account's e-mail address to be the same as the other accounts. When they log into Bodhi, they will get a crash because Bodhi hits the e-mail field's uniqueness constraint check. Bodhi does not look up users by e-mail address, and only uses the field to send e-mails,

[2018-05-24 15:58] bowlofeggs opened #2388 "Some unit tests construct their own app object instead of using the base class's"
There are some unit tests that construct their own app object instead of using the one constructed by the base class. The primary reason this seems to happen is that they want to override some configuration, but it is possible to do this with mock instead of constructing an app. The problem with constructing an app is that there seems to be a memory leak in the app object, and constructing more of

[2018-05-25 01:24] #2385 closed, assigned to bowlofeggs

[2018-05-25 16:23] bowlofeggs opened #2390 "Bodhi's Waiver API is not documented"
We forgot to add Bodhi's Waiver API to the docs when it was added earlier this year.

[2018-05-25 21:00] ferdnyc commented on #2265
The issues with clamscan specifically are being addressed @ the bugzilla report, and if I'm understanding it correctly #2371 tracks the same "missing-tests-are-shown-as-passed" issue as I've reported here. Closing this in favor of #2371.

[2018-05-25 21:00] #2265 closed, assigned to nobody

[2018-05-26 02:34] tkdchen commented on #2384
@bowlofeggs Could you give me some guidance and hint where the problem happens inside Bodhi? I'm willing to help.

[2018-05-29 06:58] tyll commented on #1266
IMHO it would be better to not block or waste the contributors work.

1. if the older update is locked/in a push (I guess to testing), then the new update could be put in a waiting state and once the push is completed, Bodhi could obsolete the old update
2. if the older update has multiple packages attached to it, bodhi should offer to update the older update and replace the builds and make it eas

[2018-05-29 20:08] bowlofeggs commented on #2384
Hello @tkdchen!

Fixing this would be kind of complex and may not be worth the effort in my opinion. The problem is that Bodhi's server doesn't have a concept of staging vs. production, and even further Fedora's Bodhi is not the only Bodhi deployment in the wild. I think this problem would affect few users, so I personally would recommend not worrying about it.

That said, if you do want to pursue

[2018-05-29 21:00] bowlofeggs commented on #1266
@puiterwijk has been advocating to just have Bodhi be mean and refuse to create new updates when packages are found in other active updates. It would be less fancy, but it will also solve a few difficult-to-solve issues.

Even the request: stable state can be a problem, because it is possible for a packager to click "unpush" on it, which could get it back into a state of conflict.

[2018-05-29 22:00] nirik commented on #1266
Well, I think just denying it is the easy solution we might be able to deploy sooner rather than later.

Some of those other solutions could be things we implement down the road, but the problem is that it's hard to know what the submittor intends, and there's tons of weird corner cases because sometimes maintainer A submits something and maintainer B is doing something else. Rejecting the second

[2018-05-29 22:17] tyll commented on #1266
My opinion is that the machines should server the humans and not the other way around. If the maintainers intention is unknown, then they need to be kept in control. If automatically doing something with updates in the waiting state, they could just stay there and wait for the maintainer to submit them to testing. And if they are too old they could be garbage collected.

And if there are multiple

[2018-05-30 15:27] bowlofeggs opened #2396 "Bodhi crashes while composing a modular repo if it has a mailing list defined"
Bodhi was [recently configured to have a mailing list configured for ```fedora_modular```](https://pagure.io/fedora-infrastructure/issue/6872). The next time a modular repo was composed, it failed with this traceback:

[code]

This is because Bodhi's e-mail system hard codes releases into the Python code rather than using settings, and the modular repo isn't hard coded :/

[2018-05-30 18:26] stevedd opened #2397 "The update system has the wrong package"
I'm trying to update the rpcsvc-proto package.

When I try to create a new update, the system
only gives me rpcsvc-proto-devel as a choice
not rpcsvc-proto.

This is clearly a bug since rpcsvc-proto-devel
is part of rpcsvc-proto

[2018-05-30 20:01] puiterwijk opened #2398 "Refactor: read pungi Compose dir in _punge"
Right now, _punge does a `time.sleep(3)` to determine whether pungi accepted our configuration and didn't crash early, to abort the compose early on if pungi failed.
However, the "Compose dir: <path>" string is only printed *after* the configuration is fully checked.
So we could move the code that searches for "Compose dir: " to the `_punge` function.
This would allow us to get rid of the `time.sl

[2018-05-30 20:08] puiterwijk commented on #2397
This is actually a bug in Fedora Packages, since that's where the search comes from: https://apps.fedoraproject.org/packages/s/rpcsvc-proto.
Please file this on https://github.com/fedora-infra/fedora-packages/issues/new .

Do note that you can also ignore the search function and just manually import NVRs and bugzilla IDs.

[2018-05-31 04:52] tkdchen opened #2401 "Error in setup.py in bodhi-client-3.3.0"
Got this error by pip install.

[code]

[2018-05-31 04:56] tkdchen commented on #2384
@bowlofeggs Got it. Thanks for your explanation and suggestion.

[2018-05-31 05:01] tkdchen commented on #2401
This also happens in `bodhi-client-2.9.0`

[2018-05-31 07:06] kparal opened #2402 "Bodhi allows to duplicate updates for new packages"
Instead of overriding an older build with a newer build, Bodhi allows to create duplicate updates. I assume this is handled well for existing packages, but not safeguarded for new packages.

![bodhi](https://user-images.githubusercontent.com/755451/40767116-d6446066-64b1-11e8-9cdd-a635f124bddd.png)

[2018-05-31 16:02] bowlofeggs commented on #2397
This bug is likely what you are hitting: https://github.com/fedora-infra/fedora-packages/issues/229

[2018-05-31 16:02] #2397 closed, assigned to nobody

[2018-06-01 06:26] tkdchen opened #2405 "Python binding API list_overrides cannot return all overrides"
`list_overrides` just returns overrides in the first page of `/overrides` by the default page size. Meanwhile, it does not accept argument, such as `page`, to return overrides from the rest pages.

[2018-06-01 07:20] jdieter opened #2406 "Old deltarpms need to be copied into each new compose"
Currently, we are throwing away any deltarpms not created in the current compose.  Instead, after generating the new deltarpms, we should copy over all deltarpms from the previous compose and then remove any that are now obsolete.

Mash used to do this, but, since mash was retired, it's just not been done.  See fedora-infrastructure [ticket #7008](https://pagure.io/fedora-infrastructure/issue/7008

[2018-06-01 09:59] tkdchen commented on #2405
`query` has parameters `rows_per_page` and `page`. These two could be added to `list_overrides` as well.

[2018-06-01 10:15] tkdchen commented on #2401
I tried to add

[code]

The crash is fixed but it causes another problem, e.g. `pip install bodhi-client-3.7.0.tar.gz`, `bodhi-server` is to be installed and only it, no `bodhi-client` is installed.

How about use `extra_require` for `bodhi-server` and `bodhi-client`? Or split `bodhi/client` and `bodhi/server` into separate Python packages with their own `setup.py`?

[2018-06-01 17:25] bowlofeggs commented on #2406
This may be an issue in Pungi. @lubomir what do you think?

[2018-06-01 17:55] bowlofeggs commented on #2406
Ah, looks like there is some discussion about this in https://pagure.io/fedora-infrastructure/issue/7008. It sounds like there is some uncertainty about how to do this.

[2018-06-01 18:26] nirik commented on #2406
I can somewhat see the point of view that pungi should just compose/know about exactly the release/branch its doing a compose for and not other composes... but also it seems strange to put the logic in bodhi because it should not know about specific drpms.

I wonder if it's time to de-couple the drpms from pungi and have a new tool that makes them async from bodhi / pungi. That seems like a lot of

[2018-06-01 19:12] #1043 closed, assigned to nobody

[2018-06-01 19:16] #2260 closed, assigned to nobody

[2018-06-01 20:13] #2258 closed, assigned to bowlofeggs

[2018-06-01 20:36] #2333 closed, assigned to nobody

[2018-06-01 20:59] #2374 closed, assigned to nobody

[2018-06-01 21:25] bowlofeggs opened #2412 "The CI tests fail because flake8 is broken on Rawhide"
There's an open BZ about this:

https://bugzilla.redhat.com/show_bug.cgi?id=1582075

It sounds like they are waiting for upstream to make a release and it's not clear how long that will take. We have a few options:

0) Send the flake8 spec file a PR to backport the cited patch from upstream so the Fedora package can work again.
1) Detect that we are testing Rawhide and disable the flake8 check (re

[2018-06-03 09:33] tyll opened #2413 "Test gating status should link to which tests were ignored"
On https://bodhi.fedoraproject.org/updates/FEDORA-2018-77214e2c70 Bodhi says that tests were ignored in green but it is unclear which tests were ignored. Would all failures block the gating or just some? It would be great if one could see if the update would be pushed without ignoring the tests. Also I guess green is a bad color for ignoring something since it should be a warning IMHO. Maybe yello

[2018-06-04 14:47] #2412 closed, assigned to bowlofeggs

[2018-06-04 15:55] #2150 closed, assigned to nobody

[2018-06-04 17:35] #2390 closed, assigned to bowlofeggs

[2018-06-04 18:57] #2046 closed, assigned to nobody

[2018-06-04 19:13] #2108 closed, assigned to nobody

[2018-06-05 13:45] bowlofeggs opened #2419 "Fold the functionality of bodhi-manage-releases into the Bodhi CLI"
It is silly that Bodhi has a separate CLI to manage releases. This duplicates boilerplate code and also requires users to install Bodhi's server on their machine in order to perform administrative actions with its CLI. We should move all functionality from ```bodhi-manage-releases``` into the ```bodhi``` CLI under a new ```releases``` command.

In doing this, we should mark ```bodhi-manage-release

[2018-06-05 13:49] bowlofeggs opened #2420 "Remove bodhi-manage-releases"
This should not be done until there is a release with #2419. Once that exists, we should remove the old ```bodhi-manage-releases``` CLI.

[2018-06-05 14:07] bowlofeggs commented on #2413
The ignored state actually means that the Greenwave policy is to ignore test results, meaning that no matter what it is going to tell Bodhi to let the update go to stable. This is why we went with green, as the color indicates that the update can go to stable. Greenwave is currently configured this way due to the difficulties with the gating UI as discussed in https://pagure.io/fesco/issue/1872.

[2018-06-05 15:25] tyll commented on #2413
I am not completely convinced. For me green implies that everything is good, but if tests failed and it was ignored, then something is broken and IMHO the UI should indicate this and allow to diagnose what is going on by linking to the test results that failed and were ignored. Also when we do not want to ignore all tests results anymore it would be good to know beforehand if updates would fail th

[2018-06-05 17:33] bowlofeggs commented on #2413
The "tests ignored" state doesn't mean that tests failed, it actually means that the tests were not considered in the gating decision. When an update says "tests ignored", it's really that the Greenwave policy is to allow the update to stable no matter what the state of its tests was. I guess I could see an argument for making it orange/yellow as a cautionary message, as the human is the only gati

[2018-06-06 09:42] tyll commented on #2413
I would prefer orange/yellow. Nevertheless, is there a way to check if there are any failed tests that would have prevented a push in case the Greenwave policy was set to enforcing?

[2018-06-06 16:54] #2094 closed, assigned to nobody

[2018-06-06 20:21] bowlofeggs commented on #2413
The Greenwave policy is just a list of tests that must pass, and "test ignored" means there were no tests in its policy. Thus, it's not possible to know which tests those would be, if that makes sense.

I'm not opposed to changing the color for tests ignored to orange/yellow.

[2018-06-07 10:25] kparal opened #2425 "taskotron results don't show up for all tested architectures"
We have recently done a few changes in how taskotron tests are scheduled and reported. We now run tests on both `x86_64` and `armhfp` builds/repos, and we often execute this separately (two runs), instead all in a single run. This was to increase tests reliability and allow future scaling. As a consequence, results shown in Bodhi got a bit out of sync, and don't work as expected. I believe this af

[2018-06-07 13:28] bowlofeggs commented on #1337
This one should be done after #2424 is merged, so that it can be done in the new ```bodhi releases``` subcommand instead of in the soon-to-be-deprecated ```bodhi-manage-releases``` CLI.

[2018-06-07 13:39] bowlofeggs commented on #1208
This was fixed when the Compose db model was introduced several months ago.

[2018-06-07 13:39] #1208 closed, assigned to nobody

[2018-06-07 13:47] bowlofeggs commented on #2396
This one is tricky. The problem is that some release data in *hardcoded* in ```mail.py```, which it absolutely should not be. We could solve this a few ways:

0. We could move these templates to production.ini, but then we exacerbate the problem of variable variable names that already exists there.
1. We could add a database column on the Release model that contains a filesystem path to a template

[2018-06-07 15:08] bowlofeggs commented on #2425
Hello @kparal!

@ralphbean has an open pull request in which he is having Bodhi live query Greenwave in the JavaScript, and it seems to me that his patch gets the results from Greenwave instead of directly from ResultsDB:

https://github.com/fedora-infra/bodhi/pull/2393

So I have a few thoughts:

0. Does Greenwave do the right thing WRT to your concerns above when it queries ResultsDB?
1. I'd lov

[2018-06-07 20:02] bowlofeggs opened #2428 "It is unfun to recover builds from an obsoleted update"
@spotrh hit an issue today where his [multi-build update](https://bodhi.fedoraproject.org/updates/FEDORA-2018-c4c8751463) got obsoleted due to negative karma. After fixing the build that caused the issue, it was difficult to get his update back on track. He wanted to keep one of the builds (the R build) while replacing the troubled ones with new builds. Bodhi refused to reuse the R build because i

[2018-06-08 07:35] kparal commented on #2425
I'm going for a vacation for a week, @lukassparrow can you please look at greenwave and the PR and post your thoughts? I guess you could apply that PR in your local bodhi instance and compare how the results render.

In general (without reading that PR in detail), if Bodhi is going to simply ask Greenwave "give me everything important for build X", then this ticket doesn't apply, yes. Instead we'l

[2018-06-08 14:26] lubomir commented on #2406
I agree with @nirik that a separate tool would be best. Right now Pungi creates the deltas by just telling `createrepo_c` to do it, but it makes it run longer. I'm not very happy about copying the old deltas in Pungi's createrepo phase. Honestly I would like to remove all the deltas from there. Even that feels out of place.

I tried playing with createrepo_c and it does not seem to be able to just

[2018-06-11 14:23] bowlofeggs opened #2431 "Bodhi sends e-mails when it cannot modify private bugs"
Bodhi tries to close private bugs, which it does not have permission to do. It should probably not try to do this in the first place, but more importantly it should catch the Exception that arises when it tries. Bodhi often sends error e-mails like this one:

Message
-------
[2018-06-09 20:39:48][     bodhi   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend01.phx2.fedorapro

[2018-06-11 15:17] bowlofeggs opened #2433 "Bodhi should know which packages are critical path without outside help"
PDC is going away, and Bodhi uses it to know which packages are critical path. It seems that Bodhi is the only application in Fedora Infrastructure that cares about whether a package is critical path, so it is sensible to move this information into Bodhi's database. This will reduce one of our external service dependencies, which should increase reliability.

Packages are critical path *per releas

[2018-06-11 16:04] ralphbean opened #2434 "RFE: bodhi should let service-levels influence policy for modules"
A neat idea from @sgallagher:  "Bodhi should let the service levels for a module stream influence the policy for bodhi updates of that module."

As an example, if a module stream has only the "rawhide" SL, then bodhi could let it fast-track through updates-testing with no time requirement.

[2018-06-11 16:54] sgallagher commented on #2434
To expand on that a bit, the idea would be that certain (exclusively non-default) module streams might not really make sense to have wait in updates-testing. For example, we might want to package up a prototype or otherwise unstable stream. It doesn't make sense to require such a non-default stream to go through u-t; the user already knows that it's not meant for production use.

[2018-06-11 18:13] bowlofeggs commented on #1304
When we do this, let's add a new state to the ```ComposeState``` model for "Cleaning old composes" (please do use the word compose and not mash). This way the /composes/ UI, API, and CLI will be able to display this new state to the users. It'll be rad.

[2018-06-11 18:15] bowlofeggs commented on #1304
You will need to create a database migration. Here's another migration that extends an enum that you can use as an example:

bodhi/server/migrations/versions/22858ba91115_add_new_side_tag_update_states.py

[2018-06-11 18:30] bowlofeggs commented on #2214
Note: This "smells" like an API issue to me, but @cverna pointed out that it would be good for the CLI to also require the notes field. Thus, I suggest ensuring that the API hands back a reasonable error message in this case (for non CLI users) and that the CLI just errors immediately when notes aren't given (for CLI users).

[2018-06-11 18:51] bowlofeggs commented on #2015
It's important that only admins can use the write API. For an example of how to do this, take a look at the way that ```bodhi.server.services.releases.releases``` uses ```security.AdminACLFactory```.

[2018-06-11 19:42] #2222 closed, assigned to nobody

[2018-06-11 20:33] bowlofeggs opened #2438 "Two tests fail due to commas in Python 3.7"
There are two tests that fail on Python 3.7 after the patch from #2436 is applied:

[code]

[2018-06-11 20:59] hroncok commented on #2438
https://docs.python.org/3.7/whatsnew/3.7.html

repr for BaseException has changed to not include the trailing comma. Most exceptions are affected by this change.

[2018-06-12 02:56] son-vyas commented on #2270
Is this issue open,@bowlofeggs?
 If it is open then I would like to give it a try.

[2018-06-12 10:19] lbrabec commented on #2425
Local instance of Bodhi with PR #2393 show separate results for `x86_64` and `armhfp`, so the PR seems to resolve this issue.

[2018-06-12 11:55] mmuzila opened #2441 "ypserv update history is missing"
Update history of ypserv is missing in bodhi. There definitely were updates in past (the last one cca a year ago, ypserv-4.0-2.20170331git5bfba76.fc27). As you can see[1] no update history is shown, except the todays update.

Until I created an update[2] today, I was unable even to find ypserv in bodhi.

[1] https://bodhi.fedoraproject.org/updates/?active_releases=true&search=ypserv
[2] https://bo

[2018-06-12 13:31] hroncok commented on #2438
Preping a patch.

[2018-06-12 15:01] #2438 closed, assigned to nobody

[2018-06-12 16:36] bowlofeggs commented on #2270
I believe that @ralphbean is fixing this in #2394. Is that correct Ralph? If so, can you update the commit message over there to also specify that it fixes this issue? Thanks!

[2018-06-12 16:48] bowlofeggs commented on #2441
Are you sure there were ypserv Bodhi updates in the past? I spot checked builds done over the past two years, and none of them were tagged into updates-testing:

https://koji.fedoraproject.org/koji/packageinfo?packageID=259

They all look like they were tagged into the base repository, which Bodhi does not manage. I think you might possibly actually be the first person to ever update ypserv in a F

[2018-06-13 11:25] mmuzila commented on #2441
Yes, I am sure. There is a build[1] that was submitted[2] as an update.

[1] https://koji.fedoraproject.org/koji/buildinfo?buildID=519274
[2] https://bugzilla.redhat.com/show_bug.cgi?id=1100354#c2

Matej

[2018-06-13 16:59] ralphbean commented on #2270
Done.

[2018-06-13 19:28] neteler commented on #611
I also just wasted time before discovering the reason (through this bug report):
Please improve the user notification (e.g. as suggested above). Thanks!

[2018-06-13 21:34] bowlofeggs commented on #2441
Interesting. I have no idea how to explain that, other than it might be that that was Bodhi 0.9 instead of Bodhi 2 that long ago. I wasn't around on the project at that time, so am not familiar with the history. I am not sure if this indicates a bug in the current version of Bodhi, or at least I've not seen other similar reports.

[2018-06-14 14:05] vismay-golwala commented on #1304
Do we clean_up if a mash fails?

[2018-06-14 15:32] mattiaverga commented on #2441
You should query without `?active_releases=true` otherwise Bodhi only shows you updates under currently active releases (F27 and newer, EL6, EL7).
So you should search with:
https://bodhi.fedoraproject.org/updates/?search=ypserv

BUT I think updates history starts with F21 because, for example, searching for `kernel` or `xorg-x11-server` updates stops there:
https://bodhi.fedoraproject.org/updates

[2018-06-14 17:18] #2425 closed, assigned to nobody

[2018-06-14 17:55] #2182 closed, assigned to nobody

[2018-06-14 18:17] bowlofeggs opened #2453 "Bodhi's CLI does not seem to close its connection to the Bodhi server when it's done"
I noticed that there is a warning in the dev environment when I query for my updates:

[code]

We should close that connection before exiting so we are nice and tidy.

I later performed an authentication and saw a similar warning about not closing a connection to Fedora's proxy01 host on port 443, which I suspect was probably Ipsilon:

[code]

[2018-06-14 18:22] #2405 closed, assigned to nobody

[2018-06-15 14:31] bowlofeggs commented on #1304
On 06/14/2018 10:05 AM, Vismay Golwala wrote:

No, we should only clean up when all the composes succeeded.

[2018-06-18 13:26] kparal opened #2456 "bugs can't be marked as fixed"
In https://bodhi.fedoraproject.org/updates/FEDORA-2018-1a6e6196b9 I tried to mark #1580530 as fixed by giving it +1 feedback (directly for that bug). But only generic karma was shown in my [comment](https://bodhi.fedoraproject.org/updates/ansible-2.5.5-2.fc28#comment-800652), not the specific bug report karma. Also in Bugs tab the feedback was not shown. I tried again (this time without giving gen

[2018-06-19 06:35] frenzymadness commented on #2350
Implemented in https://github.com/fedora-infra/bodhi/pull/2421

[2018-06-19 06:35] #2350 closed, assigned to nobody

[2018-06-19 07:23] frenzymadness commented on #2059
There are last 20 tests skipped in Python 3 which need to be fixed.

[2018-06-19 21:01] bowlofeggs commented on #2189
Might also be related to #2456.

[2018-06-20 07:43] #2314 closed, assigned to nobody

[2018-06-20 17:57] #1304 closed, assigned to nobody

[2018-06-20 18:00] #2387 closed, assigned to nobody

[2018-06-21 13:51] #1996 closed, assigned to nobody

[2018-06-21 17:49] ralphbean commented on #2365
This should be fixed in #2393.

[2018-06-21 17:49] ralphbean commented on #2369
This should be fixed in #2393.

[2018-06-21 17:49] #2369 closed, assigned to ralphbean

[2018-06-26 07:17] #2419 closed, assigned to nobody

[2018-06-26 10:17] cverna commented on #2453
This is related to requests session object keeping the socket open. see https://github.com/requests/requests/issues/3912

[2018-06-26 19:32] cverna commented on #2433
@vismay-golwala
I think we should add to the `Release` db model a new attribute that will list the critical path packages for this update. To do that you should look at the [Many-to-Many](https://docs.sqlalchemy.org/en/latest/orm/basic_relationships.html#many-to-many) relationship in sqlalchemy.
Since we want a relationship between `Release` and `Packages` and one `Release` can have many critpath

[2018-06-27 14:44] dustymabe opened #2463 "CLI: bad error message when missing required field not provided"
`bodhi-client-2.12.2-3.fc27.noarch`

I tried to create an update thinking it would pop open a window and let me fill in missing info:

[code]

So it compains I didn't specify a build, but I did. OK reading through the man page I see there is a --type field. Let me try adding that:

[code]

nope.. what about notes??

[code]

bingo. It would be useful if the error message marked those two as require

[2018-06-27 15:00] ghost commented on #2463
Might be related to #2214

[2018-06-27 15:10] dustymabe commented on #2463
indeed. @bowlofeggs feel free to dup this

[2018-06-27 17:10] cverna commented on #2463
Closed as duplicate of #2214

[2018-06-27 17:10] #2463 closed, assigned to nobody

[2018-06-29 08:59] #336 closed

[2018-06-29 17:38] ghost commented on #2396
@cverna: Is there an email template for ```fedora_modular```?

[2018-06-29 18:41] cverna commented on #2396
@vismay-golwala you can just copy the `fedora_errata_template` and replace  `Fedora%(testing)s Update Notification` by `Fedora Modular%(testing)s Update Notification`

[2018-06-29 18:42] cverna commented on #2396
@vismay-golwala and I think that for now the default_template can be `fedora_errata_template`

[2018-07-02 17:55] #2456 closed, assigned to nobody

[2018-07-02 17:56] cverna commented on #2130
Solved by #2461

[2018-07-02 17:56] cverna commented on #2189
Solved by #2461

[2018-07-02 17:56] #2189 closed, assigned to nobody

[2018-07-02 17:56] #2130 closed, assigned to nobody

[2018-07-05 15:27] cverna commented on #2207
Fixed by #2465

[2018-07-05 15:27] #2207 closed, assigned to nobody

[2018-07-05 22:50] ghost commented on #1119
@cverna there are various parameters on which rss feed for updates can be retrieved (release, severity, submitted_since ...). Can we formulate a standard template for the title for ```updates```, ```comments```, ```users``` and ```overrides```

https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/renderers.py#L57-L64

[2018-07-06 01:36] babaotang888 opened #2470 "ACLDenied permission 'create' via ACE"
hello,
I have installed the bodhi environment with the reference document(https://bodhi.fedoraproject.org/docs/developer/virtualenv.html).
and i execute the command：bodhi updates new gip-1.7.0-1.el7  --url http://192.168.160.106:6543，and input username and password，but the execution failed，print that：
Traceback (most recent call last):
  File "/root/bodhi/bodhi/client/__init__.py", line 310, in ne

[2018-07-09 10:09] cverna commented on #2470
Hi @ICY-Liu, this is because bodhi requires you to be a member of the packager group in order to create an update.
Currently we do not have a clean way to bypass this requirement in the development environment.

What you can do is to make a local change to the [PackagerACLFactory](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/security.py#L77) and replace the return value by

```

[2018-07-10 08:47] babaotang888 commented on #2470
hello，i changed bodhi/server/security.py，but It is still unsuccessful。
and I changed the function “remember_me” in  bodhi/server/security.py，add this code：
`info['groups'] = [u'proventesters', u'provenpackager' ,u'releng', u'security_respons', u'packager',                      u'bodhiadmin',u'proventesters', u'security_respons', u'bodhiadmin', u'sysadmin-main']`
It was a temporary solution to my p

[2018-07-11 07:00] cverna commented on #2470
Great let's close this issue then. Thanks

[2018-07-11 07:00] #2470 closed, assigned to nobody

[2018-07-11 07:25] #1337 closed, assigned to nobody

[2018-07-11 14:42] jsoref opened #2474 "karma voting section for anonymous users should indicate their karma will be ignored"
https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2018-88c0c447a4
has what appears to be three karma: 👍items.
But, afaict, the third, from anonymous is ignored by the calculator.
We believe that's to protect against bots. That's fine, but I'm fairly confident a human wrote that message.

It would be nice if the interface told the human that they should use an account if they want their vote to b

[2018-07-11 17:35] #2396 closed, assigned to nobody

[2018-07-11 17:37] cverna opened #2475 "Add support to the cli to edit the release email template name"
The name of the email template used for each release was added to the database in #2469. It should be possible to edit this field from the cli using the `bodhi release` command

[2018-07-11 17:41] #2214 closed, assigned to nobody

[2018-07-11 17:46] #1119 closed, assigned to nobody

[2018-07-13 11:10] bowlofeggs commented on #2208
The associated PR seems to fix the CLI so that it doesn't suffer from this issue, but the real issue is that the API should not alter fields that it was not given in edit calls. I'd like to fix that issue in a future X release, so I'm going to reopen it.

Thanks for fixing the CLI for it though, I think that'll really help with most real-world use cases that hit this problem ☺

[2018-07-13 11:58] bowlofeggs commented on #336
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 11:59] bowlofeggs commented on #1119
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 11:59] bowlofeggs commented on #1304
This feature is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:00] bowlofeggs commented on #1337
This feature is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:00] bowlofeggs commented on #2046
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:00] bowlofeggs commented on #2108
This feature is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:00] bowlofeggs commented on #2222
This feature is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:01] bowlofeggs commented on #2425
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:01] bowlofeggs commented on #2390
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:01] bowlofeggs commented on #2405
This feature is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:01] bowlofeggs commented on #2419
This feature is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:02] bowlofeggs commented on #1043
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:02] bowlofeggs commented on #1996
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:02] bowlofeggs commented on #2094
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:03] bowlofeggs commented on #2130
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:03] bowlofeggs commented on #2189
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:03] bowlofeggs commented on #2456
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:03] bowlofeggs commented on #2182
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:03] bowlofeggs commented on #2208
A fix for the CLI is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:04] bowlofeggs commented on #2214
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:04] bowlofeggs commented on #2258
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:04] bowlofeggs commented on #2314
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:04] bowlofeggs commented on #2374
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:04] bowlofeggs commented on #2387
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:04] bowlofeggs commented on #2396
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-13 12:04] bowlofeggs commented on #2431
A fix for this issue is planned to be included in the upcoming 3.9.0 release: #2477.

[2018-07-16 19:58] jeremycline opened #2479 "Single-package updates that obsolete multi-package updates leave old update in testing"
Suppose you have an update that contains two packages, A-1.0 and B-1.0. You then create a new update for just A-2.0. My expectation is that this would obsolete the (A-1.0, B-1.0) update. However, this does not happen: the [kernel-4.17.4, kernel-tools-4.17.4](https://bodhi.fedoraproject.org/updates/FEDORA-2018-0f7448b3ab) update is still marked as in testing, but [kernel-4.17.5](https://bodhi.fedor

[2018-07-17 06:16] bowlofeggs opened #2480 "CLI forces user to pass --notes or --notes-file when --file is used"
```fedpkg``` passes update notes via the update ini file, but the development version of Bodhi now requires ```--notes``` or ```--notes-file``` to be passed to the client. This breaks ```fedpkg update```:

[code]

This is a 3.9.0 release blocker.

[2018-07-17 09:20] bowlofeggs opened #2481 "Cannot edit an update without passing notes to it"
https://github.com/fedora-infra/bodhi/commit/c70880ce60f0431272d81065c97cd50afdf287f7 made it so that users cannot edit existing updates without providing notes:

[code]

This is a 3.9.0 release blocker.

[2018-07-18 15:48] mattiaverga commented on #2479
Same as #1087

[2018-07-18 16:15] ghost commented on #2433
Should the critical path packages for a release be displayed in the server view (https://bodhi.fedoraproject.org/releases/F27)?

If yes, what details should be included for the package?

[2018-07-18 16:17] ghost commented on #2433
Also, is it a good idea to rename the ```--username``` option to ```--user``` for ```bodhi releases``` command? As all other commands (```bodhi updates```, ```bodhi overrides```) use ```--user```.

https://github.com/fedora-infra/bodhi/blob/develop/bodhi/client/__init__.py#L112

[2018-07-18 19:09] jasontibbitts opened #2487 "Problem with EPEL updateinfo data"
On a test centos7 VM with both epel and epel-testing enabled, `yum updateinfo` has many complaints about the metadata (which means that yum-cron spams me with those complaints on a regular basis).  The complaints take this form:
[code]
Full output from `yum -v updateinfo` is below.  The issue seems to be threefold:
* The update metadata are not removed from updates-testing when the updates are pus

[2018-07-19 07:15] #2481 closed, assigned to nobody

[2018-07-19 16:41] jeremycline commented on #2479
Ah, thanks. I should have hunted for dupes first :)

[2018-07-19 16:41] #2479 closed, assigned to nobody

[2018-07-20 08:21] Sodalite opened #2489 "The API endpoints should be able to take multiple values."
It seems that the API endpoints do not accept multiple values. Thus, the API does not allow for refinement of searches.

For example :
I would like to receive all comments, but I would like not to receive comment from the user *bodhi*. I can use `https://bodhi.fedoraproject.org/comments/?ignore_user=bodhi` and it works as expected. However, should I require all comments, but skip user *bodhi* and