[2019-10-28 03:34] ryanlerch commented on #3648
Yeah, it apparently has been a secret feature for a looooong time :)

Agreed that a subtle notification here might be good too. (or even maybe grouping the builds in the list by release too...)

[2019-10-28 03:46] ryanlerch commented on #3505
@Pac23 are you still working on this one?

[2019-10-28 03:48] ryanlerch commented on #2941
IMHO, this one is not really an issue anymore, with the new frontpage, and releases page in Bodhi 5.

[2019-10-28 03:48] #2941 closed, assigned to nobody

[2019-10-28 03:53] ryanlerch commented on #3649
the control itself shows all the candtidate builds from all releases that are open. the search is actually filters on a few fields, so you cound type in "churchy python- fc30" to filter down.

But generally, we should remove some more of the options that will always come back from the server as failures :)

[2019-10-28 04:00] ryanlerch opened #3661 "500 error when editing some updates"
Also

https://bodhi.stg.fedoraproject.org/updates/FEDORA-EPEL-2019-641c235213 -> click edit ->

[code]

![_](https://user-images.githubusercontent.com/2401856/67555777-3f00cd80-f712-11e9-9b8a-a9909673812e.png)

_Originally posted by @hroncok in https://github.com/fedora-infra/bodhi/issues/3646#issuecomment-546257339_

[2019-10-28 04:01] ryanlerch commented on #3646
I think this one may be a different issue...

[2019-10-28 04:03] ryanlerch commented on #3661
Just out of interest, what kind of build is attached to that update? It is listed as an RPM, but does not have a proper NVR...

[2019-10-28 04:12] #3591 closed, assigned to Zlopez

[2019-10-28 05:13] #3608 closed, assigned to mattiaverga

[2019-10-28 08:40] hroncok commented on #3661
It does. It just doesn't have %dist. Like fedora-release or fedora-obsolete-packages.

[2019-10-28 08:56] cverna commented on #3656
So when we create a new update by default we request this update to be pushed to testing, this has for effect to tag the build in the fxx-update-signing-pending tag.

I think we need to skip the following line in the case of a sidetag update.

See https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models.py#L2242

[2019-10-28 09:32] ryanlerch commented on #3651
marking this as a dupe of #3620

[2019-10-28 09:32] #3651 closed, assigned to nobody

[2019-10-28 13:15] #3656 closed, assigned to cverna

[2019-10-29 08:21] abompard commented on #3638
Yet another thing that came to my mind: PRs made after the move to Black will be pretty hard to backport to stable branches. So, while this is not per-se backwards incompatible, I think we should wait for a backwards incompatible release to implement it.

[2019-10-29 08:40] abompard commented on #3636
Indeed, LGTM is currently pointing out real errors, that's interesting.

[2019-10-29 08:47] abompard commented on #3636
I think we need someone with admin permissions on the fedora-infra Github organization to add the LGTM app before we can add it to this repo.

[2019-10-29 09:22] cverna commented on #3661
Ok so I think this is due to stg, the build referenced in the update is not available in stg koji.

https://koji.stg.fedoraproject.org/koji/search?terms=epel-rpm-macros-7-21&type=build&match=glob

Let's close this

[2019-10-29 09:22] #3661 closed, assigned to nobody

[2019-10-29 10:34] mattiaverga commented on #3653
I think that when the `pushed` property was introduced in the Update model, we should had run a database change like:
`if update.request is None and not update.pushed`
then
`update.pushed = True`.
If we don't do that, every user could push back stable updates to testing. Is there a backend check in Bodhi that prevents the downgrade? What happens in this case?

[2019-10-29 10:58] cverna commented on #3653
I have updated staging with the following snippet run from the bodhi-shell

[code]

Once we are not in freeze and Fedora 31 is release we can do the same thing in production

[2019-10-30 03:40] ryanlerch commented on #3653
the pushed property on updates has been there for well over 6 years: https://github.com/fedora-infra/bodhi/blame/52266ead23eba389d860735da3a6eb59c7188cf9/bodhi/server/models.py#L1787

The issue here was that when an automated update was "pushed", which happens in a different manner to a normal update, the pushed property was not set. #3462 fixes that issue.

[2019-10-30 03:40] #3653 closed, assigned to nobody

[2019-10-30 08:47] psss opened #3675 "Update name truncated upon edit"
Steps to reproduce:

* https://bodhi.fedoraproject.org/updates/FEDORA-2019-0c2e93b669
* title says `Python 3 and custom plugins`
* click the `Edit` button
* update name is `Python`
* should be `Python 3 and custom plugins`

[2019-10-30 09:25] pypingou opened #3676 "Small UI glitch"
There seems to be a small UI glitch on the update page: https://bodhi.stg.fedoraproject.org/updates/FEDORA-2019-865f2c37b3

Here is a screenshot:
![Screenshot from 2019-10-30 10-24-10](https://user-images.githubusercontent.com/1240038/67845309-9088ce00-faff-11e9-95bf-61deaee1a329.png)

[2019-10-30 17:11] mattiaverga commented on #3641
@nphilipp I'd like to work on this, if you don't plan to do it yourself.

[2019-11-01 23:34] nirik opened #3680 "bodhi is tagging packages into f32 and f32-updates-pending"
See:

~ koji list-tag-history --all --package xpra | grep 3.0.1-2.fc32
Fri Nov  1 14:59:22 2019: xpra-3.0.1-2.fc32 tagged into f32-updates-candidate by sagitter
Fri Nov  1 14:59:43 2019: xpra-3.0.1-2.fc32 untagged from f32-updates-candidate by autopen
Fri Nov  1 14:59:43 2019: xpra-3.0.1-2.fc32 tagged into f32-updates-testing-pending by autopen
Fri Nov  1 15:00:08 2019: xpra-3.0.1-2.fc32 untagged

[2019-11-03 17:14] subhamkrai commented on #3596
@ryanlerch can I work on this issue?

[2019-11-04 03:19] ryanlerch commented on #3676
Looks like there is invalid HTML (an additional button closing tag, and a missing div closing tag) in the greenwave modal. As this is not shown on all pages, it only shows if this modal is on the page.

This is what is causing that extra white bar at the bottom of the page.

[2019-11-04 07:57] AdamSaleh commented on #3274
@mattiaverga this issue seems to have been fixed some time ago by adding additional check: https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/views/generic.py#L319

[2019-11-04 11:34] #3676 closed, assigned to ryanlerch

[2019-11-04 11:40] pypingou commented on #3492
Fixed in https://github.com/fedora-infra/bodhi/pull/3536

[2019-11-04 11:40] #3492 closed, assigned to siddharthvipul

[2019-11-04 11:42] pypingou commented on #3680
ome more context:
[code]

[2019-11-04 12:30] #3649 closed, assigned to nobody

[2019-11-04 13:23] #3652 closed, assigned to ryanlerch

[2019-11-04 14:13] #3642 closed, assigned to ryanlerch

[2019-11-04 15:56] #3592 closed, assigned to ryanlerch

[2019-11-04 16:43] nphilipp commented on #3596
@subhamkrai thanks! But this issue is already covered in PR #3613.

[2019-11-04 16:45] subhamkrai commented on #3596
@nphilipp ohh that's good

[2019-11-04 16:56] subhamkrai commented on #3605
@ryanlerch @nphilipp can I work on this issue?

[2019-11-04 17:03] mattiaverga commented on #3274
@AdamSaleh good catch, a workaround was introduced in 1a48548d911566fb54a187f41bc74c61f4430572

[2019-11-05 05:26] #3596 closed, assigned to nobody

[2019-11-05 08:31] #3599 closed, assigned to Fan

[2019-11-05 08:47] #2706 closed, assigned to nobody

[2019-11-05 11:03] #3587 closed, assigned to Zlopez

[2019-11-05 16:05] sebwoj opened #3685 "Two unit tests are very slow"
In #3363 I noticed that it takes more than 60 sec for two unit tests to finished:
TestSignedHandlerConsume::test_consume_from_tag
TestTriggerTests::test_update_status_testing

[2019-11-06 04:27] #3685 closed, assigned to nobody

[2019-11-06 04:47] ryanlerch opened #3687 "Call to get candidates in new update form is now slow"
Previously, the ajax call we used to populate the builds chooser in the new update form took a couple seconds to load. However, since the introduction of this fix:

https://github.com/fedora-infra/bodhi/pull/3670

this call now takes upwards of 30seconds on stg. (not sure if this will be quicker on prod, but it is pretty slow atm.) the endpoint is : https://bodhi.stg.fedoraproject.org/latest_candi

[2019-11-06 06:59] #3593 closed, assigned to dimitraz

[2019-11-06 10:23] #2077 closed, assigned to nobody

[2019-11-06 13:36] nphilipp commented on #3687
I've looked into this and it's because it queries the database for each build it gets from koji which can be on the order of thousands if the prefix is empty.

Here's my idea how to optimize this: rather than querying for each build in the database, query the database once for NVRs of builds of an active release, with an associated update, then check if a particular build NVR is in this set.

[2019-11-06 15:15] nphilipp commented on #3687
Testing this in my local Vagrant box (set up to query koji.stg), I got this down to 3~5 seconds for an empty prefix. I'll submit a PR with it.

[2019-11-06 23:11] cjsin commented on #3350
@jdieter if you're able, would you consider renaming this issue to something like "Revert breaking zchunk change for EPEL repositories with third party yum clients/proxies?"  I fear this issue is being continually overlooked because from the title it just looks like a feature request to make a feature optional.

[2019-11-07 12:17] AdamSaleh commented on #3675
There are "" missing on https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/templates/new_update.html#L53 meaning

`value=${update.display_name | h}`

should have been

`value="${update.display_name | h}"`

Will submit a PR :D

[2019-11-07 17:52] mattiaverga commented on #3646
The errors on the epel-rpm-macros packages are due to the missing `.el7` in the release field:
[code]
https://github.com/fedora-infra/bodhi/blob/2a7b5a8c7c08b0107b7d413809459b4f0bf8ec85/bodhi/server/buildsys.py#L209-L271

The error in the original report must have a different cause:
[code]

[2019-11-07 18:12] mattiaverga commented on #3646
https://github.com/fedora-infra/bodhi/blob/2a7b5a8c7c08b0107b7d413809459b4f0bf8ec85/bodhi/server/models.py#L1376
Using `koji_session.getBuild(self.nvr, strict=True`) may give us more evidence of what's going on, otherwise Koji just returns `None`.

[2019-11-07 18:42] cverna commented on #3646
This can actually be close, the problem is that bodhi in staging is using a db dump of the production database. Meaning that updates have links to builds that have been built in koji production but not in koji staging.

The link to the build in the staging update is https://koji.stg.fedoraproject.org/koji/search?terms=python38-3.8.0~b3-1.fc29&type=build&match=glob which returns no build.

[2019-11-07 18:42] #3646 closed, assigned to nobody

[2019-11-07 21:18] jdieter commented on #3350
I've gone ahead and reviewed cverna's version of this PR.  Hopefully it will get merged soon.

[2019-11-08 03:49] #3687 closed, assigned to nphilipp

[2019-11-08 05:11] #3350 closed, assigned to cverna

[2019-11-08 06:05] sebwoj commented on #3505
Now, when the release is in frozen state in bodhi, the following alert is printed on the top of release page :
`Release is frozen`

Also bodhi puts comment `There is an ongoing freeze; this will be pushed to stable after the freeze is over.` on the update page when:
- release state is `frozen` and user set request to `stable
- release state is set to `frozen` form other state.

Do we need addition

[2019-11-08 06:06] sebwoj commented on #3186
Yes.

[2019-11-08 06:09] sebwoj commented on #3541
@ryanlerch Can we close this?

[2019-11-08 06:16] sebwoj commented on #3114
@ryanlerch Can we close this?

[2019-11-08 06:37] mattiaverga commented on #3646
@cverna note that there could be also a problem with our dummy buildsystem we use in dev, some builds like epel-rpm-macros-7-21 have a release that is not correctly recognized because it lacks the `.el7` or something similar at the end:
[code]
https://github.com/fedora-infra/bodhi/blob/2a7b5a8c7c08b0107b7d413809459b4f0bf8ec85/bodhi/server/buildsys.py#L209-L271

[2019-11-08 09:59] StephenCoady commented on #3114
Completed in attached PR.

[2019-11-08 09:59] #3114 closed, assigned to StephenCoady

[2019-11-08 17:07] subhamkrai commented on #3186
@sebwoj please assign me

[2019-11-09 17:02] subhamkrai commented on #3065
@sebwoj I think this issue has solved. we are ready to close

[2019-11-10 11:17] mattiaverga opened #3698 "CI failings, probably celery worker isn't started"
I did some investigation on the CI failings, it seems that Celery worker isn't started. I think that `/etc/bodhi/start.sh` is not executed when docker image changes from `f31-integration-build-bodhi` to `f31-integration`
https://github.com/fedora-infra/bodhi/blob/6794e5b9b5b2ecca77e43e7df596e8b569b84448/devel/ci/integration/bodhi/Dockerfile-f31#L65
I tried to change that from CMD to ENTRYPOINT, bu

[2019-11-11 05:36] #3602 closed, assigned to ryanlerch

[2019-11-11 05:36] #3603 closed, assigned to ryanlerch

[2019-11-11 05:36] #3604 closed, assigned to ryanlerch

[2019-11-11 05:36] #3607 closed, assigned to ryanlerch

[2019-11-11 08:29] mattiaverga commented on #3698
Well, after having spent the last couple of days hunting down the problem, I now see that CI tests are working again... so it couldn't be what I have been focused early in this report, even if I can't see the `start.sh` been executed in the logs.

Another possibility of those random fails could be what I noticed in another bug report: our dummy buildystem used in dev goes crazy with builds which d

[2019-11-11 08:51] sebwoj commented on #579
@ryanlerch Since `karma_critpath` is deprecated:
https://github.com/fedora-infra/bodhi/blob/25cd8e7d211b3adab233c1712c6005ce1e0828a4/bodhi/server/models.py#L4209
can we close this issue?

[2019-11-11 09:20] #3675 closed, assigned to nobody

[2019-11-11 10:19] sebwoj opened #3703 "Broken /rss/updates/ page in bodhi 5.0"
Bodhi 5.0 rss page for updates is broken.
Bodhi 5.0 stg: https://bodhi.stg.fedoraproject.org/rss/updates/
Bodhi 4.1.1: https://bodhi.fedoraproject.org/rss/updates/

[2019-11-11 12:38] #3588 closed, assigned to nobody

[2019-11-11 12:59] nphilipp commented on #2322
I've finished describing the multi-build/side tag aspect of it, see the ["Rawhide and early Branched"](https://fedoraproject.org/w/index.php?title=User:Nphilipp/Package_update_HOWTO#Rawhide_and_early_Branched) section. Once this is reviewed, I'll copy it over to the main article.

[2019-11-11 13:03] nphilipp opened #3704 "UI: new edit update form says "Create New Update" rather than "Edit Update""
As the subject says, the "edit update" form in staging says "Create New Update".

[2019-11-11 13:10] nphilipp commented on #3512
Not sure if this is a stupid question, but...:

...is it possible to prevent this? Or would it make sense to alert owners of such stale updates before this happens (and when it happens, we lock it down so it can't be pushed to stable or whatever)?

[2019-11-11 14:39] #740 closed

[2019-11-12 06:48] mm-git01 commented on #3505
@ryanlerch still interested, haven't got around to this due to my schedule if this is super critical please assign to someone else.

[2019-11-12 07:36] ryanlerch commented on #3647
I had a dig into the taskotron API, but can't figure out if we can get this list to populate this control with.

does anyone know anything about taskotron?

[2019-11-12 07:59] ryanlerch commented on #3703
Can you provide a little more information on how this is broken for you?

It seems to parse for me in a feed reader.

[2019-11-12 08:00] #3576 closed, assigned to nobody

[2019-11-12 08:15] #3640 closed, assigned to ryanlerch

[2019-11-12 08:15] #3704 closed, assigned to ryanlerch

[2019-11-12 09:13] hroncok commented on #3647
@kparal does

[2019-11-12 10:41] #3590 closed, assigned to Zlopez

[2019-11-12 12:39] remicollet opened #3707 "Bodhi 5.0: new way to add build is terrible"
Please, switch back to previous way

Being able to simply add build is important.

Current version is slow, and don't work well when trying to paste package name in input.

Old way is also better because allow to copy/paste NEVR during the build, without anything tagged yet.

[2019-11-12 13:16] mizdebsk opened #3708 "Unable to change update request with CLI"
After [upgrade of Bodhi in Fedora production environment to `bodhi-5.0.0`](https://pagure.io/fedora-infrastructure/issue/8368) I am no longer able to change update request using Bodhi CLI from `bodhi-client-4.0.2-2.fc30.noarch`.

[code]

According to https://github.com/fedora-infra/bodhi/issues/3258#issuecomment-497033767 updates should be specified by ID.
And update with ID `FEDORA-MODULAR-2019-d

[2019-11-12 13:23] AdamSaleh commented on #3698
I have been investigating, and might have found another reason.

When we run the integration test, it checks there are pending composes. But it looks like if there are only container-based composes, the pungi wouldn't be run at all. I think we could improve the tests reliability by checking there are at least some rpm/module-type composes, where pungi would be run and pungi.log created :) Will try

[2019-11-12 16:32] nphilipp commented on #3357
@abompard @ryanlerch, I've noticed that we didn't capture all instances of tests using `unittest.TestCase`, probably because the affected classes are derived from `BaseTestCase` and thus didn't show up when grepping for it. I'll file additional issues soon.

[2019-11-12 16:37] mattiaverga commented on #3707
I strongly disagree, I think @ryanlerch made a great work.

Maybe it would be more straightforward for whose coming from the old UI to have the "Builds" tab as first element in the form, over the "Metadata" tab.

In my opinion, disallowing to copy/paste custom text in the Builds field prevents to enter wrong data, so it's good. If one has to enter many NVRs, they can now search in the same field f

[2019-11-12 16:44] kalev commented on #3707
I second to that. We need a way to quickly copy-paste 100+ build IDs for creating GNOME mega-updates. Previously it was just the matter of preparing a space-separated list and copy-pasting it into the build IDs section; now it no longer appears to work.

[2019-11-12 16:47] mattiaverga commented on #3707
@kalev you can now do that by preparing the mega-update in a side tag and then using that side tag in the Builds field ;-)

[2019-11-12 17:15] kontura opened #3710 "Cannot expire overrides"
I have overrides for builds: libdnf-0.37.2-2.fc30 and librepo-1.11.0-1.fc30
When I click the expire button I get a pop up with red dot saying: "Nvr : Required"

There is no place to specify any Nvr.
The "Candidate Build" fields correctly show the build for both expires.

[2019-11-12 18:23] sebwoj commented on #3703
An oversight on my part.
Closing.

[2019-11-12 18:23] #3703 closed, assigned to nobody

[2019-11-12 20:20] cverna commented on #3708
So it seems that we had a problem in Ipsilon with the OpenID authentication that should be solve can you give this another try ?

[2019-11-12 20:37] cverna commented on #3707
Only for rawhide tho :-), the sidetag will not be available to all releases in a first step.

[2019-11-12 20:42] cverna commented on #3680
This was solved with bodhi 5.0 deployment (https://koji.fedoraproject.org/koji/buildinfo?buildID=1412117).

We should probably try to untag the old builds that are in f32-updates-candidate

[2019-11-13 04:16] QuLogic opened #3713 "Override active time typo"
The time remaining for Overrides says something like "still active for in 7 days". There is an extra 'in' in that statement. Or it should say 'Expires in 7 days'.

[2019-11-13 07:27] remicollet commented on #3707
Not user friendly, list is too long. Not even sorted

[2019-11-13 07:47] kalev commented on #3707
And also, we don't have a single person doing all GNOME builds. I really need a way to copy-paste a list of builds here for the UI to be usable for GNOME mega-updates.

[2019-11-13 08:07] mizdebsk commented on #3708
Retried, the issue is fixed - update was successfully requested for stable.

[2019-11-13 08:49] #3698 closed, assigned to nobody

[2019-11-13 09:08] cverna commented on #3708
Thanks closing this issue

[2019-11-13 09:08] #3708 closed, assigned to cverna

[2019-11-13 09:37] pkratoch opened #3714 "Cannot edit builds/bugs in an update"
After update to bodhi-5.0.0, I cannot edit builds nor bugs for an update.

- I haven't found any way of editing it in GUI (when clicking "edit", there is a list of builds and a list of bugs, but it cannot be edited or at least it's not clear how).
- In CLI, I get "Password:" prompt even though I have valid kerberos ticket.

[2019-11-13 10:03] nphilipp commented on #3061
## Story Time…

As a package maintainer creating or editing updates with many builds, …

1. I want that the Bodhi UI/API doesn't block on the related Koji API calls,

    so that I don't run into timeouts.

2. I want that related Koji API calls are only performed after the transaction has been committed to the database,

    to avoid inconsistencies between Bodhi and Koji.

## Acceptance Criteria

[2019-11-13 10:14] pghmcfc commented on #3707
I too like to be able to prepare updates in the GUI whilst the build is going. Not only can't I paste in the build, I don't seem to be able to add bug numbers either.

[2019-11-13 10:50] nphilipp commented on #3061
@fedora-infra/bodhi @StephenCoady @AdamSaleh

Hmm, we should probably reflect error handling in the acceptance criteria. The question is how far should we go here?

At the time the task worker does things in Koji, the respective update has been created/edited (committed to the DB). Should we attempt to roll back the update (which may be impossible)? Alert the user? Bodhi maintainers?

As far as I

[2019-11-13 12:09] pkratoch opened #3715 "Cannot create new update after unpushing old one"
To work around the issue with [not being able to edit updates](https://github.com/fedora-infra/bodhi/issues/3714), I wanted to unpush the updates ([f30](https://bodhi.fedoraproject.org/updates/FEDORA-2019-7cafbe66ba), [f31](https://bodhi.fedoraproject.org/updates/FEDORA-2019-94393775ec)) and create new ones with some of the builds in higher version. However, when clicking "Submit", I am getting th

[2019-11-13 12:21] kparal commented on #3647
No, it's not possible to get a list of checks in an automated fashion. Also, some checks only run in certain environments (e.g. not on Rawhide, etc). But the bigger problem is that Taskotron is likely going away in the near future, and we will hopefully move some of our tasks into Fedora CI. There are other likely candidates for generic tests that are going to be run by Fedora CI & comp., like [rp

[2019-11-13 14:19] pypingou opened #3716 "Obsoleted updates results in dangling side-tags"
The update https://bodhi.fedoraproject.org/updates/FEDORA-2019-57b6ec6e7b was created from the side-tag `f32-build-side-14528` but was later obsoleted by another update which did not clean the side-tag in koji leaving it dangling, useless and potentially wasting resources.

[2019-11-13 14:27] pypingou commented on #3714
Bodhi doesn't use kerberos to authenticate, it's one of our remaining app (and the only CLI) using openid 2 so that is expected and has not changed recently (we do plan on changing this in the future though).

[2019-11-13 16:57] pypingou opened #3717 "duplicated email notifications"
I've just received these two emails:

[code]

[code]

From the headers the difference I see is:
in the first one:
[code]
vs in the second one:
[code]

Could it be that the notification task has been picked up by two workers which both sent the email?
If that's so we may need to find a way to avoid this

[2019-11-14 01:55] ryanlerch commented on #3714
Can you post a screenshot of the edit update screen?

the builds and bugs boxes should show a list of the currently added builds / bugs. As well as a X button to remove builds, and also a textbox to search and add more builds.

![screencast](https://user-images.githubusercontent.com/592259/68822076-a8ee1080-06db-11ea-8b14-dea2e1e84682.gif)

[2019-11-14 02:03] ryanlerch commented on #3707
This still works now, except where as before you could have comma or space separated lists, now it is comma separated lists only. This is because this element also has the ability to search all the candidate builds, so you can type "kalev gnome fc31" and it will filter on all those items.

[2019-11-14 02:22] ryanlerch commented on #3707
Trying to get down to the crux of the pain here, and it is the fact that  you are Unable to add a build that is not actually built yet, is that correct?

Here is a breif screencast of the ability to paste a big list of updates (comma separated), and the ability to serarch on username, and others:

![screencast](https://user-images.githubusercontent.com/592259/68821222-72af9180-06d9-11ea-868b-fb3ed

[2019-11-14 02:41] QuLogic opened #3721 "Expired overrides cannot be made active"
I go to [this override](https://bodhi.fedoraproject.org/overrides/R-bit64-0.9.7-6.fc30), which expired 20 hours ago (i.e., today), change the date to two days from now, and hit Submit.

Instead of extending the override, it fails with a "Nvr : Required" popup.

[2019-11-14 02:42] QuLogic commented on #3721
This might be the same as #3710.

[2019-11-14 03:03] ryanlerch commented on #3707
Okay, trying to read a bit past the initial **it's 'orrible** comments to try to figure out what is causing the pain here, and it seems there are two pain points. If there are any others, please help us out by **clearly describing what issues you have**.

The previous new update form was _very_ confusing for new users, and this updated version's goals were to make it easier for the majority of use

[2019-11-14 03:35] ryanlerch commented on #3721
@QuLogic pretty sure it is the same issue here.

Just tested it out locally with the patch in #3719 which seems to fix this issue too.

[2019-11-14 04:35] #3721 closed, assigned to nobody

[2019-11-14 06:31] pkratoch commented on #3714
Sure, this is how it looks like:

![Screenshot_2019-11-14_07-13-33](https://user-images.githubusercontent.com/7996847/68831649-323b1e00-06af-11ea-9ca9-24c975def796.png)

I can select and de-select builds and bugs, but that's about it.

I'd swear I created some overrides using the CLI before without entering any password, so it surprised me now that I can't, but I am not absolutely sure. Thanks for

[2019-11-14 06:55] pkratoch commented on #3714
I managed to edit the updates using CLI, but it would still be nice to be able to do that using GUI.

[2019-11-14 08:31] remicollet commented on #3707
In theory, in perfect world, JavaScript is nice and fast

In Practice, in real world, it is not.

The package list refresh may takes a "few" seconds when everything ok (I wait for ~10" this morning for 1 update), and much more when server is under load. And this is really not user friendly

Perhaps you forget there is a lot of Fedora contributors, with very different profiles, so very different ne

[2019-11-14 09:01] cverna commented on #3707
@remicollet I think you are a little bit unfair here. Creating an issue to tell people that the work they have done and the many hours they have spent on it is **terrible** is not a very good way to start a discussion.

As you have mentioned they are different type of users and it is not easy to please everyone, so let's assume positive intent here. We are going to improve the way to create update

[2019-11-14 09:11] ryanlerch commented on #3707
And that would be another pain point. Pre-loading the candidate builds list may take up to 10 seconds.

[2019-11-14 09:14] ryanlerch commented on #3707
I'm sorry you got this impression. I am asking you to explain (nice and coherently) your needs and your pain points, so i can help fix the experience. Not sure where you got the impression that my above detailed writeup of pain points was me informing you to "go without".

[2019-11-14 09:28] ryanlerch commented on #3714
@pkratoch there is something definetly wrong on your end, the controls for adding / removing builds and bugs don't seem to loading properly.

Are you able to check the web console in your web browser to check if there are any errors being reported there?

[2019-11-14 09:46] pkratoch commented on #3714
There is indeed an error. Let me know if you want me to debug it somehow.
![Screenshot_2019-11-14_10-39-30](https://user-images.githubusercontent.com/7996847/68845560-e5b20b80-06cb-11ea-96b7-4b4600aa9d72.png)

[2019-11-14 10:16] kalev commented on #3707
Ahh great, thanks @ryanlerch!

[2019-11-14 10:36] mgrabovsky opened #3723 "Unrendered Markdown in comments section"
In Bodhi 5.0.0, there seems to be some unrendered Markdown in the info messages in the comments section of an update. See the following screenshot (see also [live](https://bodhi.fedoraproject.org/updates/FEDORA-2019-fdf8e84f60)):

![Screenshot_2019-11-14 FEDORA-2019-fdf8e84f60 — bugfix update for libreport — Fedora Updates System](https://user-images.githubusercontent.com/134321/68849654-c4085280-

[2019-11-14 11:51] nphilipp opened #3725 "Convert bodhi/tests/server/consumers/test_consumers.py to PyTest"
[`bodhi/tests/server/consumers/test_consumers.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/consumers/test_consumers.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI a

[2019-11-14 11:57] nphilipp opened #3726 "Convert bodhi/tests/server/consumers/test_greenwave.py to PyTest"
[`bodhi/tests/server/consumers/test_greenwave.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/consumers/test_greenwave.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI a

[2019-11-14 11:59] pypingou commented on #3714
The authentication cookie is stored on disk and bodhi's CLI won't ask you for username/password if that cookie is still valid, so you may not need to re-login for a while sometime :)

[2019-11-14 12:02] nphilipp opened #3727 "Convert bodhi/tests/server/functional/test_packages.py to PyTest"
[`bodhi/tests/server/functional/test_packages.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/functional/test_packages.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI a

[2019-11-14 12:02] nphilipp opened #3728 "Convert bodhi/tests/server/functional/test_users.py to PyTest"
[`bodhi/tests/server/functional/test_users.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/functional/test_users.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

T

[2019-11-14 12:02] nphilipp opened #3729 "Convert bodhi/tests/server/scripts/test_check_policies.py to PyTest"
[`bodhi/tests/server/scripts/test_check_policies.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/scripts/test_check_policies.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or

[2019-11-14 12:02] nphilipp opened #3730 "Convert bodhi/tests/server/scripts/test_sar.py to PyTest"
[`bodhi/tests/server/scripts/test_sar.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/scripts/test_sar.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also l

[2019-11-14 12:02] nphilipp opened #3731 "Convert bodhi/tests/server/scripts/test_untag_branched.py to PyTest"
[`bodhi/tests/server/scripts/test_untag_branched.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/scripts/test_untag_branched.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or

[2019-11-14 12:02] nphilipp opened #3732 "Convert bodhi/tests/server/services/test_builds.py to PyTest"
[`bodhi/tests/server/services/test_builds.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_builds.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

Thi

[2019-11-14 12:02] nphilipp opened #3733 "Convert bodhi/tests/server/services/test_comments.py to PyTest"
[`bodhi/tests/server/services/test_comments.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_comments.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

[2019-11-14 12:02] nphilipp opened #3734 "Convert bodhi/tests/server/services/test_composes.py to PyTest"
[`bodhi/tests/server/services/test_composes.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_composes.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

[2019-11-14 12:02] nphilipp opened #3735 "Convert bodhi/tests/server/services/test_csrf.py to PyTest"
[`bodhi/tests/server/services/test_csrf.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_csrf.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This al

[2019-11-14 12:02] nphilipp opened #3736 "Convert bodhi/tests/server/services/test_errors.py to PyTest"
[`bodhi/tests/server/services/test_errors.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_errors.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

Thi

[2019-11-14 12:02] nphilipp opened #3737 "Convert bodhi/tests/server/services/test_overrides.py to PyTest"
[`bodhi/tests/server/services/test_overrides.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_overrides.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app

[2019-11-14 12:02] nphilipp opened #3738 "Convert bodhi/tests/server/services/test_releases.py to PyTest"
[`bodhi/tests/server/services/test_releases.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_releases.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

[2019-11-14 12:02] nphilipp opened #3739 "Convert bodhi/tests/server/services/test_schemas.py to PyTest"
[`bodhi/tests/server/services/test_schemas.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_schemas.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

T

[2019-11-14 12:02] nphilipp opened #3740 "Convert bodhi/tests/server/services/test_updates.py to PyTest"
[`bodhi/tests/server/services/test_updates.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/services/test_updates.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

T

[2019-11-14 12:02] nphilipp opened #3741 "Convert bodhi/tests/server/tasks/test_composer.py to PyTest"
[`bodhi/tests/server/tasks/test_composer.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/tasks/test_composer.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This

[2019-11-14 12:02] nphilipp opened #3742 "Convert bodhi/tests/server/test_metadata.py to PyTest"
[`bodhi/tests/server/test_metadata.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_metadata.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also lets us

[2019-11-14 12:02] nphilipp opened #3743 "Convert bodhi/tests/server/test_notifications.py to PyTest"
[`bodhi/tests/server/test_notifications.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_notifications.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This al

[2019-11-14 12:02] nphilipp opened #3744 "Convert bodhi/tests/server/test_push.py to PyTest"
[`bodhi/tests/server/test_push.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_push.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also lets us use the

[2019-11-14 12:02] nphilipp opened #3745 "Convert bodhi/tests/server/views/test_generic.py to PyTest"
[`bodhi/tests/server/views/test_generic.py`](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/views/test_generic.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This al

[2019-11-14 12:34] #3710 closed, assigned to nobody

[2019-11-14 15:36] kparal opened #3748 "don't close comments when update is pushed stable"
I have noticed that people can no longer comment on updates once they went stable [1]. Please revert this change. Future people comments are very important for QA. I see quite frequently that people post comments like "but this has broken XYZ!" on stable updates. Some people even share a bugzilla link this way, so that it's easy for people affected to participate in the bug discussion. Other peopl

[2019-11-14 19:28] pghmcfc commented on #3707
If I try to change the expiry date of an existing expired buildroot override, I get the error message "NVR required" and it doesn't work. I have to create a new override for the same build to get it to work.

[2019-11-15 04:27] ryanlerch commented on #3748
I have no preference either way here, but here is the initial RFE with the request:

https://github.com/fedora-infra/bodhi/issues/2050

[2019-11-15 04:53] ryanlerch commented on #3586
going to un-assign this one due to inactivity

[2019-11-15 09:42] pypingou commented on #3707
@pghmcfc this seems to be related to buildroot overrides and not adding builds to an update. Could you create a separate ticket to be sure it's not lost?
Thanks!

[2019-11-15 10:22] #3726 closed, assigned to sebwoj

[2019-11-15 10:23] mattiaverga commented on #3707
@pghmcfc @pypingou no need to open a new ticket: #3710 #3721

[2019-11-15 11:25] kparal commented on #3748
I can understand @jasontibbitts 's motivation. However, I think the disadvantages here outweigh the advantages. Pushing something broken stable is not uncommon. I then debug the culprit package, and then look into Bodhi at the relevant update page. Often, there are already people complaining. Sometimes there is already a bug link. If there is not, I file the bug, and then put it as a comment into

[2019-11-15 11:45] #3727 closed, assigned to sebwoj

[2019-11-15 13:03] #3728 closed, assigned to sebwoj

[2019-11-15 14:33] mattiaverga commented on #3714
@ryanlerch the problem with selectize may be due to unescaped characters while parsing the JSON response: there's one bug attached to the update with `"` in title

[2019-11-15 15:10] jeremycline opened #3765 "No longer able to enter the NVR of a build in the create update dialog"
In the past one could just enter the NVR of a build into an update without waiting for it to query koji for available builds.

At the moment I can't edit an update because the query to koji is repeatedly timing out. When the timeout occurs you have to just refresh the page and hope you get lucky and the query completes, but it turns filing an update via the web UI into a multi-minute event which i

[2019-11-15 19:24] #3730 closed, assigned to sebwoj

[2019-11-15 20:58] #3729 closed, assigned to sebwoj

[2019-11-17 17:29] tim77 opened #3773 "Obsoleted update links broken in Bodhi 5.0"
They are not clickable anymore. For example:
https://bodhi.fedoraproject.org/updates/FEDORA-2019-bfd89bbb49

![DeepinScreenshot_select-area_20191117192806](https://user-images.githubusercontent.com/5614476/69011177-76a91100-0970-11ea-8e81-cdcde0a5f232.png)

[2019-11-17 17:58] sebwoj commented on #3773
Duplication of #3723

[2019-11-17 18:00] tim77 commented on #3773
Oh, yep. TY. Closing.

[2019-11-17 18:00] #3773 closed, assigned to nobody

[2019-11-18 02:38] #3735 closed, assigned to sebwoj

[2019-11-18 03:47] #3732 closed, assigned to sebwoj

[2019-11-18 04:32] #3736 closed, assigned to sebwoj

[2019-11-18 05:23] #3713 closed, assigned to nobody

[2019-11-18 06:25] #3743 closed, assigned to sebwoj

[2019-11-18 07:20] #3733 closed, assigned to sebwoj

[2019-11-18 07:56] keszybz commented on #3748
+1, it is important to allow comments "on both ends": before the update has gone to testing and after the update has gone to stable.

[2019-11-18 08:01] keszybz opened #3776 "cannot edit update to add bug number"
I forgot to add a bug number to https://bodhi.fedoraproject.org/updates/FEDORA-2019-8839eed094. When I go to https://bodhi.fedoraproject.org/updates/FEDORA-2019-8839eed094/edit, and click on the bugs field, I get a spinner on the right that spins endlessly (5+ minutes). It is impossible to paste the bug number into the field. (Pasting seems to be blocked, middle-click paste doesn't work. After a f

[2019-11-18 08:02] keszybz commented on #3776
Duh, I clicked reload and it works now. Sorry for the noise.

[2019-11-18 08:02] #3776 closed, assigned to nobody

[2019-11-18 10:19] abompard opened #3777 "The signed handler can't handle messages about a build not linked to an update"
I'm getting a lot of these errors by email:
[code]

[2019-11-18 10:25] cverna commented on #3777
Fixed by https://github.com/fedora-infra/bodhi/pull/3720

[2019-11-18 10:25] #3777 closed, assigned to nobody

[2019-11-18 13:19] #3586 closed, assigned to nobody

[2019-11-18 14:48] igor-raits opened #3778 "sidetag: do not add builds which were not built in it"
With Rust, I'm tagging packages from rawhide into side tag and then performing build of actual packages. However, bodhi wants to create update with all those packages in it. I believe that we want to only suit builds which were built in that side tag.

As for non-rust case, you can tag older gcc build into the side tag, but you don't want to submit update for it.

[2019-11-18 15:51] #3731 closed, assigned to sebwoj

[2019-11-18 16:53] #3734 closed, assigned to sebwoj

[2019-11-18 19:10] mohanboddu opened #3779 "bodhi update id is too long"
While testing epel modules in stg bodhi, we hit a issue with the size of the update id is being larger than 32 char length

[code]

We can reduce the update id length by changing the release name but thats something I wont prefer since it will not look good. If its really hard to increase the length, then I guess we dont have an option to rename the release.

From irc chat with @cverna

[code]

Ko

[2019-11-18 20:19] bowlofeggs opened #3780 "Holding backspace to undo changes in bug search on new update form removes previously entered bugs"
Today I was working on adding an update with about 20 packages in it, and I was searching for quite a few bugs. I decided to hold backspace to remove what I had typed into the search form, and instead of simply going back to the beginning of the field and stopping, it removed all the bugs I had selected up to that point. This was frustrating since I had spent a lot of time finding those bugs.

[2019-11-19 05:40] #776 closed

[2019-11-19 09:52] igor-raits commented on #3778
@ryanlerch @bowlofeggs @sebwoj thoughts?

[2019-11-19 17:21] #3605 closed, assigned to subhamkrai

[2019-11-19 17:23] bowlofeggs commented on #3778
There might be a use case for people to tag things in to a side tag with the intent to have them shipped. But I agree that if people are tagging things in just to be part of the build root, they don't necessarily want them shipped. I wonder if the side tag should get a side tag build root as well, so that people have a way to express those two different intents.

[2019-11-19 18:47] igor-raits commented on #3778
I don't think we want to maintain separate -build for side tags... It is just overcomplication.

If you think this is useful, I can send PR.

[2019-11-19 18:51] bowlofeggs commented on #3778
I don't work on Bodhi anymore, so I'll defer to those who do as to whether it would be useful ☺

[2019-11-19 20:18] cverna commented on #3778
@ignatenkobrain Can you explain a little bit more why you would need to add a build that is in the rawhide tag (ie f32) in a side-tag ? If the build is in the rawhide tag it should already be available in the buildroot ?

Sorry if I am missing out something obvious but I prefer to have a clear understanding of the need :-)

[2019-11-20 08:19] igor-raits opened #3783 "It should not be possible to create an update from a side tag for a non rawhide release."
https://bodhi.fedoraproject.org/updates/FEDORA-2019-48a3fc7eb5 for example.

[2019-11-20 08:48] cverna commented on #3783
Currently update with side tags are only supported in rawhide for a few reasons, we want to make sure it works well in rawhide first, and it having side tag working for non rawhide releases requires a bit more work to deal with the updates-testing and updates repo.

So I think we have an issue since you should not have be able to create this update (for F31) using a side tag.

[2019-11-20 08:59] igor-raits commented on #3783
Aha, So what is the ETA for this in non-rawhide?

[2019-11-20 09:05] cverna commented on #3783
Difficult to say without knowing how well it scale in rawhide first. Let's rollout properly rawhide get some feedback on it then we can look at implementing it for the other releases.

[2019-11-20 09:12] igor-raits commented on #3783
I see, thanks for the reply . Meanwhile, how I can get those updates pushed through? I can't build them not in side tag.

[2019-11-20 09:43] nphilipp commented on #2322
Thanks @pypingou for the review. Holding off with copying this into the main article until we're past soft-launch.

[2019-11-20 11:06] pypingou commented on #3783
Tag them back into the usual tag and ship them in a single update?

[2019-11-20 13:57] #3779 closed, assigned to cverna

[2019-11-20 14:38] nphilipp commented on #2322
Here's the diff, as of now: https://fedoraproject.org/w/index.php?title=User%3ANphilipp%2FPackage_update_HOWTO&type=revision&diff=558694&oldid=555147

[2019-11-21 03:58] QuLogic opened #3788 "Override notes start out non-empty"
When creating a new override, the notes field starts out filled with a bunch of whitespace, and being non-empty, doesn't show the placeholder text.

[2019-11-21 17:22] mattiaverga commented on #3788
Will be fixed in Bodhi 5.1 by #3719

[2019-11-22 14:21] jmflinuxtx opened #3789 "Bodhi complains that it doesn't handle certain types of bugs (regression)"
When filing security updates for Fedora, there are 2 bugs which must be included. The Fedora tracker for that security issue, and the security team tracker. With the bodhi update, it complains that it doesn't handle that type of bug for the security team tracker. Examples:

Fedora bug that bodhi handles:
https://bugzilla.redhat.com/show_bug.cgi?id=1775116

Tracker that it does not (and should):
ht

[2019-11-22 14:25] jmflinuxtx opened #3790 "Bring back space delimited bug number entry."
With the latest Bodhi upate, I can no longer drop in a list of space delimited bug numbers, they must be entered one at a time and select the found results.  This is a huge annoyance when dealing with updates that fix a large number of bugs (today's kernel updates address 40 different security bugs).  Please bring back the ability to drop a list of bug numbers in the bugs field.

[2019-11-22 14:57] pypingou commented on #3790
@ryanlerch what do you think of this one?

[2019-11-22 15:10] #3707 closed, assigned to nobody

[2019-11-22 15:10] #3765 closed, assigned to nobody

[2019-11-22 16:15] mattiaverga commented on #3789
Bodhi has never handled bugs for the "Security Response" product, but the old update form didn't show any warning about that:
https://bugzilla.redhat.com/show_bug.cgi?id=1767726
https://bugzilla.redhat.com/show_bug.cgi?id=1765043

That said, it should just be a matter of adding that product into Bodhi configuration:
https://github.com/fedora-infra/bodhi/blob/3383ca09fa066c84f37a366701e31205474d2fd

[2019-11-22 16:34] jmflinuxtx commented on #3789
The previous version did not warn, and did add comments to those issues.  It can't close them either way because they tend to have blockers on all vulnerable products.
https://bugzilla.redhat.com/show_bug.cgi?id=1758239

[2019-11-22 16:52] mattiaverga commented on #3789
Yes, adding comments to those bugs is the only operation that Bodhi is allowed to, but it (actually) can't set it to "modify" or "on_qa" statuses, nor it can close the bug, because these operations are checked against the `bz_products` list. And that's exactly what the new warning is saying to the user.

If we want Bodhi to be able to modify the bug status or close it, the PR I've just posted will

[2019-11-22 17:00] jmflinuxtx commented on #3789
I think the previous behavior was correct in this case. Those bugs need the comment, status changes and closing are not really necessary, but considering the instructions in the Fedora security tracker bug template includes adding those bugs to bodhi, I would definitely consider the new warning a UI problem. When following the instructions of the security tracker, bodhi now essentially tells you t

[2019-11-22 17:08] mattiaverga commented on #3789
The behavior changed in #2336 in consequences of a need to not alter bugs statuses if they were `Security Response`... so discard my PR, we should not re-enable that.

[2019-11-22 17:16] jmflinuxtx commented on #3789
Yes, I think the correct behavior here is not to allow altering bug statuses on those products, but to get rid of the warning that was recently added.

[2019-11-22 17:30] mattiaverga commented on #3790
Just as a note, adding a comma separated list of bugs seems to work.

[2019-11-22 17:47] jmflinuxtx commented on #3790
1774933,1774934,1774937,1774939,1774946,1774947,1774949,1774950,1774957,1774958,1774963,1774965,1774972,1774973,1774976,1774978,1774988,1774989,1774998,1775002,1775021,1775023,1775010,1775011,1775015,1775016,1775042,1775043,1775047,1775048,1775050,1775051,1775956,1775110,1775097,1775115,1775074,1775116,1775063,1775117
Seems to just hang there forever. (Yes, this is a real bug list on a current upd

[2019-11-22 18:18] rdieter opened #3795 "cannot remove (or update) builds"
Example update,
https://bodhi.fedoraproject.org/updates/FEDORA-2019-8468f362c4

I've tried multiple times to remove/update a build, I uncheck
kf5-kirigami2-5.64.0-1.fc31
and add
kf5-kirigami2-5.64.1-1.fc31
and always receive error:
Builds : Multiple kf5-kirigami2 builds specified in F31

Also, tried just removing
kf5-kirigami2-5.64.0-1.fc31
by itself, but that ended up not doing anything (the edit

[2019-11-22 18:22] rdieter commented on #3795
Sorry, pkg name is/was kf5-kirigami2 (what I wrote was inconsistent)

[2019-11-23 09:54] mattiaverga commented on #3795
That happens because if the "search and add builds" input textbox isn't visible on the page, clicking the remove button on a build will just cause the row to be selected and the page to scroll to the input box, but the build isn't removed (if you scroll the page up again, you can see the build still in the list and selected, if you click again on the remove button it will be removed).
See https://

[2019-11-23 15:12] rdieter commented on #3795
Ah, you describe what's happening alright... mostly.  I've tried clicking remove button many times, it always moves focus to the search box, and never actually removes anything. :(

Knowing that, I zoomed browser out to make text *really* small, so that the search textbox was still visible on the screen... then I was able to do it.

[2019-11-23 15:58] mattiaverga commented on #3795
I think that's because after the first click and the page scrolls down you then click on something else (maybe the scrollbar). Doing so, the field looses focus and when you click a second time on the remove button the procedure restarts... I scroll the page through the mousewheel, so that didn't happen to me :-(

As a temporary workaround, it is possible to click on the build you want to remove an

[2019-11-25 14:08] igor-raits commented on #3778
yes, but the buildroot is for f31. so we tag crates from rawhide into f31 buildroot.

but this is very specific case, more generic one would be when you want to tag older gcc into your side tag in order to build your package. then you don't want to submit update for this older gcc.

[2019-11-25 16:40] StephenCoady opened #3799 "Build and host Bodhi container images in Quay.io"
Currently we build our containers directly in Open Shift, we should build and store them in Quay, will make deployments faster, and we would be able to use the image tu run the composer celery-task on the VM.

----
[cverna]

We have a Fedora Organization on quay.io. Coordinate with so that I can give you an auth token to push images there.

[2019-11-26 14:54] nphilipp opened #3800 "Workflow for updates from side tags in stable releases"
Story
=====

As a user of Bodhi,

I want updates from side tags to behave like normal updates with many packages,

so they aren't left dangling, but can be tested and moved to stable like other updates.

Background
==========

* People have created updates from side tags in stable releases and found them to be stuck, not moved to testing: #3783
* There's a card on the Community Fire Team™ board fo

[2019-11-26 14:56] nphilipp commented on #3800
@fedora-infra/bodhi @pypingou @cverna @abompard: Any opinions about when the side-tag should be deleted from Koji (see 3rd bullet point in *Background* above)?

[2019-11-27 01:02] ryanlerch commented on #3790
yeah, let's pull the code that pulls down the bug titles for now, it seems to make this hang

[2019-11-27 02:06] ryanlerch commented on #3790
not sure what is causing the hang here... other than the annoying messages that should soon be resolved by #3794 pasting the comma separated list seems to work for me.

I am adding it to a new update, @jmflinuxtx are you editing an exisitng update or adding to a new update?

[2019-11-27 10:56] nphilipp commented on #3800
Let's go with the easier option then.

[2019-11-27 12:24] pemensik opened #3802 "Cannot expire build override"
Created two overrides [f30](https://bodhi.fedoraproject.org/overrides/bind-9.11.13-2.fc30) [f31](https://bodhi.fedoraproject.org/overrides/bind-9.11.13-2.fc31) and wanted to expire them. However, error popup was raised: Nvr: Required.

Where am I supposed to provide NVR? It is already there in Candidate Build. Am I missing something?

[2019-11-27 13:46] #3789 closed, assigned to nobody

[2019-11-27 17:28] AdamWill opened #3809 "Option to manually create update title is too prominent, encourages people to create useless titles"
Since the recent Bodhi update overhaul, the option to manually specify the update title is very prominent in the update creation UI, and it's not very obvious that you can just leave it blank and get an autogenerated title.

This is causing lots of people to create updates with useless titles, like https://bodhi.fedoraproject.org/updates/FEDORA-2019-edc1551b22 for e.g. where the title is just the

[2019-11-27 20:45] jamesjer commented on #3809
Yes, please don't make it the first thing people see.  On my first interaction with the UI, I expected that field to be the same as the previous top field, the one that lets you search for a package name.  Move the title field way, way down, please, and put the search box back on top.  That's the first field I want to type in.

[2019-11-28 04:13] ryanlerch commented on #3809
Duplicate of issue #3640

Note to that this is also fixed in develop with PR #3705 and will be pushed to prod in the next bodhi release.

[2019-11-28 04:13] #3809 closed, assigned to nobody

[2019-11-28 04:17] ryanlerch commented on #3802
Thanks for filing this issue. However, this is an issue that has already been reported at #3710 and consequently already fixed with the pull request #3719 .

Note however, that this fix is not already in production, so the issue may still be encountered on  bodhi.fp.o

[2019-11-28 04:17] #3802 closed, assigned to nobody

[2019-11-28 14:49] #3739 closed, assigned to sebwoj

[2019-11-28 15:28] opoplawski opened #3814 "Cannot de-select the "auto-request stable" options or change thresholds."
https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2019-dac149ad76/edit
I want to de-select the auto-request stable options, but the save button is not responsive.  Nor can I change the karma threshold or number of days.

[2019-11-28 15:37] nphilipp opened #3815 "Take care of in-flight side tag updates after Bodhi activation point"
Story
=====

As a user of Bodhi who submitted an update from a side-tag before the Bodhi activation point of its release,

I want that the builds in the update get retagged into the pending-signing or pending-testing tag of the release, and that the side tag and its auxiliary tags are deleted after the Bodhi activation point of the release,

so the update continues to progress as a side-tag update

[2019-11-28 15:56] #3725 closed, assigned to sebwoj

[2019-11-28 16:13] hroncok commented on #3675
Went here to report that. Found this as a duplicite.

[2019-11-28 19:08] mattiaverga commented on #3814
I think that's because the javascript form crashes due to the presence of `"` in some bug titles. After the provided patch is applied it should work as expected.
Same problem as in #3714

[2019-11-29 16:51] sebwoj commented on #3741
@nphilipp /tests/server/tasks/test_composer.py already converted. Can we close this?

[2019-12-03 05:40] #3738 closed, assigned to nobody

[2019-12-03 11:20] #3723 closed, assigned to ryanlerch

[2019-12-03 14:24] cverna opened #3824 "Package python module independently"
Currently Bodhi's [setup.py](https://github.com/fedora-infra/bodhi/blob/develop/setup.py) is used to create 4 modules:

- bodhi
- bodhi-client
- bodhi-messages
- bodhi-server

This is not considered as a good practice and it makes it impossible to create python wheels for bodhi.

The goal of this ticket is to create independent `setup.py` under each directory, so that the client, the messages and

[2019-12-03 14:30] abompard commented on #3824
If we use [flit](https://github.com/takluyver/flit) or [poetry](https://github.com/sdispater/poetry), we don't even need a setup.py file: the `pyproject.toml` file will suffice.

I suggest we create subdirectories in the bodhi repo for each module, and a `pyproject.toml` file in each of those repositories.

[2019-12-03 19:17] cverna opened #3825 "Docs are not served in stg"
Currently the container used in staging OpenShift is not building the docs and not serving them. We need to change the container Dockerfile to build the docs using sphinx and then make sure the html files are where httpd is expecting them.

The Dockerfile used to build stg is here https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/openshift-apps/bodhi/templates/dockerfile-base

A

[2019-12-04 08:36] cverna opened #3828 "Rawhide single build update with conflicting build in the buildroot make approve testing crash."
This was reported in https://pagure.io/fedora-infrastructure/issue/8440.

The following update https://bodhi.fedoraproject.org/updates/FEDORA-2019-b5ef17579e had a more recent build in the rawhide buildroot. The approve_testing script currently assume that conflicting build will only happen for update created from a side tag. So the script needs to manage the single build update case.

[2019-12-04 09:41] kparal commented on #3748
And now I have a broken Firefox that was pushed stable in mere 12 hours and I can't even comment on the update:
https://bodhi.fedoraproject.org/updates/FEDORA-2019-492e5a2d98

**Please don't close comment section on recent updates. This is critical!**

If the comment section needs to be closed, do it at least after a month. Thank you.

[2019-12-04 09:47] pypingou commented on #3748
@jasontibbitts do you want to chime in since you requested that behavior in #2050?

[2019-12-04 12:42] #3828 closed, assigned to nobody

[2019-12-04 15:39] #3740 closed, assigned to nphilipp

[2019-12-05 00:21] AdamWill commented on #3298
A further note from @kparal on the 'downstream' issue:

"My experience was that I had to clear cache every few days or weeks, the error seemed to pop up at random intervals."

so presumably this isn't the 8 items vs. 9 items thing as you initially thought, but rather some kind of cache staleness issue?

[2019-12-05 00:38] puiterwijk commented on #3298
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/services/comments.py#L216 doesn’t require the caller of this endpoint to be authenticated (no ‘factory’ argument), but fills ‘author’ based on the current authenticated session.
The python-Fedora openidbaseclient only attempts authentication if required by a 403 error code or an OpenID redirect.
This would return neither of those, so

[2019-12-05 00:46] AdamWill commented on #3298
heh, that's just about what I was figuring out right now, yeah. So how do you reckon we should fix this? Fix it on server end by requiring auth in the comment function?

[2019-12-05 00:55] AdamWill commented on #3298
Aha - I think I might see when this broke. The whole 'allow anon comments with captcha' thing that the client goes to some trouble to deal with was [removed from the server early this year](https://github.com/fedora-infra/bodhi/commit/2e6326ef0bf6cc6762e4317b44aad9da054ed92f), and that commit [simplifies the bit @puiterwijk pointed to quite a lot](https://github.com/fedora-infra/bodhi/commit/2e632

[2019-12-05 00:58] puiterwijk commented on #3298
Well, if we no longer allow anonymous comments, the endpoint requires authentication to function.... so yeah, that’s the correct fix then.

[2019-12-05 00:59] AdamWill commented on #3298
right, makes sense. I'll just send a PR to make the endpoint require auth.

edit: hum, actually using an ACL factory isn't trivial because we don't have one for 'any authed user' (only for admins and packagers), and I'm not *sure* just restoring the `if not author:` block will do the trick (I think it would set the response code to 400, which doesn't happen currently, but not sure if that'll be en

[2019-12-05 11:50] rwmjones opened #3831 "bodhi sends endless spam if two Rawhide packages are built at the same time and the lower NVR one finishes second"
The situation is that I had started the build of `nbdkit-1.17.1-2.fc32` and forgotten about it.  A new upstream release of nbdkit happened about the same time so I then started a build of `nbdkit-1.17.2-1.fc32`.

The second (higher NVR) build finished first.

The first (lower NVR) build finished second.  This resulted in the following Rawhide update being automatically generated:

https://bodhi.fe

[2019-12-05 14:54] cverna commented on #3831
This was caused by #3828 with was hot fixed in production. I also have obsoleted the update from the database.
So that should be not be a problem any more.

Sorry about all these email :mailbox_closed:

[2019-12-05 14:54] #3831 closed, assigned to nobody

[2019-12-05 20:55] AdamWill commented on #3298
OK, finally managed to get a bodhi dev env running again (this is always a nightmare for some reason) and I'm pretty sure my `HTTPForbidden` fix works. Just triple checking it now and will send a PR soon.

[2019-12-05 21:13] igor-raits opened #3832 "Updates submitted in rawhide from side tags do not close bug"
https://bodhi.fedoraproject.org/updates/FEDORA-2019-f1bbf03a7c

I am pretty sure I have set "close bugs on stable", but the bugs were not closed and I had to close them manually.

[2019-12-06 17:15] #3800 closed, assigned to nphilipp

[2019-12-06 17:44] hannes101 commented on #3748
Just to add the reference to the discussion I started on fedora-devel.
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/75OK5QJ7EER3PQTCMLTVOVGGP3COB6N6/
Just for reference, I also filed a bug, when I was hit by the issue and I think it would have been nice if one could have linked this back to bodhi. So that anyone could have found the relevant information.
https

[2019-12-06 22:38] AdamWill opened #3837 "Comment submission is slow on updates with many builds, in extreme cases request times out and user experience is confusing (spinner stops spinning, no page refresh, no error shown, comment not yet visible on manual refresh)"
Lately when I add a comment to an update, it often doesn't appear. I press the "Add Comment & Feedback" button, it shows a spinner for a while, then it goes back to 'ready to press' state - but the rest of the page is not refreshed, I do not see my comment or karma appear. Sometimes if I do a hard refresh (shift-ctrl-r) at this point the changes will appear, but sometimes even this doesn't make th

[2019-12-07 00:04] nirik commented on #3748
How about allowing the comments, but if the update is stable they cannot +1 or -1 and the UI has some note that those comments were made after the update was pushed to stable and are only informational?

[2019-12-07 00:59] kkofler commented on #3748
How about actually allowing unpushing stable updates (either entirely or back to testing) and letting users use `dnf distro-sync` to get the previous stable update?

[2019-12-07 16:47] mattiaverga commented on #3748
As a packager I would like to manage bugs in the appropriate place (Bugzilla) rather than by Bodhi comments... so -1 for reopening comments on stable bugs.

What about a button which permits users to mark the update as introducing a regression with a link to a BZ ticket?
Something like this mokup:
![Screenshot_20191207_174945](https://user-images.githubusercontent.com/17218209/70378148-753e8900-19

[2019-12-07 22:12] keszybz commented on #3748
... or just allow comments? You can't assume that reporters always are confident that something is a bug. The proposed "regression" field solves one very specific case, but not many others: that another update is a follow-up, or that you shouldn't install this update if you use some package, or just "thank you" or anything else that doesn't fit that narrow scope.

[2019-12-07 23:49] nirik commented on #3748
This is impractical for many reasons, including, but not limited to:
* few people likely use distro-sync
* it would remove urgency to push a fixed package for some maintainers (oh, it was only stable for a day or two, it's fine)
* it could have legal implications, or at least require adjustments since we shipped it, but when it disappears by being untagged we no longer ship the srpm for it.
* an u

[2019-12-08 00:33] kkofler commented on #3748
People who don't use `distro-sync` won't notice any difference compared to now. But if people run into known regressions that have already lead to the update getting unpushed, they can explicitly `distro-sync` them away. So I don't see how it would make anything worse compared to the status quo.

As for the legal implications, the SRPMs also "disappear" when the update gets replaced by a newer one

[2019-12-08 09:02] mattiaverga commented on #3748
I used the word "regression", but I meant to simply give users a way to flag the update as "problematic".
If I understand well, you want to post a comment to warn the maintainer about a problem with the update and add a link to a BZ ticket.
A flag would be more effective and it can be seen at a glance. Also this would force a lazy user to open that BZ ticket and not rely on having the maintainer m

[2019-12-08 09:56] keszybz commented on #3748
... but then sometimes the maintainer will want to add a comment saying "no, this is not problematic, the reporter was mistaken". Things that users and maintainers may say in comments are more than just a single bit.

[2019-12-08 15:49] gsauthof commented on #2978
@cverna hm, I'm used to `fedpkg update` - under Fedora 31, I don't find an autotime/autopush option for `fedpkg update` - also no autotime key in the bodhi.template that I can edit in my $EDITOR when I invoke `fedpkg update` without options.

I'm using:

    fedpkg-1.37-9.fc31.noarch
    bodhi-client-4.1.0-3.fc31.noarch

Are there any plans to add better support to fedpkg for this feature, as well

[2019-12-08 23:43] ryanlerch commented on #3837
When this does happen next time, are you able to check the browser's error log and web console to see if anything is returned there? Might help reporducing this one

[2019-12-09 01:43] #3584 closed, assigned to cverna

[2019-12-09 02:31] #3714 closed, assigned to nobody

[2019-12-09 07:29] #3814 closed, assigned to nobody

[2019-12-09 07:29] #3788 closed, assigned to nobody

[2019-12-09 07:36] mattiaverga commented on #3837
I suspect this is only due to the slowness of the server in high traffic moments.
Actually when posting a comment the flow is:
1) push the 'add comment' button
2) the button is deactivated and the request is posted by JS
3) when the JS finishes with success a successful message is showed and the button is reactivated
4) finally, the html page is refreshed and the new comment is visible

If 3 happe

[2019-12-09 09:36] #3298 closed, assigned to nobody

[2019-12-09 10:26] AdamSaleh opened #3839 "Change the deployment configuration from rolling re-create."
The deployment configuration should automate most of the
https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/playbooks/manual/upgrade/bodhi.yml

[2019-12-09 13:23] sebwoj commented on #3737
Already converted.

[2019-12-09 15:40] pypingou opened #3841 "bodhi fails to contact koji in prod"
[code]

Since bodhi 5.1 this is no longer a blocker but it's also definitely not a nice UX.

Originally reported at: https://pagure.io/fedora-infrastructure/issue/8451

[2019-12-09 16:35] AdamWill commented on #3298
So my change won't necessarily fix @decathorpe 's initial problem exactly, since it's intended to trigger the code the Python client library has to try and reauthenticate if it receives a 403 error from the server, but @decathorpe was not using the Python client library at least initially. Still, I think it is pretty likely @decathorpe had basically the same problem: trying to post a comment while

[2019-12-09 16:38] AdamWill commented on #3837
does 3 have a timeout? because I don't recall seeing a 'success message' when this has happened to me, the spinner disappeared and the button went back to active state, but I don't think I saw any message...

[2019-12-09 17:39] mattiaverga commented on #3841
mmm looking at koji.listTagged code:
https://github.com/koji-project/koji/blob/2460a00117f8f7c9a64c96415cf638d9385a824b/hub/kojihub.py#L9772-L9780

I think that our request to koji simply hits timeout because koji firstly retrieves ALL builds and then it uses prefix to filter out results... and we're requesting all builds tagged with the candidate tag for all active releases!

In the old update fo

[2019-12-09 19:17] decathorpe commented on #3298
@AdamWill I think I was hitting the same issue for a different reason - because I *should* always be already authenticated when hitting that API, due to a different library design in my fedora/bodhi bindings.

But it turned out that the OpenID authentication isn't working correctly yet client-side (probably my fault) - and I still need to investigate why (the corresponding code in python-fedora re

[2019-12-09 19:30] pypingou commented on #3841
On Mon, Dec 09, 2019 at 09:39:53AM -0800, Mattia Verga wrote:

IIUC we do both, first one large call then we restrict by the data the user
input.
Maybe we could drop the first call?
I also find the library to trigger very quickly, if you look at your network tab
while typing something like g.u.a.k.e, depending on your speed you may end up
doing up to 5 requests.

[2019-12-09 19:37] cverna commented on #3832
Might be related but we have some traceback in the celery worker. This needs more investigation.

[code]

[2019-12-09 20:46] #2867 closed, assigned to abompard

[2019-12-09 21:01] decathorpe opened #3842 "bodhi claims "can be pushed to stable" when stable_karma - 1 is reached"
For example:

https://bodhi.fedoraproject.org/updates/FEDORA-2019-886409cae5

This update got +2 karma, but needs +3. Bodhi still just sent me a notification that I can push it to stable (which I can't, since it needs +3 karma, not +2).

[2019-12-10 08:09] adelton opened #3843 "Error encountered getting candidate builds from koji"
When creating new update at https://bodhi.fedoraproject.org/updates/new or editting existing one for example at https://bodhi.fedoraproject.org/updates/FEDORA-2019-b921e33fb0/edit, Build lookup fails with error notification "Error encountered getting candidate builds from koji".

[2019-12-10 08:30] stransky commented on #3843
I have the same problem,  I can't get Firefox builds (https://koji.fedoraproject.org/koji/buildinfo?buildID=1420744)

[2019-12-10 08:43] mattiaverga commented on #3841
Interesting, yesterday I did some tests and every request for latest_candidates with the `prefix` parameter returned timeout.
Today I get the timeout with
https://bodhi.stg.fedoraproject.org/latest_candidates?hide_existing=true&prefix=
which is the query triggered when entering the update form, used to pre-populate the list of available builds, but I can get a response without the `hide_existing`

[2019-12-10 08:45] mattiaverga commented on #3843
duplicate of #3841

[2019-12-10 08:49] adelton commented on #3843
Closing as dupe of https://github.com/fedora-infra/bodhi/issues/3841.

[2019-12-10 08:49] #3843 closed, assigned to nobody

[2019-12-10 11:08] kparal commented on #3748
@AdamWill has also provided good justification for allowing comments post-push in the devel thread:
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/75OK5QJ7EER3PQTCMLTVOVGGP3COB6N6/

I believe it's safe to say that QA department asks for reverting the change and allowing comments.

Some package maintainers would like to prevent users from reporting issues into Bo

[2019-12-10 16:13] AdamWill opened #3845 "'Push to Stable' is too hard to find in new UI"
Since the new UI landed, I've twice had maintainers tell me they can't push an update stable. It turned out they *could* have, but they just couldn't find the button. It used to be fairly prominently visible immediately; now it's hidden behind a non-obvious drop-down. The 'current status' indicator is actually a drop-down allowing you to change the status, but this isn't *terribly* obvious. The on

[2019-12-10 16:13] AdamWill commented on #3845
@ryanlerch

[2019-12-10 16:46] AdamWill commented on #3837
so yeah, I'm about 90% sure that's what is happening here. I tried using staging to confirm for sure but I can't because adding comments on updates in staging seems to work really fast (even on an update with a lot of other comments it works within a few seconds). But I'm fairly sure when I've seen this on prod, I was staring at the spinner for like 30 seconds, and I did not see the little black '

[2019-12-10 16:48] AdamWill commented on #3837
BTW, if I'm right, the second answer to https://stackoverflow.com/questions/53744751/python-pyramid-increase-request-timeout seems relevant to how this ought to be fixed:

"The correct approach is not to execute long running tasks in the requests. What you can do is:

* Make an initial request to kick off the task, returns immediately. This request writes the task to a database.
* Have a backgroun

[2019-12-10 16:57] AdamWill commented on #3837
Aha, OK, so now I'm 99% sure that's what's going on. I found a [staging update where I can reproduce this](https://bodhi.stg.fedoraproject.org/updates/FEDORA-2019-8b21f399ee): it seems you need, not an update with lots of comments, but an update with lots of *builds*. I checked the current time, hit the submit button, then carefully watched what happened. It's exactly as I described: the spinner s

[2019-12-10 17:02] AdamWill commented on #3837
Here's the exact response as logged by Firefox. It's a 504 "Gateway Timeout".

    {
      "log": {
        "version": "1.2",
        "creator": {
          "name": "Firefox",
          "version": "71.0"
        },
        "browser": {
          "name": "Firefox",
          "version": "71.0"
        },
        "pages": [
          {
            "startedDateTime": "2019-12-10T09:00:51.432-08:00",

[2019-12-10 17:55] mattiaverga commented on #3841
When exactly the `candidate_tag` is removed from a build? Does it happens when it gets tagged `pending_signing_tag`, `pending_testing_tag` or only when it's finally tagged with `testing_tag`?
If the latter, we don't need to query for all builds associated to an update, we only need to filter out all builds from updates in `pending_testing`. Unless we don't use `hide_existing` together with `testin

[2019-12-10 19:41] AdamWill opened #3846 "When update is autopushed, don't send both 'update can now be pushed' and 'update has been pushed' notifications"
When an update has autopush-for-time enabled, at the point the time threshold for pushing is reached, Bodhi adds *two* comments and sends *two* emails basically simultaneously: the first to say the update can now be pushed to stable, and the second to say it has been pushed stable.

This is entirely unnecessary. If autopush by time is disabled it makes sense to add a comment/send a mail saying the

[2019-12-10 22:35] AdamWill commented on #3837
FWIW, I poked about in the code a bit trying to figure out *why* saving a comment to an update with a lot of builds takes a long time, but it's not particularly obvious so I'd need to set up a development environment again and profile it. I couldn't justify the time that would take me today over work I'm actually specifically supposed to be doing, so I didn't do it. I may do it at a later date.

[2019-12-11 16:00] cverna opened #3849 "Close the db session when the approve_testing tasks succeed"
Currently we close the connection only when an exception happen. We should had a finally close to the try statement to close the connection in all the other cases.

https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/tasks/approve_testing.py

[2019-12-11 20:54] igor-raits opened #3850 "Bodhi does not create rawhide updates automatically"
https://bodhi.fedoraproject.org/updates/FEDORA-2019-770c3761ba

I had to create it manually :/

[2019-12-11 20:56] igor-raits opened #3851 "Updates from rawhide do not close bugs properly"
https://bodhi.fedoraproject.org/updates/FEDORA-2019-770c3761ba

This set bug status to MODIFIED, but it did not close it when update went stable.

[2019-12-12 10:39] cverna opened #3852 "Modular testing compose are failing"
The modular composes that pushes updates to testing have been failing with the following trace back.

[code]

[2019-12-12 12:54] ryanlerch opened #3854 "Create proper live and readiness endpoints for bodhi to be used in Open Shift configuration."
Currently we use :8080/ for both, we should have proper endpoints that represent the container is alive and should not be killed (usually /healthz/live) and that the container is ready to serve requests (usually /healthz/ready)

[2019-12-12 14:09] cverna commented on #3852
Fixed by https://github.com/fedora-infra/bodhi/pull/3853

[2019-12-12 14:09] #3852 closed, assigned to cverna

[2019-12-12 14:13] cverna opened #3855 "UpdateReadyForTestingV1 needs to be sent only for rpm build updates"
For other content (modules, flatpaks, containers) a new message will be needed.

We should check the `update.content_type` in `_ready_for_testing` method and only send the message if the contentType is rpm.

https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models.py#L3900

[2019-12-12 14:25] mohanboddu opened #3856 "bodhi push/compose failures"
Lately we are hitting lot of compose failures with the following error:

[code]

Although, a resume of the pushes is fixing them, but it would be better to fix this.

This is not high priority as such, but a fix is appreciated.

[2019-12-12 17:18] cverna commented on #3856
Fixed by https://github.com/fedora-infra/bodhi/pull/3853 :). We will try to deploy that soon

[2019-12-12 17:18] #3856 closed, assigned to nobody

[2019-12-13 13:00] cverna opened #3858 "Exception in the celery update handler."
The following exception is raised in the celery worker.

[code]

[2019-12-13 13:28] AdamSaleh commented on #3842
Based on https://github.com/fedora-infra/bodhi/commit/e17252fedda8caf16cb2c0229467e5bfdbfa8c67 it seems this works as intended? At least by the looking at the code, anytime you have more than critpath_min_karma it assumes testing is finished and you can go forward. @bowlofeggs do I read that correct?

[2019-12-14 08:56] michaelkuhn opened #3862 "Updates stuck in pending"
I created three updates yesterday. While one went through without a problem, two showed a `504 Gateway Time-out` error and are since stuck in pending:
1. https://bodhi.fedoraproject.org/updates/FEDORA-2019-4e9131663f
2. https://bodhi.fedoraproject.org/updates/FEDORA-2019-6aeb5f8619

Trying to change them in the web interface just does nothing and a `bodhi updates edit` also times out with the same

[2019-12-14 18:07] mattiaverga opened #3863 "Local tests broken by celery-beat introduction"
Commit 607acaf76dee957791a2dfbe699004102c4cccec broke tests in local Vagrant environment:
[code]
@abompard

[2019-12-15 08:45] cverna commented on #3862
We have been experiencing some problems with bodhi in production. I see that your updates are now in testing so going to clone this.

Thanks for the report

[2019-12-15 08:45] #3862 closed, assigned to nobody

[2019-12-16 11:27] abompard commented on #3863
They all pass in my local vagrant box, could you refresh your vagrant setup? Run `vagrant provision` (or `vagrant destroy && vagrant up`) and try again? Thanks

[2019-12-16 18:29] mattiaverga commented on #3863
I did destroy and recreate my Vagrant machine more than once, but that test always fail. I will try to reset my `development.ini` to the defaults and see if that's the problem.

[2019-12-17 09:49] mattiaverga commented on #3863
It turned out it was something in my `development.ini`... my fault.

[2019-12-17 09:49] #3863 closed, assigned to abompard

[2019-12-17 15:30] StephenCoady opened #3867 "Create containerised celery service on staging vm"
We need to test what a containerised version of celery looks like on the staging vm.

[2019-12-19 15:43] pypingou opened #3868 "Bodhi's CLI returns 0 even when it crashed"
It looks like the bodhi's CLI is returning an exit code of ``0`` even if it crashed

For example:
[code]

[2019-12-24 16:23] binayakbehera999 commented on #3209
I would like to work on this @bowlofeggs . I am new to open source, could you guide how to start with this issue?

[2019-12-25 20:00] igor-raits opened #3873 "Rawhide build got stuck in testing, while it is already stable in koji"
https://bodhi.fedoraproject.org/updates/FEDORA-2019-37111189d1

[2019-12-26 15:36] sebwoj commented on #3868
Use `echo $?` to check the return value (exit status) of the last executed command

[2019-12-26 16:17] sebwoj commented on #3855
Any requirements?

[2019-12-29 00:07] decathorpe opened #3877 "empty update title makes it un-clickable in list views due to empty <a> element"
I just noticed that if somebody sets the update title to an empty string (or it accidentally gets assigned an empty string), the created update is not clickable in list views since the generated `<a href=URL></a>` element is empty.

For example: https://bodhi.fedoraproject.org/updates/FEDORA-2019-110533d946

Not sure if this link is going to be valid for long:
https://bodhi.fedoraproject.org/updat

[2020-01-02 09:29] t8m opened #3881 "Something broken with the push of gnupg2-2.2.18-2.fc30 update to stable"
The https://bodhi.fedoraproject.org/updates/FEDORA-2019-b436a3156c update has been automatically submitted for stable by bodhi however probably due to some misconfiguration or bug somewhere it got ejected from the update push. The build has the right tag f30-updates in koji however it is not present in the F30 updates repository.

[2020-01-02 13:36] #3745 closed, assigned to nobody

[2020-01-02 14:22] #3744 closed, assigned to nobody

[2020-01-02 17:13] #3877 closed, assigned to nobody

[2020-01-02 18:54] decathorpe commented on #3877
@mattiaverga The linked PR is good, but it does not fix the issue I reported, and does not go far enough.

Stripping an empty string is still an empty string, and not `None`. The update I linked above already has an empty string set as the update's `display_name`, not some whitespace characters.

Empty strings should be prevented same as whitespace, and replaced by `None`.

---

EDIT: I see now th

[2020-01-02 19:09] mattiaverga commented on #3877
@decathorpe I have tested locally that an empty string is managed just like None.
Actually, if you have the `display_name` property set to all whitespaces, these whitespaces are only stripped in the template, but not in backend, thus is not threated as None by the template.... yes, it's weird!
If you can edit those updates you could manually clean the `name` field (you must see the placeholder tex

[2020-01-02 20:44] decathorpe commented on #3877
@mattiaverga there's something weird going on.

I've checked every existing update up until Dec 31, and **NOT ONE** update has only whitespace (`str.isspace()`) set as their `display_name`, but a lot of them have the empty string.

You can verify it for the borked update https://bodhi.fedoraproject.org/updates/FEDORA-2019-110533d946:

[code]

So this is not an issue with whitespace, except if bodh

[2020-01-03 07:51] mattiaverga commented on #3877
@decathorpe ah, that's a totally different problem: see #3471
Some times ago, a bunch of void updates (without any build) have been created end it seems they're now stuck in Bodhi database. There are currently 16 void updates stuck: https://bodhi.fedoraproject.org/updates/?search=&status=pending&page=19
These updates shows an empty <a> element because they don't have any build to make their title

[2020-01-03 08:07] mattiaverga commented on #3877
Running a quick check on a local Vagrant environment with an updated database give:
[code]

[2020-01-04 10:47] mattiaverga opened #3885 "Broken search updates pagination with filters"
If you use multiple values in search filters for updates search, as soon as you change page the filter gets broken.
For example, a simple search with `status = pending or testing` will produce a first page which is fine (`updates/?search=&status=pending&status=testing`), but when switching to second page the filter is broken (`updates/?search=&status=testing&page=2`).

The same happens for the oth

[2020-01-04 19:03] nirik opened #3887 "RFE: failed composes/resume handling"
Currently, when something fails in a compose bodhi marks it failed and then releng folks can resume it later after hopefully fixing whatever cased the failure. This was setup to allow composes that failed after the main pungi/mash run to be able to re-use the repository and save a bunch of time, as opposed to just having to start over.

However, this is messy and accident prone depending on when t

[2020-01-05 14:26] decathorpe opened #3888 "not possible to create bug or testcase feedback via REST api"
If I'm reading this correctly, the `/comments/` POST endpoint in the REST API (which calls the `Update.comment` method) expects lists of BugKarma and TestCaseKarma dictionaries when creating a new comment.

POST endpoint: https://github.com/fedora-infra/bodhi/blob/7265d5e267be9b46642d8679bada7608f743d5ed/bodhi/server/services/comments.py#L190-L200

Update.comment method: https://github.com/fedora-

[2020-01-05 15:03] #3885 closed, assigned to nobody

[2020-01-06 09:37] StephenCoady commented on #3867
I am having difficulty running anything in a container on this vm. I am unsure if it is a configuration problem or something else but the tooling to run containers seems to have a lot of network problems. I need to reach out to the sys admins to see if it is possible to do what we want.

[2020-01-08 09:59] juhp opened #3893 "can't seem to add F31M bug to F31M update"
I was trying to add a bug to https://bodhi.fedoraproject.org/updates/FEDORA-MODULAR-2019-1a8b176b64 but Bodhi complains it doesn't manage the product of the bug.
Is this a known problem?

`Save` seems to just spin on endlessly - maybe it times out later...

[2020-01-08 11:13] juhp commented on #3893
Okay the timeout seems unrelated indeed but when the bug is added in the UI it complains with a warning:

[code]

[2020-01-09 13:43] #3858 closed, assigned to nobody

[2020-01-09 17:05] mattiaverga commented on #3893
It seems Bodhi's `production.ini` is misconfigured in ansible and overwrites Bodhi's default.
`bz_products = Fedora,Fedora EPEL` should be `bz_products = Fedora,Fedora EPEL,Fedora Modules`

@abompard @cverna can you have a look?

[2020-01-09 19:09] kparal commented on #3748
And here we go again! Firefox is now completely broken (not rendering ANY pages) on many machines. In F30 update, I could point people to my bug report, because fortunately it hasn't been pushed yet:
https://bodhi.fedoraproject.org/updates/FEDORA-2020-2713adc57f
But for F31, I can't tell people to help debug the issue in the bugzilla, because the comments are closed:
https://bodhi.fedoraproject.or

[2020-01-09 19:56] cverna commented on #3893
Yes https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/bodhi2/base/templates/production.ini.j2#n527

I can fix that.

[2020-01-09 19:59] cverna commented on #3893
https://infrastructure.fedoraproject.org/cgit/ansible.git/commit/?id=d802e4d4875c210deee178acd8638f296fd7a11b

[2020-01-09 20:44] decathorpe commented on #3888
Oof. So, I started digging through the code for the bodhi web interface, and found this:

https://github.com/fedora-infra/bodhi/blob/eaad747cba66fd98166a089c79175bd2f45945ac/bodhi/server/templates/update.html#L297-L303

Which looks like `testcase_name` is actually an accepted initializer for `TestcaseKarma` after all. I'll test that, and if it works, I'll close this bug since it's actually not a b

[2020-01-09 21:51] decathorpe commented on #3888
Alright, I tried submitting test case feedback with `testcase_name` and `karma` values, but apparently that's not working, since it's not showing up in the web interface.

This is what the JSON body of the comment I'm sending looks like:

[code]

[2020-01-10 10:36] kparal commented on #3748
Thank you, @cverna

[2020-01-10 11:32] decathorpe commented on #3888
Upon further investigation, submitting bug feedback is also impossible via the REST API.

[2020-01-10 11:35] #3748 closed, assigned to cverna

[2020-01-11 09:33] cverna commented on #3881
this now fixed

[2020-01-11 09:33] #3881 closed, assigned to nobody

[2020-01-11 09:34] cverna commented on #3873
this was fixed

[2020-01-11 09:34] #3873 closed, assigned to nobody

[2020-01-11 09:35] cverna commented on #3850
I think we can close this, this was likely due to the bodhi/koji/rabbitmq outage we experienced in the infra

[2020-01-11 09:35] #3850 closed, assigned to nobody

[2020-01-11 09:36] cverna commented on #3851
is this still happening ? if not I think we can close this ticket

[2020-01-11 09:39] #3680 closed, assigned to nobody

[2020-01-13 22:37] AdamWill opened #3904 "bodhi occasionally fails to publish to fedora-messaging when it ought to (`update.request.testing`, `update.edit` at least)"
I noticed that openQA tested a 389-ds-base update for Fedora 31, but not an update for the same package for Fedora 30 that was submitted a few minutes later. Looking into it, it seems we got a [bodhi.update.request.testing message for the F31 update](https://apps.fedoraproject.org/datagrepper/id?id=2020-87b4ee60-1e32-4b6b-ac6f-02f043aa9c8a&is_raw=true&size=extra-large), but none was published for

[2020-01-17 17:09] decathorpe commented on #3298
For the record: In the meantime, I managed to get things to work correctly. My rust bindings for the REST API are now working and feature-complete :tada: (and I already built a working fedora-easy-karma replacement and an alternative bodhi CLI client on top of them)

Thanks again for everybody's help with debugging and fixing the original issue.

[2020-01-18 11:27] abitrolly opened #3911 "Fine-grained Pending pipeline status"
Is it possible to describe [Pending workflow[(https://bodhi.fedoraproject.org/docs/user/update_states.html#pending) in detail programmatically to see all delays and processing stages?

I am curious how much time does it spend waiting, scheduling, what steps are executed and on what queues. Maybe it can be expressed as https://nodered.org/ flow.

[2020-01-18 11:38] abitrolly commented on #3911
Ideally publish events and state, maybe as MQTT topic.

[2020-01-20 13:06] AdamWill commented on #3298
Cool! Can we see them? :)

[2020-01-20 13:44] decathorpe commented on #3298
Sure, all projects I mentioned are inside this GitHub org :)
https://github.com/ironthree

I might look into packaging them for fedora, as well, though I haven't done any rust packaging for fedora yet.

[2020-01-20 14:01] AdamWill commented on #3298
Do you mind if I point it up for the Fedora QA mailing list and ask folks to give it a spin?

[2020-01-20 14:22] decathorpe commented on #3298
@AdamWill Sure! Also, RFEs and issue reports are welcome. I've been using my tools for a few weeks now and most things should "just work" ©

[2020-01-20 14:51] voxik opened #3912 "Can't push Rawhide update manually"
When I tried pushing update with merged side tag, it took some while, where I did not know what is going on. During that time, because I was impatient, I have disabled "Auto-request stable based on karma?", "Auto-request stable based on time?" and "Require testcases". Then it eventually got into testing, but there was no option to push it into stable.

I was told by @cverna, that I should re-enabl

[2020-01-20 15:04] cverna commented on #3912
Yes I think we need to make it impossible to disable that setting for rawhide updates.

[2020-01-20 15:09] AdamWill commented on #3298
@abompard it seems like this wasn't included in 5.1.1. Can we please include it in a version that will get deployed? fedora-easy-karma is broken until this fix is deployed :(

If it doesn't get out soon I'll have to write a downstream patch for the client or something...

[2020-01-20 15:28] AdamWill commented on #3888
Did you try catching a webUI submission 'in flight' to see the format it uses?

[2020-01-20 17:16] decathorpe commented on #3888
@AdamWill Well, I looked at the HTML form for the web UI, and it uses

- array of `{"bug_id": BUG_ID, "karma": KARMA}` for `bug_feedback`, and
- array of `{"testcase_name": TESTCASE_NAME, "karma": KARMA}` for `testcase_feedback`.

I've tried doing the same thing (numerical bug ID, testcase name as string, karma as signed integer) - the comment and karma submitted with the same request gets submitt

[2020-01-20 19:49] #3841 closed, assigned to nobody

[2020-01-22 11:58] bachradsusi opened #3913 "Update's test gating status has been changed to 'failed' but bodhi reports "1 of 1 required test results missing""
https://bodhi.fedoraproject.org/updates/FEDORA-2020-3f14ef5a84
I believe the test failed more than 10 hours ago, but according to bodhi test results missing. Also in "Automated Test Results" you can see:

    fedora-ci.koji-build.tier0.functional    -----   a few seconds ago

This value hasn't changed since yesterday

[2020-01-22 17:32] mattiaverga commented on #3888
I don't think comments can be posted through API calls: firstly, the POST request requires a CSRF token and secondly the comment submission service is protected by `cors_origins_rw` rules, which only allow the Bodhi server as source.
[code]

[2020-01-22 20:14] decathorpe commented on #3888
@mattiaverga of course comments can be posted through the API:

https://bodhi.fedoraproject.org/docs/server_api/rest/comments.html#service-1-POST

After all, posting comments via both the bodhi client (which uses the official bodhi python bindings) and via my rust bindings (and hence, both bodhi-cli and fedora-update-feedback) works just fine. You just have to supply a valid CSRF token with the re

[2020-01-23 10:01] #3893 closed, assigned to nobody

[2020-01-23 17:49] mattiaverga commented on #3888
The webpage form actually sends JSON data in the following form:
[code]
(the last line with the empty list is injected by the javascript which packs the data before sending, but I think that it's not required)

[2020-01-23 18:35] decathorpe commented on #3888
@mattiaverga wow, that's some ugly JSON :)

Thanks for looking into this, I'll try to adapt my code to use this schema.

[2020-01-23 19:13] decathorpe commented on #3888
It works! :tada:

Thank you for your help!

Maybe we can get the documentation for the API endpoint updated? It's far from obvious that bug and test case feedback needs to be formatted this weirdly :)

[2020-01-23 19:13] #3888 closed, assigned to nobody

[2020-01-28 21:25] frozencemetery opened #3914 "Wrong update instructions for rawhide"
If one manually creates an update for rawhide, it doesn't auto-migrate.  So we need to chase karma, and the "how to install" instructions don't work, which is a problem.

Concretely, I have [this update](https://bodhi.fedoraproject.org/updates/FEDORA-2020-d5d4c21e87).  It happens to be pulling in a side-tag.  The instructions at the top are to run

[code]

As far as I can tell, this will never wor

[2020-01-29 19:26] cverna commented on #3914
To fix this we need to make a special condition in the update template for rawhide and modify the install instructions.

Rawhide in bodhi is identified as release that is not composed in bodhi (https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models.py#L787)

[2020-01-31 17:33] mattiaverga commented on #3914
Well, not so long ago this was not a problem, since all Rawhide builds were pushed directly in stable, so no updates were left in testing state.

Hiding the update command for all releases not composed by Bodhi would just be a short term fix. The real problem is that there isn't (I'm unaware of) a dnf command to easily install packages of an update pushed in testing from a side tag. It would requi

[2020-01-31 17:39] mattiaverga opened #3916 "Auto obsoletion not working in rawhide"
Looking at the list of updates in Testing state for Rawhide, it seems there are some packages which are not obsoleted automatically. All those packages were failing gating tests and never reached the Stable state.
https://bodhi.fedoraproject.org/updates/?search=&status=testing&releases=F32

[2020-01-31 17:50] mattiaverga commented on #3914
Looking at https://docs.fedoraproject.org/en-US/rawhide-gating/multi-builds/ it seems that sidetag updates should not be left in Testing state. The update reported by the OP should have been moved to stable upon receiving Greenwave result, so definitely Bodhi is misbehaving here.

[2020-01-31 17:56] cverna commented on #3914
Ha I bet this is cause by https://github.com/fedora-infra/bodhi/issues/3912. If the autotime push is disabled when creating the update, it will get stuck in testing forever.

We need to make sure packager can't disable that option when creating an update.

@frozencemetery can you edit your update and enable auto push based on time ? that should make the update move to stable.

[2020-01-31 19:00] frozencemetery commented on #3914
@abbra can you update https://bodhi.fedoraproject.org/updates/FEDORA-2020-d5d4c21e87 as suggested by cverna above?

[2020-01-31 19:43] abbra commented on #3914
Done. Not sure how long will it take to notice or we'll have to wait another couple days.

[2020-01-31 19:53] cverna commented on #3914
It is now pushed in stable

[2020-02-03 17:57] cverna opened #3918 "Creating updates for the same build on multi releases does not work"
Related to https://pagure.io/fedora-infrastructure/issue/8603.

When a packager tries to create an update with builds from different releases bodhi just hang, it should create an update per releases instead.

[2020-02-04 21:13] QuLogic commented on #3918
As I mentioned `fedpkg update` getting stuck too, that's only for single releases I think.

[2020-02-05 10:44] kparal opened #3919 "bodhi can't be installed from pypi"
This is a big problem now that python-fedora obsoleted internal bodhi client and had a new release, because bodhi can't now be installed from pypi in any way.

[code]

[2020-02-05 14:49] nphilipp commented on #3919
We just discussed this, @bowlofeggs mentioned that the reason is the one `setup.py` file containing several `setup()` calls for the different components of Bodhi when it should have one script for each. Until this is solved, you could maybe install `bodhi-5.1.1` package which is available as a testing update in Fedora 30, 31 and as usual in Rawhide.

[2020-02-05 15:41] kparal commented on #3919
Yes, we now have to use system site packages to use Bodhi through rpm. Thanks for working on this.

[2020-02-05 17:35] pypingou opened #3920 "Allow deleting rawhide updates"
The number of updates in staging that are in pending state is not normal: https://bodhi.stg.fedoraproject.org/updates/?releases=F32

If you check a few of them, due to a bug in greenwave that is being investigated, they are all passing CI, thus there shouldn't be gated and therefore be pushed to stable.
This is not happening.

The cron job has been ported to celery beats, and is thus running in op

[2020-02-05 18:41] mattiaverga commented on #3920
There's also a similar problem in prod (see #3916 ) where updates which fail CI are not obsoleted by newer builds.

[2020-02-05 18:43] mattiaverga commented on #3916
What to do with updates which fail CI? Should they be unpushed instantly at failure, since they cannot reach stable?

[2020-02-05 19:06] bowlofeggs commented on #3919
Another problem is that the client requires Koji, which isn't available in PyPI.

[2020-02-05 19:37] cverna commented on #3919
It is now :-) --> https://pypi.org/project/koji/

We have another ticket open #3824 to look at packaging each module independently, but that's not a small task.

[2020-02-05 20:04] bowlofeggs commented on #3919
On Wed, 2020-02-05 at 11:37 -0800, Clement Verna wrote:

Oh wow, nice!

[2020-02-05 20:10] cverna commented on #3916
I think we indented it that way when implementing the change (ie not have the update set to obsolete) but I am not sure why anymore :stuck_out_tongue:

@pypingou do you remember ?

[2020-02-06 10:31] hroncok commented on #842
Can this or https://github.com/fedora-infra/bodhi/issues/1809 be prioritized please? Handling subsequent updates that need to be manually synchronized is a huge PITA:

https://bodhi.fedoraproject.org/updates/FEDORA-2020-5d6c8b0c64

[2020-02-06 10:31] hroncok commented on #1809
Can this or https://github.com/fedora-infra/bodhi/issues/842 be prioritized please? Handling subsequent updates that need to be manually synchronized is a huge PITA:

https://bodhi.fedoraproject.org/updates/FEDORA-2020-5d6c8b0c64

[2020-02-06 10:34] hroncok opened #3921 "There's no way to stop an update (being) pushed to stable and get it back to testing"
1. Click *Push to stable*
 2. Realize this was not intended, you want to keep this in testing for some reason
 3. There is no *Unpush from stable, keep in testing* action available

As a workaround, one can unpush the update entirely and push it back to testing. That can be very confusing and possibly prevents additional timely push to stable.

[2020-02-06 13:53] cverna commented on #1809
Currently we don't have much time to work on Bodhi with the FAS rewrite going on, the work to automate the changelog generation and preparation for the data center move.

I can tag this as High Priority but we have quite a few of these :(.

If anyone is willing to try to implement this, I ll be happy to help answering question and review the code tho.

[2020-02-06 13:53] cverna commented on #842
Same as #1809 :(

[2020-02-06 16:33] pypingou commented on #3916
If we obsolete a build -1 for -2 and -2 gets gated while -1 passed its tests, nothing would go out, in the current mode at least -1 goes out.

If -1 fails gating and -2 pass, then -1 will stay in limbo and -2 will go to stable.

However, I agree that we need a mechanism to allow withdrawing updates that failed gating.

[2020-02-06 18:34] #3790 closed, assigned to nobody

[2020-02-06 18:35] #3636 closed, assigned to nobody

[2020-02-06 18:35] #3625 closed, assigned to StephenCoady

[2020-02-06 19:36] cverna opened #3922 "Setup development environment"
# Summary
* Follow the [developer documentation](https://bodhi.fedoraproject.org/docs/developer/vagrant.html) on how to setup an environment using Vagrant.
* Run the tests confirm that the environment is working.
* Improve the documentation if needed.

## Background
Bodhi is a complex system that interface with many other applications, the development environment based on vagrant allows to have an

[2020-02-07 08:26] cverna opened #3923 "Get familiar with bodhi-shell"
# Summary
* Learn how to use bodhi-shell in the development environment to query and change the database.

## Background
A production database dump is used to populate the development environment database. It means that when running Bodhi from the development environment you have access to production like data. This is very useful in order to better understand how things work, or for example to in

[2020-02-07 08:29] #3737 closed, assigned to nobody

[2020-02-07 08:29] #3741 closed, assigned to nobody

[2020-02-07 08:31] cverna commented on #3508
This is seems to work fine. Please feel free to reopen if you experience this again

[2020-02-07 08:31] #3508 closed, assigned to nobody

[2020-02-07 08:35] cverna commented on #3365
I think this has been solved with the latest fedora-messaging release

[2020-02-07 08:35] #3365 closed, assigned to nobody

[2020-02-08 08:05] mattiaverga commented on #3916
Unless I'm mistaken, the current workflow when adding a new update is:

1. Create package in db
2. Add builds
3. Create update with Update.new()
   1. Add update in db
   2. Set update.request to Testing if the update is not from sidetag (I don't understand where updates from sidetags are pushed to testing)
   3. Set test_gating_status to waiting
4. Set Koji tags
5. Obsolete older builds

So it se

[2020-02-09 20:14] pypingou commented on #3916
On Sat, Feb 08, 2020 at 12:05:33AM -0800, Mattia Verga wrote:

Couple of items missing from the description here:

a) we only automatically create updates for (single) build in rawhide,
b) there is no testing repositoring in rawhide

So: pending == build is waiting to be signed
testing == CI is running
stable == available in the buildroot (not necessarily in the mirrors)

The code that moves updat

[2020-02-10 12:09] voxik opened #3925 "RFE: Autoclose Rawhide bugs"
I have just build rubygem-its. Because I have referenced bugzilla ticket in the changelog as well as in git log \[[1]\], I would expect Bodhi to associate this ticket with the Bodhi update \[[2]\] and handle the bug properly, i.e. close it as soon as the update lands in Rawhide. Unfortunately, this is probably not the case ATM.

[1]: https://src.fedoraproject.org/rpms/rubygem-rspec-its/c/3714b5526

[2020-02-12 00:17] AdamWill commented on #3904
This wasn't a one-off. [Here's another case](https://bodhi.fedoraproject.org/updates/FEDORA-2020-4f5299af86). That update was submitted to testing on 2020-02-10 at 07:23:38 according to the web UI, but there is no `bodhi.update.request.testing` message logged in datagrepper, and openQA did not test it.

This is a serious problem, please take a look at it.

[2020-02-12 02:32] AdamWill opened #3926 "Bodhi warns you about other active updates for the same package, but without letting you back out"
If you're creating an update for foo-2.0-2.fc30 and there is already an update with foo-2.0-1.fc30 in it, when you hit the button to create the update, Bodhi will briefly show a toast basically saying "Hey! There's another update for this package! Are you co-ordinating with the author of that one?"

...but it's too late. The toast is shown during an irreversible creating process. Even if the answe

[2020-02-12 15:05] hroncok opened #3927 "New update page keeps loading on submit, creates only 1 update"
I have noticed recently that the https://bodhi.fedoraproject.org/updates/new page just keeps "loading" in the Submit button forever, while it actually creates the update.

More importantly, on multi-target updates like this one:

![_](https://user-images.githubusercontent.com/2401856/74347429-5fcc5c00-4db1-11ea-8fed-e3f752f0e348.png)

...it only creates one of them (in this case the latter).

[2020-02-13 17:45] mattiaverga commented on #3925
This can be implemented in the code that SHOULD automatically output the changelog in the release notes, added since v5.0: https://github.com/fedora-infra/bodhi/commit/54210f7e1932b763103ad0a38c3bb818862bc081

But it seems this is not working at all (I've never seen changelog entries in any update so far). @ryanlerch do you have any idea why we don't get any output from `generate_changelog()`?

[2020-02-13 17:49] mattiaverga commented on #3927
Closing as duplicate of #3918

[2020-02-13 17:49] #3927 closed, assigned to nobody

[2020-02-13 17:54] mattiaverga commented on #3921
Do you think a message like "Are you really, REALLY sure?" to be enough, or you want a button for revoking "pending Stable" state? The latter would require some more work (I think).

[2020-02-13 17:55] hroncok commented on #3921
The latter unfortunately. It's not like I don't intent to do it, it's more like I do, and when i do, somebody else says: wait, we should not have done this.

[2020-02-14 20:00] mattiaverga opened #3928 "Release notes not updated"
Bodhi release notes i production are not updated to 5.1.1, they're still show only till 5.1.0.

Also, the `news` directory on `develop` branch is not clean: it still contains news fragments already present in 5.1.0.

[2020-02-16 16:13] mattiaverga commented on #3925
It seems koji's `getLatestBuilds()` only return the latest build, not a list of latest builds, so `Build.get_latest()` always returns nothing.

I've opened a PR to Koji to correct this behavior: https://pagure.io/koji/pull-request/2015

[2020-02-19 10:36] decathorpe commented on #3918
FWIW, this also regularly happens for me even if it's a single-build update. The "Submit" button spins forever, sometimes bugs don't get commented on, but most of the time, the update gets (incompletely) created in the background while the button is spinning forever.

[2020-02-24 19:59] mohanboddu opened #3934 "side tag builds merged into different main tag issue"
Side tags are requested at any time of the rawhide cycle, but sometimes the work is not done before branching, so people request releng to merge the side tags into both of the releases, that is, branched and rawhide. If the side tag created before branching, then it can be easily merged into branched release after branching as fxx-build-side-xxxxx relates to branched release.

But, when asked to m

[2020-02-25 02:50] juhp commented on #3934
Thanks again - I try to be earlier for the next release.

(Yea, I also wondered afterwards if I should have asked you to tag f33 before pushing the builds to f32.)

[2020-02-26 15:15] avantsysadm commented on #2487
Hi @bowlofeggs,

The Red Hat Bugzilla folks pointed me in this direction. I see this issue is still open and we're having a similar problem. Let me know if it should be attached in its own issue.

Our error output from `yum check-update`

You should report this problem to the owner of the epel-testing repository.
If you are the owner, consider re-running the same command with --verbose to see the

[2020-02-27 02:30] bowlofeggs commented on #2487
Hi @avantsysadm! I no longer work at Red Hat, or on Bodhi, but perhaps you can ping the #fedora-apps channel on Freenode.

[2020-02-28 00:06] nirik opened #3936 "bodhi allows maintainer to request testing after stable already requested"
This may be related to configuration around when rawhide gating was first enabled, but there were/are 17 cases of updates where bodhi requested stable (and indeed did tag them for stable), but the maintainer then came and requested testing. This made updates that were in a state where they were stable but pending testing. When we then did the first f32 updates-testing push, these all errored.

bac

[2020-02-28 16:26] avantsysadm opened #3937 "Problems running "yum check-update" with epel-testing on CentOS 7"
Hi there,

The Red Hat Bugzilla folks pointed us in this direction, and I tried getting some help on a similar issue here only to find out that the member in that thread isn't working on this anymore.

We've run into some issues on one of our CentOS 7 hosts that's spitting out issues with the epel-testing repo complaining of corrupt metadata (update times). This was also happening on epel-testing-

[2020-03-02 12:48] pypingou opened #3938 "Drop/re-purpose the required taskotron checks"
Currently bodhi offers the possibility to gate an update based on user-specified taskotron checks. This appears in the UI under the field ``Required Taskotron checks``.

With taskotron going away, we should be able to drop this field/feature.

Note that we may be able to leverage some of the information/logic of this feature to gate updates for some (non-taskotron) tests.

[2020-03-03 15:23] #3837 closed, assigned to nobody

[2020-03-03 16:06] #3912 closed, assigned to nobody

[2020-03-03 16:06] #3914 closed, assigned to nobody

[2020-03-03 16:52] #3855 closed, assigned to nobody

[2020-03-03 18:18] abbra commented on #3904
One more problem: https://bodhi.fedoraproject.org/updates/FEDORA-2020-62c54952b9 wasn't getting any OpenQA tests due to this bug.

[2020-03-03 18:18] AdamWill commented on #3904
[Here's another case](https://bodhi.fedoraproject.org/updates/FEDORA-2020-62c54952b9#comment-1263796). No `bodhi.update.edit` message is [logged in datagrepper](https://apps.fedoraproject.org/datagrepper/raw?topic=org.fedoraproject.prod.bodhi.update.edit) for the edit @abbra made recently.

[2020-03-04 12:05] #3904 closed, assigned to nobody

[2020-03-04 20:23] AdamWill commented on #3904
For the record, [this anaconda update](https://bodhi.fedoraproject.org/updates/FEDORA-2020-52be94871e) looks like another case. I can't find any [update.request.testing message](https://apps.fedoraproject.org/datagrepper/raw?topic=org.fedoraproject.prod.bodhi.update.request.testing&delta=172800) for it.

[2020-03-05 16:18] #3854 closed, assigned to ryanlerch

[2020-03-05 17:06] #3845 closed, assigned to mattiaverga

[2020-03-05 19:15] richardgreg commented on #3849
@cverna I would like to work on this pls.

[2020-03-05 19:35] #3921 closed, assigned to nobody

[2020-03-06 10:01] kparal opened #3944 "builds seem to cumulate in updates-pending tag, an untagging bug?"
We have extremely high numbers of builds in `updates-pending` tags. For example:
[code]
The F32 numbers could be caused by F32 freeze, even though the number seems excessively high even when frozen. But F31 numbers are definitely wrong, because the last F31 updates push was **today**, and yet there are 1500 builds in there(!). Some builds are even duplicated/triplicated:
[code]
It looks like there

[2020-03-06 16:35] StarWonder67 commented on #3922
@cverna Is there any public chat forum where I can reach out to the mentors? I am an outreachy applicant and would like to contribute to this project.

[2020-03-06 17:05] cverna commented on #3922
@StarWonder67 yes you can join our IRC channel using the riot.im app https://riot.im/app/#/room/#freenode_#bodhi:matrix.org

[2020-03-07 13:52] sukkubm commented on #3142
I am an outreachy Intern and would like to work on this task.

[2020-03-07 19:05] karmadolkar commented on #3922
hello @cverna ! I'm Karma Dolkar from Indian Institute of Technology, Roorkee (India). I'm an Outreachy 2020 applicant and very keen to contribute to this project.

Here's a screenshot of Bodhi running locally in my browser:

![Screenshot from 2020-03-08 00-29-43](https://user-images.githubusercontent.com/48379515/76150812-51354400-60d4-11ea-83bc-8a4ac9df0f4b.png)

[2020-03-07 19:36] karmadolkar commented on #3922
In my opinion, the documentation should include commands specific to commonly used OS, and not just Fedora (example: libvirtd is not a service in Ubuntu that requires enabling). I had to Google a bit regarding the Ubuntu commands so I thought I'd share a suggestion. :smile:  @cverna

[2020-03-08 08:14] mattiaverga opened #3946 "Make CI compose tests more reliable"
In the past days we had some integration tests failing. It seems that when there's a failed compose we get different results from the expected:

**devel.ci.integration.tests.test_bodhi_cli.test_composes_list**
[code]

**devel.ci.integration.tests.test_bodhi_tasks.test_push_composer_start**
[code]

[2020-03-08 10:21] mattiaverga commented on #3944
I've noticed that if an update is still in pending->testing and gets enough karma to reach the stable state, it will go to pending->stable and `testing-pending` tag is not removed from its builds.

For example:
https://bodhi.fedoraproject.org/updates/FEDORA-2020-4fb1b8537d
https://koji.fedoraproject.org/koji/buildinfo?buildID=1471984

I think we should address this in the composer.

[2020-03-08 10:30] mattiaverga commented on #2487
At first I had thought it may be related to https://github.com/fedora-infra/bodhi/issues/3944#issuecomment-596189098 but then I saw other examples that are unrelated to that.
For example:
https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2015-7610
https://koji.fedoraproject.org/koji/buildinfo?buildID=676882
[code]
It may be useful to see the logs to get an idea of what has been changed on `updat

[2020-03-08 11:07] richardgreg commented on #3922
### For setting up development environment, these steps can be helpful if you're having issues with libvirt or wish to use virtualbox instead.

Make sure you have [vagrant](https://www.vagrantup.com) and [virtual box](https://www.virtualbox.org/wiki/Downloads) installed on your computer.

You don't have to use `sudo` to install packages. I find that it can lead to complexities.
Instead of `dns` us

[2020-03-08 12:51] StarWonder67 commented on #3922
@richardgreg Can you please help me out with setting the environment on Windows system? I am getting the following error message even when I have installed the sftp server.
![err3](https://user-images.githubusercontent.com/43103550/76163135-acfddc80-6169-11ea-9d8e-04d63a104fe7.png)

[2020-03-08 16:06] karmadolkar commented on #3922
hello @richardgreg . I did as you instructed and ended up with the Welcome message! :smile: . Here's the screenshot:
![Screenshot from 2020-03-08 21-33-42](https://user-images.githubusercontent.com/48379515/76166461-be081700-6184-11ea-9202-2f3a72862776.png)

[2020-03-08 16:13] karmadolkar commented on #3923
Hello @cverna! Could you please explain this task? What is the table or data we're accessing?

[2020-03-09 07:51] richardgreg commented on #3922
@StarWonder67 I'm not very familiar with the windows OS. Sorry I can't be of much help.

[2020-03-09 08:02] cverna commented on #3922
If you can open a Pull Request to add that to the documentation, I would be happy to review it :smile:

[2020-03-09 08:05] cverna commented on #3922
I think you will need to install [cygwin](https://www.cygwin.com/) to provide you with a Linux like terminal and utilities. The vagrant-sshfs plugin seems to look for it on windows (https://github.com/dustymabe/vagrant-sshfs/pull/34/files)

[2020-03-09 13:11] nphilipp commented on #3061
@StephenCoady @cverna With #3798 merged, should we close this one out, or keep it around for handling errors in the backend task?

[2020-03-09 13:39] Oishika-Pradhan commented on #3922
Hi, @cverna . I am Oishika Pradhan, an Outreachy 2020 aspirant. Here is a screenshot of Bodhi running on my browser.
![Screenshot from 2020-03-09 19-06-37](https://user-images.githubusercontent.com/23234376/76218031-7b544680-6239-11ea-9d98-e2b17903c927.png)

[2020-03-09 17:36] mattiaverga commented on #3061
I'm really scared about that commit having been merged for the reason pointed out by @nphilipp in the second to last comment... do we know how Bodhi will behave in case of a Koji outage with build tags going out of sync with updates?

Also I think that `tag_update_builds_task` could take advantage of koji.multicall() instead of calling koji for every build in an update.

[2020-03-09 19:09] mattiaverga opened #3949 "Setup a daily Jenkins run"
Since we have a pip run in Jenkins and things can be broken due to some package upgrade in pypi, it would be nice to be notified early so that we can easily see what dependency has been upgraded to know why tests start failing.

I don't have access to Jenkins, but I suppose there should be an option to trigger a test daily even if no change and no PR has been made here in Github.

[2020-03-10 03:19] jennizalwango commented on #3922
hello @cverna
l am an outreachy applicant and would like to contribute to this project , l am still setting up the development environment l have been able to install the Virtualbox and vagrant however l get an error when installing libvirt l am using ubuntu as an OS
Here is the error l get every time l reach at this step:
![Screenshot from 2020-03-10 06-17-19](https://user-images.githubuserconten

[2020-03-10 06:01] karmadolkar commented on #3923
I tried doing something like this to know the tables that exist in the production database https://stackoverflow.com/questions/21310549/list-database-tables-with-sqlalchemy/21346185
However, it's throwing an OperationalError. Could you please help? I'm having trouble understanding how to create an engine.

[2020-03-10 07:31] cverna commented on #3922
@jennizalwango if you have virtualbox you will not need to use libvirt :-). You can check @richardgreg comment on how to setup the environment with vagrant and virtualbox (https://github.com/fedora-infra/bodhi/issues/3922#issuecomment-596193046)

[2020-03-10 07:51] cverna commented on #3923
@karmadolkar so the goal of the task is to get familiar with Bodhi's  [models.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models.py) file.
This is where all the tables are declared using SQLAlchemy, for example the [Release class](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models.py#L755) will match the `releases` table in the postgresql database.

In t

[2020-03-10 07:54] cverna commented on #3061
We can either keep this one around and create a new issue just for the error handling. Either way works for me :)

[2020-03-10 07:58] cverna commented on #3061
Yeah that's a possible risk, but that should not be too bad. Updates will be created but the builds might not be tagged properly. That will be easy to track down and fix. In the end the koji tag is the source of truth for a build being available in a repo (updates-testing or updates) so in my opinion this is an acceptable risk.

Sounds good, do you want to create an issue or PR for that ?

[2020-03-10 08:00] richardgreg commented on #3923
@cverna
#### Get all the Updates in the "pending" state.
`m.Release.query.filter_by(state=m.UpdateStatus.pending).all()`

#### Get all the Updates in the "pending" state for the Fedora 32 release.
`m.Release.query.filter_by(long_name = 'Fedora 32', state=m.UpdateStatus.pending).all()`

#### Get the package id of the build "firefox-72.0.2-3.fc30".
`m.Build.query.filter_by(nvr='firefox-72.0.2-3.fc30

[2020-03-10 08:07] cverna commented on #3142
Hi @sukkubm have you managed to setup your development environment and looked at the bodhi-shell utility already ? https://github.com/fedora-infra/bodhi/issues/3922 and https://github.com/fedora-infra/bodhi/issues/3923

If not I would recommend to look at these first :-)

[2020-03-10 10:03] #3936 closed, assigned to nobody

[2020-03-10 10:22] AnchalJain commented on #3923
@cverna

Get all the Updates in the "pending" state.
[code]
Get all the Updates in the "pending" state for the Fedora 32 release.
[code]
Get the package id of the build "firefox-72.0.2-3.fc30".
[code]
Get all the builds for the "firefox" package using the package id from the previous step.
[code]
Query one update in the "pending" state and change its state to "stable"
[code]

[2020-03-10 11:46] sukkubm commented on #3142
Hi @cverna Apologies for not getting back to you! I had Windows laptop and was trying to install in wsl shell but was unable to do so, so I have now installed Fedora and got the application up and running. I am now working on SQL queries and getting familiar with the model structure. I will start working on this issue soon and will keep you posted.
![image](https://user-images.githubusercontent.co

[2020-03-10 13:08] karmadolkar commented on #3923
@cverna

1.) `m.Update.query.filter_by(status=m.UpdateStatus.pending).all()`

2.) `m.Release.query.filter_by(long_name = 'Fedora 32', state=m.UpdateStatus.pending).all()`

3.) `m.Build.query.filter_by(nvr='firefox-72.0.2-3.fc30').all()`

4.)`m.Build.query.filter_by(id=28).all()`

5.)
[code]

[2020-03-10 13:43] cverna commented on #3923
This does not work, if you check the results of that query you get a list of Release object instead of Updates :-)

This does not return a Release object no a list of builds. I suggest looking at the Package class in order to get a Package ID and see how to use that to query a list of Builds.

Here too you are changing a Release object instead of an Update :-).

To all:

I suggest to really spend

[2020-03-10 14:29] sukkubm commented on #3923
@cverna

1. Get all the Updates in the "pending" state.
[code]
2. Get all the Updates in the "pending" state for the Fedora 32 release .
[code]
3. Get the package id of the build "firefox-72.0.2-3.fc30".
[code]
4. Get all the builds for the "firefox" package using the package id from the previous step.
[code]
5. Query one update in the "pending" state and change its state to "stable".
[code]

[2020-03-10 16:28] jennizalwango commented on #3922
hello @clement
Actually l checked it out and l still bumped into some error l am not sure
if its because of the OS am using

On Tue, Mar 10, 2020 at 10:31 AM Clement Verna <notifications@github.com>
wrote:

[2020-03-11 06:23] ephraimbuddy commented on #3922
Hi, @cverna , I am Ephraim Anierobi, an Outreachy aspirant, here's a screenshot of bodhi running on my browser.
![Screenshot from 2020-03-11 07-19-18](https://user-images.githubusercontent.com/4122866/76388327-2a437000-6369-11ea-8f92-291c6dc6845e.png)

[2020-03-11 15:50] decathorpe commented on #3842
Even if that's true, the message is still wrong.

The minimum karma for pushing an update to stable is a value that can be set for each update individually - +3 by default (+1 is the minimum for normal updates, and +2 is the the minimum value for critpath packages).

It makes no sense to show "this can be pushed to stable now" when the minimum positive karma for that update hasn't been reached yet

[2020-03-11 16:18] richardgreg commented on #3387
@cverna can I do this?

[2020-03-11 17:23] karmadolkar commented on #3923
**1.) Get all the Updates in the "pending" state.**
`s.query(m.Update).filter(m.Update.status==m.UpdateStatus.pending).all()`

**2.) Get all the Updates in the "pending" state for the Fedora 32 release .**
[code]
**3.) Get the package id of the build "firefox-72.0.2-3.fc30".**
`p_id=m.Build.query.filter(m.Build.nvr=='firefox-72.0.2-3.fc30').first().package_id`

**4.) Get all the builds for the "fi

[2020-03-11 17:30] karmadolkar commented on #3387
@cverna are we only deleting a file in this issue?

[2020-03-11 17:53] karmadolkar commented on #3493
It shows +3 karmas now, I think someone gave it a +1 karma after this issue came up. I guess it's already stable now (by the +3 karma criteria)? Is it a common problem in other "resetted" karma updates as well?

[2020-03-11 22:27] ktdreyer opened #3952 ""fedpkg update" dies with "Connection aborted""
I've seen this error occasionally from multiple computers. The most recent occurrence was about an hour ago:

[code]
And after a really long delay:
[code]

When I run `fedpkg update` it again, I see this error:

[code]

So my client did successfully create https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2020-1ccdc325aa

What caused the really long delay and the "Connection aborted" error in my

[2020-03-11 22:31] ktdreyer opened #3953 "expand the validate_builds() error messages to print the URL of the conflicting update"
When I run `fedpkg update` after a crash (https://github.com/fedora-infra/bodhi/issues/3952) that left the system in an indeterminate state, I see this error message:
[code]

It would be great to extend this error message to print the URL for the update to save the user some clicks. This would make it easier for new users to understand and navigate Bodhi.

[code]

[2020-03-11 22:45] ktdreyer opened #3954 ""fedpkg update" does not move bugs from "NEW""
I submitted an update with `fedpkg update`:

https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2020-1ccdc325aa

There is a linked bug there, 1812692. It does not have the `initial_bug_msg` comment in the bug, and the bug is still in NEW instead of MODIFIED.

[2020-03-11 22:50] ktdreyer opened #3955 "UI shows an endless spinner for bugs"
I filed a new update at https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2020-1ccdc325aa

The "BZ#1812692" entry on the main page (and on the "Bugs" tab) just shows a spinner endlessly spinning, and there is no other information for the bug in the Bodhi UI.

I loaded the page through Chrome Developer Tools, but I cannot see any xhr request that went out for this bug's data.

[2020-03-11 22:56] ktdreyer commented on #3955
![Screenshot_2020-03-11_16-53-25](https://user-images.githubusercontent.com/620295/76471796-48d15780-63b9-11ea-9854-94220e385d42.png)

[2020-03-12 08:19] cverna commented on #3387
Ok so after talking with @pypingou on IRC, I think we might want to keep this is place. This script is currently running as a cronjob (https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/bodhi2/backend/tasks/main.yml#n193).

This is still useful because sometimes Greenwave fails to reply to Bodhi's requests and the cron job will provide a second chance to get the response from Gre

[2020-03-12 08:25] jennizalwango commented on #3922
Hi @cverna, l have been able to run bodhi locally l must say it has come with a lot of learning which is a good thing and something l love below is the screenshot. However, l would also suggest we provide documentation on how to set up the development environment on different Operating Systems. Personally, l am using ubuntu and it has been challenging and since this is something @karmadolkar talke

[2020-03-12 08:26] cverna commented on #3493
Yes I think there is a bug in the logic on how the karma is calculated for all Updates. I would start to look how at this method (https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models.py#L1980) and try to reproduce the issue either using a test or using the development environment.

[2020-03-12 16:12] mattiaverga commented on #3955
Caused by #3904

[2020-03-12 16:12] #3955 closed, assigned to nobody

[2020-03-12 16:13] mattiaverga commented on #3954
Caused by #3904

[2020-03-12 16:13] #3954 closed, assigned to nobody

[2020-03-12 20:00] madham32 commented on #3922
![image](https://user-images.githubusercontent.com/47317143/76561694-a0f58000-64c5-11ea-8c1a-a2f85a957bde.png)
Hi! I'm Hammad, an Outreachy aspirant from Pakistan. I was wanting to apply myself in this project but I can't get past this error. Any help would be appreciated!

[2020-03-13 05:04] karmadolkar commented on #3493
@cverna Could you please explain to me how I can reproduce the issue using a test or the development environment?

[2020-03-13 05:20] AnchalJain commented on #3944
@cverna  can I do this, issue?

[2020-03-13 08:58] richardgreg commented on #3922
@madham32 the image you're downloading uses libvirt for virtualisation. You can follow [this](https://github.com/fedora-infra/bodhi/issues/3922#issuecomment-596193046) instruction I provided if you wish to use VirtualBox as your provider. I don't think it's exclusive to macOS.

[2020-03-13 09:27] richardgreg commented on #3923
@cverna right. I hadn't taken a look at the models.py file and I was working with the schema from the development setup page. I have revised my queries accordingly.

#### Get all the Updates in the "pending" state.
[code]

#### Get all the Updates in the "pending" state for the Fedora 32 release.
[code]

#### Get the package id of the build "firefox-72.0.2-3.fc30".
[code]

#### Get all the builds

[2020-03-13 12:36] #3742 closed, assigned to nobody

[2020-03-13 13:10] cverna commented on #3493
Using the tests, I would look at making a new tests based on [this](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_models.py#L3063) and try to reproduce the comments from the update linked in the ticket.

You can run individual tests in the vagrant box using pytest, for example

[code]

That should allow you to iterate quickly

[2020-03-13 14:46] cverna commented on #3944
Sure I have not look exactly at what need to be done, but you can start to investigate :)

[2020-03-13 15:54] hroncok opened #3957 "Stable by karma limit not displayed in update"
![_](https://user-images.githubusercontent.com/2401856/76637525-2f601500-654b-11ea-986c-d292adf2db40.png)

https://bodhi.fedoraproject.org/updates/FEDORA-2020-f905273b27

There is **Unstable by Karma**, but no **Stable by Karma**

[2020-03-13 19:36] AdamWill commented on #3904
Saw another case today.

[2020-03-14 08:07] mattiaverga commented on #3904
This won't be fixed until Bodhi 5.2 is released. Unless we decide to hotfix production, since it breaks so many things... @cverna what do you think?

[2020-03-14 08:19] mattiaverga commented on #3944
Instead of address this in the composer, I think it could be better to remove the `pending_testing_tag` when we request stable in https://github.com/fedora-infra/bodhi/blob/894b795bee6f9f79fd61596db9a9586750afeb8e/bodhi/server/models.py#L2863-L2868 if the update hasn't been pushed to testing yet.

[2020-03-14 08:27] mattiaverga commented on #3957
This is the intended behavior: disabling the autokarma push will prevent the update to be automatically pushed to stable when `stable_karma threshold` is reached, but it will not prevent the update to be obsoleted if `unstable_karma` threshold is reached.

[2020-03-14 09:01] mattiaverga commented on #3493
@karmadolkar just a small hint: this issue has nothing to do with update's karma. The comment `This update can be pushed to stable now if the maintainer wishes` is made by Bodhi when the update reaches the minimum number of days in testing... so it seems that when an update is edited, Bodhi doesn't take that into account while calculating how many days the update has been in testing.
You should lo

[2020-03-14 09:07] hroncok commented on #3957
I have not noticed the autopush is disabled. Maybe it should say so instead of the limit?

[2020-03-14 09:08] mattiaverga commented on #2257
I think we can close this issue, since it doesn't happen anymore.

[2020-03-14 09:08] #2257 closed, assigned to nobody

[2020-03-14 10:02] mattiaverga commented on #647
To my knowledge, this is fixed in the current new update form.

[2020-03-14 10:02] #647 closed

[2020-03-14 10:29] mattiaverga commented on #3957
Yes, we could show a `stable by karma: disabled` in the UI and also add a `stable by time: disabled` when appropriate.
We should also add a `Autotime: False` to the CLI output.

[2020-03-14 16:48] karmadolkar commented on #3493
Okay, so we want to set the value of number of days in testing to zero every time the update is edited? If so,

`up.date_modified = datetime.utcnow()`

should be the up.date_testing.

Then we should call the https://github.com/fedora-infra/bodhi/blob/894b795bee6f9f79fd61596db9a9586750afeb8e/bodhi/server/models.py#L3737 function to store the days_in_testing value somewhere. Is there a class attribu

[2020-03-14 19:03] mattiaverga commented on #3493
Do not confuse a function decorated with `@property` with the actual property stored in database.
`days_in_testing()` is only used to calculate and get the number of days passed since the update was pushed to testing.
The real attribute stored in database is
https://github.com/fedora-infra/bodhi/blob/894b795bee6f9f79fd61596db9a9586750afeb8e/bodhi/server/models.py#L1762-L1763
which is initially set

[2020-03-14 19:08] karmadolkar commented on #3944
I had expressed interest in working on this a few days ago on the IRC DM. :)
This is the patch I came up with:

[code]
Is this correct?

[2020-03-15 05:36] madham32 commented on #3922
![Screenshot from 2020-03-15 15-34-12](https://user-images.githubusercontent.com/47317143/76696033-bd9ddd80-66a8-11ea-8e19-6551d82dc152.png)
I tried that and got this. Any suggestions?

[2020-03-15 05:49] karmadolkar commented on #3493
https://github.com/fedora-infra/bodhi/blob/894b795bee6f9f79fd61596db9a9586750afeb8e/bodhi/server/models.py#L2431-L2434

then do `up.date_testing=datetime.utcnow()` inside the same loop?

[2020-03-15 09:31] mattiaverga commented on #2194
This was closed by a PR, but it's not entirely fixed: the `critpath_karma` field and logic are still there, so I'm going to reopen this issue.

[2020-03-15 09:32] mattiaverga commented on #3493
No, I think we should set it to None, then `date_testing` will be set when the update is pushed again in testing.
You can do it inside the first if statement after `data['request'] = UpdateRequest.testing`:
https://github.com/fedora-infra/bodhi/blob/894b795bee6f9f79fd61596db9a9586750afeb8e/bodhi/server/models.py#L2415-L2434

BTW we can also move `data['karma_critpath'] = 0` there and save an if st

[2020-03-15 09:36] mattiaverga commented on #3944
@karmadolkar correct, just use the `remove_tag` only when appropriate (for example we can check if `self.request` is still  `UpdateRequest.testing` at this point)

[2020-03-15 09:46] richardgreg commented on #3922
@madham32 is the plugin `vagrant-sshfs` installed?

[2020-03-15 09:49] karmadolkar commented on #3493
[code]
set to None and saved the if statement.

[2020-03-15 09:58] madham32 commented on #3922
![image](https://user-images.githubusercontent.com/47317143/76699225-4464b180-66cd-11ea-92cc-28cbe7145b28.png)
I tried and got this

[2020-03-15 10:02] madham32 commented on #3922
I tried doing that as well and got this

![image](https://uScreenshot from 2020-03-15 15-01-35ser-images.githubusercontent.com/47317143/76699283-fac89680-66cd-11ea-8f11-54c5cb7bc80b.png)

[2020-03-15 10:03] madham32 commented on #3922
![image](https://user-images.githubusercontent.com/47317143/76699295-0b790c80-66ce-11ea-87d2-7d037c5a847a.png)
I tried that as well and got this

[2020-03-15 10:08] mattiaverga commented on #3493
Would you mind making a PR and add/edit tests accordingly to make sure everything run as expected?

[2020-03-15 11:56] richardgreg commented on #3922
@madham32 which cmd did you enter that produced the error?

[2020-03-16 07:31] #744 closed

[2020-03-16 07:44] keszybz commented on #744
Thanks!

[2020-03-16 11:00] ferdnyc commented on #2194
@mattiaverga: In the PR @ryanlerch cited https://github.com/fedora-infra/bodhi/issues/2194#issuecomment-370977735 above as the reason not to remove the backend parts, since @AdamWill wrote:

[2020-03-16 14:58] AdamWill commented on #2194
I mean, I do still think that, but on the other hand the chances of me having time to get back around to it any time soon are slim to none, and we always have git history, so I'm still not gonna cry if it's taken out.

[2020-03-17 08:39] richardgreg commented on #3957
@mattiaverga pls assign me to this issue? Also, any hints about approaching the problem would be appreciated.

[2020-03-17 08:47] #3849 closed, assigned to richardgreg

[2020-03-17 08:57] pypingou commented on #3387
+1 for me

Somehow, I'm not saying one thing and its opposite in a single ticket :(
Maybe we could somehow gather some stats of how often has the cron job saved us and use this data to make a decision?

[2020-03-17 15:25] karmadolkar commented on #3944
[code]

Is this correct?

[2020-03-17 16:44] mattiaverga commented on #3957
@richardgreg for the UI part you will need to look in the update page template:
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/templates/update.html

For the CLI part you'll need to look in the `bindings.py` file the function responsible for printing the update details and add the missing part. And modify the tests accordingly.

[2020-03-17 16:54] mattiaverga commented on #3944
It seems so in my opinion.

[2020-03-19 09:17] abompard commented on #3919
This is preventing me from building the messaging bridges in OpenShift with S2I. And S2I doesn't let me install RPMs because the assemble script is run without root. Any suggestions?

[2020-03-19 12:23] sukkubm commented on #3142
Hi @bowlofeggs @cverna

For the following command please find the output below:
`./devel/ci/bodhi-ci all -r f31 -x`

![image](https://user-images.githubusercontent.com/43291818/77066618-9859f800-6a37-11ea-91cd-6a0c3d53b766.png)

For the following command please find the output below:
`./devel/ci/bodhi-ci all -r f31 -x –container-runtime=podman`

![image](https://user-images.githubusercontent.com/4

[2020-03-19 14:18] cverna commented on #3142
The integration should be successful with both backend. I am not sure why there are failing so we need to investigate that. If we can confirm that the cause of failure is the same between a docker backend and the podman backend then I think we can be confident that podman works as well as docker.

The vagrant box is currently based on Fedora 30, from Fedora 31 docker will not work out of the box,

[2020-03-19 15:19] mcatanzaro opened #3962 "Search bar on landing page apparently does nothing"
Using either Firefox or Epiphany, the search bar on [bodhi's homepage](https://bodhi.fedoraproject.org/?term=foo) seems to do nothing. It just reloads the current page and does not perform any search. In contrast, the search bar on [the updates page](https://bodhi.fedoraproject.org/updates/?search=foo) works perfectly fine. It would be nice if the search bar on the homepage would search for update

[2020-03-19 16:53] mattiaverga commented on #3962
The searchbar is not meant to be used by entering text and pressing enter. You must select one of the results that are showed in the list:
![immagine](https://user-images.githubusercontent.com/17218209/77092614-3e8f0900-6a0a-11ea-94a2-49a57a07ad1e.png)

The submit event should be disabled at all.
However, I'm working on completely replace the component behind this, so I'll let this open to remembe

[2020-03-19 17:12] mcatanzaro commented on #3962
Ahh... I see... I can confirm it does work properly as long as I don't press Enter!

[2020-03-20 07:49] sukkubm commented on #3142
Hello, @cverna Thank you for your clarification. I will investigate why the integration tests are failing and also will use f30 as a parameter.

[2020-03-20 13:49] cverna commented on #3387
Closing since this is not an issue

[2020-03-20 13:49] #3387 closed, assigned to nobody

[2020-03-21 07:15] mattiaverga commented on #3946
Other randomly failing tests are probably due to a bad logic:

**devel.ci.integration.tests.test_bodhi_cli.test_updates_request**
[code]

**devel.ci.integration.tests.test_bodhi_tasks.test_update_edit**
[code]

[2020-03-21 14:41] mattiaverga commented on #3274
we forgot to close this

[2020-03-21 14:41] #3274 closed, assigned to nobody

[2020-03-22 14:42] mattiaverga commented on #3919
I've modified `setup.py` to produce useful packages to be installed with pip.
You can find the file and produced output (sdist and wheels) on https://mattia.fedorapeople.org/bodhi_pip/

Can you test if they work before I fill a PR?

[2020-03-22 14:59] richardgreg commented on #3209
@cverna pls assign me to this. Thanks.

[2020-03-22 18:17] richardgreg commented on #3928
@mattiaverga I see what you mean in https://bodhi.fedoraproject.org/docs/user/release_notes.html.

How does one go about rendering the latest contents `release_notes`?

[2020-03-23 08:07] cverna commented on #3928
I have prepared version 5.2 last week and that will fix this issue once it is deployed. See https://github.com/fedora-infra/bodhi/blob/develop/docs/user/release_notes.rst#v511

[2020-03-23 08:07] #3928 closed, assigned to nobody

[2020-03-23 09:51] shivani-1521 commented on #3922
Hi, @cverna , I am Shivani Singh an Outreachy aspirant. Here is a screenshot of bodhi running on my browser.
![Screenshot_2020-03-23 Fedora Updates System](https://user-images.githubusercontent.com/28950304/77303966-ca11de00-6d19-11ea-87b8-2401dbd83622.png)

[2020-03-23 09:52] richardgreg commented on #3534
@cverna Or this issue since it's got the `outreachy` label on it.

[2020-03-23 12:56] richardgreg commented on #3534
@cverna I'm wondering how one goes about recreating this error in the development environment.

Is there any toy username and password that can be used in the dev environment?

[2020-03-23 13:25] AnchalJain commented on #3534
@cverna I started working on this issue

[2020-03-23 14:20] richardgreg commented on #3534
@AnchalJain if you could pick another issue I've started working on this :)

[2020-03-23 14:45] cverna opened #3966 "Celery worker used to tag builds are failing."
We have the following exception when trying to tag a side-tag update

[code]

[2020-03-23 15:05] AnchalJain commented on #3534
@richardgreg actually, I am working on this issue from the start. I requested @cverna to open a new issue. If you want, you can ask him. I am sure there is another beginner issues present. hope you understand :)

[2020-03-23 15:40] richardgreg commented on #3534
Okay @AnchalJain. Next time you can request Clement to assign you to the issue you're interested in so we all know you're on it. :)

[2020-03-23 17:31] #3966 closed, assigned to nobody

[2020-03-23 22:33] richardgreg commented on #3209
@bowlofeggs There is a help icon in the update's comment box that alludes to Fedora-Flavored Markdown and that's it. No link to `/fragments.html`

[2020-03-25 13:47] kparal opened #3971 "broken comments help (missing markdown link, broken privacy link)"
This is how the comments help looks now:
![bodhi](https://user-images.githubusercontent.com/755451/77542973-48e85180-6ea7-11ea-9178-d46847436a4b.png)

"Fedora-flavored Markdown" is no longer a link - it used to be a link, even though I don't know where exactly it pointed. Now, nobody can figure out what the Fedora enhancements are.

Privacy policy link is broken, you can see its actual value in th

[2020-03-25 16:59] kparal commented on #3919
Sorry, we're in a release crunch now. I'll try to get to it in a few days.

[2020-03-25 17:27] AdamWill opened #3972 "Bugs no longer set to MODIFIED when update is submitted"
IIRC, it used to be the case that when an update that fixes a bug was submitted, Bodhi would post a comment on the bug and set it to MODIFIED. However, it no longer seems to do this. Bodhi only seems to touch the bug for the first time when the update is pushed to testing, at which point it goes straight to ON_QA. See for e.g. https://bugzilla.redhat.com/show_bug.cgi?id=1817031 (as I write this, a

[2020-03-25 18:26] mattiaverga commented on #3972
This is done by `bodhi.server.tasks.updates.UpdatesHandler.work_on_bugs()` along with retrieving bugs information.
I can see for some updates this is working (example https://bodhi.fedoraproject.org/updates/FEDORA-2020-ed14cff0d5 ) and for some other not ( https://bodhi.fedoraproject.org/updates/FEDORA-2020-cad4f4fcd0 ).
Would be nice to see the logs to know if the celery worker actually tried to

[2020-03-25 18:42] jennizalwango commented on #3923
@cverna

1. **Get all the Updates in the "pending" state.**

2.  **Get all the Updates in the "pending" state for the Fedora 32 release .**

 3. **Get the package id of the build "firefox-72.0.2-3.fc30".**

 4. **Get all the builds for the "firefox" package using the package id from the previous step.**

5. **Query one update in the "pending" state and change its state to "stable".**

[2020-03-25 20:30] nnatarajan commented on #3922
Hi @cverna,

Here is a screenshot of bodhi running locally in my browser. Please let me know if I should prioritize any specific issue.

Best,
Natasha Natarajan
Outreachy Applicant

<img width="1642" alt="Screen Shot 2020-03-25 at 2 13 23 PM" src="https://user-images.githubusercontent.com/20606687/77581758-e8a3e080-6ea3-11ea-9da7-3f1ea4ffdbc2.png">

[2020-03-27 14:44] cverna commented on #3922
You should not need to provide a login or a password, to connect to the virtualbox you can use `vagrant ssh` from a terminal session.

[2020-03-27 15:13] igor-raits opened #3973 "Editing update hangs indefinitely"
[code]

and then it just hangs...

[2020-03-27 15:14] igor-raits commented on #3973
I have tried on other update and it worked fine...

[2020-03-27 16:15] nnatarajan commented on #3922
My virtual box shown here in the first screenshot is requiring a login and password:

Separately, when I attempted to brew install ansible and libvirt on terminal, I received the error in the second screen shot:

<img width="452" alt="Screen Shot 2020-03-27 at 9 52 50 AM" src="https://user-images.githubusercontent.com/20606687/77775060-a4365300-7011-11ea-9dc2-84772581a739.png">

<img width="719" a

[2020-03-27 16:30] jpopelka opened #3974 "https://bodhi.fedoraproject.org/updates/, 504, Error returned from json module ..."
Hi,
not sure whether this is a problem in your code or infrastructure or our side,
but when we are creating a Bodhi update with [packit](https://github.com/packit-service/packit), we [do](https://github.com/packit-service/packit/blob/master/packit/distgit.py#L360):
[code]
and even the update is created just fine, the call to `save()` timeouts with:
[code]

Thanks

[2020-03-27 18:08] mattiaverga commented on #3974
@cverna  this could be the same issue that randomly hits users while creating new updates in UI.

I have been able to reproduce this a couple of times in the local test environment and looking at bodhi log it seems to stop just after queing the first notification message:
[code]

I wonder if this can be due to the fact that `bodhi.server.notifications.publish()` creates its own Session() object, a

[2020-03-27 19:18] jennizalwango commented on #3926
@cverna  and @AdamWill
l would like to work on this task.
Is there a possibility of getting in touch for more clarity about the task.

[2020-03-27 19:26] AdamWill commented on #3926
Hi! Sure, I'm available on IRC (Freenode as 'adamw', in many Fedora-related channels, the most relevant channel for Bodhi is `#fedora-apps`) and via email at adamwill AT fedoraproject DOT org. Or you can just ask here. Thanks for looking at it!

[2020-03-27 19:50] jennizalwango commented on #3926
Thanks
@AdamWill  l cannot seem to find the channel `#fedora-apps` however l have access to the Riot
Please can you advise on how l can get to you?
Meanwhile, just asking ls there a particular naming convention we follow when it comes to branch naming?

[2020-03-27 19:53] mattiaverga opened #3976 "Obsoleted update shouldn't be pushable back to testing"
An update gets obsoleted when another one with a newer build is submitted.
I've just realized that obsoleted updates can be pushed back to testing by users... is that something we really want?

[2020-03-27 19:53] jennizalwango commented on #3926
@AdamWill  l have just seen your email :) l think l will use that instead
sorry about that.

[2020-03-27 20:30] AdamWill commented on #3926
There isn't really a convention for branch naming, no, most people just use a name like `improve_existing_update_warning` or something like that.

[2020-03-27 20:39] AdamWill commented on #3976
Well, there are I think *other* cases where it makes sense to be able to re-push an 'obsoleted' update. I think the same state is used for an update that has hit its negative karma threshold; the submitter should be able to edit the update (and fix the bug) and then resubmit it.

I think there may be scenarios where we might want to do the same with a truly 'obsoleted' update...like for instance i

[2020-03-27 20:42] AdamWill commented on #3913
I think this got fixed? The update status did change to 'passed' at some point, anyway. Are you still seeing issues here?

[2020-03-27 21:07] jennizalwango commented on #3953
@AdamWill  l will work on this task instead.

[2020-03-28 15:15] mattiaverga commented on #3974
I have pushed some changes in #3977 to find the reason of the above behavior.
Even if we pass the current active session object to `publish()` Bodhi still hangs. The added debug messages show that it hangs on `handle_update.delay()`, but I can't find any reason why it should behave this way.

[2020-03-28 15:43] #3957 closed, assigned to richardgreg

[2020-03-29 07:56] jennizalwango commented on #3953
@ktdreyer  and @AdamWill
I need clarity or advise on what l can do.
The reason why l am asking is that l am running on Ubuntu and for me to set up the project Bodhi l had to put a virtual machine and a virtual box which works fine when l am running the project.

However, l am having trouble installing fedpkg as a package and l have to run `fedpkg update` to start working on the task.

I have faile

[2020-03-29 13:10] mattiaverga commented on #3976
You're right, a negative karma threshold will cause the update to be obsoleted.
I think we should change this. I mean, what's the difference between "obsolete" and "unpush"? Looking in the code the `obsolete()` method removes ALL tags from the builds of the update, while `unpush()` moves the builds back into the `candidate` tag.

In my opinion we should "obsolete" an update when we're sure it will

[2020-03-30 04:53] ellert opened #3978 "Editing an update expires overrides"
If an update contains multiple builds, and the update is edited replacing one of the builds with a newer one. Then active overrides for any of the OTHER builds in the update, i.e. that is not added nor removed, get expired. In the web UI those expired overrides are still listed as active.

[2020-03-30 07:23] bachradsusi commented on #3913
No, thanks, closing.

[2020-03-30 07:23] #3913 closed, assigned to nobody

[2020-03-30 08:09] cverna opened #3979 "sqlalchemy.orm.exc.DetachedInstanceError exception in the composer task."
Since we have released Bodhi 5.2 we are getting a lot of sqlalchemy.orm.exc.DetachedInstanceError exception in the composer task leading to the compose failing and needing to be resumed.

[2020-03-30 09:49] adelton opened #3982 "Can't add bugs to errata"
When Fedora rawhide build is finished in koji, errata is automatically created in bodhi, for example https://bodhi.fedoraproject.org/updates/FEDORA-2020-b1136cde72. I'd like the related bugzilla to be autoclosed when the errata gets pushed, so I rush to the errata to edit it, to add bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1814917, before that errata switches to stable (?) and cannot b

[2020-03-30 10:06] #3979 closed, assigned to nobody

[2020-03-30 16:52] mattiaverga commented on #3982
Adding bugs automatically to rawhide updates is something planned in #3956

About the update form, it's strange: I don't have any problem adding bugs even by filling the bug number directly. Do you have any script blocker activated in your browser?

[2020-03-30 17:43] AdamWill commented on #3976
It's specific to the release process. So, there's this thing we do where we pull builds from updates-testing into candidate composes. See e.g. the Beta release candidate compose request:

https://pagure.io/releng/issue/9319

the things listed under "Please include:" there are updates that were in updates-testing at the time we did the compose, but which we knew we needed to include in the compose

[2020-03-30 17:58] cverna commented on #3972
I looked a bit a that today and we seems to have a few exception like these in celery. It seems that we are trying to update the bug at the same time as someone else.
We could maybe use celery retry feature to retry running this task in such case. Ideas ?

[code]

[2020-03-30 18:21] cverna commented on #3974
Yeah this is similar to what I have observed in the production log, it just hangs on handle_update.delay(). In production we have quite a few unexpected connection closure from the rabbitmq broker so I have added some parameter to retry the task in such case, but that should not really happen in the vagrant box so I wonder if there is something else going on.

[2020-03-31 06:54] mattiaverga commented on #3974
BTW, in the vagrant box the celery workers are not working at all... they don't receive any message from the local rabbitmq broker.

[2020-03-31 12:51] AdamSaleh commented on #3953
@jennizalwango ... fedpkg is fairly fedora specific and I don't think we test it elsewhere, but I think you should be able to progress just with bodhi code-base.

It seems that the error-message is generated by the [ validate_builds in validators.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/validators.py#L259)

It looks like we don't have a test-case for that validator, so t

[2020-03-31 13:26] jennizalwango commented on #3953
Okay, thanks :) l am going to look at it.

[2020-03-31 17:24] mattiaverga commented on #3972
From a quick look, it seems in the last few days all bugs associated with updates had their status modified and the bug information is present in Bodhi... I will make some other tests locally with the latest changes pushed in master ASAP.

[2020-03-31 18:50] jennizalwango commented on #3953
thanks,
 @AdamSaleh l let me look at it

[2020-04-01 09:09] #1455 closed, assigned to ryanlerch

[2020-04-01 09:09] #2828 closed, assigned to nobody

[2020-04-01 09:09] #3962 closed, assigned to mattiaverga

[2020-04-01 10:49] #3493 closed, assigned to nobody

[2020-04-02 18:09] jennizalwango commented on #3953
@AdamSaleh
Just to ask for clarity after writing a test case for ` validate_builds`
I went ahead to included different unit tests for the method but they are currently failing and Still fixing them. But hope this is okay.
Seems like some of them were covered in the `TestValidateBuildsOrFromTagExist `
Though currently stuck on how l can modify the error message  above
Any advice? l just want to mak

[2020-04-04 05:46] adelton commented on #3982
I have some cookie and ad blockers. Let me try to disable them the next time I do a Fedora package update.

[2020-04-06 18:15] cverna opened #3988 "Build uncorrectly untag when update edited"
Following the report of https://pagure.io/fedora-infrastructure/issue/8818#comment-640432

It seems that bodhi is not managing correctly the tags when an update is edited. The Update https://bodhi.fedoraproject.org/updates/FEDORA-2020-369ab3db3d add the following build added `gala-3.3.0-1.fc32` and a buildroot override was created for it but it seems that the build was untagged for it

we can see

[2020-04-07 12:10] mattiaverga commented on #3988
I tried to get a chronological order of things (time showed here is UTC+2):
`koji list-tag-history --all --package gala | grep 3.3.0-1.fc32`

**gala-3.3.0-1.fc32 has been built**
`Fri Apr  3 23:04:04 2020: gala-3.3.0-1.fc32 tagged into f32-updates-candidate by decathorpe`

**a buildroot override for gala-3.3.0-1.fc32 is created in Bodhi**
`Fri Apr  3 23:13:44 2020: gala-3.3.0-1.fc32 tagged into f3

[2020-04-07 12:15] mattiaverga commented on #3988
See #699 #798 #867 #1947 #3978

...should we fix this? :-p

[2020-04-07 21:35] mohanboddu opened #3991 "Updates from side tags get stuck if newer builds are in the base tag"
Updates like
https://bodhi.fedoraproject.org/updates/FEDORA-2020-641e69f08c and
https://bodhi.fedoraproject.org/updates/FEDORA-2020-d120de33c5
are stuck since there is a build in the side tag that is older (build time not nvr) compared to what is in the base tag.

Before side tags, when releng used to create the side tags, when we merge the side tags back into the base tag, we always considered th

[2020-04-08 06:15] cverna commented on #3991
This is the way we intended bodhi to managed the side tag, if when trying to merge we find a more recent build in the target tag, we push the update back to pending and there is a comment on the update flagging which builds are conflicting.

The packager then needs to edit the update to either add a more recent build in the side tag or remove the old build.

I am not sure we want Bodhi to be too s

[2020-04-08 07:27] hroncok commented on #3991
I suppose updating the build list will reset the timer and karma, correct? Than before it can reach stable, another packages are outdated. With large updates, this can pretty much never end.

[2020-04-08 07:41] cverna commented on #3991
Yeah sorry I should have mentioned that this is for rawhide, so karma and days to stable are both set to 0 in rawhide.

[2020-04-08 08:07] mattiaverga commented on #3991
Considering that other updates in the sidetag can depend / have been built against the older build, if we just let Bodhi ignore the older build and push the others we may end up in having broken packages. So, yes, I think it's better to warn the packager and let him fix the conflicting builds.

[2020-04-08 08:36] hroncok commented on #3991
Even there, with very large updates, it will take some time to add/remove the build and in the meantime, people will rebuild. The problem will not be that bad, but I still see it. However, maybe we can "solve" it with documentation.

[2020-04-08 10:13] mattiaverga opened #3993 "Bad characters in username"
There's a bot with a bad username of `packagerbot/os-master01.phx2.fedoraproject.org` that makes CI tests failing.
https://bodhi.fedoraproject.org/users/packagerbot/os-master01.phx2.fedoraproject.org

I'm pushing a PR to safe check CI tests, but do we want to make Bodhi safe to bad usernames like this? Since usernames are from outside world, should we modify them in a safe way before storing in th

[2020-04-08 10:47] cverna commented on #3993
Yeah I think we could transform the '/' by '_' for example before creating the user in the database.

[2020-04-08 12:06] rwmjones commented on #3868
[code]

[2020-04-08 14:04] jskladan commented on #3919
Would love to, but I'm honestly not sure how. Could you help me out here?

[2020-04-08 14:16] #3944 closed, assigned to nobody

[2020-04-08 14:54] #699 closed

[2020-04-08 14:54] #798 closed

[2020-04-08 14:54] #867 closed, assigned to nobody

[2020-04-08 14:54] #1947 closed, assigned to nobody

[2020-04-08 14:54] #3978 closed, assigned to nobody

[2020-04-08 14:54] #3988 closed, assigned to nobody

[2020-04-08 15:44] #3925 closed, assigned to mattiaverga

[2020-04-08 19:38] #3971 closed, assigned to nobody

[2020-04-09 05:07] kparal commented on #3971
@richardgreg @mattiaverga Should I open a separate issue for the missing markdown link? Or will you reopen this ticket? Because the privacy policy link was just one of two issues mentioned here. Thanks.

[2020-04-09 06:35] AdamSaleh commented on #3993
I for one think it is a very good bot username, because it reflects its kerberos principal :-)

[2020-04-09 06:46] cverna commented on #3971
@kparal the markdown link will be address in this PR https://github.com/fedora-infra/bodhi/pull/3985. So I don't think we need a second issue for it :smile:

[2020-04-09 06:50] karmadolkar commented on #3842
Probably there's an error in where we send that message. I'd like to work on this issue @cverna

[2020-04-09 06:54] cverna commented on #3842
@karmadolkar this is where the comment is made --> https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/tasks/approve_testing.py#L81

I would look at how the meets_testing_requirements methods works here --> https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models.py#L3674

[2020-04-09 06:56] AdamSaleh commented on #3993
(I do understand why it can be a problem)

[2020-04-09 08:44] kparal commented on #3971
Great, thanks

[2020-04-09 10:22] richardgreg commented on #2937
@mattiaverga I want to pick up where you left off on this class of issues. Is there anything you think I should know before I start?

[2020-04-09 14:14] richardgreg commented on #2937
I'm thinking the "How to install" section's HTML be changed to python code so as to avoid duplication.

[2020-04-09 15:15] mattiaverga commented on #3993
After some thought, modifying the username in our db with arbitrary rules can be dangerous and can produce unexpected behavior.
For example, replacing all non alfanumeric characters with `_` we may end to identifying two different users with the same internal username.

Since we don't have any issue having those bad usernames in database, I'd let them unchanged. We only have to address how to prod

[2020-04-09 15:47] mattiaverga commented on #2937
Everything is done in the `Update.install_command()` method, no need to change anything else in template:
https://github.com/fedora-infra/bodhi/blob/00000480285718221c0df4878617d09dff27428e/bodhi/server/models.py#L2183-L2214

But I don't think this is doable. You cannot install a module by simply run `dnf install --advisory`, you need to have a module enabled and be on the right stream... the trut

[2020-04-10 10:27] richardgreg commented on #3846
@AdamWill @cverna I want to investigate this. Where should I start looking?

[2020-04-10 11:26] richardgreg commented on #2937
@mattiaverga did you face similar challenges for flatpaks and containers install instruction?

[2020-04-10 12:18] cverna commented on #3846
@richardgreg I would start looking here --> https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/tasks/approve_testing.py

This is the tasks that will check if an update can be pushed to stable or not.

[2020-04-12 14:28] #3209 closed, assigned to richardgreg

[2020-04-14 06:55] cverna commented on #3842
So after looking at this with @karmadolkar it seems that a lot of code assumes that when a critpath update reaches the `critpath_min_karma` (configured to 2) the update can be pushed to stable, even if the packager set the update with an higher karma number. That's seems wrong to me but befora changing that I prefer to double check it.

I think that a critpath update should not be able to have a p

[2020-04-14 15:28] AdamWill commented on #3842
"So after looking at this with @karmadolkar it seems that a lot of code assumes that when a critpath update reaches the critpath_min_karma (configured to 2) the update can be pushed to stable, even if the packager set the update with an higher karma number. That's seems wrong to me but befora changing that I prefer to double check it."

This is sort of tricky, because it depends on what you believ

[2020-04-14 17:18] cverna commented on #3842
Ok thanks for the explanation that makes things easier.

I think the current way bodhi does that is correct, even the message that the update can be pushed to stable when the karma reached 2 even if the packager set the automatic stable push karma to 3 is then valid.
But we need to make sure that the the packager can then push that update to stable, I have not looked at this in details but from th

[2020-04-14 17:26] decathorpe commented on #3842
@cverna I think it would have been possible if I edited the update and reduced the stable karma to +2, but I would need to look at another case of this to verify it.

If I understand correctly, the built-in +1/+2 is only the lower bound for karma that allows pushing to stable, and the user-set karma limit (default to +3) decides about automatic karma-based push.

So the message about "this can be

[2020-04-14 17:45] AdamWill commented on #3842
You shouldn't need to edit the autopush threshold in order to push manually.

I actually tend to do manual pushes by CLI, because the CLI seems to get the rules right whereas I agree the web UI does not always seem to, it sometimes does not allow manual push when it should. CLI behaviour always seems to be correct.

[2020-04-14 17:46] AdamWill commented on #3842
@decathorpe I don't think your edit is any better, to be honest. I'd write something like "This update can now be manually submitted for stable, but will not be automatically submitted for stable unless it reaches the automatic threshold which is currently set to X"?

[2020-04-14 17:51] decathorpe commented on #3842
@AdamWill Sure, it was just a suggestion. Yours is better, but the karma threshold isn't necessarily set to +3 automatically, so I'd drop that qualifier as well. Then I'm okay with it :) And you're right, the web UI should definitely allow pushing to stable once the requirements are satisfied

Right now it's more like, "you can push this to stable now, if you want to, but we won't show you the but

[2020-04-14 18:20] AdamWill commented on #3842
that's why I wrote X. The message can fairly trivially read the current value...

[2020-04-15 06:28] #2902 closed, assigned to nobody

[2020-04-16 19:15] serge-sans-paille opened #4000 "Provide and use a YAML schema to validate gating test description"
It would be nice to have an explicit YAML schema for tests lying in the tests/ directory of rpms. That way the gating infrastructure could provide more explicit errors in case of, say, mis-indentation of the test description. Maybe `fedpkg lint` could also perform some linting/ checks in the same spirit.

Note: I'm not 100% sure bodhi is the right place to report that, feel free to state it if tha

[2020-04-17 11:36] cverna commented on #4000
@serge-sans-paille Hi thanks for the report, indeed there is not much Bodhi can do to improve that situation. I believe that it would be better to file an issue [here](https://pagure.io/fedora-ci/general/issues) to start the discussion with the wider Fedora CI group.

[2020-04-17 11:36] #4000 closed, assigned to nobody

[2020-04-17 12:18] serge-sans-paille commented on #4000
Thanks! Opened at https://pagure.io/fedora-ci/general/issue/105

[2020-04-17 13:50] #3059 closed, assigned to cverna

[2020-04-18 12:16] mattiaverga commented on #3993
So, as discussed in my retired PR, we have to decide how should we manage situations like this:

- store a URL friendly username along with the real username, like in my PR.
- prevent bad usernames to be used with Bodhi

Overall, I would prefer n.2: I have retired my PR because, even if it worked and is backwards compatible with the current situation, it seems awful to me to have a real username a

[2020-04-18 12:27] mattiaverga opened #4001 "Move koji's multicall() to use MultiCallSession objects"
Since Koji 1.18 the preferred way to use Koji's `multicall()` is through MultiCallSession objects.
https://docs.pagure.org/koji/writing_koji_code/

If we don't need to support Koji's instances < 1.18 we should consider to move all `multicall()` calls to use MultiCallSession.

[2020-04-19 11:30] hroncok opened #4002 "Cannot edit side tag updates: The supplied from_tag doesn't exist"
I'd like to edit https://bodhi.fedoraproject.org/updates/FEDORA-2020-cb72ecb134 to raise the karma limit, but I get: `The supplied from_tag doesn't exist.` error.

[2020-04-19 12:42] sumantro93 opened #4003 "Test Cases dont look like they are clickable"
It's hard to make out if the test cases are cilckable and should point to wiki.
https://bodhi.fedoraproject.org/updates/FEDORA-2020-c014bea351

User should be able to clearly understand that the test cases are clickable, the colour of text for link to be changed maybe

[2020-04-20 09:07] mattiaverga commented on #3976
So, I think we can limit the power of resurrecting an obsoleted update only to provenpackagers?
I tried to summarize the lifetime of an Update in the following flowchart. While doing that I also discovered that it's possible to push back to testing/stable updates for an archived release... this is not so terrible, since the request will do nothing, but it would be nice to fix it.

![Untitled Diagr

[2020-04-20 09:12] bakkc commented on #2487
Here, same kind of messages:
Update notice FEDORA-EPEL-2019-936f369393 (from epel-testing) is broken, or a bad duplicate, skipping.
You should report this problem to the owner of the epel-testing repository.
If you are the owner, consider re-running the same command with --verbose to see the exact data that caused the conflict.
Update notice FEDORA-EPEL-2019-17d2b3507b (from epel-testing) is broke

[2020-04-20 09:27] cverna opened #4007 "bodhi fails to build with Python 3.9: _dummy_thread and dummy_threading modules have been removed"

[2020-04-21 08:38] hroncok commented on #4002
I believe now that it was the state of the update (submitted to stable) that prevented me to edit it. I was able to edit it now. Still, the error message is not helpful, so keeping this open.

[2020-04-21 16:31] stratakis opened #4008 "Docs build failures with Sphinx 3"
bodhi fails to build from source on Fedora with Sphinx 3 series.

Downstream bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1823739

Error:
Warning, treated as error:
/builddir/build/BUILD/bodhi-5.1.1/bodhi/server/models.py:docstring of bodhi.server.models.Bug.url:1:duplicate object description of bodhi.server.models.Bug.url, other instance in developer/docblocks/bodhi.server.models, use :n

[2020-04-23 12:19] mattiaverga commented on #4008
Possibly related to #1995

I think we can just drop the `url` column, since `Bug.url` is provided via the url property. I don't see anything in the code that stores the url in db.

[2020-04-27 10:58] adelton commented on #3982
I've verified that it's Privacy Badger addon which causes the bug lookup to fail/never finish.

[2020-04-27 15:30] mattiaverga commented on #3982
Thanks for the info.
There's nothing we can do to prevent Privacy Badger to block requests to Bugzilla. You should set up Privacy Badger to allow that.

For the notes, I've just tried to install Privacy Badger and with a fresh installation it doesn't block Bodhi's javascript by default.

[2020-04-27 15:30] #3982 closed, assigned to nobody

[2020-04-27 17:57] nirik opened #4011 "Allow for small window where state is pending but bodhi composes updates"
Right now, once we have a go on a RC compose, we change bodhi config:

1. state from pending to stable
2. stable tag from f32 to f32-updates
3. composed by bodhi from False to True.

However, this messes up using bodhi as a source for truth as to when something is stable/released.

So, ideally I would like to be able to do just 2 and 3 before the release, and compose and push updates repos from bo

[2020-04-28 12:46] kparal commented on #3944
I'm not sure if the fix was already deployed, but the number of updates in updates-pending are still extremely high (almost unchanged).

[2020-04-28 15:46] mattiaverga commented on #3944
No, the PR has not been included in Bodhi 5.2.x
I think it's better to remove the 5.2 milestone to avoid confusion.

[2020-04-29 07:30] #1995 closed, assigned to nobody

[2020-04-29 07:30] #4008 closed, assigned to nobody

[2020-04-29 09:18] karmadolkar commented on #3842
@cverna and I tested to see if the webpage displays the "push to stable" button when +2 karma is reached. We found it to be behaving correctly.

[2020-04-29 15:31] #4003 closed, assigned to nobody

[2020-04-30 07:36] mattiaverga opened #4012 "no clickable link for updates with no builds"
If an update include no builds, `get_title` will return an empty string and there will be no clickable title in UI.

[2020-04-30 13:31] nphilipp commented on #2322
Hmm, I've done this long ago. Closing.

[2020-04-30 13:31] #2322 closed, assigned to nphilipp

[2020-04-30 13:34] nphilipp commented on #3783
WIth #3800 implemented, I'll close this.

[2020-04-30 13:34] #3783 closed, assigned to nobody

[2020-04-30 14:35] abbra opened #4014 "sidetag user experience can be improved"
It seems that only a creator of a sidetag can submit it as a bodhi request, however, there is no way to assign more than one person to a sidetag management. As result, if sidetag creator does not possess permissions to _all_ components built in the sidetag, nobody will be able to submit the resulting request to bodhi.

I encounter this twice already when doing complex updates of packages with depe

[2020-04-30 14:37] perexg opened #4015 "Cannot select package for the new update"
I cannot select https://koji.fedoraproject.org/koji/buildinfo?buildID=1473971 for unknown reason. Could you check, please?

[2020-04-30 17:51] nphilipp commented on #4014
@abbra I forgot to ask that on IRC, did you attempt to create the update using the `bodhi` CLI tool, too? I ask because the code looks as if this is only an issue in the web UI, it only offers side tags created by the logged in user (otherwise the list would be pretty long).

@ryanlerch What do you think, if my assumption is true, should we offer an additional way to enter a side tag manually so p

[2020-05-01 10:25] abbra commented on #4014
@nphilipp I haven't tried the CLI tool. Next time let me not forget about it ;)

[2020-05-05 07:06] #3972 closed, assigned to nobody

[2020-05-05 16:59] gsteja025 commented on #3505
can i take this

[2020-05-06 06:00] mattiaverga commented on #4002
The problem here is that, after the release activation point, the builds are tagged in the normal release tags:
https://github.com/fedora-infra/bodhi/blob/599c195fdb5018808bccf3b47f2426f418878237/bodhi/server/services/updates.py#L592-L602

and the side_tag is removed from koji:
https://github.com/fedora-infra/bodhi/blob/599c195fdb5018808bccf3b47f2426f418878237/bodhi/server/tasks/handle_side_and_re

[2020-05-06 06:17] cverna commented on #4002
@mattiaverga yeah I think that we need to set `from_tag` to None since once the builds are merged to the normal release tags the update can be considered as a normal multi build update.

Currently we are removing the sidetag before tagging the builds in the new tag (https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/tasks/handle_side_and_related_tags.py#L62). We are using the multical

[2020-05-06 06:24] cverna commented on #4002
The fact that we don't reset `from_tag` also breaks the signed consumer (https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/consumers/signed.py#L92) making the update stuck in pending since bodhi thinks that the builds are not signed.

[2020-05-06 06:59] #4012 closed, assigned to mattiaverga

[2020-05-06 07:11] hroncok commented on #4002
From the packager point of view, it would make sense to me if the tag was preserved until the update is pushed to stable. That way, new builds can be added until the end. Adding new builds now requires tribal knowledge and possibly nonstandard privileges.

[2020-05-06 08:06] cverna commented on #4002
@hroncok, when the update is created the builds are not in the side tag any more, they are merged into the normal release tag. So adding a new build would be similar to what you are doing with a normal update ?

[2020-05-06 08:16] hroncok commented on #4002
I would expect the builds to be tagged in "normal release tag" but also stay tagged in the side tag, so when I build  a new build in the side tag, I don't need to create buildroot overrides for that.

Example:

 1. in side tag S, I build libfoo-666-1
 2. in side tag S, I build foo-app-666-1 (against libfoo-666-1)
 3. I create update from the side tag
 4. update receives negative karma: Joanna real

[2020-05-07 07:19] #3357 closed, assigned to ryanlerch

[2020-05-07 07:20] voxik opened #4016 "FedMsg notifications in wrong order."
I always receive the FedMsg notification via email in wrong order. First I receive notification

[code]

followed by

[code]

Judging by the timestamps, Bodhi evaluates them in the right order, so I don't understand, where they are swapped actually.

https://bodhi.fedoraproject.org/updates/FEDORA-2020-19e6451efc

[2020-05-07 07:31] #3505 closed, assigned to mm-git01

[2020-05-08 11:46] keszybz commented on #4015
It has `tags: trashcan`. I would suggest just building it again, and submitting an update.

[2020-05-08 18:20] perexg commented on #4015
It's not possible. The build system complains that this version is already built.

[2020-05-08 18:52] hroncok commented on #4007
The suggested usage of `dummy_threading` is:

[code]

To support installations without the threading module.

https://docs.python.org/3.6/library/dummy_threading.html

Installations without the threading module are no longer possible since Python 3.7:

https://docs.python.org/3.7/library/dummy_threading.html

And hence this module was removed from Python 3.9.

However, the tests here use it in a d

[2020-05-08 19:55] keszybz commented on #4015
Yes. A version bump is necessary.

[2020-05-11 08:15] cverna opened #4018 "Add a graphql endpoint to bodhi"
We want to have the possibility to use GraphQL to query bodhi. First we need to setup a new route to give access to the GraphQL ressources.

This can be done in the following steps:

- [x] Add [Graphene](https://docs.graphene-python.org/en/latest/) dependency to the development environment

- [x] Add a new `graphql` endpoint that route to a graphql service, and just returns "Hello World!"

- [x] A

[2020-05-11 16:02] stratakis commented on #4008
Trying a new build with either the patch applied or with version 5.3.0 I now get:

/builddir/build/BUILD/bodhi-5.3.0/bodhi/messages/schemas/base.py:docstring of bodhi.messages.schemas.base.BuildV1.nvr:1:duplicate object description of bodhi.messages.schemas.base.BuildV1.nvr, other instance in server_api/messages/base, use :noindex: for one of them

[2020-05-12 01:49] onosek opened #4019 "bodhi-client in epel8"
Hi,
is there any plan to release bodhi-client v5 in epel8? It would be great to have it there. It will help me release fedpkg for epel8.
I suppose, that the same proposal for epel7 is more complicated, right? But epel8 itself is helpful though.
Thanks an have a nice day.

[2020-05-12 14:41] stratakis opened #4020 "Docs build failures with Sphinx 3 v2"
This is a continuation of #4008.

After the initial issue was fixed, now the error message with Sphinx 3 and the latest bodhi version is:

/builddir/build/BUILD/bodhi-5.3.0/bodhi/messages/schemas/base.py:docstring of bodhi.messages.schemas.base.BuildV1.nvr:1:duplicate object description of bodhi.messages.schemas.base.BuildV1.nvr, other instance in server_api/messages/base, use :noindex: for one of

[2020-05-14 08:02] cverna commented on #4007
Yeah and by looking at the comment I am not 100% sure how we are going to replace that :smile:

[2020-05-14 08:10] hroncok commented on #4007
We need a proper threading mock that makes sure no threads actually run. I've googled a bit but I cannot find anything. @vstinner, do you have some idea?

[2020-05-14 09:29] hroncok commented on #4007
Let's see if we can mock `ComposerThread` to have `start()` that simply calls `self.run()`.

[2020-05-14 10:56] hroncok commented on #4007
OK, I am officially not able to run the tests from git, but this passes in rmbuild:

[code]

Do you want to rework this to use mocking, or is it fine if I submit this as a PR (with adapted comment).

[2020-05-14 16:57] mattiaverga commented on #3292
#3989 should have fixed this

[2020-05-14 16:57] #3292 closed, assigned to nobody

[2020-05-14 17:17] mattiaverga opened #4022 "Allow users to have their personal data removed from Bodhi"
If I'm not mistaken, one of the key points of GDPR is that users can have their personal data removed from site database.
Currently Bodhi fetches some personal data from FAS and stores them in its database. The privacy policy refers to the general Fedora privacy policy, where the user can open a ticket in Pagure and have their data removed from FAS. But that doesn't cover removing user data in oth

[2020-05-15 07:33] cverna commented on #4022
Hey @mattiaverga so we do not delete personal data from bodhi because we have a "legitimate interest" of keeping these data. In bodhi's case it is a valuable information to know who created an update.

However to comply to GDPR we are providing a "Subject Access Request" (SAR) which gives the requester all the informations we have about them. This is currently done by https://github.com/fedora-inf

[2020-05-15 16:31] mattiaverga commented on #4022
Oh, ok. So we don't need this, I'll close the ticket!

[2020-05-15 16:31] #4022 closed, assigned to nobody

[2020-05-17 09:11] mattiaverga commented on #4016
I don't think this is caused by something in Bodhi. Looking in the code the `This update can be pushed to stable now if the maintainer wishes` message is always sent before the `This update has been submitted for stable by bodhi` message.
Also, it never happens to messages that I receive.

Just to be sure, can you check the `Date` and the `Received` headers in the emails? Those are the timestamp w

[2020-05-17 11:15] voxik commented on #4016
The emails are sent in the same second

[2020-05-18 08:35] cverna opened #4024 "Allow to query Releases using Graphql"
We want to query all releases using the `/graphql` endpoint.

Steps :

- [x] Add grapqhql-sqlalchemy to the dev environment
- [x] Configure `/graphql` endpoint to use graphiql (see https://docs.graphene-python.org/projects/sqlalchemy/en/latest/tutorial/#creating-graphql-and-graphiql-views-in-flask) need to research for a generic solution or https://github.com/graphql-python/webob-graphql.
- [x] Cr

[2020-05-18 09:22] igor-raits opened #4025 "RFC: Improved rules for pushing packages to stable"
Many updates in bodhi most of the time either do not get karma at all or get just 1 out of X and then just pushed by bodhi / maintainers to stable.

Since this is happening for majority of packages, I'd like to propose some more relaxed (flexible) criteria for pushing packages to stable. Following things should be taken into account and adjust score for pushing to stable, and if some threshold is

[2020-05-18 11:52] cverna commented on #4007
:+1: that looks good to me, thanks for looking at it

[2020-05-18 13:07] cverna commented on #4019
Hi,
There is currently no plan for that  but I think that is enforcing the idea to create a dedicated repo and package for bodhi-client which will make it easier to package in epel8.

[2020-05-18 14:04] hroncok commented on #4007
https://github.com/fedora-infra/bodhi/pull/4026

[2020-05-18 14:45] onosek commented on #4019
I agree that separate bodhi-client would make releasing compatible versions easier.
I expected that the release will not happen soon and I (hopefully) resolved conflicting versions ... for now.

[2020-05-19 06:50] #4007 closed, assigned to nobody

[2020-05-19 12:25] mattiaverga commented on #826
This is fixed with the new update form, closing.

[2020-05-19 12:25] #826 closed, assigned to nobody

[2020-05-19 13:56] dcantrell opened #4027 "Unable to edit update FEDORA-EPEL-2020-9a2dd704b8"
https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2020-9a2dd704b8

I submitted this one using "fedpkg update" and too quickly saved it before noticing it had picked up my mention of GitHub Issues in the RPM %changelog as bugzilla bugs and added those to the update.  These are wrong.  I am trying to remove them from the Bodhi update, but it's not saving.  Also, Bodhi seems to insist on this updat

[2020-05-19 13:59] dcantrell commented on #4027
OK, got it to save 'newpackage'.  But it still has this bogus list of bugs and it won't let me delete them.

[2020-05-19 14:02] dcantrell commented on #4027
I get this when I try to delete bugs from the update:

Builds : Unable to create update. DELETE statement on table 'update_bug_table' expected to delete 1 row(s); Only 2 were matched.

[2020-05-19 16:10] decathorpe opened #4028 "allow editing "from_tag" updates for stable releases"
According to @pypingou builds for updates created from side tags are just moved into the corresponding updates-testing tags, for stable releases, and the side tag is then deleted afterwards. The resulting update should be a "regular stable release update".

However, since the `from_tag` attribute stays set (to a then non-existent side tag) the update cannot be edited, since bodhi can't find the si

[2020-05-19 16:44] mohanboddu opened #4029 "koji 1.22 doesn't support krb_login, it supports gssapi_login"
Please make the changes needed to support gssapi_login.

[2020-05-20 07:14] mattiaverga commented on #4025
I think this would be a real pain to implement and an unnecessary over-complication.
We already have a min time limit set per release and a min karma limit set per release and critpath. Implementing a change like you proposed would mean to change those two limits per package (and I'm not even taking into account that an update can embed several packages).

Also this could be easily cheated by user

[2020-05-20 07:19] mattiaverga commented on #4027
So, there are some different points here:
- those bugs were attached from changelog by `fedpkg update`, not Bodhi itself. I've asked upstream to refine the regex used for that: https://pagure.io/fedpkg/issue/404
- I think also the Security type was set by fedpkg, since Bodhi defaults to Unspecified, but I'm not completely sure here
- About not being able to delete bugs in the update, I can't repro

[2020-05-20 07:22] mattiaverga commented on #4028
Same as #4002

[2020-05-20 07:22] #4028 closed, assigned to nobody

[2020-05-20 07:27] mattiaverga commented on #4015
Not a Bodhi fault, closing

[2020-05-20 07:27] #4015 closed, assigned to nobody

[2020-05-20 07:48] mattiaverga commented on #4029
Does this need anything special other than change krb_login() call to gssapi_login()?
I can't see any docstring under gssapi_login().

[2020-05-20 07:53] cverna commented on #4029
I am trying that currently in staging and it seems to fail with
[code]

So that will need a bit more investigation

[2020-05-20 08:27] cverna commented on #4029
Ok seems to have been a issue with the hosts I was using, just replacing with gssapi_login seems to work fine.

[2020-05-20 10:09] #4029 closed, assigned to nobody

[2020-05-20 18:51] hroncok opened #4032 "Side tag updates are not automatically pushed to testing"
When I create a side tag update for a stable Fedora, it sits in pending until I manually click "push to testing". This is inconsistent with regular updates and a tad confusing.

See also https://pagure.io/fedora-infrastructure/issue/8930

[2020-05-21 07:37] cverna opened #4033 "Cornice 5.0 breaks json error handling"
Cornice 5.0 introduce a new JSON handler which breaks backward compatibility.

[2020-05-21 12:43] cverna commented on #4033
Fixed in https://github.com/fedora-infra/bodhi/pull/4034

[2020-05-21 13:25] #4018 closed, assigned to karmadolkar

[2020-05-22 09:01] #4033 closed, assigned to nobody

[2020-05-22 09:39] mattiaverga commented on #1794
I'm working on move the association of TestCase model from Package to Update (or Build, I've not decided yet what's best).
That should cover other two related open bugs #824 and #2979

[2020-05-25 12:35] cverna commented on #4032
This issue is related to the builds of the update not being marked as signed by Bodhi. I think there is an issue with the Signed consumer and side tag updates that are coming from no rawhide release.

[2020-05-26 07:01] tuxedotje opened #4038 "500 Internal Server Error No such user: 'XXXXX'"
when looking for updates in https://bodhi.fedoraproject.org/ after login.
text: "You have no updates in pending or testing, view all your updates"
Now click on  "view all your updates"
new screen "0 updates"  click on "+ new update"
"500 Internal Server Error No such user: 'XXXXX'  "

[2020-05-26 13:52] #4032 closed, assigned to cverna

[2020-05-26 20:07] #3923 closed, assigned to nobody

[2020-05-26 20:07] #3922 closed, assigned to nobody

[2020-05-27 05:44] mattiaverga opened #4039 "Request not cleared on updates when release goes EOL"
When a release is archived, its updates statuses are set to "Obsolete", but we should also clear the Update request:
https://bodhi.fedoraproject.org/updates/FEDORA-2020-2855a8a590

[2020-05-27 08:05] cverna commented on #4002
So I started to think about how to implement this and one big down side of keeping the side tag until the update is pushed to stable is that we will have many side tags in koji for 7 days or more meaning that kojira will be even more busy that it currently is.

@nirik @mohanboddu what do you think ? Could that be a problem ?

[2020-05-27 08:20] #3842 closed, assigned to karmadolkar

[2020-05-27 08:22] hroncok opened #4040 "RFE: EOL warnings before it actually happens"
Packagers are confused today about the F30 EOL cut off:

https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/Z472V5GV5WLEEXLPP3EM2F5PXHAHFMMJ/

It was suggested that bodhi could issue a warning to the updates before the EOL happens. Obviously fo this to work, bodhi must know the EOL date before it happens. Once this is set, it can put daily comments to the soon-to-be

[2020-05-27 14:09] voxik opened #4041 "Search does not work?"
Trying to access update information about rubygem-net-ssh [[1]], it always files with "504 Gateway Time-out". I am not sure how to access this information via different means :(

[1]: https://bodhi.fedoraproject.org/updates/?packages=rubygem-net-ssh

[2020-05-27 14:18] cverna commented on #4041
There is an outage going on (https://status.fedoraproject.org/), still not sure what is the cause of it yet.

[2020-05-27 22:30] asangal commented on #2487
On Stackoverflow https://stackoverflow.com/questions/62053813/yum-check-update-failed-for-ex-elasticsearch-update-notice-fedora-epel-from

[2020-05-29 07:38] morxa opened #4042 "Update was not auto-pushed to stable after 7 days"
[This update](https://bodhi.fedoraproject.org/updates/FEDORA-2020-189a42d65a) should have been pushed to stable after 7 days, but wasn't. I'm not sure if this was a one time issue.

It received +2 karma, the threshold was +3. So it received feedback, but not enough to reach the threshold. Maybe it's related to that?

[2020-05-29 13:13] cverna commented on #4041
This should be resolved now, closing it

[2020-05-29 13:13] #4041 closed, assigned to nobody

[2020-05-31 23:29] decathorpe opened #4044 "bodhi API sometimes returns responses with empty bodies instead of JSON"
As the issue title states, sometimes, but it seems especially when bodhi is "under load", or when setting `rows_per_page` parameter to a bigger value than the default (e.g. 100), querying the bodhi REST API yields server responses with empty HTTP message bodies, but a "success" HTTP code.

This leads to all kinds of problems (and it's something that I have to actively work around in my bodhi rust

[2020-06-02 07:05] tuxedotje opened #4045 "link in body to koji is slow or does not work"
In bodhi ; Updates View;  Right collumn; under Builds; is a link, that link does not work very well.

[2020-06-02 07:22] tuxedotje commented on #4045
Links like these
https://koji.fedoraproject.org/koji/search?terms=stlink-1.6.1-1.fc32&type=build&match=glob

[2020-06-02 07:27] tuxedotje commented on #4045
in https://koji.fedoraproject.org/koji/    search window does not find stlink-1.6.1-1.fc32
when search on stlink it finds results.

[2020-06-02 09:44] cverna commented on #4045
This is an infrastructure issue and it was reported here --> https://pagure.io/fedora-infrastructure/issue/8970

Thanks for the report

[2020-06-02 09:44] #4045 closed, assigned to nobody

[2020-06-02 10:28] #824 closed, assigned to mattiaverga

[2020-06-02 10:28] #1794 closed, assigned to mattiaverga

[2020-06-02 10:28] #2979 closed, assigned to mattiaverga

[2020-06-09 04:57] bhepple opened #4049 "Can't log in"
Every time:

500 Internal Server Error

Could not convert return value of the view callable function pyramid_fas_openid.view.verify_openid into a response object. The value returned was None. You may have forgotten to return a value from the view callable.

[2020-06-09 06:06] mattiaverga commented on #4049
The datacenter is being moved
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/WYMAEIYUQSX6NMZ4LHJBBZBGJZCCEUWF/

Bodhi could experience some hiccups this week.