[2019-04-17 21:16] bowlofeggs opened #3166 "bodhi-ci fails the diff_cover test when run in Vagrant"
I noticed today that the diff_cover checks fail in Vagrant, though they pass in Jenkins. In Vagrant, you will see a traceback like this:

[code]
This problem was introduced in https://github.com/fedora-infra/bodhi/commit/6d272e25fee9ccdbcb6d6333e9fe66ad9dc6320e. In particular, it seems to be due to using the Z flag on the bind mount here:

https://github.com/fedora-infra/bodhi/blob/6d272e25fee9ccd

[2019-04-18 01:09] mohanboddu commented on #3160
I will give it a shot next time and I will let you know.

[2019-04-19 11:06] sebwoj commented on #1399
@bowlofeggs Can we close it?

[2019-04-19 11:07] sebwoj commented on #3008
Duplication #1513

[2019-04-19 11:11] sebwoj commented on #3160
This unittest shows that update with provided build via cli is locked after bodhi-push:
https://github.com/fedora-infra/bodhi/blob/b7e9a87b474fc7d008164a9e0df41963106abb87/bodhi/tests/server/test_push.py#L420

[2019-04-22 14:45] #3124 closed, assigned to bowlofeggs

[2019-04-22 17:14] AdamWill commented on #1399
I think so, this is working fine in current production.

[2019-04-23 12:55] mohanboddu commented on #3160
This is working, so, this ticket is not critical, but good to have.

[2019-04-23 13:27] #3083 closed, assigned to bowlofeggs

[2019-04-23 16:47] bowlofeggs commented on #969
According to the note at https://docs.python.org/3.7/library/logging.config.html#configuration-file-format we cannot use filters with the logging config file format in Python and have to use the DictConfig format if we want that functionality. This is a bit unfortunate, as it's one more backwards incompatible change if we decide to go that route. I had planned on using a filter to rate limit the e

[2019-04-23 19:39] bowlofeggs commented on #969
I have submitted a package review for a pyramid plugin that allows us to use a DictConfig file:

https://bugzilla.redhat.com/show_bug.cgi?id=1702451

This would actually not be a formal dependency of Bodhi's since it's something you set up in the Bodhi config file, but I will probably document it as a suggested way to achieve rate limited e-mail log handling.

[2019-04-23 21:28] tdawson commented on #3008
Greenwave currently isn't sending any messages on either fedmsg or fedora-messaging.  That's making this a bit hard to work on.  From the example fedmsg that is supposed to be sent by greenwave, there isn't enough information to determine the bodhi update that is being referenced.  I'm hoping that is just a bad example that I'm looking at.
I have opened an issue to get greenwave sending messages a

[2019-04-24 06:56] cverna commented on #3008
I don't think that the greenwave fedmsg format or content changed. I expect the following to be true https://fedora-fedmsg.readthedocs.io/en/latest/topics.html#greenwave.
I think we want to use the koji builds nvr from the message to lookup for the corresponding update.

Here is an example of a greenwave message for the `bodhi` package --> https://apps.fedoraproject.org/datagrepper/id?id=2019-09ac

[2019-04-24 12:52] tdawson commented on #3008
Thank you for that link to the full greenwave message in datagrepper.  I'm still fairly new to the fedmsg datagrepper and didn't know you could get the full message from it.
I also see that the reason I couldn't get a full NVR from the example, is that the example is an image compose, not an rpm build.  So there was no NVR to get from the example.

Greenwave still needs to get fixed so that it sen

[2019-04-24 19:20] AdamWill opened #3175 ""Close bug on stable" should be a per-bug setting, not all or nothing"
Bodhi lets you set whether the bug(s) associated with an update should be closed when the update is pushed stable - but this is an 'all or nothing' setting. Either *all* the bugs associated with an update are closed when it goes stable, or *none* of them are.

This isn't always what you want, though. Sometimes I want an update to be associated with 4 bugs, and when it goes stable, 2 of them should

[2019-04-25 14:28] nphilipp opened #3177 "Email and group information stored with User might be outdated"
Currently, we store or update a user's email address and group memberships when they log into Bodhi in `bodhi.server.security:remember_me()` (which is configured via `openid.success_callback`). This can lead to us using outdated information when we send emails (e.g. upon adding a comment) or make decisions based on which group a user is member of, if the email or group membership changed since the

[2019-04-25 14:28] bowlofeggs commented on #2323
We will use this card to track the work to research and plan the work needed to accomplish the task. This ticket is done when there are new issues filed for the work needed to accomplish the above.

[2019-04-25 19:32] bowlofeggs commented on #1399
Thanks!

[2019-04-25 19:32] #1399 closed, assigned to nobody

[2019-04-25 19:59] #1513 closed, assigned to pypingou

[2019-04-25 20:07] bowlofeggs commented on #3175
My immediate reaction is that this seems like it would have to be a backwards incompatible API change, but perhaps we can do it in a clever compatible way. It's a fine change either way, just need to make sure we consider backwards compatibility when planning a change for it.

[2019-04-27 07:04] sebwoj commented on #3036
@bowlofeggs Since we have #3042, can we close it?

[2019-04-27 08:06] sebwoj opened #3186 "Rename disable_automatic_push_to_stable config setting"
`disable_automatic_push_to_stable` config setting shoud be renamed to `disable_automatic_push_to_stable_msq`.
Since this change will be backwards incompatible, and we have to wait until next big release(5.0), let's keep this issue open.

[2019-04-27 20:36] hedayat commented on #2406
Any suggestions to make progress in this area? It is a waste currently...

[2019-04-28 09:53] igor-raits commented on #2966
@bowlofeggs when could one expect this to be deployed in fedora?

[2019-04-29 14:21] nphilipp commented on #3009
I'll pick this up, but so far can't make it official because I don't have the necessary permissions, see https://pagure.io/fedora-infrastructure/issue/7747

[2019-04-29 15:37] nphilipp opened #3192 "Automatic updates should be filled with information from the RPM changelog"
This is a continuation of issue #3007 and covers items deemed not that high of a priority, not needed for the MVP.

As a Bodhi user, when an update is created automatically because a build was tagged into a certain tag, I want that new entries in the changelog are evaluated and:

- discovered Bugzilla tickets are associated with the update
- changelog entries are used to pre-fill the update notes

[2019-04-29 15:40] nphilipp commented on #3007
For the remainder of items not implemented with PR #3168, I've created a new issue: #3192

[2019-04-29 16:02] bowlofeggs opened #3193 "AttributeError: module 'hawkey' has no attribute 'Repo'"
Some of our tests recently started failing in Rawhide. It seems that the ```hawkey``` API we are using might have changed there, but I haven't investigated it to be sure what the issue is. As an example:

[code]

[2019-04-29 16:04] bowlofeggs commented on #3193
It seems that this also is causing f29-unit to fail in #3191.

[2019-04-29 16:10] bowlofeggs commented on #3193
Here is an update to hawkey that might be relevant: https://bodhi.fedoraproject.org/updates/FEDORA-2019-2612a121ba

[2019-04-29 16:34] bowlofeggs commented on #2177
We will need to either start using a caching server for Bodhi's processes, or will need to make the queries efficient so we don't need a cache at all.

[2019-04-29 16:52] bowlofeggs commented on #3036
Yep, thanks!

[2019-04-29 16:52] #3036 closed, assigned to nobody

[2019-04-29 16:54] bowlofeggs commented on #3186
Why the ```_msq``` suffix?

[2019-04-29 17:08] bowlofeggs commented on #2966
@ignatenkobrain I expect to start working on making a Bodhi 4.0.0 beta this week. Once it is deployed to staging, it will probably take 2-4 weeks to make it to prod (estimate).

[2019-04-29 18:01] bowlofeggs commented on #3193
This seems to be a relevant commit: https://github.com/rpm-software-management/libdnf/commit/d59758ef2323a001c3a93b81b1afd0a2cb4f46d0#diff-b504b0f7c5c777b6477a350942890247

[2019-04-29 20:01] bowlofeggs commented on #3193
Here is a thread about this issue: https://lists.fedoraproject.org/archives/list/infrastructure@lists.fedoraproject.org/thread/433LMDYOSO76ZOV44FIT2IH6D25YVTJP/

[2019-04-29 21:21] bowlofeggs commented on #3193
In https://github.com/rpm-software-management/libdnf/commit/3cb6fc1ed891b135a5da09081a2d657bf591860b I see that there is a change in the libdnf tests to use ```libdnf.repo.Repo``` instead of ```hawkey.Repo```. It seems to use some kind of config that the old ```hawkey.Repo``` did not use.

I attempted to use this API but found that it segfaults if used more than once in the same process: https://g

[2019-04-30 12:12] cverna commented on #2371
So after a bit of wiggling in the html template I got to something that looks like that. We still get duplicated results but I think that comes from our request to greenwave. If we stop asking for the `original_spec_nvr` we don't have duplicated results

![image](https://user-images.githubusercontent.com/7237866/56960662-de714900-6b51-11e9-8afe-f77bf0561c68.png)

[2019-04-30 15:17] sebwoj commented on #2371
@cverna Take a look at #3089.

[2019-04-30 15:20] sebwoj commented on #3186
Ah, my mistake. It should be `msg` like: https://github.com/fedora-infra/bodhi/blob/a3878949e87212ee8a9f71f0d74e62fab1df0dc1/bodhi/server/config.py#L418

[2019-04-30 20:40] bowlofeggs commented on #3193
There is a proposed fix at https://github.com/fedora-infra/bodhi/pull/3198

[2019-04-30 21:10] puiterwijk opened #3199 "Add random build/module test to `sanity_check_repodata`"
The `sanity_check_repodata` function in `bodhi/server/util.py` builds a list of DNF runs we use to test the validity of the repository.
It would be a great idea to pass one of the builds we know is in the current push to that function, and have it check the `dnf info $nvr`.
That way, we can be more sure of the repository validity.

[2019-04-30 21:47] bowlofeggs commented on #2384
@tkdchen do you want to fix this, and/or keep it open? Or shall we close it?

[2019-05-01 13:20] bowlofeggs opened #3204 "[L] - Design new API response schemas to improve performance"
I spent some time performance analysing Bodhi's queries yesterday, and I discovered that Bodhi spends an enormous amount of time serializing the results of the query. For example, ``` $ bodhi updates query --status stable ``` takes about 5 seconds, but its database query only accounts for about 0.1 seconds. More than 4 seconds are spent serializing the data.

The problem is that we just hand the r

[2019-05-01 13:20] bowlofeggs commented on #3059
This may also help with this: https://github.com/fedora-infra/bodhi/issues/3204

[2019-05-01 13:49] bowlofeggs commented on #3193
Closed by #3198.

[2019-05-01 13:49] #3193 closed, assigned to nobody

[2019-05-01 16:09] sebwoj commented on #2141
@bowlofeggs Can we close it with current implementation:
https://github.com/fedora-infra/bodhi/blob/7255a1c9a141111b47060daefb2f783055855bd1/bodhi/tests/server/test_alembic.py#L43

[2019-05-01 16:15] sebwoj commented on #1332
How to reproduce it?

[2019-05-01 16:16] bowlofeggs commented on #2141
Ah yeah, this was resolved a while ago. I'm really bad at closing tickets ☹ haha

[2019-05-01 16:16] #2141 closed, assigned to nobody

[2019-05-01 16:19] bowlofeggs commented on #1332
Actually, this might be fixed since we switched to Python 3:

https://bodhi.fedoraproject.org/updates/?search=%E2%98%BA seems to work now.

[2019-05-01 16:19] #1332 closed, assigned to nobody

[2019-05-01 16:26] sebwoj commented on #1786
@bowlofeggs What do you think about this?

[2019-05-01 16:29] sebwoj commented on #1241
@bowlofeggs Can we close it?

[2019-05-01 16:33] sebwoj commented on #754
@bowlofeggs Can we close it?

[2019-05-01 16:57] sebwoj commented on #611
@bowlofeggs As far as I remember, Bodhi 4.0 will be handling rawhide release.

[2019-05-01 18:15] sebwoj commented on #2365
@bowlofeggs Can we close it?

[2019-05-01 19:26] bowlofeggs commented on #1786
It seems reasonable to make it so that that query searches for those statuses with an OR.

[2019-05-01 19:26] bowlofeggs commented on #1241
Yeah, we will no longer have anonymous comments in Bodhi 4.

[2019-05-01 19:26] #1241 closed, assigned to nobody

[2019-05-01 19:27] bowlofeggs commented on #754
Anonymous comments are dropped in Bodhi 4.0.0.

[2019-05-01 19:27] #754 closed

[2019-05-01 19:27] bowlofeggs commented on #611
Yeah - we plan to support Rawhide updates with a future Bodhi release, though likely not 4.0.

[2019-05-01 19:28] bowlofeggs commented on #2365
Sure, thanks!

[2019-05-01 19:28] #2365 closed, assigned to nobody

[2019-05-01 19:40] sebwoj commented on #1563
Is it related to #794?

[2019-05-01 21:19] bowlofeggs commented on #1563
@sebwoj I think it's sort of related. The other ticket is about making it so Bodhi knows about a release before it manages it at all. This happens usually for about two weeks after Fedora branches a release from Rawhide. This ticket is about Bodhi not pushing out stable updates while continuing to push out testing updates during releng freezes (i.e., during the time that Bodhi does manage the rele

[2019-05-02 07:51] sebwoj commented on #1453
@bowlofeggs Can we close it?

[2019-05-02 07:52] sebwoj commented on #1786
Duplication #1804

[2019-05-02 07:54] sebwoj commented on #595
@bowlofeggs What do you think?

[2019-05-02 08:06] sebwoj commented on #2124
@bowlofeggs Is it ready, or it will be after #3200?

[2019-05-02 08:23] #2955 closed, assigned to nobody

[2019-05-02 08:27] sebwoj commented on #1369
Now we have [display_name](https://github.com/fedora-infra/bodhi/blob/3dca0e367dcbee25c492424228b50c6ab857212d/bodhi/server/models.py#L1615) field, but user is unable to set it on update creation/edit.

[2019-05-02 11:09] troiwhaox commented on #754
goodbye, bodhi :-/

[2019-05-02 13:57] abompard commented on #3069
PR merged

[2019-05-02 13:57] #3069 closed, assigned to abompard

[2019-05-02 15:29] bowlofeggs commented on #1453
Yeah this is dropped in the upcoming 4.0.0 release.

[2019-05-02 15:29] #1453 closed, assigned to nobody

[2019-05-02 15:31] bowlofeggs commented on #1804
This is a duplicate of #1786, so let's track it there.

[2019-05-02 15:31] #1804 closed, assigned to nobody

[2019-05-02 15:32] bowlofeggs commented on #595
@sebwoj I think it'd be cool to add this feature, but it's not on my priority list. If you want to work on it, go 4 it!

[2019-05-02 15:35] bowlofeggs commented on #2124
@sebwoj yeah #3200 is going to add a Greenwave listener. We still need a way to tell the difference between "tests are running/waiting/expected" and "tests never ran, something went wrong" however.

[2019-05-02 16:36] bowlofeggs opened #3209 "Document the full set of bug trackers that can be referenced in Bodhi's markdown"
While reviewing #3173 today, I realized that we don't document the full list of bug trackers that Bodhi supports in its markdown:

https://github.com/fedora-infra/bodhi/blob/3ea106ae8a074f26fb6982c133ac85299704782c/bodhi/server/ffmarkdown.py#L65-L74

We do have a link under the update comment box that pops up a modal that mentions a few of these:

![Screenshot from 2019-05-02 12-30-30](https://use

[2019-05-02 16:37] bowlofeggs commented on #3209
P.S. We can have the modal just link to the Sphinx docs - that might be better so we only have one place we need to maintain the list.

[2019-05-02 16:39] bowlofeggs commented on #3209
Perhaps an even better option is to have the list automatically generated from the code.

[2019-05-02 18:19] sebwoj commented on #1433
We have:
https://github.com/fedora-infra/bodhi/blob/cbb2bb99bf2f1d17b7183b1a1605f7ffc371d5fc/bodhi/server/push.py#L34

[2019-05-02 19:01] bowlofeggs commented on #1433
Yeah looks like this was fixed a while ago. Thanks @sebwoj!

[2019-05-02 19:01] #1433 closed, assigned to nobody

[2019-05-06 11:01] keszybz commented on #3192
This applies to "manual" updates too. It'd be great if bodhi could pre-fill the bug description with bug numbers and the text from the changelog. Right now bodhi suggests no text and for bugs it just picks a few bugs from the list of open bugs, which means that for packages with many bugs open the suggestion is essentially useless. The text would often have to be edited (because the level of detai

[2019-05-06 11:06] keszybz opened #3218 ""Stuck" updates with "Bodhi is unable to request this update for stabilization: This update has not yet met the minimum testing requirements""
I have a bunch of updates for which I clicked on the "push to batched" button, but I keep getting "Bodhi is unable to request this update for stabilization: This update has not yet met the minimum testing requirements defined in the Package Update Acceptance Criteria" one every 24h.

  https://bodhi.fedoraproject.org/updates/FEDORA-2019-6c4e5fc271
  https://bodhi.fedoraproject.org/updates/FEDORA-2

[2019-05-06 14:15] #969 closed, assigned to bowlofeggs

[2019-05-06 14:53] tdawson commented on #3008
I believe I have the code ready in this pull request.
https://github.com/fedora-infra/bodhi/pull/3200

[2019-05-06 14:58] bowlofeggs commented on #3218
Hey @keszybz!

Each of these hasn't been in testing for 7 days yet, so that's why that message is happening.

The push to stable/batched button should not be appearing, but that is reported here: https://github.com/fedora-infra/bodhi/issues/1508

[2019-05-06 14:58] #3218 closed, assigned to nobody

[2019-05-07 22:00] bowlofeggs commented on #1029
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: https://github.com/fedora-infra/bodhi/pull/3221

[2019-05-08 13:45] bowlofeggs commented on #1946
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 13:46] bowlofeggs commented on #1714
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 13:46] bowlofeggs commented on #1542
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 13:46] bowlofeggs commented on #186
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 13:56] bowlofeggs commented on #1921
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 13:58] bowlofeggs commented on #1970
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:17] bowlofeggs commented on #1985
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:17] bowlofeggs commented on #1997
This relationship is removed in the upcoming 4.0.0 release: #3221

[2019-05-08 14:18] bowlofeggs commented on #1998
The CVE model is removed in the upcoming 4.0.0 release: #3221

[2019-05-08 14:19] bowlofeggs commented on #1999
This enum is removed in the upcoming 4.0.0 release: #3221

[2019-05-08 14:19] bowlofeggs commented on #2024
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:20] bowlofeggs commented on #2040
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:20] bowlofeggs commented on #2151
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:21] bowlofeggs commented on #2171
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:21] bowlofeggs commented on #2241
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:22] bowlofeggs commented on #2420
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:23] bowlofeggs commented on #2903
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:24] bowlofeggs commented on #2869
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:24] bowlofeggs commented on #2838
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:25] bowlofeggs commented on #2815
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:25] bowlofeggs commented on #2782
This attribute is removed in the upcoming 4.0.0 release: #3221

[2019-05-08 14:26] bowlofeggs commented on #2759
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:26] bowlofeggs commented on #2700
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:26] bowlofeggs commented on #2913
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:27] bowlofeggs commented on #2958
This field is removed in the upcoming 4.0.0 release: #3221

[2019-05-08 14:28] bowlofeggs commented on #2977
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:34] bowlofeggs commented on #2980
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:34] bowlofeggs commented on #2988
This field is removed in the upcoming 4.0.0 release: #3221

[2019-05-08 14:35] bowlofeggs commented on #1339
This file is removed in the upcoming 4.0.0 release: #3221

[2019-05-08 14:36] bowlofeggs commented on #3016
This field is removed in the upcoming 4.0.0 release: #3221

[2019-05-08 14:39] bowlofeggs commented on #2856
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:41] bowlofeggs commented on #969
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:42] bowlofeggs commented on #2204
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:42] bowlofeggs commented on #2210
This feature is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:44] bowlofeggs commented on #2555
This feature is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:46] bowlofeggs commented on #2974
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:47] bowlofeggs commented on #3060
This feature is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:48] bowlofeggs commented on #3062
#3201 is planned for inclusion in the upcoming 4.0.0 release: #3221. This should help with performance.

[2019-05-08 14:49] bowlofeggs commented on #3059
#3201 is planned for inclusion in the upcoming 4.0.0 release: #3221. That should help a little bit with this issue, but I do not yet consider the issue solved so we'll keep it open.

[2019-05-08 14:50] bowlofeggs commented on #3129
This feature is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:50] #3129 closed, assigned to nobody

[2019-05-08 14:53] bowlofeggs commented on #2316
The exclude old releases feature was dropped in the upcoming 4.0.0 release: #3221

[2019-05-08 14:54] bowlofeggs commented on #2365
The fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:54] bowlofeggs commented on #2523
The fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:55] bowlofeggs commented on #2588
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:56] bowlofeggs commented on #2826
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:56] bowlofeggs commented on #2850
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:58] bowlofeggs commented on #3021
This change is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 14:59] bowlofeggs commented on #3035
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 15:01] bowlofeggs commented on #1165
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 15:01] bowlofeggs commented on #1200
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 15:02] bowlofeggs commented on #2848
A fix for this issue is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-08 15:02] bowlofeggs commented on #2824
This feature is planned for inclusion in the upcoming 4.0.0 release: #3221

[2019-05-09 13:12] cverna commented on #2371
#3219 was merged and addresses this ticket

[2019-05-09 13:14] #2371 closed, assigned to cverna

[2019-05-09 14:21] cverna commented on #2323
Idea is to sent fedora-messaging message to each CI system to retrigger the tests, part of the investigation is to define the message body that needs to be sent.

[2019-05-09 14:40] bowlofeggs commented on #3204
We met to day to talk about the scope of this ticket, and we decided to use the ticket to track the work of redesigning Bodhi's API schemas. We agreed that it would be best if at least two people worked on this ticket, since API design is important to get right.

For each API endpoint, an analysis should be done regarding which data should be returned and which data is probably not useful. It may

[2019-05-09 14:49] bowlofeggs commented on #3204
I wrote Fedora's devel list to try to find people who use Bodhi's REST API or Python bindings:

https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/H4OGDACOGGLJACZRGKCSXR6LCL3M7VWC/

I also recall that @tyll uses the bindings for fedora-easy-karma. We could also query the rawhide repo to see some other packages that use the bindings - last I checked there were maybe

[2019-05-09 15:01] decathorpe commented on #3204
I saw your message on the fedora devel list, and thought I might leave my 2¢ here since I'm working on rust bindings around the bodhi REST API for one of my pet projects.

In my opinion, the speed benefit of not loading in all data recursively would be great, as long as the "foreign keys" for the dropped objects are (still) included in the responses. The dropped objects could be queried "on demand

[2019-05-09 15:12] bowlofeggs commented on #3204
On Thu, 2019-05-09 at 08:01 -0700, Fabio Valentini wrote:

Whoah, that's really cool. I've actually considered switching the bodhi
client to use rust a bit. I've written a few rust programs and it's an
amazing language. Is your code available somewhere?

Yeah I had something like this in mind. Another idea I had was to allow
the user to request a list of foreign fields that they do want to be
full

[2019-05-09 15:48] decathorpe commented on #3204
Sure, it's online: https://github.com/ironthree/bodhi-rs

It's still WIP, but it can already query and deserialize everything that's returned for GET `/builds/*`, `/comments/*`, and `/overrides/{nvr}` queries (adding stuff for the other endpoints is just a matter of lack of time on my side).

Adding the POST requests will take more time, because it involves OpenID authentication (and I sadly can't

[2019-05-09 22:33] bowlofeggs commented on #3204
On Thu, 2019-05-09 at 08:48 -0700, Fabio Valentini wrote:

Ah I see - I don't think Bodhi is live querying Bugzilla here - it just
queries bugzilla when updates are created or edited and copies the bug
titles into its own database. This is done in the background, so there
are actually two reasons it could end up being None:

* A failure to get the data from Bugzilla (includes a timeout, but
  coul

[2019-05-10 01:32] owtaylor commented on #3204
https://fedora.fishsoup.net/flatpak-status/ queries Bodhi using the code for:

 https://github.com/owtaylor/flatpak-status/blob/master/flatpak_status/bodhi_query.py#L44

Generally, faster is better, from my perspective (I've had quite a few problems with queries timing out at 30 seconds, and drag information from Bodhi in small chunks to compensate) - I would like to get the build information with

[2019-05-10 07:33] cverna commented on #3204
Just one idea we could also create a new version of the API and leave the current API the same, that way we limit breaking the world.

That would allow us to explore different type of API, like maybe Graphql.  Some food for thoughts

[2019-05-10 13:24] kparal commented on #3204
Actually our Taskotron tasks no longer use Bodhi APIs. But when we did, we mostly needed to be able to match Koji builds and Bodhi updates (from both directions). We used these calls:
[code]
So very simple and basic, but those calls took a very long time and it was challenging to find a sweet spot between being efficient and Bodhi still not timing out.

[2019-05-10 14:27] bowlofeggs commented on #3204
@AdamWill has told me that OpenQA uses Bodhi's REST API.

[2019-05-10 17:30] bowlofeggs commented on #2024
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:30] bowlofeggs commented on #2151
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:30] bowlofeggs commented on #2241
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:30] bowlofeggs commented on #2420
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:30] bowlofeggs commented on #2903
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:31] bowlofeggs commented on #2869
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:31] bowlofeggs commented on #2838
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:31] bowlofeggs commented on #2815
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:32] bowlofeggs commented on #2782
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:32] bowlofeggs commented on #2759
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:33] bowlofeggs commented on #2700
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:33] bowlofeggs commented on #2913
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:33] bowlofeggs commented on #2958
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:33] bowlofeggs commented on #2977
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:33] bowlofeggs commented on #2980
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:34] bowlofeggs commented on #2988
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:34] bowlofeggs commented on #1339
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:34] bowlofeggs commented on #3016
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:35] bowlofeggs commented on #2856
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:35] bowlofeggs commented on #969
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:35] bowlofeggs commented on #2204
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:36] bowlofeggs commented on #2210
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:36] bowlofeggs commented on #2555
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:36] bowlofeggs commented on #2974
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:37] bowlofeggs commented on #3060
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:37] bowlofeggs commented on #3062
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:37] bowlofeggs commented on #3059
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:38] bowlofeggs commented on #3129
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:39] bowlofeggs commented on #2316
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:39] bowlofeggs commented on #2365
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:39] bowlofeggs commented on #2523
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:39] bowlofeggs commented on #2588
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:39] bowlofeggs commented on #2826
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:39] bowlofeggs commented on #2850
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:41] bowlofeggs commented on #3021
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:41] bowlofeggs commented on #3035
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:41] bowlofeggs commented on #1165
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:42] bowlofeggs commented on #1200
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:42] bowlofeggs commented on #2848
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:42] bowlofeggs commented on #2824
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:43] bowlofeggs commented on #1946
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:44] bowlofeggs commented on #1714
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:44] bowlofeggs commented on #1542
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:44] bowlofeggs commented on #186
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:44] bowlofeggs commented on #1921
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:44] bowlofeggs commented on #1970
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:44] bowlofeggs commented on #1985
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:44] bowlofeggs commented on #1997
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:45] bowlofeggs commented on #1998
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:45] bowlofeggs commented on #1999
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:45] bowlofeggs commented on #2040
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-10 17:45] bowlofeggs commented on #2171
Bodhi 4.0.0 beta is built and deployed to staging:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release
https://bodhi.stg.fedoraproject.org/

[2019-05-12 10:07] sebwoj commented on #2077
Actually `site_requirements` is unused config setting and should be removed in the next big release(5.0)

[2019-05-14 15:41] bowlofeggs opened #3227 "UnboundLocalError: local variable 'key' referenced before assignment in RSS handler"
Our RSS feed will crash if the requestor sends an invalid query:

[code]

It would be better for it to return a 4xx response instead of a 5xx response when getting invalid RSS requests. In this case, the issue is that the request doesn't contain one of the keys in the big if/else block here:

https://github.com/fedora-infra/bodhi/blob/846bc15a53122908d7bd38c0d2230b7f17d53674/bodhi/server/renderers

[2019-05-14 15:45] bowlofeggs commented on #3227
Suggestion: This could be a good opportunity to add mypy/type annotation to this module - mypy catches problems like this.

[2019-05-15 20:37] bowlofeggs opened #3229 "Bodhi's message consumer instantiates a handler for every message"
Instantiating a handler ends up setting up logging, and also setting up a database connection.

We should not set up logging at all, because fedora-messaging does that for us. We should only set up the database once per process.

There seems to be a crashloop backoff happening in staging, and the log messages aren't very helpful. I'm concerned that us setting up logging might be contributing to th

[2019-05-16 02:00] bowlofeggs opened #3231 "RFE: bodhi.server.consumers should conditionally import the composer"
The composer brings in a large number of dependencies. It is nice to keep the container images we use in OpenShift smaller by avoiding those dependencies, which is why we've split the composer into its own RPM package downstream. Currently, ```bodhi.server.consumers``` imports the composer, which means our messaging handling container has to install a lot of dependencies it will not use. Instead,

[2019-05-16 17:15] bowlofeggs commented on #3227
The fix for this issue is planned for inclusion in Bodhi 4.0.0.

[2019-05-16 19:45] bowlofeggs opened #3233 "Consumers crash upon receiving messages"
I have observed that the update edit/create message crashes the consumer:

[code]

[2019-05-16 22:30] tdawson commented on #2323
For Fedora OpenQA the topics that is is listening for is fairly straightforward
https://pagure.io/fedora-qa/fedora_openqa/blob/master/f/fedora_openqa/consumer.py#_205
  org.fedoraproject.{prod,stg,dev}.bodhi.update.request.testing
  org.fedoraproject.{prod,stg,dev}.bodhi.update.update.edit

The bodhi code that sends those messages, is also easy to find
  https://github.com/fedora-infra/bodhi/blob/

[2019-05-17 03:17] bowlofeggs opened #3235 "UnicodeError: encoding with 'idna' codec failed (UnicodeError: label empty or too long)"
The updates handler crashes in staging with this traceback:

[code]

We should do two things here:

1. Investigate the cause of the problem. This is likely a bug in the wiki or in the wiki client code.
2. Bodhi should catch this Exception, log, and ignore it.

[2019-05-17 13:45] bowlofeggs commented on #3235
I think this might actually be a configuration issue. It looks like the wiki_url is invalid in staging. It's unfortunate that an invalid URL raises a UnicodeError…

[2019-05-17 14:20] bowlofeggs opened #3236 "We should not use blockingCallFromThread in the composer"
I spoke with @jeremycline today and he informed me that we should not be using ```twisted.internet.threads.blockingCallFromThread``` to wrap Bodhi's calls to ```publish()```. The reason is that though we are running in a thread, we are not a thread that is running the event loop and thus we should not be using any twisted code. We can treat all our code as if it were synchronous here.

Thus, I thi

[2019-05-17 14:35] bowlofeggs opened #3237 "Bodhi's message publish() call needs to handle exceptions"
The fedora_messaging publish API can raise ```ConnectionException``` and ```PublishException```. It would be good if we were to catch these and retry a few times. We could use ```backoff``` to do this very easily (and it's already packaged in Fedora).

[2019-05-17 14:40] bowlofeggs opened #3238 "Bodhi's rate limiting doesn't work when the message consumers crash"
Bodhi's logging rate limiter stores its state in memory. This means that if the message consumer crashes while handling a message, an e-mail will get sent and then the process will exit, losing that state. That message then does not get acked and so when the process starts up again the same message is picked up and crashes the process again, sending another email. And so forth.

We should have a b

[2019-05-17 14:57] jeremycline commented on #3236
To expand on this a little bit:

fedora_messaging.api.publish uses the Pika blocking connection, not a connection managed by Twisted. Thus, it doesn't need to run inside the reactor thread and it, in fact, blocks the reactor loop so things like heartbeating can't occur. If you were calling the Twisted version of publish, you _would_ need to use blockingCallFromThread.

[2019-05-17 16:16] bowlofeggs commented on #3235
This ended up being a misconfiguration in Fedora's playbook, and was fixed by https://infrastructure.fedoraproject.org/cgit/ansible.git/commit/?id=eb3be51b785f4a81fbcc9a58707b4e7a4e689b81

[2019-05-17 16:16] #3235 closed, assigned to bowlofeggs

[2019-05-19 09:17] aidarbek commented on #3238
I am a new to the project, but could you clarify few things if I understood this issue correctly?
Does it mean that simply the content of this function should be wrapped by try/except?
https://github.com/fedora-infra/bodhi/blob/cbb2bb99bf2f1d17b7183b1a1605f7ffc371d5fc/bodhi/server/consumers/__init__.py#L36
And once exception is raised, it's message should be sent passed `log.error()` and a new `fe

[2019-05-20 17:34] bowlofeggs commented on #3238
@aidarbek yeah that's exactly what it needs - though I'm actually going to take care of this now because I need it today to get a new beta built. However, there are a few more good starter issues here if you are interested in getting involved in Bodhi development:

https://github.com/fedora-infra/bodhi/issues?q=is%3Aopen+is%3Aissue+label%3AEasyFix

[2019-05-20 20:36] bowlofeggs opened #3240 "The signed handler expects messages to have a msg attribute but they don't"
The signed handler is crashing in stg:

[code]

We should inspect the message schema in datagrepper - it looks like the message doesn't have a "msg" attribute.

[2019-05-21 14:16] nphilipp commented on #3009
The PR for this is #3228, which I missed linking here for a while.

[2019-05-21 14:29] tdawson commented on #2323
Re-running tasks on Taskatron is harder than OpenQA.  In theory, this is done with Taskotron-trigger.  In practice, the code that is there is just a proof-of-concept, and Taskotron is currently in maintenance only mode.
I wrote to the current maintainers/developers, and got replies from Tim Flink and Josef Skladanka.

Tim let me know that Taskotron is in maintenance only mode, and due to be deprec

[2019-05-21 18:43] bowlofeggs opened #3241 "Bodhi isn't mocking all calls to AMQP publish"
See https://github.com/fedora-infra/fedora-messaging/issues/170 for full detail, but tl;dr is that I discovered that Bodhi's tests are trying to publish real messages. Starting with 1.6.1, fedora-messaging now retries on publish failures, and this means that Bodhi's tests take a very long time now. It's so long that the tests time out in CI and are thus blocking progress on important pull requests

[2019-05-22 16:12] bowlofeggs commented on #3241
This was fixed in #3243.

[2019-05-22 16:12] #3241 closed, assigned to bowlofeggs

[2019-05-23 13:33] #3229 closed, assigned to bowlofeggs

[2019-05-23 13:33] #3227 closed, assigned to bowlofeggs

[2019-05-23 13:33] #3231 closed, assigned to bowlofeggs

[2019-05-23 13:33] #3233 closed, assigned to bowlofeggs

[2019-05-23 13:33] #3236 closed, assigned to bowlofeggs

[2019-05-23 13:33] #3237 closed, assigned to bowlofeggs

[2019-05-23 13:33] #3238 closed, assigned to bowlofeggs

[2019-05-23 13:33] #3240 closed, assigned to bowlofeggs

[2019-05-23 22:08] bowlofeggs commented on #926
I don't think Pungi really documents this either, since https://docs.pagure.org/pungi/search.html?q=cache&check_keywords=yes&area=default only matches dogpile cache. I think I will close this as a result, since there aren't really Pungi docs to link to either.

[2019-05-23 22:08] #926 closed, assigned to bowlofeggs

[2019-05-24 13:13] jpopelka commented on #3204
[Packit](https://packit.dev/about) uses Python binding, for example: [1](https://github.com/packit-service/packit/blob/master/packit/distgit.py#L290), [2](https://github.com/packit-service/packit/blob/master/packit/status.py#L121), [3](https://github.com/packit-service/packit/blob/master/packit/status.py#L147)

[2019-05-24 15:13] AdamWill commented on #3204
Turns out I was actually lying about the openQA scheduler - it doesn't use the Bodhi API at all. All the info it needs is in the fedmsgs.

I'm about 95% sure I did have *something* that acts as a Bodhi client, though. I'll try and find it!

[2019-05-24 15:14] AdamWill commented on #3204
Oh, one thing that does use it is [blockerbugs](https://pagure.io/fedora-qa/blockerbugs/blob/develop/f/blockerbugs/util/update_sync.py).

[2019-05-24 15:20] AdamWill commented on #3204
Another thing: [qa-stats](https://pagure.io/fedora-qa/qa-stats/blob/master/f/stats-bodhi.py).

[2019-05-27 13:14] nphilipp commented on #2319
@bowlofeggs:

Is this functionality in Bodhi already, or are there issues/cards for tests passing and no merge conflicts?

This sounds like it could be its own task, what do you think?

[2019-05-28 09:01] tkdchen commented on #2384
@bowlofeggs I'm afraid I don't have enough time to fix it now, although I'm really willing to hack on Bodhi code. I'm not sure how many people are impacted by this issue, but it seems this is not a big problem as it happens in stg after all. Feel free to close it. If someone else is going to make a patch, it is appreciated. :)

[2019-05-28 16:59] bowlofeggs opened #3248 "Bodhi redirects web UI users to a non-existant URL after creating updates"
Bodhi is redirecting users to ```/updates/{title}``` instead of ```/updates/{alias}``` when they create updates. The title is no longer a valid way to access updates, so this leads the user to a 404. We should instead redirect them to the alias URL.

[2019-05-28 20:06] AndreMiras commented on #1894
I guess it happens when trying to `write` in Python2. e.g. `mock.patch('sys.stdout.write')`
This doesn't happens in Python3.

[2019-05-28 23:52] bowlofeggs opened #3253 "Consolidate process initialization code"
Bodhi's server code is comprised of many different processes, from the web server to the message consumers, to its various cron jobs and CLI tools. Each of these currently does its own process initialization steps (such as setting up the database, bugzilla, koji, etc.) It would be best if there were some shared initialization code that each of these could use to reduce the copying that is in place

[2019-05-29 00:23] QuLogic opened #3255 "fedpkg update 'fails' to submit update"
Submitting an update with `fedpkg` on the new bodhi outputs the following:
[code]
though checking on web the update seems to have worked.

[2019-05-29 02:23] bowlofeggs commented on #2223
Yeah I suppose we should close it then. Thanks @sebwoj!

[2019-05-29 02:23] #2223 closed, assigned to nobody

[2019-05-29 05:41] mtasaka opened #3257 "KeyError: 'anonymous' - bodhi 3 clients are not compatible with the bodhi 4 server"
[code]

[2019-05-29 05:43] mtasaka opened #3258 "bodhi updates request fails from NVR"
[code]

This operation was accepted before. Note that querying ID of the update fails as written on https://github.com/fedora-infra/bodhi/issues/3257

[2019-05-29 05:52] mtasaka commented on #3257
Working on Fedora 30.

[2019-05-29 07:13] mtasaka opened #3259 "bodhi updates new causes error (F-30)"
[code]

[2019-05-29 08:25] kparal opened #3260 "Indicate that comments can be added after logging in"
Now that bodhi doesn't support anonymous comment, the page looks quite blank when unauthenticated and nothing tells users that they can submit feedback after they log in.

![bodhi](https://user-images.githubusercontent.com/755451/58541493-e9c09e80-81fb-11e9-881b-b6cc4e2a934c.png)

Please add some visible hint that you can add feedback/karma/comment after logging in.

[2019-05-29 16:58] bowlofeggs commented on #2319
On Mon, 2019-05-27 at 06:14 -0700, Nils Philippsen wrote:

Hey Nils!

We do have a "do the tests pass" in Bodhi already (the
Update.test_gating_status field), but we do not have any code for
merging things in Koji or detecting conflicts.

Sure, we could split it up if you prefer. Feel free to file another
issue for this part of it and put it on the backlog. If you do so,
please link it here as wel

[2019-05-29 17:06] #2384 closed, assigned to nobody

[2019-05-29 17:23] bowlofeggs commented on #3255
This is due to the Bodhi 3 client not being compatible with the Bodhi 4 server, which is what Fedora Infrastructure is currently hosting.

You can follow [this FESCo ticket](https://pagure.io/fesco/issue/2137) to see what Fedora will do about it (we haven't decided on a plan yet).

[2019-05-29 17:30] bowlofeggs commented on #3258
Hi @mtaska!

The [Bodhi 4 server](https://bodhi.fedoraproject.org/docs/user/release_notes.html) does not accept NVRs as update IDs anymore: https://github.com/fedora-infra/bodhi/pull/3038

You should be able to set the request using the update ID (the ID is the string that looks like FEDORA-2019-xxxx).

[2019-05-29 17:30] #3258 closed, assigned to nobody

[2019-05-29 17:31] bowlofeggs commented on #3257
This is due to the Bodhi 3 client not being compatible with the Bodhi 4 server, which is what Fedora Infrastructure is currently hosting.

You can follow [this FESCo ticket](https://pagure.io/fesco/issue/2137) to see what Fedora will do about it (we haven't decided on a plan yet).

[2019-05-29 17:31] bowlofeggs commented on #3255
#3257 has a traceback with more info, so let's track this issue over there.

[2019-05-29 17:32] bowlofeggs commented on #3257
You can work around this by using Bodhi from my Copr, or by using Bodhi 4 from Rawhide.

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi

[2019-05-29 17:42] bowlofeggs commented on #3259
This is the same as #3257.

[2019-05-29 17:42] #3259 closed, assigned to nobody

[2019-05-29 19:06] #3166 closed, assigned to bowlofeggs

[2019-05-30 01:03] sergiomb2 opened #3268 "push to batched ?"
with new bodhi push to batched is not available .

[2019-05-30 06:25] #3007 closed, assigned to nphilipp

[2019-05-30 06:30] cverna commented on #3268
@sergiomb2 yes this feature was dropped, more details here https://github.com/fedora-infra/bodhi/issues/2977

[2019-05-30 06:30] #3268 closed, assigned to nobody

[2019-05-30 15:57] pmca31 opened #3272 "RSS feed gives no information about packages build"
Since commit 60dc56c that RSS feed doesn't give information about the packages affected in a build.
Example from [Fedora30 Stable - RSS](https://bodhi.fedoraproject.org/rss/updates/?releases=F30&status=stable) :
[code]

Also the link is invalid as in #3248

Looking to the [Fedora30 Stable - Web UI](https://bodhi.fedoraproject.org/updates/?releases=F30&status=stable) it seems that it should be:
[co

[2019-05-30 17:06] mattiaverga commented on #3248
This is strange, the javascript that manages the update form is correctly set to redirect to `/updates/{alias}`:
https://github.com/fedora-infra/bodhi/blob/e42d7653a556a3e11ae0b961b6acc8772994037e/bodhi/server/static/js/update_form.js#L18
Indeed, the redirect works well in my local Vagrant VM.

[2019-05-30 19:32] bowlofeggs commented on #3248
I wonder if the user that reported it had stale cached JS in their browser?

[2019-05-31 17:23] bowlofeggs opened #3274 "Crash while looking for override candidates"
Bodhi's web server occasionally crashes with this traceback:

[code]

The line in question is https://github.com/fedora-infra/bodhi/blob/4.0.2/bodhi/server/views/generic.py#L291 and it's pretty clear that we should not assume there is always a tag in the taglist.

Users probably don't notice this too much, since it's the JS thing that tries to find candidates, but we should fix it because crashes

[2019-05-31 18:35] tdawson commented on #2323
Re-running tests on Fedora-CI might be just a matter of re-sending the correct messages.
Just a few things about the Fedora-CI.
The actual testing get's run on CentOS-CI, which is jenkins based.
The code that triggers the tests is found here  https://github.com/CentOS-PaaS-SIG/upstream-fedora-pipeline
The current maintainers of that code are Miroslav Vadkerti  and Bruno Goncalves.
The messages tha

[2019-06-01 18:38] mattiaverga commented on #3274
I don't think the problem is not having any build in taglist. The `KeyError: 0` seems to refer to the fact that `taglist` hasn't any `0` key, it's not an index error.

https://github.com/fedora-infra/bodhi/blob/4.0.2/bodhi/server/views/generic.py#L281:L291
I don't fully understand what the `response = koji.multiCall()` content is, but I can see a 500 Server error on bodhi if I query for latest can

[2019-06-02 09:04] mattiaverga commented on #3274
This is an example of a koji response that fires the crash:
[code]

[2019-06-02 09:16] mattiaverga commented on #3274
`koji.listTagged` uses `strict=True` for searching the tag name and this behavior is not editable:
https://github.com/koji-project/koji/blob/2460a00117f8f7c9a64c96415cf638d9385a824b/hub/kojihub.py#L9775
That returns a dict instead of an empty list in case of the tag is not recognized. We could check `taglist` type in `response` or we could ask koji people to return the expected type from the funct

[2019-06-03 07:26] mattiaverga commented on #3274
I have reported the unexpected koji behavior to upstream: https://pagure.io/koji/issue/1477

[2019-06-03 19:21] bowlofeggs opened #3282 "The push to stable button should appear when a critpath non-autopush update reaches its karma threshold"
Laura Abbott reported to me today that [this update](https://bodhi.fedoraproject.org/updates/FEDORA-2019-48b34fc991) didn't show a push to stable button when it reached its karma threshold of 3. The kernel tends to set autopushing off, so the push to stable button should be appearing when the update reached its karma threshold.

It seems likely that the template code (and tests) are wrong.

[2019-06-03 21:26] tdawson commented on #2323
I believe this ticket is done.  I have not heard anything back from the OpenQE people I contacted.  But their code was quite straightforward.

[2019-06-04 19:03] tdawson commented on #2323
Heard back from OpenQA (Adam Williamson).
It looks like everything is in place for OpenQA to re-run tests.

edited' message (note that 'edit the update and add an extra space or something to the description' is a hack you can use *right now* to force openQA to re-run all the tests on an update).

But, that will re-run *all* the tests.  That may, or may not be, a waste of resourced.  If you just wa

[2019-06-04 20:08] tdawson opened #3284 "Add ability to re-run OpenQA tests on an Update"
A user may want to re-run the Bodhi Update tests.  OpenQA is one of the places that the tests are run.  There is currently nothing in bodhi that allows OpenQA tests to be re-run.  Implement an API to allow an update's OpenQA tests to be re-run.
Minimum - re-run all the tests.
Ideal - Have an option to re-run all tests, or just specific tests.

[2019-06-04 20:10] tdawson opened #3285 "Add ability to re-run Fedora-CI tests on an Update"
A user may want to re-run the Bodhi Update tests. Fedora-CI is one of the places that the tests are run. There is currently nothing in bodhi that allows Fedora-CI tests to be re-run. Implement an API to allow an update's Fedora-CI tests to be re-run.
Minimum - re-run all the tests.
Ideal - Have an option to re-run all tests, or just specific tests.

[2019-06-04 20:12] tdawson opened #3286 "Add ability to re-run Taskotron tests on an Update"
A user may want to re-run the Bodhi Update tests. Taskotron is one of the places that the tests are run. There is currently nothing in bodhi that allows Taskotron tests to be re-run. Implement an API to allow an update's Taskotron tests to be re-run.
Minimum - re-run all the tests.
Ideal - Have an option to re-run all tests, or just specific tests.

[2019-06-04 20:14] tdawson commented on #3284
A preliminary investigation has already been done concerning this.  For more details on who to contact, and possible ways to implement this, please see issue #2323

[2019-06-04 20:14] tdawson commented on #3285
A preliminary investigation has already been done concerning this.  For more details on who to contact, and possible ways to implement this, please see issue #2323

[2019-06-04 20:14] tdawson commented on #3286
A preliminary investigation has already been done concerning this.  For more details on who to contact, and possible ways to implement this, please see issue #2323

[2019-06-04 20:21] tdawson opened #3287 "Users should be able to re-run update tests with the Web UI"
User should be able to re-run update tests in the web interface.
Very Minimal - All tests are re-run
Minimal - A user can choose to re-run all OpenQA, or Fedora-CI, or Taskatron tasks.
Ideal - A user can choose to either run all tests, or choose which individual tests to run.

[2019-06-04 20:23] tdawson opened #3288 "Users should be able to re-run update tests with the CLI"
User should be able to re-run update tests via the command line interface.
Very Minimal - All tests are re-run
Minimal - A user can choose to re-run all OpenQA, or Fedora-CI, or Taskatron tasks.
Ideal - A user can choose to either run all tests, or choose which individual tests to run.

[2019-06-04 20:27] tdawson commented on #3287
A preliminary investigation has already been done concerning this. For more details on who to contact, and possible ways to implement this, please see issue #2323

The proper API's need to be in place before we can implement this.  The cannot be implemented until the OpenQA (#3284 ) Fedora-CI (#3285 ) and/or Taskotron (#3286 ) API's are implemented.    It is probably possible to implement this aft

[2019-06-04 20:27] tdawson commented on #3288
A preliminary investigation has already been done concerning this. For more details on who to contact, and possible ways to implement this, please see issue #2323

The proper API's need to be in place before we can implement this.  The cannot be implemented until the OpenQA (#3284 ) Fedora-CI (#3285 ) and/or Taskotron (#3286 ) API's are implemented.    It is probably possible to implement this aft

[2019-06-04 20:55] bowlofeggs commented on #2177
I believe that @nphilipp might be interested in solving this problem.

[2019-06-04 20:56] bowlofeggs commented on #3248
I'm going to close this, as I haven't heard anything further about it. I think we can assume it was cached JS.

[2019-06-04 20:56] #3248 closed, assigned to nobody

[2019-06-05 09:09] cverna commented on #2319
As a general note merging tag sounds like something we want to do in a celery tasks, so this ticket really depends on #2851

[2019-06-05 09:12] cverna commented on #3053
So I think we might want to prioritize #3204 over this work, since #3204 is backward incompatible and we likely want to have this ready with #2851 to do a 5.0 release.

[2019-06-05 09:15] cverna commented on #2319
The script used by releng to merge side tags is (https://pagure.io/releng/blob/master/f/scripts/mass-tag.py)

[2019-06-05 21:54] bowlofeggs opened #3290 "Commenting with the CLI fails if the user is not already logged in"
When we removed anonymous commenting/karma, we neglected to make the CLI ensure that the user was logged in before commenting on updates. @tyll reported that here:

https://bodhi.fedoraproject.org/updates/FEDORA-2019-352078fd2b#comment-955804

We should fix the comment function so that it asserts the user is logged in before POSTing a comment to the API.

[2019-06-05 22:02] tyll opened #3291 "Cannot comment on Fedora update with bodhi command-line tool"
Error:
[code]

With fedora-easy-karma I see that this is a BodhiClientException. It might be related to not being logged-in, however, then it should result in an AuthError AFAIU.

[2019-06-05 22:15] bowlofeggs opened #3292 "The update handler should retry when Bugzilla says that another POST changed a bug"
Bugzilla does not do well when two separate POST requests alter the same bug at the same time. This can happen with Bodhi when users create two updates at once that reference the same bug, which happens often since users can make a single update creation request that makes n updates across different releases.

This is the traceback we get when this happens:

[code]

We should alter our code in ```

[2019-06-05 22:15] #3291 closed, assigned to nobody

[2019-06-05 22:15] tyll commented on #3291
duplicate of #3290

[2019-06-05 22:17] bowlofeggs opened #3293 "Bodhi logs at error if a user tries to push an update they cannot push"
If a user tries to push an update that they cannot push, it results in this message being logged at ERROR:

[code]

This should not be logged at error. Perhaps info, or even debug.

[2019-06-05 22:22] tyll opened #3294 "Allow to provide a password after AuthError"
https://github.com/fedora-infra/bodhi/blob/c8245ca8124159379c4e537aa91c335ecca195e0/bodhi/client/bindings.py#L198

does not allow to set the password anymore when an AuthError was excepted, fedora-easy-karma used this to supply the password to bodhi if the user is not authenticated:
https://pagure.io/fedora-easy-karma/blob/master/f/fedora-easy-karma.py#_840

[2019-06-06 16:22] owtaylor opened #3297 "Add ctype to the ComposeComplete schema"
Currently the regindexer code that maintains an index of Flatpaks and containers in the Fedora registry looks at the 'ctype' field of a ~mashtask~compose.complete message to know whether the index needs to be rebuilt:

[code]

The ctype field is not part of the ComposeCompleteV1 schema - it would be great if it could be added, since I'd like to continue using it when switching to fedora-messaging.

[2019-06-06 16:36] decathorpe opened #3298 "creating comment via API: cryptic error message about missing author"
I'm working on my rust bindings for the bodhi REST API, but I can't get the creation of comments via POST requests to work. I get the following error message from a session that successfully authenticated via OpenID:

[code]

However, if I add a `author` field to the JSON body of the comment, I get a KeyError for `author` - `user` and `username` don't work either.

I see some other recent issues m

[2019-06-06 17:36] bowlofeggs commented on #3298
Hi @decathorpe!

I see some tracebacks on the server-side for this that might be helpful:

[code]

and

[code]

[2019-06-06 17:37] bowlofeggs commented on #3298
It may be helpful to inspect the POST that the Python client is sending as an example.

[2019-06-06 18:03] decathorpe commented on #3298
Thanks! I tried running bodhi with the `--debug` flag, but that doesn't seem to trigger `log.debug()` to actually print the data as it should ...

[2019-06-06 20:36] bowlofeggs opened #3300 "Bodhi's docs don't build with Sphinx 2.1.0"
Due to https://github.com/Cornices/cornice.ext.sphinx/issues/22 our autogenerated REST API docs won't build with Sphinx 2.1.0. I plan to pin us to Sphinx < 2.1 temporarily so that our pip CI tests will unblock our PRs, but we are going to have to solve this problem because eventually Rawhide is going to get that version of Sphinx and then we'll be in trouble.

Here are a few options we could consi

[2019-06-07 08:24] thrix commented on #2323
As for Fedora CI pipeline, we should ideally define new messages for restarting testing, not reuse the existing messages, but the former is definitely easier to do now. The thing is, there might be some other systems reacting on those messages, and we really want just to be a restart on the CI pipelines / testing systems, not also on other systems ....

[2019-06-07 09:06] decathorpe commented on #3298
I've managed to "hack" the bodhi python client bindings to print the session and arguments when it does its POST requests, but now I'm stuck again.

Because the python bindings send exactly what I expect them to. There is no mention of "author" or "user" anywhere, not even in the cookies that are set in the requests session.

PS: The `KeyError` exceptions above happened when I added a "author" or

[2019-06-07 09:09] decathorpe commented on #3298
Additionally, the documentation also doesn't mention "author" or "user" at all:

https://bodhi.fedoraproject.org/docs/server_api/rest/comments.html#service-1-POST

[2019-06-07 13:42] bowlofeggs opened #3302 "The Greenwave message consumer will cause Nackloops"
I saw that #3200 got merged today, and while looking over the final patch I noticed that it raises BodhiExceptions when it receives a message it cannot process. This will cause the Bodhi consumer to send an error e-mail to the bodhi-admin list and then Nack the message to the broker, which will put the message back into the queue. This will cause the message to loop in the queue forever:

https://

[2019-06-07 14:43] bowlofeggs commented on #1201
I think we can use ```backoff``` in ```bodhi.server.buildsys.koji_login()``` to help with Koji auth errors. I get tracebacks like this one from time to time, and it would be wonderful to eliminate them:

[code]

[2019-06-07 15:30] tdawson commented on #3302
Should be fixed in this pull request: #3303

[2019-06-07 15:44] AdamWill commented on #2323
Yes. Re-sending the messages would be really bad. Please don't do that. The messages are supposed to be a source of truth, they aren't just conveniences for triggering tests. A `org.fedoraproject.prod.buildsys.build.state.change` message is supposed to mean a build state change really did occur in the production build system, it is not supposed to mean "nothing actually happened to this build but

[2019-06-07 16:00] bowlofeggs commented on #3298
@decathorpe I would expect the author to be known from the Pyramid session, though I honestly don't know a lot about how that works. Are you sending the same session info that the Python one is sending?

It is not hard to make a local development environment with Vagrant: https://bodhi.fedoraproject.org/docs/developer/vagrant.html

I recommend doing that so you can control the server side and insp

[2019-06-07 16:39] decathorpe commented on #3298
Looking at the bodhi code, pyramid is used exclusively on the server-side. The bodhi python client handles this simply via the requests session set up via fedora's OpenIDBaseClient.

The session setup I'm doing works the same as the python OpenIDBaseClient, and should result in the same cookies being set.

However, I found where the "missing author" error comes from: https://github.com/fedora-infr

[2019-06-07 21:37] tdawson commented on #2323
Those are very good points.  Thank you.

Whoever is doing the code to re-run the tests, should not take the shortcut of re-broadcasting the buildsys.build.state.change message, for any of the testing platforms.  Doing so can affect much more than just the testing.

[2019-06-08 09:09] abompard opened #3304 "Koji fedmsgs are different in stg and prod"
According to the [Fedora Messaging progress board](https://github.com/orgs/fedora-infra/projects/2), Koji's Fedora Messaging port is in staging but not in prod. The way the AMQP-ZMQ bridges work is that fedmsg messages are published to AMQP without change, thus with the message content in a `msg` key [this has been reported](https://github.com/fedora-infra/fedmsg-migration-tools/issues/20). As a r

[2019-06-08 17:23] cverna commented on #3302
If I understand this correctly we should not raise any exceptions in the consumers, then we also need to fix the following consumers :
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/consumers/automatic_updates.py
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/consumers/updates.py
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/consumers/composer.py

[2019-06-08 17:27] cverna commented on #2323
We need to coordinate that with the CI team and start agreeing on what the re-trigger test message will look like

[2019-06-09 07:15] sebwoj commented on #1369
@bowlofeggs Can we close this?

[2019-06-10 07:13] thrix commented on #2323
I will be happy to define the messages in https://pagure.io/fedora-ci/messages ... will do it today .. and ask you all for review ...

Related issue: https://pagure.io/fedora-ci/messages/issue/3

[2019-06-10 14:26] bowlofeggs commented on #3298
Good luck, and let me know what you find! I honestly haven't looked into how this works before, since it was already working when I started working on Bodhi and I've never had to mess with it.

[2019-06-10 14:32] bowlofeggs commented on #3304
Hey @abompard - I have been noticing that the signed handler is not doing it's job in production: https://pagure.io/fedora-infrastructure/issue/7877

This seems like a likely explanation of why that is happening.

The good news is that it's OK if the signed handler doesn't work because bodhi-push will poll to find out if unsigned builds have been signed, so things are actually still working OK due

[2019-06-10 14:39] bowlofeggs commented on #3302
On Sat, 2019-06-08 at 10:23 -0700, Clement Verna wrote:

I don't think that's generally true. It's that we don't want to raise
Exceptions due to issues that will never be fixed by retrying. The
problem with the patch that got merged was that it raised Exceptions
when receiving messages about builds that Bodhi didn't have updates
for, or messages that were missing an expected field. Retrying on
eit

[2019-06-10 14:43] bowlofeggs commented on #1369
Thanks @sebwoj!

[2019-06-10 14:43] #1369 closed, assigned to nobody

[2019-06-10 14:48] cverna commented on #3302
Oh yes that makes sense thanks for the clarification :smile:. So I think the `automatic_updates` will need to be modified too, since it is raising exception if there are missing info from the message.

[2019-06-10 15:10] bowlofeggs opened #3306 "The automatic update handler will cause Nackloops"
Similar to https://github.com/fedora-infra/bodhi/issues/3302, the automatic update handler will lead to Nackloops if it receives misformatted messages, or messages referencing data it does not know about. It raises Exceptions in a number of cases, which will cause the message to be placed back on the queue.

Exceptions should only be raised on temporary failures (think things like network problems

[2019-06-10 15:10] bowlofeggs commented on #3302
Good catch @cverna - I filed https://github.com/fedora-infra/bodhi/issues/3302 for this.

[2019-06-10 16:29] bowlofeggs commented on #3298
@decathorpe I just realized I should let you know that we are planning to switch Bodhi to OpenID Connect: https://github.com/fedora-infra/bodhi/issues/1180

I believe that @puiterwijk wants to get that done soon.

[2019-06-11 08:29] abompard commented on #3304
Actually the bridges are likely to be fixed sooner than that. So yeah we don't have to do anything, except close the infra issue as your already did.

[2019-06-11 08:29] #3304 closed, assigned to nobody

[2019-06-11 10:22] decathorpe commented on #3298
@bowlofeggs okay, thanks for the heads-up. I guess I'll have to implement an OpenID Connect library in rust next :joy:

[2019-06-11 13:42] bowlofeggs commented on #3017
Fixed in #3047.

[2019-06-11 13:42] #3017 closed, assigned to nobody

[2019-06-11 13:43] bowlofeggs commented on #3160
Fixed in #3205.

[2019-06-11 13:43] #3160 closed, assigned to nobody

[2019-06-11 14:14] bowlofeggs commented on #3260
Fixed in #3273.

[2019-06-11 14:14] #3260 closed, assigned to nobody

[2019-06-11 15:33] bowlofeggs commented on #3293
Fixed in #3305.

[2019-06-11 15:33] #3293 closed, assigned to nobody

[2019-06-11 21:57] bowlofeggs commented on #3282
It turns out that this only affects critpath updates.

[2019-06-12 19:59] #2133 closed, assigned to nobody

[2019-06-12 20:00] #1888 closed, assigned to nobody

[2019-06-13 09:04] cverna commented on #3302
This issue was fixed by https://github.com/fedora-infra/bodhi/pull/3303 let's close it

[2019-06-13 09:04] #3302 closed, assigned to tdawson

[2019-06-13 13:01] abompard commented on #3304
FYI the bridges have been updated in prod and the signed handler should start working.

[2019-06-13 15:34] bowlofeggs commented on #3282
This should get fixed when https://github.com/fedora-infra/bodhi/pull/3310 is merged.

[2019-06-13 15:34] bowlofeggs commented on #1307
This should get fixed when https://github.com/fedora-infra/bodhi/pull/3310 is merged.

[2019-06-13 15:34] bowlofeggs commented on #1796
This should get fixed when https://github.com/fedora-infra/bodhi/pull/3310 is merged.

[2019-06-13 15:34] bowlofeggs commented on #1508
This should get fixed when https://github.com/fedora-infra/bodhi/pull/3310 is merged.

[2019-06-13 17:10] bowlofeggs opened #3311 "test_all_releases fails when run in isolation"
```bodhi/tests/server/test_models.py::TestRelease::test_all_releases``` fails if you run it by itself, but passes when run with other tests:

[code]

This means it is depending on a change from some other test, and it means that other tests aren't cleaning up their state changes when they finish.

[2019-06-14 05:57] mattiaverga opened #3312 "Vagrant box log is filled up by fedora-messaging failure messages"
When I run bodhi in development mode in its vagrant box, the bodhi log is filled up by the failure of fm-consumer@config.service, thus it's impossible to read:
[code]
Is there any setting missing in the example development.ini file that needs to be set? Or is there any setting that will set a maximum number of retry to start fedora-messaging?

[2019-06-14 06:44] sebwoj commented on #3074
@bowlofeggs CI test are fine now. What do you thing about closing this?

[2019-06-14 14:39] sebwoj commented on #3311
The same with `TestReleaseModular`, `TestReleaseContainer` and `TestReleaseFlatpak`.

The problem is when we run first TestCase(or only one TestCase), where we initialise `TestApp`:
https://github.com/fedora-infra/bodhi/blob/639e1406b9ba0f97b7800f0d740619d117a80d80/bodhi/tests/server/base.py#L184

`TestApp` calls:
https://github.com/fedora-infra/bodhi/blob/639e1406b9ba0f97b7800f0d740619d117a80d80/

[2019-06-17 06:53] #3311 closed, assigned to nobody

[2019-06-17 07:13] cverna commented on #3306
@nphilipp can you take a look at this issue :smiley:

[2019-06-17 15:15] bowlofeggs opened #3318 "The composer Nacks messages when they reference composes that no longer exist"
If messages get into Bodhi's queue that reference Compose objects that no longer exist in the database, the Composer raises an Exception. This causes the message to be Nack'd, which causes it to go back into the queue and Nack loop forever. Eventually this will cause the queue to be filled with inactionable messages and will prevent actionable messages from getting through.

[code]

[2019-06-17 16:26] nphilipp commented on #3306
Proposed fix in PR #3319.

[2019-06-17 18:32] mattiaverga commented on #1424
I had a look at #1464 and to @bowlofeggs comment about modify `request.static_url()`.
From Pyramid docs it seems the recommended way would be adding a new method to `request` with the `add_request()` method and then use the new method in the template in place of `${request.static_url()}`.
That means modify all the template files to use the new method.

I would instead propose to modify https://git

[2019-06-17 22:05] #3318 closed, assigned to nobody

[2019-06-17 22:58] #1201 closed, assigned to nobody

[2019-06-18 18:57] bowlofeggs commented on #3312
On Thu, 2019-06-13 at 22:57 -0700, Mattia Verga wrote:

Ah yes, I bet we are missing a few settings that the composer looks for
upon startup. If you look at the composer's __init__(), there should be
some code that is trying to verify a few settings. We probably just
need to set those in development.ini.example and also have the Ansible
playbook make sure those paths exist in the Vagrant box.

[2019-06-18 18:57] #3074 closed, assigned to nobody

[2019-06-18 19:19] bowlofeggs commented on #1424
On Mon, 2019-06-17 at 11:32 -0700, Mattia Verga wrote:

Putting the Bodhi version into the static URL does seem like a good way
to solve that problem. @puiterwijk has suggested that before as well.

[2019-06-19 15:40] nphilipp commented on #2325
@Zlopez as discussed, here are the couple changes I had in my worktree:

[code]

You can use that as a starting point or inspiration. It might even only need tests :wink: but I'm not 100% sure.

[2019-06-20 09:17] #3306 closed, assigned to nphilipp

[2019-06-20 10:46] abompard commented on #3053
(sorry I pressed the wrong button)

[2019-06-20 12:09] cverna commented on #2978
Fixed by #3090

[2019-06-20 12:09] #2978 closed, assigned to cverna

[2019-06-20 16:38] mattiaverga commented on #3312
I think we could just put
[code]
in development.ini.example, that will fix the issue.

But I'm wondering if the use of `_validate_none_or(str)` as validator in
https://github.com/fedora-infra/bodhi/blob/9be769b4dc53e3bd65d0beb94d6708f97c49e52d/bodhi/server/config.py#L403-L408
is an error, since the None type causes an exception in the code. Should we provide a default in bodhi.server.config and va

[2019-06-20 18:41] bowlofeggs commented on #3312
On Thu, 2019-06-20 at 09:38 -0700, Mattia Verga wrote:

This is because there isn't a compose path for all of Bodhi's other
server processes (web server, other consumers, and various CLI tools).
All of those can configure these settings to be None. It's only
required to be set for the composer process.

[2019-06-20 19:01] sebwoj commented on #1803
Is it related to #3090?

[2019-06-20 19:40] bowlofeggs opened #3338 "The tests for autotime pushing take an enormous amount of time to run"
I noticed that the unit tests are very slow in CI (and also in bci when run in Vagrant). I see that this test runs for an extreme amount of time (on the order of minutes):

https://github.com/fedora-infra/bodhi/blob/9be769b4dc53e3bd65d0beb94d6708f97c49e52d/bodhi/tests/server/scripts/test_approve_testing.py#L590-L609

The other autotime tests also take minutes to run, resulting in these new tests c

[2019-06-20 19:54] bowlofeggs commented on #3338
I don't have time to debug this right now, but it seems that these tests only go slow in network restricted environments (CI and bodhi-ci), which makes it seem like something is trying to do network connections, failing, retrying for a while, and eventually giving up (hence, the tests still pass though they take a long time).

This seems very similar to the problem I solved in https://github.com/f

[2019-06-20 20:00] bowlofeggs opened #3339 "Get tests to fail if they take too long"
We've had a number of times that tests started taking a very long time. Sometimes this happens when a pull request is merged, because we don't always notice during review that the tests took a long time to run.

We could look for testing plugins that can cause the tests to fail if they take too long. For example, this one looks possibly useful: https://pypi.org/project/pytest-timeout/ It would be

[2019-06-20 20:20] bowlofeggs commented on #3338
A data point: the unit tests now take about 50 minutes to run. They used to run in about 5 minutes.

[2019-06-21 05:17] #1307 closed, assigned to nobody

[2019-06-21 05:17] #1508 closed, assigned to nobody

[2019-06-21 05:17] #1796 closed, assigned to nobody

[2019-06-21 05:17] #3282 closed, assigned to nobody

[2019-06-21 07:43] #3297 closed, assigned to Zlopez

[2019-06-21 16:22] #105 closed

[2019-06-21 16:22] #1038 closed, assigned to nobody

[2019-06-21 16:22] #1563 closed, assigned to sebwoj

[2019-06-24 19:36] mohanboddu commented on #2319
I want to bring up a use case here:

If there is package `foo` and maintainer A requests a side tag and builds the `foo-1.1` in the side tag. Then maintainer B builds the same package `foo-1.2` and sends it as a single update or multiple update before maintainer A. But when maintainer A tries to merge the side tag, there might be a conflict of which build to trust or both might be bad because both

[2019-06-25 08:15] #3338 closed, assigned to cverna

[2019-06-25 12:19] cverna commented on #2323
@thrix did you get a chance to look at this ? Once we have the message format we can start to look at adding the possibility to send this message from bodhi.

[2019-06-25 15:32] #3009 closed, assigned to nphilipp

[2019-06-25 19:36] jdieter opened #3350 "Make zchunk updateinfo a per-repo option"
When I added support for zchunked updateinfo.xml in #2904, I missed the fact that my patch was creating zchunked updateinfo.xml for _every_ repository.  I don't think we want to be creating zchunk metadata for EPEL and Fedora 29 (and, apparently it's breaking some third-party mirroring tools, see https://bugzilla.redhat.com/show_bug.cgi?id=1721359), so we need to add a way of making the zchunked u

[2019-06-26 15:39] nphilipp commented on #3312
This one should be fixed in the following commit which is a part of #3246:

https://github.com/fedora-infra/bodhi/pull/3246/commits/b04fe72ea5766e982f06fb9d9a3e8cc8450faf47

[2019-06-27 12:31] abompard opened #3357 "Convert the testcases to PyTest"
Some testcase classes, for example in `bodhi/tests/server/test_util.py`, derive from `unittest.TestCase`. We use pytest, so they could be migrated to derive from `bodhi.tests.server.base.BaseTestCase`. That would allow us to use the simpler `assert` constructs instead of the `self.assert*()` methods.

[2019-06-27 14:42] nphilipp opened #3358 "Unpushing updates should need confirmation."
I just inadvertently [unpushed an update](https://bodhi.fedoraproject.org/updates/FEDORA-2019-6817686c4d#comment-966018) because I missed the border of a window I wanted to resize by a few pixels. It wasn't even my update but I just happen to be a provenpackager and what's worse, it was requested for stable before and wouldn't let me request that again (not sure if this is an issue, probably rathe

[2019-06-27 14:43] Zlopez commented on #3290
I'm trying to reproduce this issue in local bodhi instance, but without any luck.

I tried to use
`bodhi updates comment FEDORA-MODULAR-2019-917b958a40 "test"`
 and
`bodhi updates comment --user zlopez FEDORA-MODULAR-2019-917b958a40 "test"`,
but every time it's asking for password or username and password.

I'm not sure if this was already fixed or I can't just hit this issue.

[2019-06-27 15:03] mattiaverga commented on #3358
A really simple javascript should be enough.
I'll do it in no time.

[2019-06-27 21:42] AdamWill opened #3360 "masher.start / composer.start messages are fairly useless"
Since 3b655f23 , the `bodhi.master.start` fedmsg - which later became the `bodhi.composer.start` fedora-messaging message in Bodhi 4 - is pretty, well, useless.

Before that commit the message included a list of update titles under the key `updates` in the message dict. Since that commit, it includes a list of compose dicts under the key `composes`. It seems that these compose objects inside Bodhi

[2019-06-28 01:44] nirik opened #3361 "If wiki is down, bodhi loops on updating bugs"
The wiki was down for a few hours today as we upgraded it.

During that time, someone filed a new update.
Bodhi then looped adding comments about the update... this seems to be due to it not being able to talk to the wiki.

See:
https://pagure.io/fedora-infrastructure/issue/7953
and
https://bugzilla.redhat.com/show_bug.cgi?id=1722190 (908 comments)

[2019-06-28 13:18] #3358 closed, assigned to nobody

[2019-06-29 10:29] sebwoj commented on #3360
Yes, when Bodhi creates `Compose` json object for `bodhi.composer.start` msg, `updates` field is excluded from object.

`release_id` field is actually the Release id in Bodhi Database. This field does not inform user about release name(like 'F28'). Inside Bodhi backend we can fetch release from DB using `release_id` field, but outside Bodhi this infomation is useless.

We should discuss what extra

[2019-06-30 08:59] decathorpe commented on #3298
Side note: This is not specific to my rust bindings.

I just adapted fedora-easy-karma to the new bodhi API and now I'm getting the same "You must provide a comment author" error from fedora-easy-karma, which uses the first-party bodhi python bindings:

`bodhi.client.bindings.BodhiClientException: You must provide a comment author`

[2019-07-01 13:59] kparal commented on #3298
Here's a full traceback from fedora-easy-karma:
[code]

It can be reproduced easily:
[code]

@bowlofeggs Can you please look into this soon? Fixing fedora-easy-karma is quite high priority for QA, thank you.

[2019-07-02 00:33] nirik opened #3365 "fm-consumer starts failing after a few days uptime"
After 3 days uptime a updates push fails with:

[code]

simply resuming seems to result in the same error, but restarting and then resuming works... so I think there's some kind of state here that gets stuck.

[2019-07-02 11:04] Zlopez opened #3366 "Update pending is not visible on main page"
Currently in staging there is one update for rawhide that is now pending  (see https://bodhi.stg.fedoraproject.org/updates/?releases=f31&status=pending), but on the main page the total number is 0 (https://bodhi.stg.fedoraproject.org/).

[2019-07-02 13:54] nphilipp opened #3367 "Bodhi should push automatically created updates to -pending on successful Greenwave gating"
Currently, automatically created updates for Rawhide get created with a pending request for testing. The builds are stuck in the candidate tag of the release.

We want Bodhi to move them forward to ~~testing~~ stable (`*-updates-candidate` → `*-pending` tags in Rawhide) when Greenwave tests pass. For this, the Greenwave consumer should set the update status to ~~`testing`~~ `stable`, unset its req

[2019-07-02 14:18] Zlopez commented on #3366
I tried to play a little more with this issue and it's strange, when I'm refreshing the page I'm getting different results.

One time is showing correct number, than I do a refresh and it's showing 0.

I also noticed, that this update is not shown in any category bellow the total number.

Here is the id of the update: https://bodhi.stg.fedoraproject.org/updates/FEDORA-2019-f7a7a6c4ac

[2019-07-02 15:05] AdamWill commented on #3360
I mean, the obvious thing to do to match how the messages were before would be to include the updates in the message too (whether as just plain titles or IDs, or as a dict, I'm not sure). But yeah, at least including enough info to identify the release would be a start.

[2019-07-02 15:22] nphilipp commented on #3367
@pypingou @abompard I've updated the description to reflect that we want to go to stable directly. Please give it a lookover if I got it right :wink:.

[2019-07-02 15:35] nphilipp opened #3368 "Greenwave consumer: process received message for single-build updates"
Currently, the Greenwave consumer receives a message, then uses `Update.update_test_gating_status()` which queries Greenwave in turn. If an update only contains a single build, we should just use the information from the received message because it's less error-prone.

[2019-07-03 08:39] pypingou commented on #3367
I think we still want to the move from ``*-updates-candidate`` → ``*-pending`` but according to @cverna using the code in that cron job (``approve_testing``) will give it to us for free :)

[2019-07-03 08:54] kparal commented on #3298
Even the official CLI tool doesn't work:
[code]

[2019-07-03 09:25] kparal commented on #3298
As a heads up, @bowlofeggs is away for 2 months and @abompard for 3 weeks, so we'll need to wait until somebody has time to look into this.

[2019-07-03 09:54] nphilipp commented on #3298
Hmm, this just worked for me:

[code]

Here's the comment it created: https://bodhi.fedoraproject.org/updates/FEDORA-2019-38fb6b744d#comment-968141

NB: this is bodhi-client-4.0.2-2.fc30.noarch, @kparal what's the version you use?

[2019-07-03 11:59] kparal commented on #3298
Interesting, after I removed `~/.fedora/openidbaseclient-sessions.cache` I was suddenly able to submit comments through `bodhi updates comment` and `fedora-easy-karma` (`bodhi4` branch). It seems that something in already existing session cache is breaking this functionality, perhaps it fails to refresh some session keys? I have my "broken" cache file saved and can email it to developers if needed

[2019-07-03 14:36] decathorpe commented on #3298
If that's the case, then there these are probably two different issues - since the rust code I'm using for OpenID authentication isn't using the session cache file at all.

[2019-07-04 07:46] kparal commented on #3298
The old session file has 8 items in the list, the new one has 9 items. It seems the structure of the file changed, but no conversion is performed, and the existing code fails to work with the old one.

[2019-07-04 15:12] AdamWill commented on #3298
@puiterwijk since this is openID auth stuff, were you involved by any chance?

[2019-07-09 09:13] pypingou commented on #3286
Considering that taskotron is going away, I am not sure we should invest much time in this

[2019-07-09 12:30] cjsin commented on #3350
Potential fix (unable to test it):

File bodhi/server/metadata.py
The file is already making a special case of the Epel repo with respect
to enabling bzip2 compression, so this simply disables zchunk in the same
place, for the same repo release id.

[code]

[2019-07-09 14:03] #3361 closed, assigned to nobody

[2019-07-09 15:46] #2177 closed, assigned to nobody

[2019-07-10 08:52] #1424 closed, assigned to nobody

[2019-07-13 14:36] sebwoj opened #3387 "check_policies script seems to be unused"
Since we have a GW msg consumer, we can remove this script in the next big release.

[2019-07-13 15:09] sebwoj commented on #3008
Yes, I think that we can close this.

[2019-07-15 11:40] pypingou commented on #3387
IIRC, the idea was to have a belt+suspender approach where we would do bus-based notifications by default and use the cron to clean things up if needed.
Since we moved from fedmsg to fedora-messaging this may not longer be required, so :+1: for dropping it, although I'd encourage that we give our new consumer enough time to be sure that it behaves as we want :)

[2019-07-15 11:41] pypingou commented on #3008
Let's do it :)

[2019-07-15 11:41] #3008 closed, assigned to tdawson

[2019-07-16 05:04] ryanlerch commented on #2324
So looking into this, the current new update form (the current non-tag behaviour) is quite unweildy, and doenst lend itself to abstracting out the parts needed for both it and the new side-tag update form.

What would be the best way to attack this?

1. make an entirely new form for sidetag updates, that has the elements in it, but abstracted out so we can in the future update the original form to

[2019-07-16 09:52] pypingou commented on #2324
Which way sounds best for you?

[2019-07-17 09:13] rathann commented on #2706
This is happening all the time for me now (bodhi-4.0.2 on bodhi-web-77-vpspf), which often leads me to add duplicate comments, for example:  https://bodhi.fedoraproject.org/updates/FEDORA-2019-8d98e2633a .

[2019-07-17 12:58] #3011 closed, assigned to nobody

[2019-07-17 15:58] pypingou commented on #3367
This is now working as desired in staging.

It's even directly pushing the update to the stable_tag :)

[2019-07-17 15:58] #3367 closed, assigned to nobody

[2019-07-18 08:15] pypingou opened #3401 "[s] Fix comment order: https://bodhi.stg.fedoraproject.org/updates/FEDORA-2019-a0e3451113"
The comment that the update was created automatically appears after the comments generated by checking greenwave.

[2019-07-18 08:28] nphilipp commented on #3401
See https://bodhi.stg.fedoraproject.org/updates/FEDORA-2019-a0e3451113:
![Screenshot from 2019-07-18 10-27-04](https://user-images.githubusercontent.com/820624/61441865-c5a15400-a946-11e9-9095-639caba1df3c.png)

[2019-07-18 09:21] pypingou opened #3403 "Add a comment on updates when tests about them start running"
Currently users have no way to know when tests for their updates have started to run.
It's not user-friendly and we should fix this.

This likely means, having a dedicated fedora-messaging consumer that listens for messages from Fedora CI and comment on the corresponding updates when they see messages about new tests starting.

[2019-07-18 09:31] #3401 closed, assigned to nphilipp

[2019-07-19 12:40] pypingou opened #3407 "Gated updates are being pushed (on a stable branch)"
This update: https://bodhi.fedoraproject.org/updates/FEDORA-2019-af45a8c3f8 is gated by greenwave (its tests can never pass, they do and will always fail).
However, it was pushed to testing.

So somewhere the gating status is not being respected.

[2019-07-20 16:42] sebwoj opened #3409 "Improper web site layout in /updates/{alias} in development branch"
DEVELOPMENT:

![development](https://user-images.githubusercontent.com/42519683/61581356-b7f1f700-ab1d-11e9-9a0b-aa3e947fa612.png)

PRODUCTION:

![production](https://user-images.githubusercontent.com/42519683/61581359-bd4f4180-ab1d-11e9-836e-cfe665f77e64.png)

[2019-07-20 17:28] sebwoj commented on #3409
Regression introduced in #3380

[2019-07-21 06:06] sebwoj commented on #1803
@cverna What do you think?

[2019-07-22 13:21] #2851 closed, assigned to abompard

[2019-07-23 19:06] pypingou opened #3414 "Running fedpkg update on master leads to a stuck update"
If you run `fedpkg update` in master with rawhide gating enable, the update that is created is in "Pending" state.
This means, the update will remain "stuck" in bodhi since the workflow assumes the update is created in "Testing".

For now we could "fix" it by "manually" move all the "Pending" updates to "Testing" every once in a while but this is clearly not a long term viable solution.

We can do

[2019-07-23 19:11] pypingou commented on #3414
Note: this also happens via the web UI (same code path)

[2019-07-23 20:32] pypingou commented on #3414
So after spending 1h+ on a patch for this, while writing the commit message I've got an idea:
- Since bodhi listen for builds landing in -updates-testing-pending, it will create a new update (in `Testing`) for that build when it lands.
So the update that the user manually created will likely just rot in there but won't block anything.

This means, a quicker solution to this than the patch I was wo

[2019-07-24 06:43] Zlopez opened #3416 "Add support for Fedora messaging to centos.ci.org"
This ticket is for tracking work related to CI gating, which needs to be done on centos.ci.org.

The original ticket could be found [here](https://github.com/jenkinsci/jms-messaging-plugin/issues/132).

[2019-07-24 08:07] pypingou commented on #3414
After more thoughts, this is also not correct, if the listener finds an update for this build, it bails.

I'm sending a pull-request that makes it so that if the listener finds an update for a build and this update is in a "Pending" state, it moves it to a "Testing" state directly, as if it had been automatically created.

[2019-07-24 13:41] #3414 closed, assigned to nobody

[2019-07-25 15:10] nphilipp opened #3422 "Consumers: exceptions in one handler cause others for the same topic suffix to be skipped"
@bowlofeggs @cverna @abompard @pypingou sorry for the spam, but I guess this is best discussed in an issue.

Before the automatic update handler, all handlers listened for different message topic suffixes. This one however listens to the same suffix as the signed handler, meaning that an exception in the latter would cause the automatic update handler to be skipped, see the relevant code in `bodhi

[2019-07-25 16:36] hroncok opened #3424 "Automatic rawhide updates should not list karma limits"
I think that the highlighted part of an update overview page should not be visible in an automated rawhide update:

![_](https://user-images.githubusercontent.com/2401856/61891933-0b43bb00-af0b-11e9-945a-6dd758c61d58.png)

[2019-07-25 17:05] cverna commented on #3424
@hroncok karma is actually valid on updates created by rawhide. So if an update gets a -1 karma it would block the update from being pushed to stable.

Apart from being automatically created the updates in rawhide are exactly the same as the one in a stable release.

[2019-07-25 17:10] hroncok commented on #3424
So before the tests finish, users have a chance to quickly do -3 karma? Is that really possible?

[2019-07-25 17:10] hroncok commented on #3424
Oh, sorry, they can do a quick -1 to block it and than extra -2 unpushes it?

[2019-07-25 17:11] hroncok commented on #3424
Does +3 override the test failure?

[2019-07-25 17:21] cverna commented on #3424
If gating is enabled on the release then no, the update would still be blocked by the failing tests.

[2019-07-25 17:22] hroncok commented on #3424
It just feels that the autokarma thing is not relevant then. What am I missing?

[2019-07-25 17:29] cverna commented on #3424
Yes I don't think anyone will use karma on any rawhide update. What could be easily done is to disable autokarma on the rawhide update but you would still see the karma bits in the update view. Just the `Autopush (karma)` bit would be showing `disabled` instead of `enabled.

[2019-07-26 09:35] abompard commented on #3422
A couple questions / remarks :
1. Do we actually want to process the automatic_update handler if the signed handler fails?
2. If we do, then yeah storing the failure in a variable and raising Nack if it is true seems like a good solution
3. All handlers should be either idempotent or handle duplicate messages, because the bus may send messages multiples times (in case of network failure when the a

[2019-07-26 17:39] cverna opened #3425 "Greenwave consumer should not process the compose results"
Currently the greenwave consumer consumes all the messages from `topic=org.fedoraproject.prod.greenwave.decision.update` but some messages on this topic are related to compose results and not koji build.

The consumer should filter the messages based on the `subject_type`, and only process `koji_build` type.

See a koji_build example https://apps.fedoraproject.org/datagrepper/id?id=2019-efb310ed-6

[2019-07-27 17:27] gsauthof commented on #2978
Hm, is there some documentation on how to enable this feature when I submit a package update?

In a current submission I just see `Autopush (time) disabled` on the bodhi page.

[2019-07-28 09:28] sebwoj commented on #3366
Now, I see opposite situation.
[Bodhi](https://bodhi.fedoraproject.org/) on the main page shows 1 update in "Fedora 31 prerelease", but page [https://bodhi.fedoraproject.org/updates/?releases=F31&status=pending](https://bodhi.fedoraproject.org/updates/?releases=F31&status=pending) is showing 0 updates.

[2019-07-28 09:34] sebwoj opened #3427 "CI test fails on automatic F31 update"
[code]

[2019-07-28 11:24] sebwoj commented on #3366
I found the reason.
Method responsible for generating home page stats is cached:
https://github.com/fedora-infra/bodhi/blob/3985832112ae06bc75e16d8b851d5b455aebac8a/bodhi/server/__init__.py#L321

In case of vagrant dev environment, cache timeout is set to 1H:
https://github.com/fedora-infra/bodhi/blob/3985832112ae06bc75e16d8b851d5b455aebac8a/devel/development.ini.example#L11

@Zlopez Do you think

[2019-07-28 19:18] cverna commented on #2978
@gsauthof using the latest cli (version bodhi-4.1.0-3.fc31) you can look at the `bodhi updates new` or `bodhi update edit` command and use the `--autotime` flag. (full documentation https://bodhi.fedoraproject.org/docs/user/man_pages/bodhi.html#updates)

Otherwise editing the update in the web interface will let you set the `Autopush (time)` option to `True` (it is a radio button)

[2019-07-29 07:41] pypingou commented on #3427
a greenwave policy missing in the vagrant environment?

[2019-07-29 07:58] pypingou commented on #3425
Definitely :+1:  on the idea
We may need to be careful (ie: double-check) on the impact this may have. It seems it is still not 100% clear if some fields are required or not, cf:
- https://src.fedoraproject.org/rpms/python-virtualenv/pull-request/10
- https://pagure.io/fedora-ci/docs/issue/30

[2019-07-29 09:02] pypingou opened #3428 "Have bodhi send a dedicated fedora-messaging message when an update is ready to be tested"
Updates are manually created in a "Pending" state, where they are signed before they are pushed to a "Testing" where they are tested by the CI system.
So we can't trigger the CI system off new updates being created.

The easiest solution is thus to send a dedicated fedora-messaging message to tell the CI System: "Now this update can be tested".

This need coordination with the OSCI team maintainin

[2019-07-29 09:43] pypingou commented on #3422
That's likely, the later one "just" marks the updates as being signed. If for some reason it fails, we still want to create the rawhide update.

[2019-07-29 09:49] hroncok opened #3429 "Rawhide updates ruining the bodhi.fedoraproject.org/users/<me> experience"
I was using https://bodhi.fedoraproject.org/users/churchyard to see my recent updates and check whether they are still in testing.

Since I don't usually have more than 10 updates in testing at the same time, the page was perfect.

However I do dozens (hundreds?) rawhide builds a week and now rawhide updates are swamping the page, making it essentially useless for me.

I'd appreciate, if I could h

[2019-07-29 09:53] hroncok opened #3430 "Merge subsequent e-mail notifications to one"
Now that we have rawhide gating, I get 5 e-mails sent within 3 minutes every time my rawhide build finishes. That could only lead to people filtering the bodhi e-mail away.

I suggest that bodhi waits a defined time frame (5 minutes?) before sending out any e-mail notification for an update and once the time passes, it merges all waiting notifications to one.

[2019-07-29 09:55] abompard commented on #3422
But then, the update will contain unsigned packages?

[2019-07-29 10:04] pypingou commented on #3422
Bodhi doesn't sign the packages, it just has a small indication in its UI whether the builds of an update have been signed or not. It helps the package know where their packages lay.

[2019-07-29 10:05] pypingou opened #3431 "Reduce the amount of emails sent by bodhi in rawhide"
Bodhi currently sends a lot of emails (5 to 7) for each rawhide update going through.

We need to reduce this.

[2019-07-29 10:06] abompard commented on #3427
This happens in CI, not (only) in Vagrant

[2019-07-29 10:22] abompard commented on #3422
If it's just a minor UI update then I guess yeah it's OK to keep processing handlers.

[2019-07-29 10:32] pypingou commented on #3430
That assumes you still want these emails while the discussion on the list seems to indicate some people would rather have them gone entirely.

Are you interested in keeping them?

[2019-07-29 10:42] cverna commented on #3429
Does https://bodhi.fedoraproject.org/updates/?user=churchyard&status=testing works for you ? Rawhide update will not stay long in testing unless the tests are failing.

[2019-07-29 10:44] hroncok commented on #3430
I want to get notified when the update was created and pushed - ideally if this goes in one e-mail. I probably don't need the "testes ignored" etc. e-mail.

[2019-07-29 10:45] hroncok commented on #3429
Can I see testing + pending?

[2019-07-29 10:46] hroncok commented on #3429
Also, this doesn't list the buildroot overrides at all, so from one simple dashboard page, I would need to use more.

[2019-07-29 10:51] cverna commented on #3429
Ok then I guess we need some way to filter the updates per releases. Currently you can do something like that https://bodhi.fedoraproject.org/updates/?user=churchyard&release=F30 but it seems limited to one release.

[2019-07-29 11:50] #3427 closed, assigned to nobody

[2019-07-30 08:04] pypingou commented on #3431
With #3435 the number of emails goes down from 5 or 7 to 2 or 3 (update created, (CI failed), update going to stable).

[2019-07-30 08:41] #3431 closed, assigned to nobody

[2019-07-30 14:44] cverna opened #3442 "Create a new Update status : Stable not tested"
This is a proposal to create a new Update status "Stable not tested" (or something better ) to help identify which update were pushed to stable without having any tests run against.

[2019-07-30 15:51] pypingou commented on #3442
I do wonder if we don't already have this via the ci_status "ignored".

[2019-07-31 06:59] cverna commented on #3442
Yes we do, but the status that is displayed on the UI is the Update Status (Pending, Testing, Stable, Obsolete, ...). I was thinking that adding an extra status would make it easier to display that on the UI, ie we just add a new color for the Stable not tested status.

Happy to have other suggestions :-)

[2019-07-31 07:41] pypingou commented on #3442
Is this information really useful for the users. If it's only a question of knowing how much gating is used and its effect, we could gather this info outside of bodhi itself no?

[2019-07-31 08:34] cverna commented on #3442
I would say that this is more a nice to have thing for the users rather than must have, but I can see value in quickly knowing which update were not tested by CI in the release view for example (https://bodhi.fedoraproject.org/releases/F31).
Also this might bring an extra motivation for maintainers to adopt tests, since there update status will be different than ohters.

Thinking about it how woul

[2019-07-31 09:06] pypingou commented on #3442
Good question, we really have still a lot to figure out for mult-builds :(

[2019-07-31 12:29] nphilipp commented on #3422
@abompard the indication in the UI is already there, so no change in UI involved. With this, I'll look at how well the signed & automatic update handlers cope with receiving and processing the same message twice.

[2019-07-31 14:14] abompard commented on #3422
Yeah I understand, what I meant is that if the consequence of crashing on the signed handler is just that a minor part of the UI is not going to be updated, it's not worth blocking the automatic handler on that.
So the change seems good to me in that regard.

[2019-07-31 18:45] cverna opened #3445 "Builds coming from the releng user should not create updates in rawhide."
The releng user is used to create composes in koji. The koji builds are tagged with the f31-updates-candidate tag which makes bodhi create updates for it.

The automatic update consumer needs to check if the build comes from the `releng` user and ignore it.

@mohanboddu and @nirik also think that the build should be tagged directly to f31.

[2019-08-01 08:20] #3425 closed, assigned to cverna

[2019-08-01 08:41] nphilipp commented on #3445
This should be easy enough to do. Do we usually hardcode stuff like this, or do we add a configuration option?

[2019-08-01 08:44] nphilipp commented on #3442
To me it looks like this doesn't need a new update status if we know the information from ci_status already. Wouldn't it be enough if we displayed this information in the CLI/UI?

[2019-08-01 08:52] cverna commented on #3442
It would be a solution but involves a lot more UI work (creating a new column to display that info). While I believe that just adding a new status makes the change simpler. (https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/util.py#L572)

[2019-08-01 08:54] cverna commented on #3445
The problem I see is tagging the build with f31. As far as I know Bodhi currently only have the code to tag builds that are within an update which would not be the case here.

[2019-08-01 08:57] pypingou commented on #3442
A new column? I'm not quite following you there.

If we count the number of update by CI status, it's just a few more rows on the left side of the release overview page: https://bodhi.fedoraproject.org/releases/F31 .
In the update view that information is already there: https://bodhi.fedoraproject.org/updates/FEDORA-2019-dadb07e23b .

[2019-08-01 08:58] pypingou commented on #3445
I'm a bit curious why we want to do this in F31 while we did not in F30

@mohanboddu @nirik any thoughts?

[2019-08-01 09:06] cverna commented on #3442
I was looking at these views
https://bodhi.fedoraproject.org/updates/?releases=F31
https://bodhi.fedoraproject.org/users/cverna

The quick to have this is to create the new status and have a different color on the UI for that status. So Green means stable with test and for example Purple means stable without tests.

Are you referring to the Gating status part ? if yes I think this is currently jus

[2019-08-01 09:13] cverna commented on #3445
For the koji garbage collection, I think @mohanboddu and @nirik were looking at why F30 builds are not tagged in F30.

[2019-08-01 15:11] pypingou opened #3447 "Do not allow buildroot override in rawhide"
If the user creates a buildroot override in rawhide it ends up messing with our entire workflow. The builds are no longer in their appropriate tags, they appear in bodhi's database but aren't linked to any update (cf PR: #3446) that leads to basically builds being stuck.

Preventing buildroot override creation in rawhide should just solve that :)

[2019-08-02 07:37] cverna commented on #3059
https://github.com/fedora-infra/bodhi/pull/3448 should improve the situation. Doing a local test with creating an update of 103 builds it took 26 seconds before the change and 5seconds with the refactoring.
I ll keep looking for possible performance improvement.

[2019-08-02 10:25] cverna commented on #3447
One possible easy way to do this is to not configure the override tag for the rawhide release.

[2019-08-02 12:54] pypingou commented on #3447
Wfm, we just need to document this enough to make sure we don't miss it at branching

[2019-08-02 15:08] AdamWill commented on #3059
Nice! I'll keep an eye on it next time I need to interact with a gigantic update.

[2019-08-02 22:17] #2325 closed, assigned to Zlopez

[2019-08-03 22:23] nirik commented on #3445
It might be we can just leave them where they land, but we need to make sure koji-gc does the right thing with them. ie, we want to keep ones that are used in places we distribute (releases, etc).

Note that ignoring releng builds would fix also the issue of bodhi in rawhide trying to file updates for image builds (which fails in a traceback currently).

[2019-08-05 06:16] fweimer opened #3451 "“Push to Testing” shown for stable rawhide builds"
[glibc-2.30-1.fc31](https://bodhi.fedoraproject.org/updates/FEDORA-2019-51c4168307) has been pushed to rawhide proper, but there is still a “Push to Testing” button in the web UI:

![image](https://user-images.githubusercontent.com/2729073/62442749-1f808700-b759-11e9-8a70-7424479b2589.png)

[2019-08-05 06:18] fweimer opened #3452 "Please do not call rawhide “stable”"
For me, this is very confusing because of my Debian background. The Debian releases are called “stable”. I expect I'm not alone in this.

[2019-08-05 07:04] cverna commented on #3452
For Bodhi, rawhide is not really different from any other release ( ie using the pending, testing and stable state for an update). Changing this behavior in my opinion will require quite some work, and I am not sure that this is worth the effort.

Is that something you can leave with ? Also the goal of having rawhide in Bodhi is to make rawhide more and more stable :smile:

[2019-08-06 12:39] fweimer commented on #3452
Fair enough. In the end, it would probably help more to have some indication where the update will show up (which tags, buildroots and composes) and how far things has progressed getting there.

[2019-08-06 12:39] #3452 closed, assigned to nobody

[2019-08-07 04:14] praiskup opened #3454 "The F29 update was moved to stable without explicit request"
https://bodhi.fedoraproject.org/updates/FEDORA-2019-f9dd0d1bbd

[2019-08-07 09:02] cverna commented on #3454
@praiskup yes this is the new default see the first item of the Features in the release notes (https://github.com/fedora-infra/bodhi/releases/tag/4.1.0).

[2019-08-07 09:02] #3454 closed, assigned to nobody

[2019-08-07 10:05] abompard commented on #3428
Could you explain a bit more what is needed and what the problem currently is?
If I understand correctly, CI reacts on Koji builds, and that won't work for multi-package updates because we need to test them all together. So we can solve that problem by sending a (new) message when an update is ready to be tested.

I'm guessing we want to send that message when the update / update set lands in the

[2019-08-07 12:52] Yky opened #3455 "Missing dnf instructions for updates-testing"
In the past, bodhi displayed dnf instructions for installing packages from updates-testing.

For example, there used to be instructions with a yellow background for the following package:
https://bodhi.fedoraproject.org/updates/FEDORA-2019-c8703a3fb3

`sudo dnf upgrade --enablerepo=updates-testing --advisory=FEDORA-2019-c8703a3fb3`

This command is no longer shown for kernel-updates (and possibly

[2019-08-07 16:17] mattiaverga commented on #3455
This is because after the update to 4.1.0 the existing releases (at least those which are active) should have been manually edited by an administrator to add `package_manager` and `testing_repository` properties. Without those two properties set, no command is displayed.

See the release notes https://github.com/fedora-infra/bodhi/blob/develop/docs/user/release_notes.rst#features

[2019-08-07 17:04] Yky commented on #3455
Thank your for your quick response.

Is there a specific reason why no default is provided to display the install command for an update? I could imagine a lot of maintainers did not take note of this change. New updates added after the bodhi update do not contain the install command either.

[2019-08-07 20:08] pypingou commented on #3428
So far so good :)

Rawhide has no testing repository so that won't work then :)

For stable releases, we gate going to testing and going to stable, so we likely
will send the message when the update is submitted to testing and when it's
submitted to stable.

This is *the* question which we're still trying to figure out :)

[2019-08-08 05:19] praiskup commented on #3454
Ah, interesting, but I had to submit manually this one: https://bodhi.fedoraproject.org/updates/FEDORA-2019-c5df969648 (it really was weird that F29 got pushed before F30).  Nevermind, thanks.

[2019-08-08 06:02] mattiaverga commented on #3455
It was decided to not add defaults because it's impossible to predict any. We made the change not only focusing for our instance of Bodhi (Fedora and Fedora EPEL), but there are also other instances used by other distro that we cannot predict what package manager are using or how they name their testing repositories.

[2019-08-08 19:59] AdamWill opened #3456 "Message schemas do not include releases"
Maybe I'm missing something here, but I can't find anywhere that the message schemas for update messages require that the message include the release dict for the release that the update is for.

The published messages *do* include the `release` dict inside the `update` dict at least at present, but the schemas are supposed to be the authoritative reference to what you can rely on being present in

[2019-08-08 20:49] AdamWill commented on #3456
Another thing I'm curious about: `content_type` property of the `update` object is not in the schema either. Not sure if that's an intentional omission, it seems like important information.

[2019-08-12 19:48] cverna commented on #3454
It all depends when the update was created, if it was before bodhi 4.1 was deployed then you still need to push manually.

[2019-08-12 19:50] cverna commented on #3455
@abompard could you set the `package_manager` and `testing_repository` in our ansible repo and redeploy so that we can close this issue ?

[2019-08-13 06:49] cverna opened #3459 "Bodhi puhsed to stable an update with negative karma"
The following update was reported on #fedora-devel, https://bodhi.fedoraproject.org/updates/FEDORA-2019-0f5dd9fe0d.

It received -1 karma but was still pushed to stable by bodhi after reaching 7 days in testing.

[2019-08-13 11:56] cverna commented on #3442
I have opened https://github.com/fedora-infra/bodhi/pull/3458 that will give us the ci status `passed` and `ignored` on the release overview.

It is also adding the possibility to filter updates by ci status.

[2019-08-13 16:21] #3409 closed, assigned to nobody

[2019-08-14 01:36] ChrisGWarp commented on #3350
Are we able to back this change out whilst a solution is sought? That way those of us who have been effected by the change can get back to working. :) I've been bitten by the EPEL repo.

[2019-08-14 08:11] ryanlerch commented on #3429
Just opened up #3463  that lets you specify multiple status params in the updates query, so it will let you do testing + pending.

The same code that renders the /updates/ page is used to render the update list on the user profile page, so what i am thinking here is to add a new box at the top that shows just the pending and testing updates. (perhaps only showing this box if the user page is your

[2019-08-14 08:20] hroncok commented on #3429
I think you are right here. Thanks!

[2019-08-14 09:52] #3459 closed, assigned to cverna

[2019-08-15 12:57] #3416 closed, assigned to Zlopez

[2019-08-15 14:25] Andrei-Stepanov opened #3469 "Cannot add new build for testing: "Cannot find release associated with build""
Hello.

bodhi-client-2.11.0-3.el7.noarch
or
https://bodhi.fedoraproject.org/updates/new

give me the same error:

[code]

or

[code]

The same message for bodhi-frontend

[2019-08-15 14:34] Zlopez commented on #3366
I'm not sure if this should be cached at all.

[2019-08-15 14:40] Andrei-Stepanov commented on #3469
This happens only for f31. I can push updates to f30/f29

[2019-08-15 15:05] Andrei-Stepanov commented on #3469
Please close this ticket.
https://fedoraproject.org/wiki/Releases/31/Schedule F31 is not activated yet in Bodhi.

[2019-08-15 15:05] #3469 closed, assigned to nobody

[2019-08-15 15:32] onosek opened #3470 "bodhi client requires display_name field during update"
Hi,

I am maintaining fedpkg. Recently it started failing because of new bodhi client bug/feature that allows the user to customize the name of the update (display_name). It happened in bodhi-4.1.0-3 which build is available (only) for Fedora31. I temporarily fixed it for Fedora31, but as this bodhi change is not backwards compatible, it is complicated to resolve it for other releases. I would hav

[2019-08-15 19:00] didierm commented on #3272
No offense intended, but : how [High Priority] or [EasyFix] is this issue ?
RSS feeds have been unreadable for the past few months :

 ![image](https://user-images.githubusercontent.com/989004/63118970-53e91400-bf9f-11e9-8b2b-c218d5de7c56.png)

[2019-08-16 03:36] ryanlerch commented on #3470
It looks like that the issue here is that fedpkg is not supplying the display_name item in the update config file it is passing to the bodhi CLI.

the Bugs field is not mandatory either, but the config file that fedpkg supplies to bodhi (if there are no bugs), contains the field, but is empty. Pretty sure that changing the config template in fedpkg to contain the field, but defining it as empty wi

[2019-08-16 06:02] lubomir commented on #3470
It does fix the issue if you have bodhi client 4.1.0. If `display_name` is included in the template for 4.0.2, bodhi will complain and crash. Basically fedpkg would have to do runtime detection of minor bodhi version. It seems much easier to provide default empty value in bodhi directly. Otherwise I think a major version bump is in order, since it breaks backwards compatibility.

[2019-08-16 19:03] cverna opened #3471 "Update without build can be created"
It appears that an update without build can be created (https://bodhi.fedoraproject.org/updates/FEDORA-2019-e4e61bb84b).
We need to make sure that the validators are not letting an update without a build being created.

In that case the update made the compose failed.

[2019-08-17 01:36] QuLogic opened #3472 "Search button does nothing"
Clicking the search icon does nothing; no bar is shown and there's no other way to search.

Using Firefox 66.0.5 on Fedora 30.

[2019-08-17 01:43] QuLogic commented on #3472
This seems to only be a problem when viewing an update. If on the homepage, then the button works.

But to be honest, why bother with the hidden search entry? It's bad UX to have hiding widgets like that, and it's not like there's no room on the header.

[2019-08-19 00:44] ryanlerch commented on #3472
This appears to be resolved in the develop branch, i think with the update to the newer bootstrap.

[2019-08-19 09:21] nphilipp opened #3473 "Update from side tag: create appropriate auxiliary tags and tag builds accordingly"
# Story

As a user of multi-build gating,

I want that Bodhi creates corresponding `*-pending-signing` and `*-testing` tags (if they don't exist already) when an update is created or edited from a side-tag, and tags the builds into the `*-pending-signing` tag and out of the side-tag,

so that robosignatory can pick the build up from there and sign it.

# Background

@pypingou's multi-build update

[2019-08-19 11:00] cverna commented on #3442
https://github.com/fedora-infra/bodhi/pull/3458 merged

[2019-08-19 11:00] #3442 closed, assigned to cverna

[2019-08-19 12:21] nphilipp commented on #2319
For reference, here's pypingou's multi-build update workflow diagram \[[download](https://user-images.githubusercontent.com/820624/63262799-34940480-c287-11e9-9594-e177ce7e6d4d.png)\]:

![Multi-builds - Rawhide Package Gating Flow.png](https://user-images.githubusercontent.com/820624/63262799-34940480-c287-11e9-9594-e177ce7e6d4d.png)

I'm taking this card to be the overarching one for the whole wo

[2019-08-19 12:23] nphilipp commented on #2319
In Robosignatory's [PR#27](https://pagure.io/robosignatory/pull-request/27) I added tests around its "signing a tagged build" workflow, which I wanted to get in in order not to screw things up (too much).

[2019-08-19 12:33] nphilipp opened #3475 "[S] Message consumer: Move update from side-tag to testing"
# Story:

As a user of multi-build gating,

I want a Bodhi message consumer to change the status of an update created for a side-tag to `testing` when all of its builds are signed by Robosignatory (i.e. tagged into the `*-testing` tag corresponding to its side-tag) and announce it via the message bus,

so that automated testing can commence.

# Background

pypingou's multi-build update workflow di

[2019-08-19 14:37] nphilipp opened #3476 "Move successfully tested update from testing to stable and remove side and aux tags."
# Story

As a user of multi-build gating,

when the tests of an update created for a side tag are finished successfully (i.e. an according gating decision has been announced on the message bus), I want Bodhi to:

* add a comment documenting the decision to the update
* tag its builds into the stable tag and out of the `*-testing` tag of the side tag
* change the status of an update created for a s

[2019-08-19 14:44] nphilipp commented on #2319
Here are the "sub-cards" covering individual bits and pieces in Bodhi and robosig:

* #3473 Update from side tag: create appropriate auxiliary tags and tag builds accordingly
* [robosig/#28](https://pagure.io/robosignatory/issue/28) CI Gating: Robosignatory should sign Koji builds from side-tags
* #3475 Message consumer: Move update from side-tag to testing
* #3476 Message consumer: Move tested up

[2019-08-21 09:33] #3447 closed, assigned to cverna

[2019-08-21 12:36] dwmw2 opened #3479 "Bugs assigned to non-updated packages are closed"
I've just had to manually reopen https://bugzilla.redhat.com/show_bug.cgi?id=1701157 twice.
I pushed an update to NetworkManager-openconnect, but I also reassigned that bug to NetworkManager itself, because there is a bug there too that needs to be fixed before everything works.

Each time the NetworkManager-openconnect update got pushed to stable (for f29 and f30), the bug got closed despite not

[2019-08-21 12:52] pypingou commented on #3479
bodhi closes the bugs that it is instructed to close. Looking at: https://bodhi.fedoraproject.org/updates/FEDORA-2019-84bfd3d917 bug 1701157 is listed associated to this update. So when the update reaches stable bodhi closes the bug.

[2019-08-21 13:15] dwmw2 commented on #3479
That makes some sense, I suppose. But I'd really like to be able to list bug 1701157 in the update without autoclosing it, since this update is a necessary *part* of the fix for that bug.

I suppose I could have refrained from enabling the autoclose feature, and manually closed the other bug on this occasion.

But *"don't close bugs assigned to a package other than the one being updated"* does see

[2019-08-21 13:37] pypingou commented on #3479
I can bet you $10 that if we do this, we'll have people opening tickets asking why we're not closing tickets that they listed as "to-be-closed" :)

Just take the example of updating the rpm: python3-foo while the component in bugzilla is named python-foo :)

[2019-08-21 13:38] dwmw2 commented on #3479
Hah, fair enough. Although, that's insane.

Thanks.

[2019-08-21 13:38] #3479 closed, assigned to nobody

[2019-08-21 16:21] pypingou commented on #3479
Note that I'm just one voice, more people may disagree w/ me and I'm not saying we couldn't change this behavior. I'm just feeling that if we do change it, there will be people complaining about it.

If we believe that the gain is considered greater than the pain of dealing with these people, then we should do it :)

[2019-08-22 05:11] ryanlerch opened #3480 "Unable to create a sidetag update: no release associated with build"
When trying to create a new update based on a sidetag, it fails, with Bodhi unable to associate a release to the sidetag.

Specifically, the error is:

    Cannot find release associated with build: adwaita-blue-gtk-theme-3.22.21.0-10.fc30, tags: ['f30-build-side-7749']

This is being generated by https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/validators.py#L158

Also, note that t

[2019-08-22 12:36] nphilipp commented on #3480
The Bodhi service (backend) could determine the release from a side tag like this:

If we can't figure out the release from the tag itself, ...

* check that the `from_tag` is a side tag (see the `extra` sub dict):

[code]

* get its ancestry

[code]

* try to match up the resulting parent tags with a release (that we store the different "roles" of tags in separate fields doesn't help here, but he

[2019-08-22 14:30] cjsin commented on #3350
hello Chris.
No sign that anyone in the world other than yourself, Jdieter, and myself care about this at all. I guess no-one is really using EPEL? It would be interesting to see if there are stats on the actual usage. Maybe it's pretty much dead? Really surprising to me but I suppose I can only guess that RHEL and CentOS users must already be limiting themselves to the regular RHEL/CentOS subset

[2019-08-22 14:47] cjsin commented on #3350
This really shows the flaws in using an online repo such as EPEL even with an open source philosophy. The metadata is generated by one thing and that's broken, making the entire repository pretty much useless unless one browses it with a web browser, manually saving some individual packages.
We can do an open source bugfix patch for the EPEL repo metadata generation tool (as attached above) but, t

[2019-08-22 16:11] nirik commented on #3350
Do note that this only affects people using that specific cache product. Most epel7 users aren't affected by this at all.

That said, we should of course fix this. Anyone able to review the above patch or something like it?

[2019-08-22 23:39] #3451 closed, assigned to ryanlerch

[2019-08-25 23:48] ryanlerch opened #3484 "Should we stop a user from creating two sidetag updates with the same sidetag"
Currently, it is possible for a user to create two different updates from the same sidetag. This may be an edge-case, as if the builds are the same when creating the update, bodhi will not allow the update to be created, as the builds validator detects an update already has those builds.

However, it is possible if a user pushes new builds to a sidetag, to create a new update from the same sidetag

[2019-08-26 06:05] cverna commented on #3484
I would say that if an update was already created with a side tag and a packager wants to change it then it should edit the existing update. So I think that not allowing creating multiple update from the same side tag seems to be a good idea.

tagging @hroncok to see his opinion.

[2019-08-26 06:25] hroncok commented on #3484
This is more an user story question. What is the idea behind side tag updates? Will pushing to stable close the side tag, etc.? Do we have a step by step user perspective of this?

[2019-08-26 07:45] ryanlerch opened #3485 "Unable to edit a side-tag update"
When trying to edit/update the builds of a side-tag update (by keeping the from_tag field, and giving an empty builds field), bodhi returns the following error to the user:

    Builds: Failed to create update. tag requires autosign permission

the following traceback is returned on the server.

    2019-08-26 06:53:52,584 ERROR [bodhi.server][waitress] Failed to create update
    Traceback (most

[2019-08-26 09:08] cverna commented on #3484
@hroncok oh sorry for the lack of context. A side tag update is how we will do multi build updates in rawhide. The simplified workflow is here (https://pingou.fedorapeople.org/Simplified_multi_builds_update.jpg).

[2019-08-26 09:30] hroncok commented on #3484
That picture doesn't really give that much context :D

This is what I usually do in side tag:

 1. request it
 1. build, build, build, build
 1. request it to be merged
 1. it is merged, nobody can build in it

In the bodhi world, I expect the following:

 1. request it
 1. build, build, build, build
 1. create a bodhi update with the entire side tag content
 1. update pushed, nobody can build in

[2019-08-26 09:41] cverna commented on #3484
Yes that is the expected workflow.

Hum yes that's a good point.

 and a followup: "If a sidetag update exists and a new build happens in that side tag, should it be automatically added?" and if not: "Should side tag builds be allowed with pending updates, without explicit unpush of that update?"

Yes also good questions, in the discussion we had we expect the packager to edit the update in the ca

[2019-08-26 09:44] hroncok commented on #3484
I guess it is OK to require the packager to edit the update in order to add new builds. In that case please make it easy to add all new builds. My last side tag has something between 2000 and 3000 packages.

I think having a strict 1:1 relationship between a side tag an and update is the only reasonable way. Aka we don't want multiple updates from within one side tags and we don't want one update

[2019-08-26 11:31] omerlin commented on #3350
Any news about that issues ?
It affects people like me using Nexus Proxy as cache. Our ansible Yum install is blocked because of this. We will try alternative solutions (like Pip) but for sure EPEL is used at many place in our build chain.

[2019-08-26 18:22] bowlofeggs commented on #3192
@ryanlerch Are you still planning to work on this? If not, I might take a swing at it.

I think we can break this code out into its own function to get the changelog for us here (and to continue to do so for the e-mails):

https://github.com/fedora-infra/bodhi/blob/41412fffd5b981f5a61d4ece7f43b54f3390f36e/bodhi/server/mail.py#L342-L354

[2019-08-26 20:43] szpak commented on #3272
I've run into the same issue:
https://lists.fedoraproject.org/archives/list/infrastructure@lists.fedoraproject.org/thread/XHRKAAUKBFFU5LXAJ54VI7AG633SGDMV/

Very often It's really hard to determine without clicking a link which package it is all about.

[2019-08-27 09:46] nphilipp commented on #3476
Not sure how far I'll get with this before going on vacation but I'll give it a shot.

[2019-08-27 13:55] onosek commented on #3470
Hi @ryanlerch, I would like to ask about the situation. Is there any plan for fixing this? If yes, what is your time estimation? Thank you.

[2019-08-27 17:12] bowlofeggs commented on #3422
On Mon, 2019-07-29 at 03:04 -0700, Pierre-Yves Chibon wrote:

This is not correct - builds being signed is part of Bodhi's state
machine. The UI thing is just a nice thing to have, but the field is
for the state machine and having the data be correct there is important
or the composer will crash.

[2019-08-27 18:52] bowlofeggs commented on #3456
Yeah these things were purposefully omitted as documented here:

https://github.com/fedora-infra/bodhi/blame/9b440bc7d7db882c3adada6236e8d5652a69530e/docs/user/release_notes.rst#L186

The idea is that the messages that Bodhi sends now are highly suboptimal, mostly in that they serialize way more data than is likely needed, but we also didn't have the time when writing the schemas to change the mes

[2019-08-27 18:53] bowlofeggs commented on #3456
Can you name the fields from the release that you want to include in the schema?

[2019-08-27 19:24] bowlofeggs commented on #3366
It's cached because it takes a long time to generate the data, and the data does not need to be current. I think we should close this issue.

[2019-08-27 21:37] AdamWill commented on #3456
Well, I mean, the goal is 'reliably identify the release this update is for', I guess. You know better than I do which fields would be necessary for that purpose. At a guess, the most important field would be `name`, assuming that can always be relied on as a unique identifier that will be easily queryable? Maybe `name` and `version`...

[2019-08-28 08:11] cverna commented on #2323
Lets close this since we now have a way to do that via https://github.com/fedora-infra/bodhi/issues/3428

[2019-08-28 08:11] #2323 closed, assigned to nobody

[2019-08-28 13:23] pypingou commented on #3484
:+1:

[2019-08-28 13:27] pypingou commented on #3484
So far we were thinking: "No but it would prevent the side-tag from being merged (since not all builds are in the update and thus not all builds have been tested"

If we make sure to prevent merging side-tags where not all builds are included in the update, I think we don't need this extra step.

[2019-08-28 14:17] nphilipp commented on #3476
After my first implementation attempt and some discussion, it seems that the first three items work already, in the greenwave consumer and the approve_testing script. I've implemented the last item in the script, too: PR #3489 which is WIP right now because there are no tests yet.

[2019-08-28 14:22] nphilipp commented on #2319
Current state:

* @Zlopez is working on #3473, #3475
* I've implemented [robosig/#28](https://pagure.io/robosignatory/issue/28) in [robosig/#29](https://pagure.io/robosignatory/pull-request/29) which @abompard reviewed (merge pending comment from Patrick)
* I've implemented #3476 in PR #3489 (but it needs more eyeballs)

[2019-08-28 15:37] AdamWill commented on #2323
How does that solve this? AFAICS #3428 implements an automatic mechanism for Bodhi to publish a message when it decides an update is "ready for testing". I don't see that it provides a mechanism for packagers to manually trigger the publishing of such a message in order to have the tests re-run.

[2019-08-28 17:49] didierm commented on #3272
Feed : https://bodhi.fedoraproject.org/rss/updates/?release=F30&type=newpackage
![image](https://user-images.githubusercontent.com/989004/63879660-72ea9b80-c9cc-11e9-93d7-795675fb84d6.png)

What kind of information is supposed to be provided here ?
The non-descriptive titles (_"FEDORA-2019-e4e24c3776"_), together with the generic descriptions (_"Initial package"_) have been rendering the feeds nex

[2019-08-28 18:18] cverna commented on #2323
The same way we publish a message to say the update is ready for testing, we can publish a message to request the tests to be run again.That's why I closed this ticket, I don't think we need to investigate how we will do that anymore.

Implementation will most likely be done in https://github.com/fedora-infra/bodhi/issues/3287 and https://github.com/fedora-infra/bodhi/issues/3288

[2019-08-28 20:52] thrix commented on #2323
@cverna Yeah, sorry, not yet, anyway, basically request for test message could be also standardized. It is not much different by the retrigger messages really ....

[2019-08-28 21:19] AdamWill commented on #2323
I mean, I think @cverna might be right - it doesn't need to be a different message, just use *this exact* message. As a test system maintainer, it works fine - I just make my test system fire the tests any time I see this message. It doesn't matter to me whether Bodhi is publishing it because an update just got created or because the maintainer pushed a "re-run these garbage tests" button.

Though

[2019-08-29 07:42] thrix commented on #2323
@AdamWill  Ok, maybe we are speaking about different use cases. Fedora CI reacts on koji builds, so you want to send out a ```org.fedoraproject.prod.buildsys.build.state.change``` messages?

[1] https://github.com/CentOS-PaaS-SIG/upstream-fedora-pipeline/blob/master/JenkinsfileBuildTrigger#L31

[2019-08-29 15:15] AdamWill commented on #2323
I guess this ticket was scoped to Bodhi, so if you think about the problem in the scope of Bodhi, just re-sending a 'ready for testing' message makes sense.

I think we kicked around the idea of having a whole convention/framework/something for "test retrigger requests" that Bodhi could use and Koji could use and anything else could use before, but it didn't really get anywhere in the end. It seem

[2019-09-01 04:50] cverna commented on #3471
This seems to happen if you create an update with build A, then create the another update with the same build.

[2019-09-02 10:59] #3428 closed, assigned to abompard

[2019-09-02 12:23] #3480 closed, assigned to ryanlerch

[2019-09-04 09:14] cverna opened #3492 "Prevent user to create an update from a tag that is not a side tag."
Currently when we validate the tag given to the --from-tag flag we do not check if this tag is a side tag or not. Which means that in theory we could create an update with all the build in the f30 or f31 tag.

We need to make sure that the tag given in the --from-tag is a side tag before processing the request.

[2019-09-04 13:56] #3473 closed, assigned to Zlopez

[2019-09-05 00:40] QuLogic opened #3493 "Karma limits reached too early after being reset"
In [this update](https://bodhi.fedoraproject.org/updates/FEDORA-2019-729bba50f9), karma was added as follows:
* -1
* "This update has been pushed to testing."
* "Bodhi is disabling automatic push to stable due to negative karma. The maintainer may push manually if they determine that the issue is not severe."
* +1
* New builds added; "Karma has been reset."
* "This update has been pushed to testin

[2019-09-05 08:53] hroncok commented on #579
I've noticed this and wanted to report it.

https://bodhi.fedoraproject.org/updates/FEDORA-2019-29c418b1d7

This update got 2 negative critpath karma and nothing happened. It was only when somebody gave -1 normal karma, where bodhi disabled automatic push to stable and the overall karma counter decreased.

![_](https://user-images.githubusercontent.com/2401856/64327244-a9777600-cfcb-11e9-83a1-47e6

[2019-09-05 10:25] mm-git01 commented on #3357
Has this been resolved ? can i take this ?

[2019-09-05 13:53] pypingou commented on #3357
It has not and it is not a small task so feel free to one file at a time and submit PR as you go :)

[2019-09-05 15:40] mm-git01 commented on #3357
cool,will do it. Btw i was pointed to bodhi by vipul-siddhart. I have been a fedora contributor for almost a year+ now and was a google summer of code intern this year with fedora. Want to do more infra work moving forward.

[2019-09-05 18:28] cmurf opened #3494 "when adding feedback, the wrong test case was consistently flagged negative"
With this update
https://bodhi.fedoraproject.org/updates/FEDORA-2019-18f7fc4f08

Twice I marked the Gnome Accessibility as -1, and yet after submitting, Gnome Accessibility has been set to +1 and Gnome Lock Screen has been set to -1 (exact opposite). As you can see I just assumed I made a mistake, but then upon carefully repeating the same settings - yep, they're flipped after submission!

![Scree

[2019-09-08 03:03] QuLogic commented on #3255
So I guess we can close this now that Bodhi 4 is in stable Fedora.

[2019-09-08 03:03] #3255 closed, assigned to nobody

[2019-09-08 03:42] QuLogic commented on #3039
So it seems like there are no longer any instructions at all, so this can be closed?

[2019-09-08 09:29] mattiaverga commented on #3039
Instructions are there, they're just not enabled because of a lack in configuration. #3455

[2019-09-08 13:08] ellert opened #3495 "Empty updates can not be edited"
Hi!

I have a set of empty updates:

https://bodhi.fedoraproject.org/updates/FEDORA-2019-1a9f460ddf
https://bodhi.fedoraproject.org/updates/FEDORA-2019-2268266d31
https://bodhi.fedoraproject.org/updates/FEDORA-2019-bef5c0c3c8
https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2019-d119182890
https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2019-e6890f4861
https://bodhi.fedoraproject.org/update

[2019-09-09 08:28] #3475 closed, assigned to Zlopez

[2019-09-09 12:11] #3476 closed, assigned to nphilipp, Zlopez

[2019-09-10 15:00] pypingou opened #3497 "Add versioning for updates"
Basically we need  a way to uniquely identify an update as a specific list of builds (1 or more).
If the update is edited (builds added/removed), that list of builds change and thus the version should be different.

In the world of CI, we want to test the updates (uniquely identified by their alias/updateid), but since the builds in the update may change, we currently cannot distinguish test resul

[2019-09-11 16:10] mattiaverga commented on #3497
What about to store an hash based on update alias + builds names instead of manually created version field? I think it would be more error proof.
Maybe there's no need to store the hash in the database, it could be calculated on the fly.

[2019-09-12 04:58] ryanlerch commented on #3495
Just out of interest, how did you manage to remove (or not add builds) to these updates?

[2019-09-12 05:01] ryanlerch commented on #3471
Related: #3495

[2019-09-12 05:44] ryanlerch commented on #2622
#3453 overhauled the new update form, to make adding bugs a lot more intuitive. Feel free to re-open this one if you don't agree.

[2019-09-12 05:44] #2622 closed, assigned to nobody

[2019-09-12 05:46] ryanlerch commented on #2256
Libravatar was saved!

https://blog.libravatar.org/posts/Libravatar.org_is_not_going_away/

[2019-09-12 05:46] #2256 closed, assigned to nobody

[2019-09-12 07:32] pypingou commented on #3497
I see pros and cons to this:
Pros:
- Nothing to store in the DB
- Edited an update without changing the builds associated with it won't increment the version (Note: this could also be circumvent with the integer-based version by being careful on when we increment it)

Cons:
- It'll be harder to figure out the order of the versions: is dflkjhsaf before or after sdlifkhaskhf2?

In the context of usi

[2019-09-12 07:44] #3403 closed, assigned to Zlopez

[2019-09-12 07:57] pypingou opened #3501 "Provide packagers with the information on where the tests are being run for side-tags"
https://github.com/fedora-infra/bodhi/pull/3499 has implemented this feature for single build updates but we purposely ignored the multi-builds case thinking that we do not want to add 100 comments on an update that has 100 builds.

This ticket is to track this feature.

We do not have a technical solution for this at this time.

[2019-09-12 09:54] #2324 closed, assigned to ryanlerch

[2019-09-12 12:58] mattiaverga commented on #3497
I don't think any reason to know the order of the update versions, isn't the order of test result enough?

But yes, if that is important, a integer based approach is the most straightforward. I thought it was only a matter of uniquely bind a test result to a specific update "version".

[2019-09-12 13:10] pypingou commented on #3497
That would be correct, my only issue is if we ever face the situation where a test about an update v2 finishes before a test about the v1.
This may be a theoretical issue and maybe it does not happens often enough to worry about it, in which case your solution is more elegant :)

I'll leave the decision to the person implementing the feature :)

[2019-09-12 16:31] mm-git01 commented on #3357
i took a look at the code today,this is definitely gonna take some time.I'll push thing one by one as they are done.

[2019-09-12 23:51] ryanlerch opened #3502 "When leaving a comment with karma, the karma is not updatedin the webUI"
After leaving a comment, bodhi updates the update page with JS, adding the comment to the bottom of the comment list. However, if a user adds karma, the karma total for the update is not changed on the page until a refresh of the page is done.

[2019-09-13 00:44] ryanlerch commented on #3495
Trying to re-create this, but it is hard, because you arent supposed to be able to create empty updates.

Did you create these with the web ui? or via the command line?

were there ever any builds in these updates, or were they somehow removed when submitting the updates that worked?

[2019-09-13 06:55] cverna commented on #3495
This relates #3471

[2019-09-13 07:01] ellert commented on #3495
They were created with the web UI.

I had a long list of builds. And when I pressed the submit button it was dimmed as expected, but instead of returning a list of the created updates it eventually timed out and the button was undimmed again. So I pressed the button again, and the same thing happened again. I then though I would split it up and create one update at a time instead of having the UI

[2019-09-14 08:52] QuLogic opened #3505 "Add a banner during Freezes"
Just before every release, I see people wondering why their packages are not pushed to stable. If Bodhi showed a message _somewhere_, this would probably be less common.

[2019-09-14 09:21] cverna opened #3506 "Update stable days default should be set by the release mandatory days in testing value"
Currently an update stable days default value is 7 days. This is not optimal when a release is in pre-beta since the policy requires an update to spend 3 days in testing.

To avoid that when creating an update the default value of stable days should be taken from the release mandatory days in testing value.

[2019-09-14 09:31] cverna opened #3507 "Update that requires to stay in testing longer than the mandatory testing days are not automatically submitted to stable."
An update can spend a longer time in testing than the required mandatory days in testing. This is defined by the packager when creating the update using the stable days setting.

Once the update has spent enough time in testing ( days in testing > mandatory testing days) bodhi will add a comment on the update that it can be submitted to stable.

In order for the update to be submitted automaticall

[2019-09-15 15:44] Navneet78 commented on #3357
Hello I am new here. It would be my first PR can I do this?

[2019-09-15 16:15] mm-git01 commented on #3357
hey,i am kinda working on this rn. Since this is your first PR and pretty easy,you can take this :smile:

@pypingou can you please point me to some other issue that i can look into that needs to be fixed.

[2019-09-15 17:53] Navneet78 commented on #3357
Thank you @Pac23

[2019-09-16 18:42] sdemura commented on #3350
Like @omerlin we're using Nexus Proxy as a cache, which is impossible at the moment.

[2019-09-18 09:24] M4rtinK opened #3508 "Can't remove bugs from an update"
I've tried to remove a bug from the bug listing on a Bodhi update, but that does not seem to work & I'm getting the following error after unchecking the bug I want to remove & clicking on the save button:

`Builds : Unable to create update. DELETE statement on table 'update_bug_table' expected to delete 1 row(s); Only 3 were matched.`

The update in question:
https://bodhi.fedoraproject.org/update

[2019-09-18 15:57] mohanboddu commented on #1947
It happened again: https://pagure.io/releng/issue/8813 and seems like there is an issue with the display of the time of when actually the BRO got expired as well.

[2019-09-19 09:37] ryanlerch commented on #3429
The new dashboard view now shows your pending and testing updates on the index (when logged in)

![screencapture-0-0-0-0-6543-2019-09-12-15_58_29](https://user-images.githubusercontent.com/592259/64757812-79554780-d576-11e9-90cf-98c36881c2a9.png)

#3500 is in develop branch now.

going to close this one, feel free to re-open if this doesnt meet your expectaions, @hroncok

[2019-09-19 09:42] hroncok commented on #3429
Looks awesome!

[2019-09-19 09:43] #3429 closed, assigned to ryanlerch

[2019-09-19 09:51] #3472 closed, assigned to nobody

[2019-09-19 09:56] ryanlerch commented on #1672
#3500 implements a new front page, that shows your pending + testing updates when logged in now.

This is merged in develop.

cheers,
ryanlerch

[2019-09-19 09:56] #1672 closed, assigned to ryanlerch

[2019-09-19 19:09] mohanboddu opened #3510 "Bodhi container pushing is not working as it supposed to"
When we tried to push a [container update](https://bodhi.fedoraproject.org/updates/FEDORA-CONTAINER-2019-0b8c9c2687) it failed saying that:

[code]

Bodhi release seems to be fine:
[code]

Another error that it showed when it failed is something like
[code]
which is true and I dont know why bodhi hasn't tagged into f32-container-updates-testing-pending tag automatically when the update is created.

[2019-09-19 22:04] ryanlerch commented on #774
The new update form is now in develop, and makes it a lot easier to add/remove/update builds.

#3453

[2019-09-19 22:04] #774 closed

[2019-09-19 22:08] ryanlerch commented on #729
#3500 (now in the develop branch) implements a new dashboard view for logged in users, displaying your pending+testing updates, and active overrides. This is what appears now as the homepage.

[2019-09-19 22:08] #729 closed

[2019-09-19 22:16] #611 closed

[2019-09-20 05:04] kalev commented on #729
Excellent, thanks!

[2019-09-23 08:13] cverna commented on #3510
@mohanboddu I have restarted the fm-consumer@config.service on bodhi-backend01. I think that the releases are cache so if we add a new update to bodhi we need to restart the service. Let's try to do a new push and see if that fixes the problem.

[2019-09-23 13:56] mohanboddu commented on #3510
It worked, thanks

[2019-09-23 13:56] #3510 closed, assigned to cverna

[2019-09-23 15:00] nirik opened #3512 "handle updates that spend a long time in gating failed"
consider:

Package is built in rawhide.
Automatic update is created.
Gating tests run and say 'failed'
Update is not pushed stable.
days/weeks/months pass and the packages signed copies are garbage collected.
user waives test or gets it to pass somehow.
Package lands in rawhide with no signed copies, fails compose.

Perhaps we could just add a check when pushing stable to make sure the package has

[2019-09-23 15:03] mohanboddu commented on #3512
`re-tag it to get it autoresigned` seems easier but may be signing is done when the update is pushed to stable rather than when the automatic update is created.

[2019-09-23 15:07] cverna opened #3513 "Create single build updates in pending status for rawhide"
Now that we have the automation in place to automatically move an update from pending to testing we should use that for single build updates too.

For that we need to change the automatic_update consumer (https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/consumers/automatic_updates.py) to create the update in the pending status.

And make sure that the signed consumer will move the u

[2019-09-23 17:43] cverna opened #3514 "Reset multi builds update that failed merging a side tag to pending"
If a multi builds update fails to be merge in stable, the approve testing cron job will add a new comment to the update every times it run.
To avoid this we need to reset the update status to pending, but we also need to be able to move back the update to testing when the update is edited (build added or build removed).

[2019-09-24 10:17] pypingou commented on #3512
We wanted to have the package signed before so that the tests/CI can actually test what we are shipping to your users.
Unsigned RPMs would lead to CI do things like ``dnf install --nogpgcheck`` and I don't think we want to encourage that :)

[2019-09-24 11:14] pypingou commented on #3513
When we move this to production, we'll have to be careful to adjust robotsignatory's config and to double check that we do not leave any builds in a middle-state where they no longer move forward.
We'll need adjust our docs as well (I can pick this up though)

[2019-09-24 11:35] pypingou opened #3515 "Include the releases in the message schema of updates"
For the CI pipeline it would be helpful if `bodhi.update.status.testing` messages were to include the release information.

I was surprised that this was not already the case and I saw on datagrepper that quite a few messages actually already include this information (for example: https://apps.fedoraproject.org/datagrepper/id?id=2019-0612255c-501f-40e1-91b5-6026044cbea3&is_raw=true&size=extra-larg

[2019-09-24 11:39] pypingou commented on #3515
@abompard Is this something you could look into?

[2019-09-24 14:05] mohanboddu commented on #3512
Then we should merge the builds into fxx-pending tag rather than fxx tag when the build gets pushed to stable as it is already setup in robosig.

[2019-09-24 14:20] cverna commented on #3512
If we were to obsolete older updates wouldn't that solve the problem ? An old update containing a signed build that was garbage collected could not be pushed to stable then ?

Although that will only work if a newer update was created.

[2019-09-24 16:49] pypingou commented on #3512
@mohanboddu so you're going from this flow:
f31-updates-candidate --> f31-updates-testing-pending --> f31
to:
f31-updates-candidate --> f31-updates-testing-pending --> f31-updates-pending --> f31
??

Update would then go through robosignatory twice, won't this make the workflow quite a bit slower on large multi-builds updates?

Maybe we could check if the build/package is still available when we p

[2019-09-24 19:15] mohanboddu commented on #3512
This will create more issues as we have to force people to build and create the update again.

`f31-updates-candidate --> f31-updates-testing-pending --> f31-updates-pending --> f31` isn't this the current flow, and I want to add f31-pending after f31-updates-pending, which will look like,

`f31-updates-candidate --> f31-updates-testing-pending --> f31-updates-pending --> f31-pending --> f31`

May

[2019-09-25 05:47] ryanlerch commented on #3445
is the releng user also used for mass rebuilds?

or are these usally done in side-tags, so wont be an automated update?

[2019-09-25 07:30] cverna commented on #3445
Correct

Yes the builds are done in a side tag, I think the current plan is to keep mass rebuild out of bodhi scope.

[2019-09-25 12:11] #3424 closed, assigned to ryanlerch

[2019-09-26 03:46] ryanlerch commented on #3492
Just a heads up to anyone implementing this, there is already a function at https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/views/generic.py#L156 that gets sidetag info for the webUI if you want to have a look how that is done there.

[2019-09-26 05:56] ryanlerch commented on #2194
I think this is probably the best route at the moment. the UI was recently updated in develop, so removing it is relatively easy.

Additionally, as per #2183, the cli doenst even have the ability to change critpath karma, so its even easier to just remove it from the webUI only.

[2019-09-26 07:33] #3485 closed, assigned to nobody

[2019-09-26 08:40] #3484 closed, assigned to nobody

[2019-09-26 09:23] #3445 closed, assigned to nobody

[2019-09-26 12:49] kortemik commented on #3350
Thank you for the feature, however it broke the world.

[2019-09-26 13:36] pypingou commented on #3512
We don't use `fxx-pending` in the workflow I've described here :)

If there a way to ask koji if a build still exists on disk?

[2019-09-26 21:24] #2183 closed, assigned to nobody

[2019-09-26 23:42] #3272 closed, assigned to nobody

[2019-09-27 09:18] onosek commented on #3470
Closing this issue as a requested change was merged. Going to be released soon in bodhi 5.

[2019-09-27 09:18] #3470 closed, assigned to ryanlerch

[2019-09-27 17:00] nirik commented on #3512
I don't know it koji has a way to do it, but you can simply look and see if the signed copies are there or the sigcache has a detached signature for it... ie, https://kojipkgs.fedoraproject.org/packages/ansible/2.8.3/1.fc31/data/signed/12c944d0/noarch/

[2019-09-30 09:05] #2050 closed, assigned to nobody

[2019-09-30 13:03] #3513 closed, assigned to cverna

[2019-09-30 13:40] cverna commented on #3471
This happened again today, some more info from the IRC log
[code]
It seems to happen when bodhi hangs, I guess that we could check if an update has a build before commiting to the db.

[2019-09-30 18:19] mm-git01 commented on #3505
I am taking this.

[2019-10-01 10:49] ryanlerch commented on #3505
Been thinking about this one, and i think there are two options here:

1. put an alert at the top of the new user dashboard page (i.e. the homepage for logged in users) listing the fact there are release(s) in the frozen state, and nothing will be pushed to stable until it is unfrozen.

and/or

2. add an alert somewhere on the update page for updates to the frozen release, saying the same thing. f

[2019-10-01 13:34] sebwoj commented on #3505
#3170

[2019-10-01 14:33] mohanboddu commented on #3512
Just a quick thought, we can change the stable tag in bodhi config to fxx-pending for rawhide only release and let the robosig do its thing.

I know its not ideal, but it will fix our issue.

[2019-10-01 22:07] QuLogic commented on #3505
I don't think 1 is sufficient on its own, because people can click on links in update emails and go directly to an update, never seeing their user page.

[2019-10-02 10:50] #3366 closed, assigned to nobody

[2019-10-02 14:47] mm-git01 commented on #3505
agree with this,imo both 1 and 2 of what @ryanlerch said should be implemented.

[2019-10-03 00:04] ryanlerch opened #3529 "Buildroot Override page / form not working"
##3500 broke the buildroot override form's javascript. So it is now impossible to create or edit a buildroot override. A symptom of this is the Javascript required alert remaining on the page as well as the following errors being reported to the web console in the browser:

[code]

[2019-10-03 12:30] frantisekz commented on #3298
So, is there any plan to move forward? This broke fedora-easy-karma which is quite a complication for updates testing.

@abompard , are you the new bodhi maintainer? Can you look into this?

[2019-10-03 23:56] ryanlerch commented on #3515
All the update messages include the Update model, so if a release is defined for an update, it is typically included.

In fact, bodhi.update.status.testing (i.e. UpdateReadyForTestingV1) actually includes this information, this is the message that is returned by the test_models.py:test_set_status_testing test:

[code]

[2019-10-04 02:26] ryanlerch commented on #3515
AFAICT, the schema defines only the minimum items required in a message, but if the release info is something we want to require, i have opened #3532 to do just that.

[2019-10-04 06:37] tagoh opened #3533 "Unable to request the buildroot overrides for epel8 playground"
I was about to build mozc on EPEL8 which is a new package. and it requires gyp as the build deps which was missing. so I pushed gyp first and requested the buildroot overrides though, koji reported an error due to the missing deps in playground.
So I tried to request the buildroot overrides for gyp-0.1-0.33.fcd686f1git.epel8.playground.1 separetely but Bodhi says it is invalid build.

Can I simply

[2019-10-04 06:48] cverna commented on #2319
I think we can close this since all the related tasks have been done.

[2019-10-04 06:48] #2319 closed, assigned to nphilipp, cverna

[2019-10-04 07:12] mtasaka opened #3534 "override request with multiple package makes client crash"
[code]

[2019-10-07 08:28] Zlopez commented on #3288
#3526 is only implementing the Very Minimal implementation, so I will left this one open.

[2019-10-07 08:35] pypingou commented on #3288
Minimal as in: the user cannot choose which test should be re-run, they are all re-triggered.

[2019-10-07 16:19] mattiaverga commented on #3455
Can someone step up and fix this?
Also, new Fedora releases should be set up with `package_manager=dnf` and `testing_repository=updates-testing`, but F32 wasn't.

[2019-10-08 06:52] cverna commented on #2327
This is automatically done in https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/scripts/approve_testing.py

[2019-10-08 06:52] #2327 closed, assigned to nobody

[2019-10-08 06:52] cverna commented on #2326
This is automatically done in https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/scripts/approve_testing.py

[2019-10-08 06:52] #2326 closed, assigned to nobody

[2019-10-08 08:37] #3515 closed, assigned to ryanlerch

[2019-10-08 08:42] pypingou opened #3541 "Add support to bodhi's CLI to update packager_manager and testing_repository"
We have two fields in the Releases DB model: packager_manager and testing_repository but bodhi's CLI doesn't seem to support editing them.

It would be nice to gain some sort of way to edit these fields that do not rely on running raw SQL queries :)

[2019-10-08 08:43] pypingou commented on #3455
I've updated the DB for Fedora's releases to support this and opened https://github.com/fedora-infra/bodhi/issues/3541 to allow doing this without messing with the DB itself.

[2019-10-08 08:43] #3455 closed, assigned to nobody

[2019-10-08 08:48] pypingou commented on #3541
Note this is valid for creating as well as editing the release.

[2019-10-08 10:02] subhamkrai commented on #3065
@sebwoj hi I'm new to fedora and I would like to work on this and start contributing.

[2019-10-08 10:02] cverna commented on #3065
@subhamkrai ticket is now assigned to you :-)

[2019-10-08 10:04] subhamkrai commented on #3065
@cverna thank you.

[2019-10-08 13:48] #3529 closed, assigned to ryanlerch

[2019-10-08 15:38] mattiaverga commented on #3541
I remember that when I added those two fields I had successfully tested editing the release with `bodhi releases edit` command.
For example `bodhi releases edit --name F31 --package-manager dnf --testing-repository updates-testing` should work.

I suppose I forgot to add those options in the documentation under the `edit` subcommand (I've only added them to the `create` subcommand)

[2019-10-08 15:43] pypingou commented on #3541
So with ``python3-bodhi-client-4.0.2-2.fc30.noarch`` installed, I do not see these options when I do: ``bodhi releases create --help`` or ``bodhi releases edit --help``.

Is my version too old?

[2019-10-08 15:47] mattiaverga commented on #3541
If I remember well, they were introduced in Bodhi 4.1

[2019-10-09 03:05] #3502 closed, assigned to nobody

[2019-10-09 07:37] pypingou commented on #3541
Checking the code in git, I see the options in the `--help` of `edit` and `create`.
I'm just approved your PR (#3542) once it's in I think we can close this ticket.

Thanks!

[2019-10-09 09:21] #3497 closed, assigned to ryanlerch

[2019-10-09 12:36] ryanlerch opened #3545 "500 error on some updates"
when looking at some updates in the develop branch, you get a 500 error like this:

500 Internal Server Error
Traceback (most recent call last): File "/usr/local/lib/python3.7/site-packages/pyramid_mako/__init__.py", line 148, in __call__ result = template.render_unicode(**system) File "/usr/local/lib/python3.7/site-packages/mako/template.py", line 482, in render_unicode self, self.callable_, args

[2019-10-09 21:13] #3545 closed, assigned to ryanlerch

[2019-10-10 01:19] #3312 closed, assigned to nobody

[2019-10-10 15:26] mattiaverga commented on #2706
This should be fixed with #3539

[2019-10-11 10:39] abompard opened #3562 "The release notes are a pain to write"
Before cutting a release, composing the release notes from all individual commits and PRs is a pain. It could be solved by the introduction of a tool like [towncrier](https://github.com/hawkowl/towncrier/).

[2019-10-14 08:22] pypingou commented on #2322
I think https://docs.fedoraproject.org/en-US/packaging-guidelines/ may be a good place for this

[2019-10-14 08:26] pypingou commented on #2322
or https://fedoraproject.org/wiki/Package_update_HOWTO ?

[2019-10-14 08:27] pypingou commented on #2322
Which relates to: https://fedoraproject.org/wiki/Package_maintenance_guide

[2019-10-14 14:37] j-s-3 commented on #3350
This is causing issues for lots of our users and customers. Is there any intention to fix this?

[2019-10-15 01:21] ryanlerch opened #3567 "Public profile overrides list not working"
The overrides list on a user's public profile (e.g. https://bodhi.stg.fedoraproject.org/users/pingou ) is not loading properly, with the js call returning a 500 error:

500 Internal Server Error
Traceback (most recent call last): File "/usr/lib/python3.7/site-packages/pyramid_mako/__init__.py", line 148, in __call__ result = template.render_unicode(**system) File "/usr/lib/python3.7/site-packages/

[2019-10-15 14:17] Zlopez commented on #3284
This is a part of https://github.com/fedora-infra/bodhi/issues/3288 and https://github.com/fedora-infra/bodhi/issues/3287 now. So I'm closing this.

[2019-10-15 14:17] #3284 closed, assigned to nobody

[2019-10-15 14:17] Zlopez commented on #3285
This is a part of https://github.com/fedora-infra/bodhi/issues/3288 and https://github.com/fedora-infra/bodhi/issues/3287 now. So I'm closing this.

[2019-10-15 14:17] #3285 closed, assigned to nobody

[2019-10-15 14:17] Zlopez commented on #3286
This is a part of https://github.com/fedora-infra/bodhi/issues/3288 and https://github.com/fedora-infra/bodhi/issues/3287 now. So I'm closing this.

[2019-10-15 14:17] #3286 closed, assigned to nobody

[2019-10-15 23:47] #3567 closed, assigned to ryanlerch

[2019-10-15 23:51] ryanlerch commented on #232
In bodhi 5.0 we now have searching an filtering in the updates list page (rather than just in to quick global search thing), and this does stay when navigating backwards.

See the following PR for more details on this one:
https://github.com/fedora-infra/bodhi/pull/3511

[2019-10-15 23:51] #232 closed

[2019-10-16 03:59] ryanlerch commented on #3456
The release is now included in the schema for updates:

https://github.com/fedora-infra/bodhi/pull/3532

[2019-10-16 03:59] #3456 closed, assigned to nobody

[2019-10-16 09:15] nphilipp commented on #2322
The Package update HOWTO looks like a better place than the packaging guidelines which really don't concern themselves with package updates.

To scope this, I propose the following:

## Acceptance Criteria

This is considered done when the [Package update HOWTO](https://fedoraproject.org/wiki/Package_update_HOWTO) documents that/how:

(for single package builds)
- builds of packages without gating

[2019-10-16 13:46] nphilipp opened #3573 "Migrate Package Update HOWTO from Fedora Wiki to Fedora Docs"
As a contributor to Bodhi documentation,

I'd like the documentation describing the [Bodhi update process](https://fedoraproject.org/wiki/Package_update_HOWTO) to be migrated to the [Fedora Documentation site](https://pagure.io/fedora-docs/),

so that proposed changes can be reviewed before being published.

## Background

Currently, this documentation is in the wiki which makes reviewing changes

[2019-10-16 15:21] Zlopez commented on #3506
I tested this today and the stable days value is already set to mandatory days in testing, so I'm closing this one.

[2019-10-16 15:21] #3506 closed, assigned to Zlopez

[2019-10-16 15:25] nphilipp commented on #2322
I've made a (temporary) [copy](https://fedoraproject.org/w/index.php?title=User:Nphilipp/Package_update_HOWTO) of the original Wiki page for review purposes, and described single build package gating in there ([diff](https://fedoraproject.org/w/index.php?title=User:Nphilipp/Package_update_HOWTO&diff=555150&oldid=555147)).

[2019-10-17 02:56] ryanlerch commented on #2103
this seems resolved. closing as not an issue.

feel free to reopen if needed

[2019-10-17 02:56] #2103 closed, assigned to nobody

[2019-10-17 03:03] #3039 closed, assigned to nobody

[2019-10-17 03:12] ryanlerch commented on #3508
@M4rtinK do you have any more information on which bug you were trying to remove here?

I just tried with the new new update form on bodhi.stg.fedoraproject.,org, and removing bugs seems to work there.

Have you encountered this issue in the past? or was this just a one-off?

[2019-10-17 08:36] cverna opened #3576 "Trying to edit an update that was created before the 5.0 release makes bodhi crash."
In staging while trying to edit an old update via the UI, bodhi returns a 500.

[code]

[2019-10-17 08:44] #3562 closed, assigned to abompard

[2019-10-17 14:47] mohanboddu commented on #3495
And sometimes these empty updates are requested to push to testing, for ex:

https://bodhi.fedoraproject.org/updates/FEDORA-2019-12ed3b8473

And this causes bodhi to fail the push, temporary fix for this is to set the update's request status to `None` in the db

[code]

[2019-10-17 15:15] mohanboddu commented on #3471
I was supposed to comment here, but couldn't find the ticket:

https://github.com/fedora-infra/bodhi/issues/3495#issuecomment-543210296

[2019-10-18 00:39] ryanlerch commented on #3576
It looks like (for some reason), this build does not have a release object associated with it -- which is causing the crash here.

Looks like the config not being setup properly in staging for f32 may have caused this. Is this something i should account for in the template? or just put it down to staging somehow getting into this weird state.

[2019-10-18 01:02] ryanlerch opened #3583 "Convert bodhi/tests/server/test_validators.py to PyTest"
`bodhi/tests/server/test_validators.py` still contain classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows the use of the simpler assert constructs instead of the self.assert*() methods. Instead o

[2019-10-18 01:09] ryanlerch opened #3584 "Convert bodhi/tests/server/scripts/test_expire_overrides.py to PyTest"
[bodhi/tests/server/scripts/test_expire_overrides.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/scripts/test_expire_overrides.py) still contain classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or

[2019-10-18 01:15] ryanlerch opened #3585 "Convert bodhi/tests/server/scripts/test_clean_old_composes.py to PyTest"
[bodhi/tests/server/scripts/test_clean_old_composes.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/scripts/test_clean_old_composes.py) still contain classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test databas

[2019-10-18 01:22] ryanlerch opened #3586 "Convert bodhi/tests/server/scripts/test_bshell.py to PyTest"
[bodhi/tests/server/scripts/test_bshell.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/scripts/test_bshell.py) still contain classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This als

[2019-10-18 01:25] ryanlerch commented on #3357
@Pac23 @Navneet78 I have started creating a little project for this issue, breaking down each file that needs to be changed into it's own issue.

Feel free to check out the project here, and grab one of these if you are still interested:

https://github.com/fedora-infra/bodhi/projects/7

[2019-10-18 01:27] ryanlerch opened #3587 "Convert bodhi/tests/server/scripts/test_initializedb.py to PyTest"
[bodhi/tests/server/scripts/test_initializedb.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/scripts/test_initializedb.py) still contain classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI ap

[2019-10-18 01:53] ryanlerch opened #3588 "Convert bodhi/tests/server/test_util.py to PyTest"
[bodhi/tests/server/test_util.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_util.py) still contain classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows the use of

[2019-10-18 01:55] ryanlerch opened #3589 "Convert bodhi/tests/server/tasks/test_updates.py to PyTest"
[bodhi/tests/server/tasks/test_updates.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/tasks/test_updates.py) still contain classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also

[2019-10-18 02:01] ryanlerch opened #3590 "Convert bodhi/tests/server/tasks/test_composer.py to PyTest"
[bodhi/tests/server/tasks/test_composer.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/tasks/test_composer.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This al

[2019-10-18 02:04] ryanlerch opened #3591 "Convert bodhi/tests/server/test___init__.py to PyTest"
[bodhi/tests/server/test___init__.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test___init__.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows th

[2019-10-18 02:06] ryanlerch opened #3592 "Convert bodhi/tests/server/test_models.py to PyTest"
[bodhi/tests/server/test_models.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_models.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows the us

[2019-10-18 02:13] ryanlerch opened #3593 "Convert bodhi/tests/server/test_config.py to PyTest"
[bodhi/tests/server/test_config.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_config.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows the us

[2019-10-18 03:42] ryanlerch opened #3594 "Convert bodhi/tests/server/test_webapp.py to PyTest"
[bodhi/tests/server/test_webapp.py](https://github.com/fedora-infra/bodhi/tests/server/test_webapp.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows the use of the simpler as

[2019-10-18 03:43] ryanlerch opened #3595 "Convert bodhi/tests/server/test_buildsys.py to PyTest"
[bodhi/tests/server/test_buildsys.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_buildsys.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows th

[2019-10-18 03:45] ryanlerch opened #3596 "Convert bodhi/tests/server/test_schemas.py to PyTest"
[bodhi/tests/server/test_schemas.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_schemas.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows the

[2019-10-18 03:45] ryanlerch opened #3597 "Convert bodhi/tests/server/test_renderers.py to PyTest"
[bodhi/tests/server/test_renderers.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_renderers.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows

[2019-10-18 03:47] ryanlerch opened #3598 "Convert bodhi/tests/server/test_security.py to PyTest"
[bodhi/tests/server/test_security.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_security.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows th

[2019-10-18 03:48] ryanlerch opened #3599 "Convert bodhi/tests/server/test_alembic.py to PyTest"
[bodhi/tests/server/test_alembic.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_alembic.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows the

[2019-10-18 03:49] ryanlerch opened #3600 "Convert bodhi/tests/server/test_logging.py to PyTest"
[bodhi/tests/server/test_logging.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_logging.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows the

[2019-10-18 03:55] ryanlerch opened #3601 "Convert bodhi/tests/server/test_mail.py to BaseTestCase"
[bodhi/tests/server/test_mail.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_mail.py) still contain classes that derive from unittest.TestCase. We use pytest, so they could be migrated to derive from bodhi.tests.server.base.BaseTestCase.

This also allows the use of the simpler assert constructs instead of the self.assert*() methods.

The following PR is an example

[2019-10-18 04:05] ryanlerch opened #3602 "Convert bodhi/tests/messages/schemas/test_buildroot_override.py to PyTest"
[bodhi/tests/messages/schemas/test_buildroot_override.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/messages/schemas/test_buildroot_override.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test da

[2019-10-18 04:06] ryanlerch opened #3603 "Convert bodhi/tests/messages/schemas/test_compose.py to PyTest"
[bodhi/tests/messages/schemas/test_compose.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/messages/schemas/test_compose.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

T

[2019-10-18 04:06] ryanlerch opened #3604 "Convert bodhi/tests/messages/schemas/test_base.py to PyTest"
[bodhi/tests/messages/schemas/test_base.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/messages/schemas/test_base.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This al

[2019-10-18 04:11] ryanlerch opened #3605 "Convert bodhi/tests/messages/schemas/test_update.py to BaseTestCase"
[bodhi/tests/messages/schemas/test_update.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/messages/schemas/test_update.py) still contains classes that derive from unittest.TestCase. We use pytest, so they could be migrated to derive from bodhi.tests.server.base.BaseTestCase.

This also allows the use of the simpler assert constructs instead of the self.assert*() methods.

The fo

[2019-10-18 04:14] ryanlerch opened #3606 "Convert bodhi/tests/server/test_bugs.py to BaseTestCase"
[bodhi/tests/server/test_bugs.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/server/test_bugs.py) still contains classes that derive from unittest.TestCase. We use pytest, so they could be migrated to derive from bodhi.tests.server.base.BaseTestCase.

This also allows the use of the simpler assert constructs instead of the self.assert*() methods.

The following PR is an example

[2019-10-18 04:14] ryanlerch commented on #3606
Fixed in #3574

[2019-10-18 04:14] #3606 closed, assigned to nobody

[2019-10-18 04:24] ryanlerch opened #3607 "Convert bodhi/tests/messages/schemas/test_errata.py to PyTest"
[bodhi/tests/messages/schemas/test_errata.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/messages/schemas/test_errata.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

Thi

[2019-10-18 04:25] ryanlerch opened #3608 "Convert bodhi/tests/client/test_bindings.py to PyTest"
[bodhi/tests/client/test_bindings.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/client/test_bindings.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows th

[2019-10-18 04:26] ryanlerch opened #3609 "Convert bodhi/tests/client/test___init__.py to PyTest"
[bodhi/tests/client/test___init__.py](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/tests/client/test___init__.py) still contains classes that derive from `unittest.TestCase`. We use PyTest, so they could be migrated to not derive from `unittest.TestCase`, or derive from `bodhi.tests.server.base.BasePyTestCase` in case they need to use the test database or WSGI app.

This also allows th

[2019-10-18 07:49] #3192 closed, assigned to ryanlerch

[2019-10-18 08:02] keszybz commented on #3192
Wow, thanks!

[2019-10-18 11:18] nphilipp commented on #3357
@abompard @ryanlerch

BTW, `bodhi.tests.server.base.BaseTestCase` is the legacy class derived from `unittest.TestCase`, we want stuff to be converted over to `BasePyTestCase` instead—both these classes incorporate `BaseTestCaseMixin` which contains the meat, i.e. the database session with test data in it, and the WSGI TestApp where we can test exposed web API. At some point, when everything has be

[2019-10-18 11:26] nphilipp commented on #3357
@abompard @ryanlerch

And BTW², only test classes previously derived from `BaseTestCase`, i.e. which need the infrastructure (populated DB, test WSGI app), should be migrated over to `BasePyTestCase`. Test classes which are directly derived from `unittest.TestCase` should simply not derive from that and be ported over to the PyTest class API (e.g. `setup_method()` rather than `setUp()` and so fort

[2019-10-18 13:27] dimitraz commented on #3593
I'm happy to do this one

[2019-10-18 14:12] craicoverflow commented on #3588
/assign @craicoverflow

[2019-10-18 14:15] R-Lawton commented on #3586
Rachel Lawton

[2019-10-18 14:15] Fan commented on #3599
I'll take this one.

[2019-10-18 14:40] StephenCoady commented on #3585
I will take this one :)

[2019-10-18 15:16] mattiaverga commented on #3608
Shall I work on this?

[2019-10-18 16:57] mattiaverga commented on #3609
I can take this one

[2019-10-21 06:41] mattiaverga opened #3620 "Unable to de-select side tag in the new update form"
After having selected a side tag in the new update form, there's no way to de-select it:
![Screenshot_20191021_083851](https://user-images.githubusercontent.com/17218209/67182025-7c95eb80-f3de-11e9-9f11-8aa2ed67aacd.png)

[2019-10-21 07:39] mattiaverga commented on #3589
I'll take this one

[2019-10-21 07:58] #3594 closed, assigned to ryanlerch

[2019-10-21 07:58] #3595 closed, assigned to ryanlerch

[2019-10-21 07:58] #3597 closed, assigned to ryanlerch

[2019-10-21 07:58] #3600 closed, assigned to ryanlerch

[2019-10-21 07:58] #3598 closed, assigned to ryanlerch

[2019-10-21 08:36] ryanlerch commented on #3620
In normal use, not sure how often someone will choose a side-tag, then decide that they want to go back to regular builds manually added.

If there are two side-tags the user can sawp between them, but at the moment, can't go back to regular build adding mode (without just reloading the page)

I'll check how hard it is to roll back out of sidetag mode here, but adding low priority.

[2019-10-21 09:54] cverna opened #3625 "Update.pushed needs to be set to True in the signed consumer when an update is moved to testing."
A rawhide update is moved from pending to testing in the signed consumer, when moving the update the update.pushed is not set which then makes it impossible to unpush an update from the UI.

[2019-10-21 09:57] cverna opened #3626 "signing and testing pending side tag defaults should be consitent with other tags."
Currently the default for the testing side tags and pending signing side tags are `-testing` and `-pending-signing`. In order to stay consistent with the single build update these default should be `-testing-pending` and `-signing-pending`

[2019-10-21 15:26] pypingou opened #3627 "Add autosign perm to the *-testing-pending tags"
In the multi-builds gating workflow, we create ``*-testing-pending`` tags based on the user's inputted side-tag.
The builds are meant to lend in this tag once they are signed by robosignatory, however this one does not have the permission to do it.

So we'll need to add permission to autosign in these tags as we create them.

[2019-10-22 13:21] StephenCoady commented on #3625
@cverna @pypingou I think I have added the change necessary locally. Could one of you guys give me permission to assign tickets, please? Pushing branch now and will create a PR shortly.

[2019-10-22 16:19] #3601 closed, assigned to ryanlerch

[2019-10-22 17:16] #3583 closed, assigned to nphilipp

[2019-10-22 18:16] #3368 closed, assigned to abompard

[2019-10-23 04:36] #3585 closed, assigned to StephenCoady

[2019-10-23 14:07] #3609 closed, assigned to mattiaverga

[2019-10-23 15:41] #3514 closed, assigned to cverna

[2019-10-23 17:23] cverna opened #3636 "Install LGTM app to the bodhi repo to reports on PR"
LGTM provides a report on code quality see https://lgtm.com/projects/g/fedora-infra/bodhi

We could add the LGTM application to the project settings so that we get a report for each PR.

[2019-10-23 18:09] #3626 closed, assigned to pypingou

[2019-10-23 18:09] #3627 closed, assigned to pypingou

[2019-10-24 07:48] cverna opened #3638 "Use Black to autoformat the code"
Let's use Black to autoformat the code and make sure we have a consistent code style.

[2019-10-24 08:00] Zlopez commented on #3638
Should we force this, or just check it in CI?

[2019-10-24 08:19] #3471 closed, assigned to nobody

[2019-10-24 08:44] nphilipp opened #3640 "UI: update name field too prominent"
In the new update form on bodhi.stg, the update name field comes first which is a bit unexpected. I'm not sure about everybody else, but I usually put in the builds first, then the description, then type, severity, bugs, etc.

[2019-10-24 09:02] nphilipp opened #3641 "Split up DB models module"
## Story

As a developer contributing to Bodhi,

I'd like the `bodhi/server/models.py` module to be converted into a package, with one module per DB model class (group) and its tests split up likewise,

so that it's easier to work with.

## Background

Currently, `models.py` is by far our largest Python module, with a size of 180kB and almost 4700 lines. It contains 21 database model classes, alon

[2019-10-24 09:09] nphilipp opened #3642 "UI: updates from side tags should be marked as such"
It's hard to find out whether or not an update was created from a side tag or individual builds, you seem to have to edit it. This fact could e.g. be mentioned in the side bar for logged in users.

[2019-10-24 09:11] nphilipp commented on #3638
As discussed, if we want to convert the whole code base, let's have several PRs for (manageable) chunks of the codebase.

[2019-10-24 11:04] abompard commented on #3638
Ah discussed during the standup, I think we can follow these steps:
- Add the Black config and set it up in CI, as non-required. Update the developer docs.
- Migrate portions of the code in PRs that only consist of the black run, and no other functional changes
- check for errors in regexps and concatenated strings (at least) before merging
- when all the code is migrated, make the CI test mandato

[2019-10-24 15:35] abompard commented on #3638
Another thing to consider: moving to black will cause conflicts in pretty much every existing pull request. They should be solvable by running black and rebasing, though, but it'll be a bit of a pain.
So I think it's better to do is when there are as few open PRs as possible.

[2019-10-24 15:38] hroncok opened #3646 "Push to Stable: 'NoneType' object is not subscriptable"
1. go to https://bodhi.stg.fedoraproject.org/updates/FEDORA-2019-9ae6540f19 (and log in if you aren't)
 2. in the top rigth corner, roll down the menu that says "testing -> stable"
 3. click "Push to Stable" (why is that option even present?)
 4. error popup rolls from the lower right corner, saying: 'NoneType' object is not subscriptable

![_](https://user-images.githubusercontent.com/2401856/675

[2019-10-24 15:43] hroncok opened #3647 "Required Taskotron checks should give me a list of options"
When I enter new update via https://bodhi.stg.fedoraproject.org/updates/new it let's me select taskotorn checks that are required. But I need to type them to a free text form. It should give me options instead.

[2019-10-24 15:44] hroncok opened #3648 "New update should not offer builds from another release after selecting the first build"
When I enter new update via https://bodhi.stg.fedoraproject.org/updates/new it offers me a list of builds to pick from. When I pick first, it should only offer me builds from the same release, as mixed updates are not possible.

[2019-10-24 15:45] hroncok opened #3649 "New update should not offer builds that already have their updates"
When I enter new update via https://bodhi.stg.fedoraproject.org/updates/new it offers me a list of builds to pick from. It includes builds that already have their updates. Only to error upon submitting.

[2019-10-24 15:52] hroncok opened #3650 "RFE: Add security.txt"
Could you please add a [security.txt](https://securitytxt.org) to bodhi.fp.o, so I could easily find out how to report security vulnerabilities?

[2019-10-24 19:38] #3589 closed, assigned to nobody

[2019-10-25 00:51] ryanlerch commented on #3648
Bodhi actually has a feature here that if submitting a new update, if you list builds from multiple releases, it creates multiple updates for each release.

[2019-10-25 00:56] ryanlerch commented on #3649
The builds list could definitely do with a little more pre-validation here too. In addition to builds that already have updates, checking acls so we only list candidate builds that you can submit updates for would also be good.

Tagged this as RFE, as this is not a regression (in the old form, all the checking was done after submitting the form as well.)

[2019-10-25 07:14] cverna opened #3651 "Cannot remove builds in the new UI from"
When creating a new update and selecting the side tag option to populate the build list, the UI does not let me remove builds or change my choice to use a side tag.

I think the user should be able to clear the list of builds in order to restart from scratch.

[2019-10-25 08:04] hroncok commented on #3648
Ohooo. That's super cool and super nonobvious. Maybe display an info box about this when user selects more releases?

[2019-10-25 08:06] hroncok commented on #3649
It lists a lot of epel 6 updates. Does it at least filter by candidate tags, as before? It's hard to tell on staging.

Also,previously, this was 2 phases: pkgname, build. It reduced the amount a lot.

[2019-10-25 08:26] mattiaverga opened #3652 "Searchbar results hided by masthead"
Masthead has z-index:999 set, so search results are hided behind it:
![immagine](https://user-images.githubusercontent.com/17218209/67555611-e9c4bc00-f711-11e9-942a-54d6906b35b1.png)

[2019-10-25 08:29] hroncok commented on #3646
Also

https://bodhi.stg.fedoraproject.org/updates/FEDORA-EPEL-2019-641c235213 -> click edit ->

[code]

![_](https://user-images.githubusercontent.com/2401856/67555777-3f00cd80-f712-11e9-9b8a-a9909673812e.png)

[2019-10-25 08:45] mattiaverga opened #3653 "Updates in stable are still pushable back to testing"
Related to #3451
In bodhi.stg updates in F31 stable are still pushable back to testing:
![immagine](https://user-images.githubusercontent.com/17218209/67557042-91db8480-f714-11e9-97e7-528183ef453e.png)

[2019-10-25 15:21] nphilipp opened #3656 "Bodhi tags side-tag builds into f32-signing-pending"
See https://koji.stg.fedoraproject.org/koji/buildinfo?buildID=1230137 which currently has this tag history:

[code]

[2019-10-27 10:00] subhamkrai commented on #3186
@sebwoj can I work on this issue?

[2019-10-28 02:18] ryanlerch commented on #3653
this is showing because this update is not marked as "pushed". This is fixed so all automatic updates going forward will be marked as pushed. Yeah, not sure how to fix the old ones in the database (or if we want to bother too)

I noted this in #3462 the PR that resolves #3451

[2019-10-28 02:23] ryanlerch commented on #3651
#3620 covers the not being able to go back to normal builds mode, but not sure how common this will be in actual use to be honest.

WRT removing / editing builds of a side tag, this is not possible really. there is the option to load new builds from a sidetag, but manual editing is not really a thing with sidetags, right? you just get the builds in the tag. on koji.