[2018-07-20 08:23] lruzicka commented on #2489
It seems I was logged into my private profile, but I wanted to file the issue under this account. Thanks.

[2018-07-20 15:42] mattiaverga commented on #2474
Shall I work on this?
I think to disable karma radio buttons and to display a warning if the user is not logged in, like this mockup:
![screenshot_20180720_173515](https://user-images.githubusercontent.com/17218209/43011467-d5a49658-8c43-11e8-8c0b-05b3423822d8.png)
I think it could be useful to keep the possibility for anonymous users to vote on bugs and testcases, so I would not disable the other

[2018-07-20 17:30] jsoref commented on #2474
So... That might be the right overall approach.

Minor UX problem: there's nothing obvious in that last item indicating that it *is* / *represents* karma. Or put another way, how are the other +1 / -1's not karma?

I think that changing:
"Is the update generally functional?"

to:
"Is the update generally functional? (karma)"
would address that.

[2018-07-23 14:33] bowlofeggs commented on #2433
On 07/18/2018 12:15 PM, Vismay Golwala wrote:

For the purposes of this issue I don't think we need to make the web UI
show critical path packages. If someone really wants that they can add
it later in a separate patch, but I expect that nobody will want it.

[2018-07-23 14:35] bowlofeggs commented on #2433
On 07/18/2018 12:17 PM, Vismay Golwala wrote:

That would be a good thing to do, but I have two thoughts:

0. If we want to do this, we must do it now before I release 3.9.0,
because once that is released we won't be able to change it anymore.

1. We need to make sure it stays --username for bodhi-manage-releases to
maintain backwards compatibility.

[2018-07-23 14:42] bowlofeggs commented on #2487
Hello @jasontibbitts!

That does not sound good. Did this recently start happening? There hasn't been a Bodhi deployment in a while (perhaps 6-8 weeks iirc) so I'm a bit surprised if it just started.

In any case, we should fix this. Thanks for the report.

[2018-07-23 16:50] jasontibbitts commented on #2487
I only started seeing it relatively recently myself; within the past month, but to be honest I may not have had updates-testing enabled on this VM before that.  I did a search and found a report of something similar over two years ago: https://lists.fedoraproject.org/archives/list/epel-devel@lists.fedoraproject.org/message/SRELH2OH2KXJUINHT6QKGKW2OUABF75S/
But I can't say if the underlying cause i

[2018-07-23 17:59] jasontibbitts commented on #2487
I also note that old updates do seem to get pruned at some point and sometimes things are OK.  For example for the past couple of days, up to and including Sun, 22 Jul 2018 00:01:08 -0500, I got this once per hour:
[code]
Then it was quiet for a bit over a day.  And then this started showing up hourly beginning at Mon, 23 Jul 2018 01:01:18 -0500 and continues as I type this:
[code]
I suspect it wo

[2018-07-24 15:30] jasontibbitts commented on #2487
There was a mention on IRC today of something which might be related.  It seems that the metadata for updates is continuously updated, so that even old updates appear to be new:
[code]

[2018-07-24 20:48] bowlofeggs opened #2496 "bodhi releases should not prompt for password"
The newly added ```bodhi releases``` command group prompts the user for a password if ```--password``` is not used. The CLI will already prompt for a password if one is not given, so this is unnecessary and is actually burdensome when the user already has a cached session token.

[2018-07-25 22:50] #2496 closed, assigned to nobody

[2018-07-26 10:09] tyll opened #2508 "Feedback for bugs is not properly recorded"
I selected that the bug mentioned in https://bodhi.fedoraproject.org/updates/FEDORA-2018-1a22e606a6 was properly fixed but this is not shown in the comments or in he bug overview.

[2018-07-26 10:17] tyll opened #2509 "Submit comment/feedback button disappears when browser window is too small"
When the browser window is too small, the button to submit a comment disappears. Probably at about 640 pixel.

[2018-07-26 14:17] ghost commented on #2508
Same as #2456 . Fix will most probably be visible with the next release of Bodhi.

[2018-07-26 14:29] igor-raits opened #2510 "Can't submit modular update for F28 if it was built against F29"
[code]

This is the yaml I have built module from. tl;dr it means it builds on f29 and works on f28, f29, f30, …

When I try to submit an update, bodhi fails with message:
[code]

[2018-07-26 14:35] igor-raits commented on #2510
So this seems like bug in MBS or whatsoever but not in bodhi.

[2018-07-26 14:35] #2510 closed, assigned to nobody

[2018-07-26 18:42] bowlofeggs commented on #2508
Yeah this should have been fixed in #2456, and that patch is currently deployed at https://bodhi.stg.fedoraproject.org if you want to try it out.

[2018-07-26 18:42] #2508 closed, assigned to nobody

[2018-07-26 22:33] #2270 closed, assigned to nobody

[2018-07-26 22:33] #2363 closed, assigned to ralphbean

[2018-07-27 18:42] #2480 closed, assigned to bowlofeggs

[2018-07-28 12:27] gsauthof commented on #2150
As a new bodhi user, I'm also wondering how long a new package update is supposed to stay in status 'pending' - the UI doesn't really make it obvious if some pending sub-task still needs to finish or if the process just hangs. For example, the update I'm looking at still is in status pending after 17 hours.

[2018-07-28 16:11] abitrolly commented on #2150
Ideally it should show positions in the pipeline and link to the queue.

                  (you are here)
    [pending](3) --> [testing] -->  [stable]

`(3)` is the queue size.

[2018-07-30 14:32] bowlofeggs commented on #2150
The difficulty is that there isn't any running task when an update is pending. The update will remain in pending until a human release engineer runs an update push. We cannot know when this will happen so cannot give useful estimations in the UI.

For Fedora, release engineers usually run one push a day, but not necessarily at a consistent time of day.

[2018-07-31 17:44] bowlofeggs opened #2520 "Cannot edit an update that doesn't have bugs using the CLI without providing --bugs"
While testing the second 3.9.0 beta today, I found that I was unable to edit an existing update using the CLI when ```--bugs``` was not supplied:

[code]

On the server side, I found this traceback:

[code]

I am able to use the web UI to edit the same update without adding bugs to it.

[2018-07-31 18:11] bowlofeggs opened #2521 "When there are missing required tests, Bodhi's web UI doesn't tell you what they are"
While testing the 3.9.0 beta in staging today, I noticed that the new UI does not indicate which required tests are missing when there are missing tests. Under the "Test gating" section in the update page, it just says "1 of 2 required test results missing":

![screenshot from 2018-07-31 14-10-27](https://user-images.githubusercontent.com/354506/43478294-80d1ecda-94cb-11e8-8a5c-dadbf6113686.png)

[2018-07-31 18:42] bowlofeggs commented on #2521
Weird, I guess this is a duplicate of #2371. I swear I tried to search before filing this, and I also could have sworn I'd filed one before. Turns out I did.

[2018-07-31 18:42] #2521 closed, assigned to nobody

[2018-07-31 18:45] bowlofeggs commented on #2365
The update doesn't show which tests were waived when the tests were missing:

![screenshot from 2018-07-31 14-44-41](https://user-images.githubusercontent.com/354506/43480110-45a82944-94d0-11e8-8260-2f97c9d4cbda.png)

[2018-07-31 19:49] bowlofeggs opened #2522 "The masher fails to send e-mails"
It seems that the new e-mail templates do not get installed by setup.py, which causes a traceback when the masher tries to send e-mails:

[code]

Ideally setup.py would include the templates when installing the package.

Additionally, a missing template should probably result in a cleaner error message instead of this traceback.

[2018-07-31 20:34] bowlofeggs opened #2523 "The search bar does not work in staging"
I have so far been unable to reproduce the problem in the development environment, but I am unable to get the search bar to work in staging. It seems that the code in ```bodhi/server/static/js/search.js``` does not get executed on page load, but I do not know why yet.

[2018-07-31 21:49] vismay-golwala commented on #2523
@bowlofeggs : are you referring to the search bar [here](https://bodhi.stg.fedoraproject.org/)? That one's working for me.

[2018-07-31 22:01] ghost commented on #2522
@bowlofeggs: Are the config variables set appropriately? In the following error line

```Path does not exist: /usr/lib/python2.7/site-packages/bodhi/server/email/templates/maillist_templates/maillist_template.tpl```

there is one extra maillist_template in the path.

It might be because the ```config['mail.templates_basepath']``` is set to ```bodhi:server/email/templates/maillist_templates/``` ins

[2018-08-02 20:44] ghost commented on #1741
@bowlofeggs I would like to know if this issue still persists.

I tried to reproduce this issue by calling the ```approve_testing``` method using ```development.ini``` settings on a critical path update, however obtained appropriate comment for the update (14 days).

This issue was last seen in November 2017 in [this update](https://bodhi.fedoraproject.org/updates/FEDORA-2017-d9fb12e2aa). After th

[2018-08-06 15:29] ghost opened #2528 "Editing an update using CLI sets type to 'bugfix' if not provided"
While editing an update using CLI, if we don't provide the update type, it will modify it to ```bugfix```

So if we edit a ```security``` update,

```bodhi updates edit --severity low moin-1.9.9-1.el6```

update's type will be changed to ```bugfix```. I think [this](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/client/__init__.py#L96) might be the reason, as the default is shared betwee

[2018-08-07 15:41] bowlofeggs commented on #2523
@puiterwijk and I looked at this today while clipping along at 200 km/h. It seems that Bodhi has hardcoded the hostname ```hub.fedoraproject.org``` in its [live.js](https://github.com/fedora-infra/bodhi/blob/3.8.1/bodhi/server/static/js/live.js). The content security policy does not allow staging Bodhi to access production hub.fedoraproject.org. This happens during ```document.ready()```, which is

[2018-08-08 21:02] Ricky-Tigg opened #2531 "FAS – No confirmation sent to email"
After a **signing up** operation has been validated by _Fedora Account System_ (_FAS_) service, nothing is sent to the mentioned **email**, neither to **in-box**, nor _spam_. As a result **no password** can be set and therefore used to login.

[2018-08-08 21:25] #2531 closed, assigned to nobody

[2018-08-15 11:37] bowlofeggs commented on #2523
I believe this issue has existed for a while and is not a regression in 3.9.0. Thus, I am downgrading it to high priority and will not consider it to be a release blocker.

[2018-08-15 14:10] bowlofeggs opened #2536 "The bodhi releases subcommand could use a list feature"
The ```bodhi releases``` command menu has options for editing, creating, and displaying individual releases, but lacks the ability to list existing releases. We should add a list feature. It should probably default to only showing active and branched releases, and we should add flags to support displaying old releases.

[2018-08-15 17:08] bowlofeggs opened #2537 "BuildrootOverrides should not be allowed if the test gating status is failed"
We should add a check that disallows creating BROs if the test gating status is failed.

[2018-08-15 18:33] #2474 closed, assigned to nobody

[2018-08-15 20:50] #2509 closed, assigned to nobody

[2018-08-16 13:18] bowlofeggs opened #2539 "Bodhi logs a traceback when Greenwave returns a 404"
When I use the Bodhi CLI to query an update and it uses the Greenwave API, it logs a traceback if Greenwave returns a 404:

[code]

It's fine to log the 404, but it shouldn't be a traceback.

[2018-08-16 17:52] #2136 closed, assigned to nobody

[2018-08-16 18:29] #1902 closed, assigned to nobody

[2018-08-16 18:45] bowlofeggs commented on #2528
Was this not fixed by https://github.com/fedora-infra/bodhi/pull/2464 ? If not, was it caused by it? Is this a regression in 3.9, or was it present before?

[2018-08-16 21:02] ghost commented on #2528
@bowlofeggs: Neither. This bug is logically different from #2464. It was present before as there is a common default option in CLI for creating/editing update. I think a simple fix will be moving ```--type``` out of the common options [here](https://github.com/fedora-infra/bodhi/blob/develop/bodhi/client/__init__.py#L96). But it will move it to either top or bottom in the ```--help``` section.

[2018-08-17 18:43] #2475 closed, assigned to nobody

[2018-08-20 14:02] bowlofeggs commented on #2528
I have confirmed that this issue is present in Bodhi 3.8, so I will degrade its priority to high and will not consider it a 3.9 release blocker.

[2018-08-22 16:22] bowlofeggs commented on #2522
The problem seems to be that the ```bodhi/server/email``` folder is not packaged by ```setup.py``` and thus is not present on installed systems.

[2018-08-22 17:00] #2522 closed, assigned to bowlofeggs

[2018-08-22 17:22] #2520 closed, assigned to nobody

[2018-08-22 22:33] bowlofeggs opened #2545 "The "Waive Test Results" button is displayed when all test requirements are satisfied"
I waived an update in staging today, and after waiving it the UI still presented the "Waive Test Results" button even though Greenwave said all required tests pass.

[2018-08-23 01:40] dustymabe commented on #1304
do we know what the policy is for cleaning up old composes? i.e. is there some amount of time where they won't get cleaned up. Since we now produce atomic host artifacts in the bodhi runs we might need them to be around temporarily.

[2018-08-23 14:08] bowlofeggs commented on #1304
On 08/22/2018 09:40 PM, Dusty Mabe wrote:

I don't know of any policy around this, but Bodhi will keep 10 old
composes around when it does its clean up run.

[2018-08-23 14:12] dustymabe commented on #1304
I think that should work for us. If not it's pretty close and maybe I can ask to have it bumped up a few to like 12 or 14. Either way this should work for now.

[2018-08-23 14:12] dustymabe commented on #1304
thanks randy

[2018-08-24 00:21] #2030 closed, assigned to nobody

[2018-08-24 14:26] #2206 closed, assigned to nobody

[2018-08-24 17:14] bowlofeggs opened #2546 "Encoding error in bodhi.client.bindings.BodhiClient.update_str()"
Bastien Nocera [reported](https://bugzilla.redhat.com/show_bug.cgi?id=1585660) a traceback when creating an update that used the [‘](https://www.fileformat.info/info/unicode/char/2018/index.htm) character in the update text:

[code]

[2018-08-24 18:42] bowlofeggs opened #2550 "Add a ComposeState for waiting on the sync to mirrors"
We should add a new ComposeState() to get set when ```_wait_for_sync()``` is called in the composer.

[2018-08-24 18:53] #638 closed

[2018-08-24 18:54] bowlofeggs commented on #637
Update: We are very close to done with this. There are just a few lines that are missing test coverage under Python 3 now!

[2018-08-24 18:55] bowlofeggs commented on #610
It has been about 3 years, and during the two years I've worked on Bodhi I don't believe I have observed this problem. Thus, I will close. Feel free to re-open if you believe it is still an issue!

[2018-08-24 18:55] #610 closed

[2018-08-24 18:55] bowlofeggs commented on #602
It has been a long time since this was reported, and I have not observed this problem during my tenure.

[2018-08-24 18:55] #602 closed

[2018-08-24 18:56] bowlofeggs commented on #575
I have not observed this problem during my tenure on Bodhi, so I will close this for now. Feel free to reopen if you think it is still an issue.

[2018-08-24 18:56] #575 closed

[2018-08-24 18:57] #570 closed

[2018-08-24 18:57] #530 closed

[2018-08-24 18:58] bowlofeggs commented on #395
I have not observed this problem during my tenure on Bodhi, so I will close this. Feel free to reopen if you believe it is still an issue.

[2018-08-24 18:58] #395 closed

[2018-08-27 18:21] bowlofeggs opened #2553 "Add bodhi-sar"
I created a script for Fedora that gathers all the data Bodhi knows about a user account and prints it to stdout in JSON format:

https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/bodhi2/backend/files/bodhi_sar.py

It would be best to add this script to Bodhi upstream so that we can test and maintain it together with Bodhi, and so that other Bodhi deployments can respond to GDPR

[2018-08-27 18:22] bowlofeggs commented on #2553
We could also add an option to pretty-print the JSON.

[2018-08-27 19:28] bowlofeggs commented on #2370
@ralphbean Bodhi 3.9.0 was deployed to production today, and it seems that Greenwave is not reporting any test results on the handful of updates that I spot checked:

https://bodhi.fedoraproject.org/updates/FEDORA-2018-01a9c96b51
https://bodhi.fedoraproject.org/updates/FEDORA-2018-23703f460d
https://bodhi.fedoraproject.org/updates/FEDORA-2018-60fdb8b0aa

This seemed to work before - any idea what'

[2018-08-27 19:34] bowlofeggs opened #2554 "Bodhi no longer displays test results in production"
#2393 is now deployed to production. I've spot checked a few updates and they do not seem to display test results anymore:

https://bodhi.fedoraproject.org/updates/FEDORA-2018-01a9c96b51
https://bodhi.fedoraproject.org/updates/FEDORA-2018-23703f460d
https://bodhi.fedoraproject.org/updates/FEDORA-2018-60fdb8b0aa

[2018-08-27 19:34] bowlofeggs commented on #2370
I've filed a new issue about the above: https://github.com/fedora-infra/bodhi/issues/2554

[2018-08-27 19:35] bowlofeggs commented on #2554
CC @ralphbean

[2018-08-27 19:53] bowlofeggs commented on #2370
It seems that Greenwave is not giving us the data that Bodhi expects to receive:

[code]

[2018-08-27 19:56] bowlofeggs commented on #2554
I have filed https://pagure.io/greenwave/issue/287 to track this problem, which appears to be Greenwave not handing test results back to Bodhi:

[code]

[2018-08-27 20:22] bowlofeggs commented on #2554
Here is a screenshot of the issue:

![screenshot from 2018-08-27 16-22-41](https://user-images.githubusercontent.com/354506/44683861-7512c680-aa15-11e8-930d-10bbf106f105.png)

[2018-08-28 13:53] bowlofeggs opened #2555 "Bodhi should not allow retired releases to be composed"
Today composes for F26 (currently EOL) were accidentally run, which failed and required manual clean up. Bodhi should not allow composing retired releases.

[2018-08-28 13:55] ralphbean commented on #2554
See updates and conversation in [the greenwave issue](https://pagure.io/greenwave/issue/287).

[2018-08-28 16:48] bowlofeggs commented on #336
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:49] bowlofeggs commented on #1119
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:49] bowlofeggs commented on #1304
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:49] bowlofeggs commented on #1337
The patch for this issue was released with 3.9.0.

[2018-08-28 16:49] bowlofeggs commented on #2046
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:49] bowlofeggs commented on #2108
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:50] bowlofeggs commented on #2222
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:50] bowlofeggs commented on #2425
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:50] bowlofeggs commented on #2390
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:50] bowlofeggs commented on #2405
The patch for this issue was included in the 3.9.0 release.

[2018-08-28 16:51] bowlofeggs commented on #2419
This issue was fixed in the 3.9.0 release.

[2018-08-28 16:51] bowlofeggs commented on #1043
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:52] bowlofeggs commented on #1996
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:52] bowlofeggs commented on #2094
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:52] bowlofeggs commented on #2130
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:52] bowlofeggs commented on #2189
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:53] bowlofeggs commented on #2456
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:53] bowlofeggs commented on #2182
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:53] bowlofeggs commented on #2208
The CLI fix described above was released with 3.9.0.

[2018-08-28 16:53] bowlofeggs commented on #2214
3.9.0 was released.

[2018-08-28 16:54] bowlofeggs commented on #2258
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:54] bowlofeggs commented on #2314
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:54] bowlofeggs commented on #2374
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:54] bowlofeggs commented on #2387
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:54] bowlofeggs commented on #2396
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 16:54] bowlofeggs commented on #2431
The patch for this issue was deployed to Fedora's production Bodhi instance yesterday.

[2018-08-28 17:31] bowlofeggs commented on #2509
A fix for this issue is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 17:31] bowlofeggs commented on #2496
A fix for this issue is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 17:31] bowlofeggs commented on #1902
A fix for this issue is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 17:32] bowlofeggs commented on #2475
This feature is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 17:32] bowlofeggs commented on #2363
This feature is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 17:32] bowlofeggs commented on #2270
This feature is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 17:32] bowlofeggs commented on #2206
This feature is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 17:32] bowlofeggs commented on #2136
This feature is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 17:32] bowlofeggs commented on #2030
A fix for this issue is planned to be included in the upcoming 3.10.0 release: #2556.

[2018-08-28 18:50] ralphbean commented on #2554
Can this be closed @bowlofeggs?

[2018-08-28 18:57] bowlofeggs commented on #2554
Yes, this seems to be resolved in production now. Thanks!

[2018-08-28 18:57] #2554 closed, assigned to nobody

[2018-08-28 20:29] bowlofeggs opened #2557 "Docs do not build unless Bodhi is installed"
Bodhi 3.10.0b0 will not build in Koji due to the docs build needing bodhi-server to be installed:

[code]

This is due to the template loading code causing Python to try to find the bodhi-server distribution.

[2018-08-29 05:36] #2557 closed, assigned to bowlofeggs

[2018-08-29 15:58] bowlofeggs opened #2561 "Add a config option to turn off automatic cleaning of old composes"
A recent change in Fedora has started to create lots of root owned files in the composes, which causes the [compose to fail](https://pagure.io/fedora-infrastructure/issue/7194) when it tries to clean up old composes. Bodhi recently gained the ability to automatically clean these files, so it is sad, but we must disable the feature in Fedora.

In the interest of semantic versioning, we should add a

[2018-08-30 19:47] jasontibbitts opened #2564 "Announcements for new packages give instructions for upgrading"
Here's an example of a new package announcement: https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/3JSAB7PV64UL2D7BSKVB2ISP2DL4SSUT/

The instructions at the bottom are generic to all updates, but unfortunately don't work for new packages:

And if you try the obvious `dnf install` you'll find that it doesn't accept the `--advisory` option.  I'm not even

[2018-08-30 20:34] bowlofeggs opened #2565 "The web server recently gained a dependency on createrepo_c"
@nirik noticed that the Bodhi server did not start because it didn't have ```createrepo_c``` available to it. One of the patches that went into Bodhi 3.10.0 added a function to ```bodhi.server.util``` that uses ```createrepo_c```. That function is actually only used by the composer via ```bodhi.server.metadata```, and thus isn't really needed by the web server.

Rather than adding a new dependency

[2018-08-31 12:02] mattiaverga opened #2568 "Errors in testing in Vagrant environment"
Running `btest` on devel branch in a Vagrant environment fails while building docs (also `bdocs` fails):

    /home/vagrant/bodhi/docs/developer/docblocks/bodhi.server.models.rst:10:failed to import get_nvr

It seems that after recent changes the `bodhi.server.models.rst` file was not updated. I think there are some functions that need to be wiped out: get_nvr, greenwave_api_post, packagename_from

[2018-08-31 16:31] bowlofeggs commented on #2030
The fix for this issue has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-08-31 16:31] bowlofeggs commented on #2136
This feature has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-08-31 16:32] bowlofeggs commented on #2509
The fix for this issue has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-08-31 16:33] bowlofeggs commented on #2496
The fix for this issue is available in Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2018-08-31 16:33] bowlofeggs commented on #1902
The fix for this issue has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-08-31 16:34] bowlofeggs commented on #2561
This feature has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-08-31 16:34] bowlofeggs commented on #2475
This feature is available in Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2018-08-31 16:35] bowlofeggs commented on #2363
The fix for this issue has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-08-31 16:35] bowlofeggs commented on #2270
The fix for this issue has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-08-31 16:35] bowlofeggs commented on #2206
This feature has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-08-31 16:37] bowlofeggs commented on #2565
The fix for this issue has been deployed to Fedora's staging Bodhi instance:

https://bodhi.stg.fedoraproject.org/

[2018-09-02 16:04] tkdchen commented on #2401
May I ask is there any reason to call `setup` three times to create `bodhi`, `bodhi-client` and `bodhi-server` tarballs separately?

I'm also thinking of a new layout of source code in order to install bodhi-client and bodhi-server easily that could fix this issue. Initial idea is:

* client, server and bodhi common files move into separate subpackages with their own package files, e.g. `setup.py`

[2018-09-04 16:22] bowlofeggs opened #2569 "ReferenceError: req is not defined"
There is a regression introduced by #2394, where ```req``` is used instead of ```requirement``` [here](https://github.com/fedora-infra/bodhi/blob/4d1c284df55cc74fdc3d1ee4ff7ba6eabe9ea5a8/bodhi/server/templates/update.html#L69).

[2018-09-04 19:35] bowlofeggs opened #2571 "The waiver dialogue shows [object Object] instead of tests that will be waived"
The waiver dialogue is supposed to show a list of tests that it will waive. Instead, it shows """[object Object]" in place of the test names:

![screenshot from 2018-09-04 15-33-45](https://user-images.githubusercontent.com/354506/45053469-13c3a680-b058-11e8-82d6-d410ca7a2bfa.png)

[2018-09-04 19:37] jasontibbitts commented on #2564
Interestingly, the dnf documentation (in F28 and rawhide, at least) does say that --advisory works with install:

              Includes packages corresponding to the advisory ID, Eg. FEDORA-2201-123.  Applicable for install, repoquery, updateinfo,  and
              upgrade command.

But it certainly doesn't work for me.

[2018-09-04 22:20] bowlofeggs opened #2572 "RepodataException: Required part not in repomd.xml"
While testing a compose in staging, the new repo sanity check code was not satisfied with the repository that was generated by Pungi. At this time I am not sure what exactly was unsatisfactory, but this is the traceback I saw:

[code]

[2018-09-04 22:31] bowlofeggs commented on #2572
OK, this is strange. Despite this error, if I open a shell and run [```sanity_check_repodata()```](https://github.com/fedora-infra/bodhi/blob/eff7c339baef188deb63035bc90d394659ef866d/bodhi/server/util.py#L284-L342) by hand with the path of the repo that failed above, it passes just fine.

This leads me to suspect that something is not finished writing the files into the repo before ```sanity_check

[2018-09-06 07:38] mattiaverga commented on #2564
I think we could add a new email template with different instructions and use that if the update is a "new package" type.
Something like:
[code]
I've also filled a bug against dnf to see why the --advisory option doesn't work with install: https://bugzilla.redhat.com/show_bug.cgi?id=1625879

[2018-09-06 12:49] jasontibbitts commented on #2564
So it seems I was confused by the terseness of the dnf documentation.  When passing `--advisory` to `dnf install`, you still have to tell it which packages in that advisory you want it to install.  It's no difference between `dnf update` and `dnf install`; the latter will always require at least one package name, file or provided symbol.  If I do `dnf install --advisory FEDORA-2018-b7b99fe852 \*`

[2018-09-06 21:58] bowlofeggs commented on #2572
I attempted to add a ```gc.collect()``` call before the sanity check runs in the hopes that the garbage collector would clean up the open files, but it did not work around the problem.

It's late in the work day, but my next workaround idea is to find out what open files my process has in the compose directory (```/mnt/koji```) and close them explicitly before running the sanity check.

[2018-09-07 20:42] bowlofeggs commented on #2572
I met with @puiterwijk this morning to talk about this issue, and he noticed that the issue stems from checking the source repos which do not have all the same files as the RPM repos. For example, source repos do not have ```prestodelta``` data.

The fix will be to adjust the sanity check algorithm so that it doesn't expect some of the data to be present when it is checking a source repo.

[2018-09-10 22:30] AdamWill opened #2574 "Comment permalinks use the update URL with all the package names in it, which can be ridiculously long"
Go to https://bodhi.fedoraproject.org/updates/FEDORA-2018-85d637c544 . Observe the URL for the comment permalinks. Here's one:

    https://bodhi.fedoraproject.org/updates/abattis-cantarell-fonts-0.111-1.fc29%20adwaita-icon-theme-3.30.0-1.fc29%20aisleriot-3.22.6-1.fc29%20amtk-5.0.0-2.fc29%20anjuta-3.28.0-7.fc29%20at-spi2-atk-2.30.0-1.fc29%20at-spi2-core-2.30.0-2.fc29%20atk-2.30.0-1.fc29%20atomix-3

[2018-09-11 17:23] #2565 closed, assigned to bowlofeggs

[2018-09-11 17:48] #2569 closed, assigned to bowlofeggs

[2018-09-11 18:18] #2561 closed, assigned to bowlofeggs

[2018-09-11 21:46] bowlofeggs opened #2579 "bodhi-push will happily resume Composes that are not in a stopped state"
```bodhi-push``` does not prevent or warn users when they ask it to resume a compose that isn't in a stopped state (which I think would only include the ```failed``` state). This is bad because the backend will happily run two simultaneous composes if asked to do so.

We should make it error if the compose isn't in a stopped state, or at least warn. I lean towards erroring and refusing, but there

[2018-09-12 20:50] #2572 closed, assigned to bowlofeggs

[2018-09-13 18:02] bowlofeggs commented on #2431
This still occurs in other methods in ```bugs.py```. This email came in today:

Message
-------
[2018-09-13 17:51:46][     bodhi   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend01.phx2.fedoraproject.org
- PID:      31707
- name:     fedmsg-hub
- command:  /usr/bin/python2 /usr/bin/fedmsg-hub
- msg_id:

Callstack that lead to the logging statement
-------------------------

[2018-09-13 21:20] #2546 closed, assigned to nobody

[2018-09-13 23:02] bowlofeggs opened #2588 "TypeError: __init__() takes exactly 3 arguments upon 400 request for unknown release"
@nirik let me know about a traceback he saw in production today, which turns out to be easily reproducible in the dev environment as well. Simply visit http://localhost:6543/updates/?release=F20&type=security and you will see this in the logs:

[code]

[2018-09-17 17:22] bowlofeggs commented on #1563
UX-wise, we could give the CLI these commands to freeze and unfreeze F29 (for example):

[code]

Alternatively, we could just let the edit command flip a bool:

[code]

[2018-09-17 20:39] bowlofeggs commented on #2441
Ah yes, @mattiaverga makes a good point about removing that filter. I think we can close this issue.

[2018-09-17 20:39] #2441 closed, assigned to nobody

[2018-09-18 13:35] jeremycline opened #2606 "Switch to python3-sqlalchemy_schemadisplay in Rawhide"
I just built a Python 3 subpackage of sqlalchemy_schemadisplay. Once Bodhi switches to it I can retire the Python 2 version.

[2018-09-19 14:20] #2574 closed, assigned to nobody

[2018-09-19 22:33] bowlofeggs opened #2611 "Waiving an update should re-query Greenwave to update the test gating status"
SSIA.

[2018-09-25 19:00] mohanboddu opened #2615 "Bodhi tagging problem when multiple builds of same package are pushed"
Since bodhi moves builds between tags, it should also preserve the order of tagging.

For ex, there is a [issue](https://pagure.io/releng/issue/7836) filed with Fedora RelEng and I mentioned the problem in the [comment](https://pagure.io/releng/issue/7836#comment-532732).

If bodhi untags a build and then tags the build into another tag as part of bodhi push. It should check if there are multiple

[2018-09-26 04:47] bowlofeggs opened #2618 "Bodhi is not compatible with markdown-3.0.0"
The pip container tests have started to [fail](https://ci.centos.org/job/bodhi-bodhi-docs-pip/46/console) with the recent release of markdown-3.0.0:

[code]

The [release notes](https://python-markdown.github.io/change_log/release-3.0/) do not seem to reference this change at a quick glance, so more thorough analysis will be necessary.

[2018-09-26 15:34] heis2201 opened #2619 "Request for feature: It would be cool to be able to filter updates by type of update (bug, improvement, security...)"
It would be cool to be able to filter updates by type of update (bug, improvement, security...)

[2018-09-26 17:55] bowlofeggs commented on #2619
@heis2201 This is possible - if you visit https://bodhi.fedoraproject.org/ you can click on all the little icons in each release and they will filter that release and stage for bugs, enhancements, newpackages, and security updates. You can also hand edit the URLs they produce to form your own queries. The CLI is a little more powerful for searching than the web UI is here (since the web UI doesn't

[2018-09-26 18:51] heis2201 commented on #2619
Thanks for your quick reply.

adding ```&type=security``` does the trick.

[2018-09-26 18:51] #2619 closed, assigned to nobody

[2018-09-26 22:52] bowlofeggs opened #2621 "Bodhi is not compatible with click 7.0.0"
Quite a few unit tests [fail](https://ci.centos.org/job/bodhi-bodhi-unit-pip/63/console) with click 7.0.0. Some examples:

[code]

[code]

[2018-09-27 08:41] mattiaverga opened #2622 "Bugs list in 'new update' page"
The 'Related Bugs' list in the 'New Update' page doesn't work correctly, in my opinion.
For example, if you enter 'bodhi' in Packages, the bug list will show bodhi bugs; then if you change Packages to something else, the bug list will show bugs for the new package + bugs for the bodhi package; moreover, if you re-enter bodhi in Packages, the bug list now shows bodhi bugs twice.

I think the 'New U

[2018-09-27 15:42] mattiaverga commented on #2622
I made a few progress in https://github.com/mattiaverga/bodhi/tree/new_update if someone wants to take a look at it.
There are some aesthetic glitches and I need to make it remember flagged elements when the lists are rebuilt, but it seems to work for the most part. If I ever manage to reach the point of making a pull request, it will need a full review from an experienced javascript programmer.

[2018-09-28 18:29] #2618 closed, assigned to bowlofeggs

[2018-09-28 18:29] #2621 closed, assigned to bowlofeggs

[2018-09-28 20:28] bowlofeggs opened #2623 "bug_feedback includes feedback from existing comments when the web UI comments on updates"
While reviewing #2604 today I observed that adding a comment to an update that is associated with Bugzilla issues that already has other comments will include those comments in the ```bug_feedback``` parameter that is handed to the ```bodhi.server.models.Update.comment()``` method. This does not seem to happen when the CLI comments on these updates.

[2018-09-30 13:33] mattiaverga opened #2626 "latest_candidates broken?"
I've noticed that in the New Override form if I start typing in 'Candidate Build' field nothing happens.

While debugging with Firefox I see that the ajax request get a 500 Error:
https://bodhi.fedoraproject.org/latest_candidates?testing=true&package=TurboGears

while querying without the 'package' filter works, but it always gets an empty reply:
https://bodhi.fedoraproject.org/latest_candidates?t

[2018-10-02 02:39] bowlofeggs opened #2631 "sanity_check_repodata() fails on modular repos"
Production has been failing on modular repos with this exception:

[code]

I don't think this code was intended to be run on modular repos, so we should probably just fix it by making sure it only runs on yum repos.

[2018-10-02 02:44] bowlofeggs commented on #2631
I will hotfix production by adding this method to ```ModuleComposerThread```:

[code]

This will prevent the sanity check code from running on modular repos and will at least let the process finish. Then we can take out time to decide how/if we want to properly sanity check module repos.

[2018-10-02 17:29] bowlofeggs opened #2633 "Bodhi is unable to send e-mails using fedora_modular_errata_template"
Yesterday I re-enabled Bodhi's settings to send e-mails to the modular releases:

[code]

This caused the compose for F28M-stable to fail today:

[code]

```get_rpm_header()``` should not be used on modules.

[2018-10-02 18:47] bowlofeggs opened #2635 "Give bodhi-push a -y flag so that it can be run in cron"
We should give ```bodhi-push``` a -y flag that answers yes to the various questions so that it can be run in cron.

[2018-10-03 05:49] #2364 closed, assigned to bowlofeggs

[2018-10-03 13:08] #2489 closed, assigned to nobody

[2018-10-03 13:09] #2550 closed, assigned to nobody

[2018-10-03 13:29] puiterwijk commented on #2631
@bowlofeggs it *IS* intended to run on modular repos, they just need a slightly different set of required elements.

[2018-10-03 13:34] puiterwijk commented on #2631
The set of fields modular repos need in their repomd:

- primary
- filelists
- other
- modules
- updateinfo

[2018-10-06 11:21] sebwoj commented on #1734
@bowlofeggs since implementation changed( #2424 ), and script is deprecated, can we close this?

[2018-10-07 11:15] sebwoj commented on #2420
@bowlofeggs Since #2419 is closed, can remove bodhi-manage-releases?

[2018-10-08 04:19] bowlofeggs commented on #1734
@sebwoj Indeed, thanks!

[2018-10-08 04:19] #1734 closed, assigned to nobody

[2018-10-08 04:23] bowlofeggs commented on #2420
I'm not quite yet ready to make Bodhi 4.0.0, and so all issues marked backwards incompatible would not be good to merge just yet. I will probably make 4.0.0 this fall however. We can just keep this PR open until then.

[2018-10-08 06:27] sebwoj commented on #1957
Since #2417 is ready, can we close this?

[2018-10-08 08:36] cverna commented on #1957
Closing

[2018-10-08 08:40] cverna commented on #1957
Actually #2417 added paging only for overrides and updates, this might need to be added to the over commands

[2018-10-08 19:10] #2009 closed, assigned to nobody

[2018-10-08 19:53] #181 closed

[2018-10-08 20:44] bowlofeggs commented on #2631
I have now hotfixed production with the current contents of https://github.com/fedora-infra/bodhi/pull/2632. If it works, I will make a 3.10.1 release with it.

[2018-10-09 07:49] #2536 closed, assigned to nobody

[2018-10-09 14:13] bowlofeggs opened #2657 "Drop support for Fedora Tagger"
Bodhi has some support to integrate data from Fedora Tagger into its generated repositories. Fedora Tagger has been retired, so we can drop support in the next major Bodhi release.

[2018-10-09 16:50] bowlofeggs opened #2658 "Composing flatpaks does not work because they use a different repo name in Fedora"
@owtaylor and I tested a flatpak compose today in Bodhi's staging, and found that it fails to find the flatpak in the registry because it expects it to have the Fedora version prepended into the repository name:

[code]

The URL should not have had that ```f29/``` added before ```flatpak-runtime```, but that is hardcoded into Bodhi since containers have it.

@owtaylor suggested that we could use t

[2018-10-09 19:34] #2631 closed, assigned to bowlofeggs

[2018-10-14 10:55] sebwoj commented on #1981
@bowlofeggs could you try to open https://bodhi.fedoraproject.org/metrics once again?

[2018-10-14 13:43] mattiaverga commented on #2626
It was my error, I don't know where that `testing=true` filter came from...

[2018-10-14 13:43] #2626 closed, assigned to nobody

[2018-10-15 15:37] bowlofeggs commented on #1981
Hmm, it does seem to work. Thanks for checking!

[2018-10-15 15:37] #1981 closed, assigned to nobody

[2018-10-15 20:45] bowlofeggs commented on #2267
To clarify, this change should be done on the ```edit``` and ```query``` subcommands.

[2018-10-15 20:47] bowlofeggs commented on #2183
The value of critpath karma is under question in https://github.com/fedora-infra/bodhi/issues/2194, so this ticket may not be worth working on until we are sure we want to keep it.

However, if we do want to do this, it would be done in the ```bodhi updates comment``` subcommand.

[2018-10-15 20:51] bowlofeggs commented on #2568
Hi @mattiaverga!

I am unable to reproduce this issue. Does it still happen for you?

[2018-10-15 20:57] bowlofeggs commented on #2401
Yeah I've been thinking about changing this for a while. The way I'm using ```setup.py``` is certainly not the way it's intended to be used, and it does cause some issues as you've noted.

@tkdchen can you explain that second proposal a bit more? I'm not sure I follow.

Giving them each their own subpackage is reasonable I think.

[2018-10-15 21:00] bowlofeggs commented on #2177
Since ```bodhi-manage-releases``` is now deprecated, this should be done in ```bodhi releases edit/create``` instead.

[2018-10-15 21:02] bowlofeggs commented on #2177
Note that this one will be difficult to do because Bodhi uses multiple server processes, and they must all be notified to clear their caches when releases are edited or created. There isn't currently an infrastructure in place to do this.

[2018-10-16 09:49] puiterwijk commented on #2657
I believe that all the Tagger code was already removed as part of 33d1e733d88bc891e00bf9f0e09d471360253ab1 ?

[2018-10-16 14:29] bowlofeggs commented on #2264
This was implemented in https://github.com/fedora-infra/bodhi/pull/2468.

[2018-10-16 14:29] #2264 closed, assigned to nobody

[2018-10-16 15:49] mattiaverga commented on #2568
@bowlofeggs I had some old files still present locally, a cleaning with `git clean -xd` solved the problem. Sorry for the noise.

[2018-10-16 15:49] #2568 closed, assigned to nobody

[2018-10-16 19:37] sebwoj commented on #948
@bowlofeggs can we close issue?

[2018-10-18 21:09] bowlofeggs commented on #2657
Ha I'd forgotten about that. Thanks for remembering!

[2018-10-18 21:09] #2657 closed, assigned to nobody

[2018-10-18 21:18] bowlofeggs commented on #948
Ha, yep. I really need to go through Bodhi's giant pile of issues and clear out old stuff like this ☹

[2018-10-18 21:18] #948 closed, assigned to nobody

[2018-10-19 23:04] #2553 closed, assigned to nobody

[2018-10-22 07:44] tkdchen commented on #2401
@bowlofeggs The second one is to use setuptools `extras_require`. Personally, I prefer the first proposal.

[2018-10-23 17:05] #2545 closed, assigned to ryanlerch

[2018-10-23 17:05] #2571 closed, assigned to ryanlerch

[2018-10-23 20:32] egegunes commented on #1737
After a quick look, it seems fixed? I visited https://bodhi.stg.fedoraproject.org/updates/FEDORA-2017-5ce9d89b82/edit when I'm logged in and not logged in and got 403 both times.

[2018-10-23 22:56] bowlofeggs commented on #1737
@egegunes hmm, I just tried again and I still get a 400 when I am logged in and visit that page.

[2018-10-24 20:40] #251 closed

[2018-10-25 16:44] mattiaverga commented on #344
The commit I referenced above will be part of a PR which should implement some checks when a user manually add bug IDs in the new update form from the GUI. Unfortunately bugzilla doesn't send `Access-Control-Allow-Headers: *` header, so the jquery call to it actually fails (it can however be tested by using a browser addon like CorsE for Firefox which fakes CORS headers).
I've opened a request to

[2018-10-26 04:23] #2431 closed, assigned to nobody

[2018-10-27 00:27] steaksauce- commented on #1905
Any updates on this?

[2018-10-27 00:31] steaksauce- commented on #1741
Is there any update on this?

[2018-10-27 01:50] steaksauce- commented on #1737
@bowlofeggs I get a 403 in both scenarios as well.

Might be a bit of a hassle, but what happens if you create a new account and reproduce the steps? Maybe it has something to do with something with your account.

[2018-10-29 15:49] bowlofeggs commented on #1905
@steaksauce- no new information - the FESCo ticket is still in limbo so the batched feature is also in limbo.

[2018-10-29 15:51] bowlofeggs commented on #1741
@steaksauce- have you experienced this issue?

[2018-10-29 17:06] steaksauce- commented on #1741
@bowlofeggs nope, just being pushy :p

I saw @vismay-golwala 's response and thought maybe this is a non-issue anymore

[2018-10-30 15:47] bowlofeggs opened #2690 "Give bodhi-ci the ability to stand up a PostgreSQL server"
```bodhi-ci``` is currently oriented around running processes that self-terminate, not long running processes (like PostgreSQL). In order to test the Bodhi server's integration, one of the most basic requirements is having a running PostgresSQL server that is configured with a database that the Bodhi server can use.

Here are some ideas of how it might work:

* A new command should be added to ```

[2018-10-30 15:57] bowlofeggs opened #2691 "bodhi-ci should be able to stand up a Bodhi server"
```bodhi-ci integration``` (or whatever the command ends up being called once #2690 is done) should start a Bodhi server after it starts the PostgreSQL server. Some thoughts:

* Currently, ```bodhi-ci``` uses a ```Dockerfile``` per "release" that it tests (I put release in quotes because one of them is called "pip", which isn't itself a Fedora release). These ```Dockerfile```s are oriented towards

[2018-10-30 16:14] bowlofeggs opened #2692 "Create an integration test suite"
We need an integration test suite that tests a live Bodhi server. For the purposes of this ticket, we can say "mission accompllished" if there exists a new test suite that imports ```bodhi.client.bindings```, and uses those bindings to perform a simple ```GET``` request against a live Bodhi server, asserting that the results are correct.

[2018-10-30 16:19] bowlofeggs opened #2693 "bodhi-ci should be able to run the integration test suite against the bodhi server it starts"
Once we have an integration test suite, ```bodhi-ci integration test``` (or whatever it ends up being called in #2690) should be able to run the integration test suite created in #2692. It should run this suite in a container, and should report success or failure via exit codes and via ```bodhi-ci```'s status messages it prints at the end of jobs.

This depends on #2691 and #2692.

[2018-10-30 17:04] #2635 closed, assigned to nobody

[2018-10-30 23:15] bowlofeggs commented on #1741
On Mon, 2018-10-29 at 17:10 +0000, Ben wrote:

Ah - I haven't had time to verify it myself yet, though it would be
helpful to get another verification if you want to check it out!

[2018-10-31 18:28] bowlofeggs opened #2698 "bodhi-approve-testing also needs logging set up"
Similar to #2156, ```bodhi-approve-testing``` also prints a warning about not having a logger set up.

[2018-11-01 19:06] bowlofeggs opened #2700 "We should drop anonymous comments"
SSIA

[2018-11-04 11:09] mattiaverga opened #2706 "Comments list not refreshed after posting feedback"
Sometimes the comment list on the update page doesn't get refreshed and the form doesn't get polished after posting comment/feedback, making user post his comment twice.

I saw this behavior twice, the first time on production and I've reproduced once on stage. I think another user had this issue, because in [this](https://bodhi.fedoraproject.org/updates/FEDORA-2018-506e97bb9b) update he posted fe

[2018-11-04 17:55] mattiaverga commented on #344
@bowlofeggs following your suggestion, I created a commit at https://github.com/mattiaverga/bodhi/commit/773ef7323a44fdf3764787470293c9ab54b96ff1 which adds a column to the bugs table and sets the bug to be private.
While creating the new column, I've set all the existing bugs to "private=FALSE"... but assuming all the existing bugs with title "Invalid bug number" are private, should I set the fla

[2018-11-05 04:58] ryanlerch commented on #2700
Anon comments are the only thing that uses the CAPTCHA stuff too, right? so that can all be dropped as well.

[2018-11-05 14:49] bowlofeggs commented on #2700
On Sun, 2018-11-04 at 20:58 -0800, Ryan Lerch wrote:

Indeed!

[2018-11-05 19:35] #2658 closed, assigned to nobody

[2018-11-06 08:59] pmatilai commented on #1798
Just encountered this with rpm, a co-maintainer submitted an enhancement update without realizing there's an security update pending, and bodhi silently auto-obsoleted the security update with the enhancement one. And since the update can't be edited anymore, the rather critical security rating of the original update got *silently* lost in the process. This is rather terrible.

Auto-obsoleting wit

[2018-11-06 09:08] pmatilai commented on #1254
People make mistakes, forget and sometimes are just plain unaware of other peoples actions (such as a pending update), and silently auto-obsoleting an update (of different type, submitted by another person and all) that might be deep into testing without a single question asked is just terrible. Please bump up the priority, we just essentially lost an important security update because of this.

[2018-11-06 18:46] bowlofeggs commented on #181
This feature is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:46] bowlofeggs commented on #251
This feature is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:46] bowlofeggs commented on #2489
This feature is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:46] bowlofeggs commented on #2536
This feature is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:46] bowlofeggs commented on #2550
This feature is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:46] bowlofeggs commented on #2553
This feature is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:47] bowlofeggs commented on #2635
This feature is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:47] bowlofeggs commented on #2658
This feature is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:49] bowlofeggs commented on #2009
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:49] bowlofeggs commented on #2156
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:49] bowlofeggs commented on #2364
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:49] bowlofeggs commented on #2431
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:49] bowlofeggs commented on #2545
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:49] bowlofeggs commented on #2546
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:49] bowlofeggs commented on #2571
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:50] bowlofeggs commented on #2621
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 18:50] bowlofeggs commented on #2618
This fix is planned for inclusion in the upcoming 3.11.0 release: https://github.com/fedora-infra/bodhi/pull/2709

[2018-11-06 22:04] sebwoj commented on #1957
@bowlofeggs since releases list is ready, can we close it?

[2018-11-07 02:08] abitrolly commented on #637
http://fedora.portingdb.xyz/pkg/bodhi/ shows that `packagedb-cli` dependency is not ported.

[2018-11-07 09:01] frenzymadness commented on #637
You're right but this isn't a problem because packagedb itself is deprecated and therefore the support for it can be dropped when Bodhi will be ready for switch to Python 3.

[2018-11-07 10:48] abitrolly commented on #637
@frenzymadness why it is not possible to drop the support right now?

[2018-11-07 10:49] abitrolly commented on #637
Nevermind, I found this https://github.com/fedora-infra/bodhi/issues/1970

[2018-11-07 10:53] abitrolly commented on #1970
I read through the ticket, but I don't get how `pkgdb` was used, why it is deprecated, what is the replacement and why people don't want to replace it?

[2018-11-07 11:37] frenzymadness commented on #1970
pkgdb was used to store info about packages, package maintainers and their rights (commit, admin, …). It was replaced by Pagure instance running on https://src.fedoraproject.org/ . PackageDB upstream github repository is read-only.

There is a page where you can find all info about old/new use cases and what and why happened: https://fedoraproject.org/wiki/Infrastructure/WhatHappenedToPkgdb

I can

[2018-11-07 16:23] bowlofeggs commented on #1957
@sebwoj sure, thanks!

[2018-11-07 16:23] #1957 closed, assigned to nobody

[2018-11-07 18:01] bowlofeggs commented on #637
Update on this: I am currently building a 3.11.0 beta that I intend to deploy to staging on Python 3 only. I hit a few small snags along the way, but have opened pull requests to fix them all.

As for pkgdb, I still plan to drop that in Bodhi 4.0.0, which will likely happen "soon", but is not a blocker for Bodhi being deployed on Python 3 since @frenzymadness made sure the code doesn't blow up on

[2018-11-08 08:46] keszybz commented on #1803
FWIW, I think this doesn't need to be a separate option. I think that if somebody submits an update with autopush enabled, this means "push when the criteria are satisfied", and it doesn't really matter if the karma or time is reached first.

[2018-11-08 19:09] mattiaverga commented on #1803
I don't agree. For example, I may want to push automatically an update only if karma threshold is reached or choose myself to manually push it.
I think a separate option would be better.

[2018-11-08 19:18] bowlofeggs opened #2717 "When Bodhi is run in Python 3, production.ini examples do not work due to % character interpolation"
The example ```production.ini``` contains some examples that use ```%s``` to be replaced at run time. This works in Python 2, but in Python 3 you get a traceback:

[code]

The fix is simple - we should adjust the settings to use ```%%``` instead of ```%```, and we should document this at the top of the file.

[2018-11-08 19:48] bowlofeggs commented on #1803
I am currently working on drafting a new update policy for Fedora, and one the elements I plan to include in the proposal is automatic pushing unless humans stop it (via negative karma or maintainer unpushing). I recommend holding off on implementing this until I can draft said policy and get approval from FESCo, so we know what policy to implement based on FESCo's decision.

[2018-11-09 11:16] c72578 commented on #1803
An option like "submit to stable after x days in testing" would help e.g. in the following case:
- An updated package "foo" is submitted to updates
- A few days later, within the testing phase, it turns out, that a different package "bar" needs to be rebuilt because of the updated package "foo" (this can happen). Using a buildroot override in the meantime.
- Both packages "foo" and "bar" can be pu

[2018-11-09 11:52] #2717 closed, assigned to bowlofeggs

[2018-11-09 16:28] keszybz commented on #1803
@c72578 First of all, in this situation the two packages should have right Requires and Conflicts, so the package manager refuses to upgrade or install packages that would break on of them. Second, those two packages should be put in the same update, so the user never sees the situation where just one packages is available in updates. Trying to achieve the same by pushing them at the same time is

[2018-11-09 19:15] bowlofeggs opened #2724 "Consider converting Bodhi's configuration file to a typed format"
Bodhi's configuration file is currently an INI file. This has the limitation of only allowing strings to be represented. It might be nice to switch to a format that is more flexible, such as YAML or TOML.

I am not sure that Pyramid allows the use of other formats. If it does not, we might just have an INI file to express the Pyramid settings, and then the new file would have the Bodhi-specific se

[2018-11-09 19:22] bowlofeggs commented on #2724
One other small advantage of this is that we can drop the double %'s that are needed due to https://github.com/fedora-infra/bodhi/issues/2717.

[2018-11-12 16:22] bowlofeggs commented on #2489
This patch has been deployed to Bodhi's staging environment:

https://bodhi.stg.fedoraproject.org

Please test and let us know if you find issues!

[2018-11-12 16:23] bowlofeggs commented on #2059
bodhi-3.11.0b5 has been deployed to Bodhi's staging environment and uses Python 3 only:

https://bodhi.stg.fedoraproject.org

Please test and let us know if you find issues!

[2018-11-12 16:23] #2059 closed, assigned to nobody

[2018-11-12 16:23] bowlofeggs commented on #2550
This patch has been deployed to Bodhi's staging environment:

https://bodhi.stg.fedoraproject.org

Please test and let us know if you find issues!

[2018-11-12 16:23] bowlofeggs commented on #2553
This patch has been deployed to Bodhi's staging environment:

https://bodhi.stg.fedoraproject.org

Please test and let us know if you find issues!

[2018-11-12 16:24] bowlofeggs commented on #2635
This patch has been deployed to Bodhi's staging environment:

https://bodhi.stg.fedoraproject.org

Please test and let us know if you find issues!

[2018-11-12 16:24] bowlofeggs commented on #2658
This patch has been deployed to Bodhi's staging environment:

https://bodhi.stg.fedoraproject.org

Please test and let us know if you find issues!

[2018-11-12 16:41] voxik opened #2730 "Fetch "severity" from BZ"
It seems that Bodhi now requires "severity" field for security updates (#2206):

[code]

I don't understand why I should take a look at BZ, when Bodhi could fetch this information from BZ (although it might be a bit more difficult when single update addresses multiple CVEs).

Also, I wonder why this was not announced, why this is not supported in fedpkg and why security guys are probably not aware

[2018-11-12 16:43] voxik commented on #2730
https://pagure.io/fedpkg/issue/295

[2018-11-12 16:59] bowlofeggs commented on #181
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 16:59] bowlofeggs commented on #251
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 16:59] bowlofeggs commented on #2059
Bodhi 3.11.0b5 is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 16:59] bowlofeggs commented on #2536
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:01] bowlofeggs commented on #2009
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:01] bowlofeggs commented on #2156
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:01] #2156 closed, assigned to nobody

[2018-11-12 17:01] bowlofeggs commented on #2364
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:01] bowlofeggs commented on #2431
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:01] bowlofeggs commented on #2545
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:01] bowlofeggs commented on #2546
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:01] bowlofeggs commented on #2571
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:03] bowlofeggs commented on #2618
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 17:03] bowlofeggs commented on #2621
Bodhi 3.11.0b5 has been deployed to staging:

https://bodhi.stg.fedoraproject.org

It is also available via Copr:

https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release

[2018-11-12 20:48] bowlofeggs opened #2731 "Staging is currently returning HTML to bodhi CLI requests"
I am not sure why this is happening, but it seems that staging Bodhi is currently returning HTML to CLI requests. This also happens to requests with ```http``` or ```curl```.

I recall a problem with the unit tests where they would sometimes receive HTML when they didn't explicitly use a request header to ask for a JSON response once we started testing under Python 3. We ended up adjusting the tes

[2018-11-12 21:29] bowlofeggs commented on #2731
I've discovered that the order of the decorators over the services seems to make a difference on which content type gets returned in the unit tests when no request header is present. It seems that moving the html handler to be the outermost decorator (i.e., the first one in code order) will make the JSON response be the default, which is what we want.

[2018-11-12 21:38] bowlofeggs commented on #2731
Unfortunately, I am unable to find any documentation about this behavior at https://cornice.readthedocs.io.

[2018-11-12 22:48] bowlofeggs commented on #2731
It seems that Pyramid documents the behavior I am seeing. See the "accept" section [here](https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/viewconfig.html#non-predicate-arguments):

Emphasis mine. It sounds like plain requests could match any of the view configs with the way we use the accept header here.

[2018-11-12 22:51] bowlofeggs commented on #2731
My earlier comment was premature - it seems that the order of the decorators does not matter - the view that Pyramid seems to choose when there is no request header seems to be different every request. Repeated runs of the same tests sometimes return html and othertimes return json. Fun!

[2018-11-12 22:56] bowlofeggs commented on #2731
A reasonable solution is probably to inject an ```Accept``` header into requests that do not have them before view matching happens. Hopefully there is a Pyramid hook I can use to do this.

[2018-11-13 05:42] #1616 closed, assigned to bowlofeggs

[2018-11-13 06:08] #2731 closed, assigned to bowlofeggs

[2018-11-13 17:57] bowlofeggs opened #2737 "bodhi-push's --builds flag selects all builds from the given build's release"
It seems that the ```--builds``` flag got broken by recent changes to ```bodhi-push```:

[code]

Only the ```python-rpdb-0.1.6-11.fc28``` update should have been selected.

[2018-11-13 18:12] bowlofeggs commented on #2737
False alarm: In order to test, I had to delete existing ```Compose``` objects that came over from a production sync, and I forgot to mark the associated ```Update``` objects as unlocked, so they were just matching the query.

[2018-11-13 18:12] #2737 closed, assigned to bowlofeggs

[2018-11-13 19:42] bowlofeggs opened #2738 "TypeError: a bytes-like object is required, not 'str'"
The composer has a Python 3 compatibility issue:

[code]

[2018-11-13 21:36] #2738 closed, assigned to bowlofeggs

[2018-11-13 23:02] bowlofeggs opened #2742 "Bodhi does not select the correct pull URL for containers and flatpaks"
While testing bodhi-3.11.0b7 today in stg, I found that the flatpak and container composes both failed due to using the wrong URLs for the containers:

[code]

Note that it is including ```@sha256``` in the repository name.

[2018-11-13 23:03] bowlofeggs commented on #2742
CC @owtaylor @cverna

[2018-11-14 02:12] bowlofeggs commented on #2742
@owtaylor I feel like I remember looking in Koji and agreeing that the patch was correct, including its documentation that the format was like ```candidate-registry.fedoraproject.org/f29/cockpit:176-5.fc28```, but I guess I didn't notice that pesky ```@sha256```. When I look at that [example container](https://koji.fedoraproject.org/koji/buildinfo?buildID=1141835), I see this:

```['candidate-regi

[2018-11-14 02:15] bowlofeggs commented on #2742
The more I think about it, the less sense the first pull URL makes to me. Why is it ```f29cockpit``` instead of ```f29/cockpit```? We really do need to target the second one since the first one is wrong. Do we know what system writes this data into Koji?

[2018-11-14 02:23] bowlofeggs commented on #2742
Another solution I can think of is that we do know the NVR, so we could loop on the list until we find one that has the expected VR from the NVR in it. Maybe that's not really better than searching for the @ character and killing it, but just another idea.

[2018-11-14 04:52] owtaylor commented on #2742
`repo@[hash-reference]` is another valid form of docker pull spec - we just need to handle it in the code. I think I misread the koji metadata - I could find no evidence that anything changed in atomic-reactor.

[2018-11-14 15:50] #2742 closed, assigned to nobody

[2018-11-14 17:27] bowlofeggs opened #2745 "Bodhi should clean up old container images in the registry"
We need a way for Bodhi to clean up old images in the container registry. If an image is not referenced by the testing or latest tags, it can be considered old and removed. This would be good to do during the compose process.

[2018-11-14 19:07] bowlofeggs opened #2746 "AttributeError: 'bytes' object has no attribute 'encode'"
Another Python 3 related crash in the composer:

[code]

[2018-11-15 18:35] #2746 closed, assigned to bowlofeggs

[2018-11-19 17:12] bowlofeggs opened #2753 "Mail templates should be in /etc/bodhi instead of in bodhi.server.templates"
Bodhi currently looks for its e-mail templates in the code (i.e., in ```/usr/lib/python3.7/site-packages/bodhi/server```) instead of in its configuration (i.e., ```/etc/bodhi```), which makes it hard for deployments to customize. These are really configuration and so should be in ```/etc/bodhi``` instead.

I am marking this as backwards incompatible in case we just switch the location. Technically

[2018-11-19 21:03] bowlofeggs commented on #181
This feature is now deployed to Bodhi's production instance.

[2018-11-19 21:04] bowlofeggs commented on #251
This feature is now deployed to Bodhi's production instance.

[2018-11-19 21:04] bowlofeggs commented on #2489
This feature is now deployed to Bodhi's production instance.

[2018-11-19 21:04] bowlofeggs commented on #2536
This feature is now released with Bodhi 3.11.0.

[2018-11-19 21:04] bowlofeggs commented on #2550
This feature is now deployed to Fedora's production instance.

[2018-11-19 21:04] bowlofeggs commented on #2553
This feature is now deployed to Fedora's production instance.

[2018-11-19 21:05] bowlofeggs commented on #2635
This feature is now deployed to Fedora's production instance.

[2018-11-19 21:05] bowlofeggs commented on #2635
We should send a patch to Fedora's playbook to use this flag.

[2018-11-19 21:06] bowlofeggs commented on #2658
This fix is now deployed to Fedora's production instance.

[2018-11-19 21:07] bowlofeggs commented on #2009
This fix is now deployed to Fedora's production instance.

[2018-11-19 21:07] bowlofeggs commented on #2156
This fix is now deployed to Fedora's production instance.

[2018-11-19 21:07] bowlofeggs commented on #2364
This fix is now deployed to Fedora's production instance.

[2018-11-19 21:07] bowlofeggs commented on #2431
This fix is now deployed to Fedora's production instance.

[2018-11-19 21:08] bowlofeggs commented on #2545
This fix is now deployed to Fedora's production instance, though I'm not sure it is working correctly because I now am unable to see the waiver button on https://bodhi.fedoraproject.org/updates/FEDORA-2018-2817c1642a.

[2018-11-19 21:09] bowlofeggs commented on #2546
This fix is included in Bodhi 3.11.0.

[2018-11-19 21:09] bowlofeggs commented on #2571
This fix is included in Bodhi 3.11.0 which is deployed to Fedora's production instance, though I have been unable to see it work on https://bodhi.fedoraproject.org/updates/FEDORA-2018-2817c1642a because I can't see the waiver button there.

[2018-11-20 13:53] bowlofeggs opened #2756 "Traceback from bodhi-dequeue-stable"
@nirik sent me a traceback that seems to be coming from ```bodhi-dequeue-stable```:

[code]

[2018-11-20 14:40] bowlofeggs opened #2757 "EnumSymbol needs an __lt__() method"
The Composer crashed on production with this traceback:

[code]

I found [an sqlalchemy issue](https://bitbucket.org/zzzeek/sqlalchemy/issues/4232/another-case-of-illegal-sorting-in-python) where this was discussed and it sounds like we just need to give our EnumSymbol an ```__lt__()``` method and call it a day. Something like this will probably work:

[code]

I tried something like the above on p

[2018-11-20 14:45] bowlofeggs commented on #2756
It seems the composer also crashes with a similar if not identical traceback:

[code]

[2018-11-20 14:50] bowlofeggs opened #2758 "IncompleteRead while Composer polls for repomd files"
It seems that Python's http library can raise a new Exception in Python 3 that we don't catch:

[code]

This one should be pretty easy to fix - we just need to catch this new Exception and retry, similar to what we do if a URLError is raised.

[2018-11-20 15:04] bowlofeggs opened #2759 "Drop Python 2 support for the server"
Dropping support for Python 2 will allow us to use some cool new Python 3 stuff. I'm marking it as backwards incompatible mostly because it will prevent deployments from simply doing a ```dnf upgrade```.

[2018-11-20 15:33] bowlofeggs commented on #2756
This seems relevant: https://bugs.python.org/issue20084

[2018-11-20 15:54] bowlofeggs commented on #2756
Well here's a simple reproducer:

[code]

[2018-11-20 15:56] bowlofeggs commented on #2756
The [docs](https://docs.python.org/3.7/library/smtplib.html#smtplib.SMTP.sendmail) state that the from_addr and to_addr should be strings, so perhaps it is wrong for us to convert them to ```bytes```.

[2018-11-21 14:46] bowlofeggs opened #2768 "TypeError: '>' not supported between instances of 'int' and 'list'"
Another composer crash, possibly related to the Python 3 deployment:

[code]

[2018-11-21 17:33] #2757 closed, assigned to bowlofeggs

[2018-11-21 17:33] bowlofeggs commented on #2768
Welp, I now have a reproducer:

[code]

[2018-11-21 17:45] bowlofeggs commented on #2768
The issue seems to be [here](https://github.com/fedora-infra/bodhi/blob/3.11.0/bodhi/server/mail.py#L350-L359):

[code]

With the package given above, there is a ```lastpkg```, and ```oldh``` looks like this:

[code]

Note that ```changelogtime``` is a list of one element, so ```oldtime``` is set to ```[1510920000]```. ```text``` is ```['- Initial rpm release for EPEL7 (rhbz#1514458)']``` and so h

[2018-11-21 20:26] #2768 closed, assigned to bowlofeggs

[2018-11-21 21:27] #2756 closed, assigned to bowlofeggs

[2018-11-23 13:49] morxa commented on #2700
The captcha is not working anyway:
[code]

![screenshot from 2018-11-23 13-44-15](https://user-images.githubusercontent.com/4573064/48946644-49c14a00-ef26-11e8-9644-130ccf3267e9.png)

I was just going to report this, but I guess I can save the effort?

[2018-11-25 11:19] hroncok opened #2778 "New bodhi updates are "Logout required" by default"
Go to https://bodhi.fedoraproject.org/updates/new

The *Suggestion* now defaults to *logout*.

Is this new policy or a mistake? I see some logout updates in bodhi where it is most likely not needed.

I've filled this as [an infra issue](https://pagure.io/fedora-infrastructure/issue/7396), got redirected here.

[2018-11-25 11:31] hroncok commented on #2778
https://github.com/fedora-infra/bodhi/pull/2777

[2018-11-25 18:05] sebwoj opened #2782 "Build.ci_url seems to be unused"
Build.ci_url seems to be unused.

[2018-11-26 16:33] bowlofeggs commented on #2778
It turns out that Python 3 sorts these entries differently than Python 2 does. Running Bodhi with ```pserve-2``` does not show this issue, but running it with ```pserve-3``` does.

[2018-11-26 16:39] hroncok commented on #2778
Don't know what entries are there, but if it has something to do with dict, Python 3.6+ maintains insertion order (as language standard in 3.7+).

[2018-11-26 16:40] bowlofeggs commented on #2778
@hroncok Oh that's an interesting possibility. I'll look into that. It turns out that #2777 did not fix this issue, so I'm going to see if I can figure it out now.

[2018-11-26 20:35] bowlofeggs opened #2786 "The captcha does not work under Python 3"
@morxa [reported](https://github.com/fedora-infra/bodhi/issues/2700#issuecomment-441245759) that the captcha was not working in Fedora's Bodhi deployment:

![screenshot from 2018-11-23 13-44-15](https://user-images.githubusercontent.com/4573064/48946644-49c14a00-ef26-11e8-9644-130ccf3267e9.png)

It turns out that it does work if Bodhi is run with Python 2, but fails under Python 3. My guess is tha

[2018-11-26 20:36] bowlofeggs commented on #2700
@morxa I think that is related to Bodhi switching to Python 3 and have filed https://github.com/fedora-infra/bodhi/issues/2786 about it. Thanks for letting me know!

[2018-11-26 20:43] #2778 closed, assigned to bowlofeggs

[2018-11-26 21:43] #2786 closed, assigned to nobody

[2018-11-27 11:20] psss opened #2790 "Bug status not updated"
There are three bugs attached to the following update:

* https://bodhi.fedoraproject.org/updates/FEDORA-2018-a028b681ac

Two of them have been successfully updated and their status modified, the third one has not received any update and in the list of bugs just shows running circles...

[2018-11-27 18:35] mattiaverga commented on #2790
Bug #1635156 is a private bug. That means that Bodhi cannot post any comment neither change its status.

There's already a PR #2714 that will prevent private bugs to be added to an update, but it will (probably) come into a future version. I'm also working on a PR that will warn a user when they add a prvate bug in web UI, but I'm blocked by a problem with bugzilla data retrieval https://bugzilla.

[2018-11-27 19:26] bowlofeggs commented on #2790
Yeah it's that Bodhi doesn't handle private BZs gracefully. That is tracked in https://github.com/fedora-infra/bodhi/issues/344, so let's close this one.

[2018-11-27 19:26] #2790 closed, assigned to nobody

[2018-11-28 15:05] jeremycline opened #2791 "Selecting multiple packages in new update changes builds to numbers, or not numbers"
With bodhi 3.11.0, if you make an update composed of builds from several packages *and* you use the "packages" field to search for candidate builds, the candidate build you select is replaced with a number (the build's database primary key?) when you change the packages field to find the next candidate build.

To reproduce:

1. Enter "kernel" into the "Packages" field.
2. Select a candidate build,

[2018-11-28 15:47] bowlofeggs commented on #2756
The fix for this issue is now released with Bodhi 3.11.1 and deployed to Fedora's production instance.

[2018-11-28 15:48] bowlofeggs commented on #2757
The fix for this issue is now released with Bodhi 3.11.1 and deployed to Fedora's production instance.

[2018-11-28 15:48] bowlofeggs commented on #2758
The fix for this issue is now released with Bodhi 3.11.1 and deployed to Fedora's production instance.

[2018-11-28 15:48] bowlofeggs commented on #2768
The fix for this issue is now released with Bodhi 3.11.1 and deployed to Fedora's production instance.

[2018-11-28 15:48] bowlofeggs commented on #2778
The fix for this issue is now released with Bodhi 3.11.1 and deployed to Fedora's production instance.

[2018-11-28 15:48] bowlofeggs commented on #2786
The fix for this issue is now released with Bodhi 3.11.1 and deployed to Fedora's production instance.

[2018-11-29 07:22] mattiaverga commented on #2791
Yeah, I think I've messed up NVRs and build-ids in the javascript code when building the list of existing checked builds... I'm currently travelling and trying to debug by smartphone is not the best, I can take a look into this in the next weekend. (If someone else doesn't precede me)

[2018-11-29 08:49] psss commented on #2790
Ah, I see. Thanks for clarification. Warning about private bugs would be useful.

[2018-11-29 19:25] #2539 closed, assigned to nobody

[2018-11-30 15:13] bowlofeggs commented on #2758
The fix I made for this mistakenly handled ```IncompleteRead``` on ```urlopen()``` instead of on ```read()```, so the error still happens.

[2018-11-30 15:20] bowlofeggs commented on #2758
I once again hotfixed this by moving the ```read()``` statement into the ```Exception``` handler.

[2018-12-02 18:29] sebwoj opened #2800 "TestGatingStatus.queued/running seems to be unused"
SSIA.

[2018-12-03 18:08] #2758 closed, assigned to bowlofeggs

[2018-12-04 13:01] goosemania opened #2805 "Add support for modular errata (updates)"
For modular or mixed repositories, it is possible to have an erratum (update) which refers to modular RPMs in its pkglist. For tooling to properly identify which modules are updated, it's been decided to extend the erratum (update) format and add module info at the collection level.

- If an erratum (update) is released for modular content, it will contain information about a module the RPMs are r

[2018-12-05 01:45] #2537 closed, assigned to nobody

[2018-12-05 02:59] #2791 closed, assigned to nobody

[2018-12-05 03:13] #1737 closed, assigned to ryanlerch

[2018-12-05 03:46] #2698 closed, assigned to nobody

[2018-12-05 17:36] bowlofeggs commented on #2791
The fix for this has been deployed to Fedora's production instance.

[2018-12-05 19:44] bowlofeggs opened #2815 "Drop support for active_releases from the updates query API"
Now that we are about to obsolete updates from archived releases, we no longer need the [```active_releases```](https://github.com/fedora-infra/bodhi/blob/3.11.3/bodhi/server/services/updates.py#L336) query parameter in the update API. Of course, this is backwards incompatible so we need to wait for a major release to drop it.

[2018-12-05 20:02] bowlofeggs commented on #2611
On Sun, 2018-12-02 at 19:04 +0100, @sebwoj wrote:

We should do it at the end of that function because the act of waiving will change the response from Greenwave, and we want that changed response.

[2018-12-05 20:03] bowlofeggs commented on #2321
On Sun, 2018-12-02 at 19:04 +0100, @sebwoj wrote:

Yeah putting it into check_policies seems reasonable.

[2018-12-05 20:07] bowlofeggs commented on #2323
On Sun, 2018-12-02 at 19:04 +0100, @sebwoj wrote:

Yeah sort of, except that Greenwave doesn't restart the tests. There are a few different unrelated systems that run the tests (taskotron, openQA, and the CI pipeline), so we'll need to do some research to identify how to ask each of those systems to re-run tests.

[2018-12-05 20:09] bowlofeggs commented on #2267
On Sun, 2018-12-02 at 19:04 +0100, @sebwoj wrote:

This may take some research. I think the Greenwave response might have the waiver information in it, but if it doesn't we may need to query WaiverDB instead.

[2018-12-07 15:29] #1792 closed, assigned to nobody

[2018-12-07 20:36] bowlofeggs opened #2824 "The integration tests should cover all supported releases"
We should expand the coverage on the integration tests so they cover all supported releases (Fedora 28, Rawhide, and pip installed dependencies).

[2018-12-07 22:03] #1798 closed, assigned to nobody

[2018-12-08 07:59] mattiaverga commented on #826
While working on #2821 I came across with this old bug report.

Removing the checkbox seems to be the intended behavior and is made by a specific function introduced to solve #260.
Should we change this?

[2018-12-10 03:36] bowlofeggs opened #2826 "HTTP 500 when viewing composes"
I saw this when visiting https://bodhi.fedoraproject.org/composes/ just now:

[code]

[2018-12-10 14:14] zdohnal opened #2827 "Add support for Bugzilla API tokens"
Hi!

It seems Bodhi does not update bugzilla ticket, when bugzilla ticket is added to update and saved, f.e. when I added this bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1655313 to this update https://bodhi.fedoraproject.org/updates/vim-8.1.575-1.fc29 , bugzilla did not get updated and I needed to switch it manually.
The behavior seems to happen after update to bugzilla5

[2018-12-10 16:09] bowlofeggs commented on #2827
I also observed this - I think BZ's xmlrpc interface was down for a while this weekend as I see several tracebacks about being unable to contact it in the logs. I just tried removing and re-adding a BZ to one of my updates and it seems to work now. I am going to close this now, but please reopen it if you see it again.

[2018-12-10 16:53] mattiaverga opened #2828 "No candidates available in devel environment"
When running a devel environment in Vagrant, no candidate builds are available for creating an upgrade and no candidates are showed in `/latest_candidates` page.

If I'm correct, the data which should provide those candidates is in `bodhi/server/buildsys.py`.
https://github.com/fedora-infra/bodhi/blob/ccec39aa26465581a955a3de4c14190455fa2dbd/bodhi/server/buildsys.py#L429-L446
I think the problem i

[2018-12-10 17:02] bowlofeggs opened #2829 "The integration test should run each individual build separately in Jenkins"
Currently the integration tests do a bunch of builds and the tests themselves in one task in Jenkins Pipeline. This means that the logs are mixed together (which makes it hard to debug what is wrong with https://github.com/fedora-infra/bodhi/pull/2754), and it also means that we don't get individual status lines reported to GitHub for the various tasks. We should make the Groovyscript run each bui

[2018-12-10 17:30] omron93 opened #2830 "Updates for rawhide containers"
Hi,
could it be possible to enable update for rawhide containers? Or for Fedora release N+1, currently F30...

Currently there is no way for developers how to release them. Result images are pushed into `candidate-registry.fedoraproject.org` by koji.

Different possible solution would be to push images directly into `registry.fedoraproject.org` by koji for rawhide.

Many thanks,
Marek

[2018-12-10 17:30] omron93 commented on #2830
@cverna ?

[2018-12-10 17:51] bcl commented on #826
I think so. The Related Bugs list itself shouldn't change when you uncheck the bug. What if you accidentally unchecked it? Now you have to start over by refreshing the page.

[2018-12-10 18:02] bowlofeggs commented on #2828
Yeah that would be a nice thing to add. FYI, I think you can just type in some build NVRs into the candidate builds box as a workaround.

[2018-12-10 18:10] bowlofeggs commented on #2830
There is not a technical reason that Bodhi could not be used for this today. However, since this is a policy/configuration issue, I think Release Engineering is probably the right place to ask this question, so I've refiled it for you there:

https://pagure.io/releng/issue/7979

[2018-12-10 18:10] #2830 closed, assigned to nobody

[2018-12-10 21:18] bowlofeggs opened #2833 "Images are left running when the integration tests are finished"
I noticed that I can't run the integration tests twice, because the second one fails with this message:

[code]

I then noticed that I had four containers running:

[code]

All containers should be stopped before ```bodhi-ci``` exits.

[2018-12-10 21:21] bowlofeggs opened #2834 "bodhi-ci clean should clean up the integration test images"
The ```bodhi-ci``` clean should clean up the integration test images as well.

[2018-12-10 22:15] bowlofeggs opened #2835 "One of the integration tests seems to fail intermittently"
I've observed an intermittent failure in ```devel.ci.integration.tests.test_bodhi_cli.test_updates_download```, in #2754 and #2831. For example:

https://ci.centos.org/job/bodhi-pipeline/job/PR-2831/1/testReport/junit/devel.ci.integration.tests/test_bodhi_cli/test_updates_download/

In both cases, the expected output was not found in the mocked Koji output:

[code]

[2018-12-10 22:27] bowlofeggs commented on #2833
This might be a false alarm - I did not observe this on a later job. Perhaps it was from a branch that had the problem and it was later resolved?

[2018-12-11 04:12] #2835 closed, assigned to bowlofeggs

[2018-12-11 12:12] zdohnal commented on #2827
Randy, it seems F29 updates still does not update the bugzilla - I got email about my update's pushing into testing at 3:36 AM CET for this update https://bodhi.fedoraproject.org/updates/FEDORA-2018-09b23ed9e5 , but the bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1657750 got updated one hour later with F28 update https://bodhi.fedoraproject.org/updates/FEDORA-2018-8eb6a893fa got into test

[2018-12-11 15:54] bowlofeggs commented on #2827
Hmm, yeah it does look fishy. I'm not sure what's going on.

[2018-12-11 15:59] bowlofeggs commented on #2827
I do see errors in the log about Bodhi needing to log in:

[code]

[2018-12-11 16:07] bowlofeggs commented on #2827
I reported https://bugzilla.redhat.com/show_bug.cgi?id=1658257

[2018-12-11 17:06] bowlofeggs commented on #2827
I learned that there was a known problem on the BZ end that has now been resolved, so this should again work.

I manually closed bugs that I saw in the logs that could not be closed. For future reference, here is a small script I made to do that, in case we need it again:

[code]

[2018-12-11 17:07] bowlofeggs commented on #2827
Oh, and here is how I generated the bug list on ```bodhi-backend01.phx2.fedoraproject.org```:

[code]

[2018-12-11 17:17] mattiaverga commented on #826
Well, no, if you accidentally uncheck a bug you can get it again by entering the package name in the `packages` textfield; or you can re-add it manually by entering the bug number in the `Related Bugs` textfield.

I think another solution would be to add a specific icon to remove the bug (or the candidate build) from the list, but I think the actual solution was preferred to not make the UI more c

[2018-12-11 20:52] bowlofeggs opened #2838 "[M] Drop support for fedmsg"
Now that Bodhi supports fedora-messaging, we should drop support for fedmsg.

CC @jeremycline @abompard

[2018-12-11 20:53] bowlofeggs opened #2839 "Add schemas for Bodhi's fedora-messaging messages"
We should define message schemas for the various messages we send out via fedora-messaging.

[2018-12-11 21:00] bowlofeggs commented on #826
Yeah I think I like the original suggestion in #260 to use a remove button instead of checkboxes, like @kalev suggestion. I'm not sure why it was implemented this way, but I agree that it is confusing.

[2018-12-12 13:49] ellert opened #2840 "Comments with <angle brackets> mangled in weird way."
See https://bodhi.fedoraproject.org/updates/FEDORA-2018-002d43a640

I entered the comment:
[code]

Bodhi mangled this into:
[code]

Also the update notes entered by the submitter of the update have been mangled in a similar way.

[2018-12-12 14:55] #1807 closed, assigned to nobody

[2018-12-12 15:25] #2528 closed, assigned to nobody

[2018-12-12 16:14] #191 closed

[2018-12-12 16:15] #495 closed

[2018-12-12 16:16] #518 closed

[2018-12-12 16:18] bowlofeggs commented on #624
I haven't observed this problem before, so I am closing this for now.

[2018-12-12 16:18] #624 closed

[2018-12-12 16:20] bowlofeggs commented on #637
Bodhi was deployed on Python 3 a couple weeks ago. There were a few issues discovered after deployment, but Bodhi seems to be stable on Python 3 now. Thanks to @frenzymadness for all the help!

[2018-12-12 16:20] #637 closed

[2018-12-12 16:21] bowlofeggs commented on #643
I believe Bodhi's integration with pkgdb is working as expected, so I am closing this. Let me know if you still experience this problem.

[2018-12-12 16:21] #643 closed

[2018-12-12 16:23] bowlofeggs commented on #709
I believe this issue may have been fixed 1-2 years ago. Let me know if you think it's still broken.

[2018-12-12 16:23] #709 closed

[2018-12-12 16:24] bowlofeggs commented on #710
Is this still a problem? If so, do we have a clear proposal to solve it?

[2018-12-12 16:26] bowlofeggs commented on #734
Strange. Could this be considered a Koji bug, or is it valid for Koji to produce builds that only have SRPMs?

[2018-12-12 16:34] bowlofeggs commented on #754
I'm planning to drop anonymous comments in https://github.com/fedora-infra/bodhi/issues/2700.

[2018-12-12 16:40] bowlofeggs commented on #824
Is this still a problem?

[2018-12-12 16:44] bowlofeggs commented on #845
I believe that the karma counting is correct now. It was re-factored a couple years ago to store the data in a normalized fashion, rather than denormalized (which is how some of the data used to get into weird states). Let me know if you think this is still an issue.

[2018-12-12 16:44] #845 closed, assigned to nobody

[2018-12-12 16:45] bowlofeggs commented on #855
The tests all pass now.

[2018-12-12 16:45] #855 closed, assigned to nobody

[2018-12-12 16:52] bowlofeggs commented on #910
Since Bodhi uses Pungi now it no longer manages rpm-ostree.

[2018-12-12 16:52] #910 closed, assigned to nobody

[2018-12-12 16:54] bowlofeggs commented on #926
@nirik Is this still a problem since Bodhi uses pungi now?

[2018-12-12 16:54] bowlofeggs commented on #932
Bodhi has integration with WaiverDB to do this now.

[2018-12-12 16:54] #932 closed, assigned to nobody

[2018-12-12 16:55] bowlofeggs commented on #933
Bodhi now supports blocking package updates based on tests. As for a request to do it for a specific test, I recommend filing a ticket with FESCo to request it, since that is a matter of policy (and this ticket tracker is for the upstream Bodhi project).

[2018-12-12 16:55] #933 closed, assigned to nobody

[2018-12-12 16:57] bowlofeggs commented on #972
We have full coverage on the code now.

[2018-12-12 16:57] #972 closed, assigned to nobody

[2018-12-12 17:01] bowlofeggs commented on #1053
Bodhi's integration tests now launch their own instance of PostgreSQL, so we don't need to use faitout anymore.

[2018-12-12 17:01] #1053 closed, assigned to nobody

[2018-12-12 17:03] bowlofeggs commented on #1093
The lock is used to determine which builds are part of a compose, so there is a reason for it.

[2018-12-12 17:03] #1093 closed, assigned to nobody

[2018-12-12 17:06] #1193 closed, assigned to nobody

[2018-12-12 17:08] bowlofeggs commented on #1241
I plan to drop anonymous comments in https://github.com/fedora-infra/bodhi/issues/2700.

[2018-12-12 17:10] bowlofeggs commented on #1259
I have not observed this problem since then, so I will close this.

[2018-12-12 17:10] #1259 closed, assigned to nobody

[2018-12-12 17:15] bowlofeggs commented on #1399
@AdamWill Does the current UI show the tests results that you expect?

[2018-12-12 17:30] bowlofeggs commented on #1943
I was talking with misc on Freenode, and he suggested that it might still be nice to be able to manage these settings with Ansible. @nirik also recently added some Ansible automation to get Ansible to automatically change the release settings for branched updates in Bodhi's config file. So we may want to keep these settings in a config file after all, but I'd still much prefer it not to be in vari

[2018-12-12 17:53] nirik commented on #926
Not a problem for me anymore. I suppose any docs could say "see pungi for information on caching"?

[2018-12-12 17:53] AdamWill commented on #2838
openQA relies on the Bodhi fedmsgs to trigger update tests. I'm happy to migrate to fedora-messaging, but I was sort of waiting for some sort of signal or flag day that we were going to start migrating *everything* in infra - for instance, I can't migrate the *compose* test trigger unless Pungi has also started emitting fedora-messaging messages (I don't know if it has), and so on...

[2018-12-12 18:04] AdamWill commented on #2370
The 'no test results shown in Bodhi' bug(s) are fixed now, I think. A [NetworkManager update like this](https://bodhi.fedoraproject.org/updates/FEDORA-2018-03adc6f45c) is a good one to check as it'll be tested by The Pipeline *and* Taskotron *and* openQA, and indeed, you can see results from all three on its 'Automated Tests' tab. The only minor issue I see is that the pipeline tests are shown und

[2018-12-12 18:06] AdamWill commented on #2194
"I think we should also get rid of the negative karma threshold. IIUC, any negative karma currently disables autopush. Thus the negative karma threshold in bodhi is not useful, and should be removed."

This is not all it does, though. -3 karma *automatically unpushes* the update. This is actually quite important and useful, as it means when a *really bad* update gets submitted, a flood of negative

[2018-12-12 20:13] bowlofeggs commented on #2838
@jeremycline can correct me if I am wrong, but as I understand it, there is a bridge that will translate fedora-messaging messages to fedmsg and vice-versa. If I am correct about that, you should still receive fedmsgs, even if Bodhi isn't sending them.

[2018-12-12 20:55] AdamWill commented on #1399
Well we've had a few go-rounds on this, but right now, yes, it works.

[2018-12-12 20:57] AdamWill commented on #824
Well, yeah. Click on the update in the original comment, and it still has the draft testcase at the bottom. The [most recent anaconda update in Bodhi](https://bodhi.fedoraproject.org/updates/FEDORA-2018-2789f6b6e7) (from two months ago) still has this problem.

An alternative theory here is that Bodhi doesn't ever check for pages *leaving* the relevant categories. That is, if it once notices that

[2018-12-12 21:22] bowlofeggs commented on #2606
Bodhi now uses python3-sqlalchemy_schemadisplay on Rawhide, both in CI and in the downstream.

[2018-12-12 21:22] #2606 closed, assigned to nobody

[2018-12-12 21:27] bowlofeggs commented on #2840
This may be due to https://github.com/mozilla/bleach/issues/271 - Bodhi is still using an older version of ```bleach```.

[2018-12-12 21:32] lersek commented on #1455
Can this ticket get some attention please? Please see https://bugzilla.redhat.com/show_bug.cgi?id=1516599#c25 and later comments in that BZ. Thanks!

[2018-12-12 21:36] jeremycline commented on #2838
Indeed, there is a bridge from AMQP to fedmsg and fedmsg to AMQP (and they're currently running in production) so there will be no flag day. You can migrate at your leisure.

[2018-12-12 21:41] bowlofeggs commented on #2838
Fantastic.

On Wed, 2018-12-12 at 13:36 -0800, Jeremy Cline wrote:

Did you pronounce that in your head like "leezure" or "lehzure"?

[2018-12-13 07:20] frenzymadness commented on #637
That's a great achievement and a very nice Christmas gift! Thank you!

[2018-12-13 08:32] abitrolly commented on #637
I am still curious what the issues are?

[2018-12-13 14:46] bowlofeggs commented on #637
@abitrolly The post-release issues that were discovered are documented in the release notes for 3.11.1 and 3.11.2: https://bodhi.fedoraproject.org/docs/user/release_notes.html

[2018-12-14 16:42] sebwoj commented on #2267
In greenwave repo I found something usefull:
https://pagure.io/greenwave/blob/master/f/greenwave/api_v1.py#_253
How waiver information should be printed?
1. Bool value:

[code]

2. Same as for example: comments:
[code]
Example:
[code]
I this case, what information do we need from GW response?

[2018-12-14 18:19] bowlofeggs commented on #2321
There is some interest in having Bodhi autopush all updates to stable when they reach time in testing, or possibly just autokarma updates. To do this, I think we should ask FESCo for approval first, but if that happens we don't need to do anything special for Rawhide.

[2018-12-14 18:27] bowlofeggs opened #2848 "bodhi.server.services.updates.new_update() has an assert statement"
There is an [```assert``` statement](https://github.com/fedora-infra/bodhi/blob/3.11.3/bodhi/server/services/updates.py#L507) in ```bodhi.server.services.updates.new_update()```. This assert looks like it might be important for correct operation, but the problem is that assert statements get stripped out of optimized Python builds (so the statement won't be present in production).

[2018-12-14 18:39] bowlofeggs commented on #2208
The real problem here is that Bodhi's REST API isn't very RESTy. It uses the same URL for creating and editing updates. To signal that you are editing an update, the user includes a key in the JSON with "edited" and the build's title. The REST way to do it would be for the user to POST to the update's URL (i.e., not the ```/updates/``` endpoint, but ```/updates/FEDORA-2018-abcde```).

By making th

[2018-12-14 18:42] sebwoj commented on #2266
I found update with waived information("Automated test" tab):
https://bodhi.fedoraproject.org/updates/FEDORA-2018-03747e0c21

I assume that waived information should be visible on te first tab?

[2018-12-14 18:59] letoams opened #2849 "my testing update has been waiting for 7 days but wont allow me to push to batched/stable ?"
This is currently affecting https://bodhi.fedoraproject.org/updates/FEDORA-2018-7a2cd05640

This update has been submitted for testing by pwouters. 8 days ago

This update has been pushed to testing. 7 days ago

submitted | 8 days ago
-- | --
in testing | 7 days ago
days to stable | 7

[2018-12-14 19:31] bowlofeggs opened #2850 "ConnectionResetError in _wait_for_sync()"
# Workaround

This exception is raised in the code that checks to see if the compose has been synchronized with the mirrors yet, so it is safe to simply resume the compose if this happens.

# The problem

Today several of the Bodhi composes failed in [```_wait_for_sync()```](https://github.com/fedora-infra/bodhi/blob/3.11.3/bodhi/server/consumers/masher.py#L1290-L1344):

[code]

This seems like ju

[2018-12-14 19:41] bowlofeggs commented on #2266
I am currently considering some alternative architectures for test gating and waiver registrations, so I recommend holding off on implementing this ticket or other tickets related to waiverdb or greenwave.

[2018-12-14 19:43] bowlofeggs commented on #2849
Critical path updates require 14 days in testing instead of 7 in Fedora:

https://docs.fedoraproject.org/en-US/fesco/Updates_Policy/#updates-to-critical-path-packages

[2018-12-14 19:43] #2849 closed, assigned to nobody

[2018-12-14 19:44] cverna commented on #2208
You could also make use of the PUT and PATCH HTTP method and follow the [CRUD](https://en.wikipedia.org/wiki/Create%2C_read%2C_update_and_delete) principle.

CREATE an update --> POST
UPDATE an update --> PUT
PARTIAL UPDATE of an update --> PATCH

[2018-12-14 19:55] bowlofeggs commented on #2318
It may be ideal to fix https://github.com/fedora-infra/bodhi/issues/2208 before implementing this change, because the code is kinda hairy as is and we don't want people turning non-side tag updates into side tag updates by editing them.

[2018-12-14 20:37] bowlofeggs opened #2851 "[M] - Bodhi could use a task working system"
Bodhi currently uses some fedmsg consumers to perform background tasks. One problem with this is that fedmsg-hub doesn't have a retry mechanism like Celery does. It also doesn't have a queuing mechanism to allow fanning work out to a pool of workers. I think Celery is likely a decent choice for a system, but it might be worth doing a survey of competing technologies as well.

This should help incr

[2018-12-14 20:39] bowlofeggs commented on #2827
Bugzilla had an outage again today, so I had to patch some more updates manually.

[2018-12-14 22:46] letoams commented on #2849
maybe the webgui could mention this?

[2018-12-14 23:02] bowlofeggs commented on #2849
@letoams it does say that the update has 7 days to stable in the screenshot you posted.

[2018-12-15 07:42] sebwoj commented on #1786
Update: Current response is
`400 Bad Request`

I think that Bodhi is not supporting update status as mutilple query parameter.

[2018-12-15 10:24] sebwoj commented on #2848
After some investigation, I think that it is impossible to reach this line because of:
https://github.com/fedora-infra/bodhi/blob/d1600a16e9bdeeaed9d454f9668010ab8c179511/bodhi/server/validators.py#L306

Related UT:
https://github.com/fedora-infra/bodhi/blob/d1600a16e9bdeeaed9d454f9668010ab8c179511/bodhi/tests/server/services/test_updates.py#L2970

To substitute "assert statement", we can raise Bo

[2018-12-17 14:19] bowlofeggs commented on #2851
Because this requires a significant deployment change, I'm marking it as backwards incompatible.

[2018-12-17 15:00] bowlofeggs opened #2856 "Drop Python 2 support for bodhi.client"
We need to wait until no packages depend on it, but when we are able to we should drop Python 2 support from ```bodhi.client```.

[2018-12-17 16:37] bowlofeggs commented on #2827
This happened many times (I estimate 75-125) over the weekend. I had a chat with one of the Bugzilla admins, and it was suggested that Bodhi try using an API key to access Bugzilla instead of a cookie.

Bodhi only logs in once for the life of its process, so it's possible that Bugzilla cookies expire before the process restarts. I have observed in my web browser that my log in sessions do seem to

[2018-12-17 16:43] bowlofeggs commented on #2827
I have requested an API token for Bodhi here: https://pagure.io/fedora-infrastructure/issue/7446

[2018-12-17 17:58] bowlofeggs opened #2858 "Intermittent test failure in one of Bodhi's fedora-messaging tests"
There's a [test assertion](https://github.com/fedora-infra/bodhi/blob/e30c5f2/bodhi/tests/server/test_notifications.py#L141) in Bodhi that occasionally fails like this:

[code]

The problem seems to be that the ```Message.id``` attribute is not the same between the two messages. We could fix it by either stopping to compare the ```id```, or maybe by contributing an assertion method to ```fedora-me

[2018-12-17 19:42] jeremycline commented on #2858
I think the problem is that the automatically-set ``sent-at`` header is included in the equality check which would explain the intermittent failure. The id shouldn't be included in the equality check and is just a uuid4 so it's quite likely it's never equal.

I can make a PR to delete the header for that bodhi test so you're unblocked and also fix the equality check in fedora-messaging.

[2018-12-17 20:17] jeremycline opened #2859 "btest fails in Vagrant environment"
While checking my work on #2858 I found that the tests in the Vagrant environment fail because a non-ascii character is used without a character encoding declared in a number of files:
[code]
This is only a problem in Python 2. Was the plan to drop Python 2 support? If so I think the fix here is to just drop that from ``btest``.

[2018-12-17 20:44] bowlofeggs commented on #2859
Ah I know what the problem is - the new integration test suite itself is Python 3 only, and btest uses the path ```/home/vagrant/bodhi``` to find tests, rather than ```/home/vagrant/bodhi/bodhi/tests```. Easy fix!

[2018-12-17 21:58] bowlofeggs opened #2863 "An integration test intermittently fails"
I'm not sure why, but I've observed an intermittent failure in one of Bodhi's integration tests:

[code]

That was taken from this log: https://ci.centos.org/job/bodhi-pipeline/job/PR-2862/2/execution/node/103/log/

It usually seems to pass, but fails every now and then. I notice that the asserted text does seem to have dates in it, so that's a possible suspect.

[2018-12-17 22:00] #2827 closed, assigned to bowlofeggs

[2018-12-17 22:11] #2692 closed, assigned to nobody

[2018-12-17 22:11] #2690 closed, assigned to nobody

[2018-12-17 22:11] #2691 closed, assigned to nobody

[2018-12-17 22:11] #2693 closed, assigned to nobody

[2018-12-18 14:18] bowlofeggs opened #2867 "[M] - Give Bodhi a task scheduling system"
Once we've done https://github.com/fedora-infra/bodhi/issues/2851, we should be able to give Bodhi a task scheduling system. This should allow us to get rid of several of the server CLIs, since they exist to be used in cron. Instead of having cron jobs, we can just farm the work out to task workers.

[2018-12-18 15:11] abompard commented on #2833
This should be fixed by PR #2837 .

[2018-12-18 15:13] abompard commented on #2824
Fixed by PR #2837 .

[2018-12-18 15:48] abompard commented on #2834
Fixed in #2837

[2018-12-18 16:09] bowlofeggs opened #2869 "Drop bodhi.server.services.zz_redirects"
This module exists to redirect legacy Bodhi 1 URLs to the Bodhi 2 counterparts, but I don't think we need it anymore. Bodhi 2 is not backwards compatible with Bodhi 1, and Bodhi 4 will also be further incompatible.

[2018-12-18 17:30] abompard commented on #2851
Celery is very much field-tested and now there's a RabbitMQ instance in prod to use it with. I don't think there's anything close in terms of adoption, and it's always good for onboarding to use something well known.

[2018-12-19 02:36] bowlofeggs opened #2870 "Frequent koji.AuthError since switching to Python 3"
I've observed that Koji frequently raises ```koji.AuthError``` since Bodhi switched to Python 3:

[code]

We should catch this and retry. Something like https://github.com/litl/backoff/ might be nice to use to do it.

[2018-12-19 02:39] bowlofeggs commented on #2870
https://bugzilla.redhat.com/show_bug.cgi?id=1609298 may or may not be related, but it's another Koji connection issue under Python 3.

[2018-12-19 02:43] bowlofeggs commented on #2870
I reported this to Koji to see if they know anything: https://pagure.io/koji/issue/1191

[2018-12-19 10:54] abompard commented on #2863
Fixed by PR #2865

[2018-12-19 10:54] #2863 closed, assigned to nobody

[2018-12-19 21:26] edwintorok opened #2874 "Bodhi should block pushing kernel updates where user karma feedback has indicated that it renders the system unusable"
4.19.9-300.fc29.x86_64 is unusable (missing firmware resulting in black screen).
There was user karma feedback saying it doesn't work at all, with negative karma on both questions, and a linked bugreport:
https://bodhi.fedoraproject.org/updates/FEDORA-2018-2645eb8dab#comment-875465

Yet later the update got pushed to stable:
https://bodhi.fedoraproject.org/updates/FEDORA-2018-2645eb8dab#comment-87

[2018-12-19 21:28] bowlofeggs opened #2875 "Negative karma should remove requests for stable/batched if the update was autopushed"
@kparal reported to me that Bodhi will push an update to stable if the update receives negative karma after the request was already set to stable/batched.

We have code to disable autopushing when we receive negative karma, but it doesn't take action if the update is already requested to stable or batched. Of course, we don't want to stop a request if the maintainer submitted the update, so we sho

[2018-12-19 22:17] bowlofeggs commented on #2874
The maintainer decided to push that update to stable. I don't believe Bodhi should override maintainer decisions. It takes human judgement to weigh the risks of pushing vs. holding an update. Consider that this was a security update and the decision may not always be very easy. Should you hold a security update from some users because it doesn't work for others? A computer is not good at making th

[2018-12-19 22:17] #2874 closed, assigned to nobody

[2018-12-19 22:28] edwintorok commented on #2874
Would be good to avoid mixing security updates with updates that change firmware requirements, but that is probably not something bodhi can check, it would be up to the maintainer, I agree.
Having some automated tool to check it might be good though (like taskotron?), but it is probably not obivous how to check from the binary what firmware it requires (initramfs builders sometimes complain about

[2018-12-19 22:59] bowlofeggs commented on #2874
@edwintorok that might be hard to avoid, since Fedora tracks the upstream kernel as closely as is feasible. Upstream often mixes many changes together in any given update. I honestly think the kernel packagers have to make a lot of tough decisions when it comes to updates.

We do have automated testing in Fedora, but the kernel is especially difficult to automatically test because we don't have al

[2018-12-19 23:36] edwintorok commented on #2874
I don't disagree, hence I was looking for source or binary level tests that do not require access to hardware, and could be done at build (or push) time.
I think this is the problematic commit: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=linux-4.19.y&id=39bdb32876df3710825d33b5c455ec2ffa9db64e
Perhaps just diffing the two kernel versions, and grepping for MODULE_FIRM

[2018-12-20 16:35] bowlofeggs commented on #2870
I observed this in the logs:

[code]

That's the same error message as seen in https://bugzilla.redhat.com/show_bug.cgi?id=1609298

[2018-12-20 16:36] bowlofeggs commented on #2870
There is now an infrastructure ticket about this as well: https://pagure.io/fedora-infrastructure/issue/7458

[2018-12-21 22:58] bowlofeggs commented on #2267
Hey @sebwoj!

Good question, I'm not totally sure what all would be useful. Maybe all of the above except for the proxied_by, subject_type, and product_version fields? We don't have to get it perfect on the first try, if we want to add one of those later we can. Thanks for helping out, and I hope you enjoy your holidays if you celebrate any!

[2018-12-23 18:08] sebwoj commented on #2867
How about http://docs.celeryproject.org/en/latest/userguide/periodic-tasks.html?

[2018-12-31 16:04] sebwoj commented on #2223
@bowlofeggs I am not able to reproduce it on F29. Ticket was closed in bugzilla:
https://bugzilla.redhat.com/show_bug.cgi?id=1505326#c7

What more can we do in this topic?

[2019-01-02 18:05] bowlofeggs commented on #2867
On Sun, 2018-12-23 at 10:08 -0800, Sebastian Wojciechowski wrote:

Yeah if we go with Celery, we can use celerybeat. I've used celery for
many years, so it's likely we'll use that, but I think it could be good
to do a quick analysis of other options just to see what else is out
there.

[2019-01-02 20:51] bowlofeggs opened #2892 "An integration test fails when the most recent update does not have a request"
One of the integration tests is [failing](https://ci.centos.org/job/bodhi-pipeline/job/PR-2891/1/execution/node/331/log/) today:

[code]

The integration tests download the database dump from the Fedora infrastructure and use that as input data. We probably shouldn't do that because then our test data is variable which makes it difficult to reproduce problems (for example, I see this error in Cent

[2019-01-02 21:05] sebwoj commented on #2402
After some investigation I found that during obsoletion phase, we skip locked updates
https://github.com/fedora-infra/bodhi/blob/d1defd53e73dc50b3e26dc2920fd3235af260f4b/bodhi/server/models.py#L2306

So, when someone will submitt update that could obsolete update in locked state, obsoletion is omitted.

Updates:
https://bodhi.fedoraproject.org/updates/FEDORA-2018-fee2320d5f
https://bodhi.fedorapro

[2019-01-02 21:23] bowlofeggs commented on #2402
Ah yes, good investigation. Updates are locked while composes are running. This typically takes several hours, but can even take days occasionally (if a compose fails and nobody notices or fixes it). We lock the update because we don't want updates to be modified by any other process while a long running process is working on it.

It's not immediately obvious what the best fix to this would be. We

[2019-01-02 21:33] sebwoj commented on #2402
As long as we have workaround with "unpush" button, I think that second option is fine.
For now we can only add "caveat" when we find "locked" update ready to obsolete, but im not sure if it is worth.

[2019-01-02 21:36] #2892 closed, assigned to bowlofeggs

[2019-01-03 15:01] #2317 closed, assigned to nobody

[2019-01-03 15:58] #2261 closed, assigned to nobody

[2019-01-05 00:50] #1165 closed, assigned to nobody

[2019-01-05 02:12] #1897 closed, assigned to nobody

[2019-01-05 09:44] sebwoj commented on #2402
It looks like duplication of #1087

[2019-01-05 10:04] sebwoj opened #2902 "Inexisting update state(Revoked) in docs"
https://bodhi.fedoraproject.org/docs/user/update_states.html#revoked

As far as I know "revoke" is only action.
So, can we remove it from docs, or the following line:
https://github.com/fedora-infra/bodhi/blob/develop/bodhi/server/models.py#L2587
should be changed?

[2019-01-05 14:51] #2858 closed, assigned to nobody

[2019-01-05 17:59] sebwoj commented on #1029
Based on:
https://github.com/fedora-infra/bodhi/blob/a1a3cdd4089acd3e2477d5375f01e211585a5711/bodhi/server/schemas.py#L234
Can we drop False/True/None values and assume that db stable_karma value should be INT and not None?

[2019-01-06 04:21] #2826 closed, assigned to nobody

[2019-01-06 12:50] sebwoj commented on #2208
It looks like that "overrides" and "releases" apis are not RESTy as well.

[2019-01-06 16:07] sebwoj opened #2903 "Remove deprecated Update.old_updateid"
SSIA

[2019-01-07 12:57] #2204 closed, assigned to nobody

[2019-01-07 14:01] bowlofeggs commented on #2902
We should correct the docs to reference the state that happens when an update is revoked.

[2019-01-07 14:03] bowlofeggs commented on #1029
@sebwoj yeah that's the proposal - we should enforce ```stable_karma``` being an ```int``` everywhere.

[2019-01-07 15:07] #1200 closed, assigned to nobody

[2019-01-07 18:07] #1970 closed, assigned to bowlofeggs

[2019-01-07 18:07] #2759 closed, assigned to bowlofeggs

[2019-01-07 22:30] #2267 closed, assigned to nobody

[2019-01-08 12:29] #1016 closed, assigned to nobody

[2019-01-08 13:15] #2271 closed, assigned to nobody

[2019-01-08 13:47] #2031 closed, assigned to nobody

[2019-01-08 16:03] sebwoj commented on #2859
@bowlofeggs Can we close this issue? I have no idea why mergify skip closing it.

[2019-01-09 17:58] bowlofeggs opened #2913 "Consider dropping the fedmsg integrations from the web interface"
Bodhi's web interface has some integrations with fedmsg to show popups of current activity in Bodhi. I'm not sure if these integrations are useful and they do require some special security treatment in the browser, and also inflate the amount of JavaScript we need to maintain.

If it's not useful, perhaps we should drop it.

[2019-01-09 18:00] bowlofeggs commented on #2913
I started a thread on Fedora's devel list to ask if anyone finds this useful:

https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/TLHKXLEMGYZHGQVOX7GZ2YVB2IIHYGEP/

[2019-01-10 19:52] bowlofeggs commented on #344
This feature is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 19:53] bowlofeggs commented on #2261
This feature is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 19:54] bowlofeggs commented on #2537
This feature is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 19:54] bowlofeggs commented on #2317
This feature is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 19:54] bowlofeggs commented on #2267
This feature is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 19:55] bowlofeggs commented on #2031
This fix is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 19:56] bowlofeggs commented on #1798
This feature is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 19:57] bowlofeggs commented on #1792
This feature is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 20:01] bowlofeggs commented on #2698
This fix is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 20:01] bowlofeggs commented on #2528
This fix is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 20:02] bowlofeggs commented on #2271
This fix is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 20:40] bowlofeggs commented on #1016
This fix is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 20:41] bowlofeggs commented on #1807
This feature is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-10 20:41] bowlofeggs commented on #1737
This fix is planned for inclusion in Bodhi 3.13: #2917.

[2019-01-11 12:28] bowlofeggs commented on #2859
@sebwoj Mergify doesn't close issues, GitHub does. I see that the commit message says "Fixes #2859", but the pull request (#2866) doesn't. Perhaps GitHub only closes issues if the pull request description has that text? Not sure.

Either way, it is good to use that text in both the commit message and pull request description so the git log has it and so the pull request is linked to the issue (tho

[2019-01-11 12:28] #2859 closed, assigned to nobody

[2019-01-11 17:16] sebwoj commented on #2859
Good to know :)

[2019-01-14 15:20] #2420 closed, assigned to nobody

[2019-01-14 18:04] bowlofeggs commented on #2856
No packages depend on the Python 2 version of Bodhi in Fedora 30 now.

[2019-01-15 11:21] #1985 closed, assigned to bowlofeggs

[2019-01-15 12:17] #2024 closed, assigned to nobody

[2019-01-15 12:36] #2316 closed, assigned to nobody

[2019-01-15 12:36] #2815 closed, assigned to nobody

[2019-01-15 13:02] #2171 closed, assigned to nobody

[2019-01-15 13:13] #2869 closed, assigned to nobody

[2019-01-15 13:27] #2903 closed, assigned to nobody

[2019-01-15 13:38] #2588 closed, assigned to ryanlerch

[2019-01-15 15:49] #2782 closed, assigned to nobody

[2019-01-15 16:28] kparal commented on #2401
I see the same error when trying to install `bodhi-client-3.11.0` from pypi:
[code]
This is a blocker for us in Taskotron test suite when trying to transition from `python-fedora` to `bodhi-client`. Can this be fixed soon, please?

[2019-01-15 17:44] bowlofeggs commented on #2838
@abompard @jeremycline is there anything like fedmsg-hub for fedora messaging? I've got a few message consumers in Bodhi. Most of them would actually be better to replace with Celery, but there is one listener that looks for messages from robosignatory so Bodhi knows when builds are signed.

If there isn't a fedmsg-hub equivalent, I guess I could just make my own process that listens on the robosi

[2019-01-15 18:32] abompard commented on #2838
@bowlofeggs You can either write a small script to call the listening API, or use the `fedora-messaging` command line and point it at a python callback. Docs and examples are here: https://fedora-messaging.readthedocs.io/en/stable/tutorial/usage.html#listening

[2019-01-15 18:32] jeremycline commented on #2838
Yes, the command is ``fedora-messaging consume`` (https://fedora-messaging.readthedocs.io/en/stable/fedora-messaging.html), although it looks like https://fedora-messaging.readthedocs.io/en/stable/consuming.html isn't linked to it which it probably should

[2019-01-16 10:56] abitrolly commented on #2261
Is there a ticket to track deployment of 3.13 to test the implementation?

[2019-01-16 11:35] bowlofeggs commented on #2261
@abitrolly there's not a ticket for the deployment. I attempted to deploy it on Monday, but hit a [disk space issue](https://pagure.io/fedora-infrastructure/issue/7504). It seems that is resolved now, so I may be able to get it deployed soon.

[2019-01-16 11:42] bowlofeggs opened #2934 "Refactor integration tests to create their own data"
Right now the integration tests load database data from production and then perform some tests on the server using that data. This is problematic because the production data changes every day, which leads to test inconsistencies.

It would be better if we instead loaded predictable data into the integration test database (similar to what we do in the unit tests. Then we can be sure of our precondi

[2019-01-16 13:10] abompard commented on #2934
For now I disagree with that. Production data is indeed non-predictable, but that's the data that the next version of Bodhi is going to be running with. If there is an unexpected situation in the production data that causes a crash in Bodhi, I'd be happy to see the integration tests fail. And we can't anticipate those situations by feeding the tests controlled data (by definition).
I think that co

[2019-01-16 15:10] bowlofeggs commented on #589
I don't believe this happens anymore.

[2019-01-16 15:10] #589 closed

[2019-01-17 09:19] #2241 closed, assigned to bowlofeggs

[2019-01-17 09:51] bowlofeggs commented on #2537
This feature is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:51] bowlofeggs commented on #2317
This feature is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:51] bowlofeggs commented on #2267
This feature is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:51] bowlofeggs commented on #2031
This fix is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:52] bowlofeggs commented on #1798
This feature is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:52] bowlofeggs commented on #1792
This feature is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:52] bowlofeggs commented on #1016
This fix is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:53] bowlofeggs commented on #1737
This fix is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:53] bowlofeggs commented on #1807
This fix is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:54] bowlofeggs commented on #2271
This fix is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:54] bowlofeggs commented on #2528
This fix is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:54] bowlofeggs commented on #2698
This fix is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 09:58] bowlofeggs commented on #2261
This fix is now deployed to staging: https://bodhi.stg.fedoraproject.org/docs/user/release_notes.html

It is also available via Copr: https://copr.fedorainfracloud.org/coprs/bowlofeggs/bodhi-pre-release/

[2019-01-17 11:51] bowlofeggs commented on #2848
@sebwoj yeah that seems solid to me. I think we can just drop the ```assert``` statement.

[2019-01-17 12:08] abitrolly commented on #2261
Not fixed. I don't see any info how to test this update - https://bodhi.stg.fedoraproject.org/updates/FEDORA-MODULAR-2019-a240824f88

[2019-01-17 12:22] bowlofeggs commented on #1508
Related: https://github.com/fedora-infra/bodhi/issues/1888

[2019-01-17 12:59] bowlofeggs opened #2937 "Add instructions for how to install modules"
Similar to #2261, we should add install instructions to the update UI for modules.

[2019-01-17 12:59] bowlofeggs opened #2938 "Add instructions for how to install containers"
Similar to #2261, we should add install instructions to the update UI for containers.

[2019-01-17 13:00] bowlofeggs opened #2939 "Add instructions for how to install flatpaks"
Similar to #2261, we should add install instructions to the update UI for flatpaks.

[2019-01-17 13:00] bowlofeggs commented on #2261
@abitrolly ah yes, I forgot that the patch only works for RPM packages. Here's an example RPM update that has the dnf install instructions:

https://bodhi.stg.fedoraproject.org/updates/FEDORA-2019-86217cbcd3

As bodhi now supports four content types, each needs unique instructions for how to test. Rather than reopening this particular ticket, I've created these to track this request for each of th

[2019-01-17 13:58] abitrolly commented on #2261
Screenshot for the history.

![image](https://user-images.githubusercontent.com/8781107/51323372-13610080-1a79-11e9-806b-cb51cc693691.png)

[2019-01-17 14:04] abitrolly opened #2941 "Deliverables should have their own types and icons"
I've just discovered that Bodhi hosts [different types of artifacts](https://github.com/fedora-infra/bodhi/issues/2261#issuecomment-455163920).

* packages
* modules
* containers
* flatpaks

This could be more obvious if they had personal mnemonics or/and at distinct color.

Then they could be grouped into big parent "Fedora 29" div on the front page. Right now they are not grouped.

![image](http

[2019-01-17 16:47] bowlofeggs commented on #2870
I think this was fixed in the Koji tracker.

[2019-01-17 16:47] #2870 closed, assigned to nobody

[2019-01-19 14:11] sebwoj opened #2947 "Drop compatibility with bodhi1"
I found many code comments where bodhi1 is mentioned, like:
https://github.com/fedora-infra/bodhi/blob/b64d82ce0fff8284164348c6f1d280191f908e7f/bodhi/server/models.py#L3588

Since Bodhi 4.0 is on the way, can we drop bodhi1 compatibility?

[2019-01-19 14:43] sebwoj opened #2948 "Use assert methods from unittest instead of clean "assert" in tests"
SSIA

[2019-01-20 15:08] sebwoj opened #2955 "Update.display_name seems to be unused"
I'm not able to check all DB updates(DB query takes too much memory), but each update in
state: pending, testing, obsolete, unpushed, has empty display_name.

[2019-01-20 15:13] sebwoj commented on #2955
Now I see that this field is a part of 24953bd2f (side tags).

[2019-01-22 12:27] #2824 closed, assigned to nobody

[2019-01-22 12:27] #2829 closed, assigned to nobody

[2019-01-23 13:04] bowlofeggs opened #2956 "TypeError when starting the Composer when pungi.cmd, mash_dir, or mash_stage_dir are None"
If the Composer is started when ```pungi.cmd```, ```mash_dir```, or ```mash_stage_dir``` are ```None```, the Composer crashes:

[code]

[2019-01-24 10:34] sebwoj opened #2958 "Update.greenwave_unsatisfied_requirements seems to be unused"
Since talking to GW is handled by js, and Bodhi is working only based on GW decision, Update.greenwave_unsatisfied_requirements  seems to be unused.

[2019-01-25 17:35] sebwoj opened #2964 "Update.require_bugs seems to be unused"
SSIA

[2019-01-25 17:36] sebwoj opened #2965 "Update.require_testcases seems to be unused"
SSIA

[2019-01-27 13:03] mattiaverga opened #2966 "Bodhi metrics page is broken"
Both in staging and production, visiting the Bodhi metrics page throws a 500 Error:
https://bodhi.fedoraproject.org/metrics
`'NoneType' object has no attribute 'groups'`

[2019-01-28 08:05] abompard commented on #2833
PR #2837 is merged, closing this.

[2019-01-28 08:05] #2833 closed, assigned to nobody

[2019-01-28 08:08] abompard commented on #2834
PR #2837 is merged, closing this.

[2019-01-28 08:08] #2834 closed, assigned to nobody

[2019-01-29 14:15] abompard commented on #2934
After discussing this with Randy, he seems to agree that prod data is better suited for integration tests. Can we close this issue?

[2019-02-04 17:00] bowlofeggs opened #2974 "Document the ComposeStates"
I realized today that our docs don't describe the various ComposeStates. It would be good to add that to the administration section of our docs so that administrators have descriptions of what the various states mean. This would be helpful for debugging when composes get stuck in various states. For example, today the backend had trouble using the database and composes got stuck in the submitted s

[2019-02-04 19:42] #2850 closed, assigned to nobody

[2019-02-04 21:30] #1998 closed, assigned to bowlofeggs

[2019-02-05 15:48] bowlofeggs opened #2976 "Sometimes the integration tests fail to stop their containers"
I've been seeing a problem somewhat frequently this week where the integration tests sometimes fail like this:

[code]

Unfortunately, it seems that this traceback is causing us not to get the information about the test that was running, as it seems to be a failure in the test cleanup code, or something along those lines.

It does seem to often, or possibly always, be the act of killing the Greenw

[2019-02-05 15:53] bowlofeggs opened #2977 "Drop the batching feature"
Unfortunately, the batching feature was pretty controversial among the Fedora community and we were unable to garner enough support to keep it. FESCo has [voted](https://pagure.io/fesco/issue/1820) to remove it.

I would personally like to keep the feature, but I would also prefer not to have to maintain it if Fedora is not going to use it.

[2019-02-05 18:48] bowlofeggs commented on #2976
It turns out that Greenwave is failing to start because they refuse to start if a particular config is present. The warning says that the config is "deprecated", but "deprecated" should not mean that it refuses to start. "deprecated" means that it will be removed in a future release. I will file a ticket with them about that.

[2019-02-05 19:18] bowlofeggs commented on #2976
This is the error from Greenwave:

[code]

[2019-02-05 19:21] bowlofeggs commented on #2976
I reported the misuse of the word deprecated here: https://pagure.io/greenwave/issue/383

[2019-02-05 22:12] bowlofeggs commented on #2941
Yeah they are not grouped because in Bodhi's modeling they are considered to be entirely separate releases. So even though they all start with "Fedora 29", Bodhi does not consider them to be related in any way.

If we wanted to make them have a relationship, I suppose we could great a ReleaseGroup object or something along those lines. I'm not sure what features this would enable though. What use

[2019-02-05 22:31] bowlofeggs opened #2978 "[M] Give Bodhi automation to push based on time in testing"
Right now Bodhi has the ability to push updates to stable when they reach a karma threshold, but updates that reach the time in testing need to be manually pushed by a packager.

This RFE is about giving Bodhi the ability to automatically push the update to stable when it reaches the time in testing, so long as it does not have any negative karma (negative karma currently stops autopushing based o

[2019-02-06 01:05] abitrolly commented on #2941
The primary case is that making information more readable will make more users willing to discover the differences between different choices available for their OS version, leading into better conversion to developers in the long term.

[2019-02-06 14:55] bowlofeggs commented on #2947
Yeah I think we can drop bodhi1 compatibility with Bodhi 4. Thanks!

[2019-02-06 15:06] bowlofeggs commented on #2955
Yeah this was added at the request of @ryanlerch - he wanted users to be able to set a display name for updates. I think the idea was that Bodhi would default to using the NVRs as it does today, but that users could optionally override it to say something more meaningful if they wanted.

The side tag plans evolved quite a bit recently and I'm not sure the display name is needed as part of that eff

[2019-02-06 16:47] sebwoj opened #2979 "Missing TestCases in some packages"
Example:

For both packages, `fetch_test_cases` returns testcase name:`QA:Testcase base initial setup`.
But  we keep only one DB object with name `QA:Testcase base initial setup`, binded to package with id 5876(gnome-initial-setup).
Calling `fetch_test_cases`, Bodhi is trying to find TC with proper name, but omit to check related package id binded to TC. When several packages have TC with the same

[2019-02-06 17:52] #2976 closed, assigned to bowlofeggs

[2019-02-06 20:14] bowlofeggs commented on #2934
Yep, thanks @abompard!

[2019-02-06 20:14] #2934 closed, assigned to nobody

[2019-02-06 20:34] sebwoj opened #2980 "Remove python-fedora-api-test.py"
Since integration tests are finished, can we remove it from tools?

[2019-02-07 16:05] bowlofeggs commented on #2980
Yeah. Frankly I don't use anything in the ```tools/``` folder and it seems likely that many of them are broken by changes in Bodhi over the years.

[2019-02-07 17:00] bowlofeggs opened #2983 "The integration tests use the same name for the test network"
I noticed today that there was an exception while cleaning up the test network in the integration suite:

[code]

I think we can fix this by using a UUID in the network name so that parallel runs of the test suite don't try to remove networks that the others are still using.

[2019-02-07 18:45] #2848 closed, assigned to nobody

[2019-02-08 08:57] #2983 closed, assigned to bowlofeggs

[2019-02-10 16:02] sebwoj opened #2988 "Update.greenwave_summary_string seems to be unused"
SSIA

[2019-02-11 22:10] bowlofeggs opened #2991 "Intermittent pgsql related integration test failure"
I've been observing an occasional integration test failure. Here is an [example](https://ci.centos.org/job/bodhi-pipeline/job/PR-2990/1/execution/node/536/log/):

[code]

[2019-02-12 08:46] #2523 closed, assigned to bowlofeggs

[2019-02-12 08:51] abompard commented on #2991
I'm seing `psql: FATAL:  the database system is starting up`, so it may be useful to either add a sleep call or better, a call to `pg_isready` in a loop.

[2019-02-12 14:18] bowlofeggs commented on #2991
On Tue, 2019-02-12 at 00:51 -0800, Aurélien Bompard wrote:

+1

[2019-02-12 14:40] bowlofeggs commented on #1794
The database model does have a foreign key to a package, though does not put a uniqueness constraint on the name. So the name isn't unique, but a model using that name can only reference one package.

[2019-02-12 14:46] bowlofeggs commented on #1794
Ugh, and the code is querying for existing test cases by *name*, even though that's not unique in the db or wiki. Fun!

[2019-02-12 14:53] bowlofeggs commented on #1794
This keeps getting more fun. The TestCase model is also associated with the *package*, not an update (i.e., kind of a set of package instances). This means that it would actually be wrong to remove a test case from a Package, because that would remove it from historic updates too.

It seems like it would be more logical to associate TestCases with Updates, or even Builds (a Build is essentially an

[2019-02-12 15:38] bowlofeggs commented on #2051
We are dropping the batching feature in https://github.com/fedora-infra/bodhi/issues/2977 so I will close this issue. Thanks for the suggestion!

[2019-02-12 15:38] #2051 closed, assigned to nobody

[2019-02-12 15:39] bowlofeggs commented on #2048
We are dropping the batching feature in #2977 so I will close this issue. Thanks for the report!

[2019-02-12 15:39] #2048 closed, assigned to nobody

[2019-02-12 15:39] bowlofeggs commented on #1905
We are dropping the batching feature in #2977 so I will close this issue. Thanks for the report!

[2019-02-12 15:39] #1905 closed, assigned to nobody

[2019-02-12 15:39] bowlofeggs commented on #1895
We are dropping the batching feature in #2977 so I will close this issue.

[2019-02-12 15:39] #1895 closed, assigned to nobody

[2019-02-12 17:46] AdamWill commented on #1794
you're welcome ;)

[2019-02-13 06:54] abitrolly opened #2998 "Templating logic in the model"
I revisited my failed attempt https://github.com/fedora-infra/bodhi/pull/2155 to add link to more information about updated package such as https://apps.fedoraproject.org/packages/qesteidutil to update page and after grepping the source found that update model contains templating logic.

https://github.com/fedora-infra/bodhi/blob/a2f925d7aedbc9057634ff4129f129f45dfe7b54/bodhi/server/models.py#L237

[2019-02-13 15:22] bowlofeggs commented on #2998
Yeah, it's a little awkward to have HTML-aware code in the model. I think it would probably be cleaner if it just had a nice rendering of a human readable title and then have the template code fix the & character as needed with a filter.

[2019-02-13 18:43] abitrolly commented on #2998
It will be cleaner if model just exposed all the names, and allow the actual formatting to be done in the template. For example, it is missing `packages' array with names such as `qesteidutil` that the update instance covers. Can updates cover separate issues?

There is also a separate issue that it is impossible to trace to model from the template. There is no explicit link in the source code and

[2019-02-14 09:10] #2991 closed, assigned to nobody

[2019-02-15 17:32] bowlofeggs opened #3007 "[L] Bodhi should be able to automatically create updates when builds are tagged into Koji tags"
When Bodhi sees Koji builds getting tagged for a Release, it should automatically create updates for those builds.

In order to achieve this, we will need the following:

* A fedora-messaging listener that looks for builds getting tagged into particular tags, creating updates for those tags automatically.
* The update creator should be set to whichever FAS user created the build.
* Looks at the ch

[2019-02-15 17:50] bowlofeggs opened #3008 "[M] Bodhi should respond synchronously to Greenwave decisions"
Bodhi currently polls Greenwave to find out its gating decisions, using ```bodhi/server/scripts/check_policies.py```. This isn't great, because the web interface polls Greenwave on every load, which means that there can be a lag between Bodhi's front end and back end on the decision.

We should add a fedora-messaging consumer that processes decisions from Greenwave. It should update the same infor

[2019-02-15 18:02] bowlofeggs opened #3009 "[S] - API users should be able to create updates based on Koji side tags"
Bodhi currently allows users to create updates by specifying a list of builds via the API. In order to support Rawhide gating without addition additional steps to packagers for Rawhide packaging*, we will need to provide a way for packagers to create multi-build updates. In #3007 we are planning to automatically create updates when we see builds tagged into particular Koji tags. That will work for

[2019-02-15 18:05] bowlofeggs commented on #2611
I think #3008 will make this unnecessary.

[2019-02-15 18:05] #2611 closed, assigned to nobody

[2019-02-15 18:09] bowlofeggs commented on #2318
This is superseded by #3009.

[2019-02-15 18:09] #2318 closed, assigned to bowlofeggs

[2019-02-15 18:10] bowlofeggs commented on #2320
Bodhi will not be responsible for ensuring that side tags don't stick around for too long with the current plan.

@pypingou agreed?

[2019-02-15 18:10] #2320 closed, assigned to nobody

[2019-02-15 18:13] bowlofeggs opened #3010 "Bodhi should merge koji side tags when the update is ready to go to stable"
When a side tag update's tests pass and the release stabilization criteria are met, Bodhi should merge the Koji side tag into the Release's target tag and then mark the update as stable.

[2019-02-15 18:14] bowlofeggs commented on #3010
Duplicate of #2319.

[2019-02-15 18:14] #3010 closed, assigned to nobody

[2019-02-15 19:54] bowlofeggs commented on #1792
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:54] bowlofeggs commented on #1798
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:54] bowlofeggs commented on #2031
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:54] bowlofeggs commented on #2267
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:54] bowlofeggs commented on #2317
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:54] bowlofeggs commented on #2537
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:55] bowlofeggs commented on #1016
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:55] bowlofeggs commented on #1737
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:56] bowlofeggs commented on #1807
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:56] bowlofeggs commented on #2271
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:56] bowlofeggs commented on #2528
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 19:56] bowlofeggs commented on #2698
Bodhi 3.13.0 has been released:

https://github.com/fedora-infra/bodhi/releases/tag/3.13.0

Fedora Infrastructure plans to deploy it to production on Monday.

[2019-02-15 20:04] bowlofeggs commented on #2321
I think we will go with #2978 instead of this ticket.

[2019-02-15 20:05] #2321 closed, assigned to nobody

[2019-02-15 20:05] bowlofeggs commented on #2978
We need this for Rawhide Gating too, so that updates get moved to stable automatically when the CI tests pass on Rawhide.

[2019-02-15 21:01] bowlofeggs commented on #2328
Closing in favor of #3007.

[2019-02-15 21:01] #2328 closed, assigned to nobody

[2019-02-15 21:25] bowlofeggs opened #3011 "[L] We need a functioning Greenwave and WaiverDB in the development environment"
It is currently very difficult to develop against Greenwave and WaiverDB. There isn't test data in staging, and so we can't test them there, and we obviously don't want to write waivers to the production WaiverDB  during development. We need to have the Vagrant environment provision both of these, and provide an easy way for Bodhi developers to simulate failing tests and set policies.

[2019-02-16 18:18] sunn-e commented on #2413
Is this still open? I might give it a try.Will that be fine.

[2019-02-17 05:52] QuLogic commented on #1809
Still an issue, but this is actually a duplicate of #842.

[2019-02-18 16:13] bowlofeggs commented on #2413
@sunn-e sure

[2019-02-18 16:15] bowlofeggs commented on #1809
I agree that #842 would help solve this problem, but I'm not sure it's exactly a duplicate of this due to the unpushed nature here (the other ticket is about merging two active updates into one).

[2019-02-18 17:56] bowlofeggs opened #3016 "AttributeError: Bug object has no attribute 'private'"
Now that 3.13.0 is in production, I've started to receive tracebacks from bodhi-backend02 related to the patch in #2714. It seems that we either need to ask for the "private" attribute of bugs from Bugzilla, or some other solution if that does not exist:

Message
-------
[2019-02-18 17:04:54][     bodhi   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend02.phx2.fedoraproject

[2019-02-18 19:55] tmzullinger opened #3017 "install instructions for EPEL releases should use yum instead of dnf"
The addition of the install instructions (#2799) were deployed with 3.13.0.  They should use `yum` as the command rather than `dnf` for EPEL.  I believe if they use the `--advisory` option they would need to tell users that requires the yum security plugin. I don't use that option, so someone more familiar would need to look at the details.

[2019-02-18 20:15] tmzullinger commented on #3017
It looks like the `--advisory` option works by default in yum for EL7 (tested on a CentOS-7 container and RHEL-7 VM).  The test I used was:

[code]

For EL-6 the option requires `yum-plugin-security`.

Also of note is that `updates-testing` should be `epel-testing` for the EPEL updates template.

[2019-02-18 21:27] bowlofeggs commented on #3016
Hello @mattiaverga!

This patch got deployed to production today, and there seems to be a problem because the Bug object doesn't seem to have a ```private``` attribute.

When I read the Bugzilla docs, I don't see mention of there being such an attribute on bugs (I do see one on comments):

https://www.bugzilla.org/docs/4.4/en/html/api/Bugzilla/WebService/Bug.html#get

I did try adding an ```includ

[2019-02-18 21:33] bowlofeggs commented on #3016
It seems that if we access a private bug, we get an Exception (and not a ```private``` attribute):

[code]

I think the fix here is probably to refactor to catch the ```xmlrpc.client.Fault``` and use that as the indicator that the bug is private, rather than the attribute used now.

[2019-02-18 21:53] bowlofeggs commented on #3016
Ah, I think I see what is going on. There are two models involved for a ```Bug```: one from Bodhi's own database, and one from the ```python-bugzilla``` API. The one from Bodhi's database *does* have a ```private``` attribute, added in #2714, but the one from bugzilla does not. One line in ```bugs.py``` that uses the ```private``` attribute is interacting with the Bodhi database model and the othe

[2019-02-19 02:56] bowlofeggs opened #3021 "bodhi-approve-testing should only log errors"
In #2804 we set up a log handler for ```bodhi-approve-testing```, but it logs at ```INFO``` level to the console. This causes cron to e-mail admins when the jobs runs.

We should adjust it to only log at ```ERROR``` level.

[2019-02-19 03:38] #3016 closed, assigned to bowlofeggs

[2019-02-19 08:40] mattiaverga commented on #3016
AH, sorry for that, indeed I confused the two bug models.
In fact, I managed the 102 Fault only in bugs.update_details(), while in the other functions I thought to act on Bodhi bug model. I should have managed all those with the same try/except clause...

[2019-02-19 09:45] ppisar opened #3022 "Submitting a new update dies: (psycopg2.IntegrityError) null value in column "private" violates not-null constraint"
When submitting an update for a new RPM build using a bodhi client, the request dies with an psycopg2 error message sent as an HTML document:

[code]

Performing the same operation from a web interface results in no response after pressing the "Submit" button.

[2019-02-19 10:22] ellert opened #3023 "Can not add bugzilla reference"
I tried to add a reference to https://bugzilla.redhat.com/show_bug.cgi?id=1678129 in the bodhi update https://bodhi.fedoraproject.org/updates/FEDORA-2019-23ed568d47 but was not successful.
I pressed Edit, entered the RHBZ number and pressed + and the bug number appeared in the list with the checkbox ticked. Then I pressed Save and the spinning wheel appeared as if the request was being processed.

[2019-02-19 14:53] bowlofeggs opened #3024 "400 Bad Request when associating bugs with updates"
When I fixed #3016 yesterday, I ended up reverting the commit https://github.com/fedora-infra/bodhi/commit/be369636529f3d637f9888bf658d77adac2e9b8b. I opted not to remove the new private field, since technically it became part of the API, if even for only a day, and that would be a backwards incompatible change. Instead, I wrote a migration to drop the field for the upcoming 4.0.0 release.

The pr

[2019-02-19 15:00] bowlofeggs opened #3025 "The word "rpm" is appearing after update descriptions"
FranciscoD on Freenode reported that the word "rpm" is appearing after the update description on https://bodhi.fedoraproject.org/updates/FEDORA-2019-cb3b8e1c2c. Here's a screenshot:

![screenshot from 2019-02-19 09-59-44](https://user-images.githubusercontent.com/354506/53024447-1a3eb280-342d-11e9-92a3-522206b268cc.png)

I also observed this on https://bodhi.fedoraproject.org/updates/dino-0.0-0.3.

[2019-02-19 15:41] bowlofeggs commented on #3024
# Workaround

If you are experiencing this problem, a workaround is to avoid associating bugs with your updates until we can get this fixed.

[2019-02-19 17:12] #3024 closed, assigned to bowlofeggs

[2019-02-19 18:25] bowlofeggs commented on #3016
On Tue, 2019-02-19 at 00:40 -0800, Mattia Verga wrote:

It's OK - I also confused them when I reviewed the patch, so it wasn't
just you ☺

[2019-02-19 18:27] bowlofeggs commented on #3022
Hey @ppisar!

This was fixed in https://github.com/fedora-infra/bodhi/pull/3028. Thanks for the report!

[2019-02-19 18:27] #3022 closed, assigned to nobody

[2019-02-19 18:32] bowlofeggs commented on #3023
Hi @ellert,

This was fixed by https://github.com/fedora-infra/bodhi/pull/3028, which I expect to release and deploy later today. Thanks for the report!

[2019-02-19 18:32] #3023 closed, assigned to nobody

[2019-02-19 19:17] #3025 closed, assigned to nobody

[2019-02-20 09:37] pypingou commented on #2320
@bowlofeggs agreed, I'll track this somewhere so we do not forget about it

[2019-02-20 16:50] bowlofeggs opened #3035 "Bodhi's update create form does not gracefully handle errors from the backend"
When users were hitting https://github.com/fedora-infra/bodhi/issues/3024, the web form's submit button would spin until it hit the error and then it would stop spinning, but no error was reported to the user. This made it non-obvious that there was a problem, and also made it more difficult to determine what the real problem was.

The web form (and all of Bodhi's forms) should be able to display

[2019-02-20 16:52] bowlofeggs opened #3036 "When the CLI hits a server error, it prints out a lot of HTML"
The Bodhi CLI prints out a lot of HTML when it hits server errors, such as what happened in #3024. The server should not return HTML upon requests from the CLI, but instead should return a standardized error struct (which needs to be defined as part of solving this issue). Then the CLI should look for this error struct and format the error in a human readable fashion.

[2019-02-21 16:31] sebwoj commented on #2977
@bowlofeggs Can we close it?

[2019-02-21 16:32] sebwoj commented on #3035
It looks like duplication of #2312

[2019-02-22 14:47] bowlofeggs opened #3037 "As a CLI user, I can edit the list of builds in an update"
I just noticed that ```bodhi updates edit``` does not let you add or remove builds from an update. We should give it the ability to alter the set of builds on an update.

[2019-02-25 03:12] QuLogic opened #3039 "\* in install instructions does not work"
Looking at [this update](https://bodhi.fedoraproject.org/updates/FEDORA-2019-050d9fdc17), the install instructions are:

However, this does not work:
[code]

[2019-02-25 17:29] bowlofeggs opened #3040 "The search box results for packages links to users"
If you click the search box in the upper right hand corner and type "ejabberd", you will get some matches on packages and updates. If you click on the ejabberd package result, it will take you to ```/users/ejabberd```, when it should take you to a view that shows you updates that pertain to that package.

I believe it is due to this code:

https://github.com/fedora-infra/bodhi/blob/09dc4c3808f28eb

[2019-02-26 00:29] ryanlerch commented on #3040
@bowlofeggs are you able to reproduce this on bodhi.fp.o? i can reproduce on my vagrant setup, but not on live.

[2019-02-26 03:25] ryanlerch commented on #2724
It appears that it is *possible* to use other formats for the configuration file, since the introduction of plaster into pyramid:

https://docs.pylonsproject.org/projects/plaster/en/latest/
https://github.com/Pylons/pyramid/pull/2985

however, it seems the only current loader that is implemented is the PasteDeploy loader for ini files, so a YAML or TOML loader would have to be implemented it seems

[2019-02-26 08:49] mattiaverga commented on #3039
I think that's because the update has not yet reached the mirrors. In fact I can reproduce the same output by using the most recent newpackage updates, while with older updates it just works:
[code]
This also happens for other upgrade types:
[code]
Unfortunately, I have no idea how to avoid displaying the update command until we are sure the update hits the mirrors. At the moment we just choose to

[2019-02-26 10:36] sebwoj opened #3041 "Remove updateid from update's query parameters"
Since update's query parameters: `updateid` and `alias` refers to the same update field, we can get rid of `updateid`.

[2019-02-26 16:48] sebwoj commented on #3040
@ryanlerch
The problem is that in prod/stg `package.stack` exists, but in Vagrant Bodhi env not.
And as Package and User both have `name`, in Vagrant we get `/user` instead od `/package`

[2019-02-26 18:11] bowlofeggs opened #3044 "Bodhi should only block updates when Greenwave returns a NOGO response"
Currently Bodhi will only allow updates to proceed to repositories if Greenwave gives back a GO response. This means that updates will be blocked from proceeding if Greenwave raises an Exception, which has been [happening often recently](https://pagure.io/greenwave/issue/388). Due to the frequent nature of these errors, it is most sensible to adjust Bodhi such that it will only block an update if

[2019-02-28 15:46] pypingou commented on #3044
FTR, this does mean if the cron job runs while the service is being restarted, upgraded or during a reboot or openshift or anything like this, all updates will go through.

[2019-02-28 17:42] bowlofeggs commented on #3040
@ryanlerch yeah it's only reproducible in dev - it's a regression from when I removed the stacks feature in #2241 - I must have missed this JS (my mistake).

[2019-02-28 20:48] bowlofeggs commented on #3044
Of course. We can't tell the difference between those scenarios and it failing for other reasons, but we are going to be correct in almost all cases that it is a failure in Greenwave and not infrastructure. With this patch, at least we can gate some of the time correctly.

We cannot pass the pain of an architectural choice on to our volunteer packagers. When forced to choose between easing the wor

[2019-02-28 21:46] #3044 closed, assigned to bowlofeggs

[2019-02-28 21:48] bowlofeggs commented on #3044
Fixed in #3045

[2019-03-01 10:04] cverna commented on #2978
If I understand it well what we need for rawhide gating is not exactly the same this ticket is about automatic pushing based on time while rawhide gating is based on the CI test. Are we planning to implement both feature at the same time ? or should we create a specific ticket for automatic push based on the CI ?

[2019-03-01 10:20] cverna commented on #3007
I feel that this ticket needs to be split, for example do you think that the RHBZ part is mandatory for an MVP ? or should we consider it as nice to have ?

[2019-03-01 10:24] cverna commented on #3011
Could we mock these systems in the development environment ? I am thinking of simple python scripts that would send the expected requests to bodhi ?

Or maybe this is a silly idea :smile:

[2019-03-04 08:07] sidhpurwala-huzaifa opened #3051 "[RFE] Show warning message to security update submitters so that package can reach stable faster"
Currently bodhi defaults to 3 karmas for any package submission, however submitters can increase this value. For security updates, higher karma means more time it takes for the package to reach stable. I want to propose the following RFE.

When submitting security updates, Show a warning message as follows:

This is a security update, setting a higher karma (unless required for extensive testing)

[2019-03-04 21:07] bowlofeggs commented on #3051
It seems clear to me that changing the karma thresholds will impact how long an update spends in testing. Do you think that is not clear to packagers? I'm not sure we should warn packagers for asking for more testing. Testing is good, and not all security updates are important. Even for important security updates, I would think we would want thorough testing to ensure that the fix is correct.

[2019-03-05 15:23] cverna commented on #2978
For rawhide gating we will use time base pushed but time will be set to 0.

[2019-03-05 15:31] bowlofeggs commented on #3007
Note: it is possible that a FAS ID that makes a Rawhide build has never logged into Bodhi, so we need to handle that case when creating an update associated with those. When this happens, we just need to create the User account. Not sure what we would set the e-mail address to though…

[2019-03-05 15:50] bowlofeggs commented on #3011
This is Large.

[2019-03-05 15:56] bowlofeggs commented on #2365
Small/Medium

[2019-03-06 06:50] sidhpurwala-huzaifa commented on #3051
I looked at the pending security updates in bodhi and it seems not all developers/maintainers balance the patch impact with the karma needed to test it. A few packages like kernel etc may really need extensive testing but that is not true for all other packages out there.
Secondly we should remember that a lot of testing is done upstream also, doing some more in fedora is definitely helpful, but a

[2019-03-06 18:37] bowlofeggs opened #3053 "[M] Give Bodhi a feature flag to be able to make test gating decisions/waivers using ResultsDB directly"
We should give Bodhi a configuration setting that toggles which source it uses for test gating decisions. If the setting is set to "greenwave", it would do what it does today. If it is set to "bodhi", then Bodhi would not consult Greenwave or WaiverDB, and would instead use its existing test gating code to make gating decisions.

We do need to add or adjust some features for the "bodhi" value to w

[2019-03-07 16:09] bowlofeggs commented on #2977
@sebwoj yeah. Strange, I wonder why GitHub didn't close this automatically? The related pull request had what looks to me like the correct "fixes #2977" in it…

[2019-03-07 16:09] #2977 closed, assigned to bowlofeggs

[2019-03-07 16:11] bowlofeggs commented on #3035
@sebwoj ah yeah, I guess it is ultimately the same thing. The other one is a bit more specific though I guess. Thanks!

[2019-03-07 19:43] bowlofeggs commented on #2724
@ryanlerch Yeah, perhaps we could be the ones to write it!

We can also continue to use Pyramid's ini format for the Pyramid settings, and use a ```bodhi.yaml``` for all the Bodhi settings. It's less nice since we'd have two configs instead of one, though.

We might be able to do both in parallel as well.

Also, look what I got:

![img_20190307_112308](https://user-images.githubusercontent.com/354

[2019-03-07 19:49] bowlofeggs commented on #3039
Yeah there isn't a good way for Bodhi to know which mirrors have the update when. Keep in mind that mirrors lag by widely varying amounts too. Fedora's mirror system doesn't pull a mirror out of rotation unless it is more than three update pushes behind (which typically means they are considered "up to date" if they have data within the past three days or so, since we typically push daily.)

There

[2019-03-07 20:02] bowlofeggs commented on #3007
On Fri, 2019-03-01 at 02:20 -0800, Clement Verna wrote:

The updateinfo.xml file includes this data. Technically we don't
produce an updateinfo.xml file for Rawhide today and so maybe it's OK
to consider that data a nice to have.

[2019-03-07 20:03] bowlofeggs commented on #3011
On Fri, 2019-03-01 at 02:24 -0800, Clement Verna wrote:

We do mock them for unit tests, but I estimate that it might actually
be more work to write and maintain a mock than it would be to have
running services.

[2019-03-08 16:53] sebwoj commented on #2555
@bowlofeggs Since github has an issue closing "Bodhi issues", we should do it manualy ;/

[2019-03-08 16:53] sebwoj commented on #2151
@bowlofeggs Since github has an issue closing "Bodhi issues", we should do it manualy ;/

[2019-03-08 17:42] bowlofeggs commented on #2555
@sebwoj, yeah, I'm not sure what is going on with that. Must be a bug, because it's documented here: https://help.github.com/en/articles/closing-issues-using-keywords

[2019-03-08 17:42] #2555 closed, assigned to ryanlerch

[2019-03-08 17:43] #2151 closed, assigned to nobody

[2019-03-08 18:18] bowlofeggs commented on #1999
Fixed in #2954.

[2019-03-08 18:18] #1999 closed, assigned to nobody

[2019-03-08 19:10] #2966 closed, assigned to nobody

[2019-03-08 20:42] #1029 closed, assigned to nobody

[2019-03-08 20:59] #1339 closed, assigned to nobody

[2019-03-08 20:59] #2980 closed, assigned to nobody

[2019-03-11 06:28] keszybz commented on #2133
The same result in https://bodhi.fedoraproject.org/updates/FEDORA-2019-60aa35e553. Comment says "This update has reached 3 days in testing and can be pushed to stable now if the maintainer wishes — a day ago", but there's no push button.

[2019-03-11 14:40] hroncok commented on #1038
People are still confused.

https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/4ANRTWYWRXDGDTIZUXBKCTANML22AA4W/

[2019-03-11 16:11] bowlofeggs commented on #2133
On Sun, 2019-03-10 at 23:28 -0700, Zbigniew Jędrzejewski-Szmek wrote:

This is a deployment configuration issue:

https://lists.fedoraproject.org/archives/list/infrastructure@lists.fedoraproject.org/thread/7X6B6BGFJ7SYZA243XOVPEJT7KVXRS24/

[2019-03-11 16:16] TomasTomecek opened #3058 "Unable to install bodhi-client from PyPI"
We are using tox for testing hence we need to install everything from PyPI. Unfortunately one cannot install `bodhi-client`:
[code]

[2019-03-11 16:18] TomasTomecek commented on #3058
Okay, this is a dupe of https://github.com/fedora-infra/bodhi/issues/2401, feel free to close.

[2019-03-11 16:32] bowlofeggs commented on #2133
On Sun, 2019-03-10 at 23:28 -0700, Zbigniew Jędrzejewski-Szmek wrote:

This should be fixed in production now. Apologies for the
inconvenience.

[2019-03-11 20:06] bowlofeggs commented on #3058
Yeah, let's track this in #2401. Sorry for the troubles!

[2019-03-11 20:06] #3058 closed, assigned to nobody

[2019-03-12 08:18] TomasTomecek commented on #2401
In our case, I **"** solved **"** this by skipping the test in tox and running it when invoked directly.

[2019-03-12 11:22] juhp opened #3059 "[L] Investigation: trouble with updates with large number of builds and slow to add packages"
Current Fedora bodhi seems having serious problems accepting large updates with many packages.

- The web UI stays on the Create or Edit page after clicking Update or Save.
- The cli times out with a large package set (several hundred packages for example)
- Adding bunches of packages (my workaround since I can't create a mega-update in one go) seems to happen "async" - takes some minutes after pr

[2019-03-12 12:54] juhp commented on #3059
Maybe the worst thing is that often web ui error messages are not shown: for example mistakenly I was trying to adding some builds again to an update and there was no feedback/error/warning shown - maybe it timeout because it takes too long??

[2019-03-12 13:59] bowlofeggs commented on #3059
There are a few different issues here:

* The web UI does not show unexpected errors from the backend - see #3035
* The title field prevents updates from having very many builds - see #1542
* The server performs koji API calls for each build in an update, which takes a long time when there are hundreds of them.

Let's use this ticket to track that last problem. We have plans to add a task working

[2019-03-12 17:02] Conan-Kudo commented on #2851
@abompard The pulp team has had a number of issues with Celery with RabbitMQ. They've switched to RQ for this reason: https://pulpproject.org/2018/05/08/pulp3-moving-to-rq/

[2019-03-12 17:11] #2856 closed, assigned to bowlofeggs

[2019-03-12 17:13] #2040 closed, assigned to nobody

[2019-03-12 17:20] abompard commented on #2851
Interesting read, thanks. Any opinion on that @bowlofeggs ?

[2019-03-12 17:31] daviddavis commented on #2851
As a @pulp engineer (hi @bowlofeggs!), we've had a lot of problems with celery from deadlocking to memory consumption problems. I feel like the project has gone downhill since ask left. We've been unable to upgrade due to regressions (e.g. https://github.com/celery/celery/issues/3802). We've tried looking into fixing some of the issues ourselves but the codebase is very hard to understand and read

[2019-03-12 17:42] dralley commented on #2851
@daviddavis described it well.  Celery is very powerful but is also incredibly complex, and difficult to debug.  It also feels under-maintained for the size, complexity, and scope of the project, with issues and pull requests that remain open for months and not nearly enough bugfix releases as those issues do get resolved.

RQ is a dramatically simpler library with more straightforwards code, whic

[2019-03-12 17:51] bowlofeggs commented on #2851
Yeah I actually used to work on Pulp, and was the lead engineer on the project to switch Pulp to use Celery all those years ago. Here are a few of my thoughts:

* I agree that Celery is pretty messy. I have been using it for a very long time, but I never really looked at its code until I worked on Pulp and I was surprised at the code. I think it's a lot more complicated than it needs to be for wha

[2019-03-12 18:04] jeremycline commented on #2851
For what it's worth, we already use celery on at least one other infra product (fmn, which has tons of problems, but Celery isn't one of them).

Yeah, Celery code isn't what I'd write. Sure, it occasionally has regressions. There aren't any projects under active development that don't. As for issue 3802 specifically, I don't see what the big deal is, tasks should be idempotent anyway since exactly

[2019-03-12 18:18] #1921 closed, assigned to bowlofeggs

[2019-03-12 19:24] #2974 closed, assigned to bowlofeggs

[2019-03-13 14:09] #3021 closed, assigned to nobody

[2019-03-13 17:09] #186 closed

[2019-03-13 17:09] #1542 closed, assigned to bowlofeggs

[2019-03-13 17:09] #1714 closed, assigned to bowlofeggs

[2019-03-13 17:09] #1946 closed, assigned to bowlofeggs

[2019-03-13 19:14] #3035 closed, assigned to nobody

[2019-03-14 16:24] #2210 closed, assigned to nobody

[2019-03-14 19:02] bowlofeggs opened #3060 "Add logs at every place that expires buildroot overrides"
Some users have been having trouble with buildroot overrides getting unexpectedly untagged in Koji, and according to Koji the Bodhi user is the one untagging it. Unfortunately, Bodhi does not currently emit log messages when ```BuildrootOverride.expire()``` is called, so it is not easy to tell which code path is responsible for this.

We should find all the calls to ```BuildrootOverride.expire()``

[2019-03-14 19:14] bowlofeggs opened #3061 "[L] - Koji calls should be moved to a backend task worker"
Creating or editing updates with many builds takes a long time. Even 50 builds can take an extreme about of time, to the point of causing API timeouts. There is likely more than one cause for this (indices come to mind), but one item that comes to mind that would help us is to move Koji API calls from the web server to backend task workers instead.

This would help with another problem too: right

[2019-03-14 19:14] bowlofeggs commented on #3059
#3061 may help with this as well.

[2019-03-14 19:28] bowlofeggs opened #3062 "Analyze Bodhi's queries to look for opportunities to add indices"
I recently discovered that Bodhi wasn't indexing a field that seemed like an obvious one to index, so I wrote https://github.com/fedora-infra/bodhi/commit/285c66a00a3391f712f6ef9e55613f497575b7a9

It is likely that there are many other fields that should be indexed but are not. This is likely a fairly easy way to boost Bodhi's performance, essentially for free. We should analyze some of the common

[2019-03-14 19:29] bowlofeggs commented on #3059
One more that might help: https://github.com/fedora-infra/bodhi/issues/3062

[2019-03-14 20:03] #2988 closed, assigned to nobody

[2019-03-14 20:03] #3040 closed, assigned to ryanlerch

[2019-03-15 03:10] juhp commented on #3059
I don't think #3061 is soo bad since creating an update with like 100 builds doesn't take _that_ long, bicbw...

[2019-03-15 09:16] nphilipp commented on #3060
I'll take a shot at this before my PTO next week.

[2019-03-15 09:18] nphilipp commented on #3060
Looks like I need to be added to the org or project before I can assign this to myself.

[2019-03-15 19:12] owtaylor opened #3064 "Querying on modified_since/pushed_since is very slow"
To incrementally query for recently changed Bodhi updates, you need to do three queries:

[code]

(might be nice to have a "changed_since" that combines the three with an OR). The submitted_since query is typically fast, because that column is indexed, but the other columns aren't indexed, and the query ranges between slow and very slow depending on other_params. E.g. if you do

[code]

you get a

[2019-03-15 20:00] bowlofeggs commented on #3064
Do you think Bodhi's RSS feeds could be useful for what you are trying to do?

[2019-03-15 20:21] owtaylor commented on #3064
As far as I can see, /rss/updates is just an alternate formatting of /updates - so it's not obviously helpful to me - it omits some information I don't need like the full comment stream, but is also missing information I do need - like the full list of builds.

[2019-03-17 08:30] sebwoj opened #3065 "Remove unused settings from config"
It looks like `datagrepper_url`(like many others) setting is not used in Bodhi, so we could remove it from config.py and other config files.

[2019-03-18 14:20] abompard opened #3069 "Fedora Messaging may deliver messages multiple times"
In Fedora Messaging, messages may get delivered multiple times (in case of deconnection for exemple). The consumers need to handle that.

Ideally the tasks would be idempotent, if not the consumer can check if the task to do has already been done (if the expected results have been produced), or any other method.

[2019-03-18 14:23] abompard opened #3070 "Fedora Messaging consumers should not take too long to process a task"
At the moment, Fedora Messaging does not run the message callback in a separate thread, and a long-running task may thus be blocking the heartbeat and cause the client to be disconnected. No messages will be lost, though.

This issue [is being worked on](https://github.com/fedora-infra/fedora-messaging/pull/139) at the fedora-messaging level, but another way of solving this issue would be to conve

[2019-03-20 15:34] bowlofeggs opened #3074 "CI is a bit flaky"
Our CI runner is a bit flaky. It seems that it occasionally fails while waiting for the PostgreSQL container to start up. I recently tried raising the amount of time it waits from 30 seconds to 64 seconds. This likely helped a bit, but I just saw another failure:

https://ci.centos.org/job/bodhi-pipeline/job/PR-2842/73/execution/node/459/log/?consoleFull

I have a few ideas to consider:

0. We cou

[2019-03-20 15:52] bowlofeggs commented on #2958
Thanks @sebwoj!

[2019-03-20 15:52] #2958 closed, assigned to nobody

[2019-03-20 16:46] sebwoj opened #3077 "Update.date_approved seems to be unused"
SSIA

[2019-03-20 16:59] sebwoj commented on #3064
Running the following script (quote insetad of "insert code" because of formatting issues):

url=https://bodhi.fedoraproject.org/updates/
printf "\n----==== modified_since ====----\n"
time curl -G -o m.out --data "modified_since=2018-03-20&content_type=rpm" $url
printf "\n----==== submitted_since ====----\n"
time curl -G -o s.out --data "submitted_since=2018-03-20&content_type=rpm" $url
printf "\n

[2019-03-20 18:36] owtaylor commented on #3064
Thanks for investigating this!

I'm not reproducing the same numbers as I did when I submitted the bug - I think this is largely a combination of different data in the database, and different database load.

I'm still seeing a strong difference with adding &content_type=rpm ... if you remove that, your script speeds up by a factor of 4. This indicates to me that the query is potentially optimizabl

[2019-03-20 21:58] dustymabe opened #3078 "error code 500 - traceback might be useful"
I was at the https://bodhi.fedoraproject.org/composes/ url just now and I refreshed and I get an error with a traceback. it might be useful to tracking down a bug:

![Untitled](https://user-images.githubusercontent.com/4530030/54721929-b72e6180-4b39-11e9-9094-1019d812ded0.png)

[2019-03-21 02:35] bowlofeggs commented on #3078
Yeah this is actually fixed in our develop branch and will get included in at least 4.0.0 (or possibly a 3.something release, if we make another one): https://github.com/fedora-infra/bodhi/issues/2826

[2019-03-21 02:35] #3078 closed, assigned to nobody

[2019-03-21 12:12] cverna commented on #2978
I propose to implement this in a second step, I don't think it is critical for rawhide gating and it will make this change simpler. What do you think ?

[2019-03-21 14:40] #2700 closed, assigned to nobody

[2019-03-21 15:48] bowlofeggs commented on #3074
I just had another idea for a solution here we could consider: we could get more than one Duffy node and run half the releases' tests on one, and the other half on the other. That would cut the load down a lot by spreading the load over more than one machine.

[2019-03-21 16:35] abompard commented on #3074
Brian says "certainly, you can have request up to 6 in a 5 minute time period". I'll try to implement that without repeating myself too much.

[2019-03-21 17:12] bowlofeggs commented on #2978
On Thu, 2019-03-21 at 05:12 -0700, Clement Verna wrote:

Since this issue is tied to a FESCo decision, I think we should
implement it as discussed in the FESCo ticket and should not partially
implement it.

[2019-03-21 21:35] #3060 closed, assigned to nphilipp

[2019-03-22 14:59] bowlofeggs opened #3080 "Cannot create new updates: IntegrityError: null value in column "alias""
There is an issue on our develop branch that prevents new updates from being created:

[code]

[2019-03-22 16:10] bowlofeggs opened #3082 "Document the bodhi.messages library"
Before we release Bodhi 4.0.0, we need to document the new library, and especially the new schemas.

[2019-03-22 16:11] bowlofeggs opened #3083 "Bodhi's server needs to serve the message schemas"
The message schemas have identifiers in them that are links to Bodhi's server. We need to make these links work so third party consumers can get the schemas.

[2019-03-22 16:26] bowlofeggs opened #3084 "Release Bodhi 3.14.0"
We should make a 3.14.0 release, with @owtaylor's flatpak namespace patches, and perhaps a few other fixes. Here are the two must-have pull requests to get into 3.14.0:

- [ ] https://github.com/fedora-infra/bodhi/pull/2924
- [ ] https://github.com/fedora-infra/bodhi/pull/3052

And here's one that isn't quite a must-have, but I think would be wise to include since it fixes a crash:

- [ ] https://

[2019-03-22 16:31] bowlofeggs commented on #3084
Here are a list of what I would call "nice to have"s - they are completely at the option of whoever does the release. Some of them may be tricky to backport, so don't go through heroic efforts if they are, and feel free to ignore them even if you just don't want to do it:

- [ ] https://github.com/fedora-infra/bodhi/issues/3060
- [ ] https://github.com/fedora-infra/bodhi/issues/3035
- [ ] https://

[2019-03-22 16:32] bowlofeggs commented on #3084
@abompard, would you like to work on this to try out the release process with a pretty small release?

[2019-03-22 16:55] bowlofeggs commented on #1563
Since I wrote my comment suggesting a particular UX for this, Infrastructure has added some Ansible configs to track the status of releases. Thus, I think it would be most convenient for them if we did this in the configuration file for now, rather than via the CLI/API as I suggested above.

@mohanboddu @nirik, would you agree?

[2019-03-22 21:47] sebwoj commented on #3011
Should we provide GW and WDB as a docker service(like in integration tests)?

[2019-03-24 17:19] sebwoj opened #3089 "Misleading information about waivers in /updates/{alias}"
Example:
[Example update: FEDORA-2018-bd73ec6f3a](https://bodhi.fedoraproject.org/updates/FEDORA-2018-bd73ec6f3a)

Waiver information in `Automated Tests` tab:
`Waived 2 different times`

Actual waivers (only one):
[quassel-0.12.5-1.fc27 waivers from waiverdb](https://waiverdb-web-waiverdb.app.os.fedoraproject.org/api/v1.0/waivers/?subject_identifier=quassel-0.12.5-1.fc27)

Reason:
In `update.gree

[2019-03-24 17:57] sebwoj commented on #2365
@bowlofeggs I'm not understand the isssue. We can check waived test cases in `Automated Tests` tab.

![waived tc](https://user-images.githubusercontent.com/42519683/54883468-3b4c5600-4e66-11e9-9b66-c7a2e7bc59b0.png)

And after #3089, we could check all informations,

BTW, I cant find update with build `python-rpdb-0.1.6-7.fc27`, also build `python-rpdb-0.1.6-7.fc27` itself is not exists.

[2019-03-25 08:22] cverna commented on #2978
What should be the default value for the number of days in testing ? As far as I know when creating an update we do not know yet the release associated with this update, so we can't have a per release default value.

Maybe we can leave the input field blank and validate the input so that it is `>=` to the release `mandatory_days_in_testing` but that will provide a poor user experience (having to g

[2019-03-25 09:10] cverna commented on #2978
I have opened  https://github.com/fedora-infra/bodhi/pull/3090 with what I got so far.

[2019-03-25 14:57] abompard commented on #3084
Yes please :-)

[2019-03-25 18:20] cverna commented on #2978
So fesco approve in today's meeting the possibility to so that in 2 phase, with phase 1 being without the option to change the time spent in testing required by an update.

I think we should consider this option, except if we have a nice way to handle how to manage the UX for updating the number of days in testing required.

[2019-03-25 22:22] bowlofeggs commented on #2978
On Mon, 2019-03-25 at 01:22 -0700, Clement Verna wrote:

I think we can allow it to be empty in the form, and that should mean
that the user wants it to be the release's value. If the user sets a
larger value, that's fine. If they set a smaller value, I think we
should just force it to the release minimum and we can inform them that
we did this via Bodhi's caveats API. This way there is no value t

[2019-03-25 22:24] bowlofeggs commented on #2978
On Mon, 2019-03-25 at 11:20 -0700, Clement Verna wrote:

The complexity of releasing this with backwards incompatible changes is
larger than the complexity of adding a single new UX element to hold an
int. I think we should just do this in a single phase.

[2019-03-25 22:48] bowlofeggs commented on #3089
On Sun, 2019-03-24 at 10:19 -0700, Sebastian Wojciechowski wrote:

I'm not sure, it is probably best to ask the Greenwave project:

https://pagure.io/greenwave

[2019-03-25 22:57] bowlofeggs commented on #2365
Hello @sebwoj!

That shows that it was waived, but you can't find out what the waiver message was, which should tell you why it was waived. Clicking that thumbs up icon takes you to a forbidden URL.

[2019-03-26 00:28] caronc opened #3095 "Overall Metrics Request Produces: 'NoneType' object has no attribute 'groups'"
Using an authenticated account, I get a 500 server error if i choose **Overall Metrics** from the _Stats_ dropdown that reads:
`'NoneType' object has no attribute 'groups'`

![Screenshot from 2019-03-25 20-22-49](https://user-images.githubusercontent.com/850374/54962655-04e10a80-4f3c-11e9-8aa0-eb5e18e3c27e.png)

I've only been just recently sponsored for a package maintainer role, so i'm not sure

[2019-03-26 07:20] cverna commented on #2978
Ok let's do that, I guess this is the least worst experience :smile:

[2019-03-26 07:26] cverna commented on #3095
Hi @caronc thanks for reporting this. We have already a ticket for that #2966 which is already fixed in the main branch but not yet deployed in production.

So I am going to close this ticket.

[2019-03-26 07:26] #3095 closed, assigned to nobody

[2019-03-26 09:27] mattiaverga opened #3096 "Creating a release doesn't specify what parameters are mandatory"
When creating a new release with `bodhi releases create --name F40` we get a bunch of `ERROR: Required` without any clue of what parameters are actually mandatory.

BTW the documentation lacks the `pending-signing-tag` parameter.

[2019-03-26 13:24] cverna commented on #3008
@bowlofeggs  I going to take this one over, this that works for you

[2019-03-26 15:26] sebwoj commented on #2365
`thumbs up icon` itself is not a link. Informations(waiverdb id and reason) are shown only in the "pop up" when user hover over this icon.
The reason why user is redirected to "forbidden" url is that all test cases are links.
So to summarize, what behavior do you expect?
Maybe we can use dead code from #3088

[2019-03-26 16:23] gnaponie commented on #3089
Hello,
sorry for the late reply. I saw this issue only now.
@sebwoj I'm Greenwave's main developer. I'm actually not sure which one you should use. Maybe @ralphbean can help me on that.

I've filed this PR to quickly address the issue: https://pagure.io/greenwave/pull-request/405
I can let you know once this gets released.

I hope this helps!

[2019-03-26 16:28] sebwoj commented on #3089
Hi @gnaponie
Funny, I just writing new issue on the GW repo in pagure, but noticed you comment here :)

Thanks for your help!

[2019-03-26 21:02] bowlofeggs commented on #2365
The behaviour I expect is for there to be some way for users to see what the waiver message was when tests were waived.

[2019-03-26 21:49] bowlofeggs commented on #3008
@cverna sure, thanks!

[2019-03-27 19:39] bowlofeggs commented on #3074
I know there's an open pull request for this, but wanted to write down one more easy solution I thought of. The goal of reporting all the test results is to allow us to mark some of them as required for merging vs. ones that aren't required (like Rawhide).

We could solve this problem by running bodhi-ci exactly twice - one run would be for the required releases, and the other run would be for Raw

[2019-03-28 00:56] bowlofeggs opened #3110 "Broken integration test: AssertionError: assert {'F30-testing...3, 'punging')} == {}"
[code]

[2019-03-28 15:46] #2948 closed, assigned to nobody

[2019-03-28 18:00] bowlofeggs opened #3114 "Reconcile Update.{get_title,beautify_title}()"
The ```Update``` model has two methods that both generate a title:

https://github.com/fedora-infra/bodhi/blob/a5a39c42a27b054e58003ec6b8d54a92a5fa90a8/bodhi/server/models.py#L2280-L2296

and

https://github.com/fedora-infra/bodhi/blob/a5a39c42a27b054e58003ec6b8d54a92a5fa90a8/bodhi/server/models.py#L2369-L2402

Of course, these two functions don't do the same exact thing, but it doesn't make a lot

[2019-03-29 14:19] #2838 closed, assigned to nobody

[2019-03-29 14:19] #2913 closed, assigned to abompard

[2019-03-31 20:55] sebwoj commented on #3074
@bowlofeggs What do you think about running test sequential, instead of parallel:
https://github.com/fedora-infra/bodhi/blob/04a331013f7b7a39ba15d0190a7b29e4d1f7d46c/devel/ci/cico.pipeline#L158

[2019-04-02 18:17] bowlofeggs opened #3124 "Bodhi needs to publish messages using its schemas instead of dictionaries"
SSIA - we need this to release 4.0.0, so that we know we are publishing the schemas we document.

[2019-04-02 18:18] bowlofeggs commented on #2839
This was done in #2842.

[2019-04-02 18:18] #2839 closed, assigned to nobody

[2019-04-03 13:45] tdawson commented on #3037
Pull request for this option
https://github.com/fedora-infra/bodhi/pull/3125

[2019-04-03 14:17] #3082 closed, assigned to bowlofeggs

[2019-04-03 19:45] mohanboddu commented on #1563
@bowlofeggs I still think its nice if bodhi knows what are the updates (testing only for a particular release and testing+stable for all other releases or testing+stable for all releases) that it needs to push depending on a release frozen status. So, your suggestion still helps, since the ansible config does all or nothing. So, if I say a release is frozen, then when bodhi-push is run it should p

[2019-04-03 22:24] bowlofeggs opened #3127 "WaiverDB fails to build in CI"
```bodhi-ci``` currently fails to build WaiverDB:

[code]

This seems likely due to WaiverDB switching to fedora messaging.

[2019-04-04 10:57] nphilipp commented on #3007
While going at it, there are some questions I had which we probably want to answer to do things right:

- What type of update should be created? A user submitting an update knows if it fixes bugs or is about enhancements, we don't. Should this get a new update type even?
- Gating aside, updates normally need either enough karma, or enough time plus submitter action to be moved to stable, both of w

[2019-04-04 11:25] nphilipp commented on #3007
Also, the updates would need to have an associated release:

- Should we have one "Rawhide" release that these updates are associated with, or should we just create the "real" releases early?
- Is the release supposed to be manually created or should we do that on the fly (with which information)?

[2019-04-04 11:36] cverna commented on #3007
Good question I am not sure there a good way to guess the type of an update based on the data in koji. Maybe @bowlofeggs already thought about that.

This is what https://github.com/fedora-infra/bodhi/pull/3090 does. Autopush based on the time spent in testing. This time will be set to 0 for rawhide.

[2019-04-04 11:38] cverna commented on #3007
I would think that having a "rawhide" release would make things easier, but there might some reason not to do that.

The releases are manually created by Release Engineering, so we don't have to create them.

[2019-04-04 14:49] bowlofeggs commented on #3007
We had a meeting about these questions today, so I'll record our
conclusions:

On Thu, 2019-04-04 at 10:57 +0000, Nils Philippsen wrote:

Let's add a new "unspecified" enum variant for automatically created
updates for now. We should not allow UI, CLI, or API users to set the
enum to this new value. In the future, we could consider providing a
way for packagers to specify this in the RPM changelog

[2019-04-04 14:52] bowlofeggs commented on #3007
On Thu, 2019-04-04 at 04:25 -0700, Nils Philippsen wrote:

When we start using Bodhi to manage Rawhide, Release Engineering will
create a Rawhide release in Bodhi.

For development purposes, you have a couple options. You could use
```bodhi releases create``` to create a Rawhide release in your
development environment. You will need to configure it to have 0 days
of testing in your development.ini

[2019-04-04 19:05] codonell opened #3129 "Support Sourceware bugs in Fedora enhanced markdown"
Many key projects reside on sourceware.org including glibc, gdb, binutils, elfutils, libabigail, systemtap etc.

Could you please add markdown support for sourceware.org bugzilla (https://sourceware.org/bugzilla/)?

I suggest a unified markup of SWBZ#XXXX or SW#XXXX for all projects on the main sourceware bugzilla instance.

Likewise gcc compiler bugs are also on sourceware but use a distinct inst

[2019-04-07 19:13] sebwoj commented on #1563
So the question is how Bodhi can fetch information about frozen release? Is there an api for that?

[2019-04-08 12:55] tdawson commented on #3037
Pull request has been merged.
This should be available in the next release.

[2019-04-08 13:42] #3037 closed, assigned to tdawson

[2019-04-09 09:37] #3080 closed, assigned to nobody

[2019-04-09 18:28] bowlofeggs commented on #1563
On Sun, 2019-04-07 at 12:13 -0700, Sebastian Wojciechowski wrote:

We should probably discuss this on the infrastructure mailing list as
it would be good to get feedback from the admins about how they would
like to express this information to Bodhi.

[2019-04-09 20:47] bowlofeggs commented on #3127
This was fixed in https://github.com/fedora-infra/bodhi/pull/3138

[2019-04-09 20:47] #3127 closed, assigned to cverna

[2019-04-09 20:47] bowlofeggs commented on #3110
This was fixed in https://github.com/fedora-infra/bodhi/pull/3138

[2019-04-09 20:47] #3110 closed, assigned to nobody

[2019-04-10 19:25] #1997 closed, assigned to nobody

[2019-04-10 23:31] bowlofeggs opened #3141 "Bodhi dies when trying to send e-mails for fedora_modular"
I get this e-mail regularly:

Message
-------
[2019-04-10 07:32:56][bodhi.server   ERROR]
[code]

Process Details
---------------
- host:     bodhi-backend01.phx2.fedoraproject.org
- PID:      63827
- name:     fedmsg-hub-3
- command:  /usr/bin/python3 /usr/bin/fedmsg-hub-3
- msg_id:

Callstack that lead to the logging statement
--------------------------------------------
[code]

See also #2633

[2019-04-10 23:38] bowlofeggs opened #3142 "Get bodhi-ci's --container-runtime podman option working"
```devel/ci/bodhi-ci``` has a ```--container-runtime``` flag that can be set to ```podman```. It hasn't ever worked fully, but may work better now with newer versions of podman. Let's see if we can get it working as well as we have ```docker``` working.

[2019-04-11 10:41] hroncok opened #3146 "Large bugzilla number: Unfriendly error (HTML code with psycopg2 exception)"
Try to fill an update with `fedpkg update` with this bugzilla number: 16969651696965

Expected:

    Error: Such Bugzilla doesn't exist

Or:

    Error: Buzgilla number integer out of range

Actual:

[code]

[2019-04-11 14:06] sebwoj commented on #3089
New GW released.

[2019-04-11 14:06] #3089 closed, assigned to nobody

[2019-04-11 14:09] sebwoj commented on #3146
Duplication #3036
Posibble fix #3042

[2019-04-11 14:09] #3146 closed, assigned to nobody

[2019-04-11 20:11] bowlofeggs commented on #3074
@sebwoj thanks for the suggestion! I put that into action this week and it does seem to be more reliable, but we still need some improvements.

[2019-04-11 20:12] bowlofeggs commented on #3074
I'm going to open a PR to try out my idea of reporting optional and required tests separately.

[2019-04-11 20:30] bowlofeggs commented on #3074
Here's a PR where I am trying out my idea of having bodhi-ci just manage the concurrency:

https://github.com/fedora-infra/bodhi/pull/3150

[2019-04-13 07:23] mattiaverga opened #3154 "Push to stable request not updated after update has been pushed to stable"
This is strange, I've pushed to stable an update and now I can see Bodhi claims to be in stable, but still shows "Request: stable":
https://bodhi.fedoraproject.org/updates/FEDORA-2019-284e0d2daf

[2019-04-13 08:22] sebwoj commented on #3154
Update is locked(in the top left corner):
![Screenshot from 2019-04-13 10-17-41](https://user-images.githubusercontent.com/42519683/56076837-a8a03680-5dd5-11e9-82fd-78d2106a9d87.png)

Request value will be removed after unlocking:
https://github.com/fedora-infra/bodhi/blob/7e780c7743b208c893ab9b68a352ef23a501dfe7/bodhi/server/consumers/masher.py#L681

[2019-04-14 07:46] sebwoj commented on #3064
Duplication #271

[2019-04-14 07:52] sebwoj commented on #1563
Duplication #105

[2019-04-15 15:18] bowlofeggs commented on #3154
Yeah this is just a consequence of how Bodhi keep track of which updates are part of a compose. Thanks for letting us know though!

[2019-04-15 15:18] #3154 closed, assigned to nobody

[2019-04-15 15:56] bowlofeggs commented on #3064
I wouldn't quite call it a duplicate since this one is specific to some particular query parameters, but it's fair to say it's related for sure. I think I'll opt to keep this open due to that.

[2019-04-16 14:59] bowlofeggs commented on #3084
3.14 is released and deployed to production.

[2019-04-16 14:59] #3084 closed, assigned to abompard

[2019-04-16 22:59] AdamWill commented on #3059
I've just run into this while doing the rebuilds for Meson 0.50.0. Constructing the list of builds to put in the update is quite painstaking so I've been editing in groups of five or six at a time so I don't lose a ton of work if something goes wrong with any one batch, but as the update gets bigger, each edit operation seems to get harder and harder to get to work. I'm just hitting the button ove

[2019-04-17 14:01] tdawson commented on #3008
I have the basic code ready.  I'm currently working my way through the greenwave messages to find what I need to grab the correct update.  After that, figuring out how to do testing of this.

[2019-04-17 14:12] cverna commented on #2851
Scope
--------
Allow bodhi to be use with celery and replace existing tasks with celery tasks:
1 - Update message handler
2 - Composer

We can reuse the RabbitMQ broker available for fedora-messaging.

[2019-04-17 14:19] cverna commented on #2867
Depends on #2851

Scope
---------
Convert the current cronjob (~ 4 jobs) to use celerybeat instead.

[2019-04-17 14:28] cverna commented on #3059
Scope
--------

We need to get a better understanding of why updates with a large number are slow. Let's use this ticket to investigate and find possible solution.

[2019-04-17 14:34] cverna commented on #3061
Scope
--------

Move the write calls to koji in a celery tasks to benefit from celery retry features. We don't want to queue the celery task until the database transaction is successfully committed.

Notes : We currently have a mechanism in place for this for sending fedora-messaging. There might be possibility to reuse this. (Sqlalchemy trigger/hook)

[2019-04-17 14:50] cverna commented on #3009
Scope
--------

Idea is to reuse the current Update creation form and add a toggle to either provide a list of build or a side tag. Based on the input the API will be able to either process the list of build or get the list of build from the side tag before processing it.

Notes: We might want to store the side tag provided, to allow packager to edit the update and not have to provide the side tag

[2019-04-17 15:47] bowlofeggs commented on #969
I'm marking this as critical priority because the crash e-mails we currently get come from fedmsg-hub, and with Bodhi 4 we will no longer have fedmsg-hub. Thus, we will have a feature regression if we don't implement this in time for Bodhi 4.

[2019-04-17 17:27] mohanboddu opened #3160 "Stable updates push based on update id"
During release freezes, Fedora QA will request Fedora RelEng to push some of the updates to push to stable if they fix blockers or FE's. For that we use

[code]

This is okay if the updates have only one build, but it becomes tiresome if there a multiple updates like [this update](https://bodhi.fedoraproject.org/updates/FEDORA-2019-ac2a21ff07) for example.

Can you make it to pass the update id's

[2019-04-17 20:11] bowlofeggs commented on #3160
Sure, but one note: I think you can put any one of the builds from the update in and I think it'll find it. (Not sure, I haven't tried that, but I'm guessing it'd work.)